openapi: 3.0.4
info:
  title: Devices.CorporateManagement
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceAppManagement:
    get:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Get deviceAppManagement
      description: Read properties and relationships of the deviceAppManagement object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-apps-deviceappmanagement-get?view=graph-rest-1.0
      operationId: deviceAppManagement_GetDeviceAppManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Update deviceAppManagement
      description: Update the properties of a deviceAppManagement object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-partnerintegration-deviceappmanagement-update?view=graph-rest-1.0
      operationId: deviceAppManagement_UpdateDeviceAppManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/androidManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: List androidManagedAppProtections
      description: List properties and relationships of the androidManagedAppProtection objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-androidmanagedappprotection-list?view=graph-rest-1.0
      operationId: deviceAppManagement_ListAndroidManagedAppProtection
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.androidManagedAppProtectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create androidManagedAppProtection
      description: Create a new androidManagedAppProtection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-androidmanagedappprotection-create?view=graph-rest-1.0
      operationId: deviceAppManagement_CreateAndroidManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get androidManagedAppProtection
      description: Read properties and relationships of the androidManagedAppProtection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-androidmanagedappprotection-get?view=graph-rest-1.0
      operationId: deviceAppManagement_GetAndroidManagedAppProtection
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update androidManagedAppProtection
      description: Update the properties of a androidManagedAppProtection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-androidmanagedappprotection-update?view=graph-rest-1.0
      operationId: deviceAppManagement_UpdateAndroidManagedAppProtection
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete androidManagedAppProtection
      description: Deletes a androidManagedAppProtection.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-androidmanagedappprotection-delete?view=graph-rest-1.0
      operationId: deviceAppManagement_DeleteAndroidManagedAppProtection
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtection_ListApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_CreateApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtection_GetApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_UpdateApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property apps for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_DeleteApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps/$count':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.androidManagedAppProtection.app_GetCount
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/assignments':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get assignments from deviceAppManagement
      description: Navigation property to list of inclusion and exclusion groups to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtection_ListAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.targetedManagedAppPolicyAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to assignments for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_CreateAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/assignments/{targetedManagedAppPolicyAssignment-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get assignments from deviceAppManagement
      description: Navigation property to list of inclusion and exclusion groups to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtection_GetAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: targetedManagedAppPolicyAssignment-id
          in: path
          description: The unique identifier of targetedManagedAppPolicyAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: targetedManagedAppPolicyAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property assignments in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_UpdateAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: targetedManagedAppPolicyAssignment-id
          in: path
          description: The unique identifier of targetedManagedAppPolicyAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: targetedManagedAppPolicyAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property assignments for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_DeleteAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: targetedManagedAppPolicyAssignment-id
          in: path
          description: The unique identifier of targetedManagedAppPolicyAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: targetedManagedAppPolicyAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/assignments/$count':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.androidManagedAppProtection.assignment_GetCount
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      description: Navigation property to deployment summary of the configuration.
      operationId: deviceAppManagement.androidManagedAppProtection_GetDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_UpdateDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_DeleteDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/androidManagedAppProtections/$count:
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.androidManagedAppProtection_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceAppManagement/defaultManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: List defaultManagedAppProtections
      description: List properties and relationships of the defaultManagedAppProtection objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-defaultmanagedappprotection-list?view=graph-rest-1.0
      operationId: deviceAppManagement_ListDefaultManagedAppProtection
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.defaultManagedAppProtectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create defaultManagedAppProtection
      description: Create a new defaultManagedAppProtection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-defaultmanagedappprotection-create?view=graph-rest-1.0
      operationId: deviceAppManagement_CreateDefaultManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get defaultManagedAppProtection
      description: Read properties and relationships of the defaultManagedAppProtection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-defaultmanagedappprotection-get?view=graph-rest-1.0
      operationId: deviceAppManagement_GetDefaultManagedAppProtection
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update defaultManagedAppProtection
      description: Update the properties of a defaultManagedAppProtection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-defaultmanagedappprotection-update?view=graph-rest-1.0
      operationId: deviceAppManagement_UpdateDefaultManagedAppProtection
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete defaultManagedAppProtection
      description: Deletes a defaultManagedAppProtection.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-defaultmanagedappprotection-delete?view=graph-rest-1.0
      operationId: deviceAppManagement_DeleteDefaultManagedAppProtection
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.defaultManagedAppProtection_ListApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_CreateApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.defaultManagedAppProtection_GetApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_UpdateApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property apps for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_DeleteApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps/$count':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.defaultManagedAppProtection.app_GetCount
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      description: Navigation property to deployment summary of the configuration.
      operationId: deviceAppManagement.defaultManagedAppProtection_GetDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_UpdateDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_DeleteDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/defaultManagedAppProtections/$count:
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.defaultManagedAppProtection_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceAppManagement/iosManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: List iosManagedAppProtections
      description: List properties and relationships of the iosManagedAppProtection objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-iosmanagedappprotection-list?view=graph-rest-1.0
      operationId: deviceAppManagement_ListIosManagedAppProtection
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.iosManagedAppProtectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Create iosManagedAppProtection
      description: Create a new iosManagedAppProtection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-iosmanagedappprotection-create?view=graph-rest-1.0
      operationId: deviceAppManagement_CreateIosManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get iosManagedAppProtection
      description: Read properties and relationships of the iosManagedAppProtection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-iosmanagedappprotection-get?view=graph-rest-1.0
      operationId: deviceAppManagement_GetIosManagedAppProtection
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update iosManagedAppProtection
      description: Update the properties of a iosManagedAppProtection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-iosmanagedappprotection-update?view=graph-rest-1.0
      operationId: deviceAppManagement_UpdateIosManagedAppProtection
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Delete iosManagedAppProtection
      description: Deletes a iosManagedAppProtection.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-iosmanagedappprotection-delete?view=graph-rest-1.0
      operationId: deviceAppManagement_DeleteIosManagedAppProtection
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: List managedMobileApps
      description: List properties and relationships of the managedMobileApp objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-managedmobileapp-list?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_ListApp
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Create managedMobileApp
      description: Create a new managedMobileApp object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-managedmobileapp-create?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_CreateApp
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get managedMobileApp
      description: Read properties and relationships of the managedMobileApp object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-managedmobileapp-get?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_GetApp
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update managedMobileApp
      description: Update the properties of a managedMobileApp object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-managedmobileapp-update?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_UpdateApp
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Delete managedMobileApp
      description: Deletes a managedMobileApp.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-managedmobileapp-delete?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_DeleteApp
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/apps/$count':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.iosManagedAppProtection.app_GetCount
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/assignments':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: List targetedManagedAppPolicyAssignments
      description: List properties and relationships of the targetedManagedAppPolicyAssignment objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-targetedmanagedapppolicyassignment-list?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_ListAssignment
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.targetedManagedAppPolicyAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Create new navigation property to assignments for deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtection_CreateAssignment
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/assignments/{targetedManagedAppPolicyAssignment-id}':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get targetedManagedAppPolicyAssignment
      description: Read properties and relationships of the targetedManagedAppPolicyAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-targetedmanagedapppolicyassignment-get?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_GetAssignment
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: targetedManagedAppPolicyAssignment-id
          in: path
          description: The unique identifier of targetedManagedAppPolicyAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: targetedManagedAppPolicyAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update targetedManagedAppPolicyAssignment
      description: Update the properties of a targetedManagedAppPolicyAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-targetedmanagedapppolicyassignment-update?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_UpdateAssignment
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: targetedManagedAppPolicyAssignment-id
          in: path
          description: The unique identifier of targetedManagedAppPolicyAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: targetedManagedAppPolicyAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Delete targetedManagedAppPolicyAssignment
      description: Deletes a targetedManagedAppPolicyAssignment.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-targetedmanagedapppolicyassignment-delete?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_DeleteAssignment
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: targetedManagedAppPolicyAssignment-id
          in: path
          description: The unique identifier of targetedManagedAppPolicyAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: targetedManagedAppPolicyAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/assignments/$count':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.iosManagedAppProtection.assignment_GetCount
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get managedAppPolicyDeploymentSummary
      description: Read properties and relationships of the managedAppPolicyDeploymentSummary object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-managedapppolicydeploymentsummary-get?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_GetDeploymentSummary
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update managedAppPolicyDeploymentSummary
      description: Update the properties of a managedAppPolicyDeploymentSummary object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-managedapppolicydeploymentsummary-update?view=graph-rest-1.0
      operationId: deviceAppManagement.iosManagedAppProtection_UpdateDeploymentSummary
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtection_DeleteDeploymentSummary
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: The unique identifier of iosManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/iosManagedAppProtections/$count:
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.iosManagedAppProtection_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceAppManagement/managedAppPolicies:
    get:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: List managedAppPolicies
      description: List properties and relationships of the managedAppPolicy objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-managedapppolicy-list?view=graph-rest-1.0
      operationId: deviceAppManagement_ListManagedAppPolicy
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedAppPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Create new navigation property to managedAppPolicies for deviceAppManagement
      operationId: deviceAppManagement_CreateManagedAppPolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}':
    get:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Get managedAppPolicy
      description: Read properties and relationships of the managedAppPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-managedapppolicy-get?view=graph-rest-1.0
      operationId: deviceAppManagement_GetManagedAppPolicy
      parameters:
        - name: managedAppPolicy-id
          in: path
          description: The unique identifier of managedAppPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Update the navigation property managedAppPolicies in deviceAppManagement
      operationId: deviceAppManagement_UpdateManagedAppPolicy
      parameters:
        - name: managedAppPolicy-id
          in: path
          description: The unique identifier of managedAppPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Delete navigation property managedAppPolicies for deviceAppManagement
      operationId: deviceAppManagement_DeleteManagedAppPolicy
      parameters:
        - name: managedAppPolicy-id
          in: path
          description: The unique identifier of managedAppPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}/microsoft.graph.targetApps':
    post:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Invoke action targetApps
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-targetedmanagedappprotection-targetapps?view=graph-rest-1.0
      operationId: deviceAppManagement.managedAppPolicy_targetApp
      parameters:
        - name: managedAppPolicy-id
          in: path
          description: The unique identifier of managedAppPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                apps:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceAppManagement/managedAppPolicies/$count:
    get:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Get the number of the resource
      operationId: deviceAppManagement.managedAppPolicy_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceAppManagement/managedAppRegistrations:
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: List androidManagedAppRegistrations
      description: List properties and relationships of the androidManagedAppRegistration objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-androidmanagedappregistration-list?view=graph-rest-1.0
      operationId: deviceAppManagement_ListManagedAppRegistration
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedAppRegistrationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Create androidManagedAppRegistration
      description: Create a new androidManagedAppRegistration object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-androidmanagedappregistration-create?view=graph-rest-1.0
      operationId: deviceAppManagement_CreateManagedAppRegistration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get iosManagedAppRegistration
      description: Read properties and relationships of the iosManagedAppRegistration object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-mam-iosmanagedappregistration-get?view=graph-rest-1.0
      operationId: deviceAppManagement_GetManagedAppRegistration
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: The unique identifier of managedAppRegistration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Update the navigation property managedAppRegistrations in deviceAppManagement
      operationId: deviceAppManagement_UpdateManagedAppRegistration
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: The unique identifier of managedAppRegistration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Delete navigation property managedAppRegistrations for deviceAppManagement
      operationId: deviceAppManagement_DeleteManagedAppRegistration
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: The unique identifier of managedAppRegistration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get appliedPolicies from deviceAppManagement
      description: Zero or more policys already applied on the registered app when it last synchronized with managment service.
      operationId: deviceAppManagement.managedAppRegistration_ListAppliedPolicy
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: The unique identifier of managedAppRegistration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedAppPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Create new navigation property to appliedPolicies for deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistration_CreateAppliedPolicy
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: The unique identifier of managedAppRegistration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies/{managedAppPolicy-id}':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get appliedPolicies from deviceAppManagement
      description: Zero or more policys already applied on the registered app when it last synchronized with managment service.
      operationId: deviceAppManagement.managedAppRegistration_GetAppliedPolicy
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: The unique identifier of managedAppRegistration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - name: managedAppPolicy-id
          in: path
          description: The unique identifier of managedAppPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Update the navigation property appliedPolicies in deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistration_UpdateAppliedPolicy
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: The unique identifier of managedAppRegistration
[...]
