openapi: 3.0.1
info:
  title: DeviceManagement.Enrolment
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceManagement/conditionalAccessSettings:
    get:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Get conditionalAccessSettings from deviceManagement
      description: The Exchange on premises conditional access settings. On premises conditional access will require devices to be both enrolled and compliant for mail access
      operationId: deviceManagement_GetConditionalAccessSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - enabled
                - excludedGroups
                - includedGroups
                - overrideDefaultRule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Update the navigation property conditionalAccessSettings in deviceManagement
      description: The Exchange on premises conditional access settings. On premises conditional access will require devices to be both enrolled and compliant for mail access
      operationId: deviceManagement_UpdateConditionalAccessSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Delete navigation property conditionalAccessSettings for deviceManagement
      description: The Exchange on premises conditional access settings. On premises conditional access will require devices to be both enrolled and compliant for mail access
      operationId: deviceManagement_DeleteConditionalAccessSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceEnrollmentConfigurations:
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_ListDeviceEnrollmentConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - priority
                - priority desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - priority
                - version
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceEnrollmentConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to deviceEnrollmentConfigurations for deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_CreateDeviceEnrollmentConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_GetDeviceEnrollmentConfigurations
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - priority
                - version
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
          links:
            assignments:
              operationId: deviceManagement.DeviceEnrollmentConfigurations.ListAssignments
              parameters:
                deviceEnrollmentConfiguration-id: $request.path.deviceEnrollmentConfiguration-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update the navigation property deviceEnrollmentConfigurations in deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_UpdateDeviceEnrollmentConfigurations
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete navigation property deviceEnrollmentConfigurations for deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_DeleteDeviceEnrollmentConfigurations
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get assignments from deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations_ListAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of enrollmentConfigurationAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to assignments for deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations_CreateAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments/{enrollmentConfigurationAssignment-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get assignments from deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations_GetAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: enrollmentConfigurationAssignment-id
          in: path
          description: 'key: id of enrollmentConfigurationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentConfigurationAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update the navigation property assignments in deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations_UpdateAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: enrollmentConfigurationAssignment-id
          in: path
          description: 'key: id of enrollmentConfigurationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentConfigurationAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete navigation property assignments for deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations_DeleteAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: enrollmentConfigurationAssignment-id
          in: path
          description: 'key: id of enrollmentConfigurationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentConfigurationAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/importedWindowsAutopilotDeviceIdentities:
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get importedWindowsAutopilotDeviceIdentities from deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement_ListImportedWindowsAutopilotDeviceIdentities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - assignedUserPrincipalName
                - assignedUserPrincipalName desc
                - groupTag
                - groupTag desc
                - hardwareIdentifier
                - hardwareIdentifier desc
                - importId
                - importId desc
                - productKey
                - productKey desc
                - serialNumber
                - serialNumber desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedUserPrincipalName
                - groupTag
                - hardwareIdentifier
                - importId
                - productKey
                - serialNumber
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of importedWindowsAutopilotDeviceIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Create new navigation property to importedWindowsAutopilotDeviceIdentities for deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement_CreateImportedWindowsAutopilotDeviceIdentities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/importedWindowsAutopilotDeviceIdentities/{importedWindowsAutopilotDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get importedWindowsAutopilotDeviceIdentities from deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement_GetImportedWindowsAutopilotDeviceIdentities
      parameters:
        - name: importedWindowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of importedWindowsAutopilotDeviceIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: importedWindowsAutopilotDeviceIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedUserPrincipalName
                - groupTag
                - hardwareIdentifier
                - importId
                - productKey
                - serialNumber
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Update the navigation property importedWindowsAutopilotDeviceIdentities in deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement_UpdateImportedWindowsAutopilotDeviceIdentities
      parameters:
        - name: importedWindowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of importedWindowsAutopilotDeviceIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: importedWindowsAutopilotDeviceIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Delete navigation property importedWindowsAutopilotDeviceIdentities for deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement_DeleteImportedWindowsAutopilotDeviceIdentities
      parameters:
        - name: importedWindowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of importedWindowsAutopilotDeviceIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: importedWindowsAutopilotDeviceIdentity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/windowsAutopilotDeviceIdentities:
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Get windowsAutopilotDeviceIdentities from deviceManagement
      description: The Windows autopilot device identities contained collection.
      operationId: deviceManagement_ListWindowsAutopilotDeviceIdentities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - addressableUserName
                - addressableUserName desc
                - azureActiveDirectoryDeviceId
                - azureActiveDirectoryDeviceId desc
                - displayName
                - displayName desc
                - enrollmentState
                - enrollmentState desc
                - groupTag
                - groupTag desc
                - lastContactedDateTime
                - lastContactedDateTime desc
                - managedDeviceId
                - managedDeviceId desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - productKey
                - productKey desc
                - purchaseOrderIdentifier
                - purchaseOrderIdentifier desc
                - resourceName
                - resourceName desc
                - serialNumber
                - serialNumber desc
                - skuNumber
                - skuNumber desc
                - systemFamily
                - systemFamily desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addressableUserName
                - azureActiveDirectoryDeviceId
                - displayName
                - enrollmentState
                - groupTag
                - lastContactedDateTime
                - managedDeviceId
                - manufacturer
                - model
                - productKey
                - purchaseOrderIdentifier
                - resourceName
                - serialNumber
                - skuNumber
                - systemFamily
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of windowsAutopilotDeviceIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Create new navigation property to windowsAutopilotDeviceIdentities for deviceManagement
      description: The Windows autopilot device identities contained collection.
      operationId: deviceManagement_CreateWindowsAutopilotDeviceIdentities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Get windowsAutopilotDeviceIdentities from deviceManagement
      description: The Windows autopilot device identities contained collection.
      operationId: deviceManagement_GetWindowsAutopilotDeviceIdentities
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of windowsAutopilotDeviceIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addressableUserName
                - azureActiveDirectoryDeviceId
                - displayName
                - enrollmentState
                - groupTag
                - lastContactedDateTime
                - managedDeviceId
                - manufacturer
                - model
                - productKey
                - purchaseOrderIdentifier
                - resourceName
                - serialNumber
                - skuNumber
                - systemFamily
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Update the navigation property windowsAutopilotDeviceIdentities in deviceManagement
      description: The Windows autopilot device identities contained collection.
      operationId: deviceManagement_UpdateWindowsAutopilotDeviceIdentities
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of windowsAutopilotDeviceIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Delete navigation property windowsAutopilotDeviceIdentities for deviceManagement
      description: The Windows autopilot device identities contained collection.
      operationId: deviceManagement_DeleteWindowsAutopilotDeviceIdentities
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of windowsAutopilotDeviceIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement:
    get:
      tags:
        - roleManagement.roleManagement
      summary: Get roleManagement
      operationId: roleManagement.roleManagement_GetRoleManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - directory
                - entitlementManagement
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directory
                - entitlementManagement
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleManagement'
          links:
            directory:
              operationId: roleManagement.GetDirectory
            entitlementManagement:
              operationId: roleManagement.GetEntitlementManagement
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.roleManagement
      summary: Update roleManagement
      operationId: roleManagement.roleManagement_UpdateRoleManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get directory from roleManagement
      description: Read-only. Nullable.
      operationId: roleManagement_GetDirectory
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleAssignments
                - roleDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleAssignments
                - roleDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.rbacApplication'
          links:
            roleAssignments:
              operationId: roleManagement.Directory.ListRoleAssignments
            roleDefinitions:
              operationId: roleManagement.Directory.ListRoleDefinitions
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property directory in roleManagement
      description: Read-only. Nullable.
      operationId: roleManagement_UpdateDirectory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.rbacApplication'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property directory for roleManagement
      description: Read-only. Nullable.
      operationId: roleManagement_DeleteDirectory
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignments:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleAssignments from roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.directory_ListRoleAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appScopeId
                - appScopeId desc
                - condition
                - condition desc
                - directoryScopeId
                - directoryScopeId desc
                - principalId
                - principalId desc
                - roleDefinitionId
                - roleDefinitionId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - condition
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplication
      summary: Create new navigation property to roleAssignments for roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.directory_CreateRoleAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleAssignments from roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.directory_GetRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - condition
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
          links:
            appScope:
              operationId: roleManagement.directory.RoleAssignments.GetAppScope
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
            directoryScope:
              operationId: roleManagement.directory.RoleAssignments.GetDirectoryScope
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
            principal:
              operationId: roleManagement.directory.RoleAssignments.GetPrincipal
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
            roleDefinition:
              operationId: roleManagement.directory.RoleAssignments.GetRoleDefinition
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignments in roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.directory_UpdateRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property roleAssignments for roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.directory_DeleteRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/appScope':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get appScope from roleManagement
      description: Read-only property with details of the app specific scope when the assignment scope is app specific. Containment entity. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_GetAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property appScope in roleManagement
      description: Read-only property with details of the app specific scope when the assignment scope is app specific. Containment entity. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_UpdateAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appScope'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property appScope for roleManagement
      description: Read-only property with details of the app specific scope when the assignment scope is app specific. Containment entity. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_DeleteAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/directoryScope':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get directoryScope from roleManagement
      description: The directory object that is the scope of the assignment. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_GetDirectoryScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/directoryScope/$ref':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get ref of directoryScope from roleManagement
      description: The directory object that is the scope of the assignment. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_GetDirectoryScopeGraphBPreRef
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - roleManagement.rbacApplication
      summary: Update the ref of navigation property directoryScope in roleManagement
      description: The directory object that is the scope of the assignment. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_SetDirectoryScopeGraphBPreRef
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete ref of navigation property directoryScope for roleManagement
      description: The directory object that is the scope of the assignment. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_DeleteDirectoryScopeGraphBPreRef
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/principal':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get principal from roleManagement
      description: Referencing the assigned principal. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_GetPrincipal
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/principal/$ref':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get ref of principal from roleManagement
      description: Referencing the assigned principal. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_GetPrincipalGraphBPreRef
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - roleManagement.rbacApplication
      summary: Update the ref of navigation property principal in roleManagement
      description: Referencing the assigned principal. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_SetPrincipalGraphBPreRef
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete ref of navigation property principal for roleManagement
      description: Referencing the assigned principal. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_DeletePrincipalGraphBPreRef
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/roleDefinition':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleDefinition from roleManagement
      description: The roleDefinition the assignment is for.  Supports $expand. roleDefinition.Id will be auto expanded.
      operationId: roleManagement.directory.roleAssignments_GetRoleDefinition
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
                - inheritsPermissionsFrom
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inheritsPermissionsFrom
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
          links:
            inheritsPermissionsFrom:
              operationId: roleManagement.directory.roleAssignments.RoleDefinition.ListInheritsPermissionsFrom
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/roleDefinition/$ref':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get ref of roleDefinition from roleManagement
      description: The roleDefinition the assignment is for.  Supports $expand. roleDefinition.Id will be auto expanded.
      operationId: roleManagement.directory.roleAssignments_GetRoleDefinitionGraphBPreRef
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            inheritsPermissionsFrom:
              operationId: roleManagement.directory.roleAssignments.RoleDefinition.ListInheritsPermissionsFrom
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - roleManagement.rbacApplication
      summary: Update the ref of navigation property roleDefinition in roleManagement
      description: The roleDefinition the assignment is for.  Supports $expand. roleDefinition.Id will be auto expanded.
      operationId: roleManagement.directory.roleAssignments_SetRoleDefinitionGraphBPreRef
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete ref of navigation property roleDefinition for roleManagement
      description: The roleDefinition the assignment is for.  Supports $expand. roleDefinition.Id will be auto expanded.
      operationId: roleManagement.directory.roleAssignments_DeleteRoleDefinitionGraphBPreRef
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleDefinitions:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleDefinitions from roleManagement
      description: Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.
      operationId: roleManagement.directory_ListRoleDefinitions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isBuiltIn
                - isBuiltIn desc
                - isEnabled
                - isEnabled desc
                - resourceScopes
                - resourceScopes desc
                - rolePermissions
                - rolePermissions desc
                - templateId
                - templateId desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
                - inheritsPermissionsFrom
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inheritsPermissionsFrom
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplication
      summary: Create new navigation property to roleDefinitions for roleManagement
      description: Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.
      operationId: roleManagement.directory_CreateRoleDefinitions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleDefinitions/{unifiedRoleDefinition-id}':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleDefinitions from roleManagement
      description: Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.
      operationId: roleManagement.directory_GetRoleDefinitions
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
                - inheritsPermissionsFrom
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inheritsPermissionsFrom
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
          links:
            inheritsPermissionsFrom:
              operationId: roleManagement.directory.RoleDefinitions.ListInheritsPermissionsFrom
              parameters:
                unifiedRoleDefinition-id: $request.path.unifiedRoleDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property roleDefinitions in roleManagement
      description: Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.
      operationId: roleManagement.directory_UpdateRoleDefinitions
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property roleDefinitions for roleManagement
      description: Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.
      operationId: roleManagement.directory_DeleteRoleDefinitions
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleDefinitions/{unifiedRoleDefinition-id}/inheritsPermissionsFrom':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get inheritsPermissionsFrom from roleManagement
      description: Read-only collection of role definitions that the given role definition inherits from. Only Azure AD built-in roles (isBuiltIn is true) support this attribute. Supports $expand.
      operationId: roleManagement.directory.roleDefinitions_ListInheritsPermissionsFrom
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isBuiltIn
                - isBuiltIn desc
                - isEnabled
                - isEnabled desc
                - resourceScopes
                - resourceScopes desc
                - rolePermissions
                - rolePermissions desc
                - templateId
                - templateId desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
                - inheritsPermissionsFrom
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inheritsPermissionsFrom
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplication
      summary: Create new navigation property to inheritsPermissionsFrom for roleManagement
      description: Read-only collection of role definitions that the given role definition inherits from. Only Azure AD built-in roles (isBuiltIn is true) support this attribute. Supports $expand.
      operationId: roleManagement.directory.roleDefinitions_CreateInheritsPermissionsFrom
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleDefinitions/{unifiedRoleDefinition-id}/inheritsPermissionsFrom/{unifiedRoleDefinition-id1}':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get inheritsPermissionsFrom from roleManagement
      description: Read-only collection of role definitions that the given role definition inherits from. Only Azure AD built-in roles (isBuiltIn is true) support this attribute. Supports $expand.
      operationId: roleManagement.directory.roleDefinitions_GetInheritsPermissionsFrom
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: unifiedRoleDefinition-id1
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
                - inheritsPermissionsFrom
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inheritsPermissionsFrom
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
          links:
            inheritsPermissionsFrom:
              operationId: roleManagement.directory.roleDefinitions.InheritsPermissionsFrom.ListInheritsPermissionsFrom
              parameters:
                unifiedRoleDefinition-id: $request.path.unifiedRoleDefinition-id
                unifiedRoleDefinition-id1: $request.path.unifiedRoleDefinition-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property inheritsPermissionsFrom in roleManagement
      description: Read-only collection of role definitions that the given role definition inherits from. Only Azure AD built-in roles (isBuiltIn is true) support this attribute. Supports $expand.
      operationId: roleManagement.directory.roleDefinitions_UpdateInheritsPermissionsFrom
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: unifiedRoleDefinition-id1
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property inheritsPermissionsFrom for roleManagement
      description: Read-only collection of role definitions that the given role definition inherits from. Only Azure AD built-in roles (isBuiltIn is true) support this attribute. Supports $expand.
      operationId: roleManagement.directory.roleDefinitions_DeleteInheritsPermissionsFrom
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: unifiedRoleDefinition-id1
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/entitlementManagement:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get entitlementManagement from roleManagement
      description: Container for roles and assignments for entitlement management resources.
      operationId: roleManagement_GetEntitlementManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleAssignments
                - roleDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleAssignments
                - roleDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.rbacApplication'
          links:
            roleAssignments:
              operationId: roleManagement.EntitlementManagement.ListRoleAssignments
            roleDefinitions:
              operationId: roleManagement.EntitlementManagement.ListRoleDefinitions
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property entitlementManagement in roleManagement
      description: Container for roles and assignments for entitlement management resources.
      operationId: roleManagement_UpdateEntitlementManagement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.rbacApplication'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property entitlementManagement for roleManagement
      description: Container for roles and assignments for entitlement management resources.
      operationId: roleManagement_DeleteEntitlementManagement
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/entitlementManagement/roleAssignments:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleAssignments from roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.entitlementManagement_ListRoleAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appScopeId
                - appScopeId desc
                - condition
                - condition desc
                - directoryScopeId
                - directoryScopeId desc
                - principalId
                - principalId desc
                - roleDefinitionId
                - roleDefinitionId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - condition
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplication
      summary: Create new navigation property to roleAssignments for roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.entitlementManagement_CreateRoleAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/entitlementManagement/roleAssignments/{unifiedRoleAssignment-id}':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleAssignments from roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.entitlementManagement_GetRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - condition
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
          links:
            appScope:
              operationId: roleManagement.entitlementManagement.RoleAssignments.GetAppScope
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
            directoryScope:
              operationId: roleManagement.entitlementManagement.RoleAssignments.GetDirectoryScope
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
            principal:
              operationId: roleManagement.entitlementManagement.RoleAssignments.GetPrincipal
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
            roleDefinition:
              operationId: roleManagement.entitlementManagement.RoleAssignments.GetRoleDefinition
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignments in roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.entitlementManagement_UpdateRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property roleAssignments for roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.entitlementManagement_DeleteRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/entitlementManagement/roleAssignments/{unifiedRoleAssignment-id}/appScope':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get appScope from roleManagement
      description: Read-only property with details of the app specific scope when the assignment scope is app specific. Containment entity. Supports $expand.
      operationId: roleManagement.entitlementManagement.roleAssignments_GetAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property appScope in roleManagement
      description: Read-only property with details of the app specific scope when the assignment scope is app specific. Containment entity. Supports $expand.
      operationId: roleManagement.entitlementManagement.roleAssignments_UpdateAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appScope'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
[...]
