openapi: 3.0.1
info:
  title: DevicesApps.DeviceAppManagement
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceAppManagement:
    get:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Get deviceAppManagement
      operationId: deviceAppManagement.deviceAppManagement_GetDeviceAppManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - microsoftStoreForBusinessLastSuccessfulSyncDateTime
                - isEnabledForMicrosoftStoreForBusiness
                - microsoftStoreForBusinessLanguage
                - microsoftStoreForBusinessLastCompletedApplicationSyncTime
                - managedEBooks
                - mobileApps
                - mobileAppCategories
                - mobileAppConfigurations
                - vppTokens
                - managedAppPolicies
                - iosManagedAppProtections
                - androidManagedAppProtections
                - defaultManagedAppProtections
                - targetedManagedAppConfigurations
                - mdmWindowsInformationProtectionPolicies
                - windowsInformationProtectionPolicies
                - managedAppRegistrations
                - managedAppStatuses
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - managedEBooks
                - mobileApps
                - mobileAppCategories
                - mobileAppConfigurations
                - vppTokens
                - managedAppPolicies
                - iosManagedAppProtections
                - androidManagedAppProtections
                - defaultManagedAppProtections
                - targetedManagedAppConfigurations
                - mdmWindowsInformationProtectionPolicies
                - windowsInformationProtectionPolicies
                - managedAppRegistrations
                - managedAppStatuses
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
          links:
            managedEBooks:
              operationId: deviceAppManagement.GetManagedEBooks
              parameters:
                managedEBook-id: $response.body#/id
            mobileApps:
              operationId: deviceAppManagement.GetMobileApps
              parameters:
                mobileApp-id: $response.body#/id
            mobileAppCategories:
              operationId: deviceAppManagement.GetMobileAppCategories
              parameters:
                mobileAppCategory-id: $response.body#/id
            mobileAppConfigurations:
              operationId: deviceAppManagement.GetMobileAppConfigurations
              parameters:
                managedDeviceMobileAppConfiguration-id: $response.body#/id
            vppTokens:
              operationId: deviceAppManagement.GetVppTokens
              parameters:
                vppToken-id: $response.body#/id
            managedAppPolicies:
              operationId: deviceAppManagement.GetManagedAppPolicies
              parameters:
                managedAppPolicy-id: $response.body#/id
            iosManagedAppProtections:
              operationId: deviceAppManagement.GetIosManagedAppProtections
              parameters:
                iosManagedAppProtection-id: $response.body#/id
            androidManagedAppProtections:
              operationId: deviceAppManagement.GetAndroidManagedAppProtections
              parameters:
                androidManagedAppProtection-id: $response.body#/id
            defaultManagedAppProtections:
              operationId: deviceAppManagement.GetDefaultManagedAppProtections
              parameters:
                defaultManagedAppProtection-id: $response.body#/id
            targetedManagedAppConfigurations:
              operationId: deviceAppManagement.GetTargetedManagedAppConfigurations
              parameters:
                targetedManagedAppConfiguration-id: $response.body#/id
            mdmWindowsInformationProtectionPolicies:
              operationId: deviceAppManagement.GetMdmWindowsInformationProtectionPolicies
              parameters:
                mdmWindowsInformationProtectionPolicy-id: $response.body#/id
            windowsInformationProtectionPolicies:
              operationId: deviceAppManagement.GetWindowsInformationProtectionPolicies
              parameters:
                windowsInformationProtectionPolicy-id: $response.body#/id
            managedAppRegistrations:
              operationId: deviceAppManagement.GetManagedAppRegistrations
              parameters:
                managedAppRegistration-id: $response.body#/id
            managedAppStatuses:
              operationId: deviceAppManagement.GetManagedAppStatuses
              parameters:
                managedAppStatus-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Update deviceAppManagement
      operationId: deviceAppManagement.deviceAppManagement_UpdateDeviceAppManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/androidManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get androidManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_ListAndroidManagedAppProtections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - saveAsBlocked
                - saveAsBlocked desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - pinRequired
                - pinRequired desc
                - maximumPinRetries
                - maximumPinRetries desc
                - simplePinBlocked
                - simplePinBlocked desc
                - minimumPinLength
                - minimumPinLength desc
                - pinCharacterSet
                - pinCharacterSet desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - printBlocked
                - printBlocked desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - isAssigned
                - isAssigned desc
                - screenCaptureBlocked
                - screenCaptureBlocked desc
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableAppEncryptionIfDeviceEncryptionIsEnabled desc
                - encryptAppData
                - encryptAppData desc
                - deployedAppCount
                - deployedAppCount desc
                - minimumRequiredPatchVersion
                - minimumRequiredPatchVersion desc
                - minimumWarningPatchVersion
                - minimumWarningPatchVersion desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
                - periodOfflineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck
                - allowedInboundDataTransferSources
                - allowedOutboundDataTransferDestinations
                - organizationalCredentialsRequired
                - allowedOutboundClipboardSharingLevel
                - dataBackupBlocked
                - deviceComplianceRequired
                - managedBrowserToOpenLinksRequired
                - saveAsBlocked
                - periodOfflineBeforeWipeIsEnforced
                - pinRequired
                - maximumPinRetries
                - simplePinBlocked
                - minimumPinLength
                - pinCharacterSet
                - periodBeforePinReset
                - allowedDataStorageLocations
                - contactSyncBlocked
                - printBlocked
                - fingerprintBlocked
                - disableAppPinIfDevicePinIsSet
                - minimumRequiredOsVersion
                - minimumWarningOsVersion
                - minimumRequiredAppVersion
                - minimumWarningAppVersion
                - isAssigned
                - screenCaptureBlocked
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - deployedAppCount
                - minimumRequiredPatchVersion
                - minimumWarningPatchVersion
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of androidManagedAppProtection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to androidManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateAndroidManagedAppProtections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get androidManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_GetAndroidManagedAppProtections
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: androidManagedAppProtection-id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
                - periodOfflineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck
                - allowedInboundDataTransferSources
                - allowedOutboundDataTransferDestinations
                - organizationalCredentialsRequired
                - allowedOutboundClipboardSharingLevel
                - dataBackupBlocked
                - deviceComplianceRequired
                - managedBrowserToOpenLinksRequired
                - saveAsBlocked
                - periodOfflineBeforeWipeIsEnforced
                - pinRequired
                - maximumPinRetries
                - simplePinBlocked
                - minimumPinLength
                - pinCharacterSet
                - periodBeforePinReset
                - allowedDataStorageLocations
                - contactSyncBlocked
                - printBlocked
                - fingerprintBlocked
                - disableAppPinIfDevicePinIsSet
                - minimumRequiredOsVersion
                - minimumWarningOsVersion
                - minimumRequiredAppVersion
                - minimumWarningAppVersion
                - isAssigned
                - screenCaptureBlocked
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - deployedAppCount
                - minimumRequiredPatchVersion
                - minimumWarningPatchVersion
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
          links:
            apps:
              operationId: deviceAppManagement.androidManagedAppProtections.GetApps
              parameters:
                androidManagedAppProtection-id: $request.path.androidManagedAppProtection-id
                managedMobileApp-id: $response.body#/id
            deploymentSummary:
              operationId: deviceAppManagement.androidManagedAppProtections.GetDeploymentSummary
              parameters:
                androidManagedAppProtection-id: $request.path.androidManagedAppProtection-id
                managedAppPolicyDeploymentSummary-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property androidManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateAndroidManagedAppProtections
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: androidManagedAppProtection-id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_ListApps
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: androidManagedAppProtection-id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of managedMobileApp
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_CreateApps
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: androidManagedAppProtection-id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_GetApps
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: androidManagedAppProtection-id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: managedMobileApp-id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_UpdateApps
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: androidManagedAppProtection-id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: managedMobileApp-id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_GetDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: androidManagedAppProtection-id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - configurationDeployedUserCount
                - lastRefreshTime
                - configurationDeploymentSummaryPerApp
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_UpdateDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: androidManagedAppProtection-id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/defaultManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get defaultManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_ListDefaultManagedAppProtections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - saveAsBlocked
                - saveAsBlocked desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - pinRequired
                - pinRequired desc
                - maximumPinRetries
                - maximumPinRetries desc
                - simplePinBlocked
                - simplePinBlocked desc
                - minimumPinLength
                - minimumPinLength desc
                - pinCharacterSet
                - pinCharacterSet desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - printBlocked
                - printBlocked desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - appDataEncryptionType
                - appDataEncryptionType desc
                - screenCaptureBlocked
                - screenCaptureBlocked desc
                - encryptAppData
                - encryptAppData desc
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableAppEncryptionIfDeviceEncryptionIsEnabled desc
                - minimumRequiredSdkVersion
                - minimumRequiredSdkVersion desc
                - customSettings
                - customSettings desc
                - deployedAppCount
                - deployedAppCount desc
                - minimumRequiredPatchVersion
                - minimumRequiredPatchVersion desc
                - minimumWarningPatchVersion
                - minimumWarningPatchVersion desc
                - faceIdBlocked
                - faceIdBlocked desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
                - periodOfflineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck
                - allowedInboundDataTransferSources
                - allowedOutboundDataTransferDestinations
                - organizationalCredentialsRequired
                - allowedOutboundClipboardSharingLevel
                - dataBackupBlocked
                - deviceComplianceRequired
                - managedBrowserToOpenLinksRequired
                - saveAsBlocked
                - periodOfflineBeforeWipeIsEnforced
                - pinRequired
                - maximumPinRetries
                - simplePinBlocked
                - minimumPinLength
                - pinCharacterSet
                - periodBeforePinReset
                - allowedDataStorageLocations
                - contactSyncBlocked
                - printBlocked
                - fingerprintBlocked
                - disableAppPinIfDevicePinIsSet
                - minimumRequiredOsVersion
                - minimumWarningOsVersion
                - minimumRequiredAppVersion
                - minimumWarningAppVersion
                - appDataEncryptionType
                - screenCaptureBlocked
                - encryptAppData
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - minimumRequiredSdkVersion
                - customSettings
                - deployedAppCount
                - minimumRequiredPatchVersion
                - minimumWarningPatchVersion
                - faceIdBlocked
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of defaultManagedAppProtection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create new navigation property to defaultManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateDefaultManagedAppProtections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get defaultManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_GetDefaultManagedAppProtections
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: defaultManagedAppProtection-id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
                - periodOfflineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck
                - allowedInboundDataTransferSources
                - allowedOutboundDataTransferDestinations
                - organizationalCredentialsRequired
                - allowedOutboundClipboardSharingLevel
                - dataBackupBlocked
                - deviceComplianceRequired
                - managedBrowserToOpenLinksRequired
                - saveAsBlocked
                - periodOfflineBeforeWipeIsEnforced
                - pinRequired
                - maximumPinRetries
                - simplePinBlocked
                - minimumPinLength
                - pinCharacterSet
                - periodBeforePinReset
                - allowedDataStorageLocations
                - contactSyncBlocked
                - printBlocked
                - fingerprintBlocked
                - disableAppPinIfDevicePinIsSet
                - minimumRequiredOsVersion
                - minimumWarningOsVersion
                - minimumRequiredAppVersion
                - minimumWarningAppVersion
                - appDataEncryptionType
                - screenCaptureBlocked
                - encryptAppData
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - minimumRequiredSdkVersion
                - customSettings
                - deployedAppCount
                - minimumRequiredPatchVersion
                - minimumWarningPatchVersion
                - faceIdBlocked
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
          links:
            apps:
              operationId: deviceAppManagement.defaultManagedAppProtections.GetApps
              parameters:
                defaultManagedAppProtection-id: $request.path.defaultManagedAppProtection-id
                managedMobileApp-id: $response.body#/id
            deploymentSummary:
              operationId: deviceAppManagement.defaultManagedAppProtections.GetDeploymentSummary
              parameters:
                defaultManagedAppProtection-id: $request.path.defaultManagedAppProtection-id
                managedAppPolicyDeploymentSummary-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property defaultManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateDefaultManagedAppProtections
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: defaultManagedAppProtection-id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_ListApps
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: defaultManagedAppProtection-id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of managedMobileApp
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_CreateApps
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: defaultManagedAppProtection-id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_GetApps
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: defaultManagedAppProtection-id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: managedMobileApp-id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_UpdateApps
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: defaultManagedAppProtection-id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: managedMobileApp-id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_GetDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: defaultManagedAppProtection-id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - configurationDeployedUserCount
                - lastRefreshTime
                - configurationDeploymentSummaryPerApp
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_UpdateDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: defaultManagedAppProtection-id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/iosManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get iosManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_ListIosManagedAppProtections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - saveAsBlocked
                - saveAsBlocked desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - pinRequired
                - pinRequired desc
                - maximumPinRetries
                - maximumPinRetries desc
                - simplePinBlocked
                - simplePinBlocked desc
                - minimumPinLength
                - minimumPinLength desc
                - pinCharacterSet
                - pinCharacterSet desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - printBlocked
                - printBlocked desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - isAssigned
                - isAssigned desc
                - appDataEncryptionType
                - appDataEncryptionType desc
                - minimumRequiredSdkVersion
                - minimumRequiredSdkVersion desc
                - deployedAppCount
                - deployedAppCount desc
                - faceIdBlocked
                - faceIdBlocked desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
                - periodOfflineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck
                - allowedInboundDataTransferSources
                - allowedOutboundDataTransferDestinations
                - organizationalCredentialsRequired
                - allowedOutboundClipboardSharingLevel
                - dataBackupBlocked
                - deviceComplianceRequired
                - managedBrowserToOpenLinksRequired
                - saveAsBlocked
                - periodOfflineBeforeWipeIsEnforced
                - pinRequired
                - maximumPinRetries
                - simplePinBlocked
                - minimumPinLength
                - pinCharacterSet
                - periodBeforePinReset
                - allowedDataStorageLocations
                - contactSyncBlocked
                - printBlocked
                - fingerprintBlocked
                - disableAppPinIfDevicePinIsSet
                - minimumRequiredOsVersion
                - minimumWarningOsVersion
                - minimumRequiredAppVersion
                - minimumWarningAppVersion
                - isAssigned
                - appDataEncryptionType
                - minimumRequiredSdkVersion
                - deployedAppCount
                - faceIdBlocked
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of iosManagedAppProtection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Create new navigation property to iosManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateIosManagedAppProtections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get iosManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_GetIosManagedAppProtections
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: 'key: iosManagedAppProtection-id of iosManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
                - periodOfflineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck
                - allowedInboundDataTransferSources
                - allowedOutboundDataTransferDestinations
                - organizationalCredentialsRequired
                - allowedOutboundClipboardSharingLevel
                - dataBackupBlocked
                - deviceComplianceRequired
                - managedBrowserToOpenLinksRequired
                - saveAsBlocked
                - periodOfflineBeforeWipeIsEnforced
                - pinRequired
                - maximumPinRetries
                - simplePinBlocked
                - minimumPinLength
                - pinCharacterSet
                - periodBeforePinReset
                - allowedDataStorageLocations
                - contactSyncBlocked
                - printBlocked
                - fingerprintBlocked
                - disableAppPinIfDevicePinIsSet
                - minimumRequiredOsVersion
                - minimumWarningOsVersion
                - minimumRequiredAppVersion
                - minimumWarningAppVersion
                - isAssigned
                - appDataEncryptionType
                - minimumRequiredSdkVersion
                - deployedAppCount
                - faceIdBlocked
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
          links:
            apps:
              operationId: deviceAppManagement.iosManagedAppProtections.GetApps
              parameters:
                iosManagedAppProtection-id: $request.path.iosManagedAppProtection-id
                managedMobileApp-id: $response.body#/id
            deploymentSummary:
              operationId: deviceAppManagement.iosManagedAppProtections.GetDeploymentSummary
              parameters:
                iosManagedAppProtection-id: $request.path.iosManagedAppProtection-id
                managedAppPolicyDeploymentSummary-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update the navigation property iosManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateIosManagedAppProtections
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: 'key: iosManagedAppProtection-id of iosManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_ListApps
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: 'key: iosManagedAppProtection-id of iosManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of managedMobileApp
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_CreateApps
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: 'key: iosManagedAppProtection-id of iosManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_GetApps
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: 'key: iosManagedAppProtection-id of iosManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: managedMobileApp-id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_UpdateApps
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: 'key: iosManagedAppProtection-id of iosManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: managedMobileApp-id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_GetDeploymentSummary
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: 'key: iosManagedAppProtection-id of iosManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - configurationDeployedUserCount
                - lastRefreshTime
                - configurationDeploymentSummaryPerApp
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_UpdateDeploymentSummary
      parameters:
        - name: iosManagedAppProtection-id
          in: path
          description: 'key: iosManagedAppProtection-id of iosManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/managedAppPolicies:
    get:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Get managedAppPolicies from deviceAppManagement
      operationId: deviceAppManagement_ListManagedAppPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of managedAppPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Create new navigation property to managedAppPolicies for deviceAppManagement
      operationId: deviceAppManagement_CreateManagedAppPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}':
    get:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Get managedAppPolicies from deviceAppManagement
      operationId: deviceAppManagement_GetManagedAppPolicies
      parameters:
        - name: managedAppPolicy-id
          in: path
          description: 'key: managedAppPolicy-id of managedAppPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Update the navigation property managedAppPolicies in deviceAppManagement
      operationId: deviceAppManagement_UpdateManagedAppPolicies
      parameters:
        - name: managedAppPolicy-id
          in: path
          description: 'key: managedAppPolicy-id of managedAppPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}/microsoft.graph.targetApps':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action targetApps
      operationId: deviceAppManagement.managedAppPolicies_targetApps
      parameters:
        - name: managedAppPolicy-id
          in: path
          description: 'key: managedAppPolicy-id of managedAppPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                apps:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceAppManagement/managedAppRegistrations:
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get managedAppRegistrations from deviceAppManagement
      operationId: deviceAppManagement_ListManagedAppRegistrations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastSyncDateTime
                - lastSyncDateTime desc
                - applicationVersion
                - applicationVersion desc
                - managementSdkVersion
                - managementSdkVersion desc
                - platformVersion
                - platformVersion desc
                - deviceType
                - deviceType desc
                - deviceTag
                - deviceTag desc
                - deviceName
                - deviceName desc
                - flaggedReasons
                - flaggedReasons desc
                - userId
                - userId desc
                - appIdentifier
                - appIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastSyncDateTime
                - applicationVersion
                - managementSdkVersion
                - platformVersion
                - deviceType
                - deviceTag
                - deviceName
                - flaggedReasons
                - userId
                - appIdentifier
                - version
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of managedAppRegistration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Create new navigation property to managedAppRegistrations for deviceAppManagement
      operationId: deviceAppManagement_CreateManagedAppRegistrations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get managedAppRegistrations from deviceAppManagement
      operationId: deviceAppManagement_GetManagedAppRegistrations
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastSyncDateTime
                - applicationVersion
                - managementSdkVersion
                - platformVersion
                - deviceType
                - deviceTag
                - deviceName
                - flaggedReasons
                - userId
                - appIdentifier
                - version
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
          links:
            appliedPolicies:
              operationId: deviceAppManagement.managedAppRegistrations.GetAppliedPolicies
              parameters:
                managedAppRegistration-id: $request.path.managedAppRegistration-id
                managedAppPolicy-id: $response.body#/id
            intendedPolicies:
              operationId: deviceAppManagement.managedAppRegistrations.GetIntendedPolicies
              parameters:
                managedAppRegistration-id: $request.path.managedAppRegistration-id
                managedAppPolicy-id: $response.body#/id
            operations:
              operationId: deviceAppManagement.managedAppRegistrations.GetOperations
              parameters:
                managedAppRegistration-id: $request.path.managedAppRegistration-id
                managedAppOperation-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Update the navigation property managedAppRegistrations in deviceAppManagement
      operationId: deviceAppManagement_UpdateManagedAppRegistrations
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get appliedPolicies from deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_ListAppliedPolicies
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of managedAppPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Create new navigation property to appliedPolicies for deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_CreateAppliedPolicies
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies/{managedAppPolicy-id}':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get appliedPolicies from deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_GetAppliedPolicies
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - name: managedAppPolicy-id
          in: path
          description: 'key: managedAppPolicy-id of managedAppPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Update the navigation property appliedPolicies in deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_UpdateAppliedPolicies
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - name: managedAppPolicy-id
          in: path
          description: 'key: managedAppPolicy-id of managedAppPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies/{managedAppPolicy-id}/microsoft.graph.targetApps':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action targetApps
      operationId: deviceAppManagement.managedAppRegistrations.appliedPolicies_targetApps
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - name: managedAppPolicy-id
          in: path
          description: 'key: managedAppPolicy-id of managedAppPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                apps:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/intendedPolicies':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get intendedPolicies from deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_ListIntendedPolicies
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - createdDateTime
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of managedAppPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Create new navigation property to intendedPolicies for deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_CreateIntendedPolicies
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/intendedPolicies/{managedAppPolicy-id}':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get intendedPolicies from deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_GetIntendedPolicies
      parameters:
        - name: managedAppRegistration-id
          in: path
          description: 'key: managedAppRegistration-id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - name: managedAppPolicy-id
          in: path
          description: 'key: managedAppPolicy-id of managedAppPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
[...]
