openapi: 3.0.1
info:
  title: Devices.CloudPrint
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /print:
    get:
      tags:
        - print.print
      summary: Get print
      operationId: print.print_GetPrint
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - settings
                - connectors
                - operations
                - printers
                - services
                - shares
                - taskDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - connectors
                - operations
                - printers
                - services
                - shares
                - taskDefinitions
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.print'
          links:
            connectors:
              operationId: print.ListConnectors
            operations:
              operationId: print.ListOperations
            printers:
              operationId: print.ListPrinters
            services:
              operationId: print.ListServices
            shares:
              operationId: print.ListShares
            taskDefinitions:
              operationId: print.ListTaskDefinitions
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.print
      summary: Update print
      operationId: print.print_UpdatePrint
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.print'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/connectors:
    get:
      tags:
        - print.printConnector
      summary: Get connectors from print
      description: The list of available print connectors.
      operationId: print_ListConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appVersion
                - appVersion desc
                - displayName
                - displayName desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - location
                - location desc
                - operatingSystem
                - operatingSystem desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - displayName
                - fullyQualifiedDomainName
                - location
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printConnectorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printConnector
      summary: Create new navigation property to connectors for print
      operationId: print_CreateConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printConnector'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/connectors/{printConnector-id}':
    get:
      tags:
        - print.printConnector
      summary: Get connectors from print
      description: The list of available print connectors.
      operationId: print_GetConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - displayName
                - fullyQualifiedDomainName
                - location
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printConnector
      summary: Update the navigation property connectors in print
      operationId: print_UpdateConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printConnector'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printConnector
      summary: Delete navigation property connectors for print
      operationId: print_DeleteConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/operations:
    get:
      tags:
        - print.printOperation
      summary: Get operations from print
      description: The list of print long running operations.
      operationId: print_ListOperations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printOperation
      summary: Create new navigation property to operations for print
      operationId: print_CreateOperations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/operations/{printOperation-id}':
    get:
      tags:
        - print.printOperation
      summary: Get operations from print
      description: The list of print long running operations.
      operationId: print_GetOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printOperation
      summary: Update the navigation property operations in print
      operationId: print_UpdateOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printOperation
      summary: Delete navigation property operations for print
      operationId: print_DeleteOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/printers:
    get:
      tags:
        - print.printer
      summary: Get printers from print
      description: The list of printers registered in the tenant.
      operationId: print_ListPrinters
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilities
                - capabilities desc
                - defaults
                - defaults desc
                - displayName
                - displayName desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - location
                - location desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - status
                - status desc
                - hasPhysicalDevice
                - hasPhysicalDevice desc
                - isShared
                - isShared desc
                - lastSeenDateTime
                - lastSeenDateTime desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - status
                - hasPhysicalDevice
                - isShared
                - lastSeenDateTime
                - registeredDateTime
                - jobs
                - connectors
                - shares
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - connectors
                - shares
                - taskTriggers
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to printers for print
      operationId: print_CreatePrinters
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}':
    get:
      tags:
        - print.printer
      summary: Get printers from print
      description: The list of printers registered in the tenant.
      operationId: print_GetPrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - status
                - hasPhysicalDevice
                - isShared
                - lastSeenDateTime
                - registeredDateTime
                - jobs
                - connectors
                - shares
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - connectors
                - shares
                - taskTriggers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
          links:
            jobs:
              operationId: print.Printers.ListJobs
              parameters:
                printer-id: $request.path.printer-id
            connectors:
              operationId: print.Printers.ListConnectors
              parameters:
                printer-id: $request.path.printer-id
            shares:
              operationId: print.Printers.ListShares
              parameters:
                printer-id: $request.path.printer-id
            taskTriggers:
              operationId: print.Printers.ListTaskTriggers
              parameters:
                printer-id: $request.path.printer-id
            restoreFactoryDefaults:
              operationId: print.printers.printer.restoreFactoryDefaults
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printer
      summary: Update the navigation property printers in print
      operationId: print_UpdatePrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete navigation property printers for print
      operationId: print_DeletePrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/connectors':
    get:
      tags:
        - print.printer
      summary: Get connectors from print
      description: The connectors that are associated with the printer.
      operationId: print.printers_ListConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appVersion
                - appVersion desc
                - displayName
                - displayName desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - location
                - location desc
                - operatingSystem
                - operatingSystem desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - displayName
                - fullyQualifiedDomainName
                - location
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printConnectorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/connectors/{printConnector-id}':
    get:
      tags:
        - print.printer
      summary: Get connectors from print
      description: The connectors that are associated with the printer.
      operationId: print.printers_GetConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - displayName
                - fullyQualifiedDomainName
                - location
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/microsoft.graph.restoreFactoryDefaults':
    post:
      tags:
        - print.Actions
      summary: Invoke action restoreFactoryDefaults
      operationId: print.printers_restoreFactoryDefaults
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/print/printers/{printer-id}/shares':
    get:
      tags:
        - print.printer
      summary: Get shares from print
      description: 'The list of printerShares that are associated with the printer. Currently, only one printerShare can be associated with the printer. Read-only. Nullable.'
      operationId: print.printers_ListShares
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilities
                - capabilities desc
                - defaults
                - defaults desc
                - displayName
                - displayName desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - location
                - location desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - status
                - status desc
                - allowAllUsers
                - allowAllUsers desc
                - createdDateTime
                - createdDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printerShareCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/shares/{printerShare-id}':
    get:
      tags:
        - print.printer
      summary: Get shares from print
      description: 'The list of printerShares that are associated with the printer. Currently, only one printerShare can be associated with the printer. Read-only. Nullable.'
      operationId: print.printers_GetShares
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
          links:
            jobs:
              operationId: print.printers.Shares.ListJobs
              parameters:
                printer-id: $request.path.printer-id
                printerShare-id: $request.path.printerShare-id
            allowedGroups:
              operationId: print.printers.Shares.ListAllowedGroups
              parameters:
                printer-id: $request.path.printer-id
                printerShare-id: $request.path.printerShare-id
            allowedUsers:
              operationId: print.printers.Shares.ListAllowedUsers
              parameters:
                printer-id: $request.path.printer-id
                printerShare-id: $request.path.printerShare-id
            printer:
              operationId: print.printers.Shares.GetPrinter
              parameters:
                printer-id: $request.path.printer-id
                printerShare-id: $request.path.printerShare-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers':
    get:
      tags:
        - print.printer
      summary: Get taskTriggers from print
      description: A list of task triggers that are associated with the printer.
      operationId: print.printers_ListTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - event
                - event desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - event
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definition
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printTaskTriggerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to taskTriggers for print
      operationId: print.printers_CreateTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}':
    get:
      tags:
        - print.printer
      summary: Get taskTriggers from print
      description: A list of task triggers that are associated with the printer.
      operationId: print.printers_GetTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - event
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
          links:
            definition:
              operationId: print.printers.TaskTriggers.GetDefinition
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printer
      summary: Update the navigation property taskTriggers in print
      operationId: print.printers_UpdateTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete navigation property taskTriggers for print
      operationId: print.printers_DeleteTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}/definition':
    get:
      tags:
        - print.printer
      summary: Get definition from print
      description: An abstract definition that will be used to create a printTask when triggered by a print event. Read-only.
      operationId: print.printers.taskTriggers_GetDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - displayName
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskDefinition'
          links:
            tasks:
              operationId: print.printers.taskTriggers.Definition.ListTasks
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/printers/microsoft.graph.create:
    post:
      tags:
        - print.Actions
      summary: Invoke action create
      operationId: print.printers_create
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                manufacturer:
                  type: string
                model:
                  type: string
                physicalDeviceId:
                  type: string
                  nullable: true
                hasPhysicalDevice:
                  type: boolean
                  default: false
                  nullable: true
                certificateSigningRequest:
                  $ref: '#/components/schemas/microsoft.graph.printCertificateSigningRequest'
                connectorId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /print/services:
    get:
      tags:
        - print.printService
      summary: Get services from print
      description: The list of available Universal Print service endpoints.
      operationId: print_ListServices
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endpoints
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - endpoints
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printServiceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printService
      summary: Create new navigation property to services for print
      operationId: print_CreateServices
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printService'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/services/{printService-id}':
    get:
      tags:
        - print.printService
      summary: Get services from print
      description: The list of available Universal Print service endpoints.
      operationId: print_GetServices
      parameters:
        - name: printService-id
          in: path
          description: 'key: id of printService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printService
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endpoints
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - endpoints
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printService'
          links:
            endpoints:
              operationId: print.Services.ListEndpoints
              parameters:
                printService-id: $request.path.printService-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printService
      summary: Update the navigation property services in print
      operationId: print_UpdateServices
      parameters:
        - name: printService-id
          in: path
          description: 'key: id of printService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printService
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printService'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printService
      summary: Delete navigation property services for print
      operationId: print_DeleteServices
      parameters:
        - name: printService-id
          in: path
          description: 'key: id of printService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printService
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/services/{printService-id}/endpoints':
    get:
      tags:
        - print.printService
      summary: Get endpoints from print
      description: Endpoints that can be used to access the service. Read-only. Nullable.
      operationId: print.services_ListEndpoints
      parameters:
        - name: printService-id
          in: path
          description: 'key: id of printService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printService
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - uri
                - uri desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - uri
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printServiceEndpointCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printService
      summary: Create new navigation property to endpoints for print
      operationId: print.services_CreateEndpoints
      parameters:
        - name: printService-id
          in: path
          description: 'key: id of printService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printService
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printServiceEndpoint'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printServiceEndpoint'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/services/{printService-id}/endpoints/{printServiceEndpoint-id}':
    get:
      tags:
        - print.printService
      summary: Get endpoints from print
      description: Endpoints that can be used to access the service. Read-only. Nullable.
      operationId: print.services_GetEndpoints
      parameters:
        - name: printService-id
          in: path
          description: 'key: id of printService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printService
        - name: printServiceEndpoint-id
          in: path
          description: 'key: id of printServiceEndpoint'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printServiceEndpoint
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - uri
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printServiceEndpoint'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printService
      summary: Update the navigation property endpoints in print
      operationId: print.services_UpdateEndpoints
      parameters:
        - name: printService-id
          in: path
          description: 'key: id of printService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printService
        - name: printServiceEndpoint-id
          in: path
          description: 'key: id of printServiceEndpoint'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printServiceEndpoint
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printServiceEndpoint'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printService
      summary: Delete navigation property endpoints for print
      operationId: print.services_DeleteEndpoints
      parameters:
        - name: printService-id
          in: path
          description: 'key: id of printService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printService
        - name: printServiceEndpoint-id
          in: path
          description: 'key: id of printServiceEndpoint'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printServiceEndpoint
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/shares:
    get:
      tags:
        - print.printerShare
      summary: Get shares from print
      description: The list of printer shares registered in the tenant.
      operationId: print_ListShares
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilities
                - capabilities desc
                - defaults
                - defaults desc
                - displayName
                - displayName desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - location
                - location desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - status
                - status desc
                - allowAllUsers
                - allowAllUsers desc
                - createdDateTime
                - createdDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printerShareCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property to shares for print
      operationId: print_CreateShares
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printerShare'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/shares/{printerShare-id}':
    get:
      tags:
        - print.printerShare
      summary: Get shares from print
      description: The list of printer shares registered in the tenant.
      operationId: print_GetShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
          links:
            jobs:
              operationId: print.Shares.ListJobs
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedGroups:
              operationId: print.Shares.ListAllowedGroups
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedUsers:
              operationId: print.Shares.ListAllowedUsers
              parameters:
                printerShare-id: $request.path.printerShare-id
            printer:
              operationId: print.Shares.GetPrinter
              parameters:
                printerShare-id: $request.path.printerShare-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printerShare
      summary: Update the navigation property shares in print
      operationId: print_UpdateShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printerShare'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printerShare
      summary: Delete navigation property shares for print
      operationId: print_DeleteShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/shares/{printerShare-id}/allowedGroups':
    get:
      tags:
        - print.printerShare
      summary: Get allowedGroups from print
      description: The groups whose users have access to print using the printer.
      operationId: print.shares_ListAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - assignedLabels
                - assignedLabels desc
                - assignedLicenses
                - assignedLicenses desc
                - classification
                - classification desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - expirationDateTime
                - expirationDateTime desc
                - groupTypes
                - groupTypes desc
                - hasMembersWithLicenseErrors
                - hasMembersWithLicenseErrors desc
                - isAssignableToRole
                - isAssignableToRole desc
                - licenseProcessingState
                - licenseProcessingState desc
                - mail
                - mail desc
                - mailEnabled
                - mailEnabled desc
                - mailNickname
                - mailNickname desc
                - membershipRule
                - membershipRule desc
                - membershipRuleProcessingState
                - membershipRuleProcessingState desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesNetBiosName
                - onPremisesNetBiosName desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - proxyAddresses
                - proxyAddresses desc
                - renewedDateTime
                - renewedDateTime desc
                - securityEnabled
                - securityEnabled desc
                - securityIdentifier
                - securityIdentifier desc
                - theme
                - theme desc
                - visibility
                - visibility desc
                - allowExternalSenders
                - allowExternalSenders desc
                - autoSubscribeNewMembers
                - autoSubscribeNewMembers desc
                - hideFromAddressLists
                - hideFromAddressLists desc
                - hideFromOutlookClients
                - hideFromOutlookClients desc
                - isSubscribedByMail
                - isSubscribedByMail desc
                - unseenCount
                - unseenCount desc
                - isArchived
                - isArchived desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedLabels
                - assignedLicenses
                - classification
                - createdDateTime
                - description
                - displayName
                - expirationDateTime
                - groupTypes
                - hasMembersWithLicenseErrors
                - isAssignableToRole
                - licenseProcessingState
                - mail
                - mailEnabled
                - mailNickname
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesDomainName
                - onPremisesLastSyncDateTime
                - onPremisesNetBiosName
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - preferredDataLocation
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - securityEnabled
                - securityIdentifier
                - theme
                - visibility
                - allowExternalSenders
                - autoSubscribeNewMembers
                - hideFromAddressLists
                - hideFromOutlookClients
                - isSubscribedByMail
                - unseenCount
                - isArchived
                - appRoleAssignments
                - createdOnBehalfOf
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdOnBehalfOf
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.groupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/shares/{printerShare-id}/allowedGroups/{group-id}/$ref':
    delete:
      tags:
        - print.printerShare
      summary: Delete ref of navigation property allowedGroups for print
      operationId: print.shares_DeleteAllowedGroupsGraphBPreRef
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/shares/{printerShare-id}/allowedGroups/$ref':
    get:
      tags:
        - print.printerShare
      summary: Get ref of allowedGroups from print
      description: The groups whose users have access to print using the printer.
      operationId: print.shares_ListAllowedGroupsGraphBPreRef
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - assignedLabels
                - assignedLabels desc
                - assignedLicenses
                - assignedLicenses desc
                - classification
                - classification desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - expirationDateTime
                - expirationDateTime desc
                - groupTypes
                - groupTypes desc
                - hasMembersWithLicenseErrors
                - hasMembersWithLicenseErrors desc
                - isAssignableToRole
                - isAssignableToRole desc
                - licenseProcessingState
                - licenseProcessingState desc
                - mail
                - mail desc
                - mailEnabled
                - mailEnabled desc
                - mailNickname
                - mailNickname desc
                - membershipRule
                - membershipRule desc
                - membershipRuleProcessingState
                - membershipRuleProcessingState desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesNetBiosName
                - onPremisesNetBiosName desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - proxyAddresses
                - proxyAddresses desc
                - renewedDateTime
                - renewedDateTime desc
                - securityEnabled
                - securityEnabled desc
                - securityIdentifier
                - securityIdentifier desc
                - theme
                - theme desc
                - visibility
                - visibility desc
                - allowExternalSenders
                - allowExternalSenders desc
                - autoSubscribeNewMembers
                - autoSubscribeNewMembers desc
                - hideFromAddressLists
                - hideFromAddressLists desc
                - hideFromOutlookClients
                - hideFromOutlookClients desc
                - isSubscribedByMail
                - isSubscribedByMail desc
                - unseenCount
                - unseenCount desc
                - isArchived
                - isArchived desc
              type: string
      responses:
        '200':
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property ref to allowedGroups for print
      operationId: print.shares_CreateAllowedGroupsGraphBPreRef
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/shares/{printerShare-id}/allowedUsers':
    get:
      tags:
        - print.printerShare
      summary: Get allowedUsers from print
      description: The users who have access to print using the printer.
      operationId: print.shares_ListAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - ageGroup
                - ageGroup desc
                - assignedLicenses
                - assignedLicenses desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - consentProvidedForMinor
                - consentProvidedForMinor desc
                - country
                - country desc
                - createdDateTime
                - createdDateTime desc
                - creationType
                - creationType desc
                - department
                - department desc
                - displayName
                - displayName desc
                - employeeHireDate
                - employeeHireDate desc
                - employeeId
                - employeeId desc
                - employeeOrgData
                - employeeOrgData desc
                - employeeType
                - employeeType desc
                - externalUserState
                - externalUserState desc
                - externalUserStateChangeDateTime
                - externalUserStateChangeDateTime desc
                - faxNumber
                - faxNumber desc
                - givenName
                - givenName desc
                - identities
                - identities desc
                - imAddresses
                - imAddresses desc
                - isResourceAccount
                - isResourceAccount desc
                - jobTitle
                - jobTitle desc
                - lastPasswordChangeDateTime
                - lastPasswordChangeDateTime desc
                - legalAgeGroupClassification
                - legalAgeGroupClassification desc
                - licenseAssignmentStates
                - licenseAssignmentStates desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - mobilePhone
                - mobilePhone desc
                - officeLocation
                - officeLocation desc
                - onPremisesDistinguishedName
                - onPremisesDistinguishedName desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesExtensionAttributes
                - onPremisesExtensionAttributes desc
                - onPremisesImmutableId
                - onPremisesImmutableId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - onPremisesUserPrincipalName
                - onPremisesUserPrincipalName desc
                - otherMails
                - otherMails desc
                - passwordPolicies
                - passwordPolicies desc
                - passwordProfile
                - passwordProfile desc
                - postalCode
                - postalCode desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - provisionedPlans
                - provisionedPlans desc
                - proxyAddresses
                - proxyAddresses desc
                - securityIdentifier
                - securityIdentifier desc
                - showInAddressList
                - showInAddressList desc
                - signInSessionsValidFromDateTime
                - signInSessionsValidFromDateTime desc
                - state
                - state desc
                - streetAddress
                - streetAddress desc
                - surname
                - surname desc
                - usageLocation
                - usageLocation desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
                - mailboxSettings
                - mailboxSettings desc
                - deviceEnrollmentLimit
                - deviceEnrollmentLimit desc
                - aboutMe
                - aboutMe desc
                - birthday
                - birthday desc
                - hireDate
                - hireDate desc
                - interests
                - interests desc
                - mySite
                - mySite desc
                - pastProjects
                - pastProjects desc
                - preferredName
                - preferredName desc
                - responsibilities
                - responsibilities desc
                - schools
                - schools desc
                - skills
                - skills desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - department
                - displayName
                - employeeHireDate
                - employeeId
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - securityIdentifier
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.userCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/shares/{printerShare-id}/allowedUsers/{user-id}/$ref':
    delete:
      tags:
        - print.printerShare
      summary: Delete ref of navigation property allowedUsers for print
      operationId: print.shares_DeleteAllowedUsersGraphBPreRef
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/shares/{printerShare-id}/allowedUsers/$ref':
    get:
      tags:
        - print.printerShare
      summary: Get ref of allowedUsers from print
      description: The users who have access to print using the printer.
      operationId: print.shares_ListAllowedUsersGraphBPreRef
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - ageGroup
                - ageGroup desc
                - assignedLicenses
                - assignedLicenses desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - consentProvidedForMinor
                - consentProvidedForMinor desc
                - country
                - country desc
                - createdDateTime
                - createdDateTime desc
                - creationType
                - creationType desc
                - department
                - department desc
                - displayName
                - displayName desc
                - employeeHireDate
                - employeeHireDate desc
                - employeeId
                - employeeId desc
                - employeeOrgData
                - employeeOrgData desc
                - employeeType
                - employeeType desc
                - externalUserState
                - externalUserState desc
                - externalUserStateChangeDateTime
                - externalUserStateChangeDateTime desc
                - faxNumber
                - faxNumber desc
                - givenName
                - givenName desc
                - identities
                - identities desc
                - imAddresses
                - imAddresses desc
                - isResourceAccount
                - isResourceAccount desc
                - jobTitle
                - jobTitle desc
                - lastPasswordChangeDateTime
                - lastPasswordChangeDateTime desc
                - legalAgeGroupClassification
                - legalAgeGroupClassification desc
                - licenseAssignmentStates
                - licenseAssignmentStates desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - mobilePhone
                - mobilePhone desc
                - officeLocation
                - officeLocation desc
                - onPremisesDistinguishedName
                - onPremisesDistinguishedName desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesExtensionAttributes
                - onPremisesExtensionAttributes desc
                - onPremisesImmutableId
                - onPremisesImmutableId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - onPremisesUserPrincipalName
                - onPremisesUserPrincipalName desc
                - otherMails
                - otherMails desc
                - passwordPolicies
                - passwordPolicies desc
                - passwordProfile
                - passwordProfile desc
                - postalCode
                - postalCode desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - provisionedPlans
                - provisionedPlans desc
                - proxyAddresses
                - proxyAddresses desc
                - securityIdentifier
                - securityIdentifier desc
                - showInAddressList
                - showInAddressList desc
                - signInSessionsValidFromDateTime
                - signInSessionsValidFromDateTime desc
                - state
                - state desc
                - streetAddress
                - streetAddress desc
                - surname
                - surname desc
                - usageLocation
                - usageLocation desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
                - mailboxSettings
                - mailboxSettings desc
                - deviceEnrollmentLimit
                - deviceEnrollmentLimit desc
                - aboutMe
                - aboutMe desc
                - birthday
                - birthday desc
                - hireDate
                - hireDate desc
                - interests
                - interests desc
                - mySite
                - mySite desc
                - pastProjects
                - pastProjects desc
                - preferredName
                - preferredName desc
                - responsibilities
                - responsibilities desc
                - schools
                - schools desc
                - skills
                - skills desc
              type: string
      responses:
        '200':
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property ref to allowedUsers for print
      operationId: print.shares_CreateAllowedUsersGraphBPreRef
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/shares/{printerShare-id}/printer':
    get:
      tags:
        - print.printerShare
      summary: Get printer from print
      description: The printer that this printer share is related to.
      operationId: print.shares_GetPrinter
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
[...]
