openapi: 3.0.1
info:
  title: DeviceManagement.Enrolment
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceManagement/conditionalAccessSettings:
    get:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Get conditionalAccessSettings from deviceManagement
      description: The Exchange on premises conditional access settings. On premises conditional access will require devices to be both enrolled and compliant for mail access
      operationId: deviceManagement_GetConditionalAccessSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - enabled
                - excludedGroups
                - includedGroups
                - overrideDefaultRule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Update the navigation property conditionalAccessSettings in deviceManagement
      operationId: deviceManagement_UpdateConditionalAccessSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Delete navigation property conditionalAccessSettings for deviceManagement
      operationId: deviceManagement_DeleteConditionalAccessSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceEnrollmentConfigurations:
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_ListDeviceEnrollmentConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - priority
                - priority desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - priority
                - version
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceEnrollmentConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to deviceEnrollmentConfigurations for deviceManagement
      operationId: deviceManagement_CreateDeviceEnrollmentConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_GetDeviceEnrollmentConfigurations
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - priority
                - version
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
          links:
            assignments:
              operationId: deviceManagement.DeviceEnrollmentConfigurations.ListAssignments
              parameters:
                deviceEnrollmentConfiguration-id: $request.path.deviceEnrollmentConfiguration-id
            assign:
              operationId: deviceManagement.deviceEnrollmentConfigurations.deviceEnrollmentConfiguration.assign
            setPriority:
              operationId: deviceManagement.deviceEnrollmentConfigurations.deviceEnrollmentConfiguration.setPriority
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update the navigation property deviceEnrollmentConfigurations in deviceManagement
      operationId: deviceManagement_UpdateDeviceEnrollmentConfigurations
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete navigation property deviceEnrollmentConfigurations for deviceManagement
      operationId: deviceManagement_DeleteDeviceEnrollmentConfigurations
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get assignments from deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations_ListAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.enrollmentConfigurationAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to assignments for deviceManagement
      operationId: deviceManagement.deviceEnrollmentConfigurations_CreateAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments/{enrollmentConfigurationAssignment-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get assignments from deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations_GetAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: enrollmentConfigurationAssignment-id
          in: path
          description: 'key: id of enrollmentConfigurationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentConfigurationAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update the navigation property assignments in deviceManagement
      operationId: deviceManagement.deviceEnrollmentConfigurations_UpdateAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: enrollmentConfigurationAssignment-id
          in: path
          description: 'key: id of enrollmentConfigurationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentConfigurationAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete navigation property assignments for deviceManagement
      operationId: deviceManagement.deviceEnrollmentConfigurations_DeleteAssignments
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: enrollmentConfigurationAssignment-id
          in: path
          description: 'key: id of enrollmentConfigurationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentConfigurationAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/importedWindowsAutopilotDeviceIdentities:
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get importedWindowsAutopilotDeviceIdentities from deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement_ListImportedWindowsAutopilotDeviceIdentities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - assignedUserPrincipalName
                - assignedUserPrincipalName desc
                - groupTag
                - groupTag desc
                - hardwareIdentifier
                - hardwareIdentifier desc
                - importId
                - importId desc
                - productKey
                - productKey desc
                - serialNumber
                - serialNumber desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedUserPrincipalName
                - groupTag
                - hardwareIdentifier
                - importId
                - productKey
                - serialNumber
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.importedWindowsAutopilotDeviceIdentityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Create new navigation property to importedWindowsAutopilotDeviceIdentities for deviceManagement
      operationId: deviceManagement_CreateImportedWindowsAutopilotDeviceIdentities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/importedWindowsAutopilotDeviceIdentities/{importedWindowsAutopilotDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get importedWindowsAutopilotDeviceIdentities from deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement_GetImportedWindowsAutopilotDeviceIdentities
      parameters:
        - name: importedWindowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of importedWindowsAutopilotDeviceIdentity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: importedWindowsAutopilotDeviceIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedUserPrincipalName
                - groupTag
                - hardwareIdentifier
                - importId
                - productKey
                - serialNumber
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Update the navigation property importedWindowsAutopilotDeviceIdentities in deviceManagement
      operationId: deviceManagement_UpdateImportedWindowsAutopilotDeviceIdentities
      parameters:
        - name: importedWindowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of importedWindowsAutopilotDeviceIdentity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: importedWindowsAutopilotDeviceIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Delete navigation property importedWindowsAutopilotDeviceIdentities for deviceManagement
      operationId: deviceManagement_DeleteImportedWindowsAutopilotDeviceIdentities
      parameters:
        - name: importedWindowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of importedWindowsAutopilotDeviceIdentity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: importedWindowsAutopilotDeviceIdentity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/windowsAutopilotDeviceIdentities:
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Get windowsAutopilotDeviceIdentities from deviceManagement
      description: The Windows autopilot device identities contained collection.
      operationId: deviceManagement_ListWindowsAutopilotDeviceIdentities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - addressableUserName
                - addressableUserName desc
                - azureActiveDirectoryDeviceId
                - azureActiveDirectoryDeviceId desc
                - displayName
                - displayName desc
                - enrollmentState
                - enrollmentState desc
                - groupTag
                - groupTag desc
                - lastContactedDateTime
                - lastContactedDateTime desc
                - managedDeviceId
                - managedDeviceId desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - productKey
                - productKey desc
                - purchaseOrderIdentifier
                - purchaseOrderIdentifier desc
                - resourceName
                - resourceName desc
                - serialNumber
                - serialNumber desc
                - skuNumber
                - skuNumber desc
                - systemFamily
                - systemFamily desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addressableUserName
                - azureActiveDirectoryDeviceId
                - displayName
                - enrollmentState
                - groupTag
                - lastContactedDateTime
                - managedDeviceId
                - manufacturer
                - model
                - productKey
                - purchaseOrderIdentifier
                - resourceName
                - serialNumber
                - skuNumber
                - systemFamily
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.windowsAutopilotDeviceIdentityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Create new navigation property to windowsAutopilotDeviceIdentities for deviceManagement
      operationId: deviceManagement_CreateWindowsAutopilotDeviceIdentities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Get windowsAutopilotDeviceIdentities from deviceManagement
      description: The Windows autopilot device identities contained collection.
      operationId: deviceManagement_GetWindowsAutopilotDeviceIdentities
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of windowsAutopilotDeviceIdentity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addressableUserName
                - azureActiveDirectoryDeviceId
                - displayName
                - enrollmentState
                - groupTag
                - lastContactedDateTime
                - managedDeviceId
                - manufacturer
                - model
                - productKey
                - purchaseOrderIdentifier
                - resourceName
                - serialNumber
                - skuNumber
                - systemFamily
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
          links:
            assignUserToDevice:
              operationId: deviceManagement.windowsAutopilotDeviceIdentities.windowsAutopilotDeviceIdentity.assignUserToDevice
            unassignUserFromDevice:
              operationId: deviceManagement.windowsAutopilotDeviceIdentities.windowsAutopilotDeviceIdentity.unassignUserFromDevice
            updateDeviceProperties:
              operationId: deviceManagement.windowsAutopilotDeviceIdentities.windowsAutopilotDeviceIdentity.updateDeviceProperties
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Update the navigation property windowsAutopilotDeviceIdentities in deviceManagement
      operationId: deviceManagement_UpdateWindowsAutopilotDeviceIdentities
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of windowsAutopilotDeviceIdentity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Delete navigation property windowsAutopilotDeviceIdentities for deviceManagement
      operationId: deviceManagement_DeleteWindowsAutopilotDeviceIdentities
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: 'key: id of windowsAutopilotDeviceIdentity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement:
    get:
      tags:
        - roleManagement.roleManagement
      summary: Get roleManagement
      operationId: roleManagement.roleManagement_GetRoleManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - directory
                - entitlementManagement
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directory
                - entitlementManagement
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleManagement'
          links:
            directory:
              operationId: roleManagement.GetDirectory
            entitlementManagement:
              operationId: roleManagement.GetEntitlementManagement
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.roleManagement
      summary: Update roleManagement
      operationId: roleManagement.roleManagement_UpdateRoleManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get directory from roleManagement
      operationId: roleManagement_GetDirectory
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleAssignments
                - roleDefinitions
                - roleAssignmentScheduleInstances
                - roleAssignmentScheduleRequests
                - roleAssignmentSchedules
                - roleEligibilityScheduleInstances
                - roleEligibilityScheduleRequests
                - roleEligibilitySchedules
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleAssignments
                - roleDefinitions
                - roleAssignmentScheduleInstances
                - roleAssignmentScheduleRequests
                - roleAssignmentSchedules
                - roleEligibilityScheduleInstances
                - roleEligibilityScheduleRequests
                - roleEligibilitySchedules
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.rbacApplication'
          links:
            roleAssignments:
              operationId: roleManagement.Directory.ListRoleAssignments
            roleDefinitions:
              operationId: roleManagement.Directory.ListRoleDefinitions
            roleAssignmentScheduleInstances:
              operationId: roleManagement.Directory.ListRoleAssignmentScheduleInstances
            roleAssignmentScheduleRequests:
              operationId: roleManagement.Directory.ListRoleAssignmentScheduleRequests
            roleAssignmentSchedules:
              operationId: roleManagement.Directory.ListRoleAssignmentSchedules
            roleEligibilityScheduleInstances:
              operationId: roleManagement.Directory.ListRoleEligibilityScheduleInstances
            roleEligibilityScheduleRequests:
              operationId: roleManagement.Directory.ListRoleEligibilityScheduleRequests
            roleEligibilitySchedules:
              operationId: roleManagement.Directory.ListRoleEligibilitySchedules
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property directory in roleManagement
      operationId: roleManagement_UpdateDirectory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.rbacApplication'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property directory for roleManagement
      operationId: roleManagement_DeleteDirectory
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignments:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: List unifiedRoleAssignments
      description: "Get a list of unifiedRoleAssignment objects for the RBAC provider. The following RBAC providers are currently supported:\n- directory (Azure AD)\n- entitlement management (Azure AD)"
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/rbacapplication-list-roleassignments?view=graph-rest-1.0
      operationId: roleManagement.directory_ListRoleAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appScopeId
                - appScopeId desc
                - condition
                - condition desc
                - directoryScopeId
                - directoryScopeId desc
                - principalId
                - principalId desc
                - roleDefinitionId
                - roleDefinitionId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - condition
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.unifiedRoleAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplication
      summary: Create unifiedRoleAssignment
      description: Create a new unifiedRoleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/rbacapplication-post-roleassignments?view=graph-rest-1.0
      operationId: roleManagement.directory_CreateRoleAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleAssignments from roleManagement
      description: Resource to grant access to users or groups.
      operationId: roleManagement.directory_GetRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - condition
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
          links:
            appScope:
              operationId: roleManagement.directory.RoleAssignments.GetAppScope
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
            directoryScope:
              operationId: roleManagement.directory.RoleAssignments.GetDirectoryScope
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
            principal:
              operationId: roleManagement.directory.RoleAssignments.GetPrincipal
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
            roleDefinition:
              operationId: roleManagement.directory.RoleAssignments.GetRoleDefinition
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignments in roleManagement
      operationId: roleManagement.directory_UpdateRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property roleAssignments for roleManagement
      operationId: roleManagement.directory_DeleteRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/appScope':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get appScope from roleManagement
      description: Read-only property with details of the app specific scope when the assignment scope is app specific. Containment entity. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_GetAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property appScope in roleManagement
      operationId: roleManagement.directory.roleAssignments_UpdateAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appScope'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property appScope for roleManagement
      operationId: roleManagement.directory.roleAssignments_DeleteAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/directoryScope':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get directoryScope from roleManagement
      description: The directory object that is the scope of the assignment. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_GetDirectoryScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/principal':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get principal from roleManagement
      description: Referencing the assigned principal. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignments_GetPrincipal
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/roleDefinition':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleDefinition from roleManagement
      description: The roleDefinition the assignment is for.  Supports $expand. roleDefinition.Id will be auto expanded.
      operationId: roleManagement.directory.roleAssignments_GetRoleDefinition
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
                - inheritsPermissionsFrom
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inheritsPermissionsFrom
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
          links:
            inheritsPermissionsFrom:
              operationId: roleManagement.directory.roleAssignments.RoleDefinition.ListInheritsPermissionsFrom
              parameters:
                unifiedRoleAssignment-id: $request.path.unifiedRoleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleInstances:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: List roleAssignmentScheduleInstances
      description: 'Get the instances of active role assignments in your tenant. The active assignments include those made through assignments and activation requests, and directly through the role assignments API.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/rbacapplication-list-roleassignmentscheduleinstances?view=graph-rest-1.0
      operationId: roleManagement.directory_ListRoleAssignmentScheduleInstances
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appScopeId
                - appScopeId desc
                - directoryScopeId
                - directoryScopeId desc
                - principalId
                - principalId desc
                - roleDefinitionId
                - roleDefinitionId desc
                - assignmentType
                - assignmentType desc
                - endDateTime
                - endDateTime desc
                - memberType
                - memberType desc
                - roleAssignmentOriginId
                - roleAssignmentOriginId desc
                - roleAssignmentScheduleId
                - roleAssignmentScheduleId desc
                - startDateTime
                - startDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - assignmentType
                - endDateTime
                - memberType
                - roleAssignmentOriginId
                - roleAssignmentScheduleId
                - startDateTime
                - appScope
                - directoryScope
                - principal
                - roleDefinition
                - activatedUsing
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
                - activatedUsing
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.unifiedRoleAssignmentScheduleInstanceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplication
      summary: Create new navigation property to roleAssignmentScheduleInstances for roleManagement
      operationId: roleManagement.directory_CreateRoleAssignmentScheduleInstances
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleInstances/{unifiedRoleAssignmentScheduleInstance-id}':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleAssignmentScheduleInstances from roleManagement
      description: Instances for active role assignments.
      operationId: roleManagement.directory_GetRoleAssignmentScheduleInstances
      parameters:
        - name: unifiedRoleAssignmentScheduleInstance-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleInstance'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - assignmentType
                - endDateTime
                - memberType
                - roleAssignmentOriginId
                - roleAssignmentScheduleId
                - startDateTime
                - appScope
                - directoryScope
                - principal
                - roleDefinition
                - activatedUsing
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
                - activatedUsing
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
          links:
            appScope:
              operationId: roleManagement.directory.RoleAssignmentScheduleInstances.GetAppScope
              parameters:
                unifiedRoleAssignmentScheduleInstance-id: $request.path.unifiedRoleAssignmentScheduleInstance-id
            directoryScope:
              operationId: roleManagement.directory.RoleAssignmentScheduleInstances.GetDirectoryScope
              parameters:
                unifiedRoleAssignmentScheduleInstance-id: $request.path.unifiedRoleAssignmentScheduleInstance-id
            principal:
              operationId: roleManagement.directory.RoleAssignmentScheduleInstances.GetPrincipal
              parameters:
                unifiedRoleAssignmentScheduleInstance-id: $request.path.unifiedRoleAssignmentScheduleInstance-id
            roleDefinition:
              operationId: roleManagement.directory.RoleAssignmentScheduleInstances.GetRoleDefinition
              parameters:
                unifiedRoleAssignmentScheduleInstance-id: $request.path.unifiedRoleAssignmentScheduleInstance-id
            activatedUsing:
              operationId: roleManagement.directory.RoleAssignmentScheduleInstances.GetActivatedUsing
              parameters:
                unifiedRoleAssignmentScheduleInstance-id: $request.path.unifiedRoleAssignmentScheduleInstance-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignmentScheduleInstances in roleManagement
      operationId: roleManagement.directory_UpdateRoleAssignmentScheduleInstances
      parameters:
        - name: unifiedRoleAssignmentScheduleInstance-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleInstance'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property roleAssignmentScheduleInstances for roleManagement
      operationId: roleManagement.directory_DeleteRoleAssignmentScheduleInstances
      parameters:
        - name: unifiedRoleAssignmentScheduleInstance-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleInstance'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleInstances/{unifiedRoleAssignmentScheduleInstance-id}/activatedUsing':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get activatedUsing from roleManagement
      description: 'If the request is from an eligible administrator to activate a role, this parameter will show the related eligible assignment for that activation. Otherwise, it is null. Supports $expand.'
      operationId: roleManagement.directory.roleAssignmentScheduleInstances_GetActivatedUsing
      parameters:
        - name: unifiedRoleAssignmentScheduleInstance-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleInstance'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - endDateTime
                - memberType
                - roleEligibilityScheduleId
                - startDateTime
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilityScheduleInstance'
          links:
            appScope:
              operationId: roleManagement.directory.roleAssignmentScheduleInstances.ActivatedUsing.GetAppScope
              parameters:
                unifiedRoleAssignmentScheduleInstance-id: $request.path.unifiedRoleAssignmentScheduleInstance-id
            directoryScope:
              operationId: roleManagement.directory.roleAssignmentScheduleInstances.ActivatedUsing.GetDirectoryScope
              parameters:
                unifiedRoleAssignmentScheduleInstance-id: $request.path.unifiedRoleAssignmentScheduleInstance-id
            principal:
              operationId: roleManagement.directory.roleAssignmentScheduleInstances.ActivatedUsing.GetPrincipal
              parameters:
                unifiedRoleAssignmentScheduleInstance-id: $request.path.unifiedRoleAssignmentScheduleInstance-id
            roleDefinition:
              operationId: roleManagement.directory.roleAssignmentScheduleInstances.ActivatedUsing.GetRoleDefinition
              parameters:
                unifiedRoleAssignmentScheduleInstance-id: $request.path.unifiedRoleAssignmentScheduleInstance-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleInstances/microsoft.graph.filterByCurrentUser(on=''{on}'')':
    get:
      tags:
        - roleManagement.Functions
      summary: Invoke function filterByCurrentUser
      operationId: roleManagement.directory.roleAssignmentScheduleInstances_filterGraphBPreCurrentUser
      parameters:
        - name: on
          in: path
          description: 'Usage: on=''{on}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.roleAssignmentScheduleInstanceFilterByCurrentUserOptions'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - directoryScopeId
                - principalId
                - roleDefinitionId
                - assignmentType
                - endDateTime
                - memberType
                - roleAssignmentOriginId
                - roleAssignmentScheduleId
                - startDateTime
                - appScope
                - directoryScope
                - principal
                - roleDefinition
                - activatedUsing
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appScopeId
                - appScopeId desc
                - directoryScopeId
                - directoryScopeId desc
                - principalId
                - principalId desc
                - roleDefinitionId
                - roleDefinitionId desc
                - assignmentType
                - assignmentType desc
                - endDateTime
                - endDateTime desc
                - memberType
                - memberType desc
                - roleAssignmentOriginId
                - roleAssignmentOriginId desc
                - roleAssignmentScheduleId
                - roleAssignmentScheduleId desc
                - startDateTime
                - startDateTime desc
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleAssignmentScheduleInstance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /roleManagement/directory/roleAssignmentScheduleRequests:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: List roleAssignmentScheduleRequests
      description: 'Retrieve the requests for active role assignments to principals. The active assignments include those made through assignments and activation requests, and directly through the role assignments API. The role assignments can be permanently active with or without an expiry date, or temporarily active after user activation of eligible assignments.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/rbacapplication-list-roleassignmentschedulerequests?view=graph-rest-1.0
      operationId: roleManagement.directory_ListRoleAssignmentScheduleRequests
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - approvalId
                - approvalId desc
                - completedDateTime
                - completedDateTime desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - customData
                - customData desc
                - status
                - status desc
                - action
                - action desc
                - appScopeId
                - appScopeId desc
                - directoryScopeId
                - directoryScopeId desc
                - isValidationOnly
                - isValidationOnly desc
                - justification
                - justification desc
                - principalId
                - principalId desc
                - roleDefinitionId
                - roleDefinitionId desc
                - scheduleInfo
                - scheduleInfo desc
                - targetScheduleId
                - targetScheduleId desc
                - ticketInfo
                - ticketInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - approvalId
                - completedDateTime
                - createdBy
                - createdDateTime
                - customData
                - status
                - action
                - appScopeId
                - directoryScopeId
                - isValidationOnly
                - justification
                - principalId
                - roleDefinitionId
                - scheduleInfo
                - targetScheduleId
                - ticketInfo
                - activatedUsing
                - appScope
                - directoryScope
                - principal
                - roleDefinition
                - targetSchedule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activatedUsing
                - appScope
                - directoryScope
                - principal
                - roleDefinition
                - targetSchedule
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.unifiedRoleAssignmentScheduleRequestCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplication
      summary: Create roleAssignmentScheduleRequests
      description: "In PIM, carry out the following operations through the unifiedRoleAssignmentScheduleRequest object:\n+ Request active and persistent role assignments for a principal, with or without expiry dates.\n+ Activate, deactivate, extend, or renew an eligible role assignment for a principal. To call this API to update, renew, and extend assignments for yourself, you must have multi-factor authentication (MFA) enforced, and running the query in a session in which they were challenged for MFA. See Enable per-user Azure AD Multi-Factor Authentication to secure sign-in events."
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/rbacapplication-post-roleassignmentschedulerequests?view=graph-rest-1.0
      operationId: roleManagement.directory_CreateRoleAssignmentScheduleRequests
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleAssignmentScheduleRequests from roleManagement
      description: Requests for active role assignments to principals through PIM.
      operationId: roleManagement.directory_GetRoleAssignmentScheduleRequests
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - approvalId
                - completedDateTime
                - createdBy
                - createdDateTime
                - customData
                - status
                - action
                - appScopeId
                - directoryScopeId
                - isValidationOnly
                - justification
                - principalId
                - roleDefinitionId
                - scheduleInfo
                - targetScheduleId
                - ticketInfo
                - activatedUsing
                - appScope
                - directoryScope
                - principal
                - roleDefinition
                - targetSchedule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activatedUsing
                - appScope
                - directoryScope
                - principal
                - roleDefinition
                - targetSchedule
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
          links:
            activatedUsing:
              operationId: roleManagement.directory.RoleAssignmentScheduleRequests.GetActivatedUsing
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
            appScope:
              operationId: roleManagement.directory.RoleAssignmentScheduleRequests.GetAppScope
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
            directoryScope:
              operationId: roleManagement.directory.RoleAssignmentScheduleRequests.GetDirectoryScope
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
            principal:
              operationId: roleManagement.directory.RoleAssignmentScheduleRequests.GetPrincipal
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
            roleDefinition:
              operationId: roleManagement.directory.RoleAssignmentScheduleRequests.GetRoleDefinition
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
            targetSchedule:
              operationId: roleManagement.directory.RoleAssignmentScheduleRequests.GetTargetSchedule
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
            cancel:
              operationId: roleManagement.directory.roleAssignmentScheduleRequests.unifiedRoleAssignmentScheduleRequest.cancel
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignmentScheduleRequests in roleManagement
      operationId: roleManagement.directory_UpdateRoleAssignmentScheduleRequests
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property roleAssignmentScheduleRequests for roleManagement
      operationId: roleManagement.directory_DeleteRoleAssignmentScheduleRequests
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/activatedUsing':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get activatedUsing from roleManagement
      description: 'If the request is from an eligible administrator to activate a role, this parameter will show the related eligible assignment for that activation. Otherwise, it''s null. Supports $expand.'
      operationId: roleManagement.directory.roleAssignmentScheduleRequests_GetActivatedUsing
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appScopeId
                - createdDateTime
                - createdUsing
                - directoryScopeId
                - modifiedDateTime
                - principalId
                - roleDefinitionId
                - status
                - memberType
                - scheduleInfo
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appScope
                - directoryScope
                - principal
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilitySchedule'
          links:
            appScope:
              operationId: roleManagement.directory.roleAssignmentScheduleRequests.ActivatedUsing.GetAppScope
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
            directoryScope:
              operationId: roleManagement.directory.roleAssignmentScheduleRequests.ActivatedUsing.GetDirectoryScope
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
            principal:
              operationId: roleManagement.directory.roleAssignmentScheduleRequests.ActivatedUsing.GetPrincipal
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
            roleDefinition:
              operationId: roleManagement.directory.roleAssignmentScheduleRequests.ActivatedUsing.GetRoleDefinition
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/appScope':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get appScope from roleManagement
      description: Read-only property with details of the app-specific scope when the assignment is scoped to an app. Nullable. Supports $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequests_GetAppScope
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/directoryScope':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get directoryScope from roleManagement
      description: The directory object that is the scope of the assignment. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequests_GetDirectoryScope
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/microsoft.graph.cancel':
    post:
      tags:
        - roleManagement.Actions
      summary: Invoke action cancel
      description: 'Immediately cancel a unifiedRoleAssignmentScheduleRequest object that is in a `Granted` status, and have the system automatically delete the canceled request after 30 days. After calling this action, the **status** of the canceled **unifiedRoleAssignmentScheduleRequest** changes to `Canceled`.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/unifiedroleassignmentschedulerequest-cancel?view=graph-rest-1.0
      operationId: roleManagement.directory.roleAssignmentScheduleRequests_cancel
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/principal':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get principal from roleManagement
      description: The principal that's getting a role assignment through the request. Supports $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequests_GetPrincipal
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/roleDefinition':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleDefinition from roleManagement
      description: Detailed information for the unifiedRoleDefinition object that is referenced through the roleDefinitionId property. Supports $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequests_GetRoleDefinition
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
                - inheritsPermissionsFrom
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inheritsPermissionsFrom
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
          links:
            inheritsPermissionsFrom:
              operationId: roleManagement.directory.roleAssignmentScheduleRequests.RoleDefinition.ListInheritsPermissionsFrom
              parameters:
                unifiedRoleAssignmentScheduleRequest-id: $request.path.unifiedRoleAssignmentScheduleRequest-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/targetSchedule':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get targetSchedule from roleManagement
      description: The schedule for an eligible role assignment that is referenced through the targetScheduleId property. Supports $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequests_GetTargetSchedule
      parameters:
        - name: unifiedRoleAssignmentScheduleRequest-id
          in: path
          description: 'key: id of unifiedRoleAssignmentScheduleRequest'
          required: true
[...]
