openapi: 3.0.1
info:
  title: Devices.CorporateManagement
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceAppManagement:
    get:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Get deviceAppManagement
      operationId: deviceAppManagement.deviceAppManagement_GetDeviceAppManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isEnabledForMicrosoftStoreForBusiness
                - microsoftStoreForBusinessLanguage
                - microsoftStoreForBusinessLastCompletedApplicationSyncTime
                - microsoftStoreForBusinessLastSuccessfulSyncDateTime
                - managedEBooks
                - mobileAppCategories
                - mobileAppConfigurations
                - mobileApps
                - vppTokens
                - androidManagedAppProtections
                - defaultManagedAppProtections
                - iosManagedAppProtections
                - managedAppPolicies
                - managedAppRegistrations
                - managedAppStatuses
                - mdmWindowsInformationProtectionPolicies
                - targetedManagedAppConfigurations
                - windowsInformationProtectionPolicies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - managedEBooks
                - mobileAppCategories
                - mobileAppConfigurations
                - mobileApps
                - vppTokens
                - androidManagedAppProtections
                - defaultManagedAppProtections
                - iosManagedAppProtections
                - managedAppPolicies
                - managedAppRegistrations
                - managedAppStatuses
                - mdmWindowsInformationProtectionPolicies
                - targetedManagedAppConfigurations
                - windowsInformationProtectionPolicies
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Update deviceAppManagement
      operationId: deviceAppManagement.deviceAppManagement_UpdateDeviceAppManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/androidManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get androidManagedAppProtections from deviceAppManagement
      description: Android managed app policies.
      operationId: deviceAppManagement_ListAndroidManagedAppProtections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - managedBrowser
                - managedBrowser desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - maximumPinRetries
                - maximumPinRetries desc
                - minimumPinLength
                - minimumPinLength desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - pinCharacterSet
                - pinCharacterSet desc
                - pinRequired
                - pinRequired desc
                - printBlocked
                - printBlocked desc
                - saveAsBlocked
                - saveAsBlocked desc
                - simplePinBlocked
                - simplePinBlocked desc
                - isAssigned
                - isAssigned desc
                - customBrowserDisplayName
                - customBrowserDisplayName desc
                - customBrowserPackageId
                - customBrowserPackageId desc
                - deployedAppCount
                - deployedAppCount desc
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableAppEncryptionIfDeviceEncryptionIsEnabled desc
                - encryptAppData
                - encryptAppData desc
                - minimumRequiredPatchVersion
                - minimumRequiredPatchVersion desc
                - minimumWarningPatchVersion
                - minimumWarningPatchVersion desc
                - screenCaptureBlocked
                - screenCaptureBlocked desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumPinRetries
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - isAssigned
                - customBrowserDisplayName
                - customBrowserPackageId
                - deployedAppCount
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - minimumRequiredPatchVersion
                - minimumWarningPatchVersion
                - screenCaptureBlocked
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.androidManagedAppProtectionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to androidManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateAndroidManagedAppProtections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get androidManagedAppProtections from deviceAppManagement
      description: Android managed app policies.
      operationId: deviceAppManagement_GetAndroidManagedAppProtections
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumPinRetries
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - isAssigned
                - customBrowserDisplayName
                - customBrowserPackageId
                - deployedAppCount
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - minimumRequiredPatchVersion
                - minimumWarningPatchVersion
                - screenCaptureBlocked
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property androidManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateAndroidManagedAppProtections
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property androidManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_DeleteAndroidManagedAppProtections
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtections_ListApps
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_CreateApps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtections_GetApps
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_UpdateApps
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property apps for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_DeleteApps
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      description: Navigation property to deployment summary of the configuration.
      operationId: deviceAppManagement.androidManagedAppProtections_GetDeploymentSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationDeployedUserCount
                - configurationDeploymentSummaryPerApp
                - displayName
                - lastRefreshTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_UpdateDeploymentSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_DeleteDeploymentSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/defaultManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get defaultManagedAppProtections from deviceAppManagement
      description: Default managed app policies.
      operationId: deviceAppManagement_ListDefaultManagedAppProtections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - managedBrowser
                - managedBrowser desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - maximumPinRetries
                - maximumPinRetries desc
                - minimumPinLength
                - minimumPinLength desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - pinCharacterSet
                - pinCharacterSet desc
                - pinRequired
                - pinRequired desc
                - printBlocked
                - printBlocked desc
                - saveAsBlocked
                - saveAsBlocked desc
                - simplePinBlocked
                - simplePinBlocked desc
                - appDataEncryptionType
                - appDataEncryptionType desc
                - customSettings
                - customSettings desc
                - deployedAppCount
                - deployedAppCount desc
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableAppEncryptionIfDeviceEncryptionIsEnabled desc
                - encryptAppData
                - encryptAppData desc
                - faceIdBlocked
                - faceIdBlocked desc
                - minimumRequiredPatchVersion
                - minimumRequiredPatchVersion desc
                - minimumRequiredSdkVersion
                - minimumRequiredSdkVersion desc
                - minimumWarningPatchVersion
                - minimumWarningPatchVersion desc
                - screenCaptureBlocked
                - screenCaptureBlocked desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumPinRetries
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - appDataEncryptionType
                - customSettings
                - deployedAppCount
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - faceIdBlocked
                - minimumRequiredPatchVersion
                - minimumRequiredSdkVersion
                - minimumWarningPatchVersion
                - screenCaptureBlocked
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.defaultManagedAppProtectionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create new navigation property to defaultManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateDefaultManagedAppProtections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get defaultManagedAppProtections from deviceAppManagement
      description: Default managed app policies.
      operationId: deviceAppManagement_GetDefaultManagedAppProtections
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumPinRetries
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - appDataEncryptionType
                - customSettings
                - deployedAppCount
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - faceIdBlocked
                - minimumRequiredPatchVersion
                - minimumRequiredSdkVersion
                - minimumWarningPatchVersion
                - screenCaptureBlocked
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property defaultManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateDefaultManagedAppProtections
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property defaultManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_DeleteDefaultManagedAppProtections
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.defaultManagedAppProtections_ListApps
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_CreateApps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.defaultManagedAppProtections_GetApps
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_UpdateApps
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property apps for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_DeleteApps
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      description: Navigation property to deployment summary of the configuration.
      operationId: deviceAppManagement.defaultManagedAppProtections_GetDeploymentSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationDeployedUserCount
                - configurationDeploymentSummaryPerApp
                - displayName
                - lastRefreshTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_UpdateDeploymentSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_DeleteDeploymentSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/iosManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get iosManagedAppProtections from deviceAppManagement
      description: iOS managed app policies.
      operationId: deviceAppManagement_ListIosManagedAppProtections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - managedBrowser
                - managedBrowser desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - maximumPinRetries
                - maximumPinRetries desc
                - minimumPinLength
                - minimumPinLength desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - pinCharacterSet
                - pinCharacterSet desc
                - pinRequired
                - pinRequired desc
                - printBlocked
                - printBlocked desc
                - saveAsBlocked
                - saveAsBlocked desc
                - simplePinBlocked
                - simplePinBlocked desc
                - isAssigned
                - isAssigned desc
                - appDataEncryptionType
                - appDataEncryptionType desc
                - customBrowserProtocol
                - customBrowserProtocol desc
                - deployedAppCount
                - deployedAppCount desc
                - faceIdBlocked
                - faceIdBlocked desc
                - minimumRequiredSdkVersion
                - minimumRequiredSdkVersion desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumPinRetries
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - isAssigned
                - appDataEncryptionType
                - customBrowserProtocol
                - deployedAppCount
                - faceIdBlocked
                - minimumRequiredSdkVersion
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.iosManagedAppProtectionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Create new navigation property to iosManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateIosManagedAppProtections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get iosManagedAppProtections from deviceAppManagement
      description: iOS managed app policies.
      operationId: deviceAppManagement_GetIosManagedAppProtections
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumPinRetries
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - isAssigned
                - appDataEncryptionType
                - customBrowserProtocol
                - deployedAppCount
                - faceIdBlocked
                - minimumRequiredSdkVersion
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update the navigation property iosManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateIosManagedAppProtections
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosManagedAppProtection'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Delete navigation property iosManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_DeleteIosManagedAppProtections
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.iosManagedAppProtections_ListApps
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_CreateApps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.iosManagedAppProtections_GetApps
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_UpdateApps
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Delete navigation property apps for deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_DeleteApps
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/iosManagedAppProtections/{iosManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      description: Navigation property to deployment summary of the configuration.
      operationId: deviceAppManagement.iosManagedAppProtections_GetDeploymentSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationDeployedUserCount
                - configurationDeploymentSummaryPerApp
                - displayName
                - lastRefreshTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_UpdateDeploymentSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.iosManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.iosManagedAppProtections_DeleteDeploymentSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/managedAppPolicies:
    get:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Get managedAppPolicies from deviceAppManagement
      description: Managed app policies.
      operationId: deviceAppManagement_ListManagedAppPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedAppPolicyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Create new navigation property to managedAppPolicies for deviceAppManagement
      operationId: deviceAppManagement_CreateManagedAppPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}':
    get:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Get managedAppPolicies from deviceAppManagement
      description: Managed app policies.
      operationId: deviceAppManagement_GetManagedAppPolicies
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Update the navigation property managedAppPolicies in deviceAppManagement
      operationId: deviceAppManagement_UpdateManagedAppPolicies
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.managedAppPolicy
      summary: Delete navigation property managedAppPolicies for deviceAppManagement
      operationId: deviceAppManagement_DeleteManagedAppPolicies
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}/microsoft.graph.managedAppProtection/microsoft.graph.targetApps':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action targetApps
      operationId: deviceAppManagement.managedAppPolicies.managedAppPolicy.microsoft.graph.managedAppProtection_targetApps
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                apps:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}/microsoft.graph.targetApps':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action targetApps
      operationId: deviceAppManagement.managedAppPolicies.managedAppPolicy_targetApps
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                apps:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}/microsoft.graph.targetedManagedAppProtection/microsoft.graph.assign':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action assign
      operationId: deviceAppManagement.managedAppPolicies.managedAppPolicy.microsoft.graph.targetedManagedAppProtection_assign
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}/microsoft.graph.targetedManagedAppProtection/microsoft.graph.targetApps':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action targetApps
      operationId: deviceAppManagement.managedAppPolicies.managedAppPolicy.microsoft.graph.targetedManagedAppProtection_targetApps
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                apps:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
                appGroupType:
                  $ref: '#/components/schemas/microsoft.graph.targetedManagedAppGroupType'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}/microsoft.graph.windowsInformationProtection/microsoft.graph.assign':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action assign
      operationId: deviceAppManagement.managedAppPolicies.managedAppPolicy.microsoft.graph.windowsInformationProtection_assign
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceAppManagement/managedAppRegistrations:
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get managedAppRegistrations from deviceAppManagement
      description: The managed app registrations.
      operationId: deviceAppManagement_ListManagedAppRegistrations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appIdentifier
                - appIdentifier desc
                - applicationVersion
                - applicationVersion desc
                - createdDateTime
                - createdDateTime desc
                - deviceName
                - deviceName desc
                - deviceTag
                - deviceTag desc
                - deviceType
                - deviceType desc
                - flaggedReasons
                - flaggedReasons desc
                - lastSyncDateTime
                - lastSyncDateTime desc
                - managementSdkVersion
                - managementSdkVersion desc
                - platformVersion
                - platformVersion desc
                - userId
                - userId desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appIdentifier
                - applicationVersion
                - createdDateTime
                - deviceName
                - deviceTag
                - deviceType
                - flaggedReasons
                - lastSyncDateTime
                - managementSdkVersion
                - platformVersion
                - userId
                - version
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedAppRegistrationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Create new navigation property to managedAppRegistrations for deviceAppManagement
      operationId: deviceAppManagement_CreateManagedAppRegistrations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get managedAppRegistrations from deviceAppManagement
      description: The managed app registrations.
      operationId: deviceAppManagement_GetManagedAppRegistrations
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appIdentifier
                - applicationVersion
                - createdDateTime
                - deviceName
                - deviceTag
                - deviceType
                - flaggedReasons
                - lastSyncDateTime
                - managementSdkVersion
                - platformVersion
                - userId
                - version
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Update the navigation property managedAppRegistrations in deviceAppManagement
      operationId: deviceAppManagement_UpdateManagedAppRegistrations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Delete navigation property managedAppRegistrations for deviceAppManagement
      operationId: deviceAppManagement_DeleteManagedAppRegistrations
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get appliedPolicies from deviceAppManagement
      description: Zero or more policys already applied on the registered app when it last synchronized with managment service.
      operationId: deviceAppManagement.managedAppRegistrations_ListAppliedPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedAppPolicyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Create new navigation property to appliedPolicies for deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_CreateAppliedPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies/{managedAppPolicy-id}':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get appliedPolicies from deviceAppManagement
      description: Zero or more policys already applied on the registered app when it last synchronized with managment service.
      operationId: deviceAppManagement.managedAppRegistrations_GetAppliedPolicies
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Update the navigation property appliedPolicies in deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_UpdateAppliedPolicies
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Delete navigation property appliedPolicies for deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_DeleteAppliedPolicies
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies/{managedAppPolicy-id}/microsoft.graph.managedAppProtection/microsoft.graph.targetApps':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action targetApps
      operationId: deviceAppManagement.managedAppRegistrations.managedAppRegistration.appliedPolicies.managedAppPolicy.microsoft.graph.managedAppProtection_targetApps
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                apps:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies/{managedAppPolicy-id}/microsoft.graph.targetApps':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action targetApps
      operationId: deviceAppManagement.managedAppRegistrations.managedAppRegistration.appliedPolicies.managedAppPolicy_targetApps
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                apps:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies/{managedAppPolicy-id}/microsoft.graph.targetedManagedAppProtection/microsoft.graph.assign':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action assign
      operationId: deviceAppManagement.managedAppRegistrations.managedAppRegistration.appliedPolicies.managedAppPolicy.microsoft.graph.targetedManagedAppProtection_assign
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies/{managedAppPolicy-id}/microsoft.graph.targetedManagedAppProtection/microsoft.graph.targetApps':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action targetApps
      operationId: deviceAppManagement.managedAppRegistrations.managedAppRegistration.appliedPolicies.managedAppPolicy.microsoft.graph.targetedManagedAppProtection_targetApps
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                apps:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
                appGroupType:
                  $ref: '#/components/schemas/microsoft.graph.targetedManagedAppGroupType'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/appliedPolicies/{managedAppPolicy-id}/microsoft.graph.windowsInformationProtection/microsoft.graph.assign':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action assign
      operationId: deviceAppManagement.managedAppRegistrations.managedAppRegistration.appliedPolicies.managedAppPolicy.microsoft.graph.windowsInformationProtection_assign
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceAppManagement/managedAppRegistrations/{managedAppRegistration-id}/intendedPolicies':
    get:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Get intendedPolicies from deviceAppManagement
      description: Zero or more policies admin intended for the app as of now.
      operationId: deviceAppManagement.managedAppRegistrations_ListIntendedPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedAppPolicyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.managedAppRegistration
      summary: Create new navigation property to intendedPolicies for deviceAppManagement
      operationId: deviceAppManagement.managedAppRegistrations_CreateIntendedPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
[...]
