openapi: 3.0.1
info:
  title: DirectoryObjects
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /directoryObjects:
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entities from directoryObjects
      operationId: directoryObjects.directoryObject_ListDirectoryObject
      parameters:
        - name: ConsistencyLevel
          in: header
          description: Indicates the requested consistency level.
          schema:
            type: string
          example: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directoryObjects.directoryObject
      summary: Add new entity to directoryObjects
      operationId: directoryObjects.directoryObject_CreateDirectoryObject
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryObjects/{directoryObject-id}':
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entity from directoryObjects by key
      operationId: directoryObjects.directoryObject_GetDirectoryObject
      parameters:
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: Indicates the requested consistency level.
          schema:
            type: string
          example: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directoryObjects.directoryObject
      summary: Update entity in directoryObjects
      operationId: directoryObjects.directoryObject_UpdateDirectoryObject
      parameters:
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directoryObjects.directoryObject
      summary: Delete entity from directoryObjects
      operationId: directoryObjects.directoryObject_DeleteDirectoryObject
      parameters:
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryObjects/{directoryObject-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action checkMemberGroups
      operationId: directoryObjects_checkMemberGroups
      parameters:
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{directoryObject-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action checkMemberObjects
      operationId: directoryObjects_checkMemberObjects
      parameters:
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{directoryObject-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getMemberGroups
      operationId: directoryObjects_getMemberGroups
      parameters:
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{directoryObject-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getMemberObjects
      operationId: directoryObjects_getMemberObjects
      parameters:
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/directoryObjects/{directoryObject-id}/microsoft.graph.restore':
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action restore
      operationId: directoryObjects_restore
      parameters:
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /directoryObjects/microsoft.graph.getAvailableExtensionProperties:
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getAvailableExtensionProperties
      operationId: directoryObjects_getAvailableExtensionProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                isSyncedFromOnPremises:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /directoryObjects/microsoft.graph.getByIds:
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action getByIds
      operationId: directoryObjects_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /directoryObjects/microsoft.graph.validateProperties:
    post:
      tags:
        - directoryObjects.Actions
      summary: Invoke action validateProperties
      operationId: directoryObjects_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.extensionProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: extensionProperty
          type: object
          properties:
            appDisplayName:
              type: string
              description: Display name of the application object on which this extension property is defined. Read-only.
              nullable: true
            dataType:
              type: string
              description: Specifies the data type of the value the extension property can hold. Following values are supported. Not nullable. Binary - 256 bytes maximumBooleanDateTime - Must be specified in ISO 8601 format. Will be stored in UTC.Integer - 32-bit value.LargeInteger - 64-bit value.String - 256 characters maximum
            isSyncedFromOnPremises:
              type: boolean
              description: Indicates if this extension property was sycned from onpremises directory using Azure AD Connect. Read-only.
              nullable: true
            name:
              type: string
              description: Name of the extension property. Not nullable.
            targetObjects:
              type: array
              items:
                type: string
              description: Following values are supported. Not nullable. UserGroupOrganizationDeviceApplication
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]