openapi: 3.0.1
info:
  title: OData Service for namespace microsoft.exoServices.api
  description: This OData service is located at https://canary.graph.microsoft.com/testprodbetaexoUsersPart4
  version: 1.0.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 1.0.9.0
servers:
  - url: https://canary.graph.microsoft.com/testprodbetaexoUsersPart4
paths:
  /admin:
    description: Provides operations to manage the admin singleton.
    get:
      tags:
        - admin.admin
      summary: Get admin
      operationId: admin.admin_GetAdmin
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.admin'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.admin
      summary: Update admin
      operationId: admin.admin_UpdateAdmin
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.admin'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/exchange:
    description: Provides operations to manage the exchange property of the microsoft.graph.admin entity.
    get:
      tags:
        - admin.exchangeAdmin
      summary: Get exchange from admin
      operationId: admin_GetExchange
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.exchangeAdmin'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchangeAdmin
      summary: Update the navigation property exchange in admin
      operationId: admin_UpdateExchange
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.exchangeAdmin'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchangeAdmin
      summary: Delete navigation property exchange for admin
      operationId: admin_DeleteExchange
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/exchange/aadUsers:
    description: Provides operations to manage the aadUsers property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.aadUser
      summary: Get aadUsers from admin
      operationId: admin.exchange_ListAadUsers
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.exoServices.api.aadUserCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.exchange.aadUser
      summary: Create new navigation property to aadUsers for admin
      operationId: admin.exchange_CreateAadUsers
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.aadUser'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.aadUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/aadUsers/{id}':
    description: Provides operations to manage the aadUsers property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.aadUser
      summary: Get aadUsers from admin
      operationId: admin.exchange_GetAadUsers
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.aadUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchange.aadUser
      summary: Update the navigation property aadUsers in admin
      operationId: admin.exchange_UpdateAadUsers
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.aadUser'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchange.aadUser
      summary: Delete navigation property aadUsers for admin
      operationId: admin.exchange_DeleteAadUsers
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/aadUsers/{id}/directReports':
    description: Provides operations to manage the directReports property of the microsoft.exoServices.api.orgPerson entity.
    get:
      tags:
        - admin.exchange.aadUsers.directoryObject
      summary: Get directReports from admin
      operationId: admin.exchange.aadUsers_ListDirectReports
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.directoryService.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/users/{id}/directReports'
  '/admin/exchange/aadUsers/{id}/directReports()':
    description: Provides operations to manage the directReports property of the microsoft.exoServices.api.orgPerson entity.
    get:
      tags:
        - admin.exchange.aadUsers.directoryObject
      summary: Get directReports from admin
      operationId: admin.exchange.aadUsers_GetDirectReports
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/users/{id}/directReports()'
  '/admin/exchange/aadUsers/{id}/directReports/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.aadUsers.directoryObject
      summary: Get the number of the resource
      operationId: admin.exchange.aadUsers.directReports_GetCount
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/admin/exchange/aadUsers/{id}/exchange':
    description: Provides operations to manage the exchange property of the microsoft.exoServices.api.aadUser entity.
    get:
      tags:
        - admin.exchange.aadUsers.userExchangeDetails
      summary: Get exchange from admin
      operationId: admin.exchange.aadUsers_GetExchange
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.userExchangeDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchange.aadUsers.userExchangeDetails
      summary: Update the navigation property exchange in admin
      operationId: admin.exchange.aadUsers_UpdateExchange
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.userExchangeDetails'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchange.aadUsers.userExchangeDetails
      summary: Delete navigation property exchange for admin
      operationId: admin.exchange.aadUsers_DeleteExchange
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/aadUsers/{id}/exchange/roleAssignmentPolicy':
    description: Provides operations to manage the roleAssignmentPolicy property of the microsoft.exoServices.api.userExchangeDetails entity.
    get:
      tags:
        - admin.exchange.aadUsers.userExchangeDetails
      summary: Get roleAssignmentPolicy from admin
      operationId: admin.exchange.aadUsers.exchange_GetRoleAssignmentPolicy
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.roleAssignmentPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/aadUsers/{id}/manager':
    description: Provides operations to manage the manager property of the microsoft.exoServices.api.orgPerson entity.
    get:
      tags:
        - admin.exchange.aadUsers.directoryObject
      summary: Get manager from admin
      operationId: admin.exchange.aadUsers_GetManager
      parameters:
        - name: id
          in: path
          description: The unique identifier of aadUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: aadUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/users/{id}/manager'
  /admin/exchange/aadUsers/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.aadUser
      summary: Get the number of the resource
      operationId: admin.exchange.aadUsers_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/exchange/mailboxPlans:
    description: Provides operations to manage the mailboxPlans property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.mailboxPlan
      summary: Get mailboxPlans from admin
      operationId: admin.exchange_ListMailboxPlans
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.exoServices.api.mailboxPlanCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.exchange.mailboxPlan
      summary: Create new navigation property to mailboxPlans for admin
      operationId: admin.exchange_CreateMailboxPlans
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.mailboxPlan'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.mailboxPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/mailboxPlans/{id}':
    description: Provides operations to manage the mailboxPlans property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.mailboxPlan
      summary: Get mailboxPlans from admin
      operationId: admin.exchange_GetMailboxPlans
      parameters:
        - name: id
          in: path
          description: The unique identifier of mailboxPlan
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailboxPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.mailboxPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchange.mailboxPlan
      summary: Update the navigation property mailboxPlans in admin
      operationId: admin.exchange_UpdateMailboxPlans
      parameters:
        - name: id
          in: path
          description: The unique identifier of mailboxPlan
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailboxPlan
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.mailboxPlan'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchange.mailboxPlan
      summary: Delete navigation property mailboxPlans for admin
      operationId: admin.exchange_DeleteMailboxPlans
      parameters:
        - name: id
          in: path
          description: The unique identifier of mailboxPlan
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailboxPlan
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/exchange/mailboxPlans/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.mailboxPlan
      summary: Get the number of the resource
      operationId: admin.exchange.mailboxPlans_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/exchange/retentionPolicies:
    description: Provides operations to manage the retentionPolicies property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.retentionPolicy
      summary: Get retentionPolicies from admin
      operationId: admin.exchange_ListRetentionPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.exoServices.api.retentionPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.exchange.retentionPolicy
      summary: Create new navigation property to retentionPolicies for admin
      operationId: admin.exchange_CreateRetentionPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.retentionPolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.retentionPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/retentionPolicies/{id}':
    description: Provides operations to manage the retentionPolicies property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.retentionPolicy
      summary: Get retentionPolicies from admin
      operationId: admin.exchange_GetRetentionPolicies
      parameters:
        - name: id
          in: path
          description: The unique identifier of retentionPolicy
          required: true
          schema:
            type: string
          x-ms-docs-key-type: retentionPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.retentionPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchange.retentionPolicy
      summary: Update the navigation property retentionPolicies in admin
      operationId: admin.exchange_UpdateRetentionPolicies
      parameters:
        - name: id
          in: path
          description: The unique identifier of retentionPolicy
          required: true
          schema:
            type: string
          x-ms-docs-key-type: retentionPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.retentionPolicy'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchange.retentionPolicy
      summary: Delete navigation property retentionPolicies for admin
      operationId: admin.exchange_DeleteRetentionPolicies
      parameters:
        - name: id
          in: path
          description: The unique identifier of retentionPolicy
          required: true
          schema:
            type: string
          x-ms-docs-key-type: retentionPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/exchange/retentionPolicies/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.retentionPolicy
      summary: Get the number of the resource
      operationId: admin.exchange.retentionPolicies_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/exchange/roleAssignmentPolicies:
    description: Provides operations to manage the roleAssignmentPolicies property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.roleAssignmentPolicy
      summary: Get roleAssignmentPolicies from admin
      operationId: admin.exchange_ListRoleAssignmentPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.exoServices.api.roleAssignmentPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.exchange.roleAssignmentPolicy
      summary: Create new navigation property to roleAssignmentPolicies for admin
      operationId: admin.exchange_CreateRoleAssignmentPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.roleAssignmentPolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.roleAssignmentPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/roleAssignmentPolicies/{id}':
    description: Provides operations to manage the roleAssignmentPolicies property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.roleAssignmentPolicy
      summary: Get roleAssignmentPolicies from admin
      operationId: admin.exchange_GetRoleAssignmentPolicies
      parameters:
        - name: id
          in: path
          description: The unique identifier of roleAssignmentPolicy
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignmentPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.roleAssignmentPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchange.roleAssignmentPolicy
      summary: Update the navigation property roleAssignmentPolicies in admin
      operationId: admin.exchange_UpdateRoleAssignmentPolicies
      parameters:
        - name: id
          in: path
          description: The unique identifier of roleAssignmentPolicy
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignmentPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.roleAssignmentPolicy'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchange.roleAssignmentPolicy
      summary: Delete navigation property roleAssignmentPolicies for admin
      operationId: admin.exchange_DeleteRoleAssignmentPolicies
      parameters:
        - name: id
          in: path
          description: The unique identifier of roleAssignmentPolicy
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignmentPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/exchange/roleAssignmentPolicies/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.roleAssignmentPolicy
      summary: Get the number of the resource
      operationId: admin.exchange.roleAssignmentPolicies_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/exchange/userMailboxes:
    description: Provides operations to manage the userMailboxes property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.userMailbox
      summary: Get userMailboxes from admin
      operationId: admin.exchange_ListUserMailboxes
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.exoServices.api.userMailboxCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.exchange.userMailbox
      summary: Create new navigation property to userMailboxes for admin
      operationId: admin.exchange_CreateUserMailboxes
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.userMailbox'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.userMailbox'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/userMailboxes/{id}':
    description: Provides operations to manage the userMailboxes property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.userMailbox
      summary: Get userMailboxes from admin
      operationId: admin.exchange_GetUserMailboxes
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.userMailbox'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchange.userMailbox
      summary: Update the navigation property userMailboxes in admin
      operationId: admin.exchange_UpdateUserMailboxes
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.userMailbox'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchange.userMailbox
      summary: Delete navigation property userMailboxes for admin
      operationId: admin.exchange_DeleteUserMailboxes
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/userMailboxes/{id}/archive':
    description: Provides operations to manage the archive property of the microsoft.exoServices.api.userMailbox entity.
    get:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Get archive from admin
      operationId: admin.exchange.userMailboxes_GetArchive
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailbox'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Update the navigation property archive in admin
      operationId: admin.exchange.userMailboxes_UpdateArchive
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailbox'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Delete navigation property archive for admin
      operationId: admin.exchange.userMailboxes_DeleteArchive
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/userMailboxes/{id}/archive/shards':
    description: Provides operations to manage the shards property of the microsoft.exoServices.api.exchangeMailbox entity.
    get:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Get shards from admin
      operationId: admin.exchange.userMailboxes.archive_ListShards
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.exoServices.api.mailboxShardCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/userMailboxes/{id}/primary/shards'
  '/admin/exchange/userMailboxes/{id}/archive/shards/{id1}':
    description: Provides operations to manage the shards property of the microsoft.exoServices.api.exchangeMailbox entity.
    get:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Get shards from admin
      operationId: admin.exchange.userMailboxes.archive_GetShards
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - name: id1
          in: path
          description: The unique identifier of mailboxShard
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailboxShard
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.mailboxShard'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/userMailboxes/{id}/primary/shards/{id1}'
  '/admin/exchange/userMailboxes/{id}/archive/shards/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Get the number of the resource
      operationId: admin.exchange.userMailboxes.archive.shards_GetCount
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/admin/exchange/userMailboxes/{id}/primary':
    description: Provides operations to manage the primary property of the microsoft.exoServices.api.userMailbox entity.
    get:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Get primary from admin
      operationId: admin.exchange.userMailboxes_GetPrimary
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailbox'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Update the navigation property primary in admin
      operationId: admin.exchange.userMailboxes_UpdatePrimary
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailbox'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Delete navigation property primary for admin
      operationId: admin.exchange.userMailboxes_DeletePrimary
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/userMailboxes/{id}/primary/shards':
    description: Provides operations to manage the shards property of the microsoft.exoServices.api.exchangeMailbox entity.
    get:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Get shards from admin
      operationId: admin.exchange.userMailboxes.primary_ListShards
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.exoServices.api.mailboxShardCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/userMailboxes/{id}/archive/shards'
  '/admin/exchange/userMailboxes/{id}/primary/shards/{id1}':
    description: Provides operations to manage the shards property of the microsoft.exoServices.api.exchangeMailbox entity.
    get:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Get shards from admin
      operationId: admin.exchange.userMailboxes.primary_GetShards
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - name: id1
          in: path
          description: The unique identifier of mailboxShard
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailboxShard
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.mailboxShard'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/userMailboxes/{id}/archive/shards/{id1}'
  '/admin/exchange/userMailboxes/{id}/primary/shards/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.userMailboxes.exchangeMailbox
      summary: Get the number of the resource
      operationId: admin.exchange.userMailboxes.primary.shards_GetCount
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/admin/exchange/userMailboxes/{id}/user':
    description: Provides operations to manage the user property of the microsoft.exoServices.api.userMailbox entity.
    get:
      tags:
        - admin.exchange.userMailboxes.user
      summary: Get user from admin
      operationId: admin.exchange.userMailboxes_GetUser
      parameters:
        - name: id
          in: path
          description: The unique identifier of userMailbox
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userMailbox
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.directoryService.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/exchange/userMailboxes/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.userMailbox
      summary: Get the number of the resource
      operationId: admin.exchange.userMailboxes_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/exchange/users:
    description: Provides operations to manage the users property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.exchangeUser
      summary: Get users from admin
      operationId: admin.exchange_ListUsers
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.exoServices.api.exchangeUserCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.exchange.exchangeUser
      summary: Create new navigation property to users for admin
      operationId: admin.exchange_CreateUsers
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.exchangeUser'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.exchangeUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/users/{id}':
    description: Provides operations to manage the users property of the microsoft.exoServices.api.exchangeAdmin entity.
    get:
      tags:
        - admin.exchange.exchangeUser
      summary: Get users from admin
      operationId: admin.exchange_GetUsers
      parameters:
        - name: id
          in: path
          description: The unique identifier of exchangeUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: exchangeUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.exchangeUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.exchange.exchangeUser
      summary: Update the navigation property users in admin
      operationId: admin.exchange_UpdateUsers
      parameters:
        - name: id
          in: path
          description: The unique identifier of exchangeUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: exchangeUser
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.exchangeUser'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.exchange.exchangeUser
      summary: Delete navigation property users for admin
      operationId: admin.exchange_DeleteUsers
      parameters:
        - name: id
          in: path
          description: The unique identifier of exchangeUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: exchangeUser
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/exchange/users/{id}/directReports':
    description: Provides operations to manage the directReports property of the microsoft.exoServices.api.orgPerson entity.
    get:
      tags:
        - admin.exchange.users.directoryObject
      summary: Get directReports from admin
      operationId: admin.exchange.users_ListDirectReports
      parameters:
        - name: id
          in: path
          description: The unique identifier of exchangeUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: exchangeUser
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.directoryService.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/aadUsers/{id}/directReports'
  '/admin/exchange/users/{id}/directReports()':
    description: Provides operations to manage the directReports property of the microsoft.exoServices.api.orgPerson entity.
    get:
      tags:
        - admin.exchange.users.directoryObject
      summary: Get directReports from admin
      operationId: admin.exchange.users_GetDirectReports
      parameters:
        - name: id
          in: path
          description: The unique identifier of exchangeUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: exchangeUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/aadUsers/{id}/directReports()'
  '/admin/exchange/users/{id}/directReports/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.users.directoryObject
      summary: Get the number of the resource
      operationId: admin.exchange.users.directReports_GetCount
      parameters:
        - name: id
          in: path
          description: The unique identifier of exchangeUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: exchangeUser
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/admin/exchange/users/{id}/manager':
    description: Provides operations to manage the manager property of the microsoft.exoServices.api.orgPerson entity.
    get:
      tags:
        - admin.exchange.users.directoryObject
      summary: Get manager from admin
      operationId: admin.exchange.users_GetManager
      parameters:
        - name: id
          in: path
          description: The unique identifier of exchangeUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: exchangeUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
      - '/admin/exchange/aadUsers/{id}/manager'
  '/admin/exchange/users/{id}/roleAssignmentPolicy':
    description: Provides operations to manage the roleAssignmentPolicy property of the microsoft.exoServices.api.exchangeUser entity.
    get:
      tags:
        - admin.exchange.users.roleAssignmentPolicy
      summary: Get roleAssignmentPolicy from admin
      operationId: admin.exchange.users_GetRoleAssignmentPolicy
      parameters:
        - name: id
          in: path
          description: The unique identifier of exchangeUser
          required: true
          schema:
            type: string
          x-ms-docs-key-type: exchangeUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.roleAssignmentPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/exchange/users/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - admin.exchange.exchangeUser
      summary: Get the number of the resource
      operationId: admin.exchange.users_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /directoryObjects:
    description: Provides operations to manage the collection of directoryObject entities.
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entities from directoryObjects
      operationId: directoryObjects.directoryObject_ListDirectoryObject
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.directoryService.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - directoryObjects.directoryObject
      summary: Add new entity to directoryObjects
      operationId: directoryObjects.directoryObject_CreateDirectoryObject
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directoryObjects():
    description: Provides operations to manage the collection of directoryObject entities.
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get entity from directoryObjects by key
      operationId: directoryObjects.directoryObject_GetDirectoryObject
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directoryObjects.directoryObject
      summary: Update entity in directoryObjects
      operationId: directoryObjects.directoryObject_UpdateDirectoryObject
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directoryObjects.directoryObject
      summary: Delete entity from directoryObjects
      operationId: directoryObjects.directoryObject_DeleteDirectoryObject
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directoryObjects/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - directoryObjects.directoryObject
      summary: Get the number of the resource
      operationId: directoryObjects_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users:
    description: Provides operations to manage the collection of user entities.
    get:
      tags:
        - users.user
      summary: Get entities from users
      operationId: users.user_ListUser
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.directoryService.userCollectionResponse'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.user
      summary: Add new entity to users
      operationId: users.user_CreateUser
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.directoryService.user'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.directoryService.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users():
    description: Provides operations to manage the collection of user entities.
    get:
      tags:
        - users.user
      summary: Get entity from users by key
      operationId: users.user_GetUser
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.directoryService.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.user
      summary: Update entity in users
      operationId: users.user_UpdateUser
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.directoryService.user'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.user
      summary: Delete entity from users
      operationId: users.user_DeleteUser
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users()/exchange:
    description: Provides operations to manage the exchange property of the microsoft.directoryService.user entity.
    get:
      tags:
        - users.userExchangeDetails
      summary: Get exchange from users
      operationId: users_GetExchange
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.userExchangeDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userExchangeDetails
      summary: Update the navigation property exchange in users
      operationId: users_UpdateExchange
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.exoServices.api.userExchangeDetails'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userExchangeDetails
      summary: Delete navigation property exchange for users
      operationId: users_DeleteExchange
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users()/exchange/roleAssignmentPolicy:
    description: Provides operations to manage the roleAssignmentPolicy property of the microsoft.exoServices.api.userExchangeDetails entity.
    get:
      tags:
        - users.exchange.roleAssignmentPolicy
      summary: Get roleAssignmentPolicy from users
      operationId: users.exchange_GetRoleAssignmentPolicy
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.exoServices.api.roleAssignmentPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - users.user
      summary: Get the number of the resource
      operationId: users_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.directoryService.user:
      title: user
      type: object
      properties:
        exchange:
          anyOf:
            - $ref: '#/components/schemas/microsoft.exoServices.api.userExchangeDetails'
            - type: object
              nullable: true
          x-ms-navigationProperty: true
    microsoft.directoryService.directoryObject:
      title: directoryObject
      type: object
    microsoft.graph.admin:
      title: admin
      type: object
      properties:
        exchange:
          anyOf:
            - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeAdmin'
            - type: object
              nullable: true
          x-ms-navigationProperty: true
    microsoft.exoServices.api.exchangeAdmin:
      title: exchangeAdmin
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.exoServices.api.exchangeUser'
          x-ms-navigationProperty: true
        aadUsers:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.exoServices.api.aadUser'
          x-ms-navigationProperty: true
        roleAssignmentPolicies:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.exoServices.api.roleAssignmentPolicy'
          x-ms-navigationProperty: true
        mailboxPlans:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.exoServices.api.mailboxPlan'
          x-ms-navigationProperty: true
        retentionPolicies:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.exoServices.api.retentionPolicy'
          x-ms-navigationProperty: true
        userMailboxes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.exoServices.api.userMailbox'
          x-ms-navigationProperty: true
    microsoft.exoServices.api.userExchangeDetails:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeEntity'
        - title: userExchangeDetails
          type: object
          properties:
            isModerationEnabled:
              type: boolean
              nullable: true
            moderatedBy:
              type: string
              nullable: true
            customAttributes:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.customAttributes'
                - type: object
                  nullable: true
            emailReceiveRestrictionSettings:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.emailReceiveRestrictionSettings'
                - type: object
                  nullable: true
            isAccountDisabled:
              type: boolean
              nullable: true
            userType:
              type: string
              nullable: true
            lastManagerChangedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            mailbox:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.mailboxContainer'
                - type: object
                  nullable: true
            roleAssignmentPolicy:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.roleAssignmentPolicy'
                - type: object
                  nullable: true
              x-ms-navigationProperty: true
    microsoft.exoServices.api.exchangeEntity:
      title: exchangeEntity
      type: object
      properties:
        id:
          type: string
        objectType:
          type: string
        createdDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
        lastModifiedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
    microsoft.exoServices.api.exchangeMailbox:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeEntity'
        - title: exchangeMailbox
          type: object
          properties:
            type:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailboxType'
                - type: object
                  nullable: true
            shards:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.exoServices.api.mailboxShard'
              x-ms-navigationProperty: true
    microsoft.exoServices.api.mailboxShard:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeEntity'
        - title: mailboxShard
          type: object
          properties:
            type:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.mailboxShardType'
                - type: object
                  nullable: true
            databaseId:
              type: string
              nullable: true
    microsoft.exoServices.api.mailboxContainer:
      title: mailboxContainer
      type: object
      properties:
        settings:
          anyOf:
            - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailboxSettings'
            - type: object
              nullable: true
        enabledMailboxTypes:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailboxType'
              - type: object
                nullable: true
        primary:
          anyOf:
            - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailbox'
            - type: object
              nullable: true
          x-ms-navigationProperty: true
        archive:
          anyOf:
            - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailbox'
            - type: object
              nullable: true
          x-ms-navigationProperty: true
    microsoft.exoServices.api.exchangeMailboxSettings:
      title: exchangeMailboxSettings
      type: object
      properties:
        dataRetentionSettings:
          anyOf:
            - $ref: '#/components/schemas/microsoft.exoServices.api.dataRetentionSettings'
            - type: object
              nullable: true
        auditingSettings:
          anyOf:
            - $ref: '#/components/schemas/microsoft.exoServices.api.auditingSettings'
            - type: object
              nullable: true
    microsoft.exoServices.api.customAttributes:
      title: customAttributes
      type: object
      properties:
        customAttribute1:
          type: string
          nullable: true
        extensionCustomAttribute2:
          type: array
          items:
            type: string
            nullable: true
    microsoft.exoServices.api.emailReceiveRestrictionSettings:
      title: emailReceiveRestrictionSettings
      type: object
      properties:
        acceptMessagesOnlyFrom:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.exoServices.api.exchangeEntity'
          x-ms-navigationProperty: true
    microsoft.exoServices.api.dataRetentionSettings:
      title: dataRetentionSettings
      type: object
      properties:
        isLitigationHoldEnabled:
          type: boolean
          nullable: true
        isRetentionHoldEnabled:
          type: boolean
          nullable: true
        isDelayHoldApplied:
          type: boolean
          nullable: true
        isDelayReleaseHoldApplied:
          type: boolean
          nullable: true
        inPlaceHolds:
          type: array
          items:
            type: string
            nullable: true
        retentionPolicy:
          anyOf:
            - $ref: '#/components/schemas/microsoft.exoServices.api.retentionPolicy'
            - type: object
              nullable: true
          x-ms-navigationProperty: true
    microsoft.exoServices.api.auditingSettings:
      title: auditingSettings
      type: object
      properties:
        isAuditEnabled:
          type: boolean
          nullable: true
        auditAdminOperations:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/microsoft.exoServices.api.mailboxAuditOperation'
              - type: object
                nullable: true
    microsoft.exoServices.api.userMailbox:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeEntity'
        - title: userMailbox
          type: object
          properties:
            mailboxSettings:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailboxSettings'
                - type: object
                  nullable: true
            enabledMailboxTypes:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailboxType'
                  - type: object
                    nullable: true
            userExchangeConfigurations:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.userExchangeConfigurations'
                - type: object
                  nullable: true
            primary:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailbox'
                - type: object
                  nullable: true
              x-ms-navigationProperty: true
            archive:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeMailbox'
                - type: object
                  nullable: true
              x-ms-navigationProperty: true
            user:
              anyOf:
                - $ref: '#/components/schemas/microsoft.directoryService.user'
                - type: object
                  nullable: true
              x-ms-navigationProperty: true
    microsoft.exoServices.api.roleAssignmentPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeEntity'
        - title: roleAssignmentPolicy
          type: object
    microsoft.exoServices.api.mailboxPlan:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeEntity'
        - title: mailboxPlan
          type: object
    microsoft.exoServices.api.retentionPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeEntity'
        - title: retentionPolicy
          type: object
    microsoft.exoServices.api.orgPerson:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.exchangeEntity'
        - title: orgPerson
          type: object
          properties:
            lastManagerChangedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            manager:
              anyOf:
                - $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
                - type: object
                  nullable: true
              x-ms-navigationProperty: true
            directReports:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.directoryService.directoryObject'
              x-ms-navigationProperty: true
    microsoft.exoServices.api.aadUser:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.orgPerson'
        - title: aadUser
          type: object
          properties:
            mail:
              type: string
              nullable: true
            proxyAddresses:
              type: array
              items:
                type: string
            mailNickname:
              type: string
              nullable: true
            userPrincipalName:
              type: string
              nullable: true
            exchange:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.userExchangeDetails'
                - type: object
                  nullable: true
              x-ms-navigationProperty: true
    microsoft.exoServices.api.exchangeUser:
      allOf:
        - $ref: '#/components/schemas/microsoft.exoServices.api.orgPerson'
        - title: exchangeUser
          type: object
          properties:
            mail:
              type: string
              nullable: true
            proxyAddresses:
              type: array
              items:
                type: string
            mailNickname:
              type: string
              nullable: true
            userPrincipalName:
              type: string
              nullable: true
            isModerationEnabled:
              type: boolean
              nullable: true
            moderatedBy:
              type: string
              nullable: true
            customAttributes:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.customAttributes'
                - type: object
                  nullable: true
            emailReceiveRestrictionSettings:
              anyOf:
                - $ref: '#/components/schemas/microsoft.exoServices.api.emailReceiveRestrictionSettings'
                - type: object
                  nullable: true
            isAccountDisabled:
              type: boolean
              nullable: true
[...]
