openapi: 3.0.1
info:
  title: Files.Shares
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /shares:
    get:
      tags:
        - shares.sharedDriveItem
      summary: Get entities from shares
      operationId: shares.sharedDriveItem_ListSharedDriveItem
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - owner
                - owner desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - owner
                - createdByUser
                - lastModifiedByUser
                - driveItem
                - items
                - list
                - listItem
                - permission
                - root
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - driveItem
                - items
                - list
                - listItem
                - permission
                - root
                - site
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of sharedDriveItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sharedDriveItem'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - shares.sharedDriveItem
      summary: Add new entity to shares
      operationId: shares.sharedDriveItem_CreateSharedDriveItem
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedDriveItem'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedDriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}':
    get:
      tags:
        - shares.sharedDriveItem
      summary: Get entity from shares by key
      operationId: shares.sharedDriveItem_GetSharedDriveItem
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - owner
                - createdByUser
                - lastModifiedByUser
                - driveItem
                - items
                - list
                - listItem
                - permission
                - root
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - driveItem
                - items
                - list
                - listItem
                - permission
                - root
                - site
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedDriveItem'
          links:
            driveItem:
              operationId: shares.GetDriveItem
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $response.body#/id
            items:
              operationId: shares.GetItems
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $response.body#/id
            list:
              operationId: shares.GetList
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                list-id: $response.body#/id
            listItem:
              operationId: shares.GetListItem
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $response.body#/id
            permission:
              operationId: shares.GetPermission
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                permission-id: $response.body#/id
            root:
              operationId: shares.GetRoot
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $response.body#/id
            site:
              operationId: shares.GetSite
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                site-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - shares.sharedDriveItem
      summary: Update entity in shares
      operationId: shares.sharedDriveItem_UpdateSharedDriveItem
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedDriveItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - shares.sharedDriveItem
      summary: Delete entity from shares
      operationId: shares.sharedDriveItem_DeleteSharedDriveItem
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/driveItem':
    get:
      tags:
        - shares.driveItem
      summary: Get driveItem from shares
      operationId: shares_GetDriveItem
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - package
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
          links:
            workbook:
              operationId: sharedDriveItem.driveItem.GetWorkbook
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                workbook-id: $response.body#/id
            analytics:
              operationId: sharedDriveItem.driveItem.GetAnalytics
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                itemAnalytics-id: $response.body#/id
            children:
              operationId: sharedDriveItem.driveItem.GetChildren
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $response.body#/id
            listItem:
              operationId: sharedDriveItem.driveItem.GetListItem
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $response.body#/id
            permissions:
              operationId: sharedDriveItem.driveItem.GetPermissions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                permission-id: $response.body#/id
            subscriptions:
              operationId: sharedDriveItem.driveItem.GetSubscriptions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                subscription-id: $response.body#/id
            thumbnails:
              operationId: sharedDriveItem.driveItem.GetThumbnails
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                thumbnailSet-id: $response.body#/id
            versions:
              operationId: sharedDriveItem.driveItem.GetVersions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItemVersion-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.driveItem
      summary: Update the navigation property driveItem in shares
      operationId: shares_UpdateDriveItem
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/items':
    get:
      tags:
        - shares.driveItem
      summary: Get items from shares
      operationId: shares_ListItems
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - audio
                - audio desc
                - content
                - content desc
                - cTag
                - cTag desc
                - deleted
                - deleted desc
                - file
                - file desc
                - fileSystemInfo
                - fileSystemInfo desc
                - folder
                - folder desc
                - image
                - image desc
                - location
                - location desc
                - package
                - package desc
                - photo
                - photo desc
                - publication
                - publication desc
                - remoteItem
                - remoteItem desc
                - root
                - root desc
                - searchResult
                - searchResult desc
                - shared
                - shared desc
                - sharepointIds
                - sharepointIds desc
                - size
                - size desc
                - specialFolder
                - specialFolder desc
                - video
                - video desc
                - webDavUrl
                - webDavUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - package
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of driveItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - shares.driveItem
      summary: Create new navigation property to items for shares
      operationId: shares_CreateItems
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/items/{driveItem-id}':
    get:
      tags:
        - shares.driveItem
      summary: Get items from shares
      operationId: shares_GetItems
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: driveItem-id
          in: path
          description: 'key: driveItem-id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - package
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
          links:
            workbook:
              operationId: sharedDriveItem.items.GetWorkbook
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $request.path.driveItem-id
                workbook-id: $response.body#/id
            analytics:
              operationId: sharedDriveItem.items.GetAnalytics
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $request.path.driveItem-id
                itemAnalytics-id: $response.body#/id
            children:
              operationId: sharedDriveItem.items.GetChildren
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $response.body#/id
            listItem:
              operationId: sharedDriveItem.items.GetListItem
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $request.path.driveItem-id
                listItem-id: $response.body#/id
            permissions:
              operationId: sharedDriveItem.items.GetPermissions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $request.path.driveItem-id
                permission-id: $response.body#/id
            subscriptions:
              operationId: sharedDriveItem.items.GetSubscriptions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $request.path.driveItem-id
                subscription-id: $response.body#/id
            thumbnails:
              operationId: sharedDriveItem.items.GetThumbnails
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $request.path.driveItem-id
                thumbnailSet-id: $response.body#/id
            versions:
              operationId: sharedDriveItem.items.GetVersions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $request.path.driveItem-id
                driveItemVersion-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.driveItem
      summary: Update the navigation property items in shares
      operationId: shares_UpdateItems
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: driveItem-id
          in: path
          description: 'key: driveItem-id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list':
    get:
      tags:
        - shares.list
      summary: Get list from shares
      operationId: shares_GetList
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - displayName
                - list
                - sharepointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - columns
                - contentTypes
                - drive
                - items
                - subscriptions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - columns
                - contentTypes
                - drive
                - items
                - subscriptions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.list'
          links:
            columns:
              operationId: sharedDriveItem.list.GetColumns
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                columnDefinition-id: $response.body#/id
            contentTypes:
              operationId: sharedDriveItem.list.GetContentTypes
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                contentType-id: $response.body#/id
            drive:
              operationId: sharedDriveItem.list.GetDrive
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                drive-id: $response.body#/id
            items:
              operationId: sharedDriveItem.list.GetItems
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $response.body#/id
            subscriptions:
              operationId: sharedDriveItem.list.GetSubscriptions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                subscription-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property list in shares
      operationId: shares_UpdateList
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.list'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/columns':
    get:
      tags:
        - shares.list
      summary: Get columns from shares
      operationId: shares.list_ListColumns
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - boolean
                - boolean desc
                - calculated
                - calculated desc
                - choice
                - choice desc
                - columnGroup
                - columnGroup desc
                - currency
                - currency desc
                - dateTime
                - dateTime desc
                - defaultValue
                - defaultValue desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enforceUniqueValues
                - enforceUniqueValues desc
                - hidden
                - hidden desc
                - indexed
                - indexed desc
                - lookup
                - lookup desc
                - name
                - name desc
                - number
                - number desc
                - personOrGroup
                - personOrGroup desc
                - readOnly
                - readOnly desc
                - required
                - required desc
                - text
                - text desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - hidden
                - indexed
                - lookup
                - name
                - number
                - personOrGroup
                - readOnly
                - required
                - text
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of columnDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - shares.list
      summary: Create new navigation property to columns for shares
      operationId: shares.list_CreateColumns
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/columns/{columnDefinition-id}':
    get:
      tags:
        - shares.list
      summary: Get columns from shares
      operationId: shares.list_GetColumns
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: columnDefinition-id
          in: path
          description: 'key: columnDefinition-id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - boolean
                - calculated
                - choice
                - columnGroup
                - currency
                - dateTime
                - defaultValue
                - description
                - displayName
                - enforceUniqueValues
                - hidden
                - indexed
                - lookup
                - name
                - number
                - personOrGroup
                - readOnly
                - required
                - text
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property columns in shares
      operationId: shares.list_UpdateColumns
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: columnDefinition-id
          in: path
          description: 'key: columnDefinition-id of columnDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/contentTypes':
    get:
      tags:
        - shares.list
      summary: Get contentTypes from shares
      operationId: shares.list_ListContentTypes
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - group
                - group desc
                - hidden
                - hidden desc
                - inheritedFrom
                - inheritedFrom desc
                - name
                - name desc
                - order
                - order desc
                - parentId
                - parentId desc
                - readOnly
                - readOnly desc
                - sealed
                - sealed desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - group
                - hidden
                - inheritedFrom
                - name
                - order
                - parentId
                - readOnly
                - sealed
                - columnLinks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - columnLinks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of contentType
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contentType'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - shares.list
      summary: Create new navigation property to contentTypes for shares
      operationId: shares.list_CreateContentTypes
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentType'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}':
    get:
      tags:
        - shares.list
      summary: Get contentTypes from shares
      operationId: shares.list_GetContentTypes
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: contentType-id
          in: path
          description: 'key: contentType-id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - group
                - hidden
                - inheritedFrom
                - name
                - order
                - parentId
                - readOnly
                - sealed
                - columnLinks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - columnLinks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentType'
          links:
            columnLinks:
              operationId: list.contentTypes.GetColumnLinks
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                contentType-id: $request.path.contentType-id
                columnLink-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property contentTypes in shares
      operationId: shares.list_UpdateContentTypes
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: contentType-id
          in: path
          description: 'key: contentType-id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentType'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columnLinks':
    get:
      tags:
        - shares.list
      summary: Get columnLinks from shares
      operationId: shares.list.contentTypes_ListColumnLinks
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: contentType-id
          in: path
          description: 'key: contentType-id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of columnLink
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.columnLink'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - shares.list
      summary: Create new navigation property to columnLinks for shares
      operationId: shares.list.contentTypes_CreateColumnLinks
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: contentType-id
          in: path
          description: 'key: contentType-id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnLink'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnLink'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columnLinks/{columnLink-id}':
    get:
      tags:
        - shares.list
      summary: Get columnLinks from shares
      operationId: shares.list.contentTypes_GetColumnLinks
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: contentType-id
          in: path
          description: 'key: contentType-id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnLink-id
          in: path
          description: 'key: columnLink-id of columnLink'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnLink
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.columnLink'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property columnLinks in shares
      operationId: shares.list.contentTypes_UpdateColumnLinks
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: contentType-id
          in: path
          description: 'key: contentType-id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
        - name: columnLink-id
          in: path
          description: 'key: columnLink-id of columnLink'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: columnLink
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.columnLink'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/drive':
    get:
      tags:
        - shares.list
      summary: Get drive from shares
      operationId: shares.list_GetDrive
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - driveType
                - owner
                - quota
                - sharePointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - following
                - items
                - list
                - root
                - special
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - following
                - items
                - list
                - root
                - special
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
          links:
            following:
              operationId: list.drive.GetFollowing
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $response.body#/id
            items:
              operationId: list.drive.GetItems
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $response.body#/id
            list:
              operationId: list.drive.GetList
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                list-id: $response.body#/id
            root:
              operationId: list.drive.GetRoot
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $response.body#/id
            special:
              operationId: list.drive.GetSpecial
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                driveItem-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property drive in shares
      operationId: shares.list_UpdateDrive
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.drive'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/items':
    get:
      tags:
        - shares.list
      summary: Get items from shares
      operationId: shares.list_ListItems
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - contentType
                - contentType desc
                - sharepointIds
                - sharepointIds desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - contentType
                - sharepointIds
                - createdByUser
                - lastModifiedByUser
                - analytics
                - driveItem
                - fields
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - analytics
                - driveItem
                - fields
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of listItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.listItem'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - shares.list
      summary: Create new navigation property to items for shares
      operationId: shares.list_CreateItems
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.listItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.listItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}':
    get:
      tags:
        - shares.list
      summary: Get items from shares
      operationId: shares.list_GetItems
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - contentType
                - sharepointIds
                - createdByUser
                - lastModifiedByUser
                - analytics
                - driveItem
                - fields
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - analytics
                - driveItem
                - fields
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.listItem'
          links:
            analytics:
              operationId: list.items.GetAnalytics
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                itemAnalytics-id: $response.body#/id
            driveItem:
              operationId: list.items.GetDriveItem
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                driveItem-id: $response.body#/id
            fields:
              operationId: list.items.GetFields
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                fieldValueSet-id: $response.body#/id
            versions:
              operationId: list.items.GetVersions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                listItemVersion-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property items in shares
      operationId: shares.list_UpdateItems
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.listItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}/analytics':
    get:
      tags:
        - shares.list
      summary: Get analytics from shares
      operationId: shares.list.items_GetAnalytics
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - itemActivityStats
                - allTime
                - lastSevenDays
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - itemActivityStats
                - allTime
                - lastSevenDays
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAnalytics'
          links:
            itemActivityStats:
              operationId: listItem.analytics.GetItemActivityStats
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                itemActivityStat-id: $response.body#/id
            allTime:
              operationId: listItem.analytics.GetAllTime
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                itemActivityStat-id: $response.body#/id
            lastSevenDays:
              operationId: listItem.analytics.GetLastSevenDays
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                itemActivityStat-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}/driveItem':
    get:
      tags:
        - shares.list
      summary: Get driveItem from shares
      operationId: shares.list.items_GetDriveItem
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - package
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
          links:
            workbook:
              operationId: listItem.driveItem.GetWorkbook
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                workbook-id: $response.body#/id
            analytics:
              operationId: listItem.driveItem.GetAnalytics
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                itemAnalytics-id: $response.body#/id
            children:
              operationId: listItem.driveItem.GetChildren
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                driveItem-id: $response.body#/id
            listItem:
              operationId: listItem.driveItem.GetListItem
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $response.body#/id
            permissions:
              operationId: listItem.driveItem.GetPermissions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                permission-id: $response.body#/id
            subscriptions:
              operationId: listItem.driveItem.GetSubscriptions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                subscription-id: $response.body#/id
            thumbnails:
              operationId: listItem.driveItem.GetThumbnails
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                thumbnailSet-id: $response.body#/id
            versions:
              operationId: listItem.driveItem.GetVersions
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                driveItemVersion-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property driveItem in shares
      operationId: shares.list.items_UpdateDriveItem
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}/fields':
    get:
      tags:
        - shares.list
      summary: Get fields from shares
      operationId: shares.list.items_GetFields
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.fieldValueSet'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property fields in shares
      operationId: shares.list.items_UpdateFields
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.fieldValueSet'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}/microsoft.graph.getActivitiesByInterval()':
    get:
      tags:
        - shares.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: shares.list.items_getActivitiesByInterval-96b0
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}/microsoft.graph.getActivitiesByInterval(startDateTime={startDateTime},endDateTime={endDateTime},interval={interval})':
    get:
      tags:
        - shares.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: shares.list.items_getActivitiesByInterval-53ee
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: startDateTime
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}/versions':
    get:
      tags:
        - shares.list
      summary: Get versions from shares
      operationId: shares.list.items_ListVersions
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - publication
                - publication desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedBy
                - lastModifiedDateTime
                - publication
                - fields
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - fields
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of listItemVersion
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.listItemVersion'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - shares.list
      summary: Create new navigation property to versions for shares
      operationId: shares.list.items_CreateVersions
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.listItemVersion'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.listItemVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}/versions/{listItemVersion-id}':
    get:
      tags:
        - shares.list
      summary: Get versions from shares
      operationId: shares.list.items_GetVersions
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: listItemVersion-id
          in: path
          description: 'key: listItemVersion-id of listItemVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItemVersion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedBy
                - lastModifiedDateTime
                - publication
                - fields
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - fields
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.listItemVersion'
          links:
            fields:
              operationId: listItem.versions.GetFields
              parameters:
                sharedDriveItem-id: $request.path.sharedDriveItem-id
                listItem-id: $request.path.listItem-id
                listItemVersion-id: $request.path.listItemVersion-id
                fieldValueSet-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property versions in shares
      operationId: shares.list.items_UpdateVersions
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: listItemVersion-id
          in: path
          description: 'key: listItemVersion-id of listItemVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItemVersion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.listItemVersion'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}/versions/{listItemVersion-id}/fields':
    get:
      tags:
        - shares.list
      summary: Get fields from shares
      operationId: shares.list.items.versions_GetFields
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: listItemVersion-id
          in: path
          description: 'key: listItemVersion-id of listItemVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItemVersion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.fieldValueSet'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property fields in shares
      operationId: shares.list.items.versions_UpdateFields
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: listItemVersion-id
          in: path
          description: 'key: listItemVersion-id of listItemVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItemVersion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.fieldValueSet'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/items/{listItem-id}/versions/{listItemVersion-id}/microsoft.graph.restoreVersion':
    post:
      tags:
        - shares.Actions
      summary: Invoke action restoreVersion
      operationId: shares.list.items.versions_restoreVersion
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: listItem-id
          in: path
          description: 'key: listItem-id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: listItemVersion-id
          in: path
          description: 'key: listItemVersion-id of listItemVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItemVersion
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/shares/{sharedDriveItem-id}/list/subscriptions':
    get:
      tags:
        - shares.list
      summary: Get subscriptions from shares
      operationId: shares.list_ListSubscriptions
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - resource
                - resource desc
                - changeType
                - changeType desc
                - clientState
                - clientState desc
                - notificationUrl
                - notificationUrl desc
                - expirationDateTime
                - expirationDateTime desc
                - applicationId
                - applicationId desc
                - creatorId
                - creatorId desc
                - latestSupportedTlsVersion
                - latestSupportedTlsVersion desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resource
                - changeType
                - clientState
                - notificationUrl
                - expirationDateTime
                - applicationId
                - creatorId
                - latestSupportedTlsVersion
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of subscription
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.subscription'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - shares.list
      summary: Create new navigation property to subscriptions for shares
      operationId: shares.list_CreateSubscriptions
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscription'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/list/subscriptions/{subscription-id}':
    get:
      tags:
        - shares.list
      summary: Get subscriptions from shares
      operationId: shares.list_GetSubscriptions
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: subscription-id
          in: path
          description: 'key: subscription-id of subscription'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: subscription
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resource
                - changeType
                - clientState
                - notificationUrl
                - expirationDateTime
                - applicationId
                - creatorId
                - latestSupportedTlsVersion
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscription'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - shares.list
      summary: Update the navigation property subscriptions in shares
      operationId: shares.list_UpdateSubscriptions
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: subscription-id
          in: path
          description: 'key: subscription-id of subscription'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: subscription
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscription'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/shares/{sharedDriveItem-id}/listItem':
    get:
      tags:
        - shares.listItem
      summary: Get listItem from shares
      operationId: shares_GetListItem
      parameters:
        - name: sharedDriveItem-id
          in: path
          description: 'key: sharedDriveItem-id of sharedDriveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedDriveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - contentType
                - sharepointIds
                - createdByUser
                - lastModifiedByUser
                - analytics
                - driveItem
                - fields
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
[...]
