openapi: 3.0.1
info:
  title: Groups.LifecyclePolicies
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /groupLifecyclePolicies:
    get:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Get entities from groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_ListGroupLifecyclePolicy
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - groupLifetimeInDays
                - groupLifetimeInDays desc
                - managedGroupTypes
                - managedGroupTypes desc
                - alternateNotificationEmails
                - alternateNotificationEmails desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - groupLifetimeInDays
                - managedGroupTypes
                - alternateNotificationEmails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of groupLifecyclePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Add new entity to groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_CreateGroupLifecyclePolicy
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groupLifecyclePolicies/{groupLifecyclePolicy-id}':
    get:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Get entity from groupLifecyclePolicies by key
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_GetGroupLifecyclePolicy
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: groupLifecyclePolicy-id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - groupLifetimeInDays
                - managedGroupTypes
                - alternateNotificationEmails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Update entity in groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_UpdateGroupLifecyclePolicy
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: groupLifecyclePolicy-id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Delete entity from groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_DeleteGroupLifecyclePolicy
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: groupLifecyclePolicy-id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groupLifecyclePolicies/{groupLifecyclePolicy-id}/microsoft.graph.addGroup':
    post:
      tags:
        - groupLifecyclePolicies.Actions
      summary: Invoke action addGroup
      operationId: groupLifecyclePolicies_addGroup
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: groupLifecyclePolicy-id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
                default: false
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groupLifecyclePolicies/{groupLifecyclePolicy-id}/microsoft.graph.removeGroup':
    post:
      tags:
        - groupLifecyclePolicies.Actions
      summary: Invoke action removeGroup
      operationId: groupLifecyclePolicies_removeGroup
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: groupLifecyclePolicy-id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
                default: false
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.groupLifecyclePolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: groupLifecyclePolicy
          type: object
          properties:
            groupLifetimeInDays:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: 'Number of days before a group expires and needs to be renewed. Once renewed, the group expiration is extended by the number of days defined.'
              format: int32
              nullable: true
            managedGroupTypes:
              type: string
              description: 'The group type for which the expiration policy applies. Possible values are All, Selected or None.'
              nullable: true
            alternateNotificationEmails:
              type: string
              description: List of email address to send notifications for groups without owners. Multiple email address can be defined by separating email address with a semicolon.
              nullable: true
      example:
        id: string (identifier)
        groupLifetimeInDays: integer
        managedGroupTypes: string
        alternateNotificationEmails: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]