openapi: 3.0.1
info:
  title: Identity.DirectoryRoles
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /directoryRoles:
    get:
      tags:
        - directoryRoles.directoryRole
      summary: Get entities from directoryRoles
      operationId: directoryRoles.directoryRole_ListDirectoryRole
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - roleTemplateId
                - roleTemplateId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - roleTemplateId
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of directoryRole
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryRole'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - directoryRoles.directoryRole
      summary: Add new entity to directoryRoles
      operationId: directoryRoles.directoryRole_CreateDirectoryRole
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRole'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoles/{directoryRole-id}':
    get:
      tags:
        - directoryRoles.directoryRole
      summary: Get entity from directoryRoles by key
      operationId: directoryRoles.directoryRole_GetDirectoryRole
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - roleTemplateId
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRole'
          links:
            members:
              operationId: directoryRoles.GetMembers
              parameters:
                directoryRole-id: $request.path.directoryRole-id
                directoryObject-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directoryRoles.directoryRole
      summary: Update entity in directoryRoles
      operationId: directoryRoles.directoryRole_UpdateDirectoryRole
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directoryRoles.directoryRole
      summary: Delete entity from directoryRoles
      operationId: directoryRoles.directoryRole_DeleteDirectoryRole
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoles/{directoryRole-id}/members':
    get:
      tags:
        - directoryRoles.directoryObject
      summary: Get members from directoryRoles
      operationId: directoryRoles_ListMembers
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/directoryRoles/{directoryRole-id}/members/{directoryObject-id}':
    get:
      tags:
        - directoryRoles.directoryObject
      summary: Get members from directoryRoles
      operationId: directoryRoles_GetMembers
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/directoryRoles/{directoryRole-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - directoryRoles.Actions
      summary: Invoke action checkMemberGroups
      operationId: directoryRoles_checkMemberGroups
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/directoryRoles/{directoryRole-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - directoryRoles.Actions
      summary: Invoke action checkMemberObjects
      operationId: directoryRoles_checkMemberObjects
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/directoryRoles/{directoryRole-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - directoryRoles.Actions
      summary: Invoke action getMemberGroups
      operationId: directoryRoles_getMemberGroups
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/directoryRoles/{directoryRole-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - directoryRoles.Actions
      summary: Invoke action getMemberObjects
      operationId: directoryRoles_getMemberObjects
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/directoryRoles/{directoryRole-id}/microsoft.graph.restore':
    post:
      tags:
        - directoryRoles.Actions
      summary: Invoke action restore
      operationId: directoryRoles_restore
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /directoryRoles/microsoft.graph.delta():
    get:
      tags:
        - directoryRoles.Functions
      summary: Invoke function delta
      operationId: directoryRoles_delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /directoryRoles/microsoft.graph.getByIds:
    post:
      tags:
        - directoryRoles.Actions
      summary: Invoke action getByIds
      operationId: directoryRoles_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /directoryRoles/microsoft.graph.validateProperties:
    post:
      tags:
        - directoryRoles.Actions
      summary: Invoke action validateProperties
      operationId: directoryRoles_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.directoryRole:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: directoryRole
          type: object
          properties:
            description:
              type: string
              description: The description for the directory role. Read-only.
              nullable: true
            displayName:
              type: string
              description: The display name for the directory role. Read-only.
              nullable: true
            roleTemplateId:
              type: string
              description: 'The id of the directoryRoleTemplate that this role is based on. The property must be specified when activating a directory role in a tenant with a POST operation. After the directory role has been activated, the property is read only.'
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Users that are members of this directory role. HTTP Methods: GET, POST, DELETE. Read-only. Nullable.'
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
        roleTemplateId: string
        members:
          - '@odata.type': microsoft.graph.directoryObject
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]