openapi: 3.0.1
info:
  title: Identity.ServicePrincipal
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /servicePrincipals:
    get:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Get entities from servicePrincipals
      operationId: servicePrincipals.servicePrincipal_ListServicePrincipal
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - addIns
                - addIns desc
                - alternativeNames
                - alternativeNames desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - applicationTemplateId
                - applicationTemplateId desc
                - appOwnerOrganizationId
                - appOwnerOrganizationId desc
                - appRoleAssignmentRequired
                - appRoleAssignmentRequired desc
                - appRoles
                - appRoles desc
                - displayName
                - displayName desc
                - homepage
                - homepage desc
                - info
                - info desc
                - keyCredentials
                - keyCredentials desc
                - loginUrl
                - loginUrl desc
                - logoutUrl
                - logoutUrl desc
                - notificationEmailAddresses
                - notificationEmailAddresses desc
                - oauth2PermissionScopes
                - oauth2PermissionScopes desc
                - passwordCredentials
                - passwordCredentials desc
                - preferredSingleSignOnMode
                - preferredSingleSignOnMode desc
                - replyUrls
                - replyUrls desc
                - servicePrincipalNames
                - servicePrincipalNames desc
                - samlSingleSignOnSettings
                - samlSingleSignOnSettings desc
                - servicePrincipalType
                - servicePrincipalType desc
                - tags
                - tags desc
                - tokenEncryptionKeyId
                - tokenEncryptionKeyId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - addIns
                - alternativeNames
                - appDisplayName
                - appId
                - applicationTemplateId
                - appOwnerOrganizationId
                - appRoleAssignmentRequired
                - appRoles
                - displayName
                - homepage
                - info
                - keyCredentials
                - loginUrl
                - logoutUrl
                - notificationEmailAddresses
                - oauth2PermissionScopes
                - passwordCredentials
                - preferredSingleSignOnMode
                - replyUrls
                - servicePrincipalNames
                - samlSingleSignOnSettings
                - servicePrincipalType
                - tags
                - tokenEncryptionKeyId
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - endpoints
                - homeRealmDiscoveryPolicies
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - owners
                - ownedObjects
                - tokenIssuancePolicies
                - tokenLifetimePolicies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - endpoints
                - homeRealmDiscoveryPolicies
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - owners
                - ownedObjects
                - tokenIssuancePolicies
                - tokenLifetimePolicies
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of servicePrincipal
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Add new entity to servicePrincipals
      operationId: servicePrincipals.servicePrincipal_CreateServicePrincipal
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}':
    get:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Get entity from servicePrincipals by key
      operationId: servicePrincipals.servicePrincipal_GetServicePrincipal
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - addIns
                - alternativeNames
                - appDisplayName
                - appId
                - applicationTemplateId
                - appOwnerOrganizationId
                - appRoleAssignmentRequired
                - appRoles
                - displayName
                - homepage
                - info
                - keyCredentials
                - loginUrl
                - logoutUrl
                - notificationEmailAddresses
                - oauth2PermissionScopes
                - passwordCredentials
                - preferredSingleSignOnMode
                - replyUrls
                - servicePrincipalNames
                - samlSingleSignOnSettings
                - servicePrincipalType
                - tags
                - tokenEncryptionKeyId
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - endpoints
                - homeRealmDiscoveryPolicies
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - owners
                - ownedObjects
                - tokenIssuancePolicies
                - tokenLifetimePolicies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - endpoints
                - homeRealmDiscoveryPolicies
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - owners
                - ownedObjects
                - tokenIssuancePolicies
                - tokenLifetimePolicies
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
          links:
            appRoleAssignedTo:
              operationId: servicePrincipals.GetAppRoleAssignedTo
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                appRoleAssignment-id: $response.body#/id
            appRoleAssignments:
              operationId: servicePrincipals.GetAppRoleAssignments
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                appRoleAssignment-id: $response.body#/id
            claimsMappingPolicies:
              operationId: servicePrincipals.GetClaimsMappingPolicies
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                claimsMappingPolicy-id: $response.body#/id
            endpoints:
              operationId: servicePrincipals.GetEndpoints
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                endpoint-id: $response.body#/id
            homeRealmDiscoveryPolicies:
              operationId: servicePrincipals.GetHomeRealmDiscoveryPolicies
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                homeRealmDiscoveryPolicy-id: $response.body#/id
            oauth2PermissionGrants:
              operationId: servicePrincipals.GetOauth2PermissionGrants
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                oAuth2PermissionGrant-id: $response.body#/id
            memberOf:
              operationId: servicePrincipals.GetMemberOf
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            transitiveMemberOf:
              operationId: servicePrincipals.GetTransitiveMemberOf
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            createdObjects:
              operationId: servicePrincipals.GetCreatedObjects
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            owners:
              operationId: servicePrincipals.GetOwners
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            ownedObjects:
              operationId: servicePrincipals.GetOwnedObjects
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            tokenIssuancePolicies:
              operationId: servicePrincipals.GetTokenIssuancePolicies
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                tokenIssuancePolicy-id: $response.body#/id
            tokenLifetimePolicies:
              operationId: servicePrincipals.GetTokenLifetimePolicies
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                tokenLifetimePolicy-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Update entity in servicePrincipals
      operationId: servicePrincipals.servicePrincipal_UpdateServicePrincipal
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Delete entity from servicePrincipals
      operationId: servicePrincipals.servicePrincipal_DeleteServicePrincipal
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignedTo':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignedTo from servicePrincipals
      operationId: servicePrincipals_ListAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - appRoleId
                - appRoleId desc
                - createdDateTime
                - createdDateTime desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - appRoleId
                - createdDateTime
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Create new navigation property to appRoleAssignedTo for servicePrincipals
      operationId: servicePrincipals_CreateAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignedTo/{appRoleAssignment-id}':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignedTo from servicePrincipals
      operationId: servicePrincipals_GetAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - appRoleId
                - createdDateTime
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Update the navigation property appRoleAssignedTo in servicePrincipals
      operationId: servicePrincipals_UpdateAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignments':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignments from servicePrincipals
      operationId: servicePrincipals_ListAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - appRoleId
                - appRoleId desc
                - createdDateTime
                - createdDateTime desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - appRoleId
                - createdDateTime
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Create new navigation property to appRoleAssignments for servicePrincipals
      operationId: servicePrincipals_CreateAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignments/{appRoleAssignment-id}':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignments from servicePrincipals
      operationId: servicePrincipals_GetAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - appRoleId
                - createdDateTime
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Update the navigation property appRoleAssignments in servicePrincipals
      operationId: servicePrincipals_UpdateAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/claimsMappingPolicies':
    get:
      tags:
        - servicePrincipals.claimsMappingPolicy
      summary: Get claimsMappingPolicies from servicePrincipals
      operationId: servicePrincipals_ListClaimsMappingPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of claimsMappingPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/claimsMappingPolicies/{claimsMappingPolicy-id}':
    get:
      tags:
        - servicePrincipals.claimsMappingPolicy
      summary: Get claimsMappingPolicies from servicePrincipals
      operationId: servicePrincipals_GetClaimsMappingPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: claimsMappingPolicy-id
          in: path
          description: 'key: claimsMappingPolicy-id of claimsMappingPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: claimsMappingPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/createdObjects':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get createdObjects from servicePrincipals
      operationId: servicePrincipals_ListCreatedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/createdObjects/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get createdObjects from servicePrincipals
      operationId: servicePrincipals_GetCreatedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/endpoints':
    get:
      tags:
        - servicePrincipals.endpoint
      summary: Get endpoints from servicePrincipals
      operationId: servicePrincipals_ListEndpoints
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - capability
                - capability desc
                - providerId
                - providerId desc
                - providerName
                - providerName desc
                - uri
                - uri desc
                - providerResourceId
                - providerResourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - capability
                - providerId
                - providerName
                - uri
                - providerResourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of endpoint
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.endpoint'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.endpoint
      summary: Create new navigation property to endpoints for servicePrincipals
      operationId: servicePrincipals_CreateEndpoints
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endpoint'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endpoint'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/endpoints/{endpoint-id}':
    get:
      tags:
        - servicePrincipals.endpoint
      summary: Get endpoints from servicePrincipals
      operationId: servicePrincipals_GetEndpoints
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: endpoint-id
          in: path
          description: 'key: endpoint-id of endpoint'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: endpoint
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - capability
                - providerId
                - providerName
                - uri
                - providerResourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endpoint'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - servicePrincipals.endpoint
      summary: Update the navigation property endpoints in servicePrincipals
      operationId: servicePrincipals_UpdateEndpoints
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: endpoint-id
          in: path
          description: 'key: endpoint-id of endpoint'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: endpoint
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endpoint'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/homeRealmDiscoveryPolicies':
    get:
      tags:
        - servicePrincipals.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from servicePrincipals
      operationId: servicePrincipals_ListHomeRealmDiscoveryPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of homeRealmDiscoveryPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/homeRealmDiscoveryPolicies/{homeRealmDiscoveryPolicy-id}':
    get:
      tags:
        - servicePrincipals.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from servicePrincipals
      operationId: servicePrincipals_GetHomeRealmDiscoveryPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: homeRealmDiscoveryPolicy-id
          in: path
          description: 'key: homeRealmDiscoveryPolicy-id of homeRealmDiscoveryPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: homeRealmDiscoveryPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/memberOf':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get memberOf from servicePrincipals
      operationId: servicePrincipals_ListMemberOf
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get memberOf from servicePrincipals
      operationId: servicePrincipals_GetMemberOf
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.addKey':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action addKey
      operationId: servicePrincipals_addKey
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keyCredential:
                  $ref: '#/components/schemas/microsoft.graph.keyCredential'
                passwordCredential:
                  $ref: '#/components/schemas/microsoft.graph.passwordCredential'
                proof:
                  type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.keyCredential'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.addPassword':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action addPassword
      operationId: servicePrincipals_addPassword
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                passwordCredential:
                  $ref: '#/components/schemas/microsoft.graph.passwordCredential'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordCredential'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action checkMemberGroups
      operationId: servicePrincipals_checkMemberGroups
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action checkMemberObjects
      operationId: servicePrincipals_checkMemberObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action getMemberGroups
      operationId: servicePrincipals_getMemberGroups
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action getMemberObjects
      operationId: servicePrincipals_getMemberObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.removeKey':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action removeKey
      operationId: servicePrincipals_removeKey
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                proof:
                  type: string
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.removePassword':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action removePassword
      operationId: servicePrincipals_removePassword
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.restore':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action restore
      operationId: servicePrincipals_restore
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/oauth2PermissionGrants':
    get:
      tags:
        - servicePrincipals.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from servicePrincipals
      operationId: servicePrincipals_ListOauth2PermissionGrants
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientId
                - clientId desc
                - consentType
                - consentType desc
                - principalId
                - principalId desc
                - resourceId
                - resourceId desc
                - scope
                - scope desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - principalId
                - resourceId
                - scope
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of oAuth2PermissionGrant
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/oauth2PermissionGrants/{oAuth2PermissionGrant-id}':
    get:
      tags:
        - servicePrincipals.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from servicePrincipals
      operationId: servicePrincipals_GetOauth2PermissionGrants
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: oAuth2PermissionGrant-id
          in: path
          description: 'key: oAuth2PermissionGrant-id of oAuth2PermissionGrant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: oAuth2PermissionGrant
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - principalId
                - resourceId
                - scope
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/ownedObjects':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get ownedObjects from servicePrincipals
      operationId: servicePrincipals_ListOwnedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/ownedObjects/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get ownedObjects from servicePrincipals
      operationId: servicePrincipals_GetOwnedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/owners':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get owners from servicePrincipals
      operationId: servicePrincipals_ListOwners
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/owners/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get owners from servicePrincipals
      operationId: servicePrincipals_GetOwners
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/tokenIssuancePolicies':
    get:
      tags:
        - servicePrincipals.tokenIssuancePolicy
      summary: Get tokenIssuancePolicies from servicePrincipals
      operationId: servicePrincipals_ListTokenIssuancePolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of tokenIssuancePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/tokenIssuancePolicies/{tokenIssuancePolicy-id}':
    get:
      tags:
        - servicePrincipals.tokenIssuancePolicy
      summary: Get tokenIssuancePolicies from servicePrincipals
      operationId: servicePrincipals_GetTokenIssuancePolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: tokenIssuancePolicy-id
          in: path
          description: 'key: tokenIssuancePolicy-id of tokenIssuancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenIssuancePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/tokenLifetimePolicies':
    get:
      tags:
        - servicePrincipals.tokenLifetimePolicy
      summary: Get tokenLifetimePolicies from servicePrincipals
      operationId: servicePrincipals_ListTokenLifetimePolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of tokenLifetimePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/tokenLifetimePolicies/{tokenLifetimePolicy-id}':
    get:
      tags:
        - servicePrincipals.tokenLifetimePolicy
      summary: Get tokenLifetimePolicies from servicePrincipals
      operationId: servicePrincipals_GetTokenLifetimePolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: tokenLifetimePolicy-id
          in: path
          description: 'key: tokenLifetimePolicy-id of tokenLifetimePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenLifetimePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/transitiveMemberOf':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get transitiveMemberOf from servicePrincipals
      operationId: servicePrincipals_ListTransitiveMemberOf
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/transitiveMemberOf/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get transitiveMemberOf from servicePrincipals
      operationId: servicePrincipals_GetTransitiveMemberOf
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  /servicePrincipals/microsoft.graph.getByIds:
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action getByIds
      operationId: servicePrincipals_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/microsoft.graph.validateProperties:
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action validateProperties
      operationId: servicePrincipals_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.servicePrincipal:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: servicePrincipal
          type: object
          properties:
            accountEnabled:
              type: boolean
              description: 'true if the service principal account is enabled; otherwise, false.'
              nullable: true
            addIns:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.addIn'
              description: 'Defines custom behavior that a consuming service can use to call an app in specific contexts. For example, applications that can render file streams may set the addIns property for its ''FileHandler'' functionality. This will let services like Office 365 call the application in the context of a document the user is working on.'
            alternativeNames:
              type: array
              items:
                type: string
              description: 'Used to retrieve service principals by subscription, identify resource group and full resource ids for managed identities.'
            appDisplayName:
              type: string
              description: The display name exposed by the associated application.
              nullable: true
            appId:
              type: string
              description: The unique identifier for the associated application (its appId property).
              nullable: true
            applicationTemplateId:
              type: string
              description: Unique identifier of the applicationTemplate that the servicePrincipal was created from. Read-only.
              nullable: true
            appOwnerOrganizationId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: Contains the tenant id where the application is registered. This is applicable only to service principals backed by applications.
              format: uuid
              nullable: true
            appRoleAssignmentRequired:
              type: boolean
              description: Specifies whether users or other service principals need to be granted an app role assignment for this service principal before users can sign in or apps can get tokens. The default value is false. Not nullable.
            appRoles:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.appRole'
              description: The roles exposed by the application which this service principal represents. For more information see the appRoles property definition on the application entity. Not nullable.
            displayName:
              type: string
              description: The display name for the service principal.
              nullable: true
            homepage:
              type: string
              description: Home page or landing page of the application.
              nullable: true
            info:
              $ref: '#/components/schemas/microsoft.graph.informationalUrl'
            keyCredentials:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.keyCredential'
              description: The collection of key credentials associated with the service principal. Not nullable.
            loginUrl:
              type: string
              description: 'Specifies the URL where the service provider redirects the user to Azure AD to authenticate. Azure AD uses the URL to launch the application from Office 365 or the Azure AD My Apps. When blank, Azure AD performs IdP-initiated sign-on for applications configured with SAML-based single sign-on. The user launches the application from Office 365, the Azure AD My Apps, or the Azure AD SSO URL.'
              nullable: true
            logoutUrl:
              type: string
              description: 'Specifies the URL that will be used by Microsoft''s authorization service to logout an user using OpenId Connect front-channel, back-channel or SAML logout protocols.'
              nullable: true
            notificationEmailAddresses:
              type: array
              items:
                type: string
              description: Specifies the list of email addresses where Azure AD sends a notification when the active certificate is near the expiration date. This is only for the certificates used to sign the SAML token issued for Azure AD Gallery applications.
            oauth2PermissionScopes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.permissionScope'
              description: The delegated permissions exposed by the application. For more information see the oauth2PermissionScopes property on the application entity's api property. Not nullable.
            passwordCredentials:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.passwordCredential'
              description: The collection of password credentials associated with the service principal. Not nullable.
            preferredSingleSignOnMode:
              type: string
              description: 'Specifies the single sign-on mode configured for this application. Azure AD uses the preferred single sign-on mode to launch the application from Office 365 or the Azure AD My Apps. The supported values are password, saml, external, and oidc.'
              nullable: true
            replyUrls:
              type: array
              items:
                type: string
              description: 'The URLs that user tokens are sent to for sign in with the associated application, or the redirect URIs that OAuth 2.0 authorization codes and access tokens are sent to for the associated application. Not nullable.'
            servicePrincipalNames:
              type: array
              items:
                type: string
              description: 'Contains the list of identifiersUris, copied over from the associated application. Additional values can be added to hybrid applications. These values can be used to identify the permissions exposed by this app within Azure AD. For example,Client apps can specify a resource URI which is based on the values of this property to acquire an access token, which is the URI returned in the ''aud'' claim.The any operator is required for filter expressions on multi-valued properties. Not nullable.'
            samlSingleSignOnSettings:
              $ref: '#/components/schemas/microsoft.graph.samlSingleSignOnSettings'
            servicePrincipalType:
[...]
