openapi: 3.0.1
info:
  title: Identity.Contracts
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /contracts:
    get:
      tags:
        - contracts.contract
      summary: Get entities from contracts
      operationId: contracts.contract_ListContract
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - contractType
                - contractType desc
                - customerId
                - customerId desc
                - defaultDomainName
                - defaultDomainName desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - contractType
                - customerId
                - defaultDomainName
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of contract
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - contracts.contract
      summary: Add new entity to contracts
      operationId: contracts.contract_CreateContract
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contract'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contracts/{contract-id}':
    get:
      tags:
        - contracts.contract
      summary: Get entity from contracts by key
      operationId: contracts.contract_GetContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: contract-id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - contractType
                - customerId
                - defaultDomainName
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - contracts.contract
      summary: Update entity in contracts
      operationId: contracts.contract_UpdateContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: contract-id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contract'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contracts.contract
      summary: Delete entity from contracts
      operationId: contracts.contract_DeleteContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: contract-id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contracts/{contract-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action checkMemberGroups
      operationId: contracts_checkMemberGroups
      parameters:
        - name: contract-id
          in: path
          description: 'key: contract-id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action checkMemberObjects
      operationId: contracts_checkMemberObjects
      parameters:
        - name: contract-id
          in: path
          description: 'key: contract-id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getMemberGroups
      operationId: contracts_getMemberGroups
      parameters:
        - name: contract-id
          in: path
          description: 'key: contract-id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getMemberObjects
      operationId: contracts_getMemberObjects
      parameters:
        - name: contract-id
          in: path
          description: 'key: contract-id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.restore':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action restore
      operationId: contracts_restore
      parameters:
        - name: contract-id
          in: path
          description: 'key: contract-id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts/microsoft.graph.getByIds:
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getByIds
      operationId: contracts_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts/microsoft.graph.validateProperties:
    post:
      tags:
        - contracts.Actions
      summary: Invoke action validateProperties
      operationId: contracts_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.contract:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: contract
          type: object
          properties:
            contractType:
              type: string
              description: 'Type of contract.Possible values are: SyndicationPartner - Partner that exclusively resells and manages O365 and Intune for this customer. They resell and support their customers. BreadthPartner - Partner has the ability to provide administrative support for this customer. However, the partner is not allowed to resell to the customer.ResellerPartner - Partner that is similar to a syndication partner, except that the partner doesn’t have exclusive access to a tenant. In the syndication case, the customer cannot buy additional direct subscriptions from Microsoft or from other partners.'
              nullable: true
            customerId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: The unique identifier for the customer tenant referenced by this partnership. Corresponds to the id property of the customer tenant's organization resource.
              format: uuid
              nullable: true
            defaultDomainName:
              type: string
              description: A copy of the customer tenant's default domain name. The copy is made when the partnership with the customer is established. It is not automatically updated if the customer tenant's default domain name changes.
              nullable: true
            displayName:
              type: string
              description: A copy of the customer tenant's display name. The copy is made when the partnership with the customer is established. It is not automatically updated if the customer tenant's display name changes.
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        contractType: string
        customerId: string
        defaultDomainName: string
        displayName: string
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]