openapi: 3.0.1
info:
  title: Identity.Devices
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /devices:
    get:
      tags:
        - devices.device
      summary: Get entities from devices
      operationId: devices.device_ListDevice
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - complianceExpirationDateTime
                - complianceExpirationDateTime desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - mdmAppId
                - mdmAppId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - profileType
                - profileType desc
                - systemLabels
                - systemLabels desc
                - trustType
                - trustType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - mdmAppId
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - systemLabels
                - trustType
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of device
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - devices.device
      summary: Add new entity to devices
      operationId: devices.device_CreateDevice
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}':
    get:
      tags:
        - devices.device
      summary: Get entity from devices by key
      operationId: devices.device_GetDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - mdmAppId
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - systemLabels
                - trustType
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
          links:
            memberOf:
              operationId: devices.GetMemberOf
              parameters:
                device-id: $request.path.device-id
                directoryObject-id: $response.body#/id
            registeredOwners:
              operationId: devices.GetRegisteredOwners
              parameters:
                device-id: $request.path.device-id
                directoryObject-id: $response.body#/id
            registeredUsers:
              operationId: devices.GetRegisteredUsers
              parameters:
                device-id: $request.path.device-id
                directoryObject-id: $response.body#/id
            transitiveMemberOf:
              operationId: devices.GetTransitiveMemberOf
              parameters:
                device-id: $request.path.device-id
                directoryObject-id: $response.body#/id
            extensions:
              operationId: devices.GetExtensions
              parameters:
                device-id: $request.path.device-id
                extension-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.device
      summary: Update entity in devices
      operationId: devices.device_UpdateDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.device
      summary: Delete entity from devices
      operationId: devices.device_DeleteDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/extensions':
    get:
      tags:
        - devices.extension
      summary: Get extensions from devices
      operationId: devices_ListExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - devices.extension
      summary: Create new navigation property to extensions for devices
      operationId: devices_CreateExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/extensions/{extension-id}':
    get:
      tags:
        - devices.extension
      summary: Get extensions from devices
      operationId: devices_GetExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - devices.extension
      summary: Update the navigation property extensions in devices
      operationId: devices_UpdateExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/memberOf':
    get:
      tags:
        - devices.directoryObject
      summary: Get memberOf from devices
      operationId: devices_ListMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/devices/{device-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get memberOf from devices
      operationId: devices_GetMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/devices/{device-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - devices.Actions
      summary: Invoke action checkMemberGroups
      operationId: devices_checkMemberGroups
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - devices.Actions
      summary: Invoke action checkMemberObjects
      operationId: devices_checkMemberObjects
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - devices.Actions
      summary: Invoke action getMemberGroups
      operationId: devices_getMemberGroups
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - devices.Actions
      summary: Invoke action getMemberObjects
      operationId: devices_getMemberObjects
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.restore':
    post:
      tags:
        - devices.Actions
      summary: Invoke action restore
      operationId: devices_restore
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/registeredOwners':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredOwners from devices
      operationId: devices_ListRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/devices/{device-id}/registeredOwners/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredOwners from devices
      operationId: devices_GetRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/devices/{device-id}/registeredUsers':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredUsers from devices
      operationId: devices_ListRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/devices/{device-id}/registeredUsers/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredUsers from devices
      operationId: devices_GetRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/devices/{device-id}/transitiveMemberOf':
    get:
      tags:
        - devices.directoryObject
      summary: Get transitiveMemberOf from devices
      operationId: devices_ListTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/devices/{device-id}/transitiveMemberOf/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get transitiveMemberOf from devices
      operationId: devices_GetTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  /devices/microsoft.graph.getByIds:
    post:
      tags:
        - devices.Actions
      summary: Invoke action getByIds
      operationId: devices_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /devices/microsoft.graph.validateProperties:
    post:
      tags:
        - devices.Actions
      summary: Invoke action validateProperties
      operationId: devices_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.device:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: device
          type: object
          properties:
            accountEnabled:
              type: boolean
              description: 'true if the account is enabled; otherwise, false. Required.'
              nullable: true
            alternativeSecurityIds:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alternativeSecurityId'
              description: For internal use only. Not nullable.
            approximateLastSignInDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            complianceExpirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp when the device is no longer deemed compliant. The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            deviceId:
              type: string
              description: Unique identifier set by Azure Device Registration Service at the time of registration.
              nullable: true
            deviceMetadata:
              type: string
              description: For interal use only. Set to null.
              nullable: true
            deviceVersion:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: For interal use only.
              format: int32
              nullable: true
            displayName:
              type: string
              description: The display name for the device. Required.
              nullable: true
            isCompliant:
              type: boolean
              description: 'true if the device complies with Mobile Device Management (MDM) policies; otherwise, false. Read-only. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices.'
              nullable: true
            isManaged:
              type: boolean
              description: 'true if the device is managed by a Mobile Device Management (MDM) app; otherwise, false. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices.'
              nullable: true
            mdmAppId:
              type: string
              description: Application identifier used to register device into MDM. Read-only. Supports $filter.
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The last time at which the object was synced with the on-premises directory.The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'' Read-only.'
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced; null if this object has never been synced from an on-premises directory (default). Read-only.
              nullable: true
            operatingSystem:
              type: string
              description: The type of operating system on the device. Required.
              nullable: true
            operatingSystemVersion:
              type: string
              description: The version of the operating system on the device. Required.
              nullable: true
            physicalIds:
              type: array
              items:
                type: string
              description: For interal use only. Not nullable.
            profileType:
              type: string
              description: The profile type of the device. Possible values:RegisteredDevice (default)SecureVMPrinterSharedIoT
              nullable: true
            systemLabels:
              type: array
              items:
                type: string
              description: List of labels applied to the device by the system.
            trustType:
              type: string
              description: 'Type of trust for the joined device. Read-only. Possible values: Workplace - indicates bring your own personal devicesAzureAd - Cloud only joined devicesServerAd - on-premises domain joined devices joined to Azure AD. For more details, see Introduction to device management in Azure Active Directory'
              nullable: true
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Groups that this group is a member of. HTTP Methods: GET (supported for all groups). Read-only. Nullable.'
            registeredOwners:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'The user that cloud joined the device or registered their personal device. The registered owner is set at the time of registration. Currently, there can be only one owner. Read-only. Nullable.'
            registeredUsers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Collection of registered users of the device. For cloud joined devices and registered personal devices, registered users are set to the same value as registered owners at the time of registration. Read-only. Nullable.'
            transitiveMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the device. Read-only. Nullable.
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        accountEnabled: true
        alternativeSecurityIds:
          - '@odata.type': microsoft.graph.alternativeSecurityId
        approximateLastSignInDateTime: string (timestamp)
        complianceExpirationDateTime: string (timestamp)
        deviceId: string
        deviceMetadata: string
        deviceVersion: integer
        displayName: string
        isCompliant: true
        isManaged: true
        mdmAppId: string
        onPremisesLastSyncDateTime: string (timestamp)
        onPremisesSyncEnabled: true
        operatingSystem: string
        operatingSystemVersion: string
        physicalIds:
          - string
        profileType: string
        systemLabels:
          - string
        trustType: string
        memberOf:
          - '@odata.type': microsoft.graph.directoryObject
        registeredOwners:
          - '@odata.type': microsoft.graph.directoryObject
        registeredUsers:
          - '@odata.type': microsoft.graph.directoryObject
        transitiveMemberOf:
          - '@odata.type': microsoft.graph.directoryObject
        extensions:
          - '@odata.type': microsoft.graph.extension
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
      example:
        id: string (identifier)
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.alternativeSecurityId:
      title: alternativeSecurityId
      type: object
      properties:
        type:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: For internal use only
          format: int32
          nullable: true
        identityProvider:
          type: string
          description: For internal use only
          nullable: true
        key:
          type: string
          description: For internal use only
          format: base64url
          nullable: true
      example:
        type: integer
        identityProvider: string
        key: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]