openapi: 3.0.1
info:
  title: Identity.Governance
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /agreements:
    get:
      tags:
        - agreements.agreement
      summary: Get entities from agreements
      operationId: agreements.agreement_ListAgreement
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - isPerDeviceAcceptanceRequired
                - isPerDeviceAcceptanceRequired desc
                - isViewingBeforeAcceptanceRequired
                - isViewingBeforeAcceptanceRequired desc
                - termsExpiration
                - termsExpiration desc
                - userReacceptRequiredFrequency
                - userReacceptRequiredFrequency desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isPerDeviceAcceptanceRequired
                - isViewingBeforeAcceptanceRequired
                - termsExpiration
                - userReacceptRequiredFrequency
                - acceptances
                - file
                - files
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - acceptances
                - file
                - files
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of agreement
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreement'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreement
      summary: Add new entity to agreements
      operationId: agreements.agreement_CreateAgreement
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}':
    get:
      tags:
        - agreements.agreement
      summary: Get entity from agreements by key
      operationId: agreements.agreement_GetAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isPerDeviceAcceptanceRequired
                - isViewingBeforeAcceptanceRequired
                - termsExpiration
                - userReacceptRequiredFrequency
                - acceptances
                - file
                - files
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - acceptances
                - file
                - files
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
          links:
            acceptances:
              operationId: agreements.ListAcceptances
              parameters:
                agreement-id: $request.path.agreement-id
            file:
              operationId: agreements.GetFile
              parameters:
                agreement-id: $request.path.agreement-id
            files:
              operationId: agreements.ListFiles
              parameters:
                agreement-id: $request.path.agreement-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreement
      summary: Update entity in agreements
      operationId: agreements.agreement_UpdateAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreement
      summary: Delete entity from agreements
      operationId: agreements.agreement_DeleteAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/acceptances':
    get:
      tags:
        - agreements.agreementAcceptance
      summary: Get acceptances from agreements
      operationId: agreements_ListAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agreementFileId
                - agreementFileId desc
                - agreementId
                - agreementId desc
                - deviceDisplayName
                - deviceDisplayName desc
                - deviceId
                - deviceId desc
                - deviceOSType
                - deviceOSType desc
                - deviceOSVersion
                - deviceOSVersion desc
                - expirationDateTime
                - expirationDateTime desc
                - recordedDateTime
                - recordedDateTime desc
                - state
                - state desc
                - userDisplayName
                - userDisplayName desc
                - userEmail
                - userEmail desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agreementFileId
                - agreementId
                - deviceDisplayName
                - deviceId
                - deviceOSType
                - deviceOSVersion
                - expirationDateTime
                - recordedDateTime
                - state
                - userDisplayName
                - userEmail
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementAcceptance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementAcceptance
      summary: Create new navigation property to acceptances for agreements
      operationId: agreements_CreateAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/acceptances/{agreementAcceptance-id}':
    get:
      tags:
        - agreements.agreementAcceptance
      summary: Get acceptances from agreements
      operationId: agreements_GetAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agreementFileId
                - agreementId
                - deviceDisplayName
                - deviceId
                - deviceOSType
                - deviceOSVersion
                - expirationDateTime
                - recordedDateTime
                - state
                - userDisplayName
                - userEmail
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementAcceptance
      summary: Update the navigation property acceptances in agreements
      operationId: agreements_UpdateAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementAcceptance
      summary: Delete navigation property acceptances for agreements
      operationId: agreements_DeleteAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file':
    get:
      tags:
        - agreements.agreementFile
      summary: Get file from agreements
      operationId: agreements_GetFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - localizations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - localizations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFile'
          links:
            localizations:
              operationId: agreements.File.ListLocalizations
              parameters:
                agreement-id: $request.path.agreement-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property file in agreements
      operationId: agreements_UpdateFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property file for agreements
      operationId: agreements_DeleteFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations':
    get:
      tags:
        - agreements.agreementFile
      summary: Get localizations from agreements
      operationId: agreements.file_ListLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementFileLocalization
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFile
      summary: Create new navigation property to localizations for agreements
      operationId: agreements.file_CreateLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}':
    get:
      tags:
        - agreements.agreementFile
      summary: Get localizations from agreements
      operationId: agreements.file_GetLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
          links:
            versions:
              operationId: agreements.file.Localizations.ListVersions
              parameters:
                agreement-id: $request.path.agreement-id
                agreementFileLocalization-id: $request.path.agreementFileLocalization-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property localizations in agreements
      operationId: agreements.file_UpdateLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property localizations for agreements
      operationId: agreements.file_DeleteLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}/versions':
    get:
      tags:
        - agreements.agreementFile
      summary: Get versions from agreements
      operationId: agreements.file.localizations_ListVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementFileVersion
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFile
      summary: Create new navigation property to versions for agreements
      operationId: agreements.file.localizations_CreateVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}/versions/{agreementFileVersion-id}':
    get:
      tags:
        - agreements.agreementFile
      summary: Get versions from agreements
      operationId: agreements.file.localizations_GetVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property versions in agreements
      operationId: agreements.file.localizations_UpdateVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property versions for agreements
      operationId: agreements.file.localizations_DeleteVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get files from agreements
      operationId: agreements_ListFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementFileLocalization
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFileLocalization
      summary: Create new navigation property to files for agreements
      operationId: agreements_CreateFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files/{agreementFileLocalization-id}':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get files from agreements
      operationId: agreements_GetFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
          links:
            versions:
              operationId: agreements.Files.ListVersions
              parameters:
                agreement-id: $request.path.agreement-id
                agreementFileLocalization-id: $request.path.agreementFileLocalization-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFileLocalization
      summary: Update the navigation property files in agreements
      operationId: agreements_UpdateFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFileLocalization
      summary: Delete navigation property files for agreements
      operationId: agreements_DeleteFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files/{agreementFileLocalization-id}/versions':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get versions from agreements
      operationId: agreements.files_ListVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementFileVersion
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFileLocalization
      summary: Create new navigation property to versions for agreements
      operationId: agreements.files_CreateVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files/{agreementFileLocalization-id}/versions/{agreementFileVersion-id}':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get versions from agreements
      operationId: agreements.files_GetVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFileLocalization
      summary: Update the navigation property versions in agreements
      operationId: agreements.files_UpdateVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFileLocalization
      summary: Delete navigation property versions for agreements
      operationId: agreements.files_DeleteVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: agreementFileVersion-id
          in: path
          description: 'key: id of agreementFileVersion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileVersion
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}/userConsentRequests/microsoft.graph.filterByCurrentUser(on={on})':
    get:
      tags:
        - identityGovernance.Functions
      summary: Invoke function filterByCurrentUser
      operationId: identityGovernance.appConsent.appConsentRequests.userConsentRequests_filterByCurrentUser
      parameters:
        - name: appConsentRequest-id
          in: path
          description: 'key: id of appConsentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appConsentRequest
        - name: on
          in: path
          description: 'Usage: on={on}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.consentRequestFilterByCurrentUserOptions'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/identityGovernance/appConsent/appConsentRequests/microsoft.graph.filterByCurrentUser(on={on})':
    get:
      tags:
        - identityGovernance.Functions
      summary: Invoke function filterByCurrentUser
      operationId: identityGovernance.appConsent.appConsentRequests_filterByCurrentUser
      parameters:
        - name: on
          in: path
          description: 'Usage: on={on}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.consentRequestFilterByCurrentUserOptions'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/agreementAcceptances':
    get:
      tags:
        - users.agreementAcceptance
      summary: Get agreementAcceptances from users
      operationId: users_ListAgreementAcceptances
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agreementFileId
                - agreementFileId desc
                - agreementId
                - agreementId desc
                - deviceDisplayName
                - deviceDisplayName desc
                - deviceId
                - deviceId desc
                - deviceOSType
                - deviceOSType desc
                - deviceOSVersion
                - deviceOSVersion desc
                - expirationDateTime
                - expirationDateTime desc
                - recordedDateTime
                - recordedDateTime desc
                - state
                - state desc
                - userDisplayName
                - userDisplayName desc
                - userEmail
                - userEmail desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agreementFileId
                - agreementId
                - deviceDisplayName
                - deviceId
                - deviceOSType
                - deviceOSVersion
                - expirationDateTime
                - recordedDateTime
                - state
                - userDisplayName
                - userEmail
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementAcceptance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/agreementAcceptances/$ref':
    get:
      tags:
        - users.agreementAcceptance
      summary: Get ref of agreementAcceptances from users
      operationId: users_ListRefAgreementAcceptances
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agreementFileId
                - agreementFileId desc
                - agreementId
                - agreementId desc
                - deviceDisplayName
                - deviceDisplayName desc
                - deviceId
                - deviceId desc
                - deviceOSType
                - deviceOSType desc
                - deviceOSVersion
                - deviceOSVersion desc
                - expirationDateTime
                - expirationDateTime desc
                - recordedDateTime
                - recordedDateTime desc
                - state
                - state desc
                - userDisplayName
                - userDisplayName desc
                - userEmail
                - userEmail desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of agreementAcceptance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.agreementAcceptance
      summary: Create new navigation property ref to agreementAcceptances for users
      operationId: users_CreateRefAgreementAcceptances
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.agreement:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: agreement
          type: object
          properties:
            displayName:
              type: string
              description: Display name of the agreement. The display name is used for internal tracking of the agreement but is not shown to end users who view the agreement.
              nullable: true
            isPerDeviceAcceptanceRequired:
              type: boolean
              description: 'This setting enables you to require end users to accept this agreement on every device that they are accessing it from. The end user will be required to register their device in Azure AD, if they haven''t already done so.'
              nullable: true
            isViewingBeforeAcceptanceRequired:
              type: boolean
              description: Indicates whether the user has to expand the agreement before accepting.
              nullable: true
            termsExpiration:
              $ref: '#/components/schemas/microsoft.graph.termsExpiration'
            userReacceptRequiredFrequency:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              description: The duration after which the user must re-accept the terms of use. The value is represented in ISO 8601 format for durations.
              format: duration
              nullable: true
            acceptances:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
              description: Read-only. Information about acceptances of this agreement.
            file:
              $ref: '#/components/schemas/microsoft.graph.agreementFile'
            files:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
              description: 'PDFs linked to this agreement. Note: This property is in the process of being deprecated. Use the  file property instead.'
          additionalProperties:
            type: object
    microsoft.graph.agreementAcceptance:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: agreementAcceptance
          type: object
          properties:
            agreementFileId:
              type: string
              description: ID of the agreement file accepted by the user.
              nullable: true
            agreementId:
              type: string
              description: ID of the agreement.
              nullable: true
            deviceDisplayName:
              type: string
              description: The display name of the device used for accepting the agreement.
              nullable: true
            deviceId:
              type: string
              description: The unique identifier of the device used for accepting the agreement.
              nullable: true
            deviceOSType:
              type: string
              description: The operating system used for accepting the agreement.
              nullable: true
            deviceOSVersion:
              type: string
              description: The operating system version of the device used for accepting the agreement.
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The expiration date time of the acceptance. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
              format: date-time
              nullable: true
            recordedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
              format: date-time
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.agreementAcceptanceState'
            userDisplayName:
              type: string
              description: Display name of the user when the acceptance was recorded.
              nullable: true
            userEmail:
              type: string
              description: Email of the user when the acceptance was recorded.
              nullable: true
            userId:
              type: string
              description: ID of the user who accepted the agreement.
              nullable: true
            userPrincipalName:
              type: string
              description: UPN of the user when the acceptance was recorded.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.agreementFile:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.agreementFileProperties'
        - title: agreementFile
          type: object
          properties:
            localizations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
          additionalProperties:
            type: object
    microsoft.graph.agreementFileLocalization:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.agreementFileProperties'
        - title: agreementFileLocalization
          type: object
          properties:
            versions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
          additionalProperties:
            type: object
    microsoft.graph.agreementFileVersion:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.agreementFileProperties'
        - title: agreementFileVersion
          type: object
          additionalProperties:
            type: object
    microsoft.graph.consentRequestFilterByCurrentUserOptions:
      title: consentRequestFilterByCurrentUserOptions
      enum:
        - reviewer
        - unknownFutureValue
      type: string
    microsoft.graph.userConsentRequest:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.request'
        - title: userConsentRequest
          type: object
          properties:
            reason:
              type: string
              description: The user's justification for requiring access to the app. Supports $filter (eq only) and $orderby.
              nullable: true
            approval:
              $ref: '#/components/schemas/microsoft.graph.approval'
          additionalProperties:
            type: object
    microsoft.graph.appConsentRequest:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: appConsentRequest
          type: object
          properties:
            appDisplayName:
              type: string
              description: The display name of the app for which consent is requested. Required. Supports $filter (eq only) and $orderby.
              nullable: true
            appId:
              type: string
              description: The identifier of the application. Required. Supports $filter (eq only) and $orderby.
            pendingScopes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.appConsentRequestScope'
              description: A list of pending scopes waiting for approval. This is empty if the consentType is Static. Required.
            userConsentRequests:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
              description: A list of pending user consent requests.
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.termsExpiration:
      title: termsExpiration
      type: object
      properties:
        frequency:
          pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
          type: string
          description: 'Represents the frequency at which the terms will expire, after its first expiration as set in startDateTime. The value is represented in ISO 8601 format for durations. For example, PT1M represents a time period of 1 month.'
          format: duration
          nullable: true
        startDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The DateTime when the agreement is set to expire for all users. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
          format: date-time
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.agreementAcceptanceState:
      title: agreementAcceptanceState
      enum:
        - accepted
        - declined
        - unknownFutureValue
      type: string
    microsoft.graph.agreementFileProperties:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: agreementFileProperties
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            displayName:
              type: string
              nullable: true
            fileData:
              $ref: '#/components/schemas/microsoft.graph.agreementFileData'
            fileName:
              type: string
              nullable: true
            isDefault:
              type: boolean
              nullable: true
            isMajorVersion:
              type: boolean
              nullable: true
            language:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.request:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: request
          type: object
          properties:
            approvalId:
              type: string
              nullable: true
            completedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            customData:
              type: string
              nullable: true
            status:
              type: string
          additionalProperties:
            type: object
    microsoft.graph.approval:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: approval
          type: object
          properties:
            stages:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.approvalStage'
              description: 'Used for the approvalStages property of approval settings in the requestApprovalSettings property of an access package assignment policy. Specifies the primary, fallback, and escalation approvers of each stage.'
          additionalProperties:
            type: object
    microsoft.graph.appConsentRequestScope:
      title: appConsentRequestScope
      type: object
      properties:
        displayName:
          type: string
          description: The name of the scope.
          nullable: true
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.agreementFileData:
      title: agreementFileData
      type: object
      properties:
        data:
          type: string
          format: base64url
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      additionalProperties:
        type: object
    microsoft.graph.approvalStage:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: approvalStage
          type: object
          properties:
            assignedToMe:
              type: boolean
              description: Indicates whether the stage is assigned to the calling user to review. Read-only.
              nullable: true
            displayName:
              type: string
              description: The label provided by the policy creator to identify an approval stage. Read-only.
              nullable: true
            justification:
              type: string
              description: The justification associated with the approval stage decision.
              nullable: true
            reviewedBy:
              $ref: '#/components/schemas/microsoft.graph.identity'
            reviewedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time when a decision was recorded. The date and time information uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.'
              format: date-time
              nullable: true
            reviewResult:
              type: string
              description: 'The result of this approval record. Possible values include: NotReviewed, Approved, Denied.'
              nullable: true
            status:
              type: string
              description: 'The stage status. Possible values: InProgress, Initializing, Completed, Expired. Read-only.'
              nullable: true
          additionalProperties:
            type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        displayName:
          type: string
          description: 'The identity''s display name. Note that this may not always be available or up to date. For example, if a user changes their display name, the API may show the new value in a future response, but the items associated with the user won''t show up as having changed when using delta.'
          nullable: true
        id:
          type: string
          description: Unique identifier for the identity.
          nullable: true
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]