openapi: 3.0.1
info:
  title: Identity.OrganizationContacts
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /contacts:
    get:
      tags:
        - contacts.orgContact
      summary: Get entities from contacts
      operationId: contacts.orgContact_ListOrgContact
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - addresses
                - addresses desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - jobTitle
                - jobTitle desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - phones
                - phones desc
                - proxyAddresses
                - proxyAddresses desc
                - surname
                - surname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addresses
                - companyName
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - onPremisesSyncEnabled
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - phones
                - proxyAddresses
                - surname
                - manager
                - directReports
                - memberOf
                - transitiveMemberOf
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - manager
                - directReports
                - memberOf
                - transitiveMemberOf
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - contacts.orgContact
      summary: Add new entity to contacts
      operationId: contacts.orgContact_CreateOrgContact
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}':
    get:
      tags:
        - contacts.orgContact
      summary: Get entity from contacts by key
      operationId: contacts.orgContact_GetOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addresses
                - companyName
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - onPremisesSyncEnabled
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - phones
                - proxyAddresses
                - surname
                - manager
                - directReports
                - memberOf
                - transitiveMemberOf
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - manager
                - directReports
                - memberOf
                - transitiveMemberOf
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
          links:
            manager:
              operationId: contacts.GetManager
              parameters:
                orgContact-id: $request.path.orgContact-id
                directoryObject-id: $response.body#/id
            directReports:
              operationId: contacts.GetDirectReports
              parameters:
                orgContact-id: $request.path.orgContact-id
                directoryObject-id: $response.body#/id
            memberOf:
              operationId: contacts.GetMemberOf
              parameters:
                orgContact-id: $request.path.orgContact-id
                directoryObject-id: $response.body#/id
            transitiveMemberOf:
              operationId: contacts.GetTransitiveMemberOf
              parameters:
                orgContact-id: $request.path.orgContact-id
                directoryObject-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - contacts.orgContact
      summary: Update entity in contacts
      operationId: contacts.orgContact_UpdateOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contacts.orgContact
      summary: Delete entity from contacts
      operationId: contacts.orgContact_DeleteOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/directReports':
    get:
      tags:
        - contacts.directoryObject
      summary: Get directReports from contacts
      operationId: contacts_ListDirectReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/contacts/{orgContact-id}/directReports/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get directReports from contacts
      operationId: contacts_GetDirectReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/contacts/{orgContact-id}/manager':
    get:
      tags:
        - contacts.directoryObject
      summary: Get manager from contacts
      operationId: contacts_GetManager
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/contacts/{orgContact-id}/memberOf':
    get:
      tags:
        - contacts.directoryObject
      summary: Get memberOf from contacts
      operationId: contacts_ListMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/contacts/{orgContact-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get memberOf from contacts
      operationId: contacts_GetMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/contacts/{orgContact-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action checkMemberGroups
      operationId: contacts_checkMemberGroups
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action checkMemberObjects
      operationId: contacts_checkMemberObjects
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getMemberGroups
      operationId: contacts_getMemberGroups
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getMemberObjects
      operationId: contacts_getMemberObjects
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.restore':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action restore
      operationId: contacts_restore
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/transitiveMemberOf':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveMemberOf from contacts
      operationId: contacts_ListTransitiveMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/contacts/{orgContact-id}/transitiveMemberOf/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveMemberOf from contacts
      operationId: contacts_GetTransitiveMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: orgContact-id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  /contacts/microsoft.graph.delta():
    get:
      tags:
        - contacts.Functions
      summary: Invoke function delta
      operationId: contacts_delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /contacts/microsoft.graph.getByIds:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getByIds
      operationId: contacts_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contacts/microsoft.graph.validateProperties:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action validateProperties
      operationId: contacts_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.orgContact:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: orgContact
          type: object
          properties:
            addresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.physicalOfficeAddress'
            companyName:
              type: string
              nullable: true
            department:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            givenName:
              type: string
              nullable: true
            jobTitle:
              type: string
              nullable: true
            mail:
              type: string
              nullable: true
            mailNickname:
              type: string
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            onPremisesProvisioningErrors:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesProvisioningError'
            phones:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.phone'
            proxyAddresses:
              type: array
              items:
                type: string
            surname:
              type: string
              nullable: true
            manager:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            directReports:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            transitiveMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        addresses:
          - '@odata.type': microsoft.graph.physicalOfficeAddress
        companyName: string
        department: string
        displayName: string
        givenName: string
        jobTitle: string
        mail: string
        mailNickname: string
        onPremisesSyncEnabled: true
        onPremisesLastSyncDateTime: string (timestamp)
        onPremisesProvisioningErrors:
          - '@odata.type': microsoft.graph.onPremisesProvisioningError
        phones:
          - '@odata.type': microsoft.graph.phone
        proxyAddresses:
          - string
        surname: string
        manager:
          '@odata.type': microsoft.graph.directoryObject
        directReports:
          - '@odata.type': microsoft.graph.directoryObject
        memberOf:
          - '@odata.type': microsoft.graph.directoryObject
        transitiveMemberOf:
          - '@odata.type': microsoft.graph.directoryObject
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.physicalOfficeAddress:
      title: physicalOfficeAddress
      type: object
      properties:
        city:
          type: string
          description: The city.
          nullable: true
        countryOrRegion:
          type: string
          description: 'The country or region. It''s a free-format string value, for example, ''United States''.'
          nullable: true
        officeLocation:
          type: string
          description: Office location such as building and office number for an organizational contact.
          nullable: true
        postalCode:
          type: string
          description: The postal code.
          nullable: true
        state:
          type: string
          description: The state.
          nullable: true
        street:
          type: string
          description: The street.
          nullable: true
      example:
        city: string
        countryOrRegion: string
        officeLocation: string
        postalCode: string
        state: string
        street: string
    microsoft.graph.onPremisesProvisioningError:
      title: onPremisesProvisioningError
      type: object
      properties:
        value:
          type: string
          description: Value of the property causing the error.
          nullable: true
        category:
          type: string
          description: 'Category of the provisioning error. Note: Currently, there is only one possible value. Possible value: PropertyConflict - indicates a property value is not unique. Other objects contain the same value for the property.'
          nullable: true
        propertyCausingError:
          type: string
          description: 'Name of the directory property causing the error. Current possible values: UserPrincipalName or ProxyAddress'
          nullable: true
        occurredDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The date and time at which the error occurred.
          format: date-time
          nullable: true
      example:
        value: string
        category: string
        propertyCausingError: string
        occurredDateTime: string (timestamp)
    microsoft.graph.phone:
      title: phone
      type: object
      properties:
        type:
          $ref: '#/components/schemas/microsoft.graph.phoneType'
        number:
          type: string
          description: The phone number.
          nullable: true
        region:
          type: string
          nullable: true
        language:
          type: string
          nullable: true
      example:
        type:
          '@odata.type': microsoft.graph.phoneType
        number: string
        region: string
        language: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.phoneType:
      title: phoneType
      enum:
        - home
        - business
        - mobile
        - other
        - assistant
        - homeFax
        - businessFax
        - otherFax
        - pager
        - radio
      type: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]