openapi: 3.0.1
info:
  title: Identity.SignIns
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /dataPolicyOperations:
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      description: Retrieve the properties of a **dataPolicyOperation** object.
      operationId: dataPolicyOperations.dataPolicyOperation_ListDataPolicyOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - completedDateTime
                - completedDateTime desc
                - progress
                - progress desc
                - status
                - status desc
                - storageLocation
                - storageLocation desc
                - submittedDateTime
                - submittedDateTime desc
                - userId
                - userId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedDateTime
                - progress
                - status
                - storageLocation
                - submittedDateTime
                - userId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.dataPolicyOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Add new entity to dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_CreateDataPolicyOperation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/dataPolicyOperations/{dataPolicyOperation-id}':
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      description: Retrieve the properties of a **dataPolicyOperation** object.
      operationId: dataPolicyOperations.dataPolicyOperation_GetDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedDateTime
                - progress
                - status
                - storageLocation
                - submittedDateTime
                - userId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Update entity in dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_UpdateDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Delete entity from dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_DeleteDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity:
    get:
      tags:
        - identity.identityContainer
      summary: Get identity
      operationId: identity.identityContainer_GetIdentityContainer
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - apiConnectors
                - b2xUserFlows
                - identityProviders
                - userFlowAttributes
                - conditionalAccess
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - apiConnectors
                - b2xUserFlows
                - identityProviders
                - userFlowAttributes
                - conditionalAccess
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityContainer'
          links:
            apiConnectors:
              operationId: identity.ListApiConnectors
            b2xUserFlows:
              operationId: identity.ListB2xUserFlows
            identityProviders:
              operationId: identity.ListIdentityProviders
            userFlowAttributes:
              operationId: identity.ListUserFlowAttributes
            conditionalAccess:
              operationId: identity.GetConditionalAccess
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.identityContainer
      summary: Update identity
      operationId: identity.identityContainer_UpdateIdentityContainer
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityContainer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/apiConnectors:
    get:
      tags:
        - identity.identityApiConnector
      summary: Get apiConnectors from identity
      description: Represents entry point for API connectors.
      operationId: identity_ListApiConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - authenticationConfiguration
                - authenticationConfiguration desc
                - displayName
                - displayName desc
                - targetUrl
                - targetUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authenticationConfiguration
                - displayName
                - targetUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.identityApiConnectorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.identityApiConnector
      summary: Create new navigation property to apiConnectors for identity
      operationId: identity_CreateApiConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/apiConnectors/{identityApiConnector-id}':
    get:
      tags:
        - identity.identityApiConnector
      summary: Get apiConnectors from identity
      description: Represents entry point for API connectors.
      operationId: identity_GetApiConnectors
      parameters:
        - name: identityApiConnector-id
          in: path
          description: 'key: id of identityApiConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityApiConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authenticationConfiguration
                - displayName
                - targetUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
          links:
            uploadClientCertificate:
              operationId: identity.apiConnectors.identityApiConnector.uploadClientCertificate
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.identityApiConnector
      summary: Update the navigation property apiConnectors in identity
      operationId: identity_UpdateApiConnectors
      parameters:
        - name: identityApiConnector-id
          in: path
          description: 'key: id of identityApiConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityApiConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.identityApiConnector
      summary: Delete navigation property apiConnectors for identity
      operationId: identity_DeleteApiConnectors
      parameters:
        - name: identityApiConnector-id
          in: path
          description: 'key: id of identityApiConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityApiConnector
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/apiConnectors/{identityApiConnector-id}/microsoft.graph.uploadClientCertificate':
    post:
      tags:
        - identity.Actions
      summary: Invoke action uploadClientCertificate
      operationId: identity.apiConnectors_uploadClientCertificate
      parameters:
        - name: identityApiConnector-id
          in: path
          description: 'key: id of identityApiConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityApiConnector
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                pkcs12Value:
                  type: string
                  nullable: true
                password:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identity/b2xUserFlows:
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get b2xUserFlows from identity
      description: Represents entry point for B2X/self-service sign-up identity userflows.
      operationId: identity_ListB2xUserFlows
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userFlowType
                - userFlowType desc
                - userFlowTypeVersion
                - userFlowTypeVersion desc
                - apiConnectorConfiguration
                - apiConnectorConfiguration desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userFlowType
                - userFlowTypeVersion
                - apiConnectorConfiguration
                - identityProviders
                - languages
                - userAttributeAssignments
                - userFlowIdentityProviders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - identityProviders
                - languages
                - userAttributeAssignments
                - userFlowIdentityProviders
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.b2xIdentityUserFlowCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Create new navigation property to b2xUserFlows for identity
      operationId: identity_CreateB2xUserFlows
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get b2xUserFlows from identity
      description: Represents entry point for B2X/self-service sign-up identity userflows.
      operationId: identity_GetB2xUserFlows
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userFlowType
                - userFlowTypeVersion
                - apiConnectorConfiguration
                - identityProviders
                - languages
                - userAttributeAssignments
                - userFlowIdentityProviders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - identityProviders
                - languages
                - userAttributeAssignments
                - userFlowIdentityProviders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
          links:
            identityProviders:
              operationId: identity.B2xUserFlows.ListIdentityProviders
              parameters:
                b2xIdentityUserFlow-id: $request.path.b2xIdentityUserFlow-id
            languages:
              operationId: identity.B2xUserFlows.ListLanguages
              parameters:
                b2xIdentityUserFlow-id: $request.path.b2xIdentityUserFlow-id
            userAttributeAssignments:
              operationId: identity.B2xUserFlows.ListUserAttributeAssignments
              parameters:
                b2xIdentityUserFlow-id: $request.path.b2xIdentityUserFlow-id
            userFlowIdentityProviders:
              operationId: identity.B2xUserFlows.ListUserFlowIdentityProviders
              parameters:
                b2xIdentityUserFlow-id: $request.path.b2xIdentityUserFlow-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property b2xUserFlows in identity
      operationId: identity_UpdateB2xUserFlows
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete navigation property b2xUserFlows for identity
      operationId: identity_DeleteB2xUserFlows
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/identityProviders':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get identityProviders from identity
      description: The identity providers included in the user flow.
      operationId: identity.b2xUserFlows_ListIdentityProviders
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientId
                - clientId desc
                - clientSecret
                - clientSecret desc
                - name
                - name desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - clientSecret
                - name
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.identityProviderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15T00:00:00.0000000+00:00'
        date: '2021-08-24T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/identityProviders/{identityProvider-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get identityProviders from identity
      description: The identity providers included in the user flow.
      operationId: identity.b2xUserFlows_GetIdentityProviders
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: identityProvider-id
          in: path
          description: 'key: id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - clientSecret
                - name
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProvider'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15T00:00:00.0000000+00:00'
        date: '2021-08-24T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get languages from identity
      description: The languages supported for customization within the user flow. Language customization is enabled by default in self-service sign-up user flow. You cannot create custom languages in self-service sign-up user flows.
      operationId: identity.b2xUserFlows_ListLanguages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - isEnabled
                - isEnabled desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isEnabled
                - defaultPages
                - overridesPages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - defaultPages
                - overridesPages
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.userFlowLanguageConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Create new navigation property to languages for identity
      operationId: identity.b2xUserFlows_CreateLanguages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get languages from identity
      description: The languages supported for customization within the user flow. Language customization is enabled by default in self-service sign-up user flow. You cannot create custom languages in self-service sign-up user flows.
      operationId: identity.b2xUserFlows_GetLanguages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isEnabled
                - defaultPages
                - overridesPages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - defaultPages
                - overridesPages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
          links:
            defaultPages:
              operationId: identity.b2xUserFlows.Languages.ListDefaultPages
              parameters:
                b2xIdentityUserFlow-id: $request.path.b2xIdentityUserFlow-id
                userFlowLanguageConfiguration-id: $request.path.userFlowLanguageConfiguration-id
            overridesPages:
              operationId: identity.b2xUserFlows.Languages.ListOverridesPages
              parameters:
                b2xIdentityUserFlow-id: $request.path.b2xIdentityUserFlow-id
                userFlowLanguageConfiguration-id: $request.path.userFlowLanguageConfiguration-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property languages in identity
      operationId: identity.b2xUserFlows_UpdateLanguages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete navigation property languages for identity
      operationId: identity.b2xUserFlows_DeleteLanguages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/defaultPages':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get defaultPages from identity
      description: Collection of pages with the default content to display in a user flow for a specified language. This collection does not allow any kind of modification.
      operationId: identity.b2xUserFlows.languages_ListDefaultPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.userFlowLanguagePageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Create new navigation property to defaultPages for identity
      operationId: identity.b2xUserFlows.languages_CreateDefaultPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/defaultPages/{userFlowLanguagePage-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get defaultPages from identity
      description: Collection of pages with the default content to display in a user flow for a specified language. This collection does not allow any kind of modification.
      operationId: identity.b2xUserFlows.languages_GetDefaultPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property defaultPages in identity
      operationId: identity.b2xUserFlows.languages_UpdateDefaultPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete navigation property defaultPages for identity
      operationId: identity.b2xUserFlows.languages_DeleteDefaultPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/defaultPages/{userFlowLanguagePage-id}/$value':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get media content for the navigation property defaultPages from identity
      operationId: identity.b2xUserFlows.languages_GetDefaultPagesContent
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update media content for the navigation property defaultPages in identity
      operationId: identity.b2xUserFlows.languages_SetDefaultPagesContent
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/overridesPages':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get overridesPages from identity
      description: 'Collection of pages with the overrides messages to display in a user flow for a specified language. This collection only allows to modify the content of the page, any other modification is not allowed (creation or deletion of pages).'
      operationId: identity.b2xUserFlows.languages_ListOverridesPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.userFlowLanguagePageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Create new navigation property to overridesPages for identity
      operationId: identity.b2xUserFlows.languages_CreateOverridesPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/overridesPages/{userFlowLanguagePage-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get overridesPages from identity
      description: 'Collection of pages with the overrides messages to display in a user flow for a specified language. This collection only allows to modify the content of the page, any other modification is not allowed (creation or deletion of pages).'
      operationId: identity.b2xUserFlows.languages_GetOverridesPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property overridesPages in identity
      operationId: identity.b2xUserFlows.languages_UpdateOverridesPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete navigation property overridesPages for identity
      operationId: identity.b2xUserFlows.languages_DeleteOverridesPages
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/overridesPages/{userFlowLanguagePage-id}/$value':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get media content for the navigation property overridesPages from identity
      operationId: identity.b2xUserFlows.languages_GetOverridesPagesContent
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update media content for the navigation property overridesPages in identity
      operationId: identity.b2xUserFlows.languages_SetOverridesPagesContent
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: userFlowLanguageConfiguration-id
          in: path
          description: 'key: id of userFlowLanguageConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguageConfiguration
        - name: userFlowLanguagePage-id
          in: path
          description: 'key: id of userFlowLanguagePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userFlowLanguagePage
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get userAttributeAssignments from identity
      description: The user attribute assignments included in the user flow.
      operationId: identity.b2xUserFlows_ListUserAttributeAssignments
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - isOptional
                - isOptional desc
                - requiresVerification
                - requiresVerification desc
                - userAttributeValues
                - userAttributeValues desc
                - userInputType
                - userInputType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isOptional
                - requiresVerification
                - userAttributeValues
                - userInputType
                - userAttribute
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - userAttribute
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.identityUserFlowAttributeAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Create new navigation property to userAttributeAssignments for identity
      operationId: identity.b2xUserFlows_CreateUserAttributeAssignments
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments/{identityUserFlowAttributeAssignment-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get userAttributeAssignments from identity
      description: The user attribute assignments included in the user flow.
      operationId: identity.b2xUserFlows_GetUserAttributeAssignments
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: identityUserFlowAttributeAssignment-id
          in: path
          description: 'key: id of identityUserFlowAttributeAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlowAttributeAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isOptional
                - requiresVerification
                - userAttributeValues
                - userInputType
                - userAttribute
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - userAttribute
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
          links:
            userAttribute:
              operationId: identity.b2xUserFlows.UserAttributeAssignments.GetUserAttribute
              parameters:
                b2xIdentityUserFlow-id: $request.path.b2xIdentityUserFlow-id
                identityUserFlowAttributeAssignment-id: $request.path.identityUserFlowAttributeAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property userAttributeAssignments in identity
      operationId: identity.b2xUserFlows_UpdateUserAttributeAssignments
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: identityUserFlowAttributeAssignment-id
          in: path
          description: 'key: id of identityUserFlowAttributeAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlowAttributeAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete navigation property userAttributeAssignments for identity
      operationId: identity.b2xUserFlows_DeleteUserAttributeAssignments
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: identityUserFlowAttributeAssignment-id
          in: path
          description: 'key: id of identityUserFlowAttributeAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlowAttributeAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments/{identityUserFlowAttributeAssignment-id}/userAttribute':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get userAttribute from identity
      description: The user attribute that you want to add to your user flow.
      operationId: identity.b2xUserFlows.userAttributeAssignments_GetUserAttribute
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: identityUserFlowAttributeAssignment-id
          in: path
          description: 'key: id of identityUserFlowAttributeAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlowAttributeAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - dataType
                - description
                - displayName
                - userFlowAttributeType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttribute'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments/microsoft.graph.getOrder()':
    get:
      tags:
        - identity.Functions
      summary: Invoke function getOrder
      operationId: identity.b2xUserFlows.userAttributeAssignments_getOrder
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentOrder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments/microsoft.graph.setOrder':
    post:
      tags:
        - identity.Actions
      summary: Invoke action setOrder
      operationId: identity.b2xUserFlows.userAttributeAssignments_setOrder
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                newAssignmentOrder:
                  $ref: '#/components/schemas/microsoft.graph.assignmentOrder'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userFlowIdentityProviders':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get userFlowIdentityProviders from identity
      operationId: identity.b2xUserFlows_ListUserFlowIdentityProviders
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.identityProviderBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userFlowIdentityProviders/{identityProviderBase-id}/$ref':
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete ref of navigation property userFlowIdentityProviders for identity
      operationId: identity.b2xUserFlows_DeleteUserFlowIdentityProvidersGraphBPreRef
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: identityProviderBase-id
          in: path
          description: 'key: id of identityProviderBase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProviderBase
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userFlowIdentityProviders/$ref':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get ref of userFlowIdentityProviders from identity
      operationId: identity.b2xUserFlows_ListUserFlowIdentityProvidersGraphBPreRef
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
      responses:
        '200':
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Create new navigation property ref to userFlowIdentityProviders for identity
      operationId: identity.b2xUserFlows_CreateUserFlowIdentityProvidersGraphBPreRef
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: 'key: id of b2xIdentityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get conditionalAccess from identity
      description: the entry point for the Conditional Access (CA) object model.
      operationId: identity_GetConditionalAccess
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - namedLocations
                - policies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - namedLocations
                - policies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessRoot'
          links:
            namedLocations:
              operationId: identity.ConditionalAccess.ListNamedLocations
            policies:
              operationId: identity.ConditionalAccess.ListPolicies
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property conditionalAccess in identity
      operationId: identity_UpdateConditionalAccess
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property conditionalAccess for identity
      operationId: identity_DeleteConditionalAccess
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess/namedLocations:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get namedLocations from identity
      description: Read-only. Nullable. Returns a collection of the specified named locations.
      operationId: identity.conditionalAccess_ListNamedLocations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - modifiedDateTime
                - modifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.namedLocationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.conditionalAccessRoot
      summary: Create new navigation property to namedLocations for identity
      operationId: identity.conditionalAccess_CreateNamedLocations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/conditionalAccess/namedLocations/{namedLocation-id}':
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get namedLocations from identity
      description: Read-only. Nullable. Returns a collection of the specified named locations.
      operationId: identity.conditionalAccess_GetNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property namedLocations in identity
      operationId: identity.conditionalAccess_UpdateNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property namedLocations for identity
      operationId: identity.conditionalAccess_DeleteNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess/policies:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get policies from identity
      description: Read-only. Nullable. Returns a collection of the specified Conditional Access (CA) policies.
      operationId: identity.conditionalAccess_ListPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - conditions
                - conditions desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - grantControls
                - grantControls desc
                - modifiedDateTime
                - modifiedDateTime desc
                - sessionControls
                - sessionControls desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conditions
                - createdDateTime
                - description
                - displayName
                - grantControls
                - modifiedDateTime
                - sessionControls
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.conditionalAccessPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.conditionalAccessRoot
      summary: Create new navigation property to policies for identity
      operationId: identity.conditionalAccess_CreatePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/conditionalAccess/policies/{conditionalAccessPolicy-id}':
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get policies from identity
      description: Read-only. Nullable. Returns a collection of the specified Conditional Access (CA) policies.
      operationId: identity.conditionalAccess_GetPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conditions
                - createdDateTime
                - description
                - displayName
                - grantControls
                - modifiedDateTime
                - sessionControls
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property policies in identity
      operationId: identity.conditionalAccess_UpdatePolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property policies for identity
      operationId: identity.conditionalAccess_DeletePolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/identityProviders:
    get:
      tags:
        - identity.identityProviderBase
      summary: Get identityProviders from identity
      operationId: identity_ListIdentityProviders
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.identityProviderBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.identityProviderBase
      summary: Create new navigation property to identityProviders for identity
      operationId: identity_CreateIdentityProviders
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityProviderBase'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProviderBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/identityProviders/{identityProviderBase-id}':
    get:
      tags:
        - identity.identityProviderBase
      summary: Get identityProviders from identity
      operationId: identity_GetIdentityProviders
      parameters:
        - name: identityProviderBase-id
          in: path
          description: 'key: id of identityProviderBase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProviderBase
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProviderBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.identityProviderBase
      summary: Update the navigation property identityProviders in identity
      operationId: identity_UpdateIdentityProviders
      parameters:
        - name: identityProviderBase-id
          in: path
          description: 'key: id of identityProviderBase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProviderBase
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityProviderBase'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.identityProviderBase
      summary: Delete navigation property identityProviders for identity
      operationId: identity_DeleteIdentityProviders
      parameters:
        - name: identityProviderBase-id
          in: path
          description: 'key: id of identityProviderBase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProviderBase
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/identityProviders/microsoft.graph.availableProviderTypes():
    get:
      tags:
        - identity.Functions
      summary: Invoke function availableProviderTypes
      operationId: identity.identityProviders_availableProviderTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of identityProviderBase
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                additionalProperties:
                  type: object
        default:
[...]
