openapi: 3.0.4
info:
  title: Identity.SignIns
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /dataPolicyOperations:
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      description: Retrieve the properties of a dataPolicyOperation object.
      operationId: dataPolicyOperation_ListDataPolicyOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.dataPolicyOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Add new entity to dataPolicyOperations
      operationId: dataPolicyOperation_CreateDataPolicyOperation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/dataPolicyOperations/{dataPolicyOperation-id}':
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      description: Retrieve the properties of a dataPolicyOperation object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/datapolicyoperation-get?view=graph-rest-1.0
      operationId: dataPolicyOperation_GetDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: The unique identifier of dataPolicyOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Update entity in dataPolicyOperations
      operationId: dataPolicyOperation_UpdateDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: The unique identifier of dataPolicyOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Delete entity from dataPolicyOperations
      operationId: dataPolicyOperation_DeleteDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: The unique identifier of dataPolicyOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /dataPolicyOperations/$count:
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get the number of the resource
      operationId: dataPolicyOperation_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity:
    get:
      tags:
        - identity.identityContainer
      summary: Get identity
      operationId: identity.identityContainer_GetIdentityContainer
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityContainer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.identityContainer
      summary: Update identity
      operationId: identity.identityContainer_UpdateIdentityContainer
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityContainer'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityContainer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/apiConnectors:
    get:
      tags:
        - identity.identityApiConnector
      summary: List identityApiConnectors
      description: Read the properties of an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-list?view=graph-rest-1.0
      operationId: identity_ListApiConnector
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityApiConnectorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.identityApiConnector
      summary: Create identityApiConnector
      description: Create a new identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-create?view=graph-rest-1.0
      operationId: identity_CreateApiConnector
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/apiConnectors/{identityApiConnector-id}':
    get:
      tags:
        - identity.identityApiConnector
      summary: Get identityApiConnector
      description: Read the properties of an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-get?view=graph-rest-1.0
      operationId: identity_GetApiConnector
      parameters:
        - name: identityApiConnector-id
          in: path
          description: The unique identifier of identityApiConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identityApiConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.identityApiConnector
      summary: Update identityApiConnector
      description: Update the properties of an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-update?view=graph-rest-1.0
      operationId: identity_UpdateApiConnector
      parameters:
        - name: identityApiConnector-id
          in: path
          description: The unique identifier of identityApiConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identityApiConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.identityApiConnector
      summary: Delete identityApiConnector
      description: Delete an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-delete?view=graph-rest-1.0
      operationId: identity_DeleteApiConnector
      parameters:
        - name: identityApiConnector-id
          in: path
          description: The unique identifier of identityApiConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identityApiConnector
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/apiConnectors/{identityApiConnector-id}/microsoft.graph.uploadClientCertificate':
    post:
      tags:
        - identity.identityApiConnector
      summary: Invoke action uploadClientCertificate
      description: Upload a PKCS 12 format key (.pfx) to an API connector's authentication configuration. The input is a base-64 encoded value of the PKCS 12 certificate contents. This method returns an apiConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-uploadclientcertificate?view=graph-rest-1.0
      operationId: identity.apiConnector_uploadClientCertificate
      parameters:
        - name: identityApiConnector-id
          in: path
          description: The unique identifier of identityApiConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identityApiConnector
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                pkcs12Value:
                  type: string
                  nullable: true
                password:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identity/apiConnectors/$count:
    get:
      tags:
        - identity.identityApiConnector
      summary: Get the number of the resource
      operationId: identity.apiConnector_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity/authenticationEventListeners:
    get:
      tags:
        - identity.authenticationEventListener
      summary: List authenticationEventListeners
      description: 'Get a list of the authenticationEventListener objects and their properties. The following derived types are supported:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-list-authenticationeventlisteners?view=graph-rest-1.0
      operationId: identity_ListAuthenticationEventListener
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationEventListenerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventListener
      summary: Create authenticationEventListener
      description: Create a new authenticationEventListener object. You can create one of the following subtypes that are derived from authenticationEventListener.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-post-authenticationeventlisteners?view=graph-rest-1.0
      operationId: identity_CreateAuthenticationEventListener
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventListeners/{authenticationEventListener-id}':
    get:
      tags:
        - identity.authenticationEventListener
      summary: Get authenticationEventListener
      description: Read the properties and relationships of an authenticationEventListener object. The @odata.type property in the response object indicates the type of the authenticationEventListener object. The following derived types are currently supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventlistener-get?view=graph-rest-1.0
      operationId: identity_GetAuthenticationEventListener
      parameters:
        - name: authenticationEventListener-id
          in: path
          description: The unique identifier of authenticationEventListener
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventListener
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.authenticationEventListener
      summary: Update authenticationEventListener
      description: Update the properties of an authenticationEventListener object. You must specify the @odata.type property and the value of the authenticationEventListener object type to update. The following derived types are currently supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventlistener-update?view=graph-rest-1.0
      operationId: identity_UpdateAuthenticationEventListener
      parameters:
        - name: authenticationEventListener-id
          in: path
          description: The unique identifier of authenticationEventListener
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventListener
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventListener
      summary: Delete authenticationEventListener
      description: Delete an authenticationEventListener object. The following derived types are currently supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventlistener-delete?view=graph-rest-1.0
      operationId: identity_DeleteAuthenticationEventListener
      parameters:
        - name: authenticationEventListener-id
          in: path
          description: The unique identifier of authenticationEventListener
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventListener
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/authenticationEventListeners/$count:
    get:
      tags:
        - identity.authenticationEventListener
      summary: Get the number of the resource
      operationId: identity.authenticationEventListener_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity/authenticationEventsFlows:
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List authenticationEventsFlows
      description: "Get a collection of authentication events policies that are derived from authenticationEventsFlow. The following derived subtypes are supported: \n- externalUsersSelfServiceSignupEventsFlow"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-list-authenticationeventsflows?view=graph-rest-1.0
      operationId: identity_ListAuthenticationEventsFlow
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationEventsFlowCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Create authenticationEventsFlow
      description: "Create a new authenticationEventsFlow object that is of the type specified in the request body. The following derived subtypes are supported:\n- externalUsersSelfServiceSignupEventsFlow object type."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-post-authenticationeventsflows?view=graph-rest-1.0
      operationId: identity_CreateAuthenticationEventsFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get authenticationEventsFlow
      description: "Retrieve the properties and relationships of a specific authenticationEventsFlow object by ID. The @odata.type property in the response object indicates the type of the object, which can be one of the following derived subtypes:\n- externalUsersSelfServiceSignupEventsFlow"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventsflow-get?view=graph-rest-1.0
      operationId: identity_GetAuthenticationEventsFlow
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.authenticationEventsFlow
      summary: Update authenticationEventsFlow
      description: "Update the properties of an authenticationEventsFlow object by ID. You must specify the @odata.type property and the value of the authenticationEventsFlow object type to update. The following derived subtypes are supported:\n- externalUsersSelfServiceSignupEventsFlow"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventsflow-update?view=graph-rest-1.0
      operationId: identity_UpdateAuthenticationEventsFlow
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete authenticationEventsFlow
      description: "Delete a specific authenticationEventsFlow resource by ID. This operation also removes or unlinks all applications from the flow, which disables the customized authentication experience defined for the application.  The following derived subtypes are supported:\n- externalUsersSelfServiceSignupEventsFlow"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventsflow-delete?view=graph-rest-1.0
      operationId: identity_DeleteAuthenticationEventsFlow
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get conditions property value
      description: The conditions representing the context of the authentication request that's used to decide whether the events policy is invoked.  Supports $filter (eq). See support for filtering on user flows for syntax information.
      operationId: identity.authenticationEventsFlow_GetCondition
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditions'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List includeApplications (for a user flow)
      description: 'List the applications linked to an external identities self-service sign up user flow that''s represented by an externalUsersSelfServiceSignupEventsFlow object. These are the applications for which the authentication experience that''s defined by the user flow is enabled. To find the user flow that''s linked to an application, see Example 4: List user flow associated with specific application ID.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationconditionsapplications-list-includeapplications?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlow_ListIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationConditionApplicationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Add includeApplication (to a user flow)
      description: 'Add or link an application to a user flow, or authenticationEventsFlow. This enables the authentication experience defined by the user flow to be enabled for the application. An application can only be linked to one user flow. The app must have an associated service principal in the tenant.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationconditionsapplications-post-includeapplications?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlow_CreateIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications/{authenticationConditionApplication-appId}':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get includeApplications from identity
      operationId: identity.authenticationEventsFlow_GetIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: authenticationConditionApplication-appId
          in: path
          description: The unique identifier of authenticationConditionApplication
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationConditionApplication
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.authenticationEventsFlow
      summary: Update the navigation property includeApplications in identity
      operationId: identity.authenticationEventsFlow_UpdateIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: authenticationConditionApplication-appId
          in: path
          description: The unique identifier of authenticationConditionApplication
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationConditionApplication
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete authenticationConditionApplication (from a user flow)
      description: Remove or unlink an application from an authenticationEventsFlow object. This disables the customized authentication experience defined for the application.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationconditionapplication-delete?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlow_DeleteIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: authenticationConditionApplication-appId
          in: path
          description: The unique identifier of authenticationConditionApplication
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationConditionApplication
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications/$count':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlow.includeApplication_GetCount
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the item of type microsoft.graph.authenticationEventsFlow as microsoft.graph.externalUsersSelfServiceSignUpEventsFlow
      operationId: identity_GetAuthenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/conditions':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get conditions property value
      description: The conditions representing the context of the authentication request that's used to decide whether the events policy is invoked.  Supports $filter (eq). See support for filtering on user flows for syntax information.
      operationId: identity.authenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow_GetCondition
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditions'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get includeApplications from identity
      operationId: identity.authenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow_ListIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationConditionApplicationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Create new navigation property to includeApplications for identity
      operationId: identity.authenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow_CreateIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/{authenticationConditionApplication-appId}':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get includeApplications from identity
      operationId: identity.authenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow_GetIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: authenticationConditionApplication-appId
          in: path
          description: The unique identifier of authenticationConditionApplication
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationConditionApplication
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.authenticationEventsFlow
      summary: Update the navigation property includeApplications in identity
      operationId: identity.authenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow_UpdateIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: authenticationConditionApplication-appId
          in: path
          description: The unique identifier of authenticationConditionApplication
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationConditionApplication
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete navigation property includeApplications for identity
      operationId: identity.authenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow_DeleteIncludeApplication
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: authenticationConditionApplication-appId
          in: path
          description: The unique identifier of authenticationConditionApplication
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationConditionApplication
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/$count':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow.includeApplication_GetCount
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get onAttributeCollection property value
      description: The configuration for what to invoke when attributes are ready to be collected from the user.
      operationId: identity.authenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow_GetOnAttributeCollection
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onAttributeCollectionHandler'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the item of type microsoft.graph.onAttributeCollectionHandler as microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp
      operationId: identity.authenticationEventsFlow_GetOnAttributeCollectionAsOnAttributeCollectionExternalUsersSelfServiceSignUp
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List attributes (of a user flow)
      description: Get an identityUserFlowAttribute collection associated with an external identities self-service user flow represented by an externalUsersSelfServiceSignupEventsFlow object. These attributes are collected from the user during the authentication experience defined by the user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onattributecollectionexternalusersselfservicesignup-list-attributes?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlowAsOnAttributeCollectionExternalUsersSelfServiceSignUp_ListAttribute
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityUserFlowAttributeCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes/{identityUserFlowAttribute-id}/$ref':
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete ref of navigation property attributes for identity
      operationId: identity.authenticationEventsFlowAsOnGraphAPretributeCollectionExternalUsersSelfServiceSignUp.attribute_DeleteIdentityUserFlowGraphAPretributeGraphBPreRef
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: identityUserFlowAttribute-id
          in: path
          description: The unique identifier of identityUserFlowAttribute
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlowAttribute
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes/$count':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlowAsOnAttributeCollectionExternalUsersSelfServiceSignUp.attribute_GetCount
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes/$ref':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List attributes (of a user flow)
      description: Get an identityUserFlowAttribute collection associated with an external identities self-service user flow represented by an externalUsersSelfServiceSignupEventsFlow object. These attributes are collected from the user during the authentication experience defined by the user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onattributecollectionexternalusersselfservicesignup-list-attributes?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlowAsOnGraphAPretributeCollectionExternalUsersSelfServiceSignUp_ListGraphAPretributeGraphBPreRef
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Add attribute (to user flow)
      description: 'Add an attribute to an external identities self-service sign up user flow that''s represented by an externalUsersSelfServiceSignupEventsFlow object. You can add both custom and built-in attributes to a user flow. The attribute is added to both the attributeCollection> attributes and attributeCollection> attributeCollectionPage > views collections on the user flow. In the views collection, the attribute is assigned the default settings. You can PATCH the user flow to customize the settings of the attribute on the views object, for example, marking it as required or updating the allowed input types.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onattributecollectionexternalusersselfservicesignup-post-attributes?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlowAsOnGraphAPretributeCollectionExternalUsersSelfServiceSignUp_CreateGraphAPretributeGraphBPreRef
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete ref of navigation property attributes for identity
      operationId: identity.authenticationEventsFlowAsOnGraphAPretributeCollectionExternalUsersSelfServiceSignUp_DeleteGraphAPretributeGraphBPreRef
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
        - name: '@id'
          in: query
          description: The delete Uri
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get onAuthenticationMethodLoadStart property value
      description: Required. The configuration for what to invoke when authentication methods are ready to be presented to the user. Must have at least one identity provider linked.  Supports $filter (eq). See support for filtering on user flows for syntax information.
      operationId: identity.authenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow_GetOnAuthenticationMethodLoadStart
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onAuthenticationMethodLoadStartHandler'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the item of type microsoft.graph.onAuthenticationMethodLoadStartHandler as microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp
      operationId: identity.authenticationEventsFlow_GetOnAuthenticationMethodLoadStartAsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp/identityProviders':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List identityProviders (in a user flow)
      description: Get the identity providers that are defined for an external identities self-service sign up user flow that's represented by an externalUsersSelfServiceSignupEventsFlow object type.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onauthenticationmethodloadstartexternalusersselfservicesignup-list-identityproviders?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlowAsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp_ListIdentityProvider
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityProviderBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp/identityProviders/{identityProviderBase-id}/$ref':
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete ref of navigation property identityProviders for identity
      operationId: identity.authenticationEventsFlowAsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp.identityProvider_DeleteIdentityProviderBaseGraphBPreRef
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: identityProviderBase-id
          in: path
          description: The unique identifier of identityProviderBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identityProviderBase
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp/identityProviders/$count':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlowAsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp.identityProvider_GetCount
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp/identityProviders/$ref':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List identityProviders (in a user flow)
      description: Get the identity providers that are defined for an external identities self-service sign up user flow that's represented by an externalUsersSelfServiceSignupEventsFlow object type.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onauthenticationmethodloadstartexternalusersselfservicesignup-list-identityproviders?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlowAsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp_ListIdentityProviderGraphBPreRef
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Add identityProvider (to a user flow)
      description: Add an identity provider to an external identities self-service user flow represented by an externalUsersSelfServiceSignupEventsFlow object type. The identity provider must first be configured in the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onauthenticationmethodloadstartexternalusersselfservicesignup-post-identityproviders?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlowAsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp_CreateIdentityProviderGraphBPreRef
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete ref of navigation property identityProviders for identity
      operationId: identity.authenticationEventsFlowAsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp_DeleteIdentityProviderGraphBPreRef
      parameters:
        - name: authenticationEventsFlow-id
          in: path
          description: The unique identifier of authenticationEventsFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationEventsFlow
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
        - name: '@id'
          in: query
          description: The delete Uri
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/authenticationEventsFlows/$count:
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlow_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity/authenticationEventsFlows/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow:
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the items of type microsoft.graph.externalUsersSelfServiceSignUpEventsFlow in the microsoft.graph.authenticationEventsFlow collection
      operationId: identity_ListAuthenticationEventsFlowAsExternalUsersSelfServiceSignUpEventsFlow
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalUsersSelfServiceSignUpEventsFlowCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /identity/authenticationEventsFlows/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/$count:
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.AuthenticationEventsFlow_GetCountAsExternalUsersSelfServiceSignUpEventsFlow
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows:
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: List b2xIdentityUserFlows
      description: Retrieve a list of b2xIdentityUserFlow objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-list-b2xuserflows?view=graph-rest-1.0
      operationId: identity_ListB2xUserFlow
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.b2xIdentityUserFlowCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Create b2xIdentityUserFlow
      description: Create a new b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-post-b2xuserflows?view=graph-rest-1.0
      operationId: identity_CreateB2xUserFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get b2xIdentityUserFlow
      description: Retrieve the properties and relationships of a b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-get?view=graph-rest-1.0
      operationId: identity_GetB2xUserFlow
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property b2xUserFlows in identity
      operationId: identity_UpdateB2xUserFlow
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete b2xIdentityUserFlow
      description: Delete a b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-delete?view=graph-rest-1.0
      operationId: identity_DeleteB2xUserFlow
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get userFlowApiConnectorConfiguration
      description: Get the apiConnectorConfiguration property in a b2xIdentityUserFlow to detail the API connectors enabled for the user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-get-apiconnectorconfiguration?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_GetApiConnectorConfiguration
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowApiConnectorConfiguration'
        default:
          $ref: '#/components/responses/error'
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postAttributeCollection':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get postAttributeCollection from identity
      operationId: identity.b2xUserFlow_GetPostAttributeCollection
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property postAttributeCollection in identity
      operationId: identity.b2xUserFlow_UpdatePostAttributeCollection
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete navigation property postAttributeCollection for identity
      operationId: identity.b2xUserFlow_DeletePostAttributeCollection
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postAttributeCollection/$ref':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get ref of postAttributeCollection from identity
      operationId: identity.b2xUserFlow_GetPostGraphAPretributeCollectionGraphBPreRef
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      responses:
        2XX:
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the ref of navigation property postAttributeCollection in identity
      operationId: identity.b2xUserFlow_SetPostGraphAPretributeCollectionGraphBPreRef
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        $ref: '#/components/requestBodies/refPutBody'
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete ref of navigation property postAttributeCollection for identity
      operationId: identity.b2xUserFlow_DeletePostGraphAPretributeCollectionGraphBPreRef
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postAttributeCollection/microsoft.graph.uploadClientCertificate':
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Invoke action uploadClientCertificate
      description: Upload a PKCS 12 format key (.pfx) to an API connector's authentication configuration. The input is a base-64 encoded value of the PKCS 12 certificate contents. This method returns an apiConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-uploadclientcertificate?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.apiConnectorConfiguration.postAttributeCollection_uploadClientCertificate
      parameters:
        - name: b2xIdentityUserFlow-id
          in: path
          description: The unique identifier of b2xIdentityUserFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                pkcs12Value:
                  type: string
                  nullable: true
                password:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postFederationSignup':
    get:
      tags:
        - identity.b2xIdentityUserFlow
[...]
