openapi: 3.0.1
info:
  title: Identity.Policies
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /policies:
    get:
      tags:
        - policies.policyRoot
      summary: Get policies
      operationId: policies.policyRoot_GetPolicyRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityBasedTimeoutPolicies
                - claimsMappingPolicies
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - identitySecurityDefaultsEnforcementPolicy
                - conditionalAccessPolicies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activityBasedTimeoutPolicies
                - claimsMappingPolicies
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - identitySecurityDefaultsEnforcementPolicy
                - conditionalAccessPolicies
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.policyRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.policyRoot
      summary: Update policies
      operationId: policies.policyRoot_UpdatePolicyRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.policyRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/activityBasedTimeoutPolicies:
    get:
      tags:
        - policies.activityBasedTimeoutPolicy
      summary: Get activityBasedTimeoutPolicies from policies
      operationId: policies_ListActivityBasedTimeoutPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of activityBasedTimeoutPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.activityBasedTimeoutPolicy
      summary: Create new navigation property to activityBasedTimeoutPolicies for policies
      operationId: policies_CreateActivityBasedTimeoutPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/activityBasedTimeoutPolicies/{activityBasedTimeoutPolicy-id}':
    get:
      tags:
        - policies.activityBasedTimeoutPolicy
      summary: Get activityBasedTimeoutPolicies from policies
      operationId: policies_GetActivityBasedTimeoutPolicies
      parameters:
        - name: activityBasedTimeoutPolicy-id
          in: path
          description: 'key: id of activityBasedTimeoutPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityBasedTimeoutPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.activityBasedTimeoutPolicy
      summary: Update the navigation property activityBasedTimeoutPolicies in policies
      operationId: policies_UpdateActivityBasedTimeoutPolicies
      parameters:
        - name: activityBasedTimeoutPolicy-id
          in: path
          description: 'key: id of activityBasedTimeoutPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityBasedTimeoutPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.activityBasedTimeoutPolicy
      summary: Delete navigation property activityBasedTimeoutPolicies for policies
      operationId: policies_DeleteActivityBasedTimeoutPolicies
      parameters:
        - name: activityBasedTimeoutPolicy-id
          in: path
          description: 'key: id of activityBasedTimeoutPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityBasedTimeoutPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/claimsMappingPolicies:
    get:
      tags:
        - policies.claimsMappingPolicy
      summary: Get claimsMappingPolicies from policies
      operationId: policies_ListClaimsMappingPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of claimsMappingPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.claimsMappingPolicy
      summary: Create new navigation property to claimsMappingPolicies for policies
      operationId: policies_CreateClaimsMappingPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/claimsMappingPolicies/{claimsMappingPolicy-id}':
    get:
      tags:
        - policies.claimsMappingPolicy
      summary: Get claimsMappingPolicies from policies
      operationId: policies_GetClaimsMappingPolicies
      parameters:
        - name: claimsMappingPolicy-id
          in: path
          description: 'key: id of claimsMappingPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: claimsMappingPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.claimsMappingPolicy
      summary: Update the navigation property claimsMappingPolicies in policies
      operationId: policies_UpdateClaimsMappingPolicies
      parameters:
        - name: claimsMappingPolicy-id
          in: path
          description: 'key: id of claimsMappingPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: claimsMappingPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.claimsMappingPolicy
      summary: Delete navigation property claimsMappingPolicies for policies
      operationId: policies_DeleteClaimsMappingPolicies
      parameters:
        - name: claimsMappingPolicy-id
          in: path
          description: 'key: id of claimsMappingPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: claimsMappingPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/conditionalAccessPolicies:
    get:
      tags:
        - policies.conditionalAccessPolicy
      summary: Get conditionalAccessPolicies from policies
      operationId: policies_ListConditionalAccessPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - modifiedDateTime
                - modifiedDateTime desc
                - displayName
                - displayName desc
                - description
                - description desc
                - state
                - state desc
                - conditions
                - conditions desc
                - grantControls
                - grantControls desc
                - sessionControls
                - sessionControls desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - modifiedDateTime
                - displayName
                - description
                - state
                - conditions
                - grantControls
                - sessionControls
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of conditionalAccessPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.conditionalAccessPolicy
      summary: Create new navigation property to conditionalAccessPolicies for policies
      operationId: policies_CreateConditionalAccessPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/conditionalAccessPolicies/{conditionalAccessPolicy-id}':
    get:
      tags:
        - policies.conditionalAccessPolicy
      summary: Get conditionalAccessPolicies from policies
      operationId: policies_GetConditionalAccessPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - modifiedDateTime
                - displayName
                - description
                - state
                - conditions
                - grantControls
                - sessionControls
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.conditionalAccessPolicy
      summary: Update the navigation property conditionalAccessPolicies in policies
      operationId: policies_UpdateConditionalAccessPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.conditionalAccessPolicy
      summary: Delete navigation property conditionalAccessPolicies for policies
      operationId: policies_DeleteConditionalAccessPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/homeRealmDiscoveryPolicies:
    get:
      tags:
        - policies.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from policies
      operationId: policies_ListHomeRealmDiscoveryPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of homeRealmDiscoveryPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.homeRealmDiscoveryPolicy
      summary: Create new navigation property to homeRealmDiscoveryPolicies for policies
      operationId: policies_CreateHomeRealmDiscoveryPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/homeRealmDiscoveryPolicies/{homeRealmDiscoveryPolicy-id}':
    get:
      tags:
        - policies.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from policies
      operationId: policies_GetHomeRealmDiscoveryPolicies
      parameters:
        - name: homeRealmDiscoveryPolicy-id
          in: path
          description: 'key: id of homeRealmDiscoveryPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: homeRealmDiscoveryPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.homeRealmDiscoveryPolicy
      summary: Update the navigation property homeRealmDiscoveryPolicies in policies
      operationId: policies_UpdateHomeRealmDiscoveryPolicies
      parameters:
        - name: homeRealmDiscoveryPolicy-id
          in: path
          description: 'key: id of homeRealmDiscoveryPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: homeRealmDiscoveryPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.homeRealmDiscoveryPolicy
      summary: Delete navigation property homeRealmDiscoveryPolicies for policies
      operationId: policies_DeleteHomeRealmDiscoveryPolicies
      parameters:
        - name: homeRealmDiscoveryPolicy-id
          in: path
          description: 'key: id of homeRealmDiscoveryPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: homeRealmDiscoveryPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/identitySecurityDefaultsEnforcementPolicy:
    get:
      tags:
        - policies.identitySecurityDefaultsEnforcementPolicy
      summary: Get identitySecurityDefaultsEnforcementPolicy from policies
      operationId: policies_GetIdentitySecurityDefaultsEnforcementPolicy
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - isEnabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.identitySecurityDefaultsEnforcementPolicy
      summary: Update the navigation property identitySecurityDefaultsEnforcementPolicy in policies
      operationId: policies_UpdateIdentitySecurityDefaultsEnforcementPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.identitySecurityDefaultsEnforcementPolicy
      summary: Delete navigation property identitySecurityDefaultsEnforcementPolicy for policies
      operationId: policies_DeleteIdentitySecurityDefaultsEnforcementPolicy
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/tokenIssuancePolicies:
    get:
      tags:
        - policies.tokenIssuancePolicy
      summary: Get tokenIssuancePolicies from policies
      operationId: policies_ListTokenIssuancePolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of tokenIssuancePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.tokenIssuancePolicy
      summary: Create new navigation property to tokenIssuancePolicies for policies
      operationId: policies_CreateTokenIssuancePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/tokenIssuancePolicies/{tokenIssuancePolicy-id}':
    get:
      tags:
        - policies.tokenIssuancePolicy
      summary: Get tokenIssuancePolicies from policies
      operationId: policies_GetTokenIssuancePolicies
      parameters:
        - name: tokenIssuancePolicy-id
          in: path
          description: 'key: id of tokenIssuancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenIssuancePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.tokenIssuancePolicy
      summary: Update the navigation property tokenIssuancePolicies in policies
      operationId: policies_UpdateTokenIssuancePolicies
      parameters:
        - name: tokenIssuancePolicy-id
          in: path
          description: 'key: id of tokenIssuancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenIssuancePolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.tokenIssuancePolicy
      summary: Delete navigation property tokenIssuancePolicies for policies
      operationId: policies_DeleteTokenIssuancePolicies
      parameters:
        - name: tokenIssuancePolicy-id
          in: path
          description: 'key: id of tokenIssuancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenIssuancePolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/tokenLifetimePolicies:
    get:
      tags:
        - policies.tokenLifetimePolicy
      summary: Get tokenLifetimePolicies from policies
      operationId: policies_ListTokenLifetimePolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of tokenLifetimePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.tokenLifetimePolicy
      summary: Create new navigation property to tokenLifetimePolicies for policies
      operationId: policies_CreateTokenLifetimePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/tokenLifetimePolicies/{tokenLifetimePolicy-id}':
    get:
      tags:
        - policies.tokenLifetimePolicy
      summary: Get tokenLifetimePolicies from policies
      operationId: policies_GetTokenLifetimePolicies
      parameters:
        - name: tokenLifetimePolicy-id
          in: path
          description: 'key: id of tokenLifetimePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenLifetimePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.tokenLifetimePolicy
      summary: Update the navigation property tokenLifetimePolicies in policies
      operationId: policies_UpdateTokenLifetimePolicies
      parameters:
        - name: tokenLifetimePolicy-id
          in: path
          description: 'key: id of tokenLifetimePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenLifetimePolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.tokenLifetimePolicy
      summary: Delete navigation property tokenLifetimePolicies for policies
      operationId: policies_DeleteTokenLifetimePolicies
      parameters:
        - name: tokenLifetimePolicy-id
          in: path
          description: 'key: id of tokenLifetimePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenLifetimePolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.policyRoot:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: policyRoot
          type: object
          properties:
            activityBasedTimeoutPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
            claimsMappingPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
            homeRealmDiscoveryPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
            tokenIssuancePolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
            tokenLifetimePolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
            identitySecurityDefaultsEnforcementPolicy:
              $ref: '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
            conditionalAccessPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
          additionalProperties:
            type: object
    microsoft.graph.activityBasedTimeoutPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: activityBasedTimeoutPolicy
          type: object
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.claimsMappingPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: claimsMappingPolicy
          type: object
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.conditionalAccessPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: conditionalAccessPolicy
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Readonly.'
              format: date-time
              nullable: true
            modifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Readonly.'
              format: date-time
              nullable: true
            displayName:
              type: string
              description: Specifies a display name for the conditionalAccessPolicy object.
            description:
              type: string
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicyState'
            conditions:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessConditionSet'
            grantControls:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessGrantControls'
            sessionControls:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControls'
          additionalProperties:
            type: object
    microsoft.graph.homeRealmDiscoveryPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: homeRealmDiscoveryPolicy
          type: object
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.identitySecurityDefaultsEnforcementPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.policyBase'
        - title: identitySecurityDefaultsEnforcementPolicy
          type: object
          properties:
            isEnabled:
              type: boolean
              description: 'If set to true, Azure Active Directory security defaults is enabled for the tenant.'
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.tokenIssuancePolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: tokenIssuancePolicy
          type: object
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.tokenLifetimePolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: tokenLifetimePolicy
          type: object
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.stsPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.policyBase'
        - title: stsPolicy
          type: object
          properties:
            definition:
              type: array
              items:
                type: string
              description: A string collection containing a JSON string that defines the rules and settings for a policy. The syntax for the definition differs for each derived policy type. Required.
            isOrganizationDefault:
              type: boolean
              description: 'If set to true, activates this policy. There can be many policies for the same policy type, but only one can be activated as the organization default. Optional, default value is false.'
              nullable: true
            appliesTo:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.conditionalAccessPolicyState:
      title: conditionalAccessPolicyState
      enum:
        - enabled
        - disabled
        - enabledForReportingButNotEnforced
      type: string
    microsoft.graph.conditionalAccessConditionSet:
      title: conditionalAccessConditionSet
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessApplications'
        users:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessUsers'
        signInRiskLevels:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.riskLevel'
          description: 'Risk levels included in the policy. Possible values are: low, medium, high, none.'
        platforms:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessPlatforms'
        locations:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessLocations'
        clientAppTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessClientApp'
          description: 'Client application types included in the policy. Possible values are: all, browser, mobileAppsAndDesktopClients, exchangeActiveSync, easSupported, other.'
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessGrantControls:
      title: conditionalAccessGrantControls
      type: object
      properties:
        operator:
          type: string
          description: 'Defines the relationship of the grant controls. Possible values: AND, OR.'
          nullable: true
        builtInControls:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessGrantControl'
          description: 'List of values of built-in controls required by the policy. Possible values: Block, Mfa, CompliantDevice, DomainJoinedDevice, ApprovedApplication, CompliantApplication'
        customAuthenticationFactors:
          type: array
          items:
            type: string
          description: 'List of custom controls IDs required by the policy. For more information, see Custom controls.'
        termsOfUse:
          type: array
          items:
            type: string
          description: List of terms of use IDs required by the policy.
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessSessionControls:
      title: conditionalAccessSessionControls
      type: object
      properties:
        applicationEnforcedRestrictions:
          $ref: '#/components/schemas/microsoft.graph.applicationEnforcedRestrictionsSessionControl'
        cloudAppSecurity:
          $ref: '#/components/schemas/microsoft.graph.cloudAppSecuritySessionControl'
        signInFrequency:
          $ref: '#/components/schemas/microsoft.graph.signInFrequencySessionControl'
        persistentBrowser:
          $ref: '#/components/schemas/microsoft.graph.persistentBrowserSessionControl'
      additionalProperties:
        type: object
    microsoft.graph.policyBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: policyBase
          type: object
          properties:
            description:
              type: string
              description: Description for this policy.
              nullable: true
            displayName:
              type: string
              description: Display name for this policy.
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.conditionalAccessApplications:
      title: conditionalAccessApplications
      type: object
      properties:
        includeApplications:
          type: array
          items:
            type: string
          description: 'The list of application IDs the policy applies to, unless explicitly excluded (in excludeApplications). Can also be set to All.'
        excludeApplications:
          type: array
          items:
            type: string
          description: The list of application IDs explicitly excluded from the policy.
        includeUserActions:
          type: array
          items:
            type: string
          description: 'User actions to include. For example, urn:user:registersecurityinfo'
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessUsers:
      title: conditionalAccessUsers
      type: object
      properties:
        includeUsers:
          type: array
          items:
            type: string
          description: 'User IDs in scope of policy unless explicitly excluded, or None or All or GuestsOrExternalUsers.'
        excludeUsers:
          type: array
          items:
            type: string
          description: User IDs excluded from scope of policy and/or GuestsOrExternalUsers.
        includeGroups:
          type: array
          items:
            type: string
          description: 'Group IDs in scope of policy unless explicitly excluded, or All.'
        excludeGroups:
          type: array
          items:
            type: string
          description: Group IDs excluded from scope of policy.
        includeRoles:
          type: array
          items:
            type: string
          description: 'Role IDs in scope of policy unless explicitly excluded, or All.'
        excludeRoles:
          type: array
          items:
            type: string
          description: Role IDs excluded from scope of policy.
      additionalProperties:
        type: object
    microsoft.graph.riskLevel:
      title: riskLevel
      enum:
        - low
        - medium
        - high
        - hidden
        - none
        - unknownFutureValue
      type: string
    microsoft.graph.conditionalAccessPlatforms:
      title: conditionalAccessPlatforms
      type: object
      properties:
        includePlatforms:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevicePlatform'
          description: 'Possible values are: android, iOS, windows, windowsPhone, macOS, all, unknownFutureValue.'
        excludePlatforms:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevicePlatform'
          description: 'Possible values are: android, iOS, windows, windowsPhone, macOS, unknownFutureValue.'
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessLocations:
      title: conditionalAccessLocations
      type: object
      properties:
        includeLocations:
          type: array
          items:
            type: string
          description: 'Location IDs in scope of policy unless explicitly excluded, All, or AllTrusted.'
        excludeLocations:
          type: array
          items:
            type: string
          description: Location IDs excluded from scope of policy.
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessClientApp:
      title: conditionalAccessClientApp
      enum:
        - all
        - browser
        - mobileAppsAndDesktopClients
        - exchangeActiveSync
        - easSupported
        - other
        - unknownFutureValue
      type: string
    microsoft.graph.conditionalAccessGrantControl:
      title: conditionalAccessGrantControl
      enum:
        - block
        - mfa
        - compliantDevice
        - domainJoinedDevice
        - approvedApplication
        - compliantApplication
        - unknownFutureValue
      type: string
    microsoft.graph.applicationEnforcedRestrictionsSessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: applicationEnforcedRestrictionsSessionControl
          type: object
          additionalProperties:
            type: object
    microsoft.graph.cloudAppSecuritySessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: cloudAppSecuritySessionControl
          type: object
          properties:
            cloudAppSecurityType:
              $ref: '#/components/schemas/microsoft.graph.cloudAppSecuritySessionControlType'
          additionalProperties:
            type: object
    microsoft.graph.signInFrequencySessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: signInFrequencySessionControl
          type: object
          properties:
            value:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The number of days or hours.
              format: int32
              nullable: true
            type:
              $ref: '#/components/schemas/microsoft.graph.signinFrequencyType'
          additionalProperties:
            type: object
    microsoft.graph.persistentBrowserSessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: persistentBrowserSessionControl
          type: object
          properties:
            mode:
              $ref: '#/components/schemas/microsoft.graph.persistentBrowserSessionMode'
          additionalProperties:
            type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessDevicePlatform:
      title: conditionalAccessDevicePlatform
      enum:
        - android
        - iOS
        - windows
        - windowsPhone
        - macOS
        - all
        - unknownFutureValue
      type: string
    microsoft.graph.conditionalAccessSessionControl:
      title: conditionalAccessSessionControl
      type: object
      properties:
        isEnabled:
          type: boolean
          description: Specifies whether the session control is enabled.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.cloudAppSecuritySessionControlType:
      title: cloudAppSecuritySessionControlType
      enum:
        - mcasConfigured
        - monitorOnly
        - blockDownloads
        - unknownFutureValue
      type: string
    microsoft.graph.signinFrequencyType:
      title: signinFrequencyType
      enum:
        - days
        - hours
      type: string
    microsoft.graph.persistentBrowserSessionMode:
      title: persistentBrowserSessionMode
      enum:
        - always
        - never
      type: string
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]