openapi: 3.0.1
info:
  title: Identity.AuditLogs
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLogs.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - signIns
                - directoryAudits
                - restrictedSignIns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - signIns
                - directoryAudits
                - restrictedSignIns
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
          links:
            signIns:
              operationId: auditLogs.GetSignIns
              parameters:
                signIn-id: $response.body#/id
            directoryAudits:
              operationId: auditLogs.GetDirectoryAudits
              parameters:
                directoryAudit-id: $response.body#/id
            restrictedSignIns:
              operationId: auditLogs.GetRestrictedSignIns
              parameters:
                restrictedSignIn-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLogs.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_ListDirectoryAudits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - category
                - category desc
                - correlationId
                - correlationId desc
                - result
                - result desc
                - resultReason
                - resultReason desc
                - activityDisplayName
                - activityDisplayName desc
                - activityDateTime
                - activityDateTime desc
                - loggedByService
                - loggedByService desc
                - operationType
                - operationType desc
                - initiatedBy
                - initiatedBy desc
                - targetResources
                - targetResources desc
                - additionalDetails
                - additionalDetails desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - category
                - correlationId
                - result
                - resultReason
                - activityDisplayName
                - activityDateTime
                - loggedByService
                - operationType
                - initiatedBy
                - targetResources
                - additionalDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryAudit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLogs_CreateDirectoryAudits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_GetDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: directoryAudit-id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - category
                - correlationId
                - result
                - resultReason
                - activityDisplayName
                - activityDateTime
                - loggedByService
                - operationType
                - initiatedBy
                - targetResources
                - additionalDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLogs_UpdateDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: directoryAudit-id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/restrictedSignIns:
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_ListRestrictedSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - userDisplayName
                - userDisplayName desc
                - userPrincipalName
                - userPrincipalName desc
                - userId
                - userId desc
                - appId
                - appId desc
                - appDisplayName
                - appDisplayName desc
                - ipAddress
                - ipAddress desc
                - status
                - status desc
                - clientAppUsed
                - clientAppUsed desc
                - deviceDetail
                - deviceDetail desc
                - location
                - location desc
                - correlationId
                - correlationId desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - isInteractive
                - isInteractive desc
                - riskDetail
                - riskDetail desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - targetTenantId
                - targetTenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - userDisplayName
                - userPrincipalName
                - userId
                - appId
                - appDisplayName
                - ipAddress
                - status
                - clientAppUsed
                - deviceDetail
                - location
                - correlationId
                - conditionalAccessStatus
                - appliedConditionalAccessPolicies
                - isInteractive
                - riskDetail
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - riskEventTypes
                - riskEventTypes_v2
                - resourceDisplayName
                - resourceId
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of restrictedSignIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - auditLogs.restrictedSignIn
      summary: Create new navigation property to restrictedSignIns for auditLogs
      operationId: auditLogs_CreateRestrictedSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/restrictedSignIns/{restrictedSignIn-id}':
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_GetRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: restrictedSignIn-id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - userDisplayName
                - userPrincipalName
                - userId
                - appId
                - appDisplayName
                - ipAddress
                - status
                - clientAppUsed
                - deviceDetail
                - location
                - correlationId
                - conditionalAccessStatus
                - appliedConditionalAccessPolicies
                - isInteractive
                - riskDetail
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - riskEventTypes
                - riskEventTypes_v2
                - resourceDisplayName
                - resourceId
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - auditLogs.restrictedSignIn
      summary: Update the navigation property restrictedSignIns in auditLogs
      operationId: auditLogs_UpdateRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: restrictedSignIn-id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_ListSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - userDisplayName
                - userDisplayName desc
                - userPrincipalName
                - userPrincipalName desc
                - userId
                - userId desc
                - appId
                - appId desc
                - appDisplayName
                - appDisplayName desc
                - ipAddress
                - ipAddress desc
                - status
                - status desc
                - clientAppUsed
                - clientAppUsed desc
                - deviceDetail
                - deviceDetail desc
                - location
                - location desc
                - correlationId
                - correlationId desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - isInteractive
                - isInteractive desc
                - riskDetail
                - riskDetail desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - userDisplayName
                - userPrincipalName
                - userId
                - appId
                - appDisplayName
                - ipAddress
                - status
                - clientAppUsed
                - deviceDetail
                - location
                - correlationId
                - conditionalAccessStatus
                - appliedConditionalAccessPolicies
                - isInteractive
                - riskDetail
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - riskEventTypes
                - riskEventTypes_v2
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of signIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLogs_CreateSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_GetSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: signIn-id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - userDisplayName
                - userPrincipalName
                - userId
                - appId
                - appDisplayName
                - ipAddress
                - status
                - clientAppUsed
                - deviceDetail
                - location
                - correlationId
                - conditionalAccessStatus
                - appliedConditionalAccessPolicies
                - isInteractive
                - riskDetail
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - riskEventTypes
                - riskEventTypes_v2
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLogs_UpdateSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: signIn-id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.auditLogRoot:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: auditLogRoot
          type: object
          properties:
            signIns:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.signIn'
              description: Read-only. Nullable.
            directoryAudits:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
              description: Read-only. Nullable.
            restrictedSignIns:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
      example:
        id: string (identifier)
        signIns:
          - '@odata.type': microsoft.graph.signIn
        directoryAudits:
          - '@odata.type': microsoft.graph.directoryAudit
        restrictedSignIns:
          - '@odata.type': microsoft.graph.restrictedSignIn
    microsoft.graph.directoryAudit:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryAudit
          type: object
          properties:
            category:
              type: string
              description: 'Indicates which resource category that''s targeted by the activity. (For example: User Management, Group Management etc..)'
            correlationId:
              type: string
              description: Indicates a unique ID that helps correlate activities that span across various services. Can be used to trace logs across services.
              nullable: true
            result:
              $ref: '#/components/schemas/microsoft.graph.operationResult'
            resultReason:
              type: string
              description: Describes cause of 'failure' or 'timeout' results.
              nullable: true
            activityDisplayName:
              type: string
              description: 'Indicates the activity name or the operation name (examples: ''Create User'' and ''Add member to group''). For full list, see Azure AD activity list.'
            activityDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Indicates the date and time the activity was performed. The Timestamp type is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
            loggedByService:
              type: string
              description: 'Indicates information on which service initiated the activity (For example: Self-service Password Management, Core Directory, B2C, Invited Users, Microsoft Identity Manager, Privileged Identity Management.'
              nullable: true
            operationType:
              type: string
              nullable: true
            initiatedBy:
              $ref: '#/components/schemas/microsoft.graph.auditActivityInitiator'
            targetResources:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.targetResource'
              description: 'Indicates information on which resource was changed due to the activity. Target Resource Type can be User, Device, Directory, App, Role, Group, Policy or Other.'
            additionalDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.keyValue'
              description: Indicates additional details on the activity.
      example:
        id: string (identifier)
        category: string
        correlationId: string
        result:
          '@odata.type': microsoft.graph.operationResult
        resultReason: string
        activityDisplayName: string
        activityDateTime: string (timestamp)
        loggedByService: string
        operationType: string
        initiatedBy:
          '@odata.type': microsoft.graph.auditActivityInitiator
        targetResources:
          - '@odata.type': microsoft.graph.targetResource
        additionalDetails:
          - '@odata.type': microsoft.graph.keyValue
    microsoft.graph.restrictedSignIn:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.signIn'
        - title: restrictedSignIn
          type: object
          properties:
            targetTenantId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
              nullable: true
      example:
        id: string (identifier)
        createdDateTime: string (timestamp)
        userDisplayName: string
        userPrincipalName: string
        userId: string
        appId: string
        appDisplayName: string
        ipAddress: string
        status:
          '@odata.type': microsoft.graph.signInStatus
        clientAppUsed: string
        deviceDetail:
          '@odata.type': microsoft.graph.deviceDetail
        location:
          '@odata.type': microsoft.graph.signInLocation
        correlationId: string
        conditionalAccessStatus:
          '@odata.type': microsoft.graph.conditionalAccessStatus
        appliedConditionalAccessPolicies:
          - '@odata.type': microsoft.graph.appliedConditionalAccessPolicy
        isInteractive: true
        riskDetail:
          '@odata.type': microsoft.graph.riskDetail
        riskLevelAggregated:
          '@odata.type': microsoft.graph.riskLevel
        riskLevelDuringSignIn:
          '@odata.type': microsoft.graph.riskLevel
        riskState:
          '@odata.type': microsoft.graph.riskState
        riskEventTypes:
          - '@odata.type': microsoft.graph.riskEventType
        riskEventTypes_v2:
          - string
        resourceDisplayName: string
        resourceId: string
        targetTenantId: string
    microsoft.graph.signIn:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: signIn
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Date and time (UTC) the sign-in was initiated. Example: midnight on Jan 1, 2014 is reported as ''2014-01-01T00:00:00Z''.'
              format: date-time
            userDisplayName:
              type: string
              description: Display name of the user that initiated the sign-in.
              nullable: true
            userPrincipalName:
              type: string
              description: User principal name of the user that initiated the sign-in.
              nullable: true
            userId:
              type: string
              description: ID of the user that initiated the sign-in.
            appId:
              type: string
              description: Unique GUID representing the app ID in the Azure Active Directory.
              nullable: true
            appDisplayName:
              type: string
              description: App name displayed in the Azure Portal.
              nullable: true
            ipAddress:
              type: string
              description: IP address of the client used to sign in.
              nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.signInStatus'
            clientAppUsed:
              type: string
              description: 'Identifies the legacy client used for sign-in activity.  Includes Browser, Exchange Active Sync, modern clients, IMAP, MAPI, SMTP, and POP.'
              nullable: true
            deviceDetail:
              $ref: '#/components/schemas/microsoft.graph.deviceDetail'
            location:
              $ref: '#/components/schemas/microsoft.graph.signInLocation'
            correlationId:
              type: string
              description: The request ID sent from the client when the sign-in is initiated; used to troubleshoot sign-in activity.
              nullable: true
            conditionalAccessStatus:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessStatus'
            appliedConditionalAccessPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.appliedConditionalAccessPolicy'
            isInteractive:
              type: boolean
              description: Indicates if a sign-in is interactive or not.
              nullable: true
            riskDetail:
              $ref: '#/components/schemas/microsoft.graph.riskDetail'
            riskLevelAggregated:
              $ref: '#/components/schemas/microsoft.graph.riskLevel'
            riskLevelDuringSignIn:
              $ref: '#/components/schemas/microsoft.graph.riskLevel'
            riskState:
              $ref: '#/components/schemas/microsoft.graph.riskState'
            riskEventTypes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.riskEventType'
              description: 'Risk event types associated with the sign-in. The possible values are: unlikelyTravel, anonymizedIPAddress, maliciousIPAddress, unfamiliarFeatures, malwareInfectedIPAddress, suspiciousIPAddress, leakedCredentials, investigationsThreatIntelligence,  generic, and unknownFutureValue.'
            riskEventTypes_v2:
              type: array
              items:
                type: string
                nullable: true
              description: 'The list of risk event types associated with the sign-in. Possible values: unlikelyTravel, anonymizedIPAddress, maliciousIPAddress, unfamiliarFeatures, malwareInfectedIPAddress, suspiciousIPAddress, leakedCredentials, investigationsThreatIntelligence,  generic, or unknownFutureValue.'
            resourceDisplayName:
              type: string
              description: Name of the resource the user signed into.
              nullable: true
            resourceId:
              type: string
              description: ID of the resource that the user signed into.
              nullable: true
      example:
        id: string (identifier)
        createdDateTime: string (timestamp)
        userDisplayName: string
        userPrincipalName: string
        userId: string
        appId: string
        appDisplayName: string
        ipAddress: string
        status:
          '@odata.type': microsoft.graph.signInStatus
        clientAppUsed: string
        deviceDetail:
          '@odata.type': microsoft.graph.deviceDetail
        location:
          '@odata.type': microsoft.graph.signInLocation
        correlationId: string
        conditionalAccessStatus:
          '@odata.type': microsoft.graph.conditionalAccessStatus
        appliedConditionalAccessPolicies:
          - '@odata.type': microsoft.graph.appliedConditionalAccessPolicy
        isInteractive: true
        riskDetail:
          '@odata.type': microsoft.graph.riskDetail
        riskLevelAggregated:
          '@odata.type': microsoft.graph.riskLevel
        riskLevelDuringSignIn:
          '@odata.type': microsoft.graph.riskLevel
        riskState:
          '@odata.type': microsoft.graph.riskState
        riskEventTypes:
          - '@odata.type': microsoft.graph.riskEventType
        riskEventTypes_v2:
          - string
        resourceDisplayName: string
        resourceId: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.operationResult:
      title: operationResult
      enum:
        - success
        - failure
        - timeout
        - unknownFutureValue
      type: string
    microsoft.graph.auditActivityInitiator:
      title: auditActivityInitiator
      type: object
      properties:
        user:
          $ref: '#/components/schemas/microsoft.graph.userIdentity'
        app:
          $ref: '#/components/schemas/microsoft.graph.appIdentity'
      example:
        user:
          '@odata.type': microsoft.graph.userIdentity
        app:
          '@odata.type': microsoft.graph.appIdentity
    microsoft.graph.targetResource:
      title: targetResource
      type: object
      properties:
        id:
          type: string
          description: Indicates the unique ID of the resource.
          nullable: true
        displayName:
          type: string
          description: Indicates the visible name defined for the resource. Typically specified when the resource is created.
          nullable: true
        type:
          type: string
          description: 'Describes the resource type.  Example values include Application, Group, ServicePrincipal, and User.'
          nullable: true
        userPrincipalName:
          type: string
          description: 'When type is set to User, this includes the user name that initiated the action; null for other types.'
          nullable: true
        groupType:
          $ref: '#/components/schemas/microsoft.graph.groupType'
        modifiedProperties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.modifiedProperty'
          description: 'Indicates name, old value and new value of each attribute that changed. Property values depend on the operation type.'
      example:
        id: string
        displayName: string
        type: string
        userPrincipalName: string
        groupType:
          '@odata.type': microsoft.graph.groupType
        modifiedProperties:
          - '@odata.type': microsoft.graph.modifiedProperty
    microsoft.graph.keyValue:
      title: keyValue
      type: object
      properties:
        key:
          type: string
          description: Key for the key-value pair.
          nullable: true
        value:
          type: string
          description: Value for the key-value pair.
          nullable: true
      example:
        key: string
        value: string
    microsoft.graph.signInStatus:
      title: signInStatus
      type: object
      properties:
        errorCode:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Provides the 5-6digit error code that's generated during a sign-in failure. Check out the list of error codes and messages.
          format: int32
          nullable: true
        failureReason:
          type: string
          description: Provides the error message or the reason for failure for the corresponding sign-in activity. Check out the list of error codes and messages.
          nullable: true
        additionalDetails:
          type: string
          description: Provides additional details on the sign-in activity
          nullable: true
      example:
        errorCode: integer
        failureReason: string
        additionalDetails: string
    microsoft.graph.deviceDetail:
      title: deviceDetail
      type: object
      properties:
        deviceId:
          type: string
          description: Refers to the UniqueID of the device used for signing in.
          nullable: true
        displayName:
          type: string
          description: Refers to the name of the device used for signing in.
          nullable: true
        operatingSystem:
          type: string
          description: Indicates the operating system name and version used for signing in.
          nullable: true
        browser:
          type: string
          description: Indicates the browser information of the used for signing in.
          nullable: true
        isCompliant:
          type: boolean
          description: Indicates whether the device is compliant.
          nullable: true
        isManaged:
          type: boolean
          description: Indicates whether the device is managed.
          nullable: true
        trustType:
          type: string
          description: 'Provides information about whether the signed-in device is Workplace Joined, AzureAD Joined, Domain Joined.'
          nullable: true
      example:
        deviceId: string
        displayName: string
        operatingSystem: string
        browser: string
        isCompliant: true
        isManaged: true
        trustType: string
    microsoft.graph.signInLocation:
      title: signInLocation
      type: object
      properties:
        city:
          type: string
          description: Provides the city where the sign-in originated. This is calculated using latitude/longitude information from the sign-in activity.
          nullable: true
        state:
          type: string
          description: Provides the State where the sign-in originated. This is calculated using latitude/longitude information from the sign-in activity.
          nullable: true
        countryOrRegion:
          type: string
          description: Provides the country code info (2 letter code) where the sign-in originated.  This is calculated using latitude/longitude information from the sign-in activity.
          nullable: true
        geoCoordinates:
          $ref: '#/components/schemas/microsoft.graph.geoCoordinates'
      example:
        city: string
        state: string
        countryOrRegion: string
        geoCoordinates:
          '@odata.type': microsoft.graph.geoCoordinates
    microsoft.graph.conditionalAccessStatus:
      title: conditionalAccessStatus
      enum:
        - success
        - failure
        - notApplied
        - unknownFutureValue
      type: string
    microsoft.graph.appliedConditionalAccessPolicy:
      title: appliedConditionalAccessPolicy
      type: object
      properties:
        id:
          type: string
          description: Unique GUID of the conditional access polic.y
          nullable: true
        displayName:
          type: string
          description: 'Refers to the Name of the conditional access policy (example: ''Require MFA for Salesforce'').'
          nullable: true
        enforcedGrantControls:
          type: array
          items:
            type: string
            nullable: true
          description: 'Refers to the grant controls enforced by the conditional access policy (example: ''Require multi-factor authentication'').'
        enforcedSessionControls:
          type: array
          items:
            type: string
            nullable: true
          description: 'Refers to the session controls enforced by the conditional access policy (example: ''Require app enforced controls'').'
        result:
          $ref: '#/components/schemas/microsoft.graph.appliedConditionalAccessPolicyResult'
      example:
        id: string
        displayName: string
        enforcedGrantControls:
          - string
        enforcedSessionControls:
          - string
        result:
          '@odata.type': microsoft.graph.appliedConditionalAccessPolicyResult
    microsoft.graph.riskDetail:
      title: riskDetail
      enum:
        - none
        - adminGeneratedTemporaryPassword
        - userPerformedSecuredPasswordChange
        - userPerformedSecuredPasswordReset
        - adminConfirmedSigninSafe
        - aiConfirmedSigninSafe
        - userPassedMFADrivenByRiskBasedPolicy
        - adminDismissedAllRiskForUser
        - adminConfirmedSigninCompromised
        - hidden
        - adminConfirmedUserCompromised
        - unknownFutureValue
      type: string
    microsoft.graph.riskLevel:
      title: riskLevel
      enum:
        - low
        - medium
        - high
        - hidden
        - none
        - unknownFutureValue
      type: string
    microsoft.graph.riskState:
      title: riskState
      enum:
        - none
        - confirmedSafe
        - remediated
        - dismissed
        - atRisk
        - confirmedCompromised
        - unknownFutureValue
      type: string
    microsoft.graph.riskEventType:
      title: riskEventType
      enum:
        - unlikelyTravel
        - anonymizedIPAddress
        - maliciousIPAddress
        - unfamiliarFeatures
        - malwareInfectedIPAddress
        - suspiciousIPAddress
        - leakedCredentials
        - investigationsThreatIntelligence
        - generic
        - adminConfirmedUserCompromised
        - mcasImpossibleTravel
        - mcasSuspiciousInboxManipulationRules
        - investigationsThreatIntelligenceSigninLinked
        - maliciousIPAddressValidCredentialsBlockedIP
        - unknownFutureValue
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.userIdentity:
      title: userIdentity
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the identity.
          nullable: true
        displayName:
          type: string
          description: The identity's display name. Note that this may not always be available or up-to-date.
          nullable: true
        ipAddress:
          type: string
          description: Indicates the client IP address used by user performing the activity (audit log only).
          nullable: true
        userPrincipalName:
          type: string
          description: The userPrincipalName attribute of the user.
          nullable: true
      example:
        id: string
        displayName: string
        ipAddress: string
        userPrincipalName: string
    microsoft.graph.appIdentity:
      title: appIdentity
      type: object
      properties:
        appId:
          type: string
          description: Refers to the Unique GUID representing Application Id in the Azure Active Directory.
          nullable: true
        displayName:
          type: string
          description: Refers to the Application Name displayed in the Azure Portal.
          nullable: true
        servicePrincipalId:
          type: string
          description: Refers to the Unique GUID indicating Service Principal Id in Azure Active Directory for the corresponding App.
          nullable: true
        servicePrincipalName:
          type: string
          description: Refers to the Service Principal Name is the Application name in the tenant.
          nullable: true
      example:
        appId: string
        displayName: string
        servicePrincipalId: string
        servicePrincipalName: string
    microsoft.graph.groupType:
      title: groupType
      enum:
        - unifiedGroups
        - azureAD
        - unknownFutureValue
      type: string
    microsoft.graph.modifiedProperty:
      title: modifiedProperty
      type: object
      properties:
        displayName:
          type: string
          description: Indicates the property name of the target attribute that was changed.
          nullable: true
        oldValue:
          type: string
          description: Indicates the previous value (before the update) for the property.
          nullable: true
        newValue:
          type: string
          description: Indicates the updated value for the propery.
          nullable: true
      example:
        displayName: string
        oldValue: string
        newValue: string
    microsoft.graph.geoCoordinates:
      title: geoCoordinates
      type: object
      properties:
        altitude:
          type: number
          description: 'Optional. The altitude (height), in feet,  above sea level for the item. Read-only.'
          format: double
          nullable: true
        latitude:
          type: number
          description: 'Optional. The latitude, in decimal, for the item. Read-only.'
          format: double
          nullable: true
        longitude:
          type: number
          description: 'Optional. The longitude, in decimal, for the item. Read-only.'
          format: double
          nullable: true
      example:
        altitude: double
        latitude: double
        longitude: double
    microsoft.graph.appliedConditionalAccessPolicyResult:
      title: appliedConditionalAccessPolicyResult
      enum:
        - success
        - failure
        - notApplied
        - notEnabled
        - unknown
        - unknownFutureValue
      type: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]