openapi: 3.0.1
info:
  title: Mail
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/inferenceClassification':
    get:
      tags:
        - users.inferenceClassification
      summary: Get inferenceClassification from users
      description: Relevance classification of the user's messages based on explicit designations that override inferred relevance or importance.
      operationId: user_GetInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.inferenceClassification
      summary: Update the navigation property inferenceClassification in users
      operationId: user_UpdateInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides':
    get:
      tags:
        - users.inferenceClassification
      summary: Get overrides from users
      description: 'A set of overrides for a user to always classify messages from specific senders in certain ways: focused, or other. Read-only. Nullable.'
      operationId: user.inferenceClassification_ListOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.inferenceClassificationOverrideCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.inferenceClassification
      summary: Create new navigation property to overrides for users
      operationId: user.inferenceClassification_CreateOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides/{inferenceClassificationOverride-id}':
    get:
      tags:
        - users.inferenceClassification
      summary: Get overrides from users
      description: 'A set of overrides for a user to always classify messages from specific senders in certain ways: focused, or other. Read-only. Nullable.'
      operationId: user.inferenceClassification_GetOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: The unique identifier of inferenceClassificationOverride
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.inferenceClassification
      summary: Update the navigation property overrides in users
      operationId: user.inferenceClassification_UpdateOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: The unique identifier of inferenceClassificationOverride
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.inferenceClassification
      summary: Delete navigation property overrides for users
      operationId: user.inferenceClassification_DeleteOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: The unique identifier of inferenceClassificationOverride
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides/$count':
    get:
      tags:
        - users.inferenceClassification
      summary: Get the number of the resource
      operationId: user.inferenceClassification.override_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders':
    get:
      tags:
        - users.mailFolder
      summary: Get mailFolders from users
      description: The user's mail folders. Read-only. Nullable.
      operationId: user_ListMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: includeHiddenFolders
          in: query
          description: Include Hidden Folders
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailFolderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to mailFolders for users
      operationId: user_CreateMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get mailFolders from users
      description: The user's mail folders. Read-only. Nullable.
      operationId: user_GetMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: includeHiddenFolders
          in: query
          description: Include Hidden Folders
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property mailFolders in users
      operationId: user_UpdateMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property mailFolders for users
      operationId: user_DeleteMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders':
    get:
      tags:
        - users.mailFolder
      summary: Get childFolders from users
      description: The collection of child folders in the mailFolder.
      operationId: user.mailFolder_ListChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: includeHiddenFolders
          in: query
          description: Include Hidden Folders
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailFolderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to childFolders for users
      operationId: user.mailFolder_CreateChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}':
    get:
      tags:
        - users.mailFolder
      summary: Get childFolders from users
      description: The collection of child folders in the mailFolder.
      operationId: user.mailFolder_GetChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: includeHiddenFolders
          in: query
          description: Include Hidden Folders
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property childFolders in users
      operationId: user.mailFolder_UpdateChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property childFolders for users
      operationId: user.mailFolder_DeleteChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules':
    get:
      tags:
        - users.mailFolder
      summary: Get messageRules from users
      description: The collection of rules that apply to the user's Inbox folder.
      operationId: user.mailFolder.childFolder_ListMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageRuleCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to messageRules for users
      operationId: user.mailFolder.childFolder_CreateMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules/{messageRule-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get messageRules from users
      description: The collection of rules that apply to the user's Inbox folder.
      operationId: user.mailFolder.childFolder_GetMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: The unique identifier of messageRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property messageRules in users
      operationId: user.mailFolder.childFolder_UpdateMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: The unique identifier of messageRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property messageRules for users
      operationId: user.mailFolder.childFolder_DeleteMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: The unique identifier of messageRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.childFolder.messageRule_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages':
    get:
      tags:
        - users.mailFolder
      summary: Get messages from users
      description: The collection of messages in the mailFolder.
      operationId: user.mailFolder.childFolder_ListMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to messages for users
      operationId: user.mailFolder.childFolder_CreateMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get messages from users
      description: The collection of messages in the mailFolder.
      operationId: user.mailFolder.childFolder_GetMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property messages in users
      operationId: user.mailFolder.childFolder_UpdateMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property messages for users
      operationId: user.mailFolder.childFolder_DeleteMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/$value':
    get:
      tags:
        - users.mailFolder
      summary: Get media content for the navigation property messages from users
      description: The unique identifier for an entity. Read-only.
      operationId: user.mailFolder.childFolder_GetMessagesContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
        - users.mailFolder
      summary: Update media content for the navigation property messages in users
      description: The unique identifier for an entity. Read-only.
      operationId: user.mailFolder.childFolder_SetMessagesContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - users.mailFolder
      summary: Delete media content for the navigation property messages in users
      description: The unique identifier for an entity. Read-only.
      operationId: user.mailFolder.childFolder_DeleteMessagesContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments':
    get:
      tags:
        - users.mailFolder
      summary: Get attachments from users
      description: The fileAttachment and itemAttachment attachments for the message.
      operationId: user.mailFolder.childFolder.message_ListAttachment
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to attachments for users
      operationId: user.mailFolder.childFolder.message_CreateAttachment
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/{attachment-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get attachments from users
      description: The fileAttachment and itemAttachment attachments for the message.
      operationId: user.mailFolder.childFolder.message_GetAttachment
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property attachments for users
      operationId: user.mailFolder.childFolder.message_DeleteAttachment
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.childFolder.message.attachment_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to the specified Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message.attachment_createUploadSession
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions':
    get:
      tags:
        - users.mailFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the message. Nullable.
      operationId: user.mailFolder.childFolder.message_ListExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to extensions for users
      operationId: user.mailFolder.childFolder.message_CreateExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions/{extension-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the message. Nullable.
      operationId: user.mailFolder.childFolder.message_GetExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property extensions in users
      operationId: user.mailFolder.childFolder.message_UpdateExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property extensions for users
      operationId: user.mailFolder.childFolder.message_DeleteExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.childFolder.message.extension_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/microsoft.graph.copy':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action copy
      description: Copy a message to a folder within the user's mailbox.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-copy?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_copy
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                DestinationId:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/microsoft.graph.createForward':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action createForward
      description: "Create a draft to forward an existing message, in either JSON or MIME format. When using JSON format, you can:\n- Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\n- Specify either the toRecipients parameter or the toRecipients property of the message parameter. Specifying both or specifying neither will return an HTTP 400 Bad Request error.\n- Update the draft later to add content to the body or change other message properties. When using MIME format:\n- Provide the applicable Internet message headers and the MIME content, all encoded in base64 format in the request body.\n- Add any attachments and S/MIME properties to the MIME content. Send the draft message in a subsequent operation. Alternatively, forward a message in a single operation."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-createforward?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_createForward
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Message:
                  $ref: '#/components/schemas/microsoft.graph.message'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/microsoft.graph.createReply':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action createReply
      description: "Create a draft to reply to the sender of a message in either JSON or MIME format. When using JSON format:\n- Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\n- If replyTo is specified in the original message, per Internet Message Format (RFC 2822), you should send the reply to the recipients in replyTo, and not the recipients in from.\n- You can update the draft later to add reply content to the body or change other message properties. When using MIME format:\n- Provide the applicable Internet message headers and the MIME content, all encoded in base64 format in the request body.\n- Add any attachments and S/MIME properties to the MIME content. Send the draft message in a subsequent operation. Alternatively, reply to a message in a single operation."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-createreply?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_createReply
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  $ref: '#/components/schemas/microsoft.graph.message'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/microsoft.graph.createReplyAll':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action createReplyAll
      description: "Create a draft to reply to the sender and all recipients of a message in either JSON or MIME format. When using JSON format:\n- Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\n- If the original message specifies a recipient in the replyTo property, per Internet Message Format (RFC 2822), you should send the reply to the recipients in the replyTo and toRecipients properties, and not the recipients in the from and toRecipients properties.\n- You can update the draft later to add reply content to the body or change other message properties. When using MIME format:\n- Provide the applicable Internet message headers and the MIME content, all encoded in base64 format in the request body.\n- Add any attachments and S/MIME properties to the MIME content. Send the draft message in a subsequent operation. Alternatively, reply-all to a message in a single action."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-createreplyall?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_createReplyAll
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  $ref: '#/components/schemas/microsoft.graph.message'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/microsoft.graph.forward':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action forward
      description: "Forward a message using either JSON or MIME format. When using JSON format, you can:\n- Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\n- Specify either the toRecipients parameter or the toRecipients property of the message parameter. Specifying both or specifying neither will return an HTTP 400 Bad Request error. When using MIME format:\n- Provide the applicable Internet message headers and the MIME content, all encoded in base64 format in the request body.\n- Add any attachments and S/MIME properties to the MIME content. This method saves the message in the Sent Items folder. Alternatively, create a draft to forward a message, and send it later."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-forward?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_forward
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Message:
                  $ref: '#/components/schemas/microsoft.graph.message'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/microsoft.graph.move':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action move
      description: Move a message to another folder within the specified user's mailbox. This creates a new copy of the message in the destination folder and removes the original message.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-move?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_move
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                DestinationId:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/microsoft.graph.reply':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action reply
      description: "Reply to the sender of a message using either JSON or MIME format. When using JSON format:\n* Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\n* If the original message specifies a recipient in the replyTo property, per Internet Message Format (RFC 2822), send the reply to the recipients in replyTo and not the recipient in the from property. When using MIME format:\n- Provide the applicable Internet message headers and the MIME content, all encoded in base64 format in the request body.\n- Add any attachments and S/MIME properties to the MIME content. This method saves the message in the Sent Items folder. Alternatively, create a draft to reply to an existing message and send it later."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-reply?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_reply
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  $ref: '#/components/schemas/microsoft.graph.message'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/microsoft.graph.replyAll':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action replyAll
      description: "Reply to all recipients of a message using either JSON or MIME format. When using JSON format:\n- Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\n- If the original message specifies a recipient in the replyTo property, per Internet Message Format (RFC 2822), send the reply to the recipients in replyTo and not the recipient in the from property. When using MIME format:\n- Provide the applicable Internet message headers and the MIME content, all encoded in base64 format in the request body.\n- Add any attachments and S/MIME properties to the MIME content. This method saves the message in the Sent Items folder. Alternatively, create a draft to reply-all to a message and send it later."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-replyall?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_replyAll
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  $ref: '#/components/schemas/microsoft.graph.message'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/microsoft.graph.send':
    post:
      tags:
        - users.mailFolder
      summary: Invoke action send
      description: 'Send an existing draft message. The draft message can be a new message draft, reply draft, reply-all draft, or a forward draft. This method saves the message in the Sent Items folder. Alternatively, send a new message in a single operation.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-send?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_send
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.childFolder.message_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/microsoft.graph.delta()':
    get:
      tags:
        - users.mailFolder
      summary: Invoke function delta
[...]
