openapi: 3.0.1
info:
  title: Mail
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/inferenceClassification':
    get:
      tags:
        - users.inferenceClassification
      summary: Get inferenceClassification from users
      description: Relevance classification of the user's messages based on explicit designations which override inferred relevance or importance.
      operationId: users_GetInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - overrides
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
          links:
            overrides:
              operationId: users.InferenceClassification.ListOverrides
              parameters:
                user-id: $request.path.user-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.inferenceClassification
      summary: Update the navigation property inferenceClassification in users
      operationId: users_UpdateInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides':
    get:
      tags:
        - users.inferenceClassification
      summary: List overrides
      description: 'Get the overrides that a user has set up to always classify messages from certain senders in specific ways. Each override corresponds to an SMTP address of a sender. Initially, a user does not have any overrides.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/inferenceclassification-list-overrides?view=graph-rest-1.0
      operationId: users.inferenceClassification_ListOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - classifyAs
                - classifyAs desc
                - senderEmailAddress
                - senderEmailAddress desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classifyAs
                - senderEmailAddress
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.inferenceClassificationOverrideCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.inferenceClassification
      summary: Create inferenceClassificationOverride
      description: "Create an override for a sender identified by an SMTP address. Future messages from that SMTP address will be consistently classified\nas specified in the override. **Note**"
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/inferenceclassification-post-overrides?view=graph-rest-1.0
      operationId: users.inferenceClassification_CreateOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides/{inferenceClassificationOverride-id}':
    get:
      tags:
        - users.inferenceClassification
      summary: Get overrides from users
      description: 'A set of overrides for a user to always classify messages from specific senders in certain ways: focused, or other. Read-only. Nullable.'
      operationId: users.inferenceClassification_GetOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: 'key: id of inferenceClassificationOverride'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classifyAs
                - senderEmailAddress
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.inferenceClassification
      summary: Update the navigation property overrides in users
      operationId: users.inferenceClassification_UpdateOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: 'key: id of inferenceClassificationOverride'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.inferenceClassification
      summary: Delete navigation property overrides for users
      operationId: users.inferenceClassification_DeleteOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: 'key: id of inferenceClassificationOverride'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders':
    get:
      tags:
        - users.mailFolder
      summary: List mailFolders
      description: 'Get the mail folder collection directly under the root folder of the signed-in user. The returned collection includes any mail search folders directly under the root. By default, this operation does not return hidden folders. Use a query parameter _includeHiddenFolders_ to include them in the response.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/user-list-mailfolders?view=graph-rest-1.0
      operationId: users_ListMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - childFolderCount
                - childFolderCount desc
                - displayName
                - displayName desc
                - isHidden
                - isHidden desc
                - parentFolderId
                - parentFolderId desc
                - totalItemCount
                - totalItemCount desc
                - unreadItemCount
                - unreadItemCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - isHidden
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailFolderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create MailFolder
      description: 'Use this API to create a new mail folder in the root folder of the user''s mailbox. If you intend a new folder to be hidden, you must set the **isHidden** property to `true` on creation.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/user-post-mailfolders?view=graph-rest-1.0
      operationId: users_CreateMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get mailFolders from users
      description: The user's mail folders. Read-only. Nullable.
      operationId: users_GetMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - isHidden
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
          links:
            childFolders:
              operationId: users.MailFolders.ListChildFolders
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            messageRules:
              operationId: users.MailFolders.ListMessageRules
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            messages:
              operationId: users.MailFolders.ListMessages
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            multiValueExtendedProperties:
              operationId: users.MailFolders.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            singleValueExtendedProperties:
              operationId: users.MailFolders.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            copy:
              operationId: users.user.mailFolders.mailFolder.copy
            move:
              operationId: users.user.mailFolders.mailFolder.move
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property mailFolders in users
      operationId: users_UpdateMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property mailFolders for users
      operationId: users_DeleteMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders':
    get:
      tags:
        - users.mailFolder
      summary: List childFolders
      description: "Get the folder collection under the specified folder. You can use the `.../me/mailFolders` shortcut to get the top-level \nfolder collection and navigate to another folder. By default, this operation does not return hidden folders. Use a query parameter _includeHiddenFolders_ to include them in the response."
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/mailfolder-list-childfolders?view=graph-rest-1.0
      operationId: users.mailFolders_ListChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - childFolderCount
                - childFolderCount desc
                - displayName
                - displayName desc
                - isHidden
                - isHidden desc
                - parentFolderId
                - parentFolderId desc
                - totalItemCount
                - totalItemCount desc
                - unreadItemCount
                - unreadItemCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - isHidden
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailFolderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create child folder
      description: 'Use this API to create a new child mailFolder. If you intend a new folder to be hidden, you must set the **isHidden** property to `true` on creation.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/mailfolder-post-childfolders?view=graph-rest-1.0
      operationId: users.mailFolders_CreateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}':
    get:
      tags:
        - users.mailFolder
      summary: Get childFolders from users
      description: The collection of child folders in the mailFolder.
      operationId: users.mailFolders_GetChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - isHidden
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
          links:
            childFolders:
              operationId: users.mailFolders.ChildFolders.ListChildFolders
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            messageRules:
              operationId: users.mailFolders.ChildFolders.ListMessageRules
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            messages:
              operationId: users.mailFolders.ChildFolders.ListMessages
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            multiValueExtendedProperties:
              operationId: users.mailFolders.ChildFolders.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            singleValueExtendedProperties:
              operationId: users.mailFolders.ChildFolders.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            copy:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.copy
            move:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.move
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property childFolders in users
      operationId: users.mailFolders_UpdateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property childFolders for users
      operationId: users.mailFolders_DeleteChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules':
    get:
      tags:
        - users.mailFolder
      summary: List rules
      description: Get all the messageRule objects defined for the user's inbox.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/mailfolder-list-messagerules?view=graph-rest-1.0
      operationId: users.mailFolders.childFolders_ListMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actions
                - actions desc
                - conditions
                - conditions desc
                - displayName
                - displayName desc
                - exceptions
                - exceptions desc
                - hasError
                - hasError desc
                - isEnabled
                - isEnabled desc
                - isReadOnly
                - isReadOnly desc
                - sequence
                - sequence desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actions
                - conditions
                - displayName
                - exceptions
                - hasError
                - isEnabled
                - isReadOnly
                - sequence
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageRuleCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create rule
      description: Create a messageRule object by specifying a set of conditions and actions.  Outlook carries out those actions if an incoming message in the user's Inbox meets the specified conditions.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/mailfolder-post-messagerules?view=graph-rest-1.0
      operationId: users.mailFolders.childFolders_CreateMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules/{messageRule-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get messageRules from users
      description: The collection of rules that apply to the user's Inbox folder.
      operationId: users.mailFolders.childFolders_GetMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: 'key: id of messageRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actions
                - conditions
                - displayName
                - exceptions
                - hasError
                - isEnabled
                - isReadOnly
                - sequence
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property messageRules in users
      operationId: users.mailFolders.childFolders_UpdateMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: 'key: id of messageRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property messageRules for users
      operationId: users.mailFolders.childFolders_DeleteMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: 'key: id of messageRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages':
    get:
      tags:
        - users.mailFolder
      summary: List messages
      description: 'Get all the messages in the specified user''s mailbox, or those messages in a specified folder in the mailbox.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/mailfolder-list-messages?view=graph-rest-1.0
      operationId: users.mailFolders.childFolders_ListMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - bccRecipients
                - bccRecipients desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - ccRecipients
                - ccRecipients desc
                - conversationId
                - conversationId desc
                - conversationIndex
                - conversationIndex desc
                - flag
                - flag desc
                - from
                - from desc
                - hasAttachments
                - hasAttachments desc
                - importance
                - importance desc
                - inferenceClassification
                - inferenceClassification desc
                - internetMessageHeaders
                - internetMessageHeaders desc
                - internetMessageId
                - internetMessageId desc
                - isDeliveryReceiptRequested
                - isDeliveryReceiptRequested desc
                - isDraft
                - isDraft desc
                - isRead
                - isRead desc
                - isReadReceiptRequested
                - isReadReceiptRequested desc
                - parentFolderId
                - parentFolderId desc
                - receivedDateTime
                - receivedDateTime desc
                - replyTo
                - replyTo desc
                - sender
                - sender desc
                - sentDateTime
                - sentDateTime desc
                - subject
                - subject desc
                - toRecipients
                - toRecipients desc
                - uniqueBody
                - uniqueBody desc
                - webLink
                - webLink desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - bccRecipients
                - body
                - bodyPreview
                - ccRecipients
                - conversationId
                - conversationIndex
                - flag
                - from
                - hasAttachments
                - importance
                - inferenceClassification
                - internetMessageHeaders
                - internetMessageId
                - isDeliveryReceiptRequested
                - isDraft
                - isRead
                - isReadReceiptRequested
                - parentFolderId
                - receivedDateTime
                - replyTo
                - sender
                - sentDateTime
                - subject
                - toRecipients
                - uniqueBody
                - webLink
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create message in a mailfolder
      description: Use this API to create a new Message in a mailfolder.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/mailfolder-post-messages?view=graph-rest-1.0
      operationId: users.mailFolders.childFolders_CreateMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get messages from users
      description: The collection of messages in the mailFolder.
      operationId: users.mailFolders.childFolders_GetMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - bccRecipients
                - body
                - bodyPreview
                - ccRecipients
                - conversationId
                - conversationIndex
                - flag
                - from
                - hasAttachments
                - importance
                - inferenceClassification
                - internetMessageHeaders
                - internetMessageId
                - isDeliveryReceiptRequested
                - isDraft
                - isRead
                - isReadReceiptRequested
                - parentFolderId
                - receivedDateTime
                - replyTo
                - sender
                - sentDateTime
                - subject
                - toRecipients
                - uniqueBody
                - webLink
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
          links:
            attachments:
              operationId: users.mailFolders.childFolders.Messages.ListAttachments
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
                message-id: $request.path.message-id
            extensions:
              operationId: users.mailFolders.childFolders.Messages.ListExtensions
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
                message-id: $request.path.message-id
            multiValueExtendedProperties:
              operationId: users.mailFolders.childFolders.Messages.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
                message-id: $request.path.message-id
            singleValueExtendedProperties:
              operationId: users.mailFolders.childFolders.Messages.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
                message-id: $request.path.message-id
            copy:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.messages.message.copy
            createForward:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.messages.message.createForward
            createReply:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.messages.message.createReply
            createReplyAll:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.messages.message.createReplyAll
            forward:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.messages.message.forward
            move:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.messages.message.move
            reply:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.messages.message.reply
            replyAll:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.messages.message.replyAll
            send:
              operationId: users.user.mailFolders.mailFolder.childFolders.mailFolder.messages.message.send
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property messages in users
      operationId: users.mailFolders.childFolders_UpdateMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property messages for users
      operationId: users.mailFolders.childFolders_DeleteMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/$value':
    get:
      tags:
        - users.mailFolder
      summary: Get media content for the navigation property messages from users
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/mailfolder-list-messages?view=graph-rest-1.0
      operationId: users.mailFolders.childFolders_GetMessagesContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.mailFolder
      summary: Update media content for the navigation property messages in users
      operationId: users.mailFolders.childFolders_SetMessagesContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments':
    get:
      tags:
        - users.mailFolder
      summary: List attachments
      description: Retrieve a list of attachment objects.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/eventmessage-list-attachments?view=graph-rest-1.0
      operationId: users.mailFolders.childFolders.messages_ListAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentType
                - contentType desc
                - isInline
                - isInline desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - size
                - size desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Add attachment
      description: "Use this API to create a new Attachment. An attachment can be one of the following types: All these types of attachment resources are derived from the attachment\nresource. "
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/eventmessage-post-attachments?view=graph-rest-1.0
      operationId: users.mailFolders.childFolders.messages_CreateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/{attachment-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get attachments from users
      description: The fileAttachment and itemAttachment attachments for the message.
      operationId: users.mailFolders.childFolders.messages_GetAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property attachments for users
      operationId: users.mailFolders.childFolders.messages_DeleteAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions':
    get:
      tags:
        - users.mailFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the message. Nullable.
      operationId: users.mailFolders.childFolders.messages_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create open extension
      description: 'Create an open extension (openTypeExtension object) and add custom properties in a new or existing instance of a resource. You can create an open extension in a resource instance and store custom data to it all in the same operation, except for specific resources. See known limitations of open extensions for more information. The table in the Permissions section lists the resources that support open extensions.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/opentypeextension-post-opentypeextension?view=graph-rest-1.0
      operationId: users.mailFolders.childFolders.messages_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions/{extension-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the message. Nullable.
      operationId: users.mailFolders.childFolders.messages_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property extensions in users
      operationId: users.mailFolders.childFolders.messages_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property extensions for users
      operationId: users.mailFolders.childFolders.messages_DeleteExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.mailFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the message. Nullable.
      operationId: users.mailFolders.childFolders.messages_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.multiValueLegacyExtendedPropertyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.mailFolders.childFolders.messages_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the message. Nullable.
      operationId: users.mailFolders.childFolders.messages_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.mailFolders.childFolders.messages_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property multiValueExtendedProperties for users
      operationId: users.mailFolders.childFolders.messages_DeleteMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.mailFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the message. Nullable.
      operationId: users.mailFolders.childFolders.messages_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.singleValueLegacyExtendedPropertyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.mailFolders.childFolders.messages_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the message. Nullable.
      operationId: users.mailFolders.childFolders.messages_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property singleValueExtendedProperties in users
[...]
