openapi: 3.0.1
info:
  title: Mail
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/inferenceClassification':
    get:
      tags:
        - users.inferenceClassification
      summary: Get inferenceClassification from users
      description: Relevance classification of the user's messages based on explicit designations that override inferred relevance or importance.
      operationId: user_GetInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - overrides
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.inferenceClassification
      summary: Update the navigation property inferenceClassification in users
      operationId: user_UpdateInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides':
    get:
      tags:
        - users.inferenceClassification
      summary: List overrides
      description: 'Get the overrides that a user has set up to always classify messages from certain senders in specific ways. Each override corresponds to an SMTP address of a sender. Initially, a user does not have any overrides. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/inferenceclassification-list-overrides?view=graph-rest-1.0
      operationId: user.inferenceClassification_ListOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - classifyAs
                - classifyAs desc
                - senderEmailAddress
                - senderEmailAddress desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classifyAs
                - senderEmailAddress
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.inferenceClassificationOverrideCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.inferenceClassification
      summary: Create inferenceClassificationOverride
      description: "Create an override for a sender identified by an SMTP address. Future messages from that SMTP address will be consistently classified\nas specified in the override. Note This API is available in the following national cloud deployments."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/inferenceclassification-post-overrides?view=graph-rest-1.0
      operationId: user.inferenceClassification_CreateOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides/{inferenceClassificationOverride-id}':
    get:
      tags:
        - users.inferenceClassification
      summary: Get overrides from users
      description: 'A set of overrides for a user to always classify messages from specific senders in certain ways: focused, or other. Read-only. Nullable.'
      operationId: user.inferenceClassification_GetOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: The unique identifier of inferenceClassificationOverride
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classifyAs
                - senderEmailAddress
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.inferenceClassification
      summary: Update inferenceclassificationoverride
      description: "Change the classifyAs field of an override as specified. You cannot use PATCH to change any other fields in an inferenceClassificationOverride instance. If an override exists for a sender and the sender changes his/her display name, you can use POST to force an update to the name field in the existing override. If an override exists for a sender and the sender changes his/her SMTP address, deleting the existing override and creating a new one with\nthe new SMTP address is the only way to 'update' the override for this sender. This API is available in the following national cloud deployments."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/inferenceclassificationoverride-update?view=graph-rest-1.0
      operationId: user.inferenceClassification_UpdateOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: The unique identifier of inferenceClassificationOverride
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.inferenceClassification
      summary: Delete inferenceClassificationOverride
      description: Delete an override specified by its ID. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/inferenceclassificationoverride-delete?view=graph-rest-1.0
      operationId: user.inferenceClassification_DeleteOverride
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: The unique identifier of inferenceClassificationOverride
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides/$count':
    get:
      tags:
        - users.inferenceClassification
      summary: Get the number of the resource
      operationId: user.inferenceClassification.override_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders':
    get:
      tags:
        - users.mailFolder
      summary: Get mailFolders from users
      description: The user's mail folders. Read-only. Nullable.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-list-mailfolders?view=graph-rest-1.0
      operationId: user_ListMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: includeHiddenFolders
          in: query
          description: Include Hidden Folders
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - childFolderCount
                - childFolderCount desc
                - displayName
                - displayName desc
                - isHidden
                - isHidden desc
                - parentFolderId
                - parentFolderId desc
                - totalItemCount
                - totalItemCount desc
                - unreadItemCount
                - unreadItemCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - isHidden
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailFolderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create MailFolder
      description: 'Use this API to create a new mail folder in the root folder of the user''s mailbox. If you intend a new folder to be hidden, you must set the isHidden property to true on creation. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-post-mailfolders?view=graph-rest-1.0
      operationId: user_CreateMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get mailFolders from users
      description: The user's mail folders. Read-only. Nullable.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-get?view=graph-rest-1.0
      operationId: user_GetMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: includeHiddenFolders
          in: query
          description: Include Hidden Folders
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - isHidden
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update mailfolder
      description: Update the properties of mailfolder object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-update?view=graph-rest-1.0
      operationId: user_UpdateMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete mailFolder
      description: 'Delete the specified mailFolder. The folder can be a mailSearchFolder. You can specify a mail folder by its folder ID, or by its well-known folder name, if one exists. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-delete?view=graph-rest-1.0
      operationId: user_DeleteMailFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders':
    get:
      tags:
        - users.mailFolder
      summary: Get childFolders from users
      description: The collection of child folders in the mailFolder.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-list-childfolders?view=graph-rest-1.0
      operationId: user.mailFolder_ListChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: includeHiddenFolders
          in: query
          description: Include Hidden Folders
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - childFolderCount
                - childFolderCount desc
                - displayName
                - displayName desc
                - isHidden
                - isHidden desc
                - parentFolderId
                - parentFolderId desc
                - totalItemCount
                - totalItemCount desc
                - unreadItemCount
                - unreadItemCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - isHidden
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailFolderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create mailSearchFolder
      description: Create a new mailSearchFolder in the specified user's mailbox. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailsearchfolder-post?view=graph-rest-1.0
      operationId: user.mailFolder_CreateChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}':
    get:
      tags:
        - users.mailFolder
      summary: Get childFolders from users
      description: The collection of child folders in the mailFolder.
      operationId: user.mailFolder_GetChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: includeHiddenFolders
          in: query
          description: Include Hidden Folders
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - isHidden
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property childFolders in users
      operationId: user.mailFolder_UpdateChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property childFolders for users
      operationId: user.mailFolder_DeleteChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules':
    get:
      tags:
        - users.mailFolder
      summary: List rules
      description: Get all the messageRule objects defined for the user's inbox. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-list-messagerules?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder_ListMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actions
                - actions desc
                - conditions
                - conditions desc
                - displayName
                - displayName desc
                - exceptions
                - exceptions desc
                - hasError
                - hasError desc
                - isEnabled
                - isEnabled desc
                - isReadOnly
                - isReadOnly desc
                - sequence
                - sequence desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actions
                - conditions
                - displayName
                - exceptions
                - hasError
                - isEnabled
                - isReadOnly
                - sequence
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageRuleCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create rule
      description: Create a messageRule object by specifying a set of conditions and actions. Outlook carries out those actions if an incoming message in the user's Inbox meets the specified conditions. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-post-messagerules?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder_CreateMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules/{messageRule-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get rule
      description: Get the properties and relationships of a messageRule object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/messagerule-get?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder_GetMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: The unique identifier of messageRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actions
                - conditions
                - displayName
                - exceptions
                - hasError
                - isEnabled
                - isReadOnly
                - sequence
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update rule
      description: Change writable properties on a messageRule object and save the changes. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/messagerule-update?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder_UpdateMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: The unique identifier of messageRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete messageRule
      description: Delete the specified messageRule object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/messagerule-delete?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder_DeleteMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: The unique identifier of messageRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.childFolder.messageRule_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages':
    get:
      tags:
        - users.mailFolder
      summary: List messages
      description: 'Get all the messages in the specified user''s mailbox, or those messages in a specified folder in the mailbox. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-list-messages?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder_ListMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - bccRecipients
                - bccRecipients desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - ccRecipients
                - ccRecipients desc
                - conversationId
                - conversationId desc
                - conversationIndex
                - conversationIndex desc
                - flag
                - flag desc
                - from
                - from desc
                - hasAttachments
                - hasAttachments desc
                - importance
                - importance desc
                - inferenceClassification
                - inferenceClassification desc
                - internetMessageHeaders
                - internetMessageHeaders desc
                - internetMessageId
                - internetMessageId desc
                - isDeliveryReceiptRequested
                - isDeliveryReceiptRequested desc
                - isDraft
                - isDraft desc
                - isRead
                - isRead desc
                - isReadReceiptRequested
                - isReadReceiptRequested desc
                - parentFolderId
                - parentFolderId desc
                - receivedDateTime
                - receivedDateTime desc
                - replyTo
                - replyTo desc
                - sender
                - sender desc
                - sentDateTime
                - sentDateTime desc
                - subject
                - subject desc
                - toRecipients
                - toRecipients desc
                - uniqueBody
                - uniqueBody desc
                - webLink
                - webLink desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - bccRecipients
                - body
                - bodyPreview
                - ccRecipients
                - conversationId
                - conversationIndex
                - flag
                - from
                - hasAttachments
                - importance
                - inferenceClassification
                - internetMessageHeaders
                - internetMessageId
                - isDeliveryReceiptRequested
                - isDraft
                - isRead
                - isReadReceiptRequested
                - parentFolderId
                - receivedDateTime
                - replyTo
                - sender
                - sentDateTime
                - subject
                - toRecipients
                - uniqueBody
                - webLink
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create message in a mailfolder
      description: Use this API to create a new Message in a mailfolder. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-post-messages?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder_CreateMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get messages from users
      description: The collection of messages in the mailFolder.
      operationId: user.mailFolder.childFolder_GetMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - bccRecipients
                - body
                - bodyPreview
                - ccRecipients
                - conversationId
                - conversationIndex
                - flag
                - from
                - hasAttachments
                - importance
                - inferenceClassification
                - internetMessageHeaders
                - internetMessageId
                - isDeliveryReceiptRequested
                - isDraft
                - isRead
                - isReadReceiptRequested
                - parentFolderId
                - receivedDateTime
                - replyTo
                - sender
                - sentDateTime
                - subject
                - toRecipients
                - uniqueBody
                - webLink
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property messages in users
      operationId: user.mailFolder.childFolder_UpdateMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property messages for users
      operationId: user.mailFolder.childFolder_DeleteMessage
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/$value':
    get:
      tags:
        - users.mailFolder
      summary: Get media content for the navigation property messages from users
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-list-messages?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder_GetMessagesContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.mailFolder
      summary: Update media content for the navigation property messages in users
      operationId: user.mailFolder.childFolder_SetMessagesContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments':
    get:
      tags:
        - users.mailFolder
      summary: List attachments
      description: Retrieve a list of attachment objects attached to a message. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-list-attachments?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_ListAttachment
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentType
                - contentType desc
                - isInline
                - isInline desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - size
                - size desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Add attachment
      description: "Use this API to add an attachment to a message. An attachment can be one of the following types: All these types of attachment resources are derived from the attachment\nresource. You can add an attachment to an existing message by posting to its attachments collection, or you can\nadd an attachment to a message that is being created and sent on the fly. This operation limits the size of the attachment you can add to under 3 MB. This API is available in the following national cloud deployments."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-post-attachments?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_CreateAttachment
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/{attachment-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get attachment
      description: 'Read the properties, relationships, or raw contents of an attachment that is attached to a user event, message, or group post. An attachment can be one of the following types: All these types of attachments are derived from the attachment resource. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-get?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_GetAttachment
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property attachments for users
      operationId: user.mailFolder.childFolder.message_DeleteAttachment
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.childFolder.message.attachment_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions':
    get:
      tags:
        - users.mailFolder
      summary: Get open extension
      description: Get an open extension (openTypeExtension object) identified by name or fully qualified name. The table in the Permissions section lists the resources that support open extensions. The following table lists the three scenarios where you can get an open extension from a supported resource instance. This API is available in the following national cloud deployments.
      operationId: user.mailFolder.childFolder.message_ListExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create open extension
      description: 'Create an open extension (openTypeExtension object) and add custom properties in a new or existing instance of a resource. You can create an open extension in a resource instance and store custom data to it all in the same operation, except for specific resources. The table in the Permissions section lists the resources that support open extensions. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/opentypeextension-post-opentypeextension?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_CreateExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions/{extension-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get open extension
      description: Get an open extension (openTypeExtension object) identified by name or fully qualified name. The table in the Permissions section lists the resources that support open extensions. The following table lists the three scenarios where you can get an open extension from a supported resource instance. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/opentypeextension-get?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_GetExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property extensions in users
      operationId: user.mailFolder.childFolder.message_UpdateExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete open extension
      description: 'Delete an open extension (openTypeExtension object) from the specified instance of a resource.  For the list of resources that support open extensions, see the table in the Permissions section. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/opentypeextension-delete?view=graph-rest-1.0
      operationId: user.mailFolder.childFolder.message_DeleteExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.childFolder.message.extension_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: The unique identifier of message
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.childFolder.message_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.childFolder_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules':
    get:
      tags:
        - users.mailFolder
      summary: List rules
      description: Get all the messageRule objects defined for the user's inbox. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-list-messagerules?view=graph-rest-1.0
      operationId: user.mailFolder_ListMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actions
                - actions desc
                - conditions
                - conditions desc
                - displayName
                - displayName desc
                - exceptions
                - exceptions desc
                - hasError
                - hasError desc
                - isEnabled
                - isEnabled desc
                - isReadOnly
                - isReadOnly desc
                - sequence
                - sequence desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actions
                - conditions
                - displayName
                - exceptions
                - hasError
                - isEnabled
                - isReadOnly
                - sequence
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageRuleCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create rule
      description: Create a messageRule object by specifying a set of conditions and actions. Outlook carries out those actions if an incoming message in the user's Inbox meets the specified conditions. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-post-messagerules?view=graph-rest-1.0
      operationId: user.mailFolder_CreateMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules/{messageRule-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get rule
      description: Get the properties and relationships of a messageRule object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/messagerule-get?view=graph-rest-1.0
      operationId: user.mailFolder_GetMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: The unique identifier of messageRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actions
                - conditions
                - displayName
                - exceptions
                - hasError
                - isEnabled
                - isReadOnly
                - sequence
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update rule
      description: Change writable properties on a messageRule object and save the changes. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/messagerule-update?view=graph-rest-1.0
      operationId: user.mailFolder_UpdateMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: The unique identifier of messageRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete messageRule
      description: Delete the specified messageRule object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/messagerule-delete?view=graph-rest-1.0
      operationId: user.mailFolder_DeleteMessageRule
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: The unique identifier of messageRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules/$count':
    get:
      tags:
        - users.mailFolder
      summary: Get the number of the resource
      operationId: user.mailFolder.messageRule_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: The unique identifier of mailFolder
          required: true
          style: simple
          schema:
[...]
