openapi: 3.0.1
info:
  title: Notes.Sites
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/sites/{site-id}/onenote':
    get:
      tags:
        - sites.onenote
      summary: Get onenote from sites
      operationId: sites_GetOnenote
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - notebooks
                - sections
                - sectionGroups
                - pages
                - resources
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - notebooks
                - sections
                - sectionGroups
                - pages
                - resources
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenote'
          links:
            notebooks:
              operationId: sites.Onenote.ListNotebooks
              parameters:
                site-id: $request.path.site-id
            sections:
              operationId: sites.Onenote.ListSections
              parameters:
                site-id: $request.path.site-id
            sectionGroups:
              operationId: sites.Onenote.ListSectionGroups
              parameters:
                site-id: $request.path.site-id
            pages:
              operationId: sites.Onenote.ListPages
              parameters:
                site-id: $request.path.site-id
            resources:
              operationId: sites.Onenote.ListResources
              parameters:
                site-id: $request.path.site-id
            operations:
              operationId: sites.Onenote.ListOperations
              parameters:
                site-id: $request.path.site-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property onenote in sites
      operationId: sites_UpdateOnenote
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenote'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property onenote for sites
      operationId: sites_DeleteOnenote
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks':
    get:
      tags:
        - sites.onenote
      summary: Get notebooks from sites
      operationId: sites.onenote_ListNotebooks
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - isDefault
                - isDefault desc
                - userRole
                - userRole desc
                - isShared
                - isShared desc
                - sectionsUrl
                - sectionsUrl desc
                - sectionGroupsUrl
                - sectionGroupsUrl desc
                - links
                - links desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of notebook
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.notebook'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to notebooks for sites
      operationId: sites.onenote_CreateNotebooks
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}':
    get:
      tags:
        - sites.onenote
      summary: Get notebooks from sites
      operationId: sites.onenote_GetNotebooks
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sections:
              operationId: sites.onenote.Notebooks.ListSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
            sectionGroups:
              operationId: sites.onenote.Notebooks.ListSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property notebooks in sites
      operationId: sites.onenote_UpdateNotebooks
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property notebooks for sites
      operationId: sites.onenote_DeleteNotebooks
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups':
    get:
      tags:
        - sites.onenote
      summary: Get sectionGroups from sites
      operationId: sites.onenote.notebooks_ListSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - sectionsUrl
                - sectionsUrl desc
                - sectionGroupsUrl
                - sectionGroupsUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of sectionGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sectionGroup'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to sectionGroups for sites
      operationId: sites.onenote.notebooks_CreateSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}':
    get:
      tags:
        - sites.onenote
      summary: Get sectionGroups from sites
      operationId: sites.onenote.notebooks_GetSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: sites.onenote.notebooks.SectionGroups.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            parentSectionGroup:
              operationId: sites.onenote.notebooks.SectionGroups.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sections:
              operationId: sites.onenote.notebooks.SectionGroups.ListSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sectionGroups:
              operationId: sites.onenote.notebooks.SectionGroups.ListSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property sectionGroups in sites
      operationId: sites.onenote.notebooks_UpdateSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property sectionGroups for sites
      operationId: sites.onenote.notebooks_DeleteSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentNotebook':
    get:
      tags:
        - sites.onenote
      summary: Get parentNotebook from sites
      operationId: sites.onenote.notebooks.sectionGroups_GetParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sections:
              operationId: sites.onenote.notebooks.sectionGroups.ParentNotebook.ListSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sectionGroups:
              operationId: sites.onenote.notebooks.sectionGroups.ParentNotebook.ListSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentNotebook in sites
      operationId: sites.onenote.notebooks.sectionGroups_UpdateParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property parentNotebook for sites
      operationId: sites.onenote.notebooks.sectionGroups_DeleteParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentSectionGroup':
    get:
      tags:
        - sites.onenote
      summary: Get parentSectionGroup from sites
      operationId: sites.onenote.notebooks.sectionGroups_GetParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: sites.onenote.notebooks.sectionGroups.ParentSectionGroup.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            parentSectionGroup:
              operationId: sites.onenote.notebooks.sectionGroups.ParentSectionGroup.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sections:
              operationId: sites.onenote.notebooks.sectionGroups.ParentSectionGroup.ListSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sectionGroups:
              operationId: sites.onenote.notebooks.sectionGroups.ParentSectionGroup.ListSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentSectionGroup in sites
      operationId: sites.onenote.notebooks.sectionGroups_UpdateParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property parentSectionGroup for sites
      operationId: sites.onenote.notebooks.sectionGroups_DeleteParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups':
    get:
      tags:
        - sites.onenote
      summary: Get sectionGroups from sites
      operationId: sites.onenote.notebooks.sectionGroups_ListSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - sectionsUrl
                - sectionsUrl desc
                - sectionGroupsUrl
                - sectionGroupsUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of sectionGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sectionGroup'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to sectionGroups for sites
      operationId: sites.onenote.notebooks.sectionGroups_CreateSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups/{sectionGroup-id1}':
    get:
      tags:
        - sites.onenote
      summary: Get sectionGroups from sites
      operationId: sites.onenote.notebooks.sectionGroups_GetSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: sectionGroup-id1
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: sites.onenote.notebooks.sectionGroups.SectionGroups.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
            parentSectionGroup:
              operationId: sites.onenote.notebooks.sectionGroups.SectionGroups.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
            sections:
              operationId: sites.onenote.notebooks.sectionGroups.SectionGroups.ListSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
            sectionGroups:
              operationId: sites.onenote.notebooks.sectionGroups.SectionGroups.ListSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property sectionGroups in sites
      operationId: sites.onenote.notebooks.sectionGroups_UpdateSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: sectionGroup-id1
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property sectionGroups for sites
      operationId: sites.onenote.notebooks.sectionGroups_DeleteSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: sectionGroup-id1
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections':
    get:
      tags:
        - sites.onenote
      summary: Get sections from sites
      operationId: sites.onenote.notebooks.sectionGroups_ListSections
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - isDefault
                - isDefault desc
                - links
                - links desc
                - pagesUrl
                - pagesUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onenoteSection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onenoteSection'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to sections for sites
      operationId: sites.onenote.notebooks.sectionGroups_CreateSections
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}':
    get:
      tags:
        - sites.onenote
      summary: Get sections from sites
      operationId: sites.onenote.notebooks.sectionGroups_GetSections
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
          links:
            parentNotebook:
              operationId: sites.onenote.notebooks.sectionGroups.Sections.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            parentSectionGroup:
              operationId: sites.onenote.notebooks.sectionGroups.Sections.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            pages:
              operationId: sites.onenote.notebooks.sectionGroups.Sections.ListPages
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property sections in sites
      operationId: sites.onenote.notebooks.sectionGroups_UpdateSections
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property sections for sites
      operationId: sites.onenote.notebooks.sectionGroups_DeleteSections
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages':
    get:
      tags:
        - sites.onenote
      summary: Get pages from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_ListPages
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - title
                - title desc
                - createdByAppId
                - createdByAppId desc
                - links
                - links desc
                - contentUrl
                - contentUrl desc
                - content
                - content desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - level
                - level desc
                - order
                - order desc
                - userTags
                - userTags desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - title
                - createdByAppId
                - links
                - contentUrl
                - content
                - lastModifiedDateTime
                - level
                - order
                - userTags
                - parentSection
                - parentNotebook
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentSection
                - parentNotebook
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onenotePage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onenotePage'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to pages for sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_CreatePages
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}':
    get:
      tags:
        - sites.onenote
      summary: Get pages from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_GetPages
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - title
                - createdByAppId
                - links
                - contentUrl
                - content
                - lastModifiedDateTime
                - level
                - order
                - userTags
                - parentSection
                - parentNotebook
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentSection
                - parentNotebook
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
          links:
            parentSection:
              operationId: sites.onenote.notebooks.sectionGroups.sections.Pages.GetParentSection
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            parentNotebook:
              operationId: sites.onenote.notebooks.sectionGroups.sections.Pages.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property pages in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_UpdatePages
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property pages for sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_DeletePages
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook':
    get:
      tags:
        - sites.onenote
      summary: Get parentNotebook from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_GetParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sections:
              operationId: sites.onenote.notebooks.sectionGroups.sections.pages.ParentNotebook.ListSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            sectionGroups:
              operationId: sites.onenote.notebooks.sectionGroups.sections.pages.ParentNotebook.ListSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentNotebook in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_UpdateParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property parentNotebook for sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_DeleteParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection':
    get:
      tags:
        - sites.onenote
      summary: Get parentSection from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_GetParentSection
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
          links:
            parentNotebook:
              operationId: sites.onenote.notebooks.sectionGroups.sections.pages.ParentSection.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            parentSectionGroup:
              operationId: sites.onenote.notebooks.sectionGroups.sections.pages.ParentSection.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            pages:
              operationId: sites.onenote.notebooks.sectionGroups.sections.pages.ParentSection.ListPages
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentSection in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_UpdateParentSection
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property parentSection for sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_DeleteParentSection
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentNotebook':
    get:
      tags:
        - sites.onenote
      summary: Get parentNotebook from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_GetParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sections:
              operationId: sites.onenote.notebooks.sectionGroups.sections.ParentNotebook.ListSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            sectionGroups:
              operationId: sites.onenote.notebooks.sectionGroups.sections.ParentNotebook.ListSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentNotebook in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_UpdateParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property parentNotebook for sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_DeleteParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentSectionGroup':
    get:
      tags:
        - sites.onenote
      summary: Get parentSectionGroup from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_GetParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: sites.onenote.notebooks.sectionGroups.sections.ParentSectionGroup.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            parentSectionGroup:
              operationId: sites.onenote.notebooks.sectionGroups.sections.ParentSectionGroup.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            sections:
              operationId: sites.onenote.notebooks.sectionGroups.sections.ParentSectionGroup.ListSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            sectionGroups:
              operationId: sites.onenote.notebooks.sectionGroups.sections.ParentSectionGroup.ListSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentSectionGroup in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_UpdateParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - sites.onenote
      summary: Delete navigation property parentSectionGroup for sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_DeleteParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sections':
    get:
      tags:
        - sites.onenote
      summary: Get sections from sites
      operationId: sites.onenote.notebooks_ListSections
      parameters:
        - name: site-id
          in: path
          description: 'key: id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - isDefault
                - isDefault desc
                - links
                - links desc
                - pagesUrl
                - pagesUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
      responses:
        '200':
[...]
