openapi: 3.0.4
info:
  title: Notes
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/groups/{group-id}/onenote':
    get:
      tags:
        - groups.onenote
      summary: Get onenote from groups
      operationId: group_GetOnenote
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenote'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property onenote in groups
      operationId: group_UpdateOnenote
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenote'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenote'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property onenote for groups
      operationId: group_DeleteOnenote
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks':
    get:
      tags:
        - groups.onenote
      summary: Get notebooks from groups
      description: The collection of OneNote notebooks that are owned by the user or group. Read-only. Nullable.
      operationId: group.onenote_ListNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.notebookCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to notebooks for groups
      operationId: group.onenote_CreateNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}':
    get:
      tags:
        - groups.onenote
      summary: Get notebooks from groups
      description: The collection of OneNote notebooks that are owned by the user or group. Read-only. Nullable.
      operationId: group.onenote_GetNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property notebooks in groups
      operationId: group.onenote_UpdateNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property notebooks for groups
      operationId: group.onenote_DeleteNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/microsoft.graph.copyNotebook':
    post:
      tags:
        - groups.onenote
      summary: Invoke action copyNotebook
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/notebook-copynotebook?view=graph-rest-1.0
      operationId: group.onenote.notebook_copyNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                notebookFolder:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups':
    get:
      tags:
        - groups.onenote
      summary: Get sectionGroups from groups
      description: The section groups in the notebook. Read-only. Nullable.
      operationId: group.onenote.notebook_ListSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.sectionGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to sectionGroups for groups
      operationId: group.onenote.notebook_CreateSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}':
    get:
      tags:
        - groups.onenote
      summary: Get sectionGroups from groups
      description: The section groups in the notebook. Read-only. Nullable.
      operationId: group.onenote.notebook_GetSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property sectionGroups in groups
      operationId: group.onenote.notebook_UpdateSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property sectionGroups for groups
      operationId: group.onenote.notebook_DeleteSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentNotebook':
    get:
      tags:
        - groups.onenote
      summary: Get parentNotebook from groups
      description: The notebook that contains the section group. Read-only.
      operationId: group.onenote.notebook.sectionGroup_GetParentNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentSectionGroup':
    get:
      tags:
        - groups.onenote
      summary: Get parentSectionGroup from groups
      description: The section group that contains the section group. Read-only.
      operationId: group.onenote.notebook.sectionGroup_GetParentSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups':
    get:
      tags:
        - groups.onenote
      summary: Get sectionGroups from groups
      description: The section groups in the section. Read-only. Nullable.
      operationId: group.onenote.notebook.sectionGroup_ListSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.sectionGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups/{sectionGroup-id1}':
    get:
      tags:
        - groups.onenote
      summary: Get sectionGroups from groups
      description: The section groups in the section. Read-only. Nullable.
      operationId: group.onenote.notebook.sectionGroup_GetSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: sectionGroup-id1
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups/$count':
    get:
      tags:
        - groups.onenote
      summary: Get the number of the resource
      operationId: group.onenote.notebook.sectionGroup_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections':
    get:
      tags:
        - groups.onenote
      summary: Get sections from groups
      description: The sections in the section group. Read-only. Nullable.
      operationId: group.onenote.notebook.sectionGroup_ListSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onenoteSectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to sections for groups
      operationId: group.onenote.notebook.sectionGroup_CreateSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}':
    get:
      tags:
        - groups.onenote
      summary: Get sections from groups
      description: The sections in the section group. Read-only. Nullable.
      operationId: group.onenote.notebook.sectionGroup_GetSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property sections in groups
      operationId: group.onenote.notebook.sectionGroup_UpdateSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property sections for groups
      operationId: group.onenote.notebook.sectionGroup_DeleteSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/microsoft.graph.copyToNotebook':
    post:
      tags:
        - groups.onenote
      summary: Invoke action copyToNotebook
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytonotebook?view=graph-rest-1.0
      operationId: group.onenote.notebook.sectionGroup.section_copyToNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/microsoft.graph.copyToSectionGroup':
    post:
      tags:
        - groups.onenote
      summary: Invoke action copyToSectionGroup
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytosectiongroup?view=graph-rest-1.0
      operationId: group.onenote.notebook.sectionGroup.section_copyToSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages':
    get:
      tags:
        - groups.onenote
      summary: Get pages from groups
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: group.onenote.notebook.sectionGroup.section_ListPage
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onenotePageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to pages for groups
      operationId: group.onenote.notebook.sectionGroup.section_CreatePage
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}':
    get:
      tags:
        - groups.onenote
      summary: Get pages from groups
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: group.onenote.notebook.sectionGroup.section_GetPage
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property pages in groups
      operationId: group.onenote.notebook.sectionGroup.section_UpdatePage
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property pages for groups
      operationId: group.onenote.notebook.sectionGroup.section_DeletePage
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/content':
    get:
      tags:
        - groups.onenote
      summary: Get content for the navigation property pages from groups
      description: The page's HTML content.
      operationId: group.onenote.notebook.sectionGroup.section_GetPagesContent
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
        - groups.onenote
      summary: Update content for the navigation property pages in groups
      description: The page's HTML content.
      operationId: group.onenote.notebook.sectionGroup.section_SetPagesContent
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - groups.onenote
      summary: Delete content for the navigation property pages in groups
      description: The page's HTML content.
      operationId: group.onenote.notebook.sectionGroup.section_DeletePagesContent
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.copyToSection':
    post:
      tags:
        - groups.onenote
      summary: Invoke action copyToSection
      description: 'Copy a page to a specific section. For copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/page-copytosection?view=graph-rest-1.0
      operationId: group.onenote.notebook.sectionGroup.section.page_copyToSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.onenotePatchContent':
    post:
      tags:
        - groups.onenote
      summary: Invoke action onenotePatchContent
      operationId: group.onenote.notebook.sectionGroup.section.page_onenotePatchContent
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                commands:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.onenotePatchContentCommand'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.preview()':
    get:
      tags:
        - groups.onenote
      summary: Invoke function preview
      operationId: group.onenote.notebook.sectionGroup.section.page_preview
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePagePreview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook':
    get:
      tags:
        - groups.onenote
      summary: Get parentNotebook from groups
      description: The notebook that contains the page.  Read-only.
      operationId: group.onenote.notebook.sectionGroup.section.page_GetParentNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection':
    get:
      tags:
        - groups.onenote
      summary: Get parentSection from groups
      description: The section that contains the page. Read-only.
      operationId: group.onenote.notebook.sectionGroup.section.page_GetParentSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/$count':
    get:
      tags:
        - groups.onenote
      summary: Get the number of the resource
      operationId: group.onenote.notebook.sectionGroup.section.page_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentNotebook':
    get:
      tags:
        - groups.onenote
      summary: Get parentNotebook from groups
      description: The notebook that contains the section.  Read-only.
      operationId: group.onenote.notebook.sectionGroup.section_GetParentNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentSectionGroup':
    get:
      tags:
        - groups.onenote
      summary: Get parentSectionGroup from groups
      description: The section group that contains the section.  Read-only.
      operationId: group.onenote.notebook.sectionGroup.section_GetParentSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/$count':
    get:
      tags:
        - groups.onenote
      summary: Get the number of the resource
      operationId: group.onenote.notebook.sectionGroup.section_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: The unique identifier of sectionGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/$count':
    get:
      tags:
        - groups.onenote
      summary: Get the number of the resource
      operationId: group.onenote.notebook.sectionGroup_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sections':
    get:
      tags:
        - groups.onenote
      summary: Get sections from groups
      description: The sections in the notebook. Read-only. Nullable.
      operationId: group.onenote.notebook_ListSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onenoteSectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to sections for groups
      operationId: group.onenote.notebook_CreateSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}':
    get:
      tags:
        - groups.onenote
      summary: Get sections from groups
      description: The sections in the notebook. Read-only. Nullable.
      operationId: group.onenote.notebook_GetSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property sections in groups
      operationId: group.onenote.notebook_UpdateSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property sections for groups
      operationId: group.onenote.notebook_DeleteSection
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/microsoft.graph.copyToNotebook':
    post:
      tags:
        - groups.onenote
      summary: Invoke action copyToNotebook
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytonotebook?view=graph-rest-1.0
      operationId: group.onenote.notebook.section_copyToNotebook
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/microsoft.graph.copyToSectionGroup':
    post:
      tags:
        - groups.onenote
      summary: Invoke action copyToSectionGroup
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytosectiongroup?view=graph-rest-1.0
      operationId: group.onenote.notebook.section_copyToSectionGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages':
    get:
      tags:
        - groups.onenote
      summary: Get pages from groups
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: group.onenote.notebook.section_ListPage
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onenotePageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to pages for groups
      operationId: group.onenote.notebook.section_CreatePage
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}':
    get:
      tags:
        - groups.onenote
      summary: Get pages from groups
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: group.onenote.notebook.section_GetPage
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property pages in groups
      operationId: group.onenote.notebook.section_UpdatePage
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: The unique identifier of notebook
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: The unique identifier of onenoteSection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: The unique identifier of onenotePage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
[...]
