openapi: 3.0.1
info:
  title: People
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/insights':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get insights from users
      operationId: users_GetInsights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - shared
                - trending
                - used
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - shared
                - trending
                - used
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
          links:
            shared:
              operationId: users.Insights.ListShared
              parameters:
                user-id: $request.path.user-id
            trending:
              operationId: users.Insights.ListTrending
              parameters:
                user-id: $request.path.user-id
            used:
              operationId: users.Insights.ListUsed
              parameters:
                user-id: $request.path.user-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property insights in users
      operationId: users_UpdateInsights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property insights for users
      operationId: users_DeleteInsights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get shared from users
      description: 'Calculated relationship identifying documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for Business and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share.'
      operationId: users.insights_ListShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastShared
                - lastShared desc
                - resourceReference
                - resourceReference desc
                - resourceVisualization
                - resourceVisualization desc
                - sharingHistory
                - sharingHistory desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastShared
                - resourceReference
                - resourceVisualization
                - sharingHistory
                - lastSharedMethod
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastSharedMethod
                - resource
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.sharedInsightCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.officeGraphInsights
      summary: Create new navigation property to shared for users
      operationId: users.insights_CreateShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get shared from users
      description: 'Calculated relationship identifying documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for Business and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share.'
      operationId: users.insights_GetShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastShared
                - resourceReference
                - resourceVisualization
                - sharingHistory
                - lastSharedMethod
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastSharedMethod
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
          links:
            lastSharedMethod:
              operationId: users.insights.Shared.GetLastSharedMethod
              parameters:
                user-id: $request.path.user-id
                sharedInsight-id: $request.path.sharedInsight-id
            resource:
              operationId: users.insights.Shared.GetResource
              parameters:
                user-id: $request.path.user-id
                sharedInsight-id: $request.path.sharedInsight-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property shared in users
      operationId: users.insights_UpdateShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property shared for users
      operationId: users.insights_DeleteShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}/lastSharedMethod':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get lastSharedMethod from users
      operationId: users.insights.shared_GetLastSharedMethod
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}/resource':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get resource from users
      description: 'Used for navigating to the item that was shared. For file attachments, the type is fileAttachment. For linked attachments, the type is driveItem.'
      operationId: users.insights.shared_GetResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get trending from users
      description: 'Calculated relationship identifying documents trending around a user. Trending documents are calculated based on activity of the user''s closest network of people and include files stored in OneDrive for Business and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before.'
      operationId: users.insights_ListTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - resourceReference
                - resourceReference desc
                - resourceVisualization
                - resourceVisualization desc
                - weight
                - weight desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - resourceReference
                - resourceVisualization
                - weight
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.trendingCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.officeGraphInsights
      summary: Create new navigation property to trending for users
      operationId: users.insights_CreateTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trending'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending/{trending-id}':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get trending from users
      description: 'Calculated relationship identifying documents trending around a user. Trending documents are calculated based on activity of the user''s closest network of people and include files stored in OneDrive for Business and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before.'
      operationId: users.insights_GetTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - resourceReference
                - resourceVisualization
                - weight
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
          links:
            resource:
              operationId: users.insights.Trending.GetResource
              parameters:
                user-id: $request.path.user-id
                trending-id: $request.path.trending-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property trending in users
      operationId: users.insights_UpdateTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trending'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property trending for users
      operationId: users.insights_DeleteTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending/{trending-id}/resource':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get resource from users
      description: Used for navigating to the trending document.
      operationId: users.insights.trending_GetResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get used from users
      description: 'Calculated relationship identifying the latest documents viewed or modified by a user, including OneDrive for Business and SharePoint documents, ranked by recency of use.'
      operationId: users.insights_ListUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastUsed
                - lastUsed desc
                - resourceReference
                - resourceReference desc
                - resourceVisualization
                - resourceVisualization desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastUsed
                - resourceReference
                - resourceVisualization
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.usedInsightCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.officeGraphInsights
      summary: Create new navigation property to used for users
      operationId: users.insights_CreateUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usedInsight'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used/{usedInsight-id}':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get used from users
      description: 'Calculated relationship identifying the latest documents viewed or modified by a user, including OneDrive for Business and SharePoint documents, ranked by recency of use.'
      operationId: users.insights_GetUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastUsed
                - resourceReference
                - resourceVisualization
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
          links:
            resource:
              operationId: users.insights.Used.GetResource
              parameters:
                user-id: $request.path.user-id
                usedInsight-id: $request.path.usedInsight-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property used in users
      operationId: users.insights_UpdateUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usedInsight'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property used for users
      operationId: users.insights_DeleteUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used/{usedInsight-id}/resource':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get resource from users
      description: 'Used for navigating to the item that was used. For file attachments, the type is fileAttachment. For linked attachments, the type is driveItem.'
      operationId: users.insights.used_GetResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people':
    get:
      tags:
        - users.person
      summary: Get people from users
      description: People that are relevant to the user. Read-only. Nullable.
      operationId: users_ListPeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - birthday
                - birthday desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - imAddress
                - imAddress desc
                - isFavorite
                - isFavorite desc
                - jobTitle
                - jobTitle desc
                - officeLocation
                - officeLocation desc
                - personNotes
                - personNotes desc
                - personType
                - personType desc
                - phones
                - phones desc
                - postalAddresses
                - postalAddresses desc
                - profession
                - profession desc
                - scoredEmailAddresses
                - scoredEmailAddresses desc
                - surname
                - surname desc
                - userPrincipalName
                - userPrincipalName desc
                - websites
                - websites desc
                - yomiCompany
                - yomiCompany desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - birthday
                - companyName
                - department
                - displayName
                - givenName
                - imAddress
                - isFavorite
                - jobTitle
                - officeLocation
                - personNotes
                - personType
                - phones
                - postalAddresses
                - profession
                - scoredEmailAddresses
                - surname
                - userPrincipalName
                - websites
                - yomiCompany
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.personCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.person
      summary: Create new navigation property to people for users
      operationId: users_CreatePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.person'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people/{person-id}':
    get:
      tags:
        - users.person
      summary: Get people from users
      description: People that are relevant to the user. Read-only. Nullable.
      operationId: users_GetPeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - birthday
                - companyName
                - department
                - displayName
                - givenName
                - imAddress
                - isFavorite
                - jobTitle
                - officeLocation
                - personNotes
                - personType
                - phones
                - postalAddresses
                - profession
                - scoredEmailAddresses
                - surname
                - userPrincipalName
                - websites
                - yomiCompany
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.person
      summary: Update the navigation property people in users
      operationId: users_UpdatePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.person'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.person
      summary: Delete navigation property people for users
      operationId: users_DeletePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.officeGraphInsights:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: officeGraphInsights
          type: object
          properties:
            shared:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
              description: 'Calculated relationship identifying documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for Business and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share.'
            trending:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.trending'
              description: 'Calculated relationship identifying documents trending around a user. Trending documents are calculated based on activity of the user''s closest network of people and include files stored in OneDrive for Business and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before.'
            used:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
              description: 'Calculated relationship identifying the latest documents viewed or modified by a user, including OneDrive for Business and SharePoint documents, ranked by recency of use.'
          additionalProperties:
            type: object
    microsoft.graph.sharedInsight:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: sharedInsight
          type: object
          properties:
            lastShared:
              $ref: '#/components/schemas/microsoft.graph.sharingDetail'
            resourceReference:
              $ref: '#/components/schemas/microsoft.graph.resourceReference'
            resourceVisualization:
              $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
            sharingHistory:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sharingDetail'
            lastSharedMethod:
              $ref: '#/components/schemas/microsoft.graph.entity'
            resource:
              $ref: '#/components/schemas/microsoft.graph.entity'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.trending:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: trending
          type: object
          properties:
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            resourceReference:
              $ref: '#/components/schemas/microsoft.graph.resourceReference'
            resourceVisualization:
              $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
            weight:
              type: number
              description: 'Value indicating how much the document is currently trending. The larger the number, the more the document is currently trending around the user (the more relevant it is). Returned documents are sorted by this value.'
              format: double
            resource:
              $ref: '#/components/schemas/microsoft.graph.entity'
          additionalProperties:
            type: object
    microsoft.graph.usedInsight:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: usedInsight
          type: object
          properties:
            lastUsed:
              $ref: '#/components/schemas/microsoft.graph.usageDetails'
            resourceReference:
              $ref: '#/components/schemas/microsoft.graph.resourceReference'
            resourceVisualization:
              $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
            resource:
              $ref: '#/components/schemas/microsoft.graph.entity'
          additionalProperties:
            type: object
    microsoft.graph.person:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: person
          type: object
          properties:
            birthday:
              type: string
              description: The person's birthday.
              nullable: true
            companyName:
              type: string
              description: The name of the person's company.
              nullable: true
            department:
              type: string
              description: The person's department.
              nullable: true
            displayName:
              type: string
              description: The person's display name.
              nullable: true
            givenName:
              type: string
              description: The person's given name.
              nullable: true
            imAddress:
              type: string
              description: The instant message voice over IP (VOIP) session initiation protocol (SIP) address for the user. Read-only.
              nullable: true
            isFavorite:
              type: boolean
              description: true if the user has flagged this person as a favorite.
              nullable: true
            jobTitle:
              type: string
              description: The person's job title.
              nullable: true
            officeLocation:
              type: string
              description: The location of the person's office.
              nullable: true
            personNotes:
              type: string
              description: Free-form notes that the user has taken about this person.
              nullable: true
            personType:
              $ref: '#/components/schemas/microsoft.graph.personType'
            phones:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.phone'
              description: The person's phone numbers.
            postalAddresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.location'
              description: The person's addresses.
            profession:
              type: string
              description: The person's profession.
              nullable: true
            scoredEmailAddresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scoredEmailAddress'
              description: The person's email addresses.
            surname:
              type: string
              description: The person's surname.
              nullable: true
            userPrincipalName:
              type: string
              description: 'The user principal name (UPN) of the person. The UPN is an Internet-style login name for the person based on the Internet standard RFC 822. By convention, this should map to the person''s email name. The general format is alias@domain.'
              nullable: true
            websites:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.website'
              description: The person's websites.
            yomiCompany:
              type: string
              description: The phonetic Japanese name of the person's company.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.sharingDetail:
      description: Details about the shared item. Read only.
    microsoft.graph.resourceReference:
      description: 'Reference properties of the shared document, such as the url and type of the document. Read-only'
    microsoft.graph.resourceVisualization:
      description: Properties that you can use to visualize the document in your experience. Read-only
    microsoft.graph.usageDetails:
      description: Information about when the item was last viewed or modified by the user. Read only.
    microsoft.graph.personType:
      description: The type of person.
    microsoft.graph.phone: { }
    microsoft.graph.location: { }
    microsoft.graph.scoredEmailAddress: { }
    microsoft.graph.website: { }
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.sharedInsightCollectionResponse:
      title: Collection of sharedInsight
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        '@odata.nextLink':
          type: string
      additionalProperties:
        type: object
    microsoft.graph.trendingCollectionResponse:
      title: Collection of trending
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.trending'
        '@odata.nextLink':
          type: string
      additionalProperties:
        type: object
    microsoft.graph.usedInsightCollectionResponse:
      title: Collection of usedInsight
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.usedInsight'
        '@odata.nextLink':
          type: string
      additionalProperties:
        type: object
    microsoft.graph.personCollectionResponse:
      title: Collection of person
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.person'
        '@odata.nextLink':
          type: string
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innererror:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.sharedInsightCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.sharedInsightCollectionResponse'
    microsoft.graph.trendingCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.trendingCollectionResponse'
    microsoft.graph.usedInsightCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.usedInsightCollectionResponse'
    microsoft.graph.personCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.personCollectionResponse'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]