openapi: 3.0.1
info:
  title: People
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/insights':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get insights from users
      operationId: user_GetInsight
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property insights in users
      operationId: user_UpdateInsight
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property insights for users
      operationId: user_DeleteInsight
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get shared from users
      description: 'Calculated relationship identifying documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for Business and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share.'
      operationId: user.insight_ListShared
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.sharedInsightCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.officeGraphInsights
      summary: Create new navigation property to shared for users
      operationId: user.insight_CreateShared
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get shared from users
      description: 'Calculated relationship identifying documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for Business and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share.'
      operationId: user.insight_GetShared
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: The unique identifier of sharedInsight
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property shared in users
      operationId: user.insight_UpdateShared
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: The unique identifier of sharedInsight
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property shared for users
      operationId: user.insight_DeleteShared
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: The unique identifier of sharedInsight
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}/lastSharedMethod':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get lastSharedMethod from users
      operationId: user.insight.shared_GetLastSharedMethod
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: The unique identifier of sharedInsight
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}/resource':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get resource from users
      description: 'Used for navigating to the item that was shared. For file attachments, the type is fileAttachment. For linked attachments, the type is driveItem.'
      operationId: user.insight.shared_GetResource
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: The unique identifier of sharedInsight
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/$count':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get the number of the resource
      operationId: user.insight.shared_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/insights/trending':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get trending from users
      description: 'Calculated relationship identifying documents trending around a user. Trending documents are calculated based on activity of the user''s closest network of people and include files stored in OneDrive for Business and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before.'
      operationId: user.insight_ListTrending
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.trendingCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.officeGraphInsights
      summary: Create new navigation property to trending for users
      operationId: user.insight_CreateTrending
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trending'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending/{trending-id}':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get trending from users
      description: 'Calculated relationship identifying documents trending around a user. Trending documents are calculated based on activity of the user''s closest network of people and include files stored in OneDrive for Business and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before.'
      operationId: user.insight_GetTrending
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: The unique identifier of trending
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property trending in users
      operationId: user.insight_UpdateTrending
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: The unique identifier of trending
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: trending
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trending'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property trending for users
      operationId: user.insight_DeleteTrending
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: The unique identifier of trending
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending/{trending-id}/resource':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get resource from users
      description: Used for navigating to the trending document.
      operationId: user.insight.trending_GetResource
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: The unique identifier of trending
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending/$count':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get the number of the resource
      operationId: user.insight.trending_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/insights/used':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get used from users
      description: 'Calculated relationship identifying the latest documents viewed or modified by a user, including OneDrive for Business and SharePoint documents, ranked by recency of use.'
      operationId: user.insight_ListUsed
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.usedInsightCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.officeGraphInsights
      summary: Create new navigation property to used for users
      operationId: user.insight_CreateUsed
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usedInsight'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used/{usedInsight-id}':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get used from users
      description: 'Calculated relationship identifying the latest documents viewed or modified by a user, including OneDrive for Business and SharePoint documents, ranked by recency of use.'
      operationId: user.insight_GetUsed
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: The unique identifier of usedInsight
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property used in users
      operationId: user.insight_UpdateUsed
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: The unique identifier of usedInsight
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usedInsight'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property used for users
      operationId: user.insight_DeleteUsed
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: The unique identifier of usedInsight
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used/{usedInsight-id}/resource':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get resource from users
      description: 'Used for navigating to the item that was used. For file attachments, the type is fileAttachment. For linked attachments, the type is driveItem.'
      operationId: user.insight.used_GetResource
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: The unique identifier of usedInsight
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used/$count':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get the number of the resource
      operationId: user.insight.used_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/people':
    get:
      tags:
        - users.person
      summary: Get people from users
      description: People that are relevant to the user. Read-only. Nullable.
      operationId: user_ListPerson
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.personCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people/{person-id}':
    get:
      tags:
        - users.person
      summary: Get people from users
      description: People that are relevant to the user. Read-only. Nullable.
      operationId: user_GetPerson
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: The unique identifier of person
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: person
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people/$count':
    get:
      tags:
        - users.person
      summary: Get the number of the resource
      operationId: user.person_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.officeGraphInsights:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: officeGraphInsights
          type: object
          properties:
            shared:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
              description: 'Calculated relationship identifying documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for Business and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share.'
              x-ms-navigationProperty: true
            trending:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.trending'
              description: 'Calculated relationship identifying documents trending around a user. Trending documents are calculated based on activity of the user''s closest network of people and include files stored in OneDrive for Business and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before.'
              x-ms-navigationProperty: true
            used:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
              description: 'Calculated relationship identifying the latest documents viewed or modified by a user, including OneDrive for Business and SharePoint documents, ranked by recency of use.'
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.sharedInsight:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: sharedInsight
          type: object
          properties:
            lastShared:
              $ref: '#/components/schemas/microsoft.graph.sharingDetail'
            resourceReference:
              $ref: '#/components/schemas/microsoft.graph.resourceReference'
            resourceVisualization:
              $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
            sharingHistory:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sharingDetail'
            lastSharedMethod:
              $ref: '#/components/schemas/microsoft.graph.entity'
            resource:
              $ref: '#/components/schemas/microsoft.graph.entity'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.trending:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: trending
          type: object
          properties:
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            resourceReference:
              $ref: '#/components/schemas/microsoft.graph.resourceReference'
            resourceVisualization:
              $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
            weight:
              type: number
              description: 'Value indicating how much the document is currently trending. The larger the number, the more the document is currently trending around the user (the more relevant it is). Returned documents are sorted by this value.'
              format: double
            resource:
              $ref: '#/components/schemas/microsoft.graph.entity'
          additionalProperties:
            type: object
    microsoft.graph.usedInsight:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: usedInsight
          type: object
          properties:
            lastUsed:
              $ref: '#/components/schemas/microsoft.graph.usageDetails'
            resourceReference:
              $ref: '#/components/schemas/microsoft.graph.resourceReference'
            resourceVisualization:
              $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
            resource:
              $ref: '#/components/schemas/microsoft.graph.entity'
          additionalProperties:
            type: object
    microsoft.graph.person:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: person
          type: object
          properties:
            birthday:
              type: string
              description: The person's birthday.
              nullable: true
            companyName:
              type: string
              description: The name of the person's company.
              nullable: true
            department:
              type: string
              description: The person's department.
              nullable: true
            displayName:
              type: string
              description: The person's display name.
              nullable: true
            givenName:
              type: string
              description: The person's given name.
              nullable: true
            imAddress:
              type: string
              description: The instant message voice over IP (VOIP) session initiation protocol (SIP) address for the user. Read-only.
              nullable: true
            isFavorite:
              type: boolean
              description: True if the user has flagged this person as a favorite.
              nullable: true
            jobTitle:
              type: string
              description: The person's job title.
              nullable: true
            officeLocation:
              type: string
              description: The location of the person's office.
              nullable: true
            personNotes:
              type: string
              description: Free-form notes that the user has taken about this person.
              nullable: true
            personType:
              $ref: '#/components/schemas/microsoft.graph.personType'
            phones:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.phone'
              description: The person's phone numbers.
            postalAddresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.location'
              description: The person's addresses.
            profession:
              type: string
              description: The person's profession.
              nullable: true
            scoredEmailAddresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scoredEmailAddress'
              description: The person's email addresses.
            surname:
              type: string
              description: The person's surname.
              nullable: true
            userPrincipalName:
              type: string
              description: 'The user principal name (UPN) of the person. The UPN is an Internet-style login name for the person based on the Internet standard RFC 822. By convention, this should map to the person''s email name. The general format is alias@domain.'
              nullable: true
            websites:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.website'
              description: The person's websites.
            yomiCompany:
              type: string
              description: The phonetic Japanese name of the person's company.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.sharingDetail:
      title: sharingDetail
      type: object
      properties:
        sharedBy:
          $ref: '#/components/schemas/microsoft.graph.insightIdentity'
        sharedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The date and time the file was last shared. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.'
          format: date-time
          nullable: true
        sharingReference:
          $ref: '#/components/schemas/microsoft.graph.resourceReference'
        sharingSubject:
          type: string
          description: The subject with which the document was shared.
          nullable: true
        sharingType:
          type: string
          description: 'Determines the way the document was shared, can be by a ''Link'', ''Attachment'', ''Group'', ''Site''.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.resourceReference:
      title: resourceReference
      type: object
      properties:
        id:
          type: string
          description: The item's unique identifier.
          nullable: true
        type:
          type: string
          description: 'A string value that can be used to classify the item, such as ''microsoft.graph.driveItem'''
          nullable: true
        webUrl:
          type: string
          description: A URL leading to the referenced item.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.resourceVisualization:
      title: resourceVisualization
      type: object
      properties:
        containerDisplayName:
          type: string
          description: 'A string describing where the item is stored. For example, the name of a SharePoint site or the user name identifying the owner of the OneDrive storing the item.'
          nullable: true
        containerType:
          type: string
          description: Can be used for filtering by the type of container in which the file is stored. Such as Site or OneDriveBusiness.
          nullable: true
        containerWebUrl:
          type: string
          description: A path leading to the folder in which the item is stored.
          nullable: true
        mediaType:
          type: string
          description: The item's media type. Can be used for filtering for a specific type of file based on supported IANA Media Mime Types. Not all Media Mime Types are supported.
          nullable: true
        previewImageUrl:
          type: string
          description: A URL leading to the preview image for the item.
          nullable: true
        previewText:
          type: string
          description: A preview text for the item.
          nullable: true
        title:
          type: string
          description: The item's title text.
          nullable: true
        type:
          type: string
          description: The item's media type. Can be used for filtering for a specific file based on a specific type. See the section Type property values for supported types.
          nullable: true
      additionalProperties:
        type: object
    ReferenceNumeric:
      enum:
        - '-INF'
        - INF
        - NaN
    microsoft.graph.usageDetails:
      title: usageDetails
      type: object
      properties:
        lastAccessedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The date and time the resource was last accessed by the user. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.'
          format: date-time
          nullable: true
        lastModifiedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The date and time the resource was last modified by the user. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.'
          format: date-time
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.personType:
      title: personType
      type: object
      properties:
        class:
          type: string
          description: 'The type of data source, such as Person.'
          nullable: true
        subclass:
          type: string
          description: 'The secondary type of data source, such as OrganizationUser.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.phone:
      title: phone
      type: object
      properties:
        language:
          type: string
          nullable: true
        number:
          type: string
          description: The phone number.
          nullable: true
        region:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/microsoft.graph.phoneType'
      additionalProperties:
        type: object
    microsoft.graph.location:
      title: location
      type: object
      properties:
        address:
          $ref: '#/components/schemas/microsoft.graph.physicalAddress'
        coordinates:
          $ref: '#/components/schemas/microsoft.graph.outlookGeoCoordinates'
        displayName:
          type: string
          description: The name associated with the location.
          nullable: true
        locationEmailAddress:
          type: string
          description: Optional email address of the location.
          nullable: true
        locationType:
          $ref: '#/components/schemas/microsoft.graph.locationType'
        locationUri:
          type: string
          description: Optional URI representing the location.
          nullable: true
        uniqueId:
          type: string
          description: For internal use only.
          nullable: true
        uniqueIdType:
          $ref: '#/components/schemas/microsoft.graph.locationUniqueIdType'
      additionalProperties:
        type: object
    microsoft.graph.scoredEmailAddress:
      title: scoredEmailAddress
      type: object
      properties:
        address:
          type: string
          description: The email address.
          nullable: true
        itemId:
          type: string
          nullable: true
        relevanceScore:
          type: number
          description: 'The relevance score of the email address. A relevance score is used as a sort key, in relation to the other returned results. A higher relevance score value corresponds to a more relevant result. Relevance is determined by the user’s communication and collaboration patterns and business relationships.'
          format: double
          nullable: true
        selectionLikelihood:
          $ref: '#/components/schemas/microsoft.graph.selectionLikelihoodInfo'
      additionalProperties:
        type: object
    microsoft.graph.website:
      title: website
      type: object
      properties:
        address:
          type: string
          description: The URL of the website.
          nullable: true
        displayName:
          type: string
          description: The display name of the web site.
          nullable: true
        type:
          $ref: '#/components/schemas/microsoft.graph.websiteType'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.sharedInsightCollectionResponse:
      title: Collection of sharedInsight
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.trendingCollectionResponse:
      title: Collection of trending
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.trending'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.usedInsightCollectionResponse:
      title: Collection of usedInsight
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.usedInsight'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.personCollectionResponse:
      title: Collection of person
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.person'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.insightIdentity:
      title: insightIdentity
      type: object
      properties:
        address:
          type: string
          description: The email address of the user who shared the item.
          nullable: true
        displayName:
          type: string
          description: The display name of the user who shared the item.
          nullable: true
        id:
          type: string
          description: The ID of the user who shared the item.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.phoneType:
      title: phoneType
      enum:
        - home
        - business
        - mobile
        - other
        - assistant
        - homeFax
        - businessFax
        - otherFax
        - pager
        - radio
      type: string
    microsoft.graph.physicalAddress:
      title: physicalAddress
      type: object
      properties:
        city:
          type: string
          description: The city.
          nullable: true
        countryOrRegion:
          type: string
          description: 'The country or region. It''s a free-format string value, for example, ''United States''.'
          nullable: true
        postalCode:
          type: string
          description: The postal code.
          nullable: true
        state:
          type: string
          description: The state.
          nullable: true
        street:
          type: string
          description: The street.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.outlookGeoCoordinates:
      title: outlookGeoCoordinates
      type: object
      properties:
        accuracy:
          type: number
          description: 'The accuracy of the latitude and longitude. As an example, the accuracy can be measured in meters, such as the latitude and longitude are accurate to within 50 meters.'
          format: double
          nullable: true
        altitude:
          type: number
          description: The altitude of the location.
          format: double
          nullable: true
        altitudeAccuracy:
          type: number
          description: The accuracy of the altitude.
          format: double
          nullable: true
        latitude:
          type: number
          description: The latitude of the location.
          format: double
          nullable: true
        longitude:
          type: number
          description: The longitude of the location.
          format: double
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.locationType:
      title: locationType
      enum:
        - default
        - conferenceRoom
        - homeAddress
        - businessAddress
        - geoCoordinates
        - streetAddress
        - hotel
        - restaurant
        - localBusiness
        - postalAddress
      type: string
    microsoft.graph.locationUniqueIdType:
      title: locationUniqueIdType
      enum:
        - unknown
        - locationStore
        - directory
        - private
        - bing
      type: string
    microsoft.graph.selectionLikelihoodInfo:
      title: selectionLikelihoodInfo
      enum:
        - notSpecified
        - high
      type: string
    microsoft.graph.websiteType:
      title: websiteType
      enum:
        - other
        - home
        - work
        - blog
        - profile
      type: string
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.sharedInsightCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.sharedInsightCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
    microsoft.graph.trendingCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.trendingCollectionResponse'
    microsoft.graph.usedInsightCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.usedInsightCollectionResponse'
    microsoft.graph.personCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.personCollectionResponse'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]
