openapi: 3.0.4
info:
  title: PersonalContacts
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/contactFolders':
    get:
      tags:
        - users.contactFolder
      summary: Get contactFolders from users
      description: The user's contacts folders. Read-only. Nullable.
      operationId: user_ListContactFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contactFolderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contactFolders for users
      operationId: user_CreateContactFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contactFolders from users
      description: The user's contacts folders. Read-only. Nullable.
      operationId: user_GetContactFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contactFolders in users
      operationId: user_UpdateContactFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property contactFolders for users
      operationId: user_DeleteContactFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders':
    get:
      tags:
        - users.contactFolder
      summary: Get childFolders from users
      description: The collection of child folders in the folder. Navigation property. Read-only. Nullable.
      operationId: user.contactFolder_ListChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contactFolderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to childFolders for users
      operationId: user.contactFolder_CreateChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}':
    get:
      tags:
        - users.contactFolder
      summary: Get childFolders from users
      description: The collection of child folders in the folder. Navigation property. Read-only. Nullable.
      operationId: user.contactFolder_GetChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property childFolders in users
      operationId: user.contactFolder_UpdateChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property childFolders for users
      operationId: user.contactFolder_DeleteChildFolder
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      description: The contacts in the folder. Navigation property. Read-only. Nullable.
      operationId: user.contactFolder.childFolder_ListContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contactCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contacts for users
      operationId: user.contactFolder.childFolder_CreateContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      description: The contacts in the folder. Navigation property. Read-only. Nullable.
      operationId: user.contactFolder.childFolder_GetContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contacts in users
      operationId: user.contactFolder.childFolder_UpdateContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property contacts for users
      operationId: user.contactFolder.childFolder_DeleteContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/extensions':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the contact. Read-only. Nullable.
      operationId: user.contactFolder.childFolder.contact_ListExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to extensions for users
      operationId: user.contactFolder.childFolder.contact_CreateExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/extensions/{extension-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the contact. Read-only. Nullable.
      operationId: user.contactFolder.childFolder.contact_GetExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property extensions in users
      operationId: user.contactFolder.childFolder.contact_UpdateExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property extensions for users
      operationId: user.contactFolder.childFolder.contact_DeleteExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/extensions/$count':
    get:
      tags:
        - users.contactFolder
      summary: Get the number of the resource
      operationId: user.contactFolder.childFolder.contact.extension_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/microsoft.graph.permanentDelete':
    post:
      tags:
        - users.contactFolder
      summary: Invoke action permanentDelete
      operationId: user.contactFolder.childFolder.contact_permanentDelete
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/photo':
    get:
      tags:
        - users.contactFolder
      summary: Get photo from users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: user.contactFolder.childFolder.contact_GetPhoto
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property photo in users
      operationId: user.contactFolder.childFolder.contact_UpdatePhoto
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/photo/$value':
    get:
      tags:
        - users.contactFolder
      summary: Get media content for the navigation property photo from users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: user.contactFolder.childFolder.contact_GetPhotoContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
        - users.contactFolder
      summary: Update media content for the navigation property photo in users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: user.contactFolder.childFolder.contact_SetPhotoContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - users.contactFolder
      summary: Delete media content for the navigation property photo in users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: user.contactFolder.childFolder.contact_DeletePhotoContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/$count':
    get:
      tags:
        - users.contactFolder
      summary: Get the number of the resource
      operationId: user.contactFolder.childFolder.contact_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/microsoft.graph.delta()':
    get:
      tags:
        - users.contactFolder
      summary: Invoke function delta
      description: "Get a set of contacts that have been added, deleted, or updated in a specified folder. A delta function call for contacts in a folder is similar to a GET request, except that by appropriately \napplying state tokens in one or more of these calls, \nyou can query for incremental changes in the contacts in \nthat folder. This allows you to maintain and synchronize a local store of a user's contacts without \nhaving to fetch the entire set of contacts from the server every time.  "
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contact-delta?view=graph-rest-1.0
      operationId: user.contactFolder.childFolder.contact_delta
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contact'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/microsoft.graph.permanentDelete':
    post:
      tags:
        - users.contactFolder
      summary: Invoke action permanentDelete
      operationId: user.contactFolder.childFolder_permanentDelete
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/$count':
    get:
      tags:
        - users.contactFolder
      summary: Get the number of the resource
      operationId: user.contactFolder.childFolder_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/microsoft.graph.delta()':
    get:
      tags:
        - users.contactFolder
      summary: Invoke function delta
      description: "Get a set of contact folders that have been added, deleted, or removed from the user's mailbox. A delta function call for contact folders in a mailbox is similar to a GET request, except that by appropriately \napplying state tokens in one or more of these calls, \nyou can query for incremental changes in the contact folders. This allows you to maintain and synchronize \na local store of a user's contact folders without having to fetch all the contact folders of that mailbox from the server every time."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contactfolder-delta?view=graph-rest-1.0
      operationId: user.contactFolder.childFolder_delta
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contactFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contactFolder'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      description: The contacts in the folder. Navigation property. Read-only. Nullable.
      operationId: user.contactFolder_ListContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contactCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contacts for users
      operationId: user.contactFolder_CreateContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      description: The contacts in the folder. Navigation property. Read-only. Nullable.
      operationId: user.contactFolder_GetContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contacts in users
      operationId: user.contactFolder_UpdateContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property contacts for users
      operationId: user.contactFolder_DeleteContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the contact. Read-only. Nullable.
      operationId: user.contactFolder.contact_ListExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to extensions for users
      operationId: user.contactFolder.contact_CreateExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions/{extension-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the contact. Read-only. Nullable.
      operationId: user.contactFolder.contact_GetExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property extensions in users
      operationId: user.contactFolder.contact_UpdateExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property extensions for users
      operationId: user.contactFolder.contact_DeleteExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions/$count':
    get:
      tags:
        - users.contactFolder
      summary: Get the number of the resource
      operationId: user.contactFolder.contact.extension_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/microsoft.graph.permanentDelete':
    post:
      tags:
        - users.contactFolder
      summary: Invoke action permanentDelete
      operationId: user.contactFolder.contact_permanentDelete
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo':
    get:
      tags:
        - users.contactFolder
      summary: Get photo from users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: user.contactFolder.contact_GetPhoto
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property photo in users
      operationId: user.contactFolder.contact_UpdatePhoto
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo/$value':
    get:
      tags:
        - users.contactFolder
      summary: Get media content for the navigation property photo from users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: user.contactFolder.contact_GetPhotoContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
        - users.contactFolder
      summary: Update media content for the navigation property photo in users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: user.contactFolder.contact_SetPhotoContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - users.contactFolder
      summary: Delete media content for the navigation property photo in users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: user.contactFolder.contact_DeletePhotoContent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/$count':
    get:
      tags:
        - users.contactFolder
      summary: Get the number of the resource
      operationId: user.contactFolder.contact_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/microsoft.graph.delta()':
    get:
      tags:
        - users.contactFolder
      summary: Invoke function delta
      description: "Get a set of contacts that have been added, deleted, or updated in a specified folder. A delta function call for contacts in a folder is similar to a GET request, except that by appropriately \napplying state tokens in one or more of these calls, \nyou can query for incremental changes in the contacts in \nthat folder. This allows you to maintain and synchronize a local store of a user's contacts without \nhaving to fetch the entire set of contacts from the server every time.  "
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contact-delta?view=graph-rest-1.0
      operationId: user.contactFolder.contact_delta
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contact'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/contactFolders/{contactFolder-id}/microsoft.graph.permanentDelete':
    post:
      tags:
        - users.contactFolder
      summary: Invoke action permanentDelete
      operationId: user.contactFolder_permanentDelete
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: The unique identifier of contactFolder
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/contactFolders/$count':
    get:
      tags:
        - users.contactFolder
      summary: Get the number of the resource
      operationId: user.contactFolder_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/contactFolders/microsoft.graph.delta()':
    get:
      tags:
        - users.contactFolder
      summary: Invoke function delta
      description: "Get a set of contact folders that have been added, deleted, or removed from the user's mailbox. A delta function call for contact folders in a mailbox is similar to a GET request, except that by appropriately \napplying state tokens in one or more of these calls, \nyou can query for incremental changes in the contact folders. This allows you to maintain and synchronize \na local store of a user's contact folders without having to fetch all the contact folders of that mailbox from the server every time."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contactfolder-delta?view=graph-rest-1.0
      operationId: user.contactFolder_delta
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contactFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contactFolder'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/contacts':
    get:
      tags:
        - users.contact
      summary: Get contacts from users
      description: The user's contacts. Read-only. Nullable.
      operationId: user_ListContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contactCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contact
      summary: Create new navigation property to contacts for users
      operationId: user_CreateContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}':
    get:
      tags:
        - users.contact
      summary: Get contacts from users
      description: The user's contacts. Read-only. Nullable.
      operationId: user_GetContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contact
      summary: Update the navigation property contacts in users
      operationId: user_UpdateContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contact
      summary: Delete navigation property contacts for users
      operationId: user_DeleteContact
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}/extensions':
    get:
      tags:
        - users.contact
      summary: Get extensions from users
      description: The collection of open extensions defined for the contact. Read-only. Nullable.
      operationId: user.contact_ListExtension
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: The unique identifier of contact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
[...]
