openapi: 3.0.1
info:
  title: Planner
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/groups/{group-id}/planner':
    get:
      tags:
        - groups.plannerGroup
      summary: Get planner from groups
      operationId: groups_GetPlanner
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - plans
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - plans
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerGroup'
          links:
            plans:
              operationId: groups.Planner.ListPlans
              parameters:
                group-id: $request.path.group-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property planner in groups
      operationId: groups_UpdatePlanner
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property planner for groups
      operationId: groups_DeletePlanner
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plans from groups
      operationId: groups.planner_ListPlans
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - owner
                - owner desc
                - title
                - title desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - owner
                - title
                - buckets
                - details
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - buckets
                - details
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerPlan
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerPlan'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to plans for groups
      operationId: groups.planner_CreatePlans
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plans from groups
      operationId: groups.planner_GetPlans
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - owner
                - title
                - buckets
                - details
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - buckets
                - details
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
          links:
            buckets:
              operationId: groups.planner.Plans.ListBuckets
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
            details:
              operationId: groups.planner.Plans.GetDetails
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
            tasks:
              operationId: groups.planner.Plans.ListTasks
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property plans in groups
      operationId: groups.planner_UpdatePlans
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property plans for groups
      operationId: groups.planner_DeletePlans
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets':
    get:
      tags:
        - groups.plannerGroup
      summary: Get buckets from groups
      operationId: groups.planner.plans_ListBuckets
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - orderHint
                - orderHint desc
                - planId
                - planId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - orderHint
                - planId
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerBucket
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerBucket'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to buckets for groups
      operationId: groups.planner.plans_CreateBuckets
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get buckets from groups
      operationId: groups.planner.plans_GetBuckets
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - orderHint
                - planId
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
          links:
            tasks:
              operationId: groups.planner.plans.Buckets.ListTasks
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property buckets in groups
      operationId: groups.planner.plans_UpdateBuckets
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property buckets for groups
      operationId: groups.planner.plans_DeleteBuckets
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      operationId: groups.planner.plans.buckets_ListTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeChecklistItemCount
                - activeChecklistItemCount desc
                - appliedCategories
                - appliedCategories desc
                - assigneePriority
                - assigneePriority desc
                - assignments
                - assignments desc
                - bucketId
                - bucketId desc
                - checklistItemCount
                - checklistItemCount desc
                - completedBy
                - completedBy desc
                - completedDateTime
                - completedDateTime desc
                - conversationThreadId
                - conversationThreadId desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - dueDateTime
                - dueDateTime desc
                - hasDescription
                - hasDescription desc
                - orderHint
                - orderHint desc
                - percentComplete
                - percentComplete desc
                - planId
                - planId desc
                - previewType
                - previewType desc
                - referenceCount
                - referenceCount desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeChecklistItemCount
                - appliedCategories
                - assigneePriority
                - assignments
                - bucketId
                - checklistItemCount
                - completedBy
                - completedDateTime
                - conversationThreadId
                - createdBy
                - createdDateTime
                - dueDateTime
                - hasDescription
                - orderHint
                - percentComplete
                - planId
                - previewType
                - referenceCount
                - startDateTime
                - title
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerTask
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerTask'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to tasks for groups
      operationId: groups.planner.plans.buckets_CreateTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      operationId: groups.planner.plans.buckets_GetTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeChecklistItemCount
                - appliedCategories
                - assigneePriority
                - assignments
                - bucketId
                - checklistItemCount
                - completedBy
                - completedDateTime
                - conversationThreadId
                - createdBy
                - createdDateTime
                - dueDateTime
                - hasDescription
                - orderHint
                - percentComplete
                - planId
                - previewType
                - referenceCount
                - startDateTime
                - title
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
          links:
            assignedToTaskBoardFormat:
              operationId: groups.planner.plans.buckets.Tasks.GetAssignedToTaskBoardFormat
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
                plannerTask-id: $request.path.plannerTask-id
            bucketTaskBoardFormat:
              operationId: groups.planner.plans.buckets.Tasks.GetBucketTaskBoardFormat
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
                plannerTask-id: $request.path.plannerTask-id
            details:
              operationId: groups.planner.plans.buckets.Tasks.GetDetails
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
                plannerTask-id: $request.path.plannerTask-id
            progressTaskBoardFormat:
              operationId: groups.planner.plans.buckets.Tasks.GetProgressTaskBoardFormat
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
                plannerTask-id: $request.path.plannerTask-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property tasks in groups
      operationId: groups.planner.plans.buckets_UpdateTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property tasks for groups
      operationId: groups.planner.plans.buckets_DeleteTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get assignedToTaskBoardFormat from groups
      operationId: groups.planner.plans.buckets.tasks_GetAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHintsByAssignee
                - unassignedOrderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property assignedToTaskBoardFormat in groups
      operationId: groups.planner.plans.buckets.tasks_UpdateAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property assignedToTaskBoardFormat for groups
      operationId: groups.planner.plans.buckets.tasks_DeleteAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get bucketTaskBoardFormat from groups
      operationId: groups.planner.plans.buckets.tasks_GetBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property bucketTaskBoardFormat in groups
      operationId: groups.planner.plans.buckets.tasks_UpdateBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property bucketTaskBoardFormat for groups
      operationId: groups.planner.plans.buckets.tasks_DeleteBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/details':
    get:
      tags:
        - groups.plannerGroup
      summary: Get details from groups
      operationId: groups.planner.plans.buckets.tasks_GetDetails
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - checklist
                - description
                - previewType
                - references
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property details in groups
      operationId: groups.planner.plans.buckets.tasks_UpdateDetails
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property details for groups
      operationId: groups.planner.plans.buckets.tasks_DeleteDetails
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get progressTaskBoardFormat from groups
      operationId: groups.planner.plans.buckets.tasks_GetProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property progressTaskBoardFormat in groups
      operationId: groups.planner.plans.buckets.tasks_UpdateProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property progressTaskBoardFormat for groups
      operationId: groups.planner.plans.buckets.tasks_DeleteProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/details':
    get:
      tags:
        - groups.plannerGroup
      summary: Get details from groups
      operationId: groups.planner.plans_GetDetails
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categoryDescriptions
                - sharedWith
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property details in groups
      operationId: groups.planner.plans_UpdateDetails
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property details for groups
      operationId: groups.planner.plans_DeleteDetails
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      operationId: groups.planner.plans_ListTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeChecklistItemCount
                - activeChecklistItemCount desc
                - appliedCategories
                - appliedCategories desc
                - assigneePriority
                - assigneePriority desc
                - assignments
                - assignments desc
                - bucketId
                - bucketId desc
                - checklistItemCount
                - checklistItemCount desc
                - completedBy
                - completedBy desc
                - completedDateTime
                - completedDateTime desc
                - conversationThreadId
                - conversationThreadId desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - dueDateTime
                - dueDateTime desc
                - hasDescription
                - hasDescription desc
                - orderHint
                - orderHint desc
                - percentComplete
                - percentComplete desc
                - planId
                - planId desc
                - previewType
                - previewType desc
                - referenceCount
                - referenceCount desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeChecklistItemCount
                - appliedCategories
                - assigneePriority
                - assignments
                - bucketId
                - checklistItemCount
                - completedBy
                - completedDateTime
                - conversationThreadId
                - createdBy
                - createdDateTime
                - dueDateTime
                - hasDescription
                - orderHint
                - percentComplete
                - planId
                - previewType
                - referenceCount
                - startDateTime
                - title
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerTask
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerTask'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to tasks for groups
      operationId: groups.planner.plans_CreateTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      operationId: groups.planner.plans_GetTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeChecklistItemCount
                - appliedCategories
                - assigneePriority
                - assignments
                - bucketId
                - checklistItemCount
                - completedBy
                - completedDateTime
                - conversationThreadId
                - createdBy
                - createdDateTime
                - dueDateTime
                - hasDescription
                - orderHint
                - percentComplete
                - planId
                - previewType
                - referenceCount
                - startDateTime
                - title
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
          links:
            assignedToTaskBoardFormat:
              operationId: groups.planner.plans.Tasks.GetAssignedToTaskBoardFormat
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerTask-id: $request.path.plannerTask-id
            bucketTaskBoardFormat:
              operationId: groups.planner.plans.Tasks.GetBucketTaskBoardFormat
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerTask-id: $request.path.plannerTask-id
            details:
              operationId: groups.planner.plans.Tasks.GetDetails
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerTask-id: $request.path.plannerTask-id
            progressTaskBoardFormat:
              operationId: groups.planner.plans.Tasks.GetProgressTaskBoardFormat
              parameters:
                group-id: $request.path.group-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerTask-id: $request.path.plannerTask-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property tasks in groups
      operationId: groups.planner.plans_UpdateTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property tasks for groups
      operationId: groups.planner.plans_DeleteTasks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get assignedToTaskBoardFormat from groups
      operationId: groups.planner.plans.tasks_GetAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHintsByAssignee
                - unassignedOrderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property assignedToTaskBoardFormat in groups
      operationId: groups.planner.plans.tasks_UpdateAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property assignedToTaskBoardFormat for groups
      operationId: groups.planner.plans.tasks_DeleteAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get bucketTaskBoardFormat from groups
      operationId: groups.planner.plans.tasks_GetBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property bucketTaskBoardFormat in groups
      operationId: groups.planner.plans.tasks_UpdateBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property bucketTaskBoardFormat for groups
      operationId: groups.planner.plans.tasks_DeleteBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/details':
    get:
      tags:
        - groups.plannerGroup
      summary: Get details from groups
      operationId: groups.planner.plans.tasks_GetDetails
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - checklist
                - description
                - previewType
                - references
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property details in groups
      operationId: groups.planner.plans.tasks_UpdateDetails
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property details for groups
      operationId: groups.planner.plans.tasks_DeleteDetails
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get progressTaskBoardFormat from groups
      operationId: groups.planner.plans.tasks_GetProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property progressTaskBoardFormat in groups
      operationId: groups.planner.plans.tasks_UpdateProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property progressTaskBoardFormat for groups
      operationId: groups.planner.plans.tasks_DeleteProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /planner:
    get:
      tags:
        - planner.planner
      summary: Get planner
      operationId: planner.planner_GetPlanner
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - buckets
                - plans
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - buckets
                - plans
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.planner'
          links:
            buckets:
              operationId: planner.ListBuckets
            plans:
              operationId: planner.ListPlans
            tasks:
              operationId: planner.ListTasks
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - planner.planner
      summary: Update planner
      operationId: planner.planner_UpdatePlanner
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.planner'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /planner/buckets:
    get:
      tags:
        - planner.plannerBucket
      summary: Get buckets from planner
      operationId: planner_ListBuckets
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - orderHint
                - orderHint desc
                - planId
                - planId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - orderHint
                - planId
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerBucket
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerBucket'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - planner.plannerBucket
      summary: Create new navigation property to buckets for planner
      operationId: planner_CreateBuckets
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/planner/buckets/{plannerBucket-id}':
    get:
      tags:
        - planner.plannerBucket
      summary: Get buckets from planner
      operationId: planner_GetBuckets
      parameters:
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - orderHint
                - planId
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
          links:
            tasks:
              operationId: planner.Buckets.ListTasks
              parameters:
                plannerBucket-id: $request.path.plannerBucket-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - planner.plannerBucket
      summary: Update the navigation property buckets in planner
      operationId: planner_UpdateBuckets
      parameters:
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - planner.plannerBucket
      summary: Delete navigation property buckets for planner
      operationId: planner_DeleteBuckets
      parameters:
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/planner/buckets/{plannerBucket-id}/tasks':
    get:
      tags:
        - planner.plannerBucket
      summary: Get tasks from planner
      operationId: planner.buckets_ListTasks
      parameters:
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeChecklistItemCount
                - activeChecklistItemCount desc
                - appliedCategories
                - appliedCategories desc
                - assigneePriority
                - assigneePriority desc
                - assignments
                - assignments desc
                - bucketId
                - bucketId desc
                - checklistItemCount
                - checklistItemCount desc
                - completedBy
                - completedBy desc
                - completedDateTime
                - completedDateTime desc
                - conversationThreadId
                - conversationThreadId desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - dueDateTime
                - dueDateTime desc
                - hasDescription
                - hasDescription desc
                - orderHint
                - orderHint desc
                - percentComplete
                - percentComplete desc
                - planId
                - planId desc
                - previewType
                - previewType desc
                - referenceCount
                - referenceCount desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeChecklistItemCount
                - appliedCategories
                - assigneePriority
                - assignments
                - bucketId
                - checklistItemCount
                - completedBy
                - completedDateTime
                - conversationThreadId
                - createdBy
                - createdDateTime
                - dueDateTime
                - hasDescription
                - orderHint
                - percentComplete
                - planId
                - previewType
                - referenceCount
                - startDateTime
                - title
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerTask
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerTask'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - planner.plannerBucket
      summary: Create new navigation property to tasks for planner
      operationId: planner.buckets_CreateTasks
      parameters:
        - name: plannerBucket-id
          in: path
          description: 'key: id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/planner/buckets/{plannerBucket-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - planner.plannerBucket
[...]
