openapi: 3.0.4
info:
  title: Planner
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/groups/{group-id}/planner':
    get:
      tags:
        - groups.plannerGroup
      summary: Get planner from groups
      description: Entry-point to Planner resource that might exist for a Unified Group.
      operationId: group_GetPlanner
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property planner in groups
      operationId: group_UpdatePlanner
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property planner for groups
      operationId: group_DeletePlanner
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans':
    get:
      tags:
        - groups.plannerGroup
      summary: List plans
      description: Retrieve a list of plannerPlan objects owned by a group object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannergroup-list-plans?view=graph-rest-1.0
      operationId: group.planner_ListPlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerPlanCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to plans for groups
      operationId: group.planner_CreatePlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plans from groups
      description: Read-only. Nullable. Returns the plannerPlans owned by the group.
      operationId: group.planner_GetPlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property plans in groups
      operationId: group.planner_UpdatePlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property plans for groups
      operationId: group.planner_DeletePlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets':
    get:
      tags:
        - groups.plannerGroup
      summary: Get buckets from groups
      description: Read-only. Nullable. Collection of buckets in the plan.
      operationId: group.planner.plan_ListBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerBucketCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to buckets for groups
      operationId: group.planner.plan_CreateBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get buckets from groups
      description: Read-only. Nullable. Collection of buckets in the plan.
      operationId: group.planner.plan_GetBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property buckets in groups
      operationId: group.planner.plan_UpdateBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property buckets for groups
      operationId: group.planner.plan_DeleteBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      description: Read-only. Nullable. The collection of tasks in the bucket.
      operationId: group.planner.plan.bucket_ListTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerTaskCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to tasks for groups
      operationId: group.planner.plan.bucket_CreateTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      description: Read-only. Nullable. The collection of tasks in the bucket.
      operationId: group.planner.plan.bucket_GetTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property tasks in groups
      operationId: group.planner.plan.bucket_UpdateTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property tasks for groups
      operationId: group.planner.plan.bucket_DeleteTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get assignedToTaskBoardFormat from groups
      description: Read-only. Nullable. Used to render the task correctly in the task board view when grouped by assignedTo.
      operationId: group.planner.plan.bucket.task_GetAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property assignedToTaskBoardFormat in groups
      operationId: group.planner.plan.bucket.task_UpdateAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property assignedToTaskBoardFormat for groups
      operationId: group.planner.plan.bucket.task_DeleteAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get bucketTaskBoardFormat from groups
      description: Read-only. Nullable. Used to render the task correctly in the task board view when grouped by bucket.
      operationId: group.planner.plan.bucket.task_GetBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property bucketTaskBoardFormat in groups
      operationId: group.planner.plan.bucket.task_UpdateBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property bucketTaskBoardFormat for groups
      operationId: group.planner.plan.bucket.task_DeleteBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/details':
    get:
      tags:
        - groups.plannerGroup
      summary: Get details from groups
      description: Read-only. Nullable. More details about the task.
      operationId: group.planner.plan.bucket.task_GetDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property details in groups
      operationId: group.planner.plan.bucket.task_UpdateDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property details for groups
      operationId: group.planner.plan.bucket.task_DeleteDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get progressTaskBoardFormat from groups
      description: Read-only. Nullable. Used to render the task correctly in the task board view when grouped by progress.
      operationId: group.planner.plan.bucket.task_GetProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property progressTaskBoardFormat in groups
      operationId: group.planner.plan.bucket.task_UpdateProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property progressTaskBoardFormat for groups
      operationId: group.planner.plan.bucket.task_DeleteProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/$count':
    get:
      tags:
        - groups.plannerGroup
      summary: Get the number of the resource
      operationId: group.planner.plan.bucket.task_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/$count':
    get:
      tags:
        - groups.plannerGroup
      summary: Get the number of the resource
      operationId: group.planner.plan.bucket_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/details':
    get:
      tags:
        - groups.plannerGroup
      summary: Get details from groups
      description: Read-only. Nullable. Extra details about the plan.
      operationId: group.planner.plan_GetDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property details in groups
      operationId: group.planner.plan_UpdateDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property details for groups
      operationId: group.planner.plan_DeleteDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      description: Read-only. Nullable. Collection of tasks in the plan.
      operationId: group.planner.plan_ListTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerTaskCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to tasks for groups
      operationId: group.planner.plan_CreateTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      description: Read-only. Nullable. Collection of tasks in the plan.
      operationId: group.planner.plan_GetTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property tasks in groups
      operationId: group.planner.plan_UpdateTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property tasks for groups
      operationId: group.planner.plan_DeleteTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get assignedToTaskBoardFormat from groups
      description: Read-only. Nullable. Used to render the task correctly in the task board view when grouped by assignedTo.
      operationId: group.planner.plan.task_GetAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property assignedToTaskBoardFormat in groups
      operationId: group.planner.plan.task_UpdateAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property assignedToTaskBoardFormat for groups
      operationId: group.planner.plan.task_DeleteAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get bucketTaskBoardFormat from groups
      description: Read-only. Nullable. Used to render the task correctly in the task board view when grouped by bucket.
      operationId: group.planner.plan.task_GetBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property bucketTaskBoardFormat in groups
      operationId: group.planner.plan.task_UpdateBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property bucketTaskBoardFormat for groups
      operationId: group.planner.plan.task_DeleteBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/details':
    get:
      tags:
        - groups.plannerGroup
      summary: Get details from groups
      description: Read-only. Nullable. More details about the task.
      operationId: group.planner.plan.task_GetDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property details in groups
      operationId: group.planner.plan.task_UpdateDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property details for groups
      operationId: group.planner.plan.task_DeleteDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get progressTaskBoardFormat from groups
      description: Read-only. Nullable. Used to render the task correctly in the task board view when grouped by progress.
      operationId: group.planner.plan.task_GetProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property progressTaskBoardFormat in groups
      operationId: group.planner.plan.task_UpdateProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property progressTaskBoardFormat for groups
      operationId: group.planner.plan.task_DeleteProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/$count':
    get:
      tags:
        - groups.plannerGroup
      summary: Get the number of the resource
      operationId: group.planner.plan.task_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/planner/plans/$count':
    get:
      tags:
        - groups.plannerGroup
      summary: Get the number of the resource
      operationId: group.planner.plan_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /planner:
    get:
      tags:
        - planner.planner
      summary: Get planner
      operationId: planner_GetPlanner
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.planner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - planner.planner
      summary: Update planner
      operationId: planner_UpdatePlanner
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.planner'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.planner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /planner/buckets:
    get:
      tags:
        - planner.plannerBucket
      summary: List buckets
      description: Retrieve a list of plannerbucket objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/planner-list-buckets?view=graph-rest-1.0
      operationId: planner_ListBucket
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerBucketCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - planner.plannerBucket
      summary: Create plannerBucket
      description: Create a new plannerBucket object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/planner-post-buckets?view=graph-rest-1.0
      operationId: planner_CreateBucket
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/planner/buckets/{plannerBucket-id}':
    get:
      tags:
        - planner.plannerBucket
      summary: Get plannerBucket
      description: Retrieve the properties and relationships of a plannerBucket object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerbucket-get?view=graph-rest-1.0
      operationId: planner_GetBucket
      parameters:
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - planner.plannerBucket
      summary: Update plannerbucket
      description: Update the properties of plannerbucket object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerbucket-update?view=graph-rest-1.0
      operationId: planner_UpdateBucket
      parameters:
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - planner.plannerBucket
      summary: Delete plannerBucket
      description: Delete plannerBucket.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerbucket-delete?view=graph-rest-1.0
      operationId: planner_DeleteBucket
      parameters:
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/planner/buckets/{plannerBucket-id}/tasks':
    get:
      tags:
        - planner.plannerBucket
      summary: List tasks
      description: Retrieve a list of plannerTask objects associated to a plannerBucket object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerbucket-list-tasks?view=graph-rest-1.0
      operationId: planner.bucket_ListTask
      parameters:
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerTaskCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - planner.plannerBucket
      summary: Create new navigation property to tasks for planner
      operationId: planner.bucket_CreateTask
      parameters:
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/planner/buckets/{plannerBucket-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - planner.plannerBucket
      summary: Get tasks from planner
      description: Read-only. Nullable. The collection of tasks in the bucket.
      operationId: planner.bucket_GetTask
      parameters:
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - planner.plannerBucket
      summary: Update the navigation property tasks in planner
      operationId: planner.bucket_UpdateTask
      parameters:
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - planner.plannerBucket
      summary: Delete navigation property tasks for planner
      operationId: planner.bucket_DeleteTask
      parameters:
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/planner/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
[...]
