openapi: 3.0.1
info:
  title: Reports
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLog.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - directoryAudits
                - provisioning
                - signIns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directoryAudits
                - provisioning
                - signIns
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLog.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: List directoryAudits
      description: 'Get the list of audit logs generated by Microsoft Entra ID. This includes audit logs generated by various services within Microsoft Entra ID, including user, app, device and group Management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (self-service and admin password resets), and self- service group management, and so on.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-list?view=graph-rest-1.0
      operationId: auditLog_ListDirectoryAudit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - activityDisplayName
                - activityDisplayName desc
                - additionalDetails
                - additionalDetails desc
                - category
                - category desc
                - correlationId
                - correlationId desc
                - initiatedBy
                - initiatedBy desc
                - loggedByService
                - loggedByService desc
                - operationType
                - operationType desc
                - result
                - result desc
                - resultReason
                - resultReason desc
                - targetResources
                - targetResources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryAuditCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLog_CreateDirectoryAudit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudit
      description: 'Get a specific Microsoft Entra audit log item. This includes an audit log item generated by various services within Microsoft Entra ID like user, application, device and group management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (self-service and admin password resets), self-service group management, and so on.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-get?view=graph-rest-1.0
      operationId: auditLog_GetDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLog_UpdateDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLog_DeleteDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits/$count:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get the number of the resource
      operationId: auditLog.directoryAudit_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: List provisioningObjectSummary
      description: 'Get all provisioning events that occurred in your tenant, such as the deletion of a group in a target application or the creation of a user when provisioning user accounts from your HR system. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/provisioningobjectsummary-list?view=graph-rest-1.0
      operationId: auditLog_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - changeId
                - changeId desc
                - cycleId
                - cycleId desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - initiatedBy
                - initiatedBy desc
                - jobId
                - jobId desc
                - modifiedProperties
                - modifiedProperties desc
                - provisioningAction
                - provisioningAction desc
                - provisioningStatusInfo
                - provisioningStatusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - servicePrincipal
                - servicePrincipal desc
                - sourceIdentity
                - sourceIdentity desc
                - sourceSystem
                - sourceSystem desc
                - targetIdentity
                - targetIdentity desc
                - targetSystem
                - targetSystem desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLog_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLog_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLog_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLog_DeleteProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning/$count:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get the number of the resource
      operationId: auditLog.provisioning_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: List signIns
      description: 'Retrieve the Microsoft Entra user sign-ins for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.  The maximum and default page size is 1,000 objects and by default, the most recent sign-ins are returned first. Only sign-in events that occurred within the Microsoft Entra ID default retention period are available.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-list?view=graph-rest-1.0
      operationId: auditLog_ListSignIn
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - deviceDetail
                - deviceDetail desc
                - ipAddress
                - ipAddress desc
                - isInteractive
                - isInteractive desc
                - location
                - location desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - status
                - status desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - ipAddress
                - isInteractive
                - location
                - resourceDisplayName
                - resourceId
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - status
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.signInCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLog_CreateSignIn
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIn
      description: Retrieve a specific Microsoft Entra user sign-in event for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-get?view=graph-rest-1.0
      operationId: auditLog_GetSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - ipAddress
                - isInteractive
                - location
                - resourceDisplayName
                - resourceId
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - status
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLog_UpdateSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLog_DeleteSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns/$count:
    get:
      tags:
        - auditLogs.signIn
      summary: Get the number of the resource
      operationId: auditLog.signIn_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/reports:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get deviceManagementReports
      description: Read properties and relationships of the deviceManagementReports object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-get?view=graph-rest-1.0
      operationId: deviceManagement_GetReport
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exportJobs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - exportJobs
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update deviceManagementReports
      description: Update the properties of a deviceManagementReports object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateReport
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property reports for deviceManagement
      operationId: deviceManagement_DeleteReport
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: List deviceManagementExportJobs
      description: List properties and relationships of the deviceManagementExportJob objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-list?view=graph-rest-1.0
      operationId: deviceManagement.report_ListExportJob
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - expirationDateTime
                - expirationDateTime desc
                - filter
                - filter desc
                - format
                - format desc
                - localizationType
                - localizationType desc
                - reportName
                - reportName desc
                - requestDateTime
                - requestDateTime desc
                - select
                - select desc
                - snapshotId
                - snapshotId desc
                - status
                - status desc
                - url
                - url desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - format
                - localizationType
                - reportName
                - requestDateTime
                - select
                - snapshotId
                - status
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementExportJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create deviceManagementExportJob
      description: Create a new deviceManagementExportJob object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-create?view=graph-rest-1.0
      operationId: deviceManagement.report_CreateExportJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/exportJobs/{deviceManagementExportJob-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get deviceManagementExportJob
      description: Read properties and relationships of the deviceManagementExportJob object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-get?view=graph-rest-1.0
      operationId: deviceManagement.report_GetExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - format
                - localizationType
                - reportName
                - requestDateTime
                - select
                - snapshotId
                - status
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update deviceManagementExportJob
      description: Update the properties of a deviceManagementExportJob object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-update?view=graph-rest-1.0
      operationId: deviceManagement.report_UpdateExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete deviceManagementExportJob
      description: Deletes a deviceManagementExportJob.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-delete?view=graph-rest-1.0
      operationId: deviceManagement.report_DeleteExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs/$count:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get the number of the resource
      operationId: deviceManagement.report.exportJob_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /reports:
    get:
      tags:
        - reports.reportRoot
      summary: Get reportRoot
      description: Read properties and relationships of the reportRoot object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-reportroot-get?view=graph-rest-1.0
      operationId: report.reportRoot_GetReportRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - authenticationMethods
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
                - security
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - authenticationMethods
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
                - security
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.reportRoot
      summary: Update reportRoot
      description: Update the properties of a reportRoot object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-reportroot-update?view=graph-rest-1.0
      operationId: report.reportRoot_UpdateReportRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get authenticationMethods from reports
      description: Container for navigation properties for Microsoft Entra authentication methods resources.
      operationId: report_GetAuthenticationMethod
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userRegistrationDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - userRegistrationDetails
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.authenticationMethodsRoot
      summary: Update the navigation property authenticationMethods in reports
      operationId: report_UpdateAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.authenticationMethodsRoot
      summary: Delete navigation property authenticationMethods for reports
      operationId: report_DeleteAuthenticationMethod
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature():
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByFeature
      operationId: report.authenticationMethod_usersRegisteredGraphBPreFeature
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature(includedUserTypes=''{includedUserTypes}'',includedUserRoles=''{includedUserRoles}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByFeature
      operationId: report.authenticationMethod_usersRegisteredGraphBPreFeature
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes=''{includedUserTypes}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles=''{includedUserRoles}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod():
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByMethod
      operationId: report.authenticationMethod_usersRegisteredGraphBPreMethod
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod(includedUserTypes=''{includedUserTypes}'',includedUserRoles=''{includedUserRoles}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByMethod
      operationId: report.authenticationMethod_usersRegisteredGraphBPreMethod
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes=''{includedUserTypes}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles=''{includedUserRoles}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/userRegistrationDetails:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: List userRegistrationDetails
      description: Get a list of the authentication methods registered for a user as defined in the userRegistrationDetails object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationmethodsroot-list-userregistrationdetails?view=graph-rest-1.0
      operationId: report.authenticationMethod_ListUserRegistrationDetail
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - isAdmin
                - isAdmin desc
                - isMfaCapable
                - isMfaCapable desc
                - isMfaRegistered
                - isMfaRegistered desc
                - isPasswordlessCapable
                - isPasswordlessCapable desc
                - isSsprCapable
                - isSsprCapable desc
                - isSsprEnabled
                - isSsprEnabled desc
                - isSsprRegistered
                - isSsprRegistered desc
                - isSystemPreferredAuthenticationMethodEnabled
                - isSystemPreferredAuthenticationMethodEnabled desc
                - lastUpdatedDateTime
                - lastUpdatedDateTime desc
                - methodsRegistered
                - methodsRegistered desc
                - systemPreferredAuthenticationMethods
                - systemPreferredAuthenticationMethods desc
                - userDisplayName
                - userDisplayName desc
                - userPreferredMethodForSecondaryAuthentication
                - userPreferredMethodForSecondaryAuthentication desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isAdmin
                - isMfaCapable
                - isMfaRegistered
                - isPasswordlessCapable
                - isSsprCapable
                - isSsprEnabled
                - isSsprRegistered
                - isSystemPreferredAuthenticationMethodEnabled
                - lastUpdatedDateTime
                - methodsRegistered
                - systemPreferredAuthenticationMethods
                - userDisplayName
                - userPreferredMethodForSecondaryAuthentication
                - userPrincipalName
                - userType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userRegistrationDetailsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.authenticationMethodsRoot
      summary: Create new navigation property to userRegistrationDetails for reports
      operationId: report.authenticationMethod_CreateUserRegistrationDetail
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/authenticationMethods/userRegistrationDetails/{userRegistrationDetails-id}':
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get userRegistrationDetails
      description: Read the properties and relationships of a userRegistrationDetails object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userregistrationdetails-get?view=graph-rest-1.0
      operationId: report.authenticationMethod_GetUserRegistrationDetail
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: The unique identifier of userRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isAdmin
                - isMfaCapable
                - isMfaRegistered
                - isPasswordlessCapable
                - isSsprCapable
                - isSsprEnabled
                - isSsprRegistered
                - isSystemPreferredAuthenticationMethodEnabled
                - lastUpdatedDateTime
                - methodsRegistered
                - systemPreferredAuthenticationMethods
                - userDisplayName
                - userPreferredMethodForSecondaryAuthentication
                - userPrincipalName
                - userType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.authenticationMethodsRoot
      summary: Update the navigation property userRegistrationDetails in reports
      operationId: report.authenticationMethod_UpdateUserRegistrationDetail
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: The unique identifier of userRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.authenticationMethodsRoot
      summary: Delete navigation property userRegistrationDetails for reports
      operationId: report.authenticationMethod_DeleteUserRegistrationDetail
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: The unique identifier of userRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods/userRegistrationDetails/$count:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get the number of the resource
      operationId: report.authenticationMethod.userRegistrationDetail_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /reports/dailyPrintUsageByPrinter:
    get:
      tags:
        - reports.printUsageByPrinter
      summary: List dailyPrintUsageByPrinter
      description: 'Retrieve a list of daily print usage summaries, grouped by printer.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/reportroot-list-dailyprintusagebyprinter?view=graph-rest-1.0
      operationId: report_ListDailyPrintUsageGraphBPrePrinter
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - blackAndWhitePageCount
                - blackAndWhitePageCount desc
                - colorPageCount
                - colorPageCount desc
                - completedBlackAndWhiteJobCount
                - completedBlackAndWhiteJobCount desc
                - completedColorJobCount
                - completedColorJobCount desc
                - completedJobCount
                - completedJobCount desc
                - doubleSidedSheetCount
                - doubleSidedSheetCount desc
                - incompleteJobCount
                - incompleteJobCount desc
                - mediaSheetCount
                - mediaSheetCount desc
                - pageCount
                - pageCount desc
                - singleSidedSheetCount
                - singleSidedSheetCount desc
                - usageDate
                - usageDate desc
                - printerId
                - printerId desc
                - printerName
                - printerName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blackAndWhitePageCount
                - colorPageCount
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - completedJobCount
                - doubleSidedSheetCount
                - incompleteJobCount
                - mediaSheetCount
                - pageCount
                - singleSidedSheetCount
                - usageDate
                - printerId
                - printerName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.printUsageByPrinterCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.printUsageByPrinter
      summary: Create new navigation property to dailyPrintUsageByPrinter for reports
      operationId: report_CreateDailyPrintUsageGraphBPrePrinter
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/dailyPrintUsageByPrinter/{printUsageByPrinter-id}':
    get:
      tags:
        - reports.printUsageByPrinter
      summary: Get printUsageByPrinter
      description: 'Retrieve a usage summary for a printer for a particular time period. For descriptions of each of the endpoints, see printUsageByPrinter.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/printusagebyprinter-get?view=graph-rest-1.0
      operationId: report_GetDailyPrintUsageGraphBPrePrinter
      parameters:
        - name: printUsageByPrinter-id
          in: path
          description: The unique identifier of printUsageByPrinter
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByPrinter
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blackAndWhitePageCount
                - colorPageCount
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - completedJobCount
                - doubleSidedSheetCount
                - incompleteJobCount
                - mediaSheetCount
                - pageCount
                - singleSidedSheetCount
                - usageDate
                - printerId
                - printerName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.printUsageByPrinter
      summary: Update the navigation property dailyPrintUsageByPrinter in reports
      operationId: report_UpdateDailyPrintUsageGraphBPrePrinter
      parameters:
        - name: printUsageByPrinter-id
          in: path
          description: The unique identifier of printUsageByPrinter
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByPrinter
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.printUsageByPrinter
      summary: Delete navigation property dailyPrintUsageByPrinter for reports
      operationId: report_DeleteDailyPrintUsageGraphBPrePrinter
      parameters:
        - name: printUsageByPrinter-id
          in: path
          description: The unique identifier of printUsageByPrinter
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByPrinter
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/dailyPrintUsageByPrinter/$count:
    get:
      tags:
        - reports.printUsageByPrinter
      summary: Get the number of the resource
      operationId: report.dailyPrintUsageGraphBPrePrinter_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /reports/dailyPrintUsageByUser:
    get:
      tags:
        - reports.printUsageByUser
      summary: List dailyPrintUsageByUser
      description: 'Retrieve a list of daily print usage summaries, grouped by user.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/reportroot-list-dailyprintusagebyuser?view=graph-rest-1.0
      operationId: report_ListDailyPrintUsageGraphBPreUser
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - blackAndWhitePageCount
                - blackAndWhitePageCount desc
                - colorPageCount
                - colorPageCount desc
                - completedBlackAndWhiteJobCount
                - completedBlackAndWhiteJobCount desc
                - completedColorJobCount
                - completedColorJobCount desc
                - completedJobCount
                - completedJobCount desc
                - doubleSidedSheetCount
                - doubleSidedSheetCount desc
                - incompleteJobCount
                - incompleteJobCount desc
                - mediaSheetCount
                - mediaSheetCount desc
                - pageCount
                - pageCount desc
                - singleSidedSheetCount
                - singleSidedSheetCount desc
                - usageDate
                - usageDate desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blackAndWhitePageCount
                - colorPageCount
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - completedJobCount
                - doubleSidedSheetCount
                - incompleteJobCount
                - mediaSheetCount
                - pageCount
                - singleSidedSheetCount
                - usageDate
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.printUsageByUserCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.printUsageByUser
      summary: Create new navigation property to dailyPrintUsageByUser for reports
      operationId: report_CreateDailyPrintUsageGraphBPreUser
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/dailyPrintUsageByUser/{printUsageByUser-id}':
    get:
      tags:
        - reports.printUsageByUser
      summary: Get printUsageByUser
      description: 'Retrieve a user''s usage summary for a particular time period. For descriptions of each endpoint, see printUsageByUser.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/printusagebyuser-get?view=graph-rest-1.0
      operationId: report_GetDailyPrintUsageGraphBPreUser
      parameters:
        - name: printUsageByUser-id
          in: path
          description: The unique identifier of printUsageByUser
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blackAndWhitePageCount
                - colorPageCount
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - completedJobCount
                - doubleSidedSheetCount
                - incompleteJobCount
                - mediaSheetCount
                - pageCount
                - singleSidedSheetCount
                - usageDate
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.printUsageByUser
      summary: Update the navigation property dailyPrintUsageByUser in reports
      operationId: report_UpdateDailyPrintUsageGraphBPreUser
      parameters:
        - name: printUsageByUser-id
          in: path
          description: The unique identifier of printUsageByUser
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByUser
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.printUsageByUser
      summary: Delete navigation property dailyPrintUsageByUser for reports
      operationId: report_DeleteDailyPrintUsageGraphBPreUser
      parameters:
        - name: printUsageByUser-id
          in: path
          description: The unique identifier of printUsageByUser
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByUser
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/dailyPrintUsageByUser/$count:
    get:
      tags:
        - reports.printUsageByUser
      summary: Get the number of the resource
      operationId: report.dailyPrintUsageGraphBPreUser_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /reports/microsoft.graph.deviceConfigurationDeviceActivity():
    get:
      tags:
        - reports.Functions
      summary: Invoke function deviceConfigurationDeviceActivity
      description: Metadata for the device configuration device activity report
      operationId: report_deviceConfigurationDeviceActivity
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.deviceConfigurationUserActivity():
    get:
      tags:
        - reports.Functions
      summary: Invoke function deviceConfigurationUserActivity
      description: Metadata for the device configuration user activity report
      operationId: report_deviceConfigurationUserActivity
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityCounts
      operationId: report_getEmailActivityCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserCounts
      operationId: report_getEmailActivityUserCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserDetail
      operationId: report_getEmailActivityUserDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserDetail
      operationId: report_getEmailActivityUserDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageAppsUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageAppsUserCounts
      operationId: report_getEmailAppUsageAppsUserCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserCounts
      operationId: report_getEmailAppUsageUserCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserDetail
      operationId: report_getEmailAppUsageUserDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserDetail
      operationId: report_getEmailAppUsageUserDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageVersionsUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageVersionsUserCounts
      operationId: report_getEmailAppUsageVersionsUserCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getGroupArchivedPrintJobs(groupId=''{groupId}'',startDateTime={startDateTime},endDateTime={endDateTime})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getGroupArchivedPrintJobs
      operationId: report_getGroupArchivedPrintJob
      parameters:
        - name: groupId
          in: path
          description: 'Usage: groupId=''{groupId}'''
          required: true
          style: simple
          schema:
            type: string
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.archivedPrintJob'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/reports/microsoft.graph.getM365AppPlatformUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getM365AppPlatformUserCounts
      operationId: report_getM365AppPlatformUserCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getM365AppUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getM365AppUserCounts
      operationId: report_getM365AppUserCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getM365AppUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getM365AppUserDetail
      operationId: report_getM365AppUserDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getM365AppUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getM365AppUserDetail
      operationId: report_getM365AppUserDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageDetail
      operationId: report_getMailboxUsageDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageMailboxCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageMailboxCounts
      operationId: report_getMailboxUsageMailboxCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageQuotaStatusMailboxCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageQuotaStatusMailboxCounts
      operationId: report_getMailboxUsageQuotaStatusMailboxCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageStorage(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageStorage
      operationId: report_getMailboxUsageStorage
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationCounts():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationCounts
      operationId: report_getOffice365ActivationCount
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationsUserCounts():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationsUserCounts
      operationId: report_getOffice365ActivationsUserCount
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationsUserDetail():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationsUserDetail
      operationId: report_getOffice365ActivationsUserDetail
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserCounts
      operationId: report_getOffice365ActiveUserCount
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserDetail
      operationId: report_getOffice365ActiveUserDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        2XX:
          description: Success
[...]
