openapi: 3.0.1
info:
  title: Reports
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLogs.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - directoryAudits
                - provisioning
                - restrictedSignIns
                - signIns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directoryAudits
                - provisioning
                - restrictedSignIns
                - signIns
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
          links:
            directoryAudits:
              operationId: auditLogs.ListDirectoryAudits
            provisioning:
              operationId: auditLogs.ListProvisioning
            restrictedSignIns:
              operationId: auditLogs.ListRestrictedSignIns
            signIns:
              operationId: auditLogs.ListSignIns
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLogs.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_ListDirectoryAudits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - activityDisplayName
                - activityDisplayName desc
                - additionalDetails
                - additionalDetails desc
                - category
                - category desc
                - correlationId
                - correlationId desc
                - initiatedBy
                - initiatedBy desc
                - loggedByService
                - loggedByService desc
                - operationType
                - operationType desc
                - result
                - result desc
                - resultReason
                - resultReason desc
                - targetResources
                - targetResources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryAudit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryAudit'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLogs_CreateDirectoryAudits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_GetDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLogs_UpdateDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLogs_DeleteDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - changeId
                - changeId desc
                - cycleId
                - cycleId desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - initiatedBy
                - initiatedBy desc
                - jobId
                - jobId desc
                - modifiedProperties
                - modifiedProperties desc
                - provisioningAction
                - provisioningAction desc
                - provisioningStatusInfo
                - provisioningStatusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - servicePrincipal
                - servicePrincipal desc
                - sourceIdentity
                - sourceIdentity desc
                - sourceSystem
                - sourceSystem desc
                - targetIdentity
                - targetIdentity desc
                - targetSystem
                - targetSystem desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of provisioningObjectSummary
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLogs_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLogs_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLogs_DeleteProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/restrictedSignIns:
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_ListRestrictedSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - deviceDetail
                - deviceDetail desc
                - ipAddress
                - ipAddress desc
                - isInteractive
                - isInteractive desc
                - location
                - location desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - status
                - status desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
                - targetTenantId
                - targetTenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - ipAddress
                - isInteractive
                - location
                - resourceDisplayName
                - resourceId
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - status
                - userDisplayName
                - userId
                - userPrincipalName
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of restrictedSignIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.restrictedSignIn
      summary: Create new navigation property to restrictedSignIns for auditLogs
      operationId: auditLogs_CreateRestrictedSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/restrictedSignIns/{restrictedSignIn-id}':
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_GetRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - ipAddress
                - isInteractive
                - location
                - resourceDisplayName
                - resourceId
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - status
                - userDisplayName
                - userId
                - userPrincipalName
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.restrictedSignIn
      summary: Update the navigation property restrictedSignIns in auditLogs
      operationId: auditLogs_UpdateRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.restrictedSignIn
      summary: Delete navigation property restrictedSignIns for auditLogs
      operationId: auditLogs_DeleteRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_ListSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - deviceDetail
                - deviceDetail desc
                - ipAddress
                - ipAddress desc
                - isInteractive
                - isInteractive desc
                - location
                - location desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - status
                - status desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - ipAddress
                - isInteractive
                - location
                - resourceDisplayName
                - resourceId
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - status
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of signIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.signIn'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLogs_CreateSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_GetSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - ipAddress
                - isInteractive
                - location
                - resourceDisplayName
                - resourceId
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - status
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLogs_UpdateSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLogs_DeleteSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports:
    get:
      tags:
        - reports.reportRoot
      summary: Get reports
      operationId: reports.reportRoot_GetReportRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
          links:
            dailyPrintUsageByPrinter:
              operationId: reports.ListDailyPrintUsageByPrinter
            dailyPrintUsageByUser:
              operationId: reports.ListDailyPrintUsageByUser
            monthlyPrintUsageByPrinter:
              operationId: reports.ListMonthlyPrintUsageByPrinter
            monthlyPrintUsageByUser:
              operationId: reports.ListMonthlyPrintUsageByUser
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.reportRoot
      summary: Update reports
      operationId: reports.reportRoot_UpdateReportRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/dailyPrintUsageByPrinter:
    get:
      tags:
        - reports.printUsageByPrinter
      summary: Get dailyPrintUsageByPrinter from reports
      operationId: reports_ListDailyPrintUsageByPrinter
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - completedBlackAndWhiteJobCount
                - completedBlackAndWhiteJobCount desc
                - completedColorJobCount
                - completedColorJobCount desc
                - incompleteJobCount
                - incompleteJobCount desc
                - usageDate
                - usageDate desc
                - printerId
                - printerId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - incompleteJobCount
                - usageDate
                - printerId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printUsageByPrinter
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.printUsageByPrinter
      summary: Create new navigation property to dailyPrintUsageByPrinter for reports
      operationId: reports_CreateDailyPrintUsageByPrinter
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/dailyPrintUsageByPrinter/{printUsageByPrinter-id}':
    get:
      tags:
        - reports.printUsageByPrinter
      summary: Get dailyPrintUsageByPrinter from reports
      operationId: reports_GetDailyPrintUsageByPrinter
      parameters:
        - name: printUsageByPrinter-id
          in: path
          description: 'key: id of printUsageByPrinter'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUsageByPrinter
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - incompleteJobCount
                - usageDate
                - printerId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.printUsageByPrinter
      summary: Update the navigation property dailyPrintUsageByPrinter in reports
      operationId: reports_UpdateDailyPrintUsageByPrinter
      parameters:
        - name: printUsageByPrinter-id
          in: path
          description: 'key: id of printUsageByPrinter'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUsageByPrinter
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.printUsageByPrinter
      summary: Delete navigation property dailyPrintUsageByPrinter for reports
      operationId: reports_DeleteDailyPrintUsageByPrinter
      parameters:
        - name: printUsageByPrinter-id
          in: path
          description: 'key: id of printUsageByPrinter'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUsageByPrinter
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/dailyPrintUsageByUser:
    get:
      tags:
        - reports.printUsageByUser
      summary: Get dailyPrintUsageByUser from reports
      operationId: reports_ListDailyPrintUsageByUser
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - completedBlackAndWhiteJobCount
                - completedBlackAndWhiteJobCount desc
                - completedColorJobCount
                - completedColorJobCount desc
                - incompleteJobCount
                - incompleteJobCount desc
                - usageDate
                - usageDate desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - incompleteJobCount
                - usageDate
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printUsageByUser
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.printUsageByUser
      summary: Create new navigation property to dailyPrintUsageByUser for reports
      operationId: reports_CreateDailyPrintUsageByUser
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/dailyPrintUsageByUser/{printUsageByUser-id}':
    get:
      tags:
        - reports.printUsageByUser
      summary: Get dailyPrintUsageByUser from reports
      operationId: reports_GetDailyPrintUsageByUser
      parameters:
        - name: printUsageByUser-id
          in: path
          description: 'key: id of printUsageByUser'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUsageByUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - incompleteJobCount
                - usageDate
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.printUsageByUser
      summary: Update the navigation property dailyPrintUsageByUser in reports
      operationId: reports_UpdateDailyPrintUsageByUser
      parameters:
        - name: printUsageByUser-id
          in: path
          description: 'key: id of printUsageByUser'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUsageByUser
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.printUsageByUser
      summary: Delete navigation property dailyPrintUsageByUser for reports
      operationId: reports_DeleteDailyPrintUsageByUser
      parameters:
        - name: printUsageByUser-id
          in: path
          description: 'key: id of printUsageByUser'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUsageByUser
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/microsoft.graph.deviceConfigurationDeviceActivity():
    get:
      tags:
        - reports.Functions
      summary: Invoke function deviceConfigurationDeviceActivity
      operationId: reports_deviceConfigurationDeviceActivity
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.deviceConfigurationUserActivity():
    get:
      tags:
        - reports.Functions
      summary: Invoke function deviceConfigurationUserActivity
      operationId: reports_deviceConfigurationUserActivity
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityCounts
      operationId: reports_getEmailActivityCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserCounts
      operationId: reports_getEmailActivityUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserDetail
      operationId: reports_getEmailActivityUserDetail-fe32
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserDetail
      operationId: reports_getEmailActivityUserDetail-ddb2
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageAppsUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageAppsUserCounts
      operationId: reports_getEmailAppUsageAppsUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserCounts
      operationId: reports_getEmailAppUsageUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserDetail
      operationId: reports_getEmailAppUsageUserDetail-62ec
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserDetail
      operationId: reports_getEmailAppUsageUserDetail-546b
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageVersionsUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageVersionsUserCounts
      operationId: reports_getEmailAppUsageVersionsUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getGroupArchivedPrintJobs(groupId=''{groupId}'',startDateTime={startDateTime},endDateTime={endDateTime})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getGroupArchivedPrintJobs
      operationId: reports_getGroupArchivedPrintJobs
      parameters:
        - name: groupId
          in: path
          description: 'Usage: groupId={groupId}'
          required: true
          schema:
            type: string
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.archivedPrintJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageDetail
      operationId: reports_getMailboxUsageDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageMailboxCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageMailboxCounts
      operationId: reports_getMailboxUsageMailboxCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageQuotaStatusMailboxCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageQuotaStatusMailboxCounts
      operationId: reports_getMailboxUsageQuotaStatusMailboxCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageStorage(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageStorage
      operationId: reports_getMailboxUsageStorage
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationCounts():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationCounts
      operationId: reports_getOffice365ActivationCounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationsUserCounts():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationsUserCounts
      operationId: reports_getOffice365ActivationsUserCounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationsUserDetail():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationsUserDetail
      operationId: reports_getOffice365ActivationsUserDetail
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserCounts
      operationId: reports_getOffice365ActiveUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserDetail
      operationId: reports_getOffice365ActiveUserDetail-d389
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserDetail
      operationId: reports_getOffice365ActiveUserDetail-68ad
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityCounts
      operationId: reports_getOffice365GroupsActivityCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityDetail
      operationId: reports_getOffice365GroupsActivityDetail-81cc
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityDetail
      operationId: reports_getOffice365GroupsActivityDetail-38f6
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityFileCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityFileCounts
      operationId: reports_getOffice365GroupsActivityFileCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityGroupCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityGroupCounts
      operationId: reports_getOffice365GroupsActivityGroupCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityStorage(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityStorage
      operationId: reports_getOffice365GroupsActivityStorage
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ServicesUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ServicesUserCounts
      operationId: reports_getOffice365ServicesUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityFileCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityFileCounts
      operationId: reports_getOneDriveActivityFileCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityUserCounts
      operationId: reports_getOneDriveActivityUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityUserDetail
      operationId: reports_getOneDriveActivityUserDetail-05f1
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityUserDetail
      operationId: reports_getOneDriveActivityUserDetail-c424
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageAccountCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageAccountCounts
      operationId: reports_getOneDriveUsageAccountCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageAccountDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageAccountDetail
      operationId: reports_getOneDriveUsageAccountDetail-e827
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageAccountDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageAccountDetail
      operationId: reports_getOneDriveUsageAccountDetail-dd7f
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageFileCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageFileCounts
      operationId: reports_getOneDriveUsageFileCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageStorage(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageStorage
      operationId: reports_getOneDriveUsageStorage
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getPrinterArchivedPrintJobs(printerId=''{printerId}'',startDateTime={startDateTime},endDateTime={endDateTime})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getPrinterArchivedPrintJobs
      operationId: reports_getPrinterArchivedPrintJobs
      parameters:
        - name: printerId
          in: path
          description: 'Usage: printerId={printerId}'
          required: true
          schema:
            type: string
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.archivedPrintJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityFileCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityFileCounts
      operationId: reports_getSharePointActivityFileCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityPages(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityPages
      operationId: reports_getSharePointActivityPages
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityUserCounts
      operationId: reports_getSharePointActivityUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityUserDetail
      operationId: reports_getSharePointActivityUserDetail-f3be
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityUserDetail
      operationId: reports_getSharePointActivityUserDetail-b778
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageDetail
      operationId: reports_getSharePointSiteUsageDetail-d27a
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageDetail
      operationId: reports_getSharePointSiteUsageDetail-204b
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageFileCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageFileCounts
      operationId: reports_getSharePointSiteUsageFileCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsagePages(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsagePages
      operationId: reports_getSharePointSiteUsagePages
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageSiteCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageSiteCounts
      operationId: reports_getSharePointSiteUsageSiteCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageStorage(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageStorage
      operationId: reports_getSharePointSiteUsageStorage
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessActivityCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessActivityCounts
      operationId: reports_getSkypeForBusinessActivityCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessActivityUserCounts
      operationId: reports_getSkypeForBusinessActivityUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessActivityUserDetail
      operationId: reports_getSkypeForBusinessActivityUserDetail-e4c9
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessActivityUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessActivityUserDetail
      operationId: reports_getSkypeForBusinessActivityUserDetail-744e
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessDeviceUsageDistributionUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessDeviceUsageDistributionUserCounts
      operationId: reports_getSkypeForBusinessDeviceUsageDistributionUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessDeviceUsageUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessDeviceUsageUserCounts
      operationId: reports_getSkypeForBusinessDeviceUsageUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessDeviceUsageUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessDeviceUsageUserDetail
      operationId: reports_getSkypeForBusinessDeviceUsageUserDetail-a692
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessDeviceUsageUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessDeviceUsageUserDetail
      operationId: reports_getSkypeForBusinessDeviceUsageUserDetail-e753
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessOrganizerActivityCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessOrganizerActivityCounts
      operationId: reports_getSkypeForBusinessOrganizerActivityCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessOrganizerActivityMinuteCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessOrganizerActivityMinuteCounts
      operationId: reports_getSkypeForBusinessOrganizerActivityMinuteCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessOrganizerActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessOrganizerActivityUserCounts
      operationId: reports_getSkypeForBusinessOrganizerActivityUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessParticipantActivityCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessParticipantActivityCounts
      operationId: reports_getSkypeForBusinessParticipantActivityCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessParticipantActivityMinuteCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessParticipantActivityMinuteCounts
      operationId: reports_getSkypeForBusinessParticipantActivityMinuteCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period={period}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessParticipantActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
[...]
