openapi: 3.0.1
info:
  title: Reports
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLogs.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - directoryAudits
                - provisioning
                - signIns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directoryAudits
                - provisioning
                - signIns
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
          links:
            directoryAudits:
              operationId: auditLogs.ListDirectoryAudits
            provisioning:
              operationId: auditLogs.ListProvisioning
            signIns:
              operationId: auditLogs.ListSignIns
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLogs.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: List directoryAudits
      description: 'Get the list of audit logs generated by Azure Active Directory. This includes audit logs generated by various services within Azure AD, including user, app, device and group Management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (self-service and admin password resets), and self- service group management, and so on.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryaudit-list?view=graph-rest-1.0
      operationId: auditLogs_ListDirectoryAudits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - activityDisplayName
                - activityDisplayName desc
                - additionalDetails
                - additionalDetails desc
                - category
                - category desc
                - correlationId
                - correlationId desc
                - initiatedBy
                - initiatedBy desc
                - loggedByService
                - loggedByService desc
                - operationType
                - operationType desc
                - result
                - result desc
                - resultReason
                - resultReason desc
                - targetResources
                - targetResources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryAuditCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLogs_CreateDirectoryAudits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_GetDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLogs_UpdateDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLogs_DeleteDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: List provisioningObjectSummary
      description: 'Get all provisioning events that occurred in your tenant, such as the deletion of a group in a target application or the creation of a user when provisioning user accounts from your HR system. '
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/provisioningobjectsummary-list?view=graph-rest-1.0
      operationId: auditLogs_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - changeId
                - changeId desc
                - cycleId
                - cycleId desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - initiatedBy
                - initiatedBy desc
                - jobId
                - jobId desc
                - modifiedProperties
                - modifiedProperties desc
                - provisioningAction
                - provisioningAction desc
                - provisioningStatusInfo
                - provisioningStatusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - servicePrincipal
                - servicePrincipal desc
                - sourceIdentity
                - sourceIdentity desc
                - sourceSystem
                - sourceSystem desc
                - targetIdentity
                - targetIdentity desc
                - targetSystem
                - targetSystem desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLogs_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLogs_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLogs_DeleteProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: List signIns
      description: 'Retrieve the Azure AD user sign-ins for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.  The maximum and default page size is 1,000 objects and by default, the most recent sign-ins are returned first. Only sign-in events that occurred within the Azure Active Directory (Azure AD) default retention period are available.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/signin-list?view=graph-rest-1.0
      operationId: auditLogs_ListSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - deviceDetail
                - deviceDetail desc
                - ipAddress
                - ipAddress desc
                - isInteractive
                - isInteractive desc
                - location
                - location desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - status
                - status desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - ipAddress
                - isInteractive
                - location
                - resourceDisplayName
                - resourceId
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - status
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.signInCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLogs_CreateSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_GetSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - ipAddress
                - isInteractive
                - location
                - resourceDisplayName
                - resourceId
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - status
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLogs_UpdateSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLogs_DeleteSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get reports from deviceManagement
      description: Reports singleton
      operationId: deviceManagement_GetReports
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exportJobs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - exportJobs
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
          links:
            exportJobs:
              operationId: deviceManagement.Reports.ListExportJobs
            getCachedReport:
              operationId: deviceManagement.reports.getCachedReport
            getCompliancePolicyNonComplianceReport:
              operationId: deviceManagement.reports.getCompliancePolicyNonComplianceReport
            getCompliancePolicyNonComplianceSummaryReport:
              operationId: deviceManagement.reports.getCompliancePolicyNonComplianceSummaryReport
            getComplianceSettingNonComplianceReport:
              operationId: deviceManagement.reports.getComplianceSettingNonComplianceReport
            getConfigurationPolicyNonComplianceReport:
              operationId: deviceManagement.reports.getConfigurationPolicyNonComplianceReport
            getConfigurationPolicyNonComplianceSummaryReport:
              operationId: deviceManagement.reports.getConfigurationPolicyNonComplianceSummaryReport
            getConfigurationSettingNonComplianceReport:
              operationId: deviceManagement.reports.getConfigurationSettingNonComplianceReport
            getDeviceManagementIntentPerSettingContributingProfiles:
              operationId: deviceManagement.reports.getDeviceManagementIntentPerSettingContributingProfiles
            getDeviceManagementIntentSettingsReport:
              operationId: deviceManagement.reports.getDeviceManagementIntentSettingsReport
            getDeviceNonComplianceReport:
              operationId: deviceManagement.reports.getDeviceNonComplianceReport
            getHistoricalReport:
              operationId: deviceManagement.reports.getHistoricalReport
            getNoncompliantDevicesAndSettingsReport:
              operationId: deviceManagement.reports.getNoncompliantDevicesAndSettingsReport
            getPolicyNonComplianceMetadata:
              operationId: deviceManagement.reports.getPolicyNonComplianceMetadata
            getPolicyNonComplianceReport:
              operationId: deviceManagement.reports.getPolicyNonComplianceReport
            getPolicyNonComplianceSummaryReport:
              operationId: deviceManagement.reports.getPolicyNonComplianceSummaryReport
            getReportFilters:
              operationId: deviceManagement.reports.getReportFilters
            getSettingNonComplianceReport:
              operationId: deviceManagement.reports.getSettingNonComplianceReport
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property reports in deviceManagement
      operationId: deviceManagement_UpdateReports
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property reports for deviceManagement
      operationId: deviceManagement_DeleteReports
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report
      operationId: deviceManagement.reports_ListExportJobs
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - expirationDateTime
                - expirationDateTime desc
                - filter
                - filter desc
                - format
                - format desc
                - localizationType
                - localizationType desc
                - reportName
                - reportName desc
                - requestDateTime
                - requestDateTime desc
                - select
                - select desc
                - snapshotId
                - snapshotId desc
                - status
                - status desc
                - url
                - url desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - format
                - localizationType
                - reportName
                - requestDateTime
                - select
                - snapshotId
                - status
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceManagementExportJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to exportJobs for deviceManagement
      operationId: deviceManagement.reports_CreateExportJobs
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/exportJobs/{deviceManagementExportJob-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report
      operationId: deviceManagement.reports_GetExportJobs
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: 'key: id of deviceManagementExportJob'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - format
                - localizationType
                - reportName
                - requestDateTime
                - select
                - snapshotId
                - status
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property exportJobs in deviceManagement
      operationId: deviceManagement.reports_UpdateExportJobs
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: 'key: id of deviceManagementExportJob'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property exportJobs for deviceManagement
      operationId: deviceManagement.reports_DeleteExportJobs
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: 'key: id of deviceManagementExportJob'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports:
    get:
      tags:
        - reports.reportRoot
      summary: Get reports
      operationId: reports.reportRoot_GetReportRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
          links:
            dailyPrintUsageByPrinter:
              operationId: reports.ListDailyPrintUsageGraphBPrePrinter
            dailyPrintUsageByUser:
              operationId: reports.ListDailyPrintUsageGraphBPreUser
            monthlyPrintUsageByPrinter:
              operationId: reports.ListMonthlyPrintUsageGraphBPrePrinter
            monthlyPrintUsageByUser:
              operationId: reports.ListMonthlyPrintUsageGraphBPreUser
            deviceConfigurationDeviceActivity:
              operationId: reports.deviceConfigurationDeviceActivity
            deviceConfigurationUserActivity:
              operationId: reports.deviceConfigurationUserActivity
            getEmailActivityCounts:
              operationId: reports.getEmailActivityCounts
            getEmailActivityUserCounts:
              operationId: reports.getEmailActivityUserCounts
            getEmailActivityUserDetail:
              operationId: reports.getEmailActivityUserDetail
            getEmailAppUsageAppsUserCounts:
              operationId: reports.getEmailAppUsageAppsUserCounts
            getEmailAppUsageUserCounts:
              operationId: reports.getEmailAppUsageUserCounts
            getEmailAppUsageUserDetail:
              operationId: reports.getEmailAppUsageUserDetail
            getEmailAppUsageVersionsUserCounts:
              operationId: reports.getEmailAppUsageVersionsUserCounts
            getGroupArchivedPrintJobs:
              operationId: reports.getGroupArchivedPrintJobs
            getMailboxUsageDetail:
              operationId: reports.getMailboxUsageDetail
            getMailboxUsageMailboxCounts:
              operationId: reports.getMailboxUsageMailboxCounts
            getMailboxUsageQuotaStatusMailboxCounts:
              operationId: reports.getMailboxUsageQuotaStatusMailboxCounts
            getMailboxUsageStorage:
              operationId: reports.getMailboxUsageStorage
            getOffice365ActivationCounts:
              operationId: reports.getOffice365ActivationCounts
            getOffice365ActivationsUserCounts:
              operationId: reports.getOffice365ActivationsUserCounts
            getOffice365ActivationsUserDetail:
              operationId: reports.getOffice365ActivationsUserDetail
            getOffice365ActiveUserCounts:
              operationId: reports.getOffice365ActiveUserCounts
            getOffice365ActiveUserDetail:
              operationId: reports.getOffice365ActiveUserDetail
            getOffice365GroupsActivityCounts:
              operationId: reports.getOffice365GroupsActivityCounts
            getOffice365GroupsActivityDetail:
              operationId: reports.getOffice365GroupsActivityDetail
            getOffice365GroupsActivityFileCounts:
              operationId: reports.getOffice365GroupsActivityFileCounts
            getOffice365GroupsActivityGroupCounts:
              operationId: reports.getOffice365GroupsActivityGroupCounts
            getOffice365GroupsActivityStorage:
              operationId: reports.getOffice365GroupsActivityStorage
            getOffice365ServicesUserCounts:
              operationId: reports.getOffice365ServicesUserCounts
            getOneDriveActivityFileCounts:
              operationId: reports.getOneDriveActivityFileCounts
            getOneDriveActivityUserCounts:
              operationId: reports.getOneDriveActivityUserCounts
            getOneDriveActivityUserDetail:
              operationId: reports.getOneDriveActivityUserDetail
            getOneDriveUsageAccountCounts:
              operationId: reports.getOneDriveUsageAccountCounts
            getOneDriveUsageAccountDetail:
              operationId: reports.getOneDriveUsageAccountDetail
            getOneDriveUsageFileCounts:
              operationId: reports.getOneDriveUsageFileCounts
            getOneDriveUsageStorage:
              operationId: reports.getOneDriveUsageStorage
            getPrinterArchivedPrintJobs:
              operationId: reports.getPrinterArchivedPrintJobs
            getSharePointActivityFileCounts:
              operationId: reports.getSharePointActivityFileCounts
            getSharePointActivityPages:
              operationId: reports.getSharePointActivityPages
            getSharePointActivityUserCounts:
              operationId: reports.getSharePointActivityUserCounts
            getSharePointActivityUserDetail:
              operationId: reports.getSharePointActivityUserDetail
            getSharePointSiteUsageDetail:
              operationId: reports.getSharePointSiteUsageDetail
            getSharePointSiteUsageFileCounts:
              operationId: reports.getSharePointSiteUsageFileCounts
            getSharePointSiteUsagePages:
              operationId: reports.getSharePointSiteUsagePages
            getSharePointSiteUsageSiteCounts:
              operationId: reports.getSharePointSiteUsageSiteCounts
            getSharePointSiteUsageStorage:
              operationId: reports.getSharePointSiteUsageStorage
            getSkypeForBusinessActivityCounts:
              operationId: reports.getSkypeGraphFPreBusinessActivityCounts
            getSkypeForBusinessActivityUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessActivityUserCounts
            getSkypeForBusinessActivityUserDetail:
              operationId: reports.getSkypeGraphFPreBusinessActivityUserDetail
            getSkypeForBusinessDeviceUsageDistributionUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessDeviceUsageDistributionUserCounts
            getSkypeForBusinessDeviceUsageUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessDeviceUsageUserCounts
            getSkypeForBusinessDeviceUsageUserDetail:
              operationId: reports.getSkypeGraphFPreBusinessDeviceUsageUserDetail
            getSkypeForBusinessOrganizerActivityCounts:
              operationId: reports.getSkypeGraphFPreBusinessOrganizerActivityCounts
            getSkypeForBusinessOrganizerActivityMinuteCounts:
              operationId: reports.getSkypeGraphFPreBusinessOrganizerActivityMinuteCounts
            getSkypeForBusinessOrganizerActivityUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessOrganizerActivityUserCounts
            getSkypeForBusinessParticipantActivityCounts:
              operationId: reports.getSkypeGraphFPreBusinessParticipantActivityCounts
            getSkypeForBusinessParticipantActivityMinuteCounts:
              operationId: reports.getSkypeGraphFPreBusinessParticipantActivityMinuteCounts
            getSkypeForBusinessParticipantActivityUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessParticipantActivityUserCounts
            getSkypeForBusinessPeerToPeerActivityCounts:
              operationId: reports.getSkypeGraphFPreBusinessPeerToPeerActivityCounts
            getSkypeForBusinessPeerToPeerActivityMinuteCounts:
              operationId: reports.getSkypeGraphFPreBusinessPeerToPeerActivityMinuteCounts
            getSkypeForBusinessPeerToPeerActivityUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessPeerToPeerActivityUserCounts
            getTeamsDeviceUsageDistributionUserCounts:
              operationId: reports.getTeamsDeviceUsageDistributionUserCounts
            getTeamsDeviceUsageUserCounts:
              operationId: reports.getTeamsDeviceUsageUserCounts
            getTeamsDeviceUsageUserDetail:
              operationId: reports.getTeamsDeviceUsageUserDetail
            getTeamsUserActivityCounts:
              operationId: reports.getTeamsUserActivityCounts
            getTeamsUserActivityUserCounts:
              operationId: reports.getTeamsUserActivityUserCounts
            getTeamsUserActivityUserDetail:
              operationId: reports.getTeamsUserActivityUserDetail
            getUserArchivedPrintJobs:
              operationId: reports.getUserArchivedPrintJobs
            getYammerActivityCounts:
              operationId: reports.getYammerActivityCounts
            getYammerActivityUserCounts:
              operationId: reports.getYammerActivityUserCounts
            getYammerActivityUserDetail:
              operationId: reports.getYammerActivityUserDetail
            getYammerDeviceUsageDistributionUserCounts:
              operationId: reports.getYammerDeviceUsageDistributionUserCounts
            getYammerDeviceUsageUserCounts:
              operationId: reports.getYammerDeviceUsageUserCounts
            getYammerDeviceUsageUserDetail:
              operationId: reports.getYammerDeviceUsageUserDetail
            getYammerGroupsActivityCounts:
              operationId: reports.getYammerGroupsActivityCounts
            getYammerGroupsActivityDetail:
              operationId: reports.getYammerGroupsActivityDetail
            getYammerGroupsActivityGroupCounts:
              operationId: reports.getYammerGroupsActivityGroupCounts
            managedDeviceEnrollmentFailureDetails:
              operationId: reports.managedDeviceEnrollmentFailureDetails
            managedDeviceEnrollmentTopFailures:
              operationId: reports.managedDeviceEnrollmentTopFailures
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.reportRoot
      summary: Update reports
      operationId: reports.reportRoot_UpdateReportRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/dailyPrintUsageByPrinter:
    get:
      tags:
        - reports.printUsageByPrinter
      summary: List dailyPrintUsageByPrinter
      description: 'Retrieve a list of daily print usage summaries, grouped by printer.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/reportroot-list-dailyprintusagebyprinter?view=graph-rest-1.0
      operationId: reports_ListDailyPrintUsageGraphBPrePrinter
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - completedBlackAndWhiteJobCount
                - completedBlackAndWhiteJobCount desc
                - completedColorJobCount
                - completedColorJobCount desc
                - incompleteJobCount
                - incompleteJobCount desc
                - usageDate
                - usageDate desc
                - printerId
                - printerId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - incompleteJobCount
                - usageDate
                - printerId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printUsageByPrinterCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.printUsageByPrinter
      summary: Create new navigation property to dailyPrintUsageByPrinter for reports
      operationId: reports_CreateDailyPrintUsageGraphBPrePrinter
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/dailyPrintUsageByPrinter/{printUsageByPrinter-id}':
    get:
      tags:
        - reports.printUsageByPrinter
      summary: Get dailyPrintUsageByPrinter from reports
      operationId: reports_GetDailyPrintUsageGraphBPrePrinter
      parameters:
        - name: printUsageByPrinter-id
          in: path
          description: 'key: id of printUsageByPrinter'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByPrinter
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - incompleteJobCount
                - usageDate
                - printerId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.printUsageByPrinter
      summary: Update the navigation property dailyPrintUsageByPrinter in reports
      operationId: reports_UpdateDailyPrintUsageGraphBPrePrinter
      parameters:
        - name: printUsageByPrinter-id
          in: path
          description: 'key: id of printUsageByPrinter'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByPrinter
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByPrinter'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.printUsageByPrinter
      summary: Delete navigation property dailyPrintUsageByPrinter for reports
      operationId: reports_DeleteDailyPrintUsageGraphBPrePrinter
      parameters:
        - name: printUsageByPrinter-id
          in: path
          description: 'key: id of printUsageByPrinter'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByPrinter
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/dailyPrintUsageByUser:
    get:
      tags:
        - reports.printUsageByUser
      summary: List dailyPrintUsageByUser
      description: 'Retrieve a list of daily print usage summaries, grouped by user.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/reportroot-list-dailyprintusagebyuser?view=graph-rest-1.0
      operationId: reports_ListDailyPrintUsageGraphBPreUser
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - completedBlackAndWhiteJobCount
                - completedBlackAndWhiteJobCount desc
                - completedColorJobCount
                - completedColorJobCount desc
                - incompleteJobCount
                - incompleteJobCount desc
                - usageDate
                - usageDate desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - incompleteJobCount
                - usageDate
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.printUsageByUserCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.printUsageByUser
      summary: Create new navigation property to dailyPrintUsageByUser for reports
      operationId: reports_CreateDailyPrintUsageGraphBPreUser
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/dailyPrintUsageByUser/{printUsageByUser-id}':
    get:
      tags:
        - reports.printUsageByUser
      summary: Get dailyPrintUsageByUser from reports
      operationId: reports_GetDailyPrintUsageGraphBPreUser
      parameters:
        - name: printUsageByUser-id
          in: path
          description: 'key: id of printUsageByUser'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByUser
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedBlackAndWhiteJobCount
                - completedColorJobCount
                - incompleteJobCount
                - usageDate
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.printUsageByUser
      summary: Update the navigation property dailyPrintUsageByUser in reports
      operationId: reports_UpdateDailyPrintUsageGraphBPreUser
      parameters:
        - name: printUsageByUser-id
          in: path
          description: 'key: id of printUsageByUser'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByUser
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsageByUser'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.printUsageByUser
      summary: Delete navigation property dailyPrintUsageByUser for reports
      operationId: reports_DeleteDailyPrintUsageGraphBPreUser
      parameters:
        - name: printUsageByUser-id
          in: path
          description: 'key: id of printUsageByUser'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsageByUser
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/microsoft.graph.deviceConfigurationDeviceActivity():
    get:
      tags:
        - reports.Functions
      summary: Invoke function deviceConfigurationDeviceActivity
      description: Metadata for the device configuration device activity report
      operationId: reports_deviceConfigurationDeviceActivity
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.deviceConfigurationUserActivity():
    get:
      tags:
        - reports.Functions
      summary: Invoke function deviceConfigurationUserActivity
      description: Metadata for the device configuration user activity report
      operationId: reports_deviceConfigurationUserActivity
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityCounts
      operationId: reports_getEmailActivityCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserCounts
      operationId: reports_getEmailActivityUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserDetail
      operationId: reports_getEmailActivityUserDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserDetail
      operationId: reports_getEmailActivityUserDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageAppsUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageAppsUserCounts
      operationId: reports_getEmailAppUsageAppsUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserCounts
      operationId: reports_getEmailAppUsageUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserDetail
      operationId: reports_getEmailAppUsageUserDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserDetail
      operationId: reports_getEmailAppUsageUserDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageVersionsUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageVersionsUserCounts
      operationId: reports_getEmailAppUsageVersionsUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getGroupArchivedPrintJobs(groupId=''{groupId}'',startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getGroupArchivedPrintJobs
      operationId: reports_getGroupArchivedPrintJobs
      parameters:
        - name: groupId
          in: path
          description: 'Usage: groupId=''{groupId}'''
          required: true
          style: simple
          schema:
            type: string
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime=''{startDateTime}'''
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime=''{endDateTime}'''
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.archivedPrintJob'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/reports/microsoft.graph.getMailboxUsageDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageDetail
      operationId: reports_getMailboxUsageDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageMailboxCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageMailboxCounts
      operationId: reports_getMailboxUsageMailboxCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageQuotaStatusMailboxCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageQuotaStatusMailboxCounts
      operationId: reports_getMailboxUsageQuotaStatusMailboxCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageStorage(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageStorage
      operationId: reports_getMailboxUsageStorage
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationCounts():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationCounts
      operationId: reports_getOffice365ActivationCounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationsUserCounts():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationsUserCounts
      operationId: reports_getOffice365ActivationsUserCounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationsUserDetail():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationsUserDetail
      operationId: reports_getOffice365ActivationsUserDetail
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserCounts
      operationId: reports_getOffice365ActiveUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserDetail
      operationId: reports_getOffice365ActiveUserDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserDetail
      operationId: reports_getOffice365ActiveUserDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityCounts
      operationId: reports_getOffice365GroupsActivityCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityDetail
      operationId: reports_getOffice365GroupsActivityDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityDetail
      operationId: reports_getOffice365GroupsActivityDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityFileCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityFileCounts
      operationId: reports_getOffice365GroupsActivityFileCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityGroupCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityGroupCounts
      operationId: reports_getOffice365GroupsActivityGroupCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityStorage(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityStorage
      operationId: reports_getOffice365GroupsActivityStorage
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ServicesUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ServicesUserCounts
      operationId: reports_getOffice365ServicesUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityFileCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityFileCounts
      operationId: reports_getOneDriveActivityFileCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityUserCounts
      operationId: reports_getOneDriveActivityUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityUserDetail
      operationId: reports_getOneDriveActivityUserDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityUserDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityUserDetail
      operationId: reports_getOneDriveActivityUserDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageAccountCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageAccountCounts
      operationId: reports_getOneDriveUsageAccountCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageAccountDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageAccountDetail
      operationId: reports_getOneDriveUsageAccountDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageAccountDetail(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageAccountDetail
      operationId: reports_getOneDriveUsageAccountDetail
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageFileCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageFileCounts
      operationId: reports_getOneDriveUsageFileCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageStorage(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageStorage
      operationId: reports_getOneDriveUsageStorage
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getPrinterArchivedPrintJobs(printerId=''{printerId}'',startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getPrinterArchivedPrintJobs
      operationId: reports_getPrinterArchivedPrintJobs
      parameters:
        - name: printerId
          in: path
          description: 'Usage: printerId=''{printerId}'''
          required: true
          style: simple
          schema:
            type: string
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime=''{startDateTime}'''
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime=''{endDateTime}'''
          required: true
          style: simple
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
            type: string
            format: date-time
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.archivedPrintJob'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/reports/microsoft.graph.getSharePointActivityFileCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityFileCounts
      operationId: reports_getSharePointActivityFileCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityPages(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityPages
      operationId: reports_getSharePointActivityPages
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityUserCounts(period=''{period}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityUserCounts
      operationId: reports_getSharePointActivityUserCounts
      parameters:
        - name: period
          in: path
          description: 'Usage: period=''{period}'''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityUserDetail
      operationId: reports_getSharePointActivityUserDetail
      parameters:
        - name: date
          in: path
          description: 'Usage: date={date}'
          required: true
          style: simple
          schema:
[...]
