openapi: 3.0.4
info:
  title: Reports
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /admin/reportSettings:
    get:
      tags:
        - admin.adminReportSettings
      summary: Get adminReportSettings
      description: Get the tenant-level settings for Microsoft 365 reports.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminreportsettings-get?view=graph-rest-1.0
      operationId: admin_GetReportSetting
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminReportSettings
      summary: Update adminReportSettings
      description: Update tenant-level settings for Microsoft 365 reports.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminreportsettings-update?view=graph-rest-1.0
      operationId: admin_UpdateReportSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminReportSettings
      summary: Delete navigation property reportSettings for admin
      operationId: admin_DeleteReportSetting
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLog.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLog.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: List directoryAudits
      description: 'Get the list of audit logs generated by Microsoft Entra ID. This includes audit logs generated by various services within Microsoft Entra ID, including user, app, device and group Management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (self-service and admin password resets), and self- service group management, and so on.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-list?view=graph-rest-1.0
      operationId: auditLog_ListDirectoryAudit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryAuditCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLog_CreateDirectoryAudit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudit
      description: 'Get a specific Microsoft Entra audit log item. This includes an audit log item generated by various services within Microsoft Entra ID like user, application, device and group management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (self-service and admin password resets), self-service group management, and so on.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-get?view=graph-rest-1.0
      operationId: auditLog_GetDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLog_UpdateDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLog_DeleteDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits/$count:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get the number of the resource
      operationId: auditLog.directoryAudit_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: List provisioningObjectSummary
      description: 'Get all provisioning events that occurred in your tenant, such as the deletion of a group in a target application or the creation of a user when provisioning user accounts from your HR system. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/provisioningobjectsummary-list?view=graph-rest-1.0
      operationId: auditLog_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLog_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLog_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLog_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLog_DeleteProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning/$count:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get the number of the resource
      operationId: auditLog.provisioning_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: List signIns
      description: 'Retrieve the Microsoft Entra user sign-ins for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.  The maximum and default page size is 1,000 objects and by default, the most recent sign-ins are returned first. Only sign-in events that occurred within the Microsoft Entra ID default retention period are available.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-list?view=graph-rest-1.0
      operationId: auditLog_ListSignIn
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.signInCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLog_CreateSignIn
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIn
      description: Retrieve a specific Microsoft Entra user sign-in event for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-get?view=graph-rest-1.0
      operationId: auditLog_GetSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLog_UpdateSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLog_DeleteSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns/$count:
    get:
      tags:
        - auditLogs.signIn
      summary: Get the number of the resource
      operationId: auditLog.signIn_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signIns/microsoft.graph.confirmCompromised:
    post:
      tags:
        - auditLogs.signIn
      summary: Invoke action confirmCompromised
      description: 'Mark an event in the Microsoft Entra sign-in logs as risky. Events marked as risky by an admin are immediately flagged as high risk in Microsoft Entra ID Protection, overriding previous risk states. Admins can confirm that events flagged as risky by Microsoft Entra ID Protection are in fact risky. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-confirmcompromised?view=graph-rest-1.0
      operationId: auditLog.signIn_confirmCompromised
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signIns/microsoft.graph.confirmSafe:
    post:
      tags:
        - auditLogs.signIn
      summary: Invoke action confirmSafe
      description: 'Mark an event in Microsoft Entra sign-in logs as safe. Admins can either mark the events flagged as risky by Microsoft Entra ID Protection as safe, or they can mark unflagged events as safe. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-confirmsafe?view=graph-rest-1.0
      operationId: auditLog.signIn_confirmSafe
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signIns/microsoft.graph.dismiss:
    post:
      tags:
        - auditLogs.signIn
      summary: Invoke action dismiss
      description: 'Mark an event in Microsoft Entra sign-in logs as dismissed. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-dismiss?view=graph-rest-1.0
      operationId: auditLog.signIn_dismiss
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get deviceManagementReports
      description: Read properties and relationships of the deviceManagementReports object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-get?view=graph-rest-1.0
      operationId: deviceManagement_GetReport
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update deviceManagementReports
      description: Update the properties of a deviceManagementReports object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateReport
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property reports for deviceManagement
      operationId: deviceManagement_DeleteReport
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: List deviceManagementExportJobs
      description: List properties and relationships of the deviceManagementExportJob objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-list?view=graph-rest-1.0
      operationId: deviceManagement.report_ListExportJob
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementExportJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create deviceManagementExportJob
      description: Create a new deviceManagementExportJob object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-create?view=graph-rest-1.0
      operationId: deviceManagement.report_CreateExportJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/exportJobs/{deviceManagementExportJob-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get deviceManagementExportJob
      description: Read properties and relationships of the deviceManagementExportJob object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-get?view=graph-rest-1.0
      operationId: deviceManagement.report_GetExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update deviceManagementExportJob
      description: Update the properties of a deviceManagementExportJob object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-update?view=graph-rest-1.0
      operationId: deviceManagement.report_UpdateExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete deviceManagementExportJob
      description: Deletes a deviceManagementExportJob.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementexportjob-delete?view=graph-rest-1.0
      operationId: deviceManagement.report_DeleteExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs/$count:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get the number of the resource
      operationId: deviceManagement.report.exportJob_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/reports/microsoft.graph.getCachedReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getCachedReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getcachedreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getCachedReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getCompliancePolicyNonComplianceReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getCompliancePolicyNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getcompliancepolicynoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getCompliancePolicyNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getCompliancePolicyNonComplianceSummaryReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getCompliancePolicyNonComplianceSummaryReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getcompliancepolicynoncompliancesummaryreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getCompliancePolicyNonComplianceSummaryReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getComplianceSettingNonComplianceReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getComplianceSettingNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getcompliancesettingnoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getComplianceSettingNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getConfigurationPolicyNonComplianceReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getConfigurationPolicyNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getconfigurationpolicynoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getConfigurationPolicyNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getConfigurationPolicyNonComplianceSummaryReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getConfigurationPolicyNonComplianceSummaryReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getconfigurationpolicynoncompliancesummaryreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getConfigurationPolicyNonComplianceSummaryReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getConfigurationSettingNonComplianceReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getConfigurationSettingNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getconfigurationsettingnoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getConfigurationSettingNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getDeviceManagementIntentPerSettingContributingProfiles:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getDeviceManagementIntentPerSettingContributingProfiles
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getdevicemanagementintentpersettingcontributingprofiles?view=graph-rest-1.0
      operationId: deviceManagement.report_getDeviceManagementIntentPerSettingContributingProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getDeviceManagementIntentSettingsReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getDeviceManagementIntentSettingsReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getdevicemanagementintentsettingsreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getDeviceManagementIntentSettingsReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getDeviceNonComplianceReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getDeviceNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getdevicenoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getDeviceNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getDevicesWithoutCompliancePolicyReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getDevicesWithoutCompliancePolicyReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getdeviceswithoutcompliancepolicyreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getDevicesWithoutCompliancePolicyReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getHistoricalReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getHistoricalReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-gethistoricalreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getHistoricalReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getNoncompliantDevicesAndSettingsReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getNoncompliantDevicesAndSettingsReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getnoncompliantdevicesandsettingsreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getNoncompliantDevicesAndSettingsReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getPolicyNonComplianceMetadata:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getPolicyNonComplianceMetadata
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getpolicynoncompliancemetadata?view=graph-rest-1.0
      operationId: deviceManagement.report_getPolicyNonComplianceMetadata
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getPolicyNonComplianceReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getPolicyNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getpolicynoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getPolicyNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getPolicyNonComplianceSummaryReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getPolicyNonComplianceSummaryReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getpolicynoncompliancesummaryreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getPolicyNonComplianceSummaryReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getReportFilters:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getReportFilters
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getreportfilters?view=graph-rest-1.0
      operationId: deviceManagement.report_getReportFilter
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getSettingNonComplianceReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getSettingNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getsettingnoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getSettingNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.retrieveDeviceAppInstallationStatusReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action retrieveDeviceAppInstallationStatusReport
      operationId: deviceManagement.report_retrieveDeviceAppInstallationStatusReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /reports:
    get:
      tags:
        - reports.reportRoot
      summary: Get reportRoot
      description: Read properties and relationships of the reportRoot object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-reportroot-get?view=graph-rest-1.0
      operationId: report.reportRoot_GetReportRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.reportRoot
      summary: Update reportRoot
      description: Update the properties of a reportRoot object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-reportroot-update?view=graph-rest-1.0
      operationId: report.reportRoot_UpdateReportRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get authenticationMethods from reports
      description: Container for navigation properties for Microsoft Entra authentication methods resources.
      operationId: report_GetAuthenticationMethod
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.authenticationMethodsRoot
      summary: Update the navigation property authenticationMethods in reports
      operationId: report_UpdateAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.authenticationMethodsRoot
      summary: Delete navigation property authenticationMethods for reports
      operationId: report_DeleteAuthenticationMethod
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature():
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Invoke function usersRegisteredByFeature
      description: 'Get the number of users capable of multi-factor authentication, self-service password reset, and passwordless authentication.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationmethodsroot-usersregisteredbyfeature?view=graph-rest-1.0
      operationId: report.authenticationMethod_usersRegisteredGraphBPreFeature
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature(includedUserTypes=''{includedUserTypes}'',includedUserRoles=''{includedUserRoles}'')':
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Invoke function usersRegisteredByFeature
      operationId: report.authenticationMethod_usersRegisteredGraphBPreFeature
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes=''{includedUserTypes}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles=''{includedUserRoles}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod():
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Invoke function usersRegisteredByMethod
      description: Get the number of users registered for each authentication method.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationmethodsroot-usersregisteredbymethod?view=graph-rest-1.0
      operationId: report.authenticationMethod_usersRegisteredGraphBPreMethod
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod(includedUserTypes=''{includedUserTypes}'',includedUserRoles=''{includedUserRoles}'')':
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Invoke function usersRegisteredByMethod
      operationId: report.authenticationMethod_usersRegisteredGraphBPreMethod
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes=''{includedUserTypes}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles=''{includedUserRoles}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/userRegistrationDetails:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: List userRegistrationDetails
      description: 'Get a list of the authentication methods registered for a user as defined in the userRegistrationDetails object. This method doesn''t work for disabled users. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationmethodsroot-list-userregistrationdetails?view=graph-rest-1.0
      operationId: report.authenticationMethod_ListUserRegistrationDetail
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userRegistrationDetailsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.authenticationMethodsRoot
      summary: Create new navigation property to userRegistrationDetails for reports
      operationId: report.authenticationMethod_CreateUserRegistrationDetail
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/authenticationMethods/userRegistrationDetails/{userRegistrationDetails-id}':
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get userRegistrationDetails
      description: Read the properties and relationships of a userRegistrationDetails object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userregistrationdetails-get?view=graph-rest-1.0
      operationId: report.authenticationMethod_GetUserRegistrationDetail
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: The unique identifier of userRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.authenticationMethodsRoot
      summary: Update the navigation property userRegistrationDetails in reports
      operationId: report.authenticationMethod_UpdateUserRegistrationDetail
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: The unique identifier of userRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.authenticationMethodsRoot
      summary: Delete navigation property userRegistrationDetails for reports
      operationId: report.authenticationMethod_DeleteUserRegistrationDetail
      parameters:
        - name: userRegistrationDetails-id
[...]
