openapi: 3.0.4
info:
  title: Search
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /external:
    get:
      tags:
        - external.external
      summary: Get external
      operationId: external_GetExternal
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.external
      summary: Update external
      operationId: external_UpdateExternal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/connections:
    get:
      tags:
        - external.externalConnection
      summary: List externalConnections
      description: Get a list of the externalConnection objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-list?view=graph-rest-1.0
      operationId: external_ListConnection
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalConnectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create externalConnection
      description: Create a new externalConnection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-external-post-connections?view=graph-rest-1.0
      operationId: external_CreateConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get externalConnection
      description: Read the properties and relationships of an externalConnection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-get?view=graph-rest-1.0
      operationId: external_GetConnection
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update externalConnection
      description: Update the properties of an externalConnection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-update?view=graph-rest-1.0
      operationId: external_UpdateConnection
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete externalConnection
      description: Deletes an externalConnection object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-delete?view=graph-rest-1.0
      operationId: external_DeleteConnection
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups':
    get:
      tags:
        - external.externalConnection
      summary: Get externalGroup
      description: Get an externalGroup object.
      operationId: external.connection_ListGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create externalGroup
      description: Create a new externalGroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-post-groups?view=graph-rest-1.0
      operationId: external.connection_CreateGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get externalGroup
      description: Get an externalGroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalgroup-get?view=graph-rest-1.0
      operationId: external.connection_GetGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update externalGroup
      description: Update the properties of an externalGroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalgroup-update?view=graph-rest-1.0
      operationId: external.connection_UpdateGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete externalGroup
      description: Delete an externalGroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalgroup-delete?view=graph-rest-1.0
      operationId: external.connection_DeleteGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members':
    get:
      tags:
        - external.externalConnection
      summary: Get members from external
      description: 'A member added to an externalGroup. You can add Microsoft Entra users, Microsoft Entra groups, or an externalGroup as members.'
      operationId: external.connection.group_ListMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.identityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create identity
      description: Create an identity resource for a new member in an externalGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalgroup-post-members?view=graph-rest-1.0
      operationId: external.connection.group_CreateMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members/{identity-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get members from external
      description: 'A member added to an externalGroup. You can add Microsoft Entra users, Microsoft Entra groups, or an externalGroup as members.'
      operationId: external.connection.group_GetMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: identity-id
          in: path
          description: The unique identifier of identity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property members in external
      operationId: external.connection.group_UpdateMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: identity-id
          in: path
          description: The unique identifier of identity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete identity
      description: Delete an identity resource to remove the corresponding member from an externalGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalgroupmember-delete?view=graph-rest-1.0
      operationId: external.connection.group_DeleteMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: identity-id
          in: path
          description: The unique identifier of identity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.group.member_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/groups/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.group_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/items':
    get:
      tags:
        - external.externalConnection
      summary: Get externalItem
      description: Read the properties and relationships of an externalItem object.
      operationId: external.connection_ListItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to items for external
      operationId: external.connection_CreateItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get externalItem
      description: Read the properties and relationships of an externalItem object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalitem-get?view=graph-rest-1.0
      operationId: external.connection_GetItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - external.externalConnection
      summary: Update externalItem
      description: Update the properties of an externalItem object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalitem-update?view=graph-rest-1.0
      operationId: external.connection_SetItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete externalItem
      description: Delete an externalItem object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalitem-delete?view=graph-rest-1.0
      operationId: external.connection_DeleteItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/activities':
    get:
      tags:
        - external.externalConnection
      summary: Get activities from external
      description: Returns a list of activities performed on the item. Write-only.
      operationId: external.connection.item_ListActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalActivityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to activities for external
      operationId: external.connection.item_CreateActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/activities/{externalActivity-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get activities from external
      description: Returns a list of activities performed on the item. Write-only.
      operationId: external.connection.item_GetActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: externalActivity-id
          in: path
          description: The unique identifier of externalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property activities in external
      operationId: external.connection.item_UpdateActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: externalActivity-id
          in: path
          description: The unique identifier of externalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property activities for external
      operationId: external.connection.item_DeleteActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: externalActivity-id
          in: path
          description: The unique identifier of externalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalActivity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/activities/{externalActivity-id}/performedBy':
    get:
      tags:
        - external.externalConnection
      summary: Get performedBy from external
      description: Represents an identity used to identify who is responsible for the activity.
      operationId: external.connection.item.activity_GetPerformedGraphBPre
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: externalActivity-id
          in: path
          description: The unique identifier of externalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/activities/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.item.activity_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/microsoft.graph.externalConnectors.addActivities':
    post:
      tags:
        - external.externalConnection
      summary: Invoke action addActivities
      description: Append additional instances of externalActivity objects on an externalItem.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalitem-addactivities?view=graph-rest-1.0
      operationId: external.connection.item_addActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                activities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of externalActivityResult
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivityResult'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/external/connections/{externalConnection-id}/items/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.item_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/operations':
    get:
      tags:
        - external.externalConnection
      summary: Get connectionOperation
      description: Read the properties and relationships of a connectionOperation object.
      operationId: external.connection_ListOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.connectionOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to operations for external
      operationId: external.connection_CreateOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/operations/{connectionOperation-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get connectionOperation
      description: Read the properties and relationships of a connectionOperation object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-connectionoperation-get?view=graph-rest-1.0
      operationId: external.connection_GetOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: The unique identifier of connectionOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property operations in external
      operationId: external.connection_UpdateOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: The unique identifier of connectionOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property operations for external
      operationId: external.connection_DeleteOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: The unique identifier of connectionOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/operations/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.operation_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/schema':
    get:
      tags:
        - external.externalConnection
      summary: Get schema
      description: Read the properties and relationships of a schema object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-schema-get?view=graph-rest-1.0
      operationId: external.connection_GetSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Create or update schema
      description: Create a new or update an existing schema for a Microsoft Search connection.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-patch-schema?view=graph-rest-1.0
      operationId: external.connection_UpdateSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/connections/$count:
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /search:
    get:
      tags:
        - search.searchEntity
      summary: Get search
      operationId: search.searchEntity_GetSearchEntity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.searchEntity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.searchEntity
      summary: Update search
      operationId: search.searchEntity_UpdateSearchEntity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.searchEntity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.searchEntity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/acronyms:
    get:
      tags:
        - search.acronym
      summary: List acronyms
      description: Get a list of the acronym objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-searchentity-list-acronyms?view=graph-rest-1.0
      operationId: search_ListAcronym
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.search.acronymCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - search.acronym
      summary: Create acronym
      description: Create a new acronym object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-searchentity-post-acronyms?view=graph-rest-1.0
      operationId: search_CreateAcronym
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.acronym'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.acronym'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/search/acronyms/{acronym-id}':
    get:
      tags:
        - search.acronym
      summary: Get acronym
      description: Read the properties and relationships of an acronym object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-acronym-get?view=graph-rest-1.0
      operationId: search_GetAcronym
      parameters:
        - name: acronym-id
          in: path
          description: The unique identifier of acronym
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: acronym
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.acronym'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.acronym
      summary: Update acronym
      description: Update the properties of an acronym object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-acronym-update?view=graph-rest-1.0
      operationId: search_UpdateAcronym
      parameters:
        - name: acronym-id
          in: path
          description: The unique identifier of acronym
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: acronym
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.acronym'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.acronym'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - search.acronym
      summary: Delete acronym
      description: Delete an acronym object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-acronym-delete?view=graph-rest-1.0
      operationId: search_DeleteAcronym
      parameters:
        - name: acronym-id
          in: path
          description: The unique identifier of acronym
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: acronym
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/acronyms/$count:
    get:
      tags:
        - search.acronym
      summary: Get the number of the resource
      operationId: search.acronym_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /search/bookmarks:
    get:
      tags:
        - search.bookmark
      summary: List bookmarks
      description: Get a list of bookmark objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-searchentity-list-bookmarks?view=graph-rest-1.0
      operationId: search_ListBookmark
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.search.bookmarkCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - search.bookmark
      summary: Create bookmark
      description: Create a new bookmark object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-searchentity-post-bookmarks?view=graph-rest-1.0
      operationId: search_CreateBookmark
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.bookmark'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.bookmark'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/search/bookmarks/{bookmark-id}':
    get:
      tags:
        - search.bookmark
      summary: Get bookmark
      description: Read the properties and relationships of a bookmark object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-bookmark-get?view=graph-rest-1.0
      operationId: search_GetBookmark
      parameters:
        - name: bookmark-id
          in: path
          description: The unique identifier of bookmark
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookmark
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.bookmark'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.bookmark
      summary: Update bookmark
      description: Update the properties of a bookmark object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-bookmark-update?view=graph-rest-1.0
      operationId: search_UpdateBookmark
      parameters:
        - name: bookmark-id
          in: path
          description: The unique identifier of bookmark
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookmark
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.bookmark'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.bookmark'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - search.bookmark
      summary: Delete bookmark
      description: Delete a bookmark object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-bookmark-delete?view=graph-rest-1.0
      operationId: search_DeleteBookmark
      parameters:
        - name: bookmark-id
          in: path
          description: The unique identifier of bookmark
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookmark
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/bookmarks/$count:
    get:
      tags:
        - search.bookmark
      summary: Get the number of the resource
      operationId: search.bookmark_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /search/microsoft.graph.query:
    post:
      tags:
        - search.searchEntity.Actions
      summary: Invoke action query
      description: Runs the query specified in the request body. Search results are provided in the response.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-query?view=graph-rest-1.0
      operationId: search_query
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.searchRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.searchResponse'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /search/qnas:
    get:
      tags:
        - search.qna
      summary: List qnas
      description: Get a list of the qna objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-searchentity-list-qnas?view=graph-rest-1.0
      operationId: search_ListQna
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.search.qnaCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - search.qna
      summary: Create qna
      description: Create a new qna object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-searchentity-post-qnas?view=graph-rest-1.0
      operationId: search_CreateQna
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.qna'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.qna'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/search/qnas/{qna-id}':
    get:
      tags:
        - search.qna
      summary: Get qna
      description: Read the properties and relationships of a qna object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-qna-get?view=graph-rest-1.0
      operationId: search_GetQna
      parameters:
        - name: qna-id
          in: path
          description: The unique identifier of qna
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: qna
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.qna'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.qna
      summary: Update qna
      description: Update the properties of a qna object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-qna-update?view=graph-rest-1.0
      operationId: search_UpdateQna
      parameters:
        - name: qna-id
          in: path
          description: The unique identifier of qna
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: qna
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.qna'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.qna'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - search.qna
      summary: Delete qna
      description: Delete a qna object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/search-qna-delete?view=graph-rest-1.0
      operationId: search_DeleteQna
      parameters:
        - name: qna-id
          in: path
          description: The unique identifier of qna
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: qna
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/qnas/$count:
    get:
      tags:
        - search.qna
      summary: Get the number of the resource
      operationId: search.qna_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.externalConnectors.external:
      title: external
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
          x-ms-navigationProperty: true
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.externalConnection:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalConnection
          type: object
          properties:
            activitySettings:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.activitySettings'
            configuration:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.configuration'
            connectorId:
              type: string
              description: The Teams app ID. Optional.
              nullable: true
            description:
              type: string
              description: Description of the connection displayed in the Microsoft 365 admin center. Optional.
              nullable: true
            name:
              type: string
              description: The display name of the connection to be displayed in the Microsoft 365 admin center. Maximum length of 128 characters. Required.
              nullable: true
            searchSettings:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.searchSettings'
            state:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionState'
            groups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
              x-ms-navigationProperty: true
            items:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
              x-ms-navigationProperty: true
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
              x-ms-navigationProperty: true
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.externalGroup:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalGroup
          type: object
          properties:
            description:
              type: string
              description: The description of the external group. Optional.
              nullable: true
            displayName:
              type: string
              description: The friendly name of the external group. Optional.
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
              description: 'A member added to an externalGroup. You can add Microsoft Entra users, Microsoft Entra groups, or an externalGroup as members.'
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.identity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: identity
          type: object
          properties:
            type:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identityType'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.externalItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalItem
          type: object
          properties:
            acl:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.acl'
              description: An array of access control entries. Each entry specifies the access granted to a user or group. Required.
            content:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItemContent'
            properties:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.properties'
            activities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
              description: Returns a list of activities performed on the item. Write-only.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.externalActivity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalActivity
          type: object
          properties:
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time when the particular activity occurred. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
            type:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivityType'
            performedBy:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.externalActivityResult:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        - title: externalActivityResult
          type: object
          properties:
            error:
              $ref: '#/components/schemas/microsoft.graph.publicError'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.connectionOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: connectionOperation
          type: object
          properties:
            error:
              $ref: '#/components/schemas/microsoft.graph.publicError'
            status:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperationStatus'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.schema:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: schema
          type: object
          properties:
            baseType:
              type: string
              description: Must be set to microsoft.graph.externalConnector.externalItem. Required.
            properties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.property'
              description: 'The properties defined for the items in the connection. The minimum number of properties is one, the maximum is 128.'
          additionalProperties:
            type: object
    microsoft.graph.searchEntity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: searchEntity
          type: object
          properties:
            acronyms:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.search.acronym'
              description: Administrative answer in Microsoft Search results to define common acronyms in an organization.
              x-ms-navigationProperty: true
            bookmarks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.search.bookmark'
              description: Administrative answer in Microsoft Search results for common search queries in an organization.
              x-ms-navigationProperty: true
            qnas:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.search.qna'
              description: Administrative answer in Microsoft Search results that provide answers for specific search keywords in an organization.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.search.acronym:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.search.searchAnswer'
        - title: acronym
          type: object
          properties:
            standsFor:
              type: string
              description: What the acronym stands for.
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.search.answerState'
          additionalProperties:
            type: object
    microsoft.graph.search.bookmark:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.search.searchAnswer'
        - title: bookmark
          type: object
          properties:
            availabilityEndDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Date and time when the bookmark stops appearing as a search result. Set as null for always available. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
              nullable: true
            availabilityStartDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Date and time when the bookmark starts to appear as a search result. Set as null for always available. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
              nullable: true
            categories:
              type: array
              items:
                type: string
                nullable: true
              description: 'Categories commonly used to describe this bookmark. For example, IT and HR.'
            groupIds:
              type: array
              items:
                type: string
                nullable: true
              description: The list of security groups that are able to view this bookmark.
            isSuggested:
              type: boolean
              description: 'True if this bookmark was suggested to the admin, by a user, or was mined and suggested by Microsoft. Read-only.'
              nullable: true
            keywords:
              $ref: '#/components/schemas/microsoft.graph.search.answerKeyword'
            languageTags:
              type: array
              items:
                type: string
                nullable: true
              description: 'A list of geographically specific language names in which this bookmark can be viewed. Each language tag value follows the pattern {language}-{region}. For example, en-us is English as used in the United States. For the list of possible values, see Supported language tags.'
            platforms:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.devicePlatformType'
              description: 'List of devices and operating systems that are able to view this bookmark. Possible values are: android, androidForWork, ios, macOS, windowsPhone81, windowsPhone81AndLater, windows10AndLater, androidWorkProfile, unknown, androidASOP, androidMobileApplicationManagement, iOSMobileApplicationManagement, unknownFutureValue.'
            powerAppIds:
              type: array
              items:
                type: string
                nullable: true
              description: 'List of Power Apps associated with this bookmark. If users add existing Power Apps to a bookmark, they can complete tasks directly on the search results page, such as entering vacation time or reporting expenses.'
            state:
              $ref: '#/components/schemas/microsoft.graph.search.answerState'
            targetedVariations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.search.answerVariant'
              description: 'Variations of a bookmark for different countries/regions or devices. Use when you need to show different content to users based on their device, country/region, or both. The date and group settings apply to all variations.'
          additionalProperties:
            type: object
    microsoft.graph.searchRequest:
      title: searchRequest
      type: object
      properties:
        aggregationFilters:
          type: array
          items:
            type: string
            nullable: true
          description: 'Contains one or more filters to obtain search results aggregated and filtered to a specific value of a field. Optional.Build this filter based on a prior search that aggregates by the same field. From the response of the prior search, identify the searchBucket that filters results to the specific value of the field, use the string in its aggregationFilterToken property, and build an aggregation filter string in the format ''{field}:/''{aggregationFilterToken}/''''. If multiple values for the same field need to be provided, use the strings in its aggregationFilterToken property and build an aggregation filter string in the format ''{field}:or(/''{aggregationFilterToken1}/'',/''{aggregationFilterToken2}/'')''. For example, searching and aggregating drive items by file type returns a searchBucket for the file type docx in the response. You can conveniently use the aggregationFilterToken returned for this searchBucket in a subsequent search query and filter matches down to drive items of the docx file type. Example 1 and example 2 show the actual requests and responses.'
        aggregations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.aggregationOption'
          description: Specifies aggregations (also known as refiners) to be returned alongside search results. Optional.
        collapseProperties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.collapseProperty'
          description: Contains the ordered collection of fields and limit to collapse results. Optional.
        contentSources:
          type: array
          items:
            type: string
            nullable: true
          description: Contains the connection to be targeted.
        enableTopResults:
          type: boolean
          description: 'This triggers hybrid sort for messages : the first 3 messages are the most relevant. This property is only applicable to entityType=message. Optional.'
          nullable: true
        entityTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entityType'
          description: 'One or more types of resources expected in the response. Possible values are: event, message, driveItem, externalItem, site, list, listItem, drive, chatMessage, person, acronym, bookmark.  Use the Prefer: include-unknown-enum-members request header to get the following value(s) in this evolvable enum: chatMessage, person, acronym, bookmark. See known limitations for those combinations of two or more entity types that are supported in the same search request. Required.'
        fields:
          type: array
          items:
            type: string
            nullable: true
          description: 'Contains the fields to be returned for each resource object specified in entityTypes, allowing customization of the fields returned by default; otherwise, including additional fields such as custom managed properties from SharePoint and OneDrive, or custom fields in externalItem from the content that Microsoft 365 Copilot connectors bring in. The fields property can use the semantic labels applied to properties. For example, if a property is labeled as title, you can retrieve it using the following syntax: label_title. Optional.'
        from:
          maximum: 2147483647
          minimum: -2147483648
          type: number
[...]
