openapi: 3.0.1
info:
  title: Search
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /external:
    get:
      tags:
        - external.external
      summary: Get external
      operationId: external.external_GetExternal
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - connections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - connections
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
          links:
            connections:
              operationId: external.ListConnections
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.external
      summary: Update external
      operationId: external.external_UpdateExternal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/connections:
    get:
      tags:
        - external.externalConnection
      summary: List externalConnections
      description: Get a list of the externalConnection objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/externalconnectors-externalconnection-list?view=graph-rest-1.0
      operationId: external_ListConnections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - configuration
                - configuration desc
                - description
                - description desc
                - name
                - name desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configuration
                - description
                - name
                - state
                - groups
                - items
                - operations
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - groups
                - items
                - operations
                - schema
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalConnectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create externalConnection
      description: Create a new externalConnection object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/externalconnectors-external-post-connections?view=graph-rest-1.0
      operationId: external_CreateConnections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get connections from external
      operationId: external_GetConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configuration
                - description
                - name
                - state
                - groups
                - items
                - operations
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - groups
                - items
                - operations
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
          links:
            groups:
              operationId: external.Connections.ListGroups
              parameters:
                externalConnection-id: $request.path.externalConnection-id
            items:
              operationId: external.Connections.ListItems
              parameters:
                externalConnection-id: $request.path.externalConnection-id
            operations:
              operationId: external.Connections.ListOperations
              parameters:
                externalConnection-id: $request.path.externalConnection-id
            schema:
              operationId: external.Connections.GetSchema
              parameters:
                externalConnection-id: $request.path.externalConnection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property connections in external
      operationId: external_UpdateConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property connections for external
      operationId: external_DeleteConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups':
    get:
      tags:
        - external.externalConnection
      summary: Get groups from external
      operationId: external.connections_ListGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create externalGroup
      description: Create a new externalGroup object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/externalconnectors-externalconnection-post-groups?view=graph-rest-1.0
      operationId: external.connections_CreateGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get groups from external
      operationId: external.connections_GetGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
          links:
            members:
              operationId: external.connections.Groups.ListMembers
              parameters:
                externalConnection-id: $request.path.externalConnection-id
                externalGroup-id: $request.path.externalGroup-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property groups in external
      operationId: external.connections_UpdateGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property groups for external
      operationId: external.connections_DeleteGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members':
    get:
      tags:
        - external.externalConnection
      summary: Get members from external
      description: 'A member added to an externalGroup. You can add Azure Active Directory users, Azure Active Directory groups, or an externalGroup as members.'
      operationId: external.connections.groups_ListMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.externalConnectors.identityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create identity
      description: Create an identity resource for a new member in an externalGroup.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/externalconnectors-externalgroup-post-members?view=graph-rest-1.0
      operationId: external.connections.groups_CreateMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members/{identity-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get members from external
      description: 'A member added to an externalGroup. You can add Azure Active Directory users, Azure Active Directory groups, or an externalGroup as members.'
      operationId: external.connections.groups_GetMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: identity-id
          in: path
          description: 'key: id of identity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property members in external
      operationId: external.connections.groups_UpdateMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: identity-id
          in: path
          description: 'key: id of identity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property members for external
      operationId: external.connections.groups_DeleteMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: identity-id
          in: path
          description: 'key: id of identity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items':
    get:
      tags:
        - external.externalConnection
      summary: Get items from external
      operationId: external.connections_ListItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - acl
                - acl desc
                - content
                - content desc
                - properties
                - properties desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acl
                - content
                - properties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to items for external
      operationId: external.connections_CreateItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get items from external
      operationId: external.connections_GetItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: 'key: id of externalItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acl
                - content
                - properties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property items in external
      operationId: external.connections_UpdateItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: 'key: id of externalItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property items for external
      operationId: external.connections_DeleteItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: 'key: id of externalItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/operations':
    get:
      tags:
        - external.externalConnection
      summary: Get operations from external
      operationId: external.connections_ListOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - error
                - error desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - error
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.externalConnectors.connectionOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to operations for external
      operationId: external.connections_CreateOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/operations/{connectionOperation-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get operations from external
      operationId: external.connections_GetOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: 'key: id of connectionOperation'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - error
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property operations in external
      operationId: external.connections_UpdateOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: 'key: id of connectionOperation'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property operations for external
      operationId: external.connections_DeleteOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: 'key: id of connectionOperation'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/schema':
    get:
      tags:
        - external.externalConnection
      summary: Get schema
      description: Read the properties and relationships of a schema object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/externalconnectors-schema-get?view=graph-rest-1.0
      operationId: external.connections_GetSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - baseType
                - properties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property schema in external
      operationId: external.connections_UpdateSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property schema for external
      operationId: external.connections_DeleteSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search:
    get:
      tags:
        - search.searchEntity
      summary: Get search
      operationId: search.searchEntity_GetSearchEntity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.searchEntity'
          links:
            query:
              operationId: search.query
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.searchEntity
      summary: Update search
      operationId: search.searchEntity_UpdateSearchEntity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.searchEntity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/microsoft.graph.query:
    post:
      tags:
        - search.Actions
      summary: Invoke action query
      operationId: search_query
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.searchRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.searchResponse'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
components:
  schemas:
    microsoft.graph.externalConnectors.external:
      title: external
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
          x-ms-navigationProperty: true
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.externalConnection:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalConnection
          type: object
          properties:
            configuration:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.configuration'
            description:
              type: string
              description: Description of the connection displayed in the Microsoft 365 admin center. Optional.
              nullable: true
            name:
              type: string
              description: The display name of the connection to be displayed in the Microsoft 365 admin center. Maximum length of 128 characters. Required.
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionState'
            groups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
              x-ms-navigationProperty: true
            items:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
              x-ms-navigationProperty: true
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
              x-ms-navigationProperty: true
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.externalGroup:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalGroup
          type: object
          properties:
            description:
              type: string
              description: The description of the external group. Optional.
              nullable: true
            displayName:
              type: string
              description: The friendly name of the external group. Optional.
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
              description: 'A member added to an externalGroup. You can add Azure Active Directory users, Azure Active Directory groups, or an externalGroup as members.'
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.identity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: identity
          type: object
          properties:
            type:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identityType'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.externalItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalItem
          type: object
          properties:
            acl:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.acl'
              description: An array of access control entries. Each entry specifies the access granted to a user or group. Required.
            content:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItemContent'
            properties:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.properties'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.connectionOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: connectionOperation
          type: object
          properties:
            error:
              $ref: '#/components/schemas/microsoft.graph.publicError'
            status:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperationStatus'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.schema:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: schema
          type: object
          properties:
            baseType:
              type: string
              description: Must be set to microsoft.graph.externalConnector.externalItem. Required.
            properties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.property'
              description: 'The properties defined for the items in the connection. The minimum number of properties is one, the maximum is 128.'
          additionalProperties:
            type: object
    microsoft.graph.searchEntity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: searchEntity
          type: object
          additionalProperties:
            type: object
    microsoft.graph.searchRequest:
      title: searchRequest
      type: object
      properties:
        aggregationFilters:
          type: array
          items:
            type: string
            nullable: true
        aggregations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.aggregationOption'
        contentSources:
          type: array
          items:
            type: string
            nullable: true
        enableTopResults:
          type: boolean
          nullable: true
        entityTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entityType'
        fields:
          type: array
          items:
            type: string
            nullable: true
        from:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        query:
          $ref: '#/components/schemas/microsoft.graph.searchQuery'
        queryAlterationOptions:
          $ref: '#/components/schemas/microsoft.graph.searchAlterationOptions'
        resultTemplateOptions:
          $ref: '#/components/schemas/microsoft.graph.resultTemplateOption'
        size:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        sortProperties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.sortProperty'
      additionalProperties:
        type: object
    microsoft.graph.searchResponse:
      title: searchResponse
      type: object
      properties:
        hitsContainers:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHitsContainer'
          description: A collection of search results.
        queryAlterationResponse:
          $ref: '#/components/schemas/microsoft.graph.alterationResponse'
        resultTemplates:
          $ref: '#/components/schemas/microsoft.graph.resultTemplateDictionary'
        searchTerms:
          type: array
          items:
            type: string
            nullable: true
          description: Contains the search terms sent in the initial search query.
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.configuration:
      title: configuration
      type: object
      properties:
        authorizedAppIds:
          type: array
          items:
            type: string
            nullable: true
          description: A collection of application IDs for registered Azure Active Directory apps that are allowed to manage the externalConnection and to index content in the externalConnection.
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.connectionState:
      title: connectionState
      enum:
        - draft
        - ready
        - obsolete
        - limitExceeded
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.identityType:
      title: identityType
      enum:
        - user
        - group
        - externalGroup
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.acl:
      title: acl
      type: object
      properties:
        accessType:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.accessType'
        type:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.aclType'
        value:
          type: string
          description: 'The unique identifer of the identity. In case of Azure Active Directory identities, value is set to the object identifier of the user, group or tenant for types user, group and everyone (and everyoneExceptGuests) respectively. In case of external groups value is set to the ID of the externalGroup'
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.externalItemContent:
      title: externalItemContent
      type: object
      properties:
        type:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItemContentType'
        value:
          type: string
          description: The content for the externalItem. Required.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.properties:
      title: properties
      type: object
      additionalProperties:
        type: object
    microsoft.graph.publicError:
      title: publicError
      type: object
      properties:
        code:
          type: string
          description: Represents the error code.
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.publicErrorDetail'
          description: Details of the error.
        innerError:
          $ref: '#/components/schemas/microsoft.graph.publicInnerError'
        message:
          type: string
          description: A non-localized message for the developer.
          nullable: true
        target:
          type: string
          description: The target of the error.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.connectionOperationStatus:
      title: connectionOperationStatus
      enum:
        - unspecified
        - inprogress
        - completed
        - failed
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.property:
      title: property
      type: object
      properties:
        aliases:
          type: array
          items:
            type: string
            nullable: true
          description: 'A set of aliases or a friendly names for the property. Maximum 32 characters. Only alphanumeric characters allowed. For example, each string may not contain control characters, whitespace, or any of the following: :, ;, ,, (, ), [, ], {, }, %, $, +, !, *, =, &, ?, @, #, /, ~, '', '', <, >, `, ^. Optional.'
        isQueryable:
          type: boolean
          description: Specifies if the property is queryable. Queryable properties can be used in Keyword Query Language (KQL) queries. Optional.
          nullable: true
        isRefinable:
          type: boolean
          description: Specifies if the property is refinable.  Refinable properties can be used to filter search results in the Search API and add a refiner control in the Microsoft Search user experience. Optional.
          nullable: true
        isRetrievable:
          type: boolean
          description: Specifies if the property is retrievable. Retrievable properties are returned in the result set when items are returned by the search API. Retrievable properties are also available to add to the display template used to render search results. Optional.
          nullable: true
        isSearchable:
          type: boolean
          description: Specifies if the property is searchable. Only properties of type String or StringCollection can be searchable. Non-searchable properties are not added to the search index. Optional.
          nullable: true
        labels:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.label'
          description: 'Specifies one or more well-known tags added against a property. Labels help Microsoft Search understand the semantics of the data in the connection. Adding appropriate labels would result in an enhanced search experience (e.g. better relevance). The possible values are: title, url, createdBy, lastModifiedBy, authors, createdDateTime, lastModifiedDateTime, fileName, fileExtension, unknownFutureValue. Optional.'
        name:
          type: string
          description: 'The name of the property. Maximum 32 characters. Only alphanumeric characters allowed. For example, each string may not contain control characters, whitespace, or any of the following: :, ;, ,, (, ), [, ], {, }, %, $, +, !, *, =, &, ?, @, #, /, ~, '', '', <, >, `, ^.  Required.'
        type:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.propertyType'
      additionalProperties:
        type: object
    microsoft.graph.aggregationOption:
      title: aggregationOption
      type: object
      properties:
        bucketDefinition:
          $ref: '#/components/schemas/microsoft.graph.bucketAggregationDefinition'
        field:
          type: string
          description: Computes aggregation on the field while the field exists in current entity type. Required.
        size:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of searchBucket resources to be returned. This is not required when the range is provided manually in the search request. Optional.
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.entityType:
      title: entityType
      enum:
        - event
        - message
        - driveItem
        - externalItem
        - site
        - list
        - listItem
        - drive
        - unknownFutureValue
      type: string
    microsoft.graph.searchQuery:
      title: searchQuery
      type: object
      properties:
        queryString:
          type: string
          description: The search query containing the search terms. Required.
      additionalProperties:
        type: object
    microsoft.graph.searchAlterationOptions:
      title: searchAlterationOptions
      type: object
      properties:
        enableModification:
          type: boolean
          description: 'Indicates whether spelling modifications are enabled. If enabled, the user will get the search results for the corrected query in case of no results for the original query with typos. The response will also include the spelling modification information in the queryAlterationResponse property. Optional.'
          nullable: true
        enableSuggestion:
          type: boolean
          description: 'Indicates whether spelling suggestions are enabled. If enabled, the user will get the search results for the original search query and suggestions for spelling correction in the queryAlterationResponse property of the response for the typos in the query. Optional.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.resultTemplateOption:
      title: resultTemplateOption
      type: object
      properties:
        enableResultTemplate:
          type: boolean
          description: 'Indicates whether search display layouts are enabled. If enabled, the user will get the result template to render the search results content in the resultTemplates property of the response. The result template is based on Adaptive Cards. Optional.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.sortProperty:
      title: sortProperty
      type: object
      properties:
        isDescending:
          type: boolean
          description: 'True if the sort order is descending. Default is false, with the sort order as ascending. Optional.'
          nullable: true
        name:
          type: string
          description: The name of the property to sort on. Required.
      additionalProperties:
        type: object
    microsoft.graph.searchHitsContainer:
      title: searchHitsContainer
      type: object
      properties:
        aggregations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchAggregation'
        hits:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHit'
          description: A collection of the search results.
        moreResultsAvailable:
          type: boolean
          description: 'Provides information if more results are available. Based on this information, you can adjust the from and size properties of the searchRequest accordingly.'
          nullable: true
        total:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: 'The total number of results. Note this is not the number of results on the page, but the total number of results satisfying the query.'
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.alterationResponse:
      title: alterationResponse
      type: object
      properties:
        originalQueryString:
          type: string
          description: Defines the original user query string.
          nullable: true
        queryAlteration:
          $ref: '#/components/schemas/microsoft.graph.searchAlteration'
        queryAlterationType:
          $ref: '#/components/schemas/microsoft.graph.searchAlterationType'
      additionalProperties:
        type: object
    microsoft.graph.resultTemplateDictionary:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.Dictionary'
        - title: resultTemplateDictionary
          type: object
          additionalProperties:
            type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.externalConnectionCollectionResponse:
      title: Collection of externalConnection
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
          additionalProperties:
            type: object
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.externalGroupCollectionResponse:
      title: Collection of externalGroup
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
          additionalProperties:
            type: object
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.identityCollectionResponse:
      title: Collection of identity
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
          additionalProperties:
            type: object
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.externalItemCollectionResponse:
      title: Collection of externalItem
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
          additionalProperties:
            type: object
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.connectionOperationCollectionResponse:
      title: Collection of connectionOperation
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
          additionalProperties:
            type: object
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.accessType:
      title: accessType
      enum:
        - grant
        - deny
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.aclType:
      title: aclType
      enum:
        - user
        - group
        - everyone
        - everyoneExceptGuests
        - externalGroup
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.externalItemContentType:
      title: externalItemContentType
      enum:
        - text
        - html
        - unknownFutureValue
      type: string
    microsoft.graph.publicErrorDetail:
      title: publicErrorDetail
      type: object
      properties:
        code:
          type: string
          description: The error code.
          nullable: true
        message:
          type: string
          description: The error message.
          nullable: true
        target:
          type: string
          description: The target of the error.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.publicInnerError:
      title: publicInnerError
      type: object
      properties:
        code:
          type: string
          description: The error code.
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.publicErrorDetail'
          description: A collection of error details.
        message:
          type: string
          description: The error message.
          nullable: true
        target:
          type: string
          description: The target of the error.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.label:
      title: label
      enum:
        - title
        - url
        - createdBy
        - lastModifiedBy
        - authors
        - createdDateTime
        - lastModifiedDateTime
        - fileName
        - fileExtension
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.propertyType:
      title: propertyType
      enum:
        - string
        - int64
        - double
        - dateTime
        - boolean
        - stringCollection
        - int64Collection
        - doubleCollection
        - dateTimeCollection
        - unknownFutureValue
      type: string
    microsoft.graph.bucketAggregationDefinition:
      title: bucketAggregationDefinition
      type: object
      properties:
        isDescending:
          type: boolean
          description: 'True to specify the sort order as descending. The default is false, with the sort order as ascending. Optional.'
          nullable: true
        minimumCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The minimum number of items that should be present in the aggregation to be returned in a bucket. Optional.
          format: int32
          nullable: true
        prefixFilter:
          type: string
          description: A filter to define a matching criteria. The key should start with the specified prefix to be returned in the response. Optional.
          nullable: true
        ranges:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.bucketAggregationRange'
          description: Specifies the manual ranges to compute the aggregations. This is only valid for non-string refiners of date or numeric type. Optional.
        sortBy:
          $ref: '#/components/schemas/microsoft.graph.bucketAggregationSortProperty'
      additionalProperties:
        type: object
    microsoft.graph.searchAggregation:
      title: searchAggregation
      type: object
      properties:
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchBucket'
        field:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchHit:
      title: searchHit
      type: object
      properties:
        contentSource:
          type: string
          description: The name of the content source that the externalItem is part of.
          nullable: true
        hitId:
          type: string
          description: 'The internal identifier for the item. The format of the identifier varies based on the entity type. For details, see hitId format.'
          nullable: true
        rank:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The rank or the order of the result.
          format: int32
          nullable: true
        resultTemplateId:
          type: string
          description: ID of the result template used to render the search result. This ID must map to a display layout in the resultTemplates dictionary that is also included in the searchResponse.
          nullable: true
        summary:
          type: string
          description: 'A summary of the result, if a summary is available.'
          nullable: true
        resource:
          $ref: '#/components/schemas/microsoft.graph.entity'
      additionalProperties:
        type: object
    microsoft.graph.searchAlteration:
      title: searchAlteration
      type: object
      properties:
        alteredHighlightedQueryString:
          type: string
          description: 'Defines the altered highlighted query string with spelling correction. The annotation around the corrected segment is: /ue000, /ue001.'
          nullable: true
        alteredQueryString:
          type: string
          description: Defines the altered query string with spelling correction.
          nullable: true
        alteredQueryTokens:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.alteredQueryToken'
          description: Represents changed segments related to an original user query.
      additionalProperties:
        type: object
    microsoft.graph.searchAlterationType:
      title: searchAlterationType
      enum:
        - suggestion
        - modification
        - unknownFutureValue
      type: string
    microsoft.graph.Dictionary:
      title: Dictionary
      type: object
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innererror:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    BaseCollectionPaginationCountResponse:
      title: Base collection pagination and count responses
      type: object
      properties:
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationRange:
      title: bucketAggregationRange
      type: object
      properties:
        from:
          type: string
          description: Defines the lower bound from which to compute the aggregation. This can be a numeric value or a string representation of a date using the YYYY-MM-DDTHH:mm:ss.sssZ format. Required.
        to:
          type: string
          description: Defines the upper bound up to which to compute the aggregation. This can be a numeric value or a string representation of a date using the YYYY-MM-DDTHH:mm:ss.sssZ format. Required.
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationSortProperty:
      title: bucketAggregationSortProperty
      enum:
        - count
        - keyAsString
        - keyAsNumber
        - unknownFutureValue
      type: string
    microsoft.graph.searchBucket:
      title: searchBucket
      type: object
      properties:
        aggregationFilterToken:
          type: string
          description: 'A token containing the encoded filter to aggregate search matches by the specific key value. To use the filter, pass the token as part of the aggregationFilter property in a searchRequest object, in the format ''{field}:/''{aggregationFilterToken}/''''. See an example.'
          nullable: true
        count:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The approximate number of search matches that share the same value specified in the key property. Note that this number is not the exact number of matches.
          format: int32
          nullable: true
        key:
          type: string
          description: The discrete value of the field that an aggregation was computed on.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.alteredQueryToken:
      title: alteredQueryToken
      type: object
      properties:
        length:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Defines the length of a changed segment.
          format: int32
          nullable: true
        offset:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Defines the offset of a changed segment.
          format: int32
          nullable: true
        suggestion:
          type: string
          description: Represents the corrected segment string.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.externalConnectors.externalConnectionCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnectionCollectionResponse'
    microsoft.graph.externalConnectors.externalGroupCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroupCollectionResponse'
    microsoft.graph.externalConnectors.identityCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.identityCollectionResponse'
    microsoft.graph.externalConnectors.externalItemCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItemCollectionResponse'
    microsoft.graph.externalConnectors.connectionOperationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperationCollectionResponse'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]