openapi: 3.0.1
info:
  title: Security
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /security:
    get:
      tags:
        - security.security
      summary: Get security
      operationId: security_security_GetSecurity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - cases
                - alerts
                - secureScoreControlProfiles
                - secureScores
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - cases
                - alerts
                - secureScoreControlProfiles
                - secureScores
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security'
          links:
            cases:
              operationId: security.GetCases
            alerts:
              operationId: security.ListAlerts
            secureScoreControlProfiles:
              operationId: security.ListSecureScoreControlProfiles
            secureScores:
              operationId: security.ListSecureScores
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.security
      summary: Update security
      operationId: security_security_UpdateSecurity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts:
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      operationId: security_ListAlerts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupName
                - activityGroupName desc
                - alertDetections
                - alertDetections desc
                - assignedTo
                - assignedTo desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - category
                - category desc
                - closedDateTime
                - closedDateTime desc
                - cloudAppStates
                - cloudAppStates desc
                - comments
                - comments desc
                - confidence
                - confidence desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - detectionIds
                - detectionIds desc
                - eventDateTime
                - eventDateTime desc
                - feedback
                - feedback desc
                - fileStates
                - fileStates desc
                - historyStates
                - historyStates desc
                - hostStates
                - hostStates desc
                - incidentIds
                - incidentIds desc
                - investigationSecurityStates
                - investigationSecurityStates desc
                - lastEventDateTime
                - lastEventDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - malwareStates
                - malwareStates desc
                - messageSecurityStates
                - messageSecurityStates desc
                - networkConnections
                - networkConnections desc
                - processes
                - processes desc
                - recommendedActions
                - recommendedActions desc
                - registryKeyStates
                - registryKeyStates desc
                - securityResources
                - securityResources desc
                - severity
                - severity desc
                - sourceMaterials
                - sourceMaterials desc
                - status
                - status desc
                - tags
                - tags desc
                - title
                - title desc
                - triggers
                - triggers desc
                - uriClickSecurityStates
                - uriClickSecurityStates desc
                - userStates
                - userStates desc
                - vendorInformation
                - vendorInformation desc
                - vulnerabilityStates
                - vulnerabilityStates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.alertCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create new navigation property to alerts for security
      operationId: security_CreateAlerts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      operationId: security_GetAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update the navigation property alerts in security
      operationId: security_UpdateAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.alert
      summary: Delete navigation property alerts for security
      operationId: security_DeleteAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/cases:
    get:
      tags:
        - security.casesRoot
      summary: Get cases from security
      operationId: security_GetCases
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - ediscoveryCases
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - ediscoveryCases
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.casesRoot'
          links:
            ediscoveryCases:
              operationId: security.Cases.ListEdiscoveryCases
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property cases in security
      operationId: security_UpdateCases
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.casesRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property cases for security
      operationId: security_DeleteCases
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/cases/ediscoveryCases:
    get:
      tags:
        - security.casesRoot
      summary: Get ediscoveryCases from security
      operationId: security_cases_ListEdiscoveryCases
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - status
                - status desc
                - closedBy
                - closedBy desc
                - closedDateTime
                - closedDateTime desc
                - externalId
                - externalId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - closedBy
                - closedDateTime
                - externalId
                - custodians
                - noncustodialDataSources
                - operations
                - reviewSets
                - searches
                - settings
                - tags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - custodians
                - noncustodialDataSources
                - operations
                - reviewSets
                - searches
                - settings
                - tags
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.ediscoveryCaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.casesRoot
      summary: Create new navigation property to ediscoveryCases for security
      operationId: security_cases_CreateEdiscoveryCases
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCase'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}':
    get:
      tags:
        - security.casesRoot
      summary: Get ediscoveryCases from security
      operationId: security_cases_GetEdiscoveryCases
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - closedBy
                - closedDateTime
                - externalId
                - custodians
                - noncustodialDataSources
                - operations
                - reviewSets
                - searches
                - settings
                - tags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - custodians
                - noncustodialDataSources
                - operations
                - reviewSets
                - searches
                - settings
                - tags
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCase'
          links:
            custodians:
              operationId: security.cases.EdiscoveryCases.ListCustodians
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            noncustodialDataSources:
              operationId: security.cases.EdiscoveryCases.ListNoncustodialDataSources
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            operations:
              operationId: security.cases.EdiscoveryCases.ListOperations
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            reviewSets:
              operationId: security.cases.EdiscoveryCases.ListReviewSets
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            searches:
              operationId: security.cases.EdiscoveryCases.ListSearches
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            settings:
              operationId: security.cases.EdiscoveryCases.GetSettings
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            tags:
              operationId: security.cases.EdiscoveryCases.ListTags
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            close:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.close
            reopen:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.reopen
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property ediscoveryCases in security
      operationId: security_cases_UpdateEdiscoveryCases
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCase'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property ediscoveryCases for security
      operationId: security_cases_DeleteEdiscoveryCases
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians':
    get:
      tags:
        - security.casesRoot
      summary: Get custodians from security
      description: Returns a list of case ediscoveryCustodian objects for this case.
      operationId: security.cases_ediscoveryCases_ListCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - releasedDateTime
                - releasedDateTime desc
                - status
                - status desc
                - acknowledgedDateTime
                - acknowledgedDateTime desc
                - email
                - email desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - holdStatus
                - lastModifiedDateTime
                - releasedDateTime
                - status
                - acknowledgedDateTime
                - email
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.ediscoveryCustodianCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.casesRoot
      summary: Create new navigation property to custodians for security
      operationId: security.cases_ediscoveryCases_CreateCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCustodian'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCustodian'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}':
    get:
      tags:
        - security.casesRoot
      summary: Get custodians from security
      description: Returns a list of case ediscoveryCustodian objects for this case.
      operationId: security.cases_ediscoveryCases_GetCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - holdStatus
                - lastModifiedDateTime
                - releasedDateTime
                - status
                - acknowledgedDateTime
                - email
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCustodian'
          links:
            lastIndexOperation:
              operationId: security.cases.ediscoveryCases.Custodians.GetLastIndexOperation
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
            siteSources:
              operationId: security.cases.ediscoveryCases.Custodians.ListSiteSources
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
            unifiedGroupSources:
              operationId: security.cases.ediscoveryCases.Custodians.ListUnifiedGroupSources
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
            userSources:
              operationId: security.cases.ediscoveryCases.Custodians.ListUserSources
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
            activate:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.activate
            applyHold:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.applyHold
            release:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.release
            removeHold:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.removeHold
            updateIndex:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.updateIndex
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property custodians in security
      operationId: security.cases_ediscoveryCases_UpdateCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCustodian'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property custodians for security
      operationId: security.cases_ediscoveryCases_DeleteCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/lastIndexOperation':
    get:
      tags:
        - security.casesRoot
      summary: Get lastIndexOperation from security
      description: Operation entity that represents the latest indexing for the custodian.
      operationId: security.cases.ediscoveryCases_custodians_GetLastIndexOperation
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - completedDateTime
                - createdBy
                - createdDateTime
                - percentProgress
                - resultInfo
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryIndexOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.activate':
    post:
      tags:
        - security.Actions
      summary: Invoke action activate
      operationId: security.cases.ediscoveryCases_custodians_activate
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.applyHold':
    post:
      tags:
        - security.Actions
      summary: Invoke action applyHold
      operationId: security.cases.ediscoveryCases_custodians_applyHold
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.release':
    post:
      tags:
        - security.Actions
      summary: Invoke action release
      operationId: security.cases.ediscoveryCases_custodians_release
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.removeHold':
    post:
      tags:
        - security.Actions
      summary: Invoke action removeHold
      operationId: security.cases.ediscoveryCases_custodians_removeHold
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.updateIndex':
    post:
      tags:
        - security.Actions
      summary: Invoke action updateIndex
      operationId: security.cases.ediscoveryCases_custodians_updateIndex
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/siteSources':
    get:
      tags:
        - security.casesRoot
      summary: Get siteSources from security
      description: Data source entity for SharePoint sites associated with the custodian.
      operationId: security.cases.ediscoveryCases_custodians_ListSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - site
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.siteSourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.casesRoot
      summary: Create new navigation property to siteSources for security
      operationId: security.cases.ediscoveryCases_custodians_CreateSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.siteSource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.siteSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/siteSources/{siteSource-id}':
    get:
      tags:
        - security.casesRoot
      summary: Get siteSources from security
      description: Data source entity for SharePoint sites associated with the custodian.
      operationId: security.cases.ediscoveryCases_custodians_GetSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - site
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.siteSource'
          links:
            site:
              operationId: security.cases.ediscoveryCases.custodians.SiteSources.GetSite
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property siteSources in security
      operationId: security.cases.ediscoveryCases_custodians_UpdateSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.siteSource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property siteSources for security
      operationId: security.cases.ediscoveryCases_custodians_DeleteSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/siteSources/{siteSource-id}/site':
    get:
      tags:
        - security.casesRoot
      summary: Get site from security
      description: The SharePoint site associated with the siteSource.
      operationId: security.cases.ediscoveryCases.custodians_siteSources_GetSite
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - displayName
                - error
                - root
                - sharepointIds
                - siteCollection
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - operations
                - permissions
                - sites
                - termStore
                - termStores
                - onenote
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - operations
                - permissions
                - sites
                - termStore
                - termStores
                - onenote
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.site'
          links:
            createdByUser:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetCreatedGraphBPreUser
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            lastModifiedByUser:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetLastModifiedGraphBPreUser
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            analytics:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetAnalytics
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            columns:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListColumns
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            contentTypes:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListContentTypes
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            drive:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetDrive
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            drives:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListDrives
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            externalColumns:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListExternalColumns
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            items:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListItems
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            lists:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListLists
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            operations:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListOperations
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            permissions:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListPermissions
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            sites:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListSites
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            termStore:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetTermStore
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            termStores:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListTermStores
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            onenote:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetOnenote
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/unifiedGroupSources':
    get:
      tags:
        - security.casesRoot
      summary: Get unifiedGroupSources from security
      description: Data source entity for groups associated with the custodian.
      operationId: security.cases.ediscoveryCases_custodians_ListUnifiedGroupSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
                - includedSources
                - includedSources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - includedSources
                - group
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - group
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.unifiedGroupSourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.casesRoot
      summary: Create new navigation property to unifiedGroupSources for security
      operationId: security.cases.ediscoveryCases_custodians_CreateUnifiedGroupSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.unifiedGroupSource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.unifiedGroupSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/unifiedGroupSources/{unifiedGroupSource-id}':
    get:
      tags:
        - security.casesRoot
      summary: Get unifiedGroupSources from security
      description: Data source entity for groups associated with the custodian.
      operationId: security.cases.ediscoveryCases_custodians_GetUnifiedGroupSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: unifiedGroupSource-id
          in: path
          description: 'key: id of unifiedGroupSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedGroupSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - includedSources
                - group
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - group
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.unifiedGroupSource'
          links:
            group:
              operationId: security.cases.ediscoveryCases.custodians.UnifiedGroupSources.GetGroup
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property unifiedGroupSources in security
      operationId: security.cases.ediscoveryCases_custodians_UpdateUnifiedGroupSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: unifiedGroupSource-id
          in: path
          description: 'key: id of unifiedGroupSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedGroupSource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.unifiedGroupSource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property unifiedGroupSources for security
      operationId: security.cases.ediscoveryCases_custodians_DeleteUnifiedGroupSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: unifiedGroupSource-id
          in: path
          description: 'key: id of unifiedGroupSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedGroupSource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/unifiedGroupSources/{unifiedGroupSource-id}/group':
    get:
      tags:
        - security.casesRoot
      summary: Get group from security
      description: Represents a group.
      operationId: security.cases.ediscoveryCases.custodians_unifiedGroupSources_GetGroup
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: unifiedGroupSource-id
          in: path
          description: 'key: id of unifiedGroupSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedGroupSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedLabels
                - assignedLicenses
                - classification
                - createdDateTime
                - description
                - displayName
                - expirationDateTime
                - groupTypes
                - hasMembersWithLicenseErrors
                - isAssignableToRole
                - licenseProcessingState
                - mail
                - mailEnabled
                - mailNickname
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesDomainName
                - onPremisesLastSyncDateTime
                - onPremisesNetBiosName
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - preferredDataLocation
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - securityEnabled
                - securityIdentifier
                - theme
                - visibility
                - allowExternalSenders
                - autoSubscribeNewMembers
                - hideFromAddressLists
                - hideFromOutlookClients
                - isSubscribedByMail
                - unseenCount
                - isArchived
                - appRoleAssignments
                - createdOnBehalfOf
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdOnBehalfOf
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
          links:
            appRoleAssignments:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListAppRoleAssignments
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            createdOnBehalfOf:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.GetCreatedOnBehalfGraphOPre
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            memberOf:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListMemberGraphOPre
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            members:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListMembers
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            membersWithLicenseErrors:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListMembersGraphWPreLicenseErrors
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            owners:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListOwners
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            permissionGrants:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListPermissionGrants
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            settings:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListSettings
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            transitiveMemberOf:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListTransitiveMemberGraphOPre
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            transitiveMembers:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListTransitiveMembers
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            acceptedSenders:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListAcceptedSenders
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            calendar:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.GetCalendar
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            calendarView:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListCalendarView
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            conversations:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListConversations
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            events:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListEvents
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            rejectedSenders:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListRejectedSenders
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            threads:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListThreads
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            drive:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.GetDrive
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            drives:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListDrives
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            sites:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListSites
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            extensions:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListExtensions
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            groupLifecyclePolicies:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListGroupLifecyclePolicies
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            planner:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.GetPlanner
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            onenote:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.GetOnenote
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            photo:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.GetPhoto
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            photos:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.ListPhotos
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            team:
              operationId: security.cases.ediscoveryCases.custodians.unifiedGroupSources.Group.GetTeam
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/userSources':
    get:
      tags:
        - security.casesRoot
      summary: Get userSources from security
      description: Data source entity for a the custodian. This is the container for a custodian's mailbox and OneDrive for Business site.
      operationId: security.cases.ediscoveryCases_custodians_ListUserSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
                - email
                - email desc
                - includedSources
                - includedSources desc
                - siteWebUrl
                - siteWebUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - email
                - includedSources
                - siteWebUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.userSourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.casesRoot
      summary: Create new navigation property to userSources for security
      operationId: security.cases.ediscoveryCases_custodians_CreateUserSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.userSource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.userSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/userSources/{userSource-id}':
    get:
      tags:
        - security.casesRoot
      summary: Get userSources from security
      description: Data source entity for a the custodian. This is the container for a custodian's mailbox and OneDrive for Business site.
      operationId: security.cases.ediscoveryCases_custodians_GetUserSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: userSource-id
          in: path
          description: 'key: id of userSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - email
                - includedSources
                - siteWebUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.userSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property userSources in security
      operationId: security.cases.ediscoveryCases_custodians_UpdateUserSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: userSource-id
          in: path
          description: 'key: id of userSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userSource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.userSource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property userSources for security
      operationId: security.cases.ediscoveryCases_custodians_DeleteUserSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: userSource-id
          in: path
          description: 'key: id of userSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userSource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/microsoft.graph.security.applyHold':
    post:
      tags:
        - security.Actions
      summary: Invoke action applyHold
      operationId: security.cases.ediscoveryCases_custodians_applyHold
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/microsoft.graph.security.removeHold':
    post:
      tags:
        - security.Actions
      summary: Invoke action removeHold
      operationId: security.cases.ediscoveryCases_custodians_removeHold
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/microsoft.graph.security.close':
    post:
      tags:
        - security.Actions
      summary: Invoke action close
      operationId: security.cases_ediscoveryCases_close
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/microsoft.graph.security.reopen':
    post:
      tags:
        - security.Actions
      summary: Invoke action reopen
      operationId: security.cases_ediscoveryCases_reopen
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/noncustodialDataSources':
    get:
      tags:
        - security.casesRoot
      summary: Get noncustodialDataSources from security
      description: Returns a list of case ediscoveryNoncustodialDataSource objects for this case.
      operationId: security.cases_ediscoveryCases_ListNoncustodialDataSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - releasedDateTime
                - releasedDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - holdStatus
                - lastModifiedDateTime
                - releasedDateTime
                - status
                - dataSource
                - lastIndexOperation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - dataSource
                - lastIndexOperation
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.ediscoveryNoncustodialDataSourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.casesRoot
      summary: Create new navigation property to noncustodialDataSources for security
      operationId: security.cases_ediscoveryCases_CreateNoncustodialDataSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.ediscoveryNoncustodialDataSource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryNoncustodialDataSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/noncustodialDataSources/{ediscoveryNoncustodialDataSource-id}':
    get:
      tags:
        - security.casesRoot
      summary: Get noncustodialDataSources from security
      description: Returns a list of case ediscoveryNoncustodialDataSource objects for this case.
[...]
