openapi: 3.0.4
info:
  title: Security
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /security:
    get:
      tags:
        - security.security
      summary: Get security
      operationId: security_GetSecurity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.security
      summary: Update security
      operationId: security_UpdateSecurity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts:
    get:
      tags:
        - security.alert
      summary: List alerts
      description: Retrieve a list of alert objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/alert-list?view=graph-rest-1.0
      operationId: security_ListAlert
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.alertCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create new navigation property to alerts for security
      operationId: security_CreateAlert
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
      x-ms-docs-operation-type: operation
  /security/alerts_v2:
    get:
      tags:
        - security.alert
      summary: List alerts_v2
      description: 'Get a list of alert resources created to track suspicious activities in an organization. This operation lets you filter and sort through alerts to create an informed cyber security response. It exposes a collection of alerts that were flagged in your network, within the time range you specified in your environment retention policy. The most recent alerts are displayed at the top of the list.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-list-alerts_v2?view=graph-rest-1.0
      operationId: security_ListAlerts_v2
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.alertCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create new navigation property to alerts_v2 for security
      operationId: security_CreateAlerts_v2
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.alert'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts_v2/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alert
      description: Get the properties and relationships of an alert object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-alert-get?view=graph-rest-1.0
      operationId: security_GetAlerts_v2
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update alert
      description: Update the properties of an alert object in an organization based on the specified alert id property.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-alert-update?view=graph-rest-1.0
      operationId: security_UpdateAlerts_v2
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.alert'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.alert
      summary: Delete navigation property alerts_v2 for security
      operationId: security_DeleteAlerts_v2
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts_v2/{alert-id}/comments':
    post:
      tags:
        - security.alert
      summary: Create comment for alert
      description: Create a comment for an existing alert based on the specified alert id property.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-alert-post-comments?view=graph-rest-1.0
      operationId: security.alerts_v2_SetComment
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.security.alertComment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.security.alertComment'
        default:
          $ref: '#/components/responses/error'
  '/security/alerts_v2/{alert-id}/comments/$count':
    get:
      tags:
        - security.alert
      summary: Get the number of the resource
      operationId: security.alerts_v2.Comment_GetCount
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/alerts_v2/$count:
    get:
      tags:
        - security.alert
      summary: Get the number of the resource
      operationId: security.alerts_v2_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/security/alerts/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alert
      description: Retrieve the properties and relationships of an alert object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/alert-get?view=graph-rest-1.0
      operationId: security_GetAlert
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update alert
      description: Update an editable alert property within any integrated solution to keep alert status and assignments in sync across solutions. This method updates any solution that has a record of the referenced alert ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/alert-update?view=graph-rest-1.0
      operationId: security_UpdateAlert
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
      x-ms-docs-operation-type: operation
  /security/alerts/$count:
    get:
      tags:
        - security.alert
      summary: Get the number of the resource
      operationId: security.alert_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
  /security/attackSimulation:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get attackSimulation from security
      operationId: security_GetAttackSimulation
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property attackSimulation in security
      operationId: security_UpdateAttackSimulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property attackSimulation for security
      operationId: security_DeleteAttackSimulation
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/endUserNotifications:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get endUserNotification
      description: Read the properties and relationships of an endUserNotification object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/endusernotification-get?view=graph-rest-1.0
      operationId: security.attackSimulation_ListEndUserNotification
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.endUserNotificationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to endUserNotifications for security
      operationId: security.attackSimulation_CreateEndUserNotification
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/endUserNotifications/{endUserNotification-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get endUserNotifications from security
      description: Represents an end user's notification for an attack simulation training.
      operationId: security.attackSimulation_GetEndUserNotification
      parameters:
        - name: endUserNotification-id
          in: path
          description: The unique identifier of endUserNotification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotification
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property endUserNotifications in security
      operationId: security.attackSimulation_UpdateEndUserNotification
      parameters:
        - name: endUserNotification-id
          in: path
          description: The unique identifier of endUserNotification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotification
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property endUserNotifications for security
      operationId: security.attackSimulation_DeleteEndUserNotification
      parameters:
        - name: endUserNotification-id
          in: path
          description: The unique identifier of endUserNotification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotification
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/endUserNotifications/{endUserNotification-id}/details':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get details from security
      operationId: security.attackSimulation.endUserNotification_ListDetail
      parameters:
        - name: endUserNotification-id
          in: path
          description: The unique identifier of endUserNotification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotification
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.endUserNotificationDetailCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to details for security
      operationId: security.attackSimulation.endUserNotification_CreateDetail
      parameters:
        - name: endUserNotification-id
          in: path
          description: The unique identifier of endUserNotification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotification
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/endUserNotifications/{endUserNotification-id}/details/{endUserNotificationDetail-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get details from security
      operationId: security.attackSimulation.endUserNotification_GetDetail
      parameters:
        - name: endUserNotification-id
          in: path
          description: The unique identifier of endUserNotification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotification
        - name: endUserNotificationDetail-id
          in: path
          description: The unique identifier of endUserNotificationDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotificationDetail
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property details in security
      operationId: security.attackSimulation.endUserNotification_UpdateDetail
      parameters:
        - name: endUserNotification-id
          in: path
          description: The unique identifier of endUserNotification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotification
        - name: endUserNotificationDetail-id
          in: path
          description: The unique identifier of endUserNotificationDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotificationDetail
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property details for security
      operationId: security.attackSimulation.endUserNotification_DeleteDetail
      parameters:
        - name: endUserNotification-id
          in: path
          description: The unique identifier of endUserNotification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotification
        - name: endUserNotificationDetail-id
          in: path
          description: The unique identifier of endUserNotificationDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotificationDetail
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/endUserNotifications/{endUserNotification-id}/details/$count':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.endUserNotification.detail_GetCount
      parameters:
        - name: endUserNotification-id
          in: path
          description: The unique identifier of endUserNotification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: endUserNotification
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/endUserNotifications/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.endUserNotification_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/landingPages:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List landingPages
      description: Get a list of the landingPage objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-landingpage?view=graph-rest-1.0
      operationId: security.attackSimulation_ListLandingPage
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.landingPageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to landingPages for security
      operationId: security.attackSimulation_CreateLandingPage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/landingPages/{landingPage-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get landingPage
      description: Get a landingPage associated with an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/landingpage-get?view=graph-rest-1.0
      operationId: security.attackSimulation_GetLandingPage
      parameters:
        - name: landingPage-id
          in: path
          description: The unique identifier of landingPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property landingPages in security
      operationId: security.attackSimulation_UpdateLandingPage
      parameters:
        - name: landingPage-id
          in: path
          description: The unique identifier of landingPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property landingPages for security
      operationId: security.attackSimulation_DeleteLandingPage
      parameters:
        - name: landingPage-id
          in: path
          description: The unique identifier of landingPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/landingPages/{landingPage-id}/details':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get details from security
      description: The detail information for a landing page associated with a simulation during its creation.
      operationId: security.attackSimulation.landingPage_ListDetail
      parameters:
        - name: landingPage-id
          in: path
          description: The unique identifier of landingPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.landingPageDetailCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to details for security
      operationId: security.attackSimulation.landingPage_CreateDetail
      parameters:
        - name: landingPage-id
          in: path
          description: The unique identifier of landingPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/landingPages/{landingPage-id}/details/{landingPageDetail-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get details from security
      description: The detail information for a landing page associated with a simulation during its creation.
      operationId: security.attackSimulation.landingPage_GetDetail
      parameters:
        - name: landingPage-id
          in: path
          description: The unique identifier of landingPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPage
        - name: landingPageDetail-id
          in: path
          description: The unique identifier of landingPageDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPageDetail
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property details in security
      operationId: security.attackSimulation.landingPage_UpdateDetail
      parameters:
        - name: landingPage-id
          in: path
          description: The unique identifier of landingPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPage
        - name: landingPageDetail-id
          in: path
          description: The unique identifier of landingPageDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPageDetail
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property details for security
      operationId: security.attackSimulation.landingPage_DeleteDetail
      parameters:
        - name: landingPage-id
          in: path
          description: The unique identifier of landingPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPage
        - name: landingPageDetail-id
          in: path
          description: The unique identifier of landingPageDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPageDetail
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/landingPages/{landingPage-id}/details/$count':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.landingPage.detail_GetCount
      parameters:
        - name: landingPage-id
          in: path
          description: The unique identifier of landingPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: landingPage
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/landingPages/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.landingPage_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/loginPages:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List loginPages
      description: Get a list of the loginPage objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-loginpage?view=graph-rest-1.0
      operationId: security.attackSimulation_ListLoginPage
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.loginPageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to loginPages for security
      operationId: security.attackSimulation_CreateLoginPage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.loginPage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/loginPages/{loginPage-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get loginPage
      description: Get a loginPage associated with an attack simulation campaign for a tenant. Login pages are shown to users in attack simulations that use credential harvest and link in attachment social engineering techniques.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/loginpage-get?view=graph-rest-1.0
      operationId: security.attackSimulation_GetLoginPage
      parameters:
        - name: loginPage-id
          in: path
          description: The unique identifier of loginPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: loginPage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property loginPages in security
      operationId: security.attackSimulation_UpdateLoginPage
      parameters:
        - name: loginPage-id
          in: path
          description: The unique identifier of loginPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: loginPage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.loginPage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property loginPages for security
      operationId: security.attackSimulation_DeleteLoginPage
      parameters:
        - name: loginPage-id
          in: path
          description: The unique identifier of loginPage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: loginPage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/loginPages/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.loginPage_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/operations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get attackSimulationOperation
      description: Get an attack simulation operation to track a long-running operation request for a tenant.
      operationId: security.attackSimulation_ListOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attackSimulationOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to operations for security
      operationId: security.attackSimulation_CreateOperation
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/operations/{attackSimulationOperation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get attackSimulationOperation
      description: Get an attack simulation operation to track a long-running operation request for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationoperation-get?view=graph-rest-1.0
      operationId: security.attackSimulation_GetOperation
      parameters:
        - name: attackSimulationOperation-id
          in: path
          description: The unique identifier of attackSimulationOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attackSimulationOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property operations in security
      operationId: security.attackSimulation_UpdateOperation
      parameters:
        - name: attackSimulationOperation-id
          in: path
          description: The unique identifier of attackSimulationOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attackSimulationOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property operations for security
      operationId: security.attackSimulation_DeleteOperation
      parameters:
        - name: attackSimulationOperation-id
          in: path
          description: The unique identifier of attackSimulationOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attackSimulationOperation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/operations/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.operation_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/payloads:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List payloads
      description: Get a list of payloads for attack simulation campaigns. This operation expects the mandatory parameter source to filter and query the respective data source.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-payloads?view=graph-rest-1.0
      operationId: security.attackSimulation_ListPayload
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.payloadCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to payloads for security
      operationId: security.attackSimulation_CreatePayload
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.payload'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/payloads/{payload-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get payload
      description: Get an attack simulation campaign payload for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/payload-get?view=graph-rest-1.0
      operationId: security.attackSimulation_GetPayload
      parameters:
        - name: payload-id
          in: path
          description: The unique identifier of payload
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: payload
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property payloads in security
      operationId: security.attackSimulation_UpdatePayload
      parameters:
        - name: payload-id
          in: path
          description: The unique identifier of payload
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: payload
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.payload'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property payloads for security
      operationId: security.attackSimulation_DeletePayload
      parameters:
        - name: payload-id
          in: path
          description: The unique identifier of payload
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: payload
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/payloads/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.payload_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/simulationAutomations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List simulationAutomations
      description: Get a list of attack simulation automations for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-simulationautomations?view=graph-rest-1.0
      operationId: security.attackSimulation_ListSimulationAutomation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.simulationAutomationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to simulationAutomations for security
      operationId: security.attackSimulation_CreateSimulationAutomation
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulationAutomation
      description: Get an attack simulation automation for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulationautomation-get?view=graph-rest-1.0
      operationId: security.attackSimulation_GetSimulationAutomation
      parameters:
        - name: simulationAutomation-id
          in: path
          description: The unique identifier of simulationAutomation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property simulationAutomations in security
      operationId: security.attackSimulation_UpdateSimulationAutomation
      parameters:
        - name: simulationAutomation-id
          in: path
          description: The unique identifier of simulationAutomation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property simulationAutomations for security
      operationId: security.attackSimulation_DeleteSimulationAutomation
      parameters:
        - name: simulationAutomation-id
          in: path
          description: The unique identifier of simulationAutomation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs':
    get:
      tags:
        - security.attackSimulationRoot
      summary: List runs
      description: Get a list of the attack simulation automation runs for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulationautomation-list-runs?view=graph-rest-1.0
      operationId: security.attackSimulation.simulationAutomation_ListRun
      parameters:
        - name: simulationAutomation-id
          in: path
          description: The unique identifier of simulationAutomation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.simulationAutomationRunCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to runs for security
      operationId: security.attackSimulation.simulationAutomation_CreateRun
      parameters:
        - name: simulationAutomation-id
          in: path
          description: The unique identifier of simulationAutomation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs/{simulationAutomationRun-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get runs from security
      description: A collection of simulation automation runs.
      operationId: security.attackSimulation.simulationAutomation_GetRun
      parameters:
        - name: simulationAutomation-id
          in: path
          description: The unique identifier of simulationAutomation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: simulationAutomationRun-id
          in: path
          description: The unique identifier of simulationAutomationRun
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomationRun
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property runs in security
      operationId: security.attackSimulation.simulationAutomation_UpdateRun
      parameters:
        - name: simulationAutomation-id
          in: path
          description: The unique identifier of simulationAutomation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: simulationAutomationRun-id
          in: path
          description: The unique identifier of simulationAutomationRun
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomationRun
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property runs for security
      operationId: security.attackSimulation.simulationAutomation_DeleteRun
      parameters:
        - name: simulationAutomation-id
          in: path
          description: The unique identifier of simulationAutomation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: simulationAutomationRun-id
          in: path
          description: The unique identifier of simulationAutomationRun
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomationRun
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs/$count':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.simulationAutomation.run_GetCount
      parameters:
        - name: simulationAutomation-id
          in: path
          description: The unique identifier of simulationAutomation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/simulationAutomations/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.simulationAutomation_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/simulations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List simulations
      description: Get a list of attack simulation campaigns for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-simulations?view=graph-rest-1.0
      operationId: security.attackSimulation_ListSimulation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.simulationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create simulation
      description: Create an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-post-simulation?view=graph-rest-1.0
      operationId: security.attackSimulation_CreateSimulation
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulation
      description: Get an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulation-get?view=graph-rest-1.0
      operationId: security.attackSimulation_GetSimulation
      parameters:
        - name: simulation-id
          in: path
          description: The unique identifier of simulation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update simulation
      description: Update an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulation-update?view=graph-rest-1.0
      operationId: security.attackSimulation_UpdateSimulation
      parameters:
        - name: simulation-id
          in: path
          description: The unique identifier of simulation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete simulation
      description: Delete an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulation-delete?view=graph-rest-1.0
      operationId: security.attackSimulation_DeleteSimulation
      parameters:
        - name: simulation-id
          in: path
          description: The unique identifier of simulation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}/landingPage':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get landingPage from security
      description: The landing page associated with a simulation during its creation.
      operationId: security.attackSimulation.simulation_GetLandingPage
      parameters:
        - name: simulation-id
          in: path
          description: The unique identifier of simulation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}/loginPage':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get loginPage from security
      description: The login page associated with a simulation during its creation.
      operationId: security.attackSimulation.simulation_GetLoginPage
      parameters:
        - name: simulation-id
          in: path
          description: The unique identifier of simulation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}/payload':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get payload from security
      description: The payload associated with a simulation during its creation.
      operationId: security.attackSimulation.simulation_GetPayload
      parameters:
        - name: simulation-id
          in: path
          description: The unique identifier of simulation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.simulation_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /security/attackSimulation/trainings:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List trainings
      description: Get a list of the training objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-trainings?view=graph-rest-1.0
      operationId: security.attackSimulation_ListTraining
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.trainingCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to trainings for security
      operationId: security.attackSimulation_CreateTraining
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.training'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.training'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/trainings/{training-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get training
      description: Get an attack simulation training for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/training-get?view=graph-rest-1.0
      operationId: security.attackSimulation_GetTraining
      parameters:
        - name: training-id
          in: path
          description: The unique identifier of training
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: training
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.training'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property trainings in security
      operationId: security.attackSimulation_UpdateTraining
      parameters:
        - name: training-id
          in: path
          description: The unique identifier of training
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: training
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.training'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.training'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property trainings for security
      operationId: security.attackSimulation_DeleteTraining
      parameters:
        - name: training-id
          in: path
          description: The unique identifier of training
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: training
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/trainings/{training-id}/languageDetails':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get trainingLanguageDetail
      description: Get the language details about an attack simulation training for a tenant.
[...]
