openapi: 3.0.1
info:
  title: Sites.OneNote
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/sites/{site-id}/onenote':
    get:
      tags:
        - sites.onenote
      summary: Get onenote from sites
      operationId: sites_GetOnenote
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - notebooks
                - sections
                - sectionGroups
                - pages
                - resources
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - notebooks
                - sections
                - sectionGroups
                - pages
                - resources
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenote'
          links:
            notebooks:
              operationId: site.onenote.GetNotebooks
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
            sections:
              operationId: site.onenote.GetSections
              parameters:
                site-id: $request.path.site-id
                onenoteSection-id: $response.body#/id
            sectionGroups:
              operationId: site.onenote.GetSectionGroups
              parameters:
                site-id: $request.path.site-id
                sectionGroup-id: $response.body#/id
            pages:
              operationId: site.onenote.GetPages
              parameters:
                site-id: $request.path.site-id
                onenotePage-id: $response.body#/id
            resources:
              operationId: site.onenote.GetResources
              parameters:
                site-id: $request.path.site-id
                onenoteResource-id: $response.body#/id
            operations:
              operationId: site.onenote.GetOperations
              parameters:
                site-id: $request.path.site-id
                onenoteOperation-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property onenote in sites
      operationId: sites_UpdateOnenote
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenote'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks':
    get:
      tags:
        - sites.onenote
      summary: Get notebooks from sites
      operationId: sites.onenote_ListNotebooks
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - isDefault
                - isDefault desc
                - userRole
                - userRole desc
                - isShared
                - isShared desc
                - sectionsUrl
                - sectionsUrl desc
                - sectionGroupsUrl
                - sectionGroupsUrl desc
                - links
                - links desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of notebook
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to notebooks for sites
      operationId: sites.onenote_CreateNotebooks
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}':
    get:
      tags:
        - sites.onenote
      summary: Get notebooks from sites
      operationId: sites.onenote_GetNotebooks
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sections:
              operationId: onenote.notebooks.GetSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                onenoteSection-id: $response.body#/id
            sectionGroups:
              operationId: onenote.notebooks.GetSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property notebooks in sites
      operationId: sites.onenote_UpdateNotebooks
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups':
    get:
      tags:
        - sites.onenote
      summary: Get sectionGroups from sites
      operationId: sites.onenote.notebooks_ListSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - sectionsUrl
                - sectionsUrl desc
                - sectionGroupsUrl
                - sectionGroupsUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of sectionGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to sectionGroups for sites
      operationId: sites.onenote.notebooks_CreateSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}':
    get:
      tags:
        - sites.onenote
      summary: Get sectionGroups from sites
      operationId: sites.onenote.notebooks_GetSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: notebook.sectionGroups.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
                sectionGroup-id: $request.path.sectionGroup-id
            parentSectionGroup:
              operationId: notebook.sectionGroups.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
            sections:
              operationId: notebook.sectionGroups.GetSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $response.body#/id
            sectionGroups:
              operationId: notebook.sectionGroups.GetSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property sectionGroups in sites
      operationId: sites.onenote.notebooks_UpdateSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentNotebook':
    get:
      tags:
        - sites.onenote
      summary: Get parentNotebook from sites
      operationId: sites.onenote.notebooks.sectionGroups_GetParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sections:
              operationId: sectionGroup.parentNotebook.GetSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $response.body#/id
            sectionGroups:
              operationId: sectionGroup.parentNotebook.GetSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentNotebook in sites
      operationId: sites.onenote.notebooks.sectionGroups_UpdateParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentSectionGroup':
    get:
      tags:
        - sites.onenote
      summary: Get parentSectionGroup from sites
      operationId: sites.onenote.notebooks.sectionGroups_GetParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: sectionGroup.parentSectionGroup.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
                sectionGroup-id: $request.path.sectionGroup-id
            parentSectionGroup:
              operationId: sectionGroup.parentSectionGroup.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
            sections:
              operationId: sectionGroup.parentSectionGroup.GetSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $response.body#/id
            sectionGroups:
              operationId: sectionGroup.parentSectionGroup.GetSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentSectionGroup in sites
      operationId: sites.onenote.notebooks.sectionGroups_UpdateParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups':
    get:
      tags:
        - sites.onenote
      summary: Get sectionGroups from sites
      operationId: sites.onenote.notebooks.sectionGroups_ListSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - sectionsUrl
                - sectionsUrl desc
                - sectionGroupsUrl
                - sectionGroupsUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of sectionGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to sectionGroups for sites
      operationId: sites.onenote.notebooks.sectionGroups_CreateSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups/{sectionGroup-id1}':
    get:
      tags:
        - sites.onenote
      summary: Get sectionGroups from sites
      operationId: sites.onenote.notebooks.sectionGroups_GetSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: sectionGroup-id1
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: sectionGroup.sectionGroups.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
            parentSectionGroup:
              operationId: sectionGroup.sectionGroups.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
                sectionGroup-id1: $request.path.sectionGroup-id1
            sections:
              operationId: sectionGroup.sectionGroups.GetSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
                onenoteSection-id: $response.body#/id
            sectionGroups:
              operationId: sectionGroup.sectionGroups.GetSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
                sectionGroup-id1: $request.path.sectionGroup-id1
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property sectionGroups in sites
      operationId: sites.onenote.notebooks.sectionGroups_UpdateSectionGroups
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: sectionGroup-id1
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections':
    get:
      tags:
        - sites.onenote
      summary: Get sections from sites
      operationId: sites.onenote.notebooks.sectionGroups_ListSections
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - isDefault
                - isDefault desc
                - links
                - links desc
                - pagesUrl
                - pagesUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onenoteSection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to sections for sites
      operationId: sites.onenote.notebooks.sectionGroups_CreateSections
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}':
    get:
      tags:
        - sites.onenote
      summary: Get sections from sites
      operationId: sites.onenote.notebooks.sectionGroups_GetSections
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
          links:
            parentNotebook:
              operationId: sectionGroup.sections.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            parentSectionGroup:
              operationId: sectionGroup.sections.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
                onenoteSection-id: $request.path.onenoteSection-id
            pages:
              operationId: sectionGroup.sections.GetPages
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property sections in sites
      operationId: sites.onenote.notebooks.sectionGroups_UpdateSections
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages':
    get:
      tags:
        - sites.onenote
      summary: Get pages from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_ListPages
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - title
                - title desc
                - createdByAppId
                - createdByAppId desc
                - links
                - links desc
                - contentUrl
                - contentUrl desc
                - content
                - content desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - level
                - level desc
                - order
                - order desc
                - userTags
                - userTags desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - title
                - createdByAppId
                - links
                - contentUrl
                - content
                - lastModifiedDateTime
                - level
                - order
                - userTags
                - parentSection
                - parentNotebook
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentSection
                - parentNotebook
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onenotePage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to pages for sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_CreatePages
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}':
    get:
      tags:
        - sites.onenote
      summary: Get pages from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_GetPages
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: onenotePage-id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - title
                - createdByAppId
                - links
                - contentUrl
                - content
                - lastModifiedDateTime
                - level
                - order
                - userTags
                - parentSection
                - parentNotebook
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentSection
                - parentNotebook
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
          links:
            parentSection:
              operationId: onenoteSection.pages.GetParentSection
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $response.body#/id
                onenotePage-id: $request.path.onenotePage-id
            parentNotebook:
              operationId: onenoteSection.pages.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property pages in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_UpdatePages
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: onenotePage-id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook':
    get:
      tags:
        - sites.onenote
      summary: Get parentNotebook from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_GetParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: onenotePage-id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sections:
              operationId: onenotePage.parentNotebook.GetSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $response.body#/id
                onenotePage-id: $request.path.onenotePage-id
            sectionGroups:
              operationId: onenotePage.parentNotebook.GetSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentNotebook in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_UpdateParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: onenotePage-id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection':
    get:
      tags:
        - sites.onenote
      summary: Get parentSection from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_GetParentSection
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: onenotePage-id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
          links:
            parentNotebook:
              operationId: onenotePage.parentSection.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            parentSectionGroup:
              operationId: onenotePage.parentSection.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            pages:
              operationId: onenotePage.parentSection.GetPages
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentSection in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages_UpdateParentSection
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: onenotePage-id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentNotebook':
    get:
      tags:
        - sites.onenote
      summary: Get parentNotebook from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_GetParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - userRole
                - isShared
                - sectionsUrl
                - sectionGroupsUrl
                - links
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sections:
              operationId: onenoteSection.parentNotebook.GetSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $response.body#/id
            sectionGroups:
              operationId: onenoteSection.parentNotebook.GetSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
                onenoteSection-id: $request.path.onenoteSection-id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentNotebook in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_UpdateParentNotebook
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentSectionGroup':
    get:
      tags:
        - sites.onenote
      summary: Get parentSectionGroup from sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_GetParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionsUrl
                - sectionGroupsUrl
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sections
                - sectionGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: onenoteSection.parentSectionGroup.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            parentSectionGroup:
              operationId: onenoteSection.parentSectionGroup.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
                onenoteSection-id: $request.path.onenoteSection-id
            sections:
              operationId: onenoteSection.parentSectionGroup.GetSections
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $response.body#/id
            sectionGroups:
              operationId: onenoteSection.parentSectionGroup.GetSectionGroups
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $response.body#/id
                onenoteSection-id: $request.path.onenoteSection-id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property parentSectionGroup in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections_UpdateParentSectionGroup
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: sectionGroup-id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sections':
    get:
      tags:
        - sites.onenote
      summary: Get sections from sites
      operationId: sites.onenote.notebooks_ListSections
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - createdBy
                - createdBy desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - isDefault
                - isDefault desc
                - links
                - links desc
                - pagesUrl
                - pagesUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onenoteSection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to sections for sites
      operationId: sites.onenote.notebooks_CreateSections
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}':
    get:
      tags:
        - sites.onenote
      summary: Get sections from sites
      operationId: sites.onenote.notebooks_GetSections
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - displayName
                - createdBy
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - pages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
          links:
            parentNotebook:
              operationId: notebook.sections.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
                onenoteSection-id: $request.path.onenoteSection-id
            parentSectionGroup:
              operationId: notebook.sections.GetParentSectionGroup
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                onenoteSection-id: $request.path.onenoteSection-id
                sectionGroup-id: $response.body#/id
            pages:
              operationId: notebook.sections.GetPages
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property sections in sites
      operationId: sites.onenote.notebooks_UpdateSections
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages':
    get:
      tags:
        - sites.onenote
      summary: Get pages from sites
      operationId: sites.onenote.notebooks.sections_ListPages
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - title
                - title desc
                - createdByAppId
                - createdByAppId desc
                - links
                - links desc
                - contentUrl
                - contentUrl desc
                - content
                - content desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - level
                - level desc
                - order
                - order desc
                - userTags
                - userTags desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - title
                - createdByAppId
                - links
                - contentUrl
                - content
                - lastModifiedDateTime
                - level
                - order
                - userTags
                - parentSection
                - parentNotebook
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentSection
                - parentNotebook
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onenotePage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - sites.onenote
      summary: Create new navigation property to pages for sites
      operationId: sites.onenote.notebooks.sections_CreatePages
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}':
    get:
      tags:
        - sites.onenote
      summary: Get pages from sites
      operationId: sites.onenote.notebooks.sections_GetPages
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: onenotePage-id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - title
                - createdByAppId
                - links
                - contentUrl
                - content
                - lastModifiedDateTime
                - level
                - order
                - userTags
                - parentSection
                - parentNotebook
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentSection
                - parentNotebook
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
          links:
            parentSection:
              operationId: onenoteSection.pages.GetParentSection
              parameters:
                site-id: $request.path.site-id
                notebook-id: $request.path.notebook-id
                onenoteSection-id: $response.body#/id
                onenotePage-id: $request.path.onenotePage-id
            parentNotebook:
              operationId: onenoteSection.pages.GetParentNotebook
              parameters:
                site-id: $request.path.site-id
                notebook-id: $response.body#/id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - sites.onenote
      summary: Update the navigation property pages in sites
      operationId: sites.onenote.notebooks.sections_UpdatePages
      parameters:
        - name: site-id
          in: path
          description: 'key: site-id of site'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: site
        - name: notebook-id
          in: path
          description: 'key: notebook-id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: onenoteSection-id
          in: path
          description: 'key: onenoteSection-id of onenoteSection'
          required: true
          schema:
            type: string
[...]
