openapi: 3.0.1
info:
  title: Teams.Team
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/groups/{group-id}/team':
    get:
      tags:
        - groups.team
      summary: Get team from groups
      operationId: groups_GetTeam
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - webUrl
                - memberSettings
                - guestSettings
                - messagingSettings
                - funSettings
                - isArchived
                - schedule
                - channels
                - primaryChannel
                - installedApps
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schedule
                - channels
                - primaryChannel
                - installedApps
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.team'
          links:
            schedule:
              operationId: group.team.GetSchedule
              parameters:
                group-id: $request.path.group-id
                schedule-id: $response.body#/id
            channels:
              operationId: group.team.GetChannels
              parameters:
                group-id: $request.path.group-id
                channel-id: $response.body#/id
            primaryChannel:
              operationId: group.team.GetPrimaryChannel
              parameters:
                group-id: $request.path.group-id
                channel-id: $response.body#/id
            installedApps:
              operationId: group.team.GetInstalledApps
              parameters:
                group-id: $request.path.group-id
                teamsAppInstallation-id: $response.body#/id
            operations:
              operationId: group.team.GetOperations
              parameters:
                group-id: $request.path.group-id
                teamsAsyncOperation-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - groups.team
      summary: Update the navigation property team in groups
      operationId: groups_UpdateTeam
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.team'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /teams:
    get:
      tags:
        - teams.team
      summary: Get entities from teams
      operationId: teams.team_ListTeam
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - webUrl
                - webUrl desc
                - memberSettings
                - memberSettings desc
                - guestSettings
                - guestSettings desc
                - messagingSettings
                - messagingSettings desc
                - funSettings
                - funSettings desc
                - isArchived
                - isArchived desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - webUrl
                - memberSettings
                - guestSettings
                - messagingSettings
                - funSettings
                - isArchived
                - schedule
                - channels
                - primaryChannel
                - installedApps
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schedule
                - channels
                - primaryChannel
                - installedApps
                - operations
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of team
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.team'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.team
      summary: Add new entity to teams
      operationId: teams.team_CreateTeam
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.team'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.team'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}':
    get:
      tags:
        - teams.team
      summary: Get entity from teams by key
      operationId: teams.team_GetTeam
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - webUrl
                - memberSettings
                - guestSettings
                - messagingSettings
                - funSettings
                - isArchived
                - schedule
                - channels
                - primaryChannel
                - installedApps
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schedule
                - channels
                - primaryChannel
                - installedApps
                - operations
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.team'
          links:
            schedule:
              operationId: teams.GetSchedule
              parameters:
                team-id: $request.path.team-id
                schedule-id: $response.body#/id
            channels:
              operationId: teams.GetChannels
              parameters:
                team-id: $request.path.team-id
                channel-id: $response.body#/id
            primaryChannel:
              operationId: teams.GetPrimaryChannel
              parameters:
                team-id: $request.path.team-id
                channel-id: $response.body#/id
            installedApps:
              operationId: teams.GetInstalledApps
              parameters:
                team-id: $request.path.team-id
                teamsAppInstallation-id: $response.body#/id
            operations:
              operationId: teams.GetOperations
              parameters:
                team-id: $request.path.team-id
                teamsAsyncOperation-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - teams.team
      summary: Update entity in teams
      operationId: teams.team_UpdateTeam
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.team'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - teams.team
      summary: Delete entity from teams
      operationId: teams.team_DeleteTeam
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/channels':
    get:
      tags:
        - teams.channel
      summary: Get channels from teams
      operationId: teams_ListChannels
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - email
                - email desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - email
                - webUrl
                - tabs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tabs
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of channel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.channel'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.channel
      summary: Create new navigation property to channels for teams
      operationId: teams_CreateChannels
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.channel'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.channel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/channels/{channel-id}':
    get:
      tags:
        - teams.channel
      summary: Get channels from teams
      operationId: teams_GetChannels
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - email
                - webUrl
                - tabs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tabs
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.channel'
          links:
            tabs:
              operationId: team.channels.GetTabs
              parameters:
                team-id: $request.path.team-id
                channel-id: $request.path.channel-id
                teamsTab-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.channel
      summary: Update the navigation property channels in teams
      operationId: teams_UpdateChannels
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.channel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/channels/{channel-id}/tabs':
    get:
      tags:
        - teams.channel
      summary: Get tabs from teams
      operationId: teams.channels_ListTabs
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - webUrl
                - webUrl desc
                - configuration
                - configuration desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - webUrl
                - configuration
                - teamsApp
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsTab
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsTab'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.channel
      summary: Create new navigation property to tabs for teams
      operationId: teams.channels_CreateTabs
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsTab'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsTab'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/channels/{channel-id}/tabs/{teamsTab-id}':
    get:
      tags:
        - teams.channel
      summary: Get tabs from teams
      operationId: teams.channels_GetTabs
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: teamsTab-id
          in: path
          description: 'key: teamsTab-id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - webUrl
                - configuration
                - teamsApp
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsTab'
          links:
            teamsApp:
              operationId: channel.tabs.GetTeamsApp
              parameters:
                team-id: $request.path.team-id
                channel-id: $request.path.channel-id
                teamsTab-id: $request.path.teamsTab-id
                teamsApp-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.channel
      summary: Update the navigation property tabs in teams
      operationId: teams.channels_UpdateTabs
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: teamsTab-id
          in: path
          description: 'key: teamsTab-id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsTab'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/channels/{channel-id}/tabs/{teamsTab-id}/teamsApp':
    get:
      tags:
        - teams.channel
      summary: Get teamsApp from teams
      operationId: teams.channels.tabs_GetTeamsApp
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: teamsTab-id
          in: path
          description: 'key: teamsTab-id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - externalId
                - displayName
                - distributionMethod
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
          links:
            appDefinitions:
              operationId: teamsTab.teamsApp.GetAppDefinitions
              parameters:
                team-id: $request.path.team-id
                channel-id: $request.path.channel-id
                teamsTab-id: $request.path.teamsTab-id
                teamsAppDefinition-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
  '/teams/{team-id}/installedApps':
    get:
      tags:
        - teams.teamsAppInstallation
      summary: Get installedApps from teams
      operationId: teams_ListInstalledApps
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsAppInstallation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.teamsAppInstallation
      summary: Create new navigation property to installedApps for teams
      operationId: teams_CreateInstalledApps
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/installedApps/{teamsAppInstallation-id}':
    get:
      tags:
        - teams.teamsAppInstallation
      summary: Get installedApps from teams
      operationId: teams_GetInstalledApps
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsAppInstallation-id
          in: path
          description: 'key: teamsAppInstallation-id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
          links:
            teamsApp:
              operationId: team.installedApps.GetTeamsApp
              parameters:
                team-id: $request.path.team-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
                teamsApp-id: $response.body#/id
            teamsAppDefinition:
              operationId: team.installedApps.GetTeamsAppDefinition
              parameters:
                team-id: $request.path.team-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
                teamsAppDefinition-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.teamsAppInstallation
      summary: Update the navigation property installedApps in teams
      operationId: teams_UpdateInstalledApps
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsAppInstallation-id
          in: path
          description: 'key: teamsAppInstallation-id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/installedApps/{teamsAppInstallation-id}/microsoft.graph.upgrade':
    post:
      tags:
        - teams.Actions
      summary: Invoke action upgrade
      operationId: teams.installedApps_upgrade
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsAppInstallation-id
          in: path
          description: 'key: teamsAppInstallation-id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/teams/{team-id}/installedApps/{teamsAppInstallation-id}/teamsApp':
    get:
      tags:
        - teams.teamsAppInstallation
      summary: Get teamsApp from teams
      operationId: teams.installedApps_GetTeamsApp
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsAppInstallation-id
          in: path
          description: 'key: teamsAppInstallation-id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - externalId
                - displayName
                - distributionMethod
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
          links:
            appDefinitions:
              operationId: teamsAppInstallation.teamsApp.GetAppDefinitions
              parameters:
                team-id: $request.path.team-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
                teamsAppDefinition-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
  '/teams/{team-id}/installedApps/{teamsAppInstallation-id}/teamsAppDefinition':
    get:
      tags:
        - teams.teamsAppInstallation
      summary: Get teamsAppDefinition from teams
      operationId: teams.installedApps_GetTeamsAppDefinition
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsAppInstallation-id
          in: path
          description: 'key: teamsAppInstallation-id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsAppId
                - displayName
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        default:
          $ref: '#/components/responses/error'
  '/teams/{team-id}/microsoft.graph.archive':
    post:
      tags:
        - teams.Actions
      summary: Invoke action archive
      operationId: teams_archive
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                shouldSetSpoSiteReadOnlyForMembers:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/teams/{team-id}/microsoft.graph.clone':
    post:
      tags:
        - teams.Actions
      summary: Invoke action clone
      operationId: teams_clone
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                classification:
                  type: string
                  nullable: true
                visibility:
                  $ref: '#/components/schemas/microsoft.graph.teamVisibilityType'
                partsToClone:
                  $ref: '#/components/schemas/microsoft.graph.clonableTeamParts'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/teams/{team-id}/microsoft.graph.unarchive':
    post:
      tags:
        - teams.Actions
      summary: Invoke action unarchive
      operationId: teams_unarchive
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/teams/{team-id}/operations':
    get:
      tags:
        - teams.teamsAsyncOperation
      summary: Get operations from teams
      operationId: teams_ListOperations
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - operationType
                - operationType desc
                - createdDateTime
                - createdDateTime desc
                - status
                - status desc
                - lastActionDateTime
                - lastActionDateTime desc
                - attemptsCount
                - attemptsCount desc
                - targetResourceId
                - targetResourceId desc
                - targetResourceLocation
                - targetResourceLocation desc
                - error
                - error desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - operationType
                - createdDateTime
                - status
                - lastActionDateTime
                - attemptsCount
                - targetResourceId
                - targetResourceLocation
                - error
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsAsyncOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsAsyncOperation'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.teamsAsyncOperation
      summary: Create new navigation property to operations for teams
      operationId: teams_CreateOperations
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAsyncOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAsyncOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/operations/{teamsAsyncOperation-id}':
    get:
      tags:
        - teams.teamsAsyncOperation
      summary: Get operations from teams
      operationId: teams_GetOperations
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsAsyncOperation-id
          in: path
          description: 'key: teamsAsyncOperation-id of teamsAsyncOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAsyncOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - operationType
                - createdDateTime
                - status
                - lastActionDateTime
                - attemptsCount
                - targetResourceId
                - targetResourceLocation
                - error
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAsyncOperation'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.teamsAsyncOperation
      summary: Update the navigation property operations in teams
      operationId: teams_UpdateOperations
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsAsyncOperation-id
          in: path
          description: 'key: teamsAsyncOperation-id of teamsAsyncOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAsyncOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAsyncOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/primaryChannel':
    get:
      tags:
        - teams.channel
      summary: Get primaryChannel from teams
      operationId: teams_GetPrimaryChannel
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - email
                - webUrl
                - tabs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tabs
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.channel'
          links:
            tabs:
              operationId: team.primaryChannel.GetTabs
              parameters:
                team-id: $request.path.team-id
                teamsTab-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.channel
      summary: Update the navigation property primaryChannel in teams
      operationId: teams_UpdatePrimaryChannel
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.channel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/primaryChannel/tabs':
    get:
      tags:
        - teams.channel
      summary: Get tabs from teams
      operationId: teams.primaryChannel_ListTabs
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - webUrl
                - webUrl desc
                - configuration
                - configuration desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - webUrl
                - configuration
                - teamsApp
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsTab
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsTab'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.channel
      summary: Create new navigation property to tabs for teams
      operationId: teams.primaryChannel_CreateTabs
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsTab'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsTab'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/primaryChannel/tabs/{teamsTab-id}':
    get:
      tags:
        - teams.channel
      summary: Get tabs from teams
      operationId: teams.primaryChannel_GetTabs
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsTab-id
          in: path
          description: 'key: teamsTab-id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - webUrl
                - configuration
                - teamsApp
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsTab'
          links:
            teamsApp:
              operationId: channel.tabs.GetTeamsApp
              parameters:
                team-id: $request.path.team-id
                teamsTab-id: $request.path.teamsTab-id
                teamsApp-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.channel
      summary: Update the navigation property tabs in teams
      operationId: teams.primaryChannel_UpdateTabs
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsTab-id
          in: path
          description: 'key: teamsTab-id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsTab'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/primaryChannel/tabs/{teamsTab-id}/teamsApp':
    get:
      tags:
        - teams.channel
      summary: Get teamsApp from teams
      operationId: teams.primaryChannel.tabs_GetTeamsApp
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: teamsTab-id
          in: path
          description: 'key: teamsTab-id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - externalId
                - displayName
                - distributionMethod
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
          links:
            appDefinitions:
              operationId: teamsTab.teamsApp.GetAppDefinitions
              parameters:
                team-id: $request.path.team-id
                teamsTab-id: $request.path.teamsTab-id
                teamsAppDefinition-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
  '/teams/{team-id}/schedule':
    get:
      tags:
        - teams.schedule
      summary: Get schedule from teams
      operationId: teams_GetSchedule
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - enabled
                - timeZone
                - provisionStatus
                - provisionStatusCode
                - workforceIntegrationIds
                - timeClockEnabled
                - openShiftsEnabled
                - swapShiftsRequestsEnabled
                - offerShiftRequestsEnabled
                - timeOffRequestsEnabled
                - shifts
                - openShifts
                - timesOff
                - timeOffReasons
                - schedulingGroups
                - swapShiftsChangeRequests
                - openShiftChangeRequests
                - offerShiftRequests
                - timeOffRequests
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - shifts
                - openShifts
                - timesOff
                - timeOffReasons
                - schedulingGroups
                - swapShiftsChangeRequests
                - openShiftChangeRequests
                - offerShiftRequests
                - timeOffRequests
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.schedule'
          links:
            shifts:
              operationId: team.schedule.GetShifts
              parameters:
                team-id: $request.path.team-id
                shift-id: $response.body#/id
            openShifts:
              operationId: team.schedule.GetOpenShifts
              parameters:
                team-id: $request.path.team-id
                openShift-id: $response.body#/id
            timesOff:
              operationId: team.schedule.GetTimesOff
              parameters:
                team-id: $request.path.team-id
                timeOff-id: $response.body#/id
            timeOffReasons:
              operationId: team.schedule.GetTimeOffReasons
              parameters:
                team-id: $request.path.team-id
                timeOffReason-id: $response.body#/id
            schedulingGroups:
              operationId: team.schedule.GetSchedulingGroups
              parameters:
                team-id: $request.path.team-id
                schedulingGroup-id: $response.body#/id
            swapShiftsChangeRequests:
              operationId: team.schedule.GetSwapShiftsChangeRequests
              parameters:
                team-id: $request.path.team-id
                swapShiftsChangeRequest-id: $response.body#/id
            openShiftChangeRequests:
              operationId: team.schedule.GetOpenShiftChangeRequests
              parameters:
                team-id: $request.path.team-id
                openShiftChangeRequest-id: $response.body#/id
            offerShiftRequests:
              operationId: team.schedule.GetOfferShiftRequests
              parameters:
                team-id: $request.path.team-id
                offerShiftRequest-id: $response.body#/id
            timeOffRequests:
              operationId: team.schedule.GetTimeOffRequests
              parameters:
                team-id: $request.path.team-id
                timeOffRequest-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.schedule
      summary: Update the navigation property schedule in teams
      operationId: teams_UpdateSchedule
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.schedule'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/microsoft.graph.share':
    post:
      tags:
        - teams.Actions
      summary: Invoke action share
      operationId: teams.schedule_share
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                notifyTeam:
                  type: boolean
                  default: false
                  nullable: true
                startDateTime:
                  pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                  type: string
                  format: date-time
                  nullable: true
                endDateTime:
                  pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                  type: string
                  format: date-time
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/teams/{team-id}/schedule/offerShiftRequests':
    get:
      tags:
        - teams.schedule
      summary: Get offerShiftRequests from teams
      operationId: teams.schedule_ListOfferShiftRequests
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - assignedTo
                - assignedTo desc
                - state
                - state desc
                - senderMessage
                - senderMessage desc
                - senderDateTime
                - senderDateTime desc
                - managerActionMessage
                - managerActionMessage desc
                - managerActionDateTime
                - managerActionDateTime desc
                - senderUserId
                - senderUserId desc
                - managerUserId
                - managerUserId desc
                - recipientActionMessage
                - recipientActionMessage desc
                - recipientActionDateTime
                - recipientActionDateTime desc
                - senderShiftId
                - senderShiftId desc
                - recipientUserId
                - recipientUserId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - assignedTo
                - state
                - senderMessage
                - senderDateTime
                - managerActionMessage
                - managerActionDateTime
                - senderUserId
                - managerUserId
                - recipientActionMessage
                - recipientActionDateTime
                - senderShiftId
                - recipientUserId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of offerShiftRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.offerShiftRequest'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.schedule
      summary: Create new navigation property to offerShiftRequests for teams
      operationId: teams.schedule_CreateOfferShiftRequests
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.offerShiftRequest'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.offerShiftRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/offerShiftRequests/{offerShiftRequest-id}':
    get:
      tags:
        - teams.schedule
      summary: Get offerShiftRequests from teams
      operationId: teams.schedule_GetOfferShiftRequests
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: offerShiftRequest-id
          in: path
          description: 'key: offerShiftRequest-id of offerShiftRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: offerShiftRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - assignedTo
                - state
                - senderMessage
                - senderDateTime
                - managerActionMessage
                - managerActionDateTime
                - senderUserId
                - managerUserId
                - recipientActionMessage
                - recipientActionDateTime
                - senderShiftId
                - recipientUserId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.offerShiftRequest'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.schedule
      summary: Update the navigation property offerShiftRequests in teams
      operationId: teams.schedule_UpdateOfferShiftRequests
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: offerShiftRequest-id
          in: path
          description: 'key: offerShiftRequest-id of offerShiftRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: offerShiftRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.offerShiftRequest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/openShiftChangeRequests':
    get:
      tags:
        - teams.schedule
      summary: Get openShiftChangeRequests from teams
      operationId: teams.schedule_ListOpenShiftChangeRequests
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - assignedTo
                - assignedTo desc
                - state
                - state desc
                - senderMessage
                - senderMessage desc
                - senderDateTime
                - senderDateTime desc
                - managerActionMessage
                - managerActionMessage desc
                - managerActionDateTime
                - managerActionDateTime desc
                - senderUserId
                - senderUserId desc
                - managerUserId
                - managerUserId desc
                - openShiftId
                - openShiftId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - assignedTo
                - state
                - senderMessage
                - senderDateTime
                - managerActionMessage
                - managerActionDateTime
                - senderUserId
                - managerUserId
                - openShiftId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of openShiftChangeRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.openShiftChangeRequest'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.schedule
      summary: Create new navigation property to openShiftChangeRequests for teams
      operationId: teams.schedule_CreateOpenShiftChangeRequests
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.openShiftChangeRequest'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.openShiftChangeRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/openShiftChangeRequests/{openShiftChangeRequest-id}':
    get:
      tags:
        - teams.schedule
      summary: Get openShiftChangeRequests from teams
      operationId: teams.schedule_GetOpenShiftChangeRequests
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: openShiftChangeRequest-id
          in: path
          description: 'key: openShiftChangeRequest-id of openShiftChangeRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: openShiftChangeRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - assignedTo
                - state
                - senderMessage
                - senderDateTime
                - managerActionMessage
                - managerActionDateTime
                - senderUserId
                - managerUserId
                - openShiftId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.openShiftChangeRequest'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.schedule
      summary: Update the navigation property openShiftChangeRequests in teams
      operationId: teams.schedule_UpdateOpenShiftChangeRequests
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: openShiftChangeRequest-id
          in: path
          description: 'key: openShiftChangeRequest-id of openShiftChangeRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: openShiftChangeRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.openShiftChangeRequest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/openShifts':
    get:
      tags:
        - teams.schedule
      summary: Get openShifts from teams
      operationId: teams.schedule_ListOpenShifts
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - sharedOpenShift
                - sharedOpenShift desc
                - draftOpenShift
                - draftOpenShift desc
                - schedulingGroupId
                - schedulingGroupId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - sharedOpenShift
                - draftOpenShift
                - schedulingGroupId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of openShift
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.openShift'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.schedule
      summary: Create new navigation property to openShifts for teams
      operationId: teams.schedule_CreateOpenShifts
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.openShift'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.openShift'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/openShifts/{openShift-id}':
    get:
      tags:
        - teams.schedule
      summary: Get openShifts from teams
      operationId: teams.schedule_GetOpenShifts
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: openShift-id
          in: path
          description: 'key: openShift-id of openShift'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: openShift
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - sharedOpenShift
                - draftOpenShift
                - schedulingGroupId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.openShift'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.schedule
      summary: Update the navigation property openShifts in teams
      operationId: teams.schedule_UpdateOpenShifts
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: openShift-id
          in: path
          description: 'key: openShift-id of openShift'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: openShift
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.openShift'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/schedulingGroups':
    get:
      tags:
        - teams.schedule
      summary: Get schedulingGroups from teams
      operationId: teams.schedule_ListSchedulingGroups
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - displayName
                - displayName desc
                - isActive
                - isActive desc
                - userIds
                - userIds desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - displayName
                - isActive
                - userIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of schedulingGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.schedulingGroup'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.schedule
      summary: Create new navigation property to schedulingGroups for teams
      operationId: teams.schedule_CreateSchedulingGroups
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.schedulingGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.schedulingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/schedulingGroups/{schedulingGroup-id}':
    get:
      tags:
        - teams.schedule
      summary: Get schedulingGroups from teams
      operationId: teams.schedule_GetSchedulingGroups
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: schedulingGroup-id
          in: path
          description: 'key: schedulingGroup-id of schedulingGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: schedulingGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - displayName
                - isActive
                - userIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.schedulingGroup'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.schedule
      summary: Update the navigation property schedulingGroups in teams
      operationId: teams.schedule_UpdateSchedulingGroups
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: schedulingGroup-id
          in: path
          description: 'key: schedulingGroup-id of schedulingGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: schedulingGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.schedulingGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/shifts':
    get:
      tags:
        - teams.schedule
      summary: Get shifts from teams
      operationId: teams.schedule_ListShifts
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - sharedShift
                - sharedShift desc
                - draftShift
                - draftShift desc
                - userId
                - userId desc
                - schedulingGroupId
                - schedulingGroupId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - sharedShift
                - draftShift
                - userId
                - schedulingGroupId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of shift
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.shift'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - teams.schedule
      summary: Create new navigation property to shifts for teams
      operationId: teams.schedule_CreateShifts
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.shift'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.shift'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/shifts/{shift-id}':
    get:
      tags:
        - teams.schedule
      summary: Get shifts from teams
      operationId: teams.schedule_GetShifts
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: shift-id
          in: path
          description: 'key: shift-id of shift'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: shift
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - lastModifiedBy
                - sharedShift
                - draftShift
                - userId
                - schedulingGroupId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.shift'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - teams.schedule
      summary: Update the navigation property shifts in teams
      operationId: teams.schedule_UpdateShifts
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - name: shift-id
          in: path
          description: 'key: shift-id of shift'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: shift
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.shift'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}/schedule/swapShiftsChangeRequests':
    get:
      tags:
        - teams.schedule
      summary: Get swapShiftsChangeRequests from teams
      operationId: teams.schedule_ListSwapShiftsChangeRequests
      parameters:
        - name: team-id
          in: path
          description: 'key: team-id of team'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: team
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastModifiedBy
                - lastModifiedBy desc
                - assignedTo
                - assignedTo desc
                - state
                - state desc
                - senderMessage
                - senderMessage desc
                - senderDateTime
                - senderDateTime desc
                - managerActionMessage
                - managerActionMessage desc
                - managerActionDateTime
                - managerActionDateTime desc
[...]
