openapi: 3.0.1
info:
  title: Users.Contacts
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/contactFolders':
    get:
      tags:
        - users.contactFolder
      summary: Get contactFolders from users
      operationId: users_ListContactFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - parentFolderId
                - parentFolderId desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - parentFolderId
                - displayName
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - contacts
                - childFolders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - contacts
                - childFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of contactFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contactFolders for users
      operationId: users_CreateContactFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contactFolders from users
      operationId: users_GetContactFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - parentFolderId
                - displayName
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - contacts
                - childFolders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - contacts
                - childFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
          links:
            singleValueExtendedProperties:
              operationId: user.contactFolders.GetSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                singleValueLegacyExtendedProperty-id: $response.body#/id
            multiValueExtendedProperties:
              operationId: user.contactFolders.GetMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                multiValueLegacyExtendedProperty-id: $response.body#/id
            contacts:
              operationId: user.contactFolders.GetContacts
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contact-id: $response.body#/id
            childFolders:
              operationId: user.contactFolders.GetChildFolders
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contactFolders in users
      operationId: users_UpdateContactFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders':
    get:
      tags:
        - users.contactFolder
      summary: Get childFolders from users
      operationId: users.contactFolders_ListChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - parentFolderId
                - parentFolderId desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - parentFolderId
                - displayName
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - contacts
                - childFolders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - contacts
                - childFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of contactFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to childFolders for users
      operationId: users.contactFolders_CreateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}':
    get:
      tags:
        - users.contactFolder
      summary: Get childFolders from users
      operationId: users.contactFolders_GetChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - parentFolderId
                - displayName
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - contacts
                - childFolders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - contacts
                - childFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
          links:
            singleValueExtendedProperties:
              operationId: contactFolder.childFolders.GetSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contactFolder-id1: $request.path.contactFolder-id1
                singleValueLegacyExtendedProperty-id: $response.body#/id
            multiValueExtendedProperties:
              operationId: contactFolder.childFolders.GetMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contactFolder-id1: $request.path.contactFolder-id1
                multiValueLegacyExtendedProperty-id: $response.body#/id
            contacts:
              operationId: contactFolder.childFolders.GetContacts
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contactFolder-id1: $request.path.contactFolder-id1
                contact-id: $response.body#/id
            childFolders:
              operationId: contactFolder.childFolders.GetChildFolders
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $response.body#/id
                contactFolder-id1: $request.path.contactFolder-id1
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property childFolders in users
      operationId: users.contactFolders_UpdateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      operationId: users.contactFolders_ListContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - parentFolderId
                - parentFolderId desc
                - birthday
                - birthday desc
                - fileAs
                - fileAs desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - initials
                - initials desc
                - middleName
                - middleName desc
                - nickName
                - nickName desc
                - surname
                - surname desc
                - title
                - title desc
                - yomiGivenName
                - yomiGivenName desc
                - yomiSurname
                - yomiSurname desc
                - yomiCompanyName
                - yomiCompanyName desc
                - generation
                - generation desc
                - emailAddresses
                - emailAddresses desc
                - imAddresses
                - imAddresses desc
                - jobTitle
                - jobTitle desc
                - companyName
                - companyName desc
                - department
                - department desc
                - officeLocation
                - officeLocation desc
                - profession
                - profession desc
                - businessHomePage
                - businessHomePage desc
                - assistantName
                - assistantName desc
                - manager
                - manager desc
                - homePhones
                - homePhones desc
                - mobilePhone
                - mobilePhone desc
                - businessPhones
                - businessPhones desc
                - homeAddress
                - homeAddress desc
                - businessAddress
                - businessAddress desc
                - otherAddress
                - otherAddress desc
                - spouseName
                - spouseName desc
                - personalNotes
                - personalNotes desc
                - children
                - children desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - parentFolderId
                - birthday
                - fileAs
                - displayName
                - givenName
                - initials
                - middleName
                - nickName
                - surname
                - title
                - yomiGivenName
                - yomiSurname
                - yomiCompanyName
                - generation
                - emailAddresses
                - imAddresses
                - jobTitle
                - companyName
                - department
                - officeLocation
                - profession
                - businessHomePage
                - assistantName
                - manager
                - homePhones
                - mobilePhone
                - businessPhones
                - homeAddress
                - businessAddress
                - otherAddress
                - spouseName
                - personalNotes
                - children
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - photo
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - photo
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of contact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contacts for users
      operationId: users.contactFolders_CreateContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      operationId: users.contactFolders_GetContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - parentFolderId
                - birthday
                - fileAs
                - displayName
                - givenName
                - initials
                - middleName
                - nickName
                - surname
                - title
                - yomiGivenName
                - yomiSurname
                - yomiCompanyName
                - generation
                - emailAddresses
                - imAddresses
                - jobTitle
                - companyName
                - department
                - officeLocation
                - profession
                - businessHomePage
                - assistantName
                - manager
                - homePhones
                - mobilePhone
                - businessPhones
                - homeAddress
                - businessAddress
                - otherAddress
                - spouseName
                - personalNotes
                - children
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - photo
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - photo
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
          links:
            singleValueExtendedProperties:
              operationId: contactFolder.contacts.GetSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contact-id: $request.path.contact-id
                singleValueLegacyExtendedProperty-id: $response.body#/id
            multiValueExtendedProperties:
              operationId: contactFolder.contacts.GetMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contact-id: $request.path.contact-id
                multiValueLegacyExtendedProperty-id: $response.body#/id
            photo:
              operationId: contactFolder.contacts.GetPhoto
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contact-id: $request.path.contact-id
                profilePhoto-id: $response.body#/id
            extensions:
              operationId: contactFolder.contacts.GetExtensions
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contact-id: $request.path.contact-id
                extension-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contacts in users
      operationId: users.contactFolders_UpdateContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      operationId: users.contactFolders.contacts_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to extensions for users
      operationId: users.contactFolders.contacts_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions/{extension-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      operationId: users.contactFolders.contacts_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property extensions in users
      operationId: users.contactFolders.contacts_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.contactFolders.contacts_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.contactFolders.contacts_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.contactFolders.contacts_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.contactFolders.contacts_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo':
    get:
      tags:
        - users.contactFolder
      summary: Get photo from users
      operationId: users.contactFolders.contacts_GetPhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - height
                - width
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property photo in users
      operationId: users.contactFolders.contacts_UpdatePhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.contactFolders.contacts_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.contactFolders.contacts_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.contactFolders.contacts_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.contactFolders.contacts_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.contactFolders_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.contactFolders_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.contactFolders_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.contactFolders_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.contactFolders_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.contactFolders_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.contactFolders_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.contactFolders_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: contactFolder-id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts':
    get:
      tags:
        - users.contact
      summary: Get contacts from users
      operationId: users_ListContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - parentFolderId
                - parentFolderId desc
                - birthday
                - birthday desc
                - fileAs
                - fileAs desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - initials
                - initials desc
                - middleName
                - middleName desc
                - nickName
                - nickName desc
                - surname
                - surname desc
                - title
                - title desc
                - yomiGivenName
                - yomiGivenName desc
                - yomiSurname
                - yomiSurname desc
                - yomiCompanyName
                - yomiCompanyName desc
                - generation
                - generation desc
                - emailAddresses
                - emailAddresses desc
                - imAddresses
                - imAddresses desc
                - jobTitle
                - jobTitle desc
                - companyName
                - companyName desc
                - department
                - department desc
                - officeLocation
                - officeLocation desc
                - profession
                - profession desc
                - businessHomePage
                - businessHomePage desc
                - assistantName
                - assistantName desc
                - manager
                - manager desc
                - homePhones
                - homePhones desc
                - mobilePhone
                - mobilePhone desc
                - businessPhones
                - businessPhones desc
                - homeAddress
                - homeAddress desc
                - businessAddress
                - businessAddress desc
                - otherAddress
                - otherAddress desc
                - spouseName
                - spouseName desc
                - personalNotes
                - personalNotes desc
                - children
                - children desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - parentFolderId
                - birthday
                - fileAs
                - displayName
                - givenName
                - initials
                - middleName
                - nickName
                - surname
                - title
                - yomiGivenName
                - yomiSurname
                - yomiCompanyName
                - generation
                - emailAddresses
                - imAddresses
                - jobTitle
                - companyName
                - department
                - officeLocation
                - profession
                - businessHomePage
                - assistantName
                - manager
                - homePhones
                - mobilePhone
                - businessPhones
                - homeAddress
                - businessAddress
                - otherAddress
                - spouseName
                - personalNotes
                - children
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - photo
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - photo
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of contact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contact
      summary: Create new navigation property to contacts for users
      operationId: users_CreateContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}':
    get:
      tags:
        - users.contact
      summary: Get contacts from users
      operationId: users_GetContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - parentFolderId
                - birthday
                - fileAs
                - displayName
                - givenName
                - initials
                - middleName
                - nickName
                - surname
                - title
                - yomiGivenName
                - yomiSurname
                - yomiCompanyName
                - generation
                - emailAddresses
                - imAddresses
                - jobTitle
                - companyName
                - department
                - officeLocation
                - profession
                - businessHomePage
                - assistantName
                - manager
                - homePhones
                - mobilePhone
                - businessPhones
                - homeAddress
                - businessAddress
                - otherAddress
                - spouseName
                - personalNotes
                - children
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - photo
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - photo
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
          links:
            singleValueExtendedProperties:
              operationId: user.contacts.GetSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contact-id: $request.path.contact-id
                singleValueLegacyExtendedProperty-id: $response.body#/id
            multiValueExtendedProperties:
              operationId: user.contacts.GetMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contact-id: $request.path.contact-id
                multiValueLegacyExtendedProperty-id: $response.body#/id
            photo:
              operationId: user.contacts.GetPhoto
              parameters:
                user-id: $request.path.user-id
                contact-id: $request.path.contact-id
                profilePhoto-id: $response.body#/id
            extensions:
              operationId: user.contacts.GetExtensions
              parameters:
                user-id: $request.path.user-id
                contact-id: $request.path.contact-id
                extension-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contact
      summary: Update the navigation property contacts in users
      operationId: users_UpdateContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}/extensions':
    get:
      tags:
        - users.contact
      summary: Get extensions from users
      operationId: users.contacts_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contact
      summary: Create new navigation property to extensions for users
      operationId: users.contacts_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}/extensions/{extension-id}':
    get:
      tags:
        - users.contact
      summary: Get extensions from users
      operationId: users.contacts_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contact
      summary: Update the navigation property extensions in users
      operationId: users.contacts_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.contact
      summary: Get multiValueExtendedProperties from users
      operationId: users.contacts_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.contact
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.contacts_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contact
      summary: Get multiValueExtendedProperties from users
      operationId: users.contacts_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contact
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.contacts_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}/photo':
    get:
      tags:
        - users.contact
      summary: Get photo from users
      operationId: users.contacts_GetPhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - height
                - width
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.contact
      summary: Update the navigation property photo in users
      operationId: users.contacts_UpdatePhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.contact
      summary: Get singleValueExtendedProperties from users
      operationId: users.contacts_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: contact-id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
[...]
