openapi: 3.0.1
info:
  title: Users.ActivityFeed
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/activities':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      operationId: users_ListActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - visualElements
                - visualElements desc
                - activitySourceHost
                - activitySourceHost desc
                - activationUrl
                - activationUrl desc
                - appActivityId
                - appActivityId desc
                - appDisplayName
                - appDisplayName desc
                - contentUrl
                - contentUrl desc
                - createdDateTime
                - createdDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - fallbackUrl
                - fallbackUrl desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - userTimezone
                - userTimezone desc
                - contentInfo
                - contentInfo desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - visualElements
                - activitySourceHost
                - activationUrl
                - appActivityId
                - appDisplayName
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - userTimezone
                - contentInfo
                - status
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of userActivity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to activities for users
      operationId: users_CreateActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      operationId: users_GetActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: userActivity-id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - visualElements
                - activitySourceHost
                - activationUrl
                - appActivityId
                - appDisplayName
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - userTimezone
                - contentInfo
                - status
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
          links:
            historyItems:
              operationId: user.activities.GetHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property activities in users
      operationId: users_UpdateActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: userActivity-id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      operationId: users.activities_ListHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: userActivity-id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - status
                - status desc
                - activeDurationSeconds
                - activeDurationSeconds desc
                - createdDateTime
                - createdDateTime desc
                - lastActiveDateTime
                - lastActiveDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - startedDateTime
                - startedDateTime desc
                - userTimezone
                - userTimezone desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - status
                - activeDurationSeconds
                - createdDateTime
                - lastActiveDateTime
                - lastModifiedDateTime
                - expirationDateTime
                - startedDateTime
                - userTimezone
                - activity
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activity
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of activityHistoryItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to historyItems for users
      operationId: users.activities_CreateHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: userActivity-id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      operationId: users.activities_GetHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: userActivity-id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: activityHistoryItem-id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - status
                - activeDurationSeconds
                - createdDateTime
                - lastActiveDateTime
                - lastModifiedDateTime
                - expirationDateTime
                - startedDateTime
                - userTimezone
                - activity
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activity
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
          links:
            activity:
              operationId: userActivity.historyItems.GetActivity
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $response.body#/id
                activityHistoryItem-id: $request.path.activityHistoryItem-id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property historyItems in users
      operationId: users.activities_UpdateHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: userActivity-id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: activityHistoryItem-id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}/activity':
    get:
      tags:
        - users.userActivity
      summary: Get activity from users
      operationId: users.activities.historyItems_GetActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: userActivity-id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: activityHistoryItem-id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - visualElements
                - activitySourceHost
                - activationUrl
                - appActivityId
                - appDisplayName
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - userTimezone
                - contentInfo
                - status
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
          links:
            historyItems:
              operationId: activityHistoryItem.activity.GetHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.userActivity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userActivity
          type: object
          properties:
            visualElements:
              $ref: '#/components/schemas/microsoft.graph.visualInfo'
            activitySourceHost:
              type: string
              description: 'Required. URL for the domain representing the cross-platform identity mapping for the app. Mapping is stored either as a JSON file hosted on the domain or configurable via Windows Dev Center. The JSON file is named cross-platform-app-identifiers and is hosted at root of your HTTPS domain, either at the top level domain or include a sub domain. For example: https://contoso.com or https://myapp.contoso.com but NOT https://myapp.contoso.com/somepath. You must have a unique file and domain (or sub domain) per cross-platform app identity. For example, a separate file and domain is needed for Word vs. PowerPoint.'
            activationUrl:
              type: string
              description: Required. URL used to launch the activity in the best native experience represented by the appId. Might launch a web-based app if no native app exists.
            appActivityId:
              type: string
              description: Required. The unique activity ID in the context of the app - supplied by caller and immutable thereafter.
            appDisplayName:
              type: string
              description: Optional. Short text description of the app used to generate the activity for use in cases when the app is not installed on the user’s local device.
              nullable: true
            contentUrl:
              type: string
              description: 'Optional. Used in the event the content can be rendered outside of a native or web-based app experience (for example, a pointer to an item in an RSS feed).'
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was created on the server.
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object expired on the server.
              format: date-time
              nullable: true
            fallbackUrl:
              type: string
              description: 'Optional. URL used to launch the activity in a web-based app, if available.'
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was modified on the server.
              format: date-time
              nullable: true
            userTimezone:
              type: string
              description: Optional. The timezone in which the user's device used to generate the activity was located at activity creation time; values supplied as Olson IDs in order to support cross-platform representation.
              nullable: true
            contentInfo:
              $ref: '#/components/schemas/microsoft.graph.Json'
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            historyItems:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
              description: Optional. NavigationProperty/Containment; navigation property to the activity's historyItems.
      example:
        id: string (identifier)
        visualElements:
          '@odata.type': microsoft.graph.visualInfo
        activitySourceHost: string
        activationUrl: string
        appActivityId: string
        appDisplayName: string
        contentUrl: string
        createdDateTime: string (timestamp)
        expirationDateTime: string (timestamp)
        fallbackUrl: string
        lastModifiedDateTime: string (timestamp)
        userTimezone: string
        contentInfo:
          '@odata.type': microsoft.graph.Json
        status:
          '@odata.type': microsoft.graph.status
        historyItems:
          - '@odata.type': microsoft.graph.activityHistoryItem
    microsoft.graph.activityHistoryItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: activityHistoryItem
          type: object
          properties:
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            activeDurationSeconds:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: 'Optional. The duration of active user engagement. if not supplied, this is calculated from the startedDateTime and lastActiveDateTime.'
              format: int32
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was created on the server.
              format: date-time
              nullable: true
            lastActiveDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Optional. UTC DateTime when the historyItem (activity session) was last understood as active or finished - if null, historyItem status should be Ongoing.'
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was modified on the server.
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Optional. UTC DateTime when the historyItem will undergo hard-delete. Can be set by the client.
              format: date-time
              nullable: true
            startedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Required. UTC DateTime when the historyItem (activity session) was started. Required for timeline history.
              format: date-time
            userTimezone:
              type: string
              description: Optional. The timezone in which the user's device used to generate the activity was located at activity creation time. Values supplied as Olson IDs in order to support cross-platform representation.
              nullable: true
            activity:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.status
        activeDurationSeconds: integer
        createdDateTime: string (timestamp)
        lastActiveDateTime: string (timestamp)
        lastModifiedDateTime: string (timestamp)
        expirationDateTime: string (timestamp)
        startedDateTime: string (timestamp)
        userTimezone: string
        activity:
          '@odata.type': microsoft.graph.userActivity
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.visualInfo:
      title: visualInfo
      type: object
      properties:
        attribution:
          $ref: '#/components/schemas/microsoft.graph.imageInfo'
        backgroundColor:
          type: string
          description: Optional. Background color used to render the activity in the UI - brand color for the application source of the activity. Must be a valid hex color
          nullable: true
        description:
          type: string
          description: 'Optional. Longer text description of the user''s unique activity (example: document name, first sentence, and/or metadata)'
          nullable: true
        displayText:
          type: string
          description: 'Required. Short text description of the user''s unique activity (for example, document name in cases where an activity refers to document creation)'
        content:
          $ref: '#/components/schemas/microsoft.graph.Json'
      example:
        attribution:
          '@odata.type': microsoft.graph.imageInfo
        backgroundColor: string
        description: string
        displayText: string
        content:
          '@odata.type': microsoft.graph.Json
    microsoft.graph.Json:
      title: Json
      type: object
    microsoft.graph.status:
      title: status
      enum:
        - active
        - updated
        - deleted
        - ignored
        - unknownFutureValue
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.imageInfo:
      title: imageInfo
      type: object
      properties:
        iconUrl:
          type: string
          description: Optional; URI that points to an icon which represents the application used to generate the activity
          nullable: true
        alternativeText:
          type: string
          nullable: true
        alternateText:
          type: string
          description: Optional; alt-text accessible content for the image
          nullable: true
        addImageQuery:
          type: boolean
          description: Optional; parameter used to indicate the server is able to render image dynamically in response to parameterization. For example – a high contrast image
          nullable: true
      example:
        iconUrl: string
        alternativeText: string
        alternateText: string
        addImageQuery: true
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]