openapi: 3.0.1
info:
  title: Users
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /users:
    get:
      tags:
        - users.user
      summary: List users
      description: Retrieve a list of user objects.
      operationId: users.user_ListUser
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - ageGroup
                - ageGroup desc
                - assignedLicenses
                - assignedLicenses desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - consentProvidedForMinor
                - consentProvidedForMinor desc
                - country
                - country desc
                - createdDateTime
                - createdDateTime desc
                - creationType
                - creationType desc
                - department
                - department desc
                - displayName
                - displayName desc
                - employeeHireDate
                - employeeHireDate desc
                - employeeId
                - employeeId desc
                - employeeOrgData
                - employeeOrgData desc
                - employeeType
                - employeeType desc
                - externalUserState
                - externalUserState desc
                - externalUserStateChangeDateTime
                - externalUserStateChangeDateTime desc
                - faxNumber
                - faxNumber desc
                - givenName
                - givenName desc
                - identities
                - identities desc
                - imAddresses
                - imAddresses desc
                - isResourceAccount
                - isResourceAccount desc
                - jobTitle
                - jobTitle desc
                - lastPasswordChangeDateTime
                - lastPasswordChangeDateTime desc
                - legalAgeGroupClassification
                - legalAgeGroupClassification desc
                - licenseAssignmentStates
                - licenseAssignmentStates desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - mobilePhone
                - mobilePhone desc
                - officeLocation
                - officeLocation desc
                - onPremisesDistinguishedName
                - onPremisesDistinguishedName desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesExtensionAttributes
                - onPremisesExtensionAttributes desc
                - onPremisesImmutableId
                - onPremisesImmutableId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - onPremisesUserPrincipalName
                - onPremisesUserPrincipalName desc
                - otherMails
                - otherMails desc
                - passwordPolicies
                - passwordPolicies desc
                - passwordProfile
                - passwordProfile desc
                - postalCode
                - postalCode desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - provisionedPlans
                - provisionedPlans desc
                - proxyAddresses
                - proxyAddresses desc
                - securityIdentifier
                - securityIdentifier desc
                - showInAddressList
                - showInAddressList desc
                - signInSessionsValidFromDateTime
                - signInSessionsValidFromDateTime desc
                - state
                - state desc
                - streetAddress
                - streetAddress desc
                - surname
                - surname desc
                - usageLocation
                - usageLocation desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
                - mailboxSettings
                - mailboxSettings desc
                - deviceEnrollmentLimit
                - deviceEnrollmentLimit desc
                - aboutMe
                - aboutMe desc
                - birthday
                - birthday desc
                - hireDate
                - hireDate desc
                - interests
                - interests desc
                - mySite
                - mySite desc
                - pastProjects
                - pastProjects desc
                - preferredName
                - preferredName desc
                - responsibilities
                - responsibilities desc
                - schools
                - schools desc
                - skills
                - skills desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - department
                - displayName
                - employeeHireDate
                - employeeId
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - securityIdentifier
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.userCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.user
      summary: Create User
      description: "Create a new user.\nThe request body contains the user to create. At a minimum, you must specify the required properties for the user. You can optionally specify any other writable properties."
      operationId: users.user_CreateUser
      requestBody:
        description: New entity
        content: { }
        required: true
      responses:
        '201':
          description: Created entity
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}':
    get:
      tags:
        - users.user
      summary: Get a user
      description: Retrieve the properties and relationships of user object.
      operationId: users.user_GetUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - department
                - displayName
                - employeeHireDate
                - employeeId
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - securityIdentifier
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          description: Retrieved entity
          links:
            appRoleAssignments:
              operationId: users.ListAppRoleAssignments
              parameters:
                user-id: $request.path.user-id
            createdObjects:
              operationId: users.ListCreatedObjects
              parameters:
                user-id: $request.path.user-id
            directReports:
              operationId: users.ListDirectReports
              parameters:
                user-id: $request.path.user-id
            licenseDetails:
              operationId: users.ListLicenseDetails
              parameters:
                user-id: $request.path.user-id
            manager:
              operationId: users.GetManager
              parameters:
                user-id: $request.path.user-id
            memberOf:
              operationId: users.ListMemberGraphOPre
              parameters:
                user-id: $request.path.user-id
            oauth2PermissionGrants:
              operationId: users.ListOauth2PermissionGrants
              parameters:
                user-id: $request.path.user-id
            ownedDevices:
              operationId: users.ListOwnedDevices
              parameters:
                user-id: $request.path.user-id
            ownedObjects:
              operationId: users.ListOwnedObjects
              parameters:
                user-id: $request.path.user-id
            registeredDevices:
              operationId: users.ListRegisteredDevices
              parameters:
                user-id: $request.path.user-id
            scopedRoleMemberOf:
              operationId: users.ListScopedRoleMemberGraphOPre
              parameters:
                user-id: $request.path.user-id
            transitiveMemberOf:
              operationId: users.ListTransitiveMemberGraphOPre
              parameters:
                user-id: $request.path.user-id
            calendar:
              operationId: users.GetCalendar
              parameters:
                user-id: $request.path.user-id
            calendarGroups:
              operationId: users.ListCalendarGroups
              parameters:
                user-id: $request.path.user-id
            calendars:
              operationId: users.ListCalendars
              parameters:
                user-id: $request.path.user-id
            calendarView:
              operationId: users.ListCalendarView
              parameters:
                user-id: $request.path.user-id
            contactFolders:
              operationId: users.ListContactFolders
              parameters:
                user-id: $request.path.user-id
            contacts:
              operationId: users.ListContacts
              parameters:
                user-id: $request.path.user-id
            events:
              operationId: users.ListEvents
              parameters:
                user-id: $request.path.user-id
            inferenceClassification:
              operationId: users.GetInferenceClassification
              parameters:
                user-id: $request.path.user-id
            mailFolders:
              operationId: users.ListMailFolders
              parameters:
                user-id: $request.path.user-id
            messages:
              operationId: users.ListMessages
              parameters:
                user-id: $request.path.user-id
            outlook:
              operationId: users.GetOutlook
              parameters:
                user-id: $request.path.user-id
            people:
              operationId: users.ListPeople
              parameters:
                user-id: $request.path.user-id
            drive:
              operationId: users.GetDrive
              parameters:
                user-id: $request.path.user-id
            drives:
              operationId: users.ListDrives
              parameters:
                user-id: $request.path.user-id
            followedSites:
              operationId: users.ListFollowedSites
              parameters:
                user-id: $request.path.user-id
            extensions:
              operationId: users.ListExtensions
              parameters:
                user-id: $request.path.user-id
            agreementAcceptances:
              operationId: users.ListAgreementAcceptances
              parameters:
                user-id: $request.path.user-id
            managedDevices:
              operationId: users.ListManagedDevices
              parameters:
                user-id: $request.path.user-id
            managedAppRegistrations:
              operationId: users.ListManagedAppRegistrations
              parameters:
                user-id: $request.path.user-id
            deviceManagementTroubleshootingEvents:
              operationId: users.ListDeviceManagementTroubleshootingEvents
              parameters:
                user-id: $request.path.user-id
            planner:
              operationId: users.GetPlanner
              parameters:
                user-id: $request.path.user-id
            insights:
              operationId: users.GetInsights
              parameters:
                user-id: $request.path.user-id
            settings:
              operationId: users.GetSettings
              parameters:
                user-id: $request.path.user-id
            onenote:
              operationId: users.GetOnenote
              parameters:
                user-id: $request.path.user-id
            photo:
              operationId: users.GetPhoto
              parameters:
                user-id: $request.path.user-id
            photos:
              operationId: users.ListPhotos
              parameters:
                user-id: $request.path.user-id
            activities:
              operationId: users.ListActivities
              parameters:
                user-id: $request.path.user-id
            onlineMeetings:
              operationId: users.ListOnlineMeetings
              parameters:
                user-id: $request.path.user-id
            presence:
              operationId: users.GetPresence
              parameters:
                user-id: $request.path.user-id
            authentication:
              operationId: users.GetAuthentication
              parameters:
                user-id: $request.path.user-id
            chats:
              operationId: users.ListChats
              parameters:
                user-id: $request.path.user-id
            joinedTeams:
              operationId: users.ListJoinedTeams
              parameters:
                user-id: $request.path.user-id
            teamwork:
              operationId: users.GetTeamwork
              parameters:
                user-id: $request.path.user-id
            todo:
              operationId: users.GetTodo
              parameters:
                user-id: $request.path.user-id
            assignLicense:
              operationId: users.user.assignLicense
            changePassword:
              operationId: users.user.changePassword
            checkMemberGroups:
              operationId: users.user.checkMemberGroups
            checkMemberObjects:
              operationId: users.user.checkMemberObjects
            exportPersonalData:
              operationId: users.user.exportPersonalData
            findMeetingTimes:
              operationId: users.user.findMeetingTimes
            getMailTips:
              operationId: users.user.getMailTips
            getManagedAppDiagnosticStatuses:
              operationId: users.user.getManagedAppDiagnosticStatuses
            getManagedAppPolicies:
              operationId: users.user.getManagedAppPolicies
            getMemberGroups:
              operationId: users.user.getMemberGroups
            getMemberObjects:
              operationId: users.user.getMemberObjects
            reminderView:
              operationId: users.user.reminderView
            removeAllDevicesFromManagement:
              operationId: users.user.removeAllDevicesFromManagement
            reprocessLicenseAssignment:
              operationId: users.user.reprocessLicenseAssignment
            restore:
              operationId: users.user.restore
            revokeSignInSessions:
              operationId: users.user.revokeSignInSessions
            sendMail:
              operationId: users.user.sendMail
            translateExchangeIds:
              operationId: users.user.translateExchangeIds
            wipeManagedAppRegistrationsByDeviceTag:
              operationId: users.user.wipeManagedAppRegistrationsGraphBPreDeviceTag
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.user
      summary: Update user
      description: Update the properties of a user object. Not all properties can be updated by Member or Guest users with their default permissions without Administrator roles. Compare member and guest default permissions to see properties they can manage.
      operationId: users.user_UpdateUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New property values
        content: { }
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.user
      summary: Delete a user
      description: 'Delete user.   When deleted, user resources are moved to a temporary container and can be restored within 30 days.  After that time, they are permanently deleted.  To learn more, see deletedItems.'
      operationId: users.user_DeleteUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/createdObjects':
    get:
      tags:
        - users.directoryObject
      summary: Get createdObjects from users
      description: Directory objects that were created by the user. Read-only. Nullable.
      operationId: users_ListCreatedObjects
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/createdObjects/{directoryObject-id}':
    get:
      tags:
        - users.directoryObject
      summary: Get createdObjects from users
      description: Directory objects that were created by the user. Read-only. Nullable.
      operationId: users_GetCreatedObjects
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/directReports':
    get:
      tags:
        - users.directoryObject
      summary: Get directReports from users
      description: The users and contacts that report to the user. (The users and contacts that have their manager property set to this user.) Read-only. Nullable. Supports $expand.
      operationId: users_ListDirectReports
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/directReports/{directoryObject-id}':
    get:
      tags:
        - users.directoryObject
      summary: Get directReports from users
      description: The users and contacts that report to the user. (The users and contacts that have their manager property set to this user.) Read-only. Nullable. Supports $expand.
      operationId: users_GetDirectReports
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/extensions':
    get:
      tags:
        - users.extension
      summary: Get extensions from users
      description: The collection of open extensions defined for the user. Read-only. Supports $expand. Nullable.
      operationId: users_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.extension
      summary: Create new navigation property to extensions for users
      operationId: users_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/extensions/{extension-id}':
    get:
      tags:
        - users.extension
      summary: Get extensions from users
      description: The collection of open extensions defined for the user. Read-only. Supports $expand. Nullable.
      operationId: users_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.extension
      summary: Update the navigation property extensions in users
      operationId: users_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.extension
      summary: Delete navigation property extensions for users
      operationId: users_DeleteExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/licenseDetails':
    get:
      tags:
        - users.licenseDetails
      summary: Get licenseDetails from users
      description: A collection of this user's license details. Read-only.
      operationId: users_ListLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - servicePlans
                - servicePlans desc
                - skuId
                - skuId desc
                - skuPartNumber
                - skuPartNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - servicePlans
                - skuId
                - skuPartNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.licenseDetailsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.licenseDetails
      summary: Create new navigation property to licenseDetails for users
      operationId: users_CreateLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/licenseDetails/{licenseDetails-id}':
    get:
      tags:
        - users.licenseDetails
      summary: Get licenseDetails from users
      description: A collection of this user's license details. Read-only.
      operationId: users_GetLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: licenseDetails-id
          in: path
          description: 'key: id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - servicePlans
                - skuId
                - skuPartNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.licenseDetails
      summary: Update the navigation property licenseDetails in users
      operationId: users_UpdateLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: licenseDetails-id
          in: path
          description: 'key: id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.licenseDetails
      summary: Delete navigation property licenseDetails for users
      operationId: users_DeleteLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: licenseDetails-id
          in: path
          description: 'key: id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/manager':
    get:
      tags:
        - users.directoryObject
      summary: Get manager from users
      description: 'The user or contact that is this user''s manager. Read-only. (HTTP Methods: GET, PUT, DELETE.). Supports $expand.'
      operationId: users_GetManager
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/manager/$ref':
    get:
      tags:
        - users.directoryObject
      summary: Get ref of manager from users
      description: 'The user or contact that is this user''s manager. Read-only. (HTTP Methods: GET, PUT, DELETE.). Supports $expand.'
      operationId: users_GetManagerGraphBPreRef
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.directoryObject
      summary: Update the ref of navigation property manager in users
      operationId: users_SetManagerGraphBPreRef
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        $ref: '#/components/requestBodies/refPutBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.directoryObject
      summary: Delete ref of navigation property manager for users
      operationId: users_DeleteManagerGraphBPreRef
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/memberOf':
    get:
      tags:
        - users.directoryObject
      summary: Get memberOf from users
      description: The groups and directory roles that the user is a member of. Read-only. Nullable. Supports $expand.
      operationId: users_ListMemberGraphOPre
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - users.directoryObject
      summary: Get memberOf from users
      description: The groups and directory roles that the user is a member of. Read-only. Nullable. Supports $expand.
      operationId: users_GetMemberGraphOPre
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/oauth2PermissionGrants':
    get:
      tags:
        - users.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from users
      operationId: users_ListOauth2PermissionGrants
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientId
                - clientId desc
                - consentType
                - consentType desc
                - principalId
                - principalId desc
                - resourceId
                - resourceId desc
                - scope
                - scope desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - principalId
                - resourceId
                - scope
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.oAuth2PermissionGrantCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/oauth2PermissionGrants/{oAuth2PermissionGrant-id}':
    get:
      tags:
        - users.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from users
      operationId: users_GetOauth2PermissionGrants
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: oAuth2PermissionGrant-id
          in: path
          description: 'key: id of oAuth2PermissionGrant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: oAuth2PermissionGrant
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - principalId
                - resourceId
                - scope
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook':
    get:
      tags:
        - users.outlookUser
      summary: Get outlook from users
      operationId: users_GetOutlook
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - masterCategories
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookUser'
          links:
            masterCategories:
              operationId: users.Outlook.ListMasterCategories
              parameters:
                user-id: $request.path.user-id
            supportedLanguages:
              operationId: users.user.outlook.supportedLanguages
            supportedTimeZones:
              operationId: users.user.outlook.supportedTimeZones
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property outlook in users
      operationId: users_UpdateOutlook
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookUser'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.outlookUser
      summary: Delete navigation property outlook for users
      operationId: users_DeleteOutlook
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/masterCategories':
    get:
      tags:
        - users.outlookUser
      summary: Get masterCategories from users
      description: A list of categories defined for the user.
      operationId: users.outlook_ListMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - color
                - color desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - color
                - displayName
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.outlookCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to masterCategories for users
      operationId: users.outlook_CreateMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/masterCategories/{outlookCategory-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get masterCategories from users
      description: A list of categories defined for the user.
      operationId: users.outlook_GetMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookCategory-id
          in: path
          description: 'key: id of outlookCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - color
                - displayName
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property masterCategories in users
      operationId: users.outlook_UpdateMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookCategory-id
          in: path
          description: 'key: id of outlookCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.outlookUser
      summary: Delete navigation property masterCategories for users
      operationId: users.outlook_DeleteMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookCategory-id
          in: path
          description: 'key: id of outlookCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookCategory
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/ownedDevices':
    get:
      tags:
        - users.directoryObject
      summary: Get ownedDevices from users
      description: Devices that are owned by the user. Read-only. Nullable. Supports $expand.
      operationId: users_ListOwnedDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/ownedDevices/{directoryObject-id}':
    get:
      tags:
        - users.directoryObject
      summary: Get ownedDevices from users
      description: Devices that are owned by the user. Read-only. Nullable. Supports $expand.
      operationId: users_GetOwnedDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/ownedObjects':
    get:
      tags:
        - users.directoryObject
      summary: Get ownedObjects from users
      description: Directory objects that are owned by the user. Read-only. Nullable. Supports $expand.
      operationId: users_ListOwnedObjects
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/ownedObjects/{directoryObject-id}':
    get:
      tags:
        - users.directoryObject
      summary: Get ownedObjects from users
      description: Directory objects that are owned by the user. Read-only. Nullable. Supports $expand.
      operationId: users_GetOwnedObjects
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/photo':
    get:
      tags:
        - users.profilePhoto
      summary: Get photo from users
      description: The user's profile photo. Read-only.
      operationId: users_GetPhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - height
                - width
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profilePhoto
      summary: Update the navigation property photo in users
      operationId: users_UpdatePhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profilePhoto
      summary: Delete navigation property photo for users
      operationId: users_DeletePhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/photo/$value':
    get:
      tags:
        - users.profilePhoto
      summary: Get media content for the navigation property photo from users
      operationId: users_GetPhotoContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.profilePhoto
      summary: Update media content for the navigation property photo in users
      operationId: users_SetPhotoContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/photos':
    get:
      tags:
        - users.profilePhoto
      summary: Get photos from users
      operationId: users_ListPhotos
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - height
                - height desc
                - width
                - width desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - height
                - width
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.profilePhotoCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profilePhoto
      summary: Create new navigation property to photos for users
      operationId: users_CreatePhotos
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/photos/{profilePhoto-id}':
    get:
      tags:
        - users.profilePhoto
      summary: Get photos from users
      operationId: users_GetPhotos
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: profilePhoto-id
          in: path
          description: 'key: id of profilePhoto'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: profilePhoto
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - height
                - width
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profilePhoto
      summary: Update the navigation property photos in users
      operationId: users_UpdatePhotos
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: profilePhoto-id
          in: path
          description: 'key: id of profilePhoto'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: profilePhoto
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profilePhoto
      summary: Delete navigation property photos for users
      operationId: users_DeletePhotos
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: profilePhoto-id
          in: path
          description: 'key: id of profilePhoto'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: profilePhoto
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/photos/{profilePhoto-id}/$value':
    get:
      tags:
        - users.profilePhoto
      summary: Get media content for the navigation property photos from users
      operationId: users_GetPhotosContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: profilePhoto-id
          in: path
          description: 'key: id of profilePhoto'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: profilePhoto
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.profilePhoto
      summary: Update media content for the navigation property photos in users
      operationId: users_SetPhotosContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: profilePhoto-id
          in: path
          description: 'key: id of profilePhoto'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: profilePhoto
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/registeredDevices':
    get:
      tags:
        - users.directoryObject
      summary: Get registeredDevices from users
      description: Devices that are registered for the user. Read-only. Nullable. Supports $expand.
      operationId: users_ListRegisteredDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/registeredDevices/{directoryObject-id}':
    get:
      tags:
        - users.directoryObject
      summary: Get registeredDevices from users
      description: Devices that are registered for the user. Read-only. Nullable. Supports $expand.
      operationId: users_GetRegisteredDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/settings':
    get:
      tags:
        - users.userSettings
      summary: Get settings from users
      operationId: users_GetSettings
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contributionToContentDiscoveryAsOrganizationDisabled
                - contributionToContentDiscoveryDisabled
                - shiftPreferences
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - shiftPreferences
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userSettings'
          links:
            shiftPreferences:
              operationId: users.Settings.GetShiftPreferences
              parameters:
                user-id: $request.path.user-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userSettings
      summary: Update the navigation property settings in users
      operationId: users_UpdateSettings
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userSettings
      summary: Delete navigation property settings for users
      operationId: users_DeleteSettings
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/settings/shiftPreferences':
    get:
      tags:
        - users.userSettings
      summary: Get shiftPreferences from users
      operationId: users.settings_GetShiftPreferences
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedBy
                - lastModifiedDateTime
                - availability
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.shiftPreferences'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userSettings
      summary: Update the navigation property shiftPreferences in users
      operationId: users.settings_UpdateShiftPreferences
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.shiftPreferences'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userSettings
      summary: Delete navigation property shiftPreferences for users
      operationId: users.settings_DeleteShiftPreferences
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
[...]
