openapi: 3.0.1
info:
  title: Users.Mail
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/inferenceClassification':
    get:
      tags:
        - users.inferenceClassification
      summary: Get inferenceClassification from users
      operationId: users_GetInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - overrides
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - overrides
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
          links:
            overrides:
              operationId: user.inferenceClassification.GetOverrides
              parameters:
                user-id: $request.path.user-id
                inferenceClassificationOverride-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.inferenceClassification
      summary: Update the navigation property inferenceClassification in users
      operationId: users_UpdateInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides':
    get:
      tags:
        - users.inferenceClassification
      summary: Get overrides from users
      operationId: users.inferenceClassification_ListOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - classifyAs
                - classifyAs desc
                - senderEmailAddress
                - senderEmailAddress desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classifyAs
                - senderEmailAddress
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of inferenceClassificationOverride
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.inferenceClassification
      summary: Create new navigation property to overrides for users
      operationId: users.inferenceClassification_CreateOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides/{inferenceClassificationOverride-id}':
    get:
      tags:
        - users.inferenceClassification
      summary: Get overrides from users
      operationId: users.inferenceClassification_GetOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: 'key: inferenceClassificationOverride-id of inferenceClassificationOverride'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classifyAs
                - senderEmailAddress
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.inferenceClassification
      summary: Update the navigation property overrides in users
      operationId: users.inferenceClassification_UpdateOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: 'key: inferenceClassificationOverride-id of inferenceClassificationOverride'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders':
    get:
      tags:
        - users.mailFolder
      summary: Get mailFolders from users
      operationId: users_ListMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - parentFolderId
                - parentFolderId desc
                - childFolderCount
                - childFolderCount desc
                - unreadItemCount
                - unreadItemCount desc
                - totalItemCount
                - totalItemCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - childFolderCount
                - unreadItemCount
                - totalItemCount
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - messages
                - messageRules
                - childFolders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - messages
                - messageRules
                - childFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of mailFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to mailFolders for users
      operationId: users_CreateMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get mailFolders from users
      operationId: users_GetMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - childFolderCount
                - unreadItemCount
                - totalItemCount
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - messages
                - messageRules
                - childFolders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - messages
                - messageRules
                - childFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
          links:
            singleValueExtendedProperties:
              operationId: user.mailFolders.GetSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                singleValueLegacyExtendedProperty-id: $response.body#/id
            multiValueExtendedProperties:
              operationId: user.mailFolders.GetMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                multiValueLegacyExtendedProperty-id: $response.body#/id
            messages:
              operationId: user.mailFolders.GetMessages
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $response.body#/id
            messageRules:
              operationId: user.mailFolders.GetMessageRules
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                messageRule-id: $response.body#/id
            childFolders:
              operationId: user.mailFolders.GetChildFolders
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property mailFolders in users
      operationId: users_UpdateMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders':
    get:
      tags:
        - users.mailFolder
      summary: Get childFolders from users
      operationId: users.mailFolders_ListChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - parentFolderId
                - parentFolderId desc
                - childFolderCount
                - childFolderCount desc
                - unreadItemCount
                - unreadItemCount desc
                - totalItemCount
                - totalItemCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - childFolderCount
                - unreadItemCount
                - totalItemCount
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - messages
                - messageRules
                - childFolders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - messages
                - messageRules
                - childFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of mailFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to childFolders for users
      operationId: users.mailFolders_CreateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}':
    get:
      tags:
        - users.mailFolder
      summary: Get childFolders from users
      operationId: users.mailFolders_GetChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - childFolderCount
                - unreadItemCount
                - totalItemCount
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - messages
                - messageRules
                - childFolders
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - messages
                - messageRules
                - childFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
          links:
            singleValueExtendedProperties:
              operationId: mailFolder.childFolders.GetSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
                singleValueLegacyExtendedProperty-id: $response.body#/id
            multiValueExtendedProperties:
              operationId: mailFolder.childFolders.GetMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
                multiValueLegacyExtendedProperty-id: $response.body#/id
            messages:
              operationId: mailFolder.childFolders.GetMessages
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
                message-id: $response.body#/id
            messageRules:
              operationId: mailFolder.childFolders.GetMessageRules
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
                messageRule-id: $response.body#/id
            childFolders:
              operationId: mailFolder.childFolders.GetChildFolders
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $response.body#/id
                mailFolder-id1: $request.path.mailFolder-id1
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property childFolders in users
      operationId: users.mailFolders_UpdateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules':
    get:
      tags:
        - users.mailFolder
      summary: Get messageRules from users
      operationId: users.mailFolders_ListMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - sequence
                - sequence desc
                - conditions
                - conditions desc
                - actions
                - actions desc
                - exceptions
                - exceptions desc
                - isEnabled
                - isEnabled desc
                - hasError
                - hasError desc
                - isReadOnly
                - isReadOnly desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - sequence
                - conditions
                - actions
                - exceptions
                - isEnabled
                - hasError
                - isReadOnly
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of messageRule
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to messageRules for users
      operationId: users.mailFolders_CreateMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules/{messageRule-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get messageRules from users
      operationId: users.mailFolders_GetMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: 'key: messageRule-id of messageRule'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - sequence
                - conditions
                - actions
                - exceptions
                - isEnabled
                - hasError
                - isReadOnly
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property messageRules in users
      operationId: users.mailFolders_UpdateMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: 'key: messageRule-id of messageRule'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: messageRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages':
    get:
      tags:
        - users.mailFolder
      summary: Get messages from users
      operationId: users.mailFolders_ListMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - receivedDateTime
                - receivedDateTime desc
                - sentDateTime
                - sentDateTime desc
                - hasAttachments
                - hasAttachments desc
                - internetMessageId
                - internetMessageId desc
                - internetMessageHeaders
                - internetMessageHeaders desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - parentFolderId
                - parentFolderId desc
                - sender
                - sender desc
                - from
                - from desc
                - toRecipients
                - toRecipients desc
                - ccRecipients
                - ccRecipients desc
                - bccRecipients
                - bccRecipients desc
                - replyTo
                - replyTo desc
                - conversationId
                - conversationId desc
                - conversationIndex
                - conversationIndex desc
                - uniqueBody
                - uniqueBody desc
                - isDeliveryReceiptRequested
                - isDeliveryReceiptRequested desc
                - isReadReceiptRequested
                - isReadReceiptRequested desc
                - isRead
                - isRead desc
                - isDraft
                - isDraft desc
                - webLink
                - webLink desc
                - inferenceClassification
                - inferenceClassification desc
                - flag
                - flag desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - receivedDateTime
                - sentDateTime
                - hasAttachments
                - internetMessageId
                - internetMessageHeaders
                - subject
                - body
                - bodyPreview
                - importance
                - parentFolderId
                - sender
                - from
                - toRecipients
                - ccRecipients
                - bccRecipients
                - replyTo
                - conversationId
                - conversationIndex
                - uniqueBody
                - isDeliveryReceiptRequested
                - isReadReceiptRequested
                - isRead
                - isDraft
                - webLink
                - inferenceClassification
                - flag
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of message
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to messages for users
      operationId: users.mailFolders_CreateMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get messages from users
      operationId: users.mailFolders_GetMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - receivedDateTime
                - sentDateTime
                - hasAttachments
                - internetMessageId
                - internetMessageHeaders
                - subject
                - body
                - bodyPreview
                - importance
                - parentFolderId
                - sender
                - from
                - toRecipients
                - ccRecipients
                - bccRecipients
                - replyTo
                - conversationId
                - conversationIndex
                - uniqueBody
                - isDeliveryReceiptRequested
                - isReadReceiptRequested
                - isRead
                - isDraft
                - webLink
                - inferenceClassification
                - flag
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
          links:
            singleValueExtendedProperties:
              operationId: mailFolder.messages.GetSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $request.path.message-id
                singleValueLegacyExtendedProperty-id: $response.body#/id
            multiValueExtendedProperties:
              operationId: mailFolder.messages.GetMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $request.path.message-id
                multiValueLegacyExtendedProperty-id: $response.body#/id
            attachments:
              operationId: mailFolder.messages.GetAttachments
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $request.path.message-id
                attachment-id: $response.body#/id
            extensions:
              operationId: mailFolder.messages.GetExtensions
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $request.path.message-id
                extension-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property messages in users
      operationId: users.mailFolders_UpdateMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/attachments':
    get:
      tags:
        - users.mailFolder
      summary: Get attachments from users
      operationId: users.mailFolders.messages_ListAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - contentType
                - contentType desc
                - size
                - size desc
                - isInline
                - isInline desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of attachment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to attachments for users
      operationId: users.mailFolders.messages_CreateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/attachments/{attachment-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get attachments from users
      operationId: users.mailFolders.messages_GetAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: 'key: attachment-id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property attachments in users
      operationId: users.mailFolders.messages_UpdateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: 'key: attachment-id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/extensions':
    get:
      tags:
        - users.mailFolder
      summary: Get extensions from users
      operationId: users.mailFolders.messages_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to extensions for users
      operationId: users.mailFolders.messages_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/extensions/{extension-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get extensions from users
      operationId: users.mailFolders.messages_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property extensions in users
      operationId: users.mailFolders.messages_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.mailFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.mailFolders.messages_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.mailFolders.messages_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.mailFolders.messages_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.mailFolders.messages_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.mailFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.mailFolders.messages_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.mailFolders.messages_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.mailFolders.messages_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.mailFolders.messages_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.mailFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.mailFolders_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.mailFolders_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.mailFolders_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.mailFolders_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.mailFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.mailFolders_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.mailFolders_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.mailFolders_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.mailFolders_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: mailFolder-id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/messages':
    get:
      tags:
        - users.message
      summary: Get messages from users
      operationId: users_ListMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - receivedDateTime
                - receivedDateTime desc
                - sentDateTime
                - sentDateTime desc
                - hasAttachments
                - hasAttachments desc
                - internetMessageId
                - internetMessageId desc
                - internetMessageHeaders
                - internetMessageHeaders desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - parentFolderId
                - parentFolderId desc
                - sender
                - sender desc
                - from
                - from desc
                - toRecipients
                - toRecipients desc
                - ccRecipients
                - ccRecipients desc
                - bccRecipients
                - bccRecipients desc
                - replyTo
                - replyTo desc
                - conversationId
                - conversationId desc
                - conversationIndex
                - conversationIndex desc
                - uniqueBody
                - uniqueBody desc
                - isDeliveryReceiptRequested
                - isDeliveryReceiptRequested desc
                - isReadReceiptRequested
                - isReadReceiptRequested desc
                - isRead
                - isRead desc
                - isDraft
                - isDraft desc
                - webLink
                - webLink desc
                - inferenceClassification
                - inferenceClassification desc
                - flag
                - flag desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - receivedDateTime
                - sentDateTime
                - hasAttachments
                - internetMessageId
                - internetMessageHeaders
                - subject
                - body
                - bodyPreview
                - importance
                - parentFolderId
                - sender
                - from
                - toRecipients
                - ccRecipients
                - bccRecipients
                - replyTo
                - conversationId
                - conversationIndex
                - uniqueBody
                - isDeliveryReceiptRequested
                - isReadReceiptRequested
                - isRead
                - isDraft
                - webLink
                - inferenceClassification
                - flag
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of message
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.message
      summary: Create new navigation property to messages for users
      operationId: users_CreateMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/messages/{message-id}':
    get:
      tags:
        - users.message
      summary: Get messages from users
      operationId: users_GetMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: message-id
          in: path
          description: 'key: message-id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - receivedDateTime
                - sentDateTime
                - hasAttachments
                - internetMessageId
                - internetMessageHeaders
                - subject
                - body
                - bodyPreview
                - importance
                - parentFolderId
                - sender
                - from
                - toRecipients
                - ccRecipients
                - bccRecipients
                - replyTo
                - conversationId
                - conversationIndex
                - uniqueBody
                - isDeliveryReceiptRequested
                - isReadReceiptRequested
                - isRead
                - isDraft
                - webLink
                - inferenceClassification
                - flag
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
[...]
