openapi: 3.0.1
info:
  title: Users.Planner
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/planner':
    get:
      tags:
        - users.plannerUser
      summary: Get planner from users
      operationId: users_GetPlanner
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - tasks
                - plans
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
                - plans
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerUser'
          links:
            tasks:
              operationId: user.planner.GetTasks
              parameters:
                user-id: $request.path.user-id
                plannerTask-id: $response.body#/id
            plans:
              operationId: user.planner.GetPlans
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property planner in users
      operationId: users_UpdatePlanner
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerUser'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans':
    get:
      tags:
        - users.plannerUser
      summary: Get plans from users
      operationId: users.planner_ListPlans
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - owner
                - owner desc
                - title
                - title desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - owner
                - title
                - tasks
                - buckets
                - details
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
                - buckets
                - details
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerPlan
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.plannerUser
      summary: Create new navigation property to plans for users
      operationId: users.planner_CreatePlans
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}':
    get:
      tags:
        - users.plannerUser
      summary: Get plans from users
      operationId: users.planner_GetPlans
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - owner
                - title
                - tasks
                - buckets
                - details
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
                - buckets
                - details
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
          links:
            tasks:
              operationId: plannerUser.plans.GetTasks
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerTask-id: $response.body#/id
            buckets:
              operationId: plannerUser.plans.GetBuckets
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $response.body#/id
            details:
              operationId: plannerUser.plans.GetDetails
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerPlanDetails-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property plans in users
      operationId: users.planner_UpdatePlans
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/buckets':
    get:
      tags:
        - users.plannerUser
      summary: Get buckets from users
      operationId: users.planner.plans_ListBuckets
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - planId
                - planId desc
                - orderHint
                - orderHint desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - planId
                - orderHint
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerBucket
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.plannerUser
      summary: Create new navigation property to buckets for users
      operationId: users.planner.plans_CreateBuckets
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}':
    get:
      tags:
        - users.plannerUser
      summary: Get buckets from users
      operationId: users.planner.plans_GetBuckets
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - planId
                - orderHint
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
          links:
            tasks:
              operationId: plannerPlan.buckets.GetTasks
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
                plannerTask-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property buckets in users
      operationId: users.planner.plans_UpdateBuckets
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks':
    get:
      tags:
        - users.plannerUser
      summary: Get tasks from users
      operationId: users.planner.plans.buckets_ListTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - planId
                - planId desc
                - bucketId
                - bucketId desc
                - title
                - title desc
                - orderHint
                - orderHint desc
                - assigneePriority
                - assigneePriority desc
                - percentComplete
                - percentComplete desc
                - startDateTime
                - startDateTime desc
                - createdDateTime
                - createdDateTime desc
                - dueDateTime
                - dueDateTime desc
                - hasDescription
                - hasDescription desc
                - previewType
                - previewType desc
                - completedDateTime
                - completedDateTime desc
                - completedBy
                - completedBy desc
                - referenceCount
                - referenceCount desc
                - checklistItemCount
                - checklistItemCount desc
                - activeChecklistItemCount
                - activeChecklistItemCount desc
                - appliedCategories
                - appliedCategories desc
                - assignments
                - assignments desc
                - conversationThreadId
                - conversationThreadId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - planId
                - bucketId
                - title
                - orderHint
                - assigneePriority
                - percentComplete
                - startDateTime
                - createdDateTime
                - dueDateTime
                - hasDescription
                - previewType
                - completedDateTime
                - completedBy
                - referenceCount
                - checklistItemCount
                - activeChecklistItemCount
                - appliedCategories
                - assignments
                - conversationThreadId
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerTask
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.plannerUser
      summary: Create new navigation property to tasks for users
      operationId: users.planner.plans.buckets_CreateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - users.plannerUser
      summary: Get tasks from users
      operationId: users.planner.plans.buckets_GetTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - planId
                - bucketId
                - title
                - orderHint
                - assigneePriority
                - percentComplete
                - startDateTime
                - createdDateTime
                - dueDateTime
                - hasDescription
                - previewType
                - completedDateTime
                - completedBy
                - referenceCount
                - checklistItemCount
                - activeChecklistItemCount
                - appliedCategories
                - assignments
                - conversationThreadId
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
          links:
            details:
              operationId: plannerBucket.tasks.GetDetails
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
                plannerTask-id: $request.path.plannerTask-id
                plannerTaskDetails-id: $response.body#/id
            assignedToTaskBoardFormat:
              operationId: plannerBucket.tasks.GetAssignedToTaskBoardFormat
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
                plannerTask-id: $request.path.plannerTask-id
                plannerAssignedToTaskBoardTaskFormat-id: $response.body#/id
            progressTaskBoardFormat:
              operationId: plannerBucket.tasks.GetProgressTaskBoardFormat
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
                plannerTask-id: $request.path.plannerTask-id
                plannerProgressTaskBoardTaskFormat-id: $response.body#/id
            bucketTaskBoardFormat:
              operationId: plannerBucket.tasks.GetBucketTaskBoardFormat
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerBucket-id: $request.path.plannerBucket-id
                plannerTask-id: $request.path.plannerTask-id
                plannerBucketTaskBoardTaskFormat-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property tasks in users
      operationId: users.planner.plans.buckets_UpdateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - users.plannerUser
      summary: Get assignedToTaskBoardFormat from users
      operationId: users.planner.plans.buckets.tasks_GetAssignedToTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - unassignedOrderHint
                - orderHintsByAssignee
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property assignedToTaskBoardFormat in users
      operationId: users.planner.plans.buckets.tasks_UpdateAssignedToTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - users.plannerUser
      summary: Get bucketTaskBoardFormat from users
      operationId: users.planner.plans.buckets.tasks_GetBucketTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property bucketTaskBoardFormat in users
      operationId: users.planner.plans.buckets.tasks_UpdateBucketTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/details':
    get:
      tags:
        - users.plannerUser
      summary: Get details from users
      operationId: users.planner.plans.buckets.tasks_GetDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - previewType
                - references
                - checklist
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property details in users
      operationId: users.planner.plans.buckets.tasks_UpdateDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - users.plannerUser
      summary: Get progressTaskBoardFormat from users
      operationId: users.planner.plans.buckets.tasks_GetProgressTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property progressTaskBoardFormat in users
      operationId: users.planner.plans.buckets.tasks_UpdateProgressTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: 'key: plannerBucket-id of plannerBucket'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/details':
    get:
      tags:
        - users.plannerUser
      summary: Get details from users
      operationId: users.planner.plans_GetDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - sharedWith
                - categoryDescriptions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property details in users
      operationId: users.planner.plans_UpdateDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/tasks':
    get:
      tags:
        - users.plannerUser
      summary: Get tasks from users
      operationId: users.planner.plans_ListTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - planId
                - planId desc
                - bucketId
                - bucketId desc
                - title
                - title desc
                - orderHint
                - orderHint desc
                - assigneePriority
                - assigneePriority desc
                - percentComplete
                - percentComplete desc
                - startDateTime
                - startDateTime desc
                - createdDateTime
                - createdDateTime desc
                - dueDateTime
                - dueDateTime desc
                - hasDescription
                - hasDescription desc
                - previewType
                - previewType desc
                - completedDateTime
                - completedDateTime desc
                - completedBy
                - completedBy desc
                - referenceCount
                - referenceCount desc
                - checklistItemCount
                - checklistItemCount desc
                - activeChecklistItemCount
                - activeChecklistItemCount desc
                - appliedCategories
                - appliedCategories desc
                - assignments
                - assignments desc
                - conversationThreadId
                - conversationThreadId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - planId
                - bucketId
                - title
                - orderHint
                - assigneePriority
                - percentComplete
                - startDateTime
                - createdDateTime
                - dueDateTime
                - hasDescription
                - previewType
                - completedDateTime
                - completedBy
                - referenceCount
                - checklistItemCount
                - activeChecklistItemCount
                - appliedCategories
                - assignments
                - conversationThreadId
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerTask
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.plannerUser
      summary: Create new navigation property to tasks for users
      operationId: users.planner.plans_CreateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - users.plannerUser
      summary: Get tasks from users
      operationId: users.planner.plans_GetTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - planId
                - bucketId
                - title
                - orderHint
                - assigneePriority
                - percentComplete
                - startDateTime
                - createdDateTime
                - dueDateTime
                - hasDescription
                - previewType
                - completedDateTime
                - completedBy
                - referenceCount
                - checklistItemCount
                - activeChecklistItemCount
                - appliedCategories
                - assignments
                - conversationThreadId
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
          links:
            details:
              operationId: plannerPlan.tasks.GetDetails
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerTask-id: $request.path.plannerTask-id
                plannerTaskDetails-id: $response.body#/id
            assignedToTaskBoardFormat:
              operationId: plannerPlan.tasks.GetAssignedToTaskBoardFormat
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerTask-id: $request.path.plannerTask-id
                plannerAssignedToTaskBoardTaskFormat-id: $response.body#/id
            progressTaskBoardFormat:
              operationId: plannerPlan.tasks.GetProgressTaskBoardFormat
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerTask-id: $request.path.plannerTask-id
                plannerProgressTaskBoardTaskFormat-id: $response.body#/id
            bucketTaskBoardFormat:
              operationId: plannerPlan.tasks.GetBucketTaskBoardFormat
              parameters:
                user-id: $request.path.user-id
                plannerPlan-id: $request.path.plannerPlan-id
                plannerTask-id: $request.path.plannerTask-id
                plannerBucketTaskBoardTaskFormat-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property tasks in users
      operationId: users.planner.plans_UpdateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - users.plannerUser
      summary: Get assignedToTaskBoardFormat from users
      operationId: users.planner.plans.tasks_GetAssignedToTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - unassignedOrderHint
                - orderHintsByAssignee
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property assignedToTaskBoardFormat in users
      operationId: users.planner.plans.tasks_UpdateAssignedToTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - users.plannerUser
      summary: Get bucketTaskBoardFormat from users
      operationId: users.planner.plans.tasks_GetBucketTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property bucketTaskBoardFormat in users
      operationId: users.planner.plans.tasks_UpdateBucketTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/details':
    get:
      tags:
        - users.plannerUser
      summary: Get details from users
      operationId: users.planner.plans.tasks_GetDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - previewType
                - references
                - checklist
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property details in users
      operationId: users.planner.plans.tasks_UpdateDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - users.plannerUser
      summary: Get progressTaskBoardFormat from users
      operationId: users.planner.plans.tasks_GetProgressTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property progressTaskBoardFormat in users
      operationId: users.planner.plans.tasks_UpdateProgressTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/tasks':
    get:
      tags:
        - users.plannerUser
      summary: Get tasks from users
      operationId: users.planner_ListTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - planId
                - planId desc
                - bucketId
                - bucketId desc
                - title
                - title desc
                - orderHint
                - orderHint desc
                - assigneePriority
                - assigneePriority desc
                - percentComplete
                - percentComplete desc
                - startDateTime
                - startDateTime desc
                - createdDateTime
                - createdDateTime desc
                - dueDateTime
                - dueDateTime desc
                - hasDescription
                - hasDescription desc
                - previewType
                - previewType desc
                - completedDateTime
                - completedDateTime desc
                - completedBy
                - completedBy desc
                - referenceCount
                - referenceCount desc
                - checklistItemCount
                - checklistItemCount desc
                - activeChecklistItemCount
                - activeChecklistItemCount desc
                - appliedCategories
                - appliedCategories desc
                - assignments
                - assignments desc
                - conversationThreadId
                - conversationThreadId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - planId
                - bucketId
                - title
                - orderHint
                - assigneePriority
                - percentComplete
                - startDateTime
                - createdDateTime
                - dueDateTime
                - hasDescription
                - previewType
                - completedDateTime
                - completedBy
                - referenceCount
                - checklistItemCount
                - activeChecklistItemCount
                - appliedCategories
                - assignments
                - conversationThreadId
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerTask
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
    post:
      tags:
        - users.plannerUser
      summary: Create new navigation property to tasks for users
      operationId: users.planner_CreateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/tasks/{plannerTask-id}':
    get:
      tags:
        - users.plannerUser
      summary: Get tasks from users
      operationId: users.planner_GetTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - planId
                - bucketId
                - title
                - orderHint
                - assigneePriority
                - percentComplete
                - startDateTime
                - createdDateTime
                - dueDateTime
                - hasDescription
                - previewType
                - completedDateTime
                - completedBy
                - referenceCount
                - checklistItemCount
                - activeChecklistItemCount
                - appliedCategories
                - assignments
                - conversationThreadId
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - details
                - assignedToTaskBoardFormat
                - progressTaskBoardFormat
                - bucketTaskBoardFormat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
          links:
            details:
              operationId: plannerUser.tasks.GetDetails
              parameters:
                user-id: $request.path.user-id
                plannerTask-id: $request.path.plannerTask-id
                plannerTaskDetails-id: $response.body#/id
            assignedToTaskBoardFormat:
              operationId: plannerUser.tasks.GetAssignedToTaskBoardFormat
              parameters:
                user-id: $request.path.user-id
                plannerTask-id: $request.path.plannerTask-id
                plannerAssignedToTaskBoardTaskFormat-id: $response.body#/id
            progressTaskBoardFormat:
              operationId: plannerUser.tasks.GetProgressTaskBoardFormat
              parameters:
                user-id: $request.path.user-id
                plannerTask-id: $request.path.plannerTask-id
                plannerProgressTaskBoardTaskFormat-id: $response.body#/id
            bucketTaskBoardFormat:
              operationId: plannerUser.tasks.GetBucketTaskBoardFormat
              parameters:
                user-id: $request.path.user-id
                plannerTask-id: $request.path.plannerTask-id
                plannerBucketTaskBoardTaskFormat-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property tasks in users
      operationId: users.planner_UpdateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - users.plannerUser
      summary: Get assignedToTaskBoardFormat from users
      operationId: users.planner.tasks_GetAssignedToTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - unassignedOrderHint
                - orderHintsByAssignee
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property assignedToTaskBoardFormat in users
      operationId: users.planner.tasks_UpdateAssignedToTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/tasks/{plannerTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - users.plannerUser
      summary: Get bucketTaskBoardFormat from users
      operationId: users.planner.tasks_GetBucketTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property bucketTaskBoardFormat in users
      operationId: users.planner.tasks_UpdateBucketTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/tasks/{plannerTask-id}/details':
    get:
      tags:
        - users.plannerUser
      summary: Get details from users
      operationId: users.planner.tasks_GetDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - previewType
                - references
                - checklist
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property details in users
      operationId: users.planner.tasks_UpdateDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/planner/tasks/{plannerTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - users.plannerUser
      summary: Get progressTaskBoardFormat from users
      operationId: users.planner.tasks_GetProgressTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.plannerUser
      summary: Update the navigation property progressTaskBoardFormat in users
      operationId: users.planner.tasks_UpdateProgressTaskBoardFormat
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: plannerTask-id
          in: path
          description: 'key: plannerTask-id of plannerTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.plannerUser:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerUser
          type: object
          properties:
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
              description: Read-only. Nullable. Returns the plannerPlans shared with the user.
            plans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
              description: Read-only. Nullable. Returns the plannerTasks assigned to the user.
      example:
        id: string (identifier)
        tasks:
          - '@odata.type': microsoft.graph.plannerTask
        plans:
          - '@odata.type': microsoft.graph.plannerPlan
    microsoft.graph.plannerPlan:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerPlan
          type: object
          properties:
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Read-only. Date and time at which the plan is created. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            owner:
              type: string
              description: 'ID of the Group that owns the plan. A valid group must exist before this field can be set. After it is set, this property can’t be updated.'
              nullable: true
            title:
              type: string
              description: Required. Title of the plan.
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
              description: Read-only. Nullable. Collection of tasks in the plan.
            buckets:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
              description: Read-only. Nullable. Collection of buckets in the plan.
            details:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
      example:
        id: string (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: string (timestamp)
        owner: string
        title: string
        tasks:
          - '@odata.type': microsoft.graph.plannerTask
        buckets:
          - '@odata.type': microsoft.graph.plannerBucket
        details:
          '@odata.type': microsoft.graph.plannerPlanDetails
    microsoft.graph.plannerBucket:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerBucket
          type: object
          properties:
            name:
              type: string
              description: Name of the bucket.
            planId:
              type: string
              description: Plan ID to which the bucket belongs.
              nullable: true
            orderHint:
              type: string
              description: Hint used to order items of this type in a list view. The format is defined as outlined here.
              nullable: true
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
              description: Read-only. Nullable. The collection of tasks in the bucket.
      example:
        id: string (identifier)
        name: string
        planId: string
        orderHint: string
        tasks:
          - '@odata.type': microsoft.graph.plannerTask
    microsoft.graph.plannerTask:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerTask
          type: object
          properties:
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            planId:
              type: string
              description: Plan ID to which the task belongs.
              nullable: true
            bucketId:
              type: string
              description: Bucket ID to which the task belongs. The bucket needs to be in the plan that the task is in. It is 28 characters long and case-sensitive. Format validation is done on the service.
              nullable: true
            title:
              type: string
              description: Title of the task.
            orderHint:
              type: string
              description: Hint used to order items of this type in a list view. The format is defined as outlined here.
              nullable: true
            assigneePriority:
              type: string
              description: Hint used to order items of this type in a list view. The format is defined as outlined here.
              nullable: true
            percentComplete:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: 'Percentage of task completion. When set to 100, the task is considered completed.'
              format: int32
              nullable: true
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Date and time at which the task starts. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Read-only. Date and time at which the task is created. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            dueDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Date and time at which the task is due. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            hasDescription:
              type: boolean
              description: Read-only. Value is true if the details object of the task has a non-empty description and false otherwise.
              nullable: true
            previewType:
              $ref: '#/components/schemas/microsoft.graph.plannerPreviewType'
            completedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Read-only. Date and time at which the ''percentComplete'' of the task is set to ''100''. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            completedBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            referenceCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: Number of external references that exist on the task.
              format: int32
              nullable: true
            checklistItemCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: Number of checklist items that are present on the task.
              format: int32
              nullable: true
            activeChecklistItemCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
[...]
