{
  "New-MgSearchAcronym+[NoContext]+[NoScenario]+$POST+https://graph.microsoft.com/beta/search/acronyms+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://graph.microsoft.com/beta/search/acronyms",
      "Content": "{\r\n  \"description\": \"A deep neural network is a neural network with a certain level of complexity, a neural network with more than two layers.\",\r\n  \"displayName\": \"DNN\",\r\n  \"webUrl\": \"http://microsoft.com/deep-neural-network\",\r\n  \"standsFor\": \"Deep Neural Network\",\r\n  \"state\": \"draft\"\r\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"West Central US\",\"Slice\":\"E\",\"Ring\":\"1\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"CY4PEPF00005443\"}}"
        ],
        "WWW-Authenticate": [
          "Bearer realm=\"\", authorization_uri=\"https://login.microsoftonline.com/common/oauth2/authorize\", client_id=\"00000003-0000-0000-c000-000000000000\""
        ]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      },
      "Content": "{\r\"id\":\"733b26d5-af76-4eea-ac69-1a0ce8716897\"\r}"
    }
  },
  "New-MgSearchAcronym+[NoContext]+[NoScenario]+$POST+https://graph.microsoft.com/beta/search/acronyms+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://graph.microsoft.com/beta/search/acronyms",
      "Content": "{\r\n  \"description\": \"A deep neural network is a neural network with a certain level of complexity, a neural network with more than two layers.\",\r\n  \"displayName\": \"DNN\",\r\n  \"webUrl\": \"http://microsoft.com/deep-neural-network\",\r\n  \"standsFor\": \"Deep Neural Network\",\r\n  \"state\": \"draft\"\r\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"West Central US\",\"Slice\":\"E\",\"Ring\":\"1\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"CY4PEPF00005445\"}}"
        ],
        "WWW-Authenticate": [
          "Bearer realm=\"\", authorization_uri=\"https://login.microsoftonline.com/common/oauth2/authorize\", client_id=\"00000003-0000-0000-c000-000000000000\""
        ]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      },
      "Content": "{\r\"id\":\"733b26d5-af76-4eea-ac69-1a0ce8716897\"\r}"
    }
  }
}
