{
  "Get-MgSite+[NoContext]+ShouldGetACollectionOfSites+$GET+https://graph.microsoft.com/v1.0/sites+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://graph.microsoft.com/v1.0/sites",
      "Content": null,
      "Headers": {
        "SdkVersion": [ "Graph-powershell-Microsoft.Graph.Authentication-1.4.0", "Graph-dotnet-1.20.1" ],
        "FeatureFlag": [ "00000047" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ags-diagnostic": [ "{\"ServerInfo\":{\"DataCenter\":\"West US 2\",\"Slice\":\"E\",\"Ring\":\"1\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"MWH0EPF00032D51\"}}" ],
        "OData-Version": [ "4.0" ]
      },
      "ContentHeaders": {
      },
      "Content": "{\"@odata.context\":\"https://graph.microsoft.com/beta/$metadata#sites\",\"value\":[]}"
    }
  },
  "Get-MgSite+[NoContext]+ShouldGetASingleSite+$GET+https://graph.microsoft.com/v1.0/sites/root+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://graph.microsoft.com/v1.0/sites/root",
      "Content": null,
      "Headers": {
        "SdkVersion": [ "Graph-powershell-Microsoft.Graph.Authentication-1.4.0", "Graph-dotnet-1.20.1" ],
        "FeatureFlag": [ "00000047" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ags-diagnostic": [ "{\"ServerInfo\":{\"DataCenter\":\"West US 2\",\"Slice\":\"E\",\"Ring\":\"1\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"MWH0EPF00032D51\"}}" ],
        "OData-Version": [ "4.0" ]
      },
      "ContentHeaders": {
      },
      "Content": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#sites/$entity\",\"createdDateTime\":\"2020-02-13T19:06:48.53Z\",\"description\":\"\",\"id\":\"dummyRootId\",\"lastModifiedDateTime\":\"2021-02-26T16:43:51Z\",\"name\":\"\",\"webUrl\":\"https://dummyroot.sharepoint.com\",\"displayName\":\"Communication site\",\"root\":{},\"siteCollection\":{\"hostname\":\"dummyroot.sharepoint.com\"}}"
    }
  },
  "Get-MgSite+[NoContext]+ShouldGetASingleSiteViaInputObject+$GET+https://graph.microsoft.com/v1.0/sites/root+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://graph.microsoft.com/v1.0/sites/root",
      "Content": null,
      "Headers": {
        "SdkVersion": [ "Graph-powershell-Microsoft.Graph.Authentication-1.4.0", "Graph-dotnet-1.20.1" ],
        "FeatureFlag": [ "00000047" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ags-diagnostic": [ "{\"ServerInfo\":{\"DataCenter\":\"West US 2\",\"Slice\":\"E\",\"Ring\":\"1\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"MWH0EPF00032D51\"}}" ],
        "OData-Version": [ "4.0" ]
      },
      "ContentHeaders": {
      },
      "Content": "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#sites/$entity\",\"createdDateTime\":\"2020-02-13T19:06:48.53Z\",\"description\":\"\",\"id\":\"dummyRootId\",\"lastModifiedDateTime\":\"2021-02-26T16:43:51Z\",\"name\":\"\",\"webUrl\":\"https://dummyroot.sharepoint.com\",\"displayName\":\"Communication site\",\"root\":{},\"siteCollection\":{\"hostname\":\"dummyroot.sharepoint.com\"}}"
    }
  }
}