{
  "Get-MgSubSite+[NoContext]+ShouldGetACollectionOfSubSites+$GET+https://graph.microsoft.com/beta/sites/root/sites+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://graph.microsoft.com/beta/sites/root/sites",
      "Content": null,
      "Headers": {
        "SdkVersion": [ "Graph-powershell-Microsoft.Graph.Authentication-1.4.0", "Graph-dotnet-1.20.1" ],
        "FeatureFlag": [ "00000047" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ags-diagnostic": [ "{\"ServerInfo\":{\"DataCenter\":\"West US 2\",\"Slice\":\"E\",\"Ring\":\"1\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"MW2PEPF000031D0\"}}" ],
        "OData-Version": [ "4.0" ]
      },
      "ContentHeaders": {
      },
      "Content": "{\"@odata.context\":\"https://graph.microsoft.com/beta/$metadata#sites\",\"value\":[\n{\n\"id\": \"randomId\",\n\"name\": \"Team A Subsite\",\n\"description\": \"\",\n\"createdDateTime\": \"2016-10-18T03:05:59Z\",\n\"lastModifiedDateTime\": \"2016-10-18T10:40:59Z\",\n\"webUrl\": \"https://contoso.sharepoint.com/sites/site/subsiteA\"\n    },\n    {\n\"id\": \"contoso.sharepoint.com,da60e844-ba1d-49bc-b4d4-d5e36bae9019,0271110f-634f-4300-a841-3a8a2e851851\",\n\"name\": \"Team B Subsite\",\n\"description\": \"\",\n\"createdDateTime\": \"2016-10-18T03:05:59Z\",\n\"lastModifiedDateTime\": \"2016-10-18T10:40:59Z\",\n\"webUrl\": \"https://contoso.sharepoint.com/sites/site/subsiteB\"\n }\n ]}"
    }
  },
  "Get-MgSubSite+[NoContext]+ShouldGetASingleSubSite+$GET+https://graph.m[...]
