{
  "New-MgSiteListItem+[NoContext]+ShouldCreateSiteListItemWithFields+$POST+https://graph.microsoft.com/beta/sites/root/lists/listId/items+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://graph.microsoft.com/beta/sites/root/lists/listId/items",
      "Content": "{\r\n  \"fields\": {\r\n    \"Title\": \"Test\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"973d312d-0eef-4c01-92c3-0bbfcb24b722,1\"" ],
        "Location": [ "https://contosodev.sharepoint.com/_api/v2.0/sites/contosodev.sharepoint.com,e21e7ea3-cd7c-4efd-a3cb-b0c93e9c79e7,ecfa5b05-fdf4-4595-9bad-26378ce9b7f2/lists/listId/items/15" ],
        "x-ms-ags-diagnostic": [ "{\"ServerInfo\":{\"DataCenter\":\"West US 2\",\"Slice\":\"E\",\"Ring\":\"1\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"MWH0EPF0006CC06\"}}" ],
        "OData-Version": [ "4.0" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=utf-8" ]
      },
      "Content": "{\"@odata.context\":\"https://graph.microsoft.com/beta/$metadata#sites(\u0027root\u0027)/lists(\u0027listId\u0027)/items/$entity\",\"@odata.etag\":\"\\\"973d312d-0eef-4c01-92c3-0bbfcb24b722,1\\\"\",\"createdDateTime\":\"2022-06-03T17:58:49Z\",\"eTag\":\"\\\"973d312d-0eef-4c01-92c3-0bbfcb24b722,1\\\"\",\"id\":\"15\",\"lastModifiedDateTime\":\"2022-06-03T17:58:49Z\",\"webUrl\":\"https://contosodev.sharepoint.com/Lists/My%20List/15_.000\",\"createdBy\":{\"user\":{\"email\":\"User@contosodev.onmicrosoft.com\",\"id\":\"222a4aff-966a-4a62-b3d3-1b6ae2f81f4a\",\"displayName\":\"User User\"}},\"lastModifiedBy\":{\"application\":{\"id\":\"14d82eec-204b-4c2f-b7e8-296a70dab67e\",\"displayName\":\"Microsoft Graph PowerShell (Preview)\"},\"user\":{\"email\":\"User@contosodev.onmicrosoft.com\",\"id\":\"222a4aff-966a-4a62-b3d3-1b6ae2f81f4a\",\"displayName\":\"User User\"}},\"parentReference\":{\"siteId\":\"contosodev.sharepoint.com,e21e7ea3-cd7c-4efd-a3cb-b0c93e9c79e7,ecfa5b05-fdf4-4595-9bad-26378ce9b7f2\"},\"contentType\":{\"id\":\"0x010009E05387C7C8AC4D8407A2E88DFF538F0001E8E4E2710BBC42A695BA82E1C3BBE3\",\"name\":\"Item\"},\"fields@odata.context\":\"https://graph.microsoft.com/beta/$metadata#sites(\u0027root\u0027)/lists(\u0027listId\u0027)/items(\u002715\u0027)/fields/$entity\",\"fields\":{\"@odata.etag\":\"\\\"973d312d-0eef-4c01-92c3-0bbfcb24b722,1\\\"\",\"id\":\"15\",\"ContentType\":\"Item\",\"Title\":\"Test\",\"Modified\":\"2022-06-03T17:58:49Z\",\"Created\":\"2022-06-03T17:58:49Z\",\"AuthorLookupId\":\"11\",\"EditorLookupId\":\"11\",\"_UIVersionString\":\"1.0\",\"Attachments\":false,\"Edit\":\"\",\"LinkTitleNoMenu\":\"Test\",\"LinkTitle\":\"Test\",\"ItemChildCount\":\"0\",\"FolderChildCount\":\"0\",\"_ComplianceFlags\":\"\",\"_ComplianceTag\":\"\",\"_ComplianceTagWrittenTime\":\"\",\"_ComplianceTagUserId\":\"\",\"AppAuthorLookupId\":\"11\",\"AppEditorLookupId\":\"11\"}}"
    }
  }
}