openapi: 3.0.4
info:
  title: BackupRestore
  version: beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /solutions/backupRestore:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get backupRestoreRoot
      description: Get the serviceStatus of the Microsoft 365 Backup Storage service in a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/backuprestoreroot-get?view=graph-rest-beta
      operationId: solutions.GetBackupRestore
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.backupRestoreRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property backupRestore in solutions
      operationId: solutions.UpdateBackupRestore
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.backupRestoreRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.backupRestoreRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property backupRestore for solutions
      operationId: solutions.DeleteBackupRestore
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/activityLogs:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get activityLogs from solutions
      operationId: solutions.backupRestore.ListActivityLogs
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.activityLogBaseCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to activityLogs for solutions
      operationId: solutions.backupRestore.CreateActivityLogs
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityLogBase'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityLogBase'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/activityLogs/{activityLogBase-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get activityLogs from solutions
      operationId: solutions.backupRestore.GetActivityLogs
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityLogBase'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property activityLogs in solutions
      operationId: solutions.backupRestore.UpdateActivityLogs
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityLogBase'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityLogBase'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property activityLogs for solutions
      operationId: solutions.backupRestore.DeleteActivityLogs
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/activityLogs/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.activityLogs.GetCount-f140
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/browseSessions:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List browseSessions
      description: Get a list of the browseSessionBase objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/backuprestoreroot-list-browsesessions?view=graph-rest-beta
      operationId: solutions.backupRestore.ListBrowseSessions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.browseSessionBaseCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to browseSessions for solutions
      operationId: solutions.backupRestore.CreateBrowseSessions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browseSessionBase'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browseSessionBase'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/browseSessions/{browseSessionBase-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get browseSessions from solutions
      description: The list of browse sessions in the tenant.
      operationId: solutions.backupRestore.GetBrowseSessions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browseSessionBase'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property browseSessions in solutions
      operationId: solutions.backupRestore.UpdateBrowseSessions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browseSessionBase'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browseSessionBase'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property browseSessions for solutions
      operationId: solutions.backupRestore.DeleteBrowseSessions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/browseSessions/{browseSessionBase-id}/browse':
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Invoke action browse
      operationId: solutions.backupRestore.browseSessions.browseSessionBase.browse
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                browseLocationItemKey:
                  type: string
                  nullable: true
                browseResourceType:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.browsableResourceType'
                    - type: object
                      nullable: true
                filter:
                  type: string
                  nullable: true
                orderBy:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.browseQueryOrder'
                    - type: object
                      nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.browseQueryResponseItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/solutions/backupRestore/browseSessions/{browseSessionBase-id}/browse(nextFetchToken=''{nextFetchToken}'')':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Invoke function browse
      operationId: solutions.backupRestore.browseSessions.browseSessionBase.browse-ae5b
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.browseQueryResponseItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /solutions/backupRestore/browseSessions/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.browseSessions.GetCount-de6b
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/driveExclusionUnits:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveExclusionUnits from solutions
      description: The list of drive exclusion units in the tenant.
      operationId: solutions.backupRestore.ListDriveExclusionUnits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveExclusionUnitCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to driveExclusionUnits for solutions
      operationId: solutions.backupRestore.CreateDriveExclusionUnits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveExclusionUnit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveExclusionUnit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/driveExclusionUnits/{driveExclusionUnit-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveExclusionUnits from solutions
      description: The list of drive exclusion units in the tenant.
      operationId: solutions.backupRestore.GetDriveExclusionUnits
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveExclusionUnit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property driveExclusionUnits in solutions
      operationId: solutions.backupRestore.UpdateDriveExclusionUnits
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveExclusionUnit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveExclusionUnit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property driveExclusionUnits for solutions
      operationId: solutions.backupRestore.DeleteDriveExclusionUnits
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/driveExclusionUnits/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.driveExclusionUnits.GetCount-e546
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/driveExclusionUnitsBulkAdditionJobs:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveExclusionUnitsBulkAdditionJobs from solutions
      description: The list of bulk addition jobs for drive exclusion units in the tenant.
      operationId: solutions.backupRestore.ListDriveExclusionUnitsBulkAdditionJobs
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveExclusionUnitsBulkAdditionJobCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to driveExclusionUnitsBulkAdditionJobs for solutions
      operationId: solutions.backupRestore.CreateDriveExclusionUnitsBulkAdditionJobs
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveExclusionUnitsBulkAdditionJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveExclusionUnitsBulkAdditionJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/driveExclusionUnitsBulkAdditionJobs/{driveExclusionUnitsBulkAdditionJob-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveExclusionUnitsBulkAdditionJobs from solutions
      description: The list of bulk addition jobs for drive exclusion units in the tenant.
      operationId: solutions.backupRestore.GetDriveExclusionUnitsBulkAdditionJobs
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveExclusionUnitsBulkAdditionJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property driveExclusionUnitsBulkAdditionJobs in solutions
      operationId: solutions.backupRestore.UpdateDriveExclusionUnitsBulkAdditionJobs
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveExclusionUnitsBulkAdditionJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveExclusionUnitsBulkAdditionJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property driveExclusionUnitsBulkAdditionJobs for solutions
      operationId: solutions.backupRestore.DeleteDriveExclusionUnitsBulkAdditionJobs
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/driveExclusionUnitsBulkAdditionJobs/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.driveExclusionUnitsBulkAdditionJobs.GetCount-b90f
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/driveInclusionRules:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveInclusionRules from solutions
      description: The list of drive inclusion rules applied to the tenant.
      operationId: solutions.backupRestore.ListDriveInclusionRules
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveProtectionRuleCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to driveInclusionRules for solutions
      operationId: solutions.backupRestore.CreateDriveInclusionRules
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/driveInclusionRules/{driveProtectionRule-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveInclusionRules from solutions
      description: The list of drive inclusion rules applied to the tenant.
      operationId: solutions.backupRestore.GetDriveInclusionRules
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property driveInclusionRules in solutions
      operationId: solutions.backupRestore.UpdateDriveInclusionRules
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property driveInclusionRules for solutions
      operationId: solutions.backupRestore.DeleteDriveInclusionRules
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/driveInclusionRules/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.driveInclusionRules.GetCount-d025
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/driveProtectionUnits:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveProtectionUnits from solutions
      description: The list of drive protection units in the tenant.
      operationId: solutions.backupRestore.ListDriveProtectionUnits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveProtectionUnitCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to driveProtectionUnits for solutions
      operationId: solutions.backupRestore.CreateDriveProtectionUnits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/driveProtectionUnits/{driveProtectionUnit-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveProtectionUnits from solutions
      description: The list of drive protection units in the tenant.
      operationId: solutions.backupRestore.GetDriveProtectionUnits
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property driveProtectionUnits in solutions
      operationId: solutions.backupRestore.UpdateDriveProtectionUnits
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property driveProtectionUnits for solutions
      operationId: solutions.backupRestore.DeleteDriveProtectionUnits
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/driveProtectionUnits/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.driveProtectionUnits.GetCount-d596
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/driveProtectionUnitsBulkAdditionJobs:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveProtectionUnitsBulkAdditionJobs from solutions
      operationId: solutions.backupRestore.ListDriveProtectionUnitsBulkAdditionJobs
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveProtectionUnitsBulkAdditionJobCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to driveProtectionUnitsBulkAdditionJobs for solutions
      operationId: solutions.backupRestore.CreateDriveProtectionUnitsBulkAdditionJobs
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/driveProtectionUnitsBulkAdditionJobs/{driveProtectionUnitsBulkAdditionJob-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveProtectionUnitsBulkAdditionJobs from solutions
      operationId: solutions.backupRestore.GetDriveProtectionUnitsBulkAdditionJobs
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property driveProtectionUnitsBulkAdditionJobs in solutions
      operationId: solutions.backupRestore.UpdateDriveProtectionUnitsBulkAdditionJobs
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property driveProtectionUnitsBulkAdditionJobs for solutions
      operationId: solutions.backupRestore.DeleteDriveProtectionUnitsBulkAdditionJobs
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/driveProtectionUnitsBulkAdditionJobs/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.driveProtectionUnitsBulkAdditionJobs.GetCount-ebcb
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/emailNotificationsSetting:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get emailNotificationsSetting
      description: Read the properties and relationships of an emailNotificationsSetting object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/emailnotificationssetting-get?view=graph-rest-beta
      operationId: solutions.backupRestore.GetEmailNotificationsSetting
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.emailNotificationsSetting'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update emailNotificationsSetting
      description: Update the properties of an emailNotificationsSetting object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/emailnotificationssetting-update?view=graph-rest-beta
      operationId: solutions.backupRestore.UpdateEmailNotificationsSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.emailNotificationsSetting'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.emailNotificationsSetting'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property emailNotificationsSetting for solutions
      operationId: solutions.backupRestore.DeleteEmailNotificationsSetting
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/exchangeProtectionPolicies:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get exchangeProtectionPolicies from solutions
      description: The list of Exchange protection policies in the tenant.
      operationId: solutions.backupRestore.ListExchangeProtectionPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.exchangeProtectionPolicyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create exchangeProtectionPolicy
      description: Create a protection policy for the Exchange service in a Microsoft 365 tenant. The policy is set to inactive when it is created. Users can also provide a list of protection units under the policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/backuprestoreroot-post-exchangeprotectionpolicies?view=graph-rest-beta
      operationId: solutions.backupRestore.CreateExchangeProtectionPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get exchangeProtectionPolicies from solutions
      description: The list of Exchange protection policies in the tenant.
      operationId: solutions.backupRestore.GetExchangeProtectionPolicies
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update exchangeProtectionPolicy
      description: Update an Exchange protection policy. This method adds a mailboxprotectionunit to or removes it from the protection policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangeprotectionpolicy-update?view=graph-rest-beta
      operationId: solutions.backupRestore.UpdateExchangeProtectionPolicies
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property exchangeProtectionPolicies for solutions
      operationId: solutions.backupRestore.DeleteExchangeProtectionPolicies
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxExclusionUnits':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxExclusionUnits
      description: Get a list of mailbox exclusion units associated with an Exchange protection policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangeprotectionpolicy-list-mailboxexclusionunits?view=graph-rest-beta
      operationId: solutions.backupRestore.exchangeProtectionPolicies.ListMailboxExclusionUnits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxExclusionUnitCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxExclusionUnits/{mailboxExclusionUnit-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxExclusionUnit
      description: Get a mailbox exclusion unit associated with an Exchange protection policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailboxexclusionunit-get?view=graph-rest-beta
      operationId: solutions.backupRestore.exchangeProtectionPolicies.GetMailboxExclusionUnits
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxExclusionUnit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxExclusionUnits/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.exchangeProtectionPolicies.mailboxExclusionUnits.GetCount-25ef
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxExclusionUnitsBulkAdditionJobs':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxExclusionUnitsBulkAdditionJobs
      description: Get a list of mailbox exclusion units bulk addition jobs associated with an Exchange protection policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangeprotectionpolicy-list-mailboxexclusionunitsbulkadditionjobs?view=graph-rest-beta
      operationId: solutions.backupRestore.exchangeProtectionPolicies.ListMailboxExclusionUnitsBulkAdditionJobs
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxExclusionUnitsBulkAdditionJobCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxExclusionUnitsBulkAdditionJobs/{mailboxExclusionUnitsBulkAdditionJob-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxExclusionUnitsBulkAdditionJob
      description: Get a mailbox exclusion units bulk addition job associated with an Exchange protection policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailboxexclusionunitsbulkadditionjob-get?view=graph-rest-beta
      operationId: solutions.backupRestore.exchangeProtectionPolicies.GetMailboxExclusionUnitsBulkAdditionJobs
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxExclusionUnitsBulkAdditionJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxExclusionUnitsBulkAdditionJobs/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.exchangeProtectionPolicies.mailboxExclusionUnitsBulkAdditionJobs.GetCount-d080
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxInclusionRules':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxInclusionRules
      description: 'Get a list of mailboxProtectionRule objects associated with an exchangeProtectionPolicy. An inclusion rule indicates that a protection policy should contain protection units that match the specified rule criteria. The initial status of a protection rule upon creation is active. After the rule is applied, the state is either completed or completedWithErrors.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangeprotectionpolicy-list-mailboxinclusionrules?view=graph-rest-beta
      operationId: solutions.backupRestore.exchangeProtectionPolicies.ListMailboxInclusionRules
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxProtectionRuleCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxInclusionRules/{mailboxProtectionRule-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get protectionRuleBase
      description: 'Get a protection rule that''s associated with a protection policy. You can use this operation to get mailbox, drive, and site protection rules. An inclusion rule indicates that a protection policy should contain protection units that match the specified rule criteria. The initial status of a protection rule upon creation is active. After the rule is applied, the state is either completed or completedWithErrors.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/protectionrulebase-get?view=graph-rest-beta
      operationId: solutions.backupRestore.exchangeProtectionPolicies.GetMailboxInclusionRules
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionRule'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxInclusionRules/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.exchangeProtectionPolicies.mailboxInclusionRules.GetCount-2c50
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnits':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnits from solutions
      description: The protection units (mailboxes) that are  protected under the Exchange protection policy.
      operationId: solutions.backupRestore.exchangeProtectionPolicies.ListMailboxProtectionUnits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxProtectionUnitCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnits/{mailboxProtectionUnit-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnits from solutions
      description: The protection units (mailboxes) that are  protected under the Exchange protection policy.
      operationId: solutions.backupRestore.exchangeProtectionPolicies.GetMailboxProtectionUnits
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnits/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.exchangeProtectionPolicies.mailboxProtectionUnits.GetCount-555b
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnitsBulkAdditionJobs':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxProtectionUnitsBulkAdditionJobs
      description: Get a list of mailboxProtectionUnitsBulkAdditionJobs objects associated with an exchangeProtectionPolicy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangeprotectionpolicy-list-mailboxprotectionunitsbulkadditionjobs?view=graph-rest-beta
      operationId: solutions.backupRestore.exchangeProtectionPolicies.ListMailboxProtectionUnitsBulkAdditionJobs
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxProtectionUnitsBulkAdditionJobCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnitsBulkAdditionJobs/{mailboxProtectionUnitsBulkAdditionJob-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnitsBulkAdditionJob
      description: Get a mailboxProtectionUnitsBulkAdditionJob object by the ID associated with an exchangeProtectionPolicy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailboxprotectionunitsbulkadditionjobs-get?view=graph-rest-beta
      operationId: solutions.backupRestore.exchangeProtectionPolicies.GetMailboxProtectionUnitsBulkAdditionJobs
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnitsBulkAdditionJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnitsBulkAdditionJobs/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.exchangeProtectionPolicies.mailboxProtectionUnitsBulkAdditionJobs.GetCount-c135
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/exchangeProtectionPolicies/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.exchangeProtectionPolicies.GetCount-f24d
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/exchangeRestoreSessions:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get exchangeRestoreSessions from solutions
      description: The list of Exchange restore sessions available in the tenant.
      operationId: solutions.backupRestore.ListExchangeRestoreSessions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.exchangeRestoreSessionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to exchangeRestoreSessions for solutions
      operationId: solutions.backupRestore.CreateExchangeRestoreSessions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get exchangeRestoreSessions from solutions
      description: The list of Exchange restore sessions available in the tenant.
      operationId: solutions.backupRestore.GetExchangeRestoreSessions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update exchangeRestoreSession
      description: Update the properties of an exchangeRestoreSession.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangerestoresession-update?view=graph-rest-beta
      operationId: solutions.backupRestore.UpdateExchangeRestoreSessions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property exchangeRestoreSessions for solutions
      operationId: solutions.backupRestore.DeleteExchangeRestoreSessions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/granularMailboxRestoreArtifacts':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get granularMailboxRestoreArtifacts from solutions
      operationId: solutions.backupRestore.exchangeRestoreSessions.ListGranularMailboxRestoreArtifacts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.granularMailboxRestoreArtifactCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to granularMailboxRestoreArtifacts for solutions
      operationId: solutions.backupRestore.exchangeRestoreSessions.CreateGranularMailboxRestoreArtifacts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/granularMailboxRestoreArtifacts/{granularMailboxRestoreArtifact-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get granularMailboxRestoreArtifacts from solutions
      operationId: solutions.backupRestore.exchangeRestoreSessions.GetGranularMailboxRestoreArtifacts
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property granularMailboxRestoreArtifacts in solutions
      operationId: solutions.backupRestore.exchangeRestoreSessions.UpdateGranularMailboxRestoreArtifacts
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property granularMailboxRestoreArtifacts for solutions
      operationId: solutions.backupRestore.exchangeRestoreSessions.DeleteGranularMailboxRestoreArtifacts
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/granularMailboxRestoreArtifacts/{granularMailboxRestoreArtifact-id}/restorePoint':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get restorePoint from solutions
      description: Represents the date and time when an artifact is protected by a protectionPolicy and can be restored.
      operationId: solutions.backupRestore.exchangeRestoreSessions.granularMailboxRestoreArtifacts.GetRestorePoint
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restorePoint'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/granularMailboxRestoreArtifacts/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.exchangeRestoreSessions.granularMailboxRestoreArtifacts.GetCount-4d23
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifacts':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxRestoreArtifacts
      description: Get a list of the mailboxRestoreArtifact objects that are associated with an exchangeRestoreSession in a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangerestoresession-list-mailboxrestoreartifacts?view=graph-rest-beta
      operationId: solutions.backupRestore.exchangeRestoreSessions.ListMailboxRestoreArtifacts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxRestoreArtifactCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to mailboxRestoreArtifacts for solutions
      operationId: solutions.backupRestore.exchangeRestoreSessions.CreateMailboxRestoreArtifacts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifacts/{mailboxRestoreArtifact-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxRestoreArtifacts from solutions
      description: A collection of restore points and destination details that can be used to restore Exchange mailboxes.
      operationId: solutions.backupRestore.exchangeRestoreSessions.GetMailboxRestoreArtifacts
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property mailboxRestoreArtifacts in solutions
      operationId: solutions.backupRestore.exchangeRestoreSessions.UpdateMailboxRestoreArtifacts
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property mailboxRestoreArtifacts for solutions
      operationId: solutions.backupRestore.exchangeRestoreSessions.DeleteMailboxRestoreArtifacts
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifacts/{mailboxRestoreArtifact-id}/restorePoint':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get restorePoint from solutions
      description: Represents the date and time when an artifact is protected by a protectionPolicy and can be restored.
      operationId: solutions.backupRestore.exchangeRestoreSessions.mailboxRestoreArtifacts.GetRestorePoint
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restorePoint'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifacts/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solutions.backupRestore.exchangeRestoreSessions.mailboxRestoreArtifacts.GetCount-5e6f
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifactsBulkAdditionRequests':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxRestoreArtifactsBulkAdditionRequests
      description: Get a list of the maiboxRestoreArtifactsBulkAdditionRequest objects associated with an exchangeRestoreSession. The mailboxes property is deliberately omitted from the response body in order to limit the response size.
[...]
