openapi: 3.0.4
info:
  title: Bookings
  version: beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /bookingBusinesses:
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Get entities from bookingBusinesses
      operationId: bookingBusinesses.bookingBusiness.ListBookingBusiness
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingBusinessCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Add new entity to bookingBusinesses
      operationId: bookingBusinesses.bookingBusiness.CreateBookingBusiness
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}':
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Get entity from bookingBusinesses by key
      description: Represents a Microsoft Bookings Business.
      operationId: bookingBusinesses.bookingBusiness.GetBookingBusiness
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Update entity in bookingBusinesses
      operationId: bookingBusinesses.bookingBusiness.UpdateBookingBusiness
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Delete entity from bookingBusinesses
      operationId: bookingBusinesses.bookingBusiness.DeleteBookingBusiness
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get appointments from bookingBusinesses
      description: All the appointments of this business. Read-only. Nullable.
      operationId: bookingBusinesses.ListAppointments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Create new navigation property to appointments for bookingBusinesses
      operationId: bookingBusinesses.CreateAppointments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get appointments from bookingBusinesses
      description: All the appointments of this business. Read-only. Nullable.
      operationId: bookingBusinesses.GetAppointments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Update the navigation property appointments in bookingBusinesses
      operationId: bookingBusinesses.UpdateAppointments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Delete navigation property appointments for bookingBusinesses
      operationId: bookingBusinesses.DeleteAppointments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}/cancel':
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-beta
      operationId: bookingBusinesses.bookingBusiness.appointments.bookingAppointment.cancel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/appointments/$count':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get the number of the resource
      operationId: bookingBusinesses.appointments.GetCount-2f19
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/calendarView':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get calendarView from bookingBusinesses
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      operationId: bookingBusinesses.ListCalendarView
      parameters:
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Create new navigation property to calendarView for bookingBusinesses
      operationId: bookingBusinesses.CreateCalendarView
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get calendarView from bookingBusinesses
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      operationId: bookingBusinesses.GetCalendarView
      parameters:
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Update the navigation property calendarView in bookingBusinesses
      operationId: bookingBusinesses.UpdateCalendarView
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Delete navigation property calendarView for bookingBusinesses
      operationId: bookingBusinesses.DeleteCalendarView
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}/cancel':
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-beta
      operationId: bookingBusinesses.bookingBusiness.calendarView.bookingAppointment.cancel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/$count':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get the number of the resource
      operationId: bookingBusinesses.calendarView.GetCount-fa3d
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/customers':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Get customers from bookingBusinesses
      description: All the customers of this business. Read-only. Nullable.
      operationId: bookingBusinesses.ListCustomers
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomerCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Create new navigation property to customers for bookingBusinesses
      operationId: bookingBusinesses.CreateCustomers
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customers/{bookingCustomer-id}':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Get customers from bookingBusinesses
      description: All the customers of this business. Read-only. Nullable.
      operationId: bookingBusinesses.GetCustomers
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Update the navigation property customers in bookingBusinesses
      operationId: bookingBusinesses.UpdateCustomers
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Delete navigation property customers for bookingBusinesses
      operationId: bookingBusinesses.DeleteCustomers
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customers/$count':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Get the number of the resource
      operationId: bookingBusinesses.customers.GetCount-f551
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/customQuestions':
    get:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Get customQuestions from bookingBusinesses
      description: All custom questions of this business.
      operationId: bookingBusinesses.ListCustomQuestions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomQuestionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Create new navigation property to customQuestions for bookingBusinesses
      operationId: bookingBusinesses.CreateCustomQuestions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customQuestions/{bookingCustomQuestion-id}':
    get:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Get customQuestions from bookingBusinesses
      description: All custom questions of this business.
      operationId: bookingBusinesses.GetCustomQuestions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Update the navigation property customQuestions in bookingBusinesses
      operationId: bookingBusinesses.UpdateCustomQuestions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Delete navigation property customQuestions for bookingBusinesses
      operationId: bookingBusinesses.DeleteCustomQuestions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customQuestions/$count':
    get:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Get the number of the resource
      operationId: bookingBusinesses.customQuestions.GetCount-90cf
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/getStaffAvailability':
    post:
      tags:
        - bookingBusinesses.bookingBusiness.Actions
      summary: Invoke action getStaffAvailability
      description: Get the availability information of staff members of a Microsoft Bookings calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-getstaffavailability?view=graph-rest-beta
      operationId: bookingBusinesses.bookingBusiness.getStaffAvailability
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                staffIds:
                  type: array
                  items:
                    type: string
                startDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                endDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.staffAvailabilityItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/bookingBusinesses/{bookingBusiness-id}/publish':
    post:
      tags:
        - bookingBusinesses.bookingBusiness.Actions
      summary: Invoke action publish
      description: 'Make the scheduling page of this business available to external customers. Set the isPublished property to true, and publicUrl property to the URL of the scheduling page.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-publish?view=graph-rest-beta
      operationId: bookingBusinesses.bookingBusiness.publish
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/unpublish':
    post:
      tags:
        - bookingBusinesses.bookingBusiness.Actions
      summary: Invoke action unpublish
      description: 'Make the scheduling page of this business not available to external customers. Set the isPublished property to false, and publicUrl property to null.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-unpublish?view=graph-rest-beta
      operationId: bookingBusinesses.bookingBusiness.unpublish
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/services':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: Get services from bookingBusinesses
      description: All the services offered by this business. Read-only. Nullable.
      operationId: bookingBusinesses.ListServices
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingServiceCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingService
      summary: Create new navigation property to services for bookingBusinesses
      operationId: bookingBusinesses.CreateServices
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/services/{bookingService-id}':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: Get services from bookingBusinesses
      description: All the services offered by this business. Read-only. Nullable.
      operationId: bookingBusinesses.GetServices
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingService
      summary: Update the navigation property services in bookingBusinesses
      operationId: bookingBusinesses.UpdateServices
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingService
      summary: Delete navigation property services for bookingBusinesses
      operationId: bookingBusinesses.DeleteServices
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/services/$count':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: Get the number of the resource
      operationId: bookingBusinesses.services.GetCount-e71d
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Get staffMembers from bookingBusinesses
      description: All the staff members that provide services in this business. Read-only. Nullable.
      operationId: bookingBusinesses.ListStaffMembers
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingStaffMemberCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Create new navigation property to staffMembers for bookingBusinesses
      operationId: bookingBusinesses.CreateStaffMembers
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers/{bookingStaffMember-id}':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Get staffMembers from bookingBusinesses
      description: All the staff members that provide services in this business. Read-only. Nullable.
      operationId: bookingBusinesses.GetStaffMembers
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Update the navigation property staffMembers in bookingBusinesses
      operationId: bookingBusinesses.UpdateStaffMembers
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Delete navigation property staffMembers for bookingBusinesses
      operationId: bookingBusinesses.DeleteStaffMembers
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers/$count':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Get the number of the resource
      operationId: bookingBusinesses.staffMembers.GetCount-2251
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /bookingBusinesses/$count:
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Get the number of the resource
      operationId: bookingBusinesses.GetCount-011d
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /bookingCurrencies:
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Get entities from bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency.ListBookingCurrency
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCurrencyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Add new entity to bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency.CreateBookingCurrency
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingCurrencies/{bookingCurrency-id}':
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Get entity from bookingCurrencies by key
      operationId: bookingCurrencies.bookingCurrency.GetBookingCurrency
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Update entity in bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency.UpdateBookingCurrency
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Delete entity from bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency.DeleteBookingCurrency
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /bookingCurrencies/$count:
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Get the number of the resource
      operationId: bookingCurrencies.GetCount-60a7
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /solutions:
    get:
      tags:
        - solutions.solutionsRoot
      summary: Get solutions
      operationId: solutions.solutionsRoot.GetSolutionsRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.solutionsRoot
      summary: Update solutions
      operationId: solutions.solutionsRoot.UpdateSolutionsRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/bookingBusinesses:
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingBusinesses from solutions
      description: A collection of businesses in Microsoft Bookings. Read-only. Nullable.
      operationId: solutions.ListBookingBusinesses
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingBusinessCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to bookingBusinesses for solutions
      operationId: solutions.CreateBookingBusinesses
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingBusinesses from solutions
      description: A collection of businesses in Microsoft Bookings. Read-only. Nullable.
      operationId: solutions.GetBookingBusinesses
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update the navigation property bookingBusinesses in solutions
      operationId: solutions.UpdateBookingBusinesses
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingBusiness
      description: Delete a bookingBusiness object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-delete?view=graph-rest-beta
      operationId: solutions.DeleteBookingBusinesses
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingAppointment
      description: Get the properties and relationships of a bookingAppointment object in the specified bookingBusiness. The start and end properties are always returned in UTC.
      operationId: solutions.bookingBusinesses.ListAppointments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to appointments for solutions
      operationId: solutions.bookingBusinesses.CreateAppointments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingAppointment
      description: Get the properties and relationships of a bookingAppointment object in the specified bookingBusiness. The start and end properties are always returned in UTC.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-get?view=graph-rest-beta
      operationId: solutions.bookingBusinesses.GetAppointments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update bookingAppointment
      description: Update the properties of a bookingAppointment object in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-update?view=graph-rest-beta
      operationId: solutions.bookingBusinesses.UpdateAppointments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingAppointment
      description: Delete a bookingAppointment in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-delete?view=graph-rest-beta
      operationId: solutions.bookingBusinesses.DeleteAppointments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}/cancel':
    post:
      tags:
        - solutions.bookingBusiness
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-beta
      operationId: solutions.bookingBusinesses.bookingBusiness.appointments.bookingAppointment.cancel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solutions.bookingBusinesses.appointments.GetCount-205a
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get calendarView from solutions
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      operationId: solutions.bookingBusinesses.ListCalendarView
      parameters:
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to calendarView for solutions
      operationId: solutions.bookingBusinesses.CreateCalendarView
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get calendarView from solutions
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      operationId: solutions.bookingBusinesses.GetCalendarView
      parameters:
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update the navigation property calendarView in solutions
      operationId: solutions.bookingBusinesses.UpdateCalendarView
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete navigation property calendarView for solutions
      operationId: solutions.bookingBusinesses.DeleteCalendarView
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}/cancel':
    post:
      tags:
        - solutions.bookingBusiness
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-beta
      operationId: solutions.bookingBusinesses.bookingBusiness.calendarView.bookingAppointment.cancel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solutions.bookingBusinesses.calendarView.GetCount-f3a3
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customers':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get customers from solutions
      description: All the customers of this business. Read-only. Nullable.
      operationId: solutions.bookingBusinesses.ListCustomers
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomerCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to customers for solutions
      operationId: solutions.bookingBusinesses.CreateCustomers
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customers/{bookingCustomer-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get customers from solutions
      description: All the customers of this business. Read-only. Nullable.
      operationId: solutions.bookingBusinesses.GetCustomers
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update the navigation property customers in solutions
      operationId: solutions.bookingBusinesses.UpdateCustomers
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete navigation property customers for solutions
      operationId: solutions.bookingBusinesses.DeleteCustomers
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customers/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solutions.bookingBusinesses.customers.GetCount-1771
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customQuestions':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get customQuestions from solutions
      description: All custom questions of this business.
      operationId: solutions.bookingBusinesses.ListCustomQuestions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomQuestionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to customQuestions for solutions
      operationId: solutions.bookingBusinesses.CreateCustomQuestions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customQuestions/{bookingCustomQuestion-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get customQuestions from solutions
      description: All custom questions of this business.
      operationId: solutions.bookingBusinesses.GetCustomQuestions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update the navigation property customQuestions in solutions
      operationId: solutions.bookingBusinesses.UpdateCustomQuestions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete navigation property customQuestions for solutions
      operationId: solutions.bookingBusinesses.DeleteCustomQuestions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customQuestions/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solutions.bookingBusinesses.customQuestions.GetCount-385a
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/getStaffAvailability':
    post:
      tags:
        - solutions.bookingBusiness
      summary: Invoke action getStaffAvailability
      description: Get the availability information of staff members of a Microsoft Bookings calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-getstaffavailability?view=graph-rest-beta
      operationId: solutions.bookingBusinesses.bookingBusiness.getStaffAvailability
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                staffIds:
                  type: array
                  items:
                    type: string
                startDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                endDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.staffAvailabilityItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/solutions/bookingBusinesses/{bookingBusiness-id}/publish':
    post:
      tags:
        - solutions.bookingBusiness
      summary: Invoke action publish
      description: 'Make the scheduling page of this business available to external customers. Set the isPublished property to true, and publicUrl property to the URL of the scheduling page.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-publish?view=graph-rest-beta
      operationId: solutions.bookingBusinesses.bookingBusiness.publish
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/bookingBusinesses/{bookingBusiness-id}/unpublish':
    post:
      tags:
        - solutions.bookingBusiness
      summary: Invoke action unpublish
      description: 'Make the scheduling page of this business not available to external customers. Set the isPublished property to false, and publicUrl property to null.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-unpublish?view=graph-rest-beta
      operationId: solutions.bookingBusinesses.bookingBusiness.unpublish
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/bookingBusinesses/{bookingBusiness-id}/services':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get services from solutions
      description: All the services offered by this business. Read-only. Nullable.
      operationId: solutions.bookingBusinesses.ListServices
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingServiceCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to services for solutions
      operationId: solutions.bookingBusinesses.CreateServices
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/services/{bookingService-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get services from solutions
      description: All the services offered by this business. Read-only. Nullable.
      operationId: solutions.bookingBusinesses.GetServices
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update the navigation property services in solutions
      operationId: solutions.bookingBusinesses.UpdateServices
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete navigation property services for solutions
      operationId: solutions.bookingBusinesses.DeleteServices
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/services/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solutions.bookingBusinesses.services.GetCount-35c3
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/staffMembers':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get staffMembers from solutions
      description: All the staff members that provide services in this business. Read-only. Nullable.
      operationId: solutions.bookingBusinesses.ListStaffMembers
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingStaffMemberCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to staffMembers for solutions
      operationId: solutions.bookingBusinesses.CreateStaffMembers
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/staffMembers/{bookingStaffMember-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get staffMembers from solutions
      description: All the staff members that provide services in this business. Read-only. Nullable.
      operationId: solutions.bookingBusinesses.GetStaffMembers
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
[...]
