openapi: 3.0.4
info:
  title: BusinessScenario
  version: beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /solutions/businessScenarios:
    get:
      tags:
        - solutions.businessScenario
      summary: List businessScenarios
      description: Get a list of all businessScenario objects in an organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/solutionsroot-list-businessscenarios?view=graph-rest-beta
      operationId: solutions.ListBusinessScenarios
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.businessScenarioCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.businessScenario
      summary: Create businessScenario
      description: Create a new businessScenario object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/solutionsroot-post-businessscenarios?view=graph-rest-beta
      operationId: solutions.CreateBusinessScenarios
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessScenario'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenario'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}':
    get:
      tags:
        - solutions.businessScenario
      summary: Get businessScenario
      description: Read the properties and relationships of a businessScenario object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenario-get?view=graph-rest-beta
      operationId: solutions.GetBusinessScenarios
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenario'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update businessScenario
      description: Update the properties of a businessScenario object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenario-update?view=graph-rest-beta
      operationId: solutions.UpdateBusinessScenarios
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessScenario'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenario'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete businessScenario
      description: Delete a businessScenario object. The deletion of a scenario causes all data associated with the scenario to be deleted.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenario-delete?view=graph-rest-beta
      operationId: solutions.DeleteBusinessScenarios
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner':
    get:
      tags:
        - solutions.businessScenario
      summary: Get businessScenarioPlanner
      description: Read the properties and relationships of a businessScenarioPlanner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenarioplanner-get?view=graph-rest-beta
      operationId: solutions.businessScenarios.GetPlanner
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenarioPlanner'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property planner in solutions
      operationId: solutions.businessScenarios.UpdatePlanner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessScenarioPlanner'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenarioPlanner'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property planner for solutions
      operationId: solutions.businessScenarios.DeletePlanner
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/getPlan':
    post:
      tags:
        - solutions.businessScenario
      summary: Invoke action getPlan
      description: 'Get information about the plannerPlan mapped to a given target. If a plannerPlan doesn''t exist for the specified target at the time of the request, a new plan will be created for the businessScenario.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenarioplanner-getplan?view=graph-rest-beta
      operationId: solutions.businessScenarios.businessScenario.planner.getPlan
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.businessScenarioTaskTargetBase'
                    - type: object
                      nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.businessScenarioPlanReference'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: action
  '/solutions/businessScenarios/{businessScenario-id}/planner/planConfiguration':
    get:
      tags:
        - solutions.businessScenario
      summary: Get plannerPlanConfiguration
      description: Read the properties and relationships of a plannerPlanConfiguration object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerplanconfiguration-get?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.GetPlanConfiguration
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update plannerPlanConfiguration
      description: Update the properties of a plannerPlanConfiguration object and its plannerPlanConfigurationLocalization collection for a businessScenario.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerplanconfiguration-update?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.UpdatePlanConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property planConfiguration for solutions
      operationId: solutions.businessScenarios.planner.DeletePlanConfiguration
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/planConfiguration/localizations':
    get:
      tags:
        - solutions.businessScenario
      summary: List plannerPlanConfigurationLocalizations
      description: Get a list of the plannerPlanConfigurationLocalization objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerplanconfiguration-list-localizations?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.planConfiguration.ListLocalizations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerPlanConfigurationLocalizationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.businessScenario
      summary: Create new navigation property to localizations for solutions
      operationId: solutions.businessScenarios.planner.planConfiguration.CreateLocalizations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanConfigurationLocalization'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanConfigurationLocalization'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/planConfiguration/localizations/{plannerPlanConfigurationLocalization-id}':
    get:
      tags:
        - solutions.businessScenario
      summary: Get localizations from solutions
      description: Localized names for the plan configuration.
      operationId: solutions.businessScenarios.planner.planConfiguration.GetLocalizations
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanConfigurationLocalization'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property localizations in solutions
      operationId: solutions.businessScenarios.planner.planConfiguration.UpdateLocalizations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanConfigurationLocalization'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanConfigurationLocalization'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property localizations for solutions
      operationId: solutions.businessScenarios.planner.planConfiguration.DeleteLocalizations
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/planConfiguration/localizations/$count':
    get:
      tags:
        - solutions.businessScenario
      summary: Get the number of the resource
      operationId: solutions.businessScenarios.planner.planConfiguration.localizations.GetCount-2252
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
  '/solutions/businessScenarios/{businessScenario-id}/planner/taskConfiguration':
    get:
      tags:
        - solutions.businessScenario
      summary: Get plannerTaskConfiguration
      description: Read the properties and relationships of a plannerTaskConfiguration object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannertaskconfiguration-get?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.GetTaskConfiguration
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update plannerTaskConfiguration
      description: Update the properties of a plannerTaskConfiguration object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannertaskconfiguration-update?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.UpdateTaskConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property taskConfiguration for solutions
      operationId: solutions.businessScenarios.planner.DeleteTaskConfiguration
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks':
    get:
      tags:
        - solutions.businessScenario
      summary: List businessScenarioTasks
      description: Get a list of the businessScenarioTask objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenarioplanner-list-tasks?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.ListTasks
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.businessScenarioTaskCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.businessScenario
      summary: Create businessScenarioTask
      description: Create a new businessScenarioTask object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenarioplanner-post-tasks?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.CreateTasks
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessScenarioTask'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenarioTask'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}':
    get:
      tags:
        - solutions.businessScenario
      summary: Get businessScenarioTask
      description: Read the properties and relationships of a businessScenarioTask object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenariotask-get?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.GetTasks
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenarioTask'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update businessScenarioTask
      description: Update the properties of a businessScenarioTask object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenariotask-update?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.UpdateTasks
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessScenarioTask'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenarioTask'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete businessScenarioTask
      description: Delete a businessScenarioTask object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenarioplanner-delete-tasks?view=graph-rest-beta
      operationId: solutions.businessScenarios.planner.DeleteTasks
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - solutions.businessScenario
      summary: Get assignedToTaskBoardFormat from solutions
      description: Read-only. Nullable. Used to render the task correctly in the task board view when grouped by assignedTo.
      operationId: solutions.businessScenarios.planner.tasks.GetAssignedToTaskBoardFormat
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property assignedToTaskBoardFormat in solutions
      operationId: solutions.businessScenarios.planner.tasks.UpdateAssignedToTaskBoardFormat
      parameters:
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property assignedToTaskBoardFormat for solutions
      operationId: solutions.businessScenarios.planner.tasks.DeleteAssignedToTaskBoardFormat
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - solutions.businessScenario
      summary: Get bucketTaskBoardFormat from solutions
      description: Read-only. Nullable. Used to render the task correctly in the task board view when grouped by bucket.
      operationId: solutions.businessScenarios.planner.tasks.GetBucketTaskBoardFormat
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property bucketTaskBoardFormat in solutions
      operationId: solutions.businessScenarios.planner.tasks.UpdateBucketTaskBoardFormat
      parameters:
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property bucketTaskBoardFormat for solutions
      operationId: solutions.businessScenarios.planner.tasks.DeleteBucketTaskBoardFormat
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}/details':
    get:
      tags:
        - solutions.businessScenario
      summary: Get details from solutions
      description: Read-only. Nullable. More details about the task.
      operationId: solutions.businessScenarios.planner.tasks.GetDetails
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property details in solutions
      operationId: solutions.businessScenarios.planner.tasks.UpdateDetails
      parameters:
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property details for solutions
      operationId: solutions.businessScenarios.planner.tasks.DeleteDetails
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}/messages':
    get:
      tags:
        - solutions.businessScenario
      summary: Get messages from solutions
      description: Read-only. Nullable. Chat messages associated with the task.
      operationId: solutions.businessScenarios.planner.tasks.ListMessages
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerTaskChatMessageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.businessScenario
      summary: Create new navigation property to messages for solutions
      operationId: solutions.businessScenarios.planner.tasks.CreateMessages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskChatMessage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskChatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}/messages/{plannerTaskChatMessage-id}':
    get:
      tags:
        - solutions.businessScenario
      summary: Get messages from solutions
      description: Read-only. Nullable. Chat messages associated with the task.
      operationId: solutions.businessScenarios.planner.tasks.GetMessages
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskChatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property messages in solutions
      operationId: solutions.businessScenarios.planner.tasks.UpdateMessages
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskChatMessage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskChatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property messages for solutions
      operationId: solutions.businessScenarios.planner.tasks.DeleteMessages
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}/messages/{plannerTaskChatMessage-id}/setReaction':
    post:
      tags:
        - solutions.businessScenario
      summary: Invoke action setReaction
      description: Set a reaction to a plannerTaskChatMessage for the current user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannertaskchatmessage-setreaction?view=graph-rest-beta
      operationId: solutions.businessScenarios.businessScenario.planner.tasks.businessScenarioTask.messages.plannerTaskChatMessage.setReaction
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reactionType:
                  type: string
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: action
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}/messages/{plannerTaskChatMessage-id}/unsetReaction':
    post:
      tags:
        - solutions.businessScenario
      summary: Invoke action unsetReaction
      description: Remove a reaction from a plannerTaskChatMessage for the current user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannertaskchatmessage-unsetreaction?view=graph-rest-beta
      operationId: solutions.businessScenarios.businessScenario.planner.tasks.businessScenarioTask.messages.plannerTaskChatMessage.unsetReaction
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reactionType:
                  type: string
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: action
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}/messages/$count':
    get:
      tags:
        - solutions.businessScenario
      summary: Get the number of the resource
      operationId: solutions.businessScenarios.planner.tasks.messages.GetCount-e6d5
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/{businessScenarioTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - solutions.businessScenario
      summary: Get progressTaskBoardFormat from solutions
      description: Read-only. Nullable. Used to render the task correctly in the task board view when grouped by progress.
      operationId: solutions.businessScenarios.planner.tasks.GetProgressTaskBoardFormat
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property progressTaskBoardFormat in solutions
      operationId: solutions.businessScenarios.planner.tasks.UpdateProgressTaskBoardFormat
      parameters:
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property progressTaskBoardFormat for solutions
      operationId: solutions.businessScenarios.planner.tasks.DeleteProgressTaskBoardFormat
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/tasks/$count':
    get:
      tags:
        - solutions.businessScenario
      summary: Get the number of the resource
      operationId: solutions.businessScenarios.planner.tasks.GetCount-40bc
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
  '/solutions/businessScenarios(uniqueName=''{uniqueName}'')':
    get:
      tags:
        - solutions.businessScenario
      summary: Get businessScenario
      description: Read the properties and relationships of a businessScenario object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenario-get?view=graph-rest-beta
      operationId: solutions.businessScenarios.GetByUniqueName
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenario'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update businessScenario
      description: Update the properties of a businessScenario object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenario-update?view=graph-rest-beta
      operationId: solutions.businessScenarios.UpdateByUniqueName
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessScenario'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenario'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete businessScenario
      description: Delete a businessScenario object. The deletion of a scenario causes all data associated with the scenario to be deleted.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/businessscenario-delete?view=graph-rest-beta
      operationId: solutions.businessScenarios.DeleteByUniqueName
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
      x-ms-docs-operation-type: operation
  /solutions/businessScenarios/$count:
    get:
      tags:
        - solutions.businessScenario
      summary: Get the number of the resource
      operationId: solutions.businessScenarios.GetCount-69a1
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-17'
        date: '2025-06-17'
        version: 2023-03/PrivatePreview:responderForm
components:
  schemas:
    microsoft.graph.businessScenario:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: businessScenario
          required:
            - '@odata.type'
          type: object
          properties:
            createdBy:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.identitySet'
                - type: object
                  nullable: true
              description: The identity of the user who created the scenario.
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time when the scenario was created. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
            displayName:
              type: string
              description: Display name of the scenario.
              nullable: true
            lastModifiedBy:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.identitySet'
                - type: object
                  nullable: true
              description: The identity of the user who last modified the scenario.
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time when the scenario was last modified. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
            ownerAppIds:
              type: array
              items:
                type: string
                nullable: true
              description: Identifiers of applications that are authorized to work with this scenario.
            uniqueName:
              type: string
              description: 'Unique name of the scenario. To avoid conflicts, the recommended value for the unique name is a reverse domain name format, owned by the author of the scenario. For example, a scenario authored by Contoso.com would have a unique name that starts with com.contoso.'
              nullable: true
            planner:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.businessScenarioPlanner'
                - type: object
                  nullable: true
              description: Planner content related to the scenario.
              x-ms-navigationProperty: true
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.businessScenario'
    microsoft.graph.businessScenarioPlanner:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: businessScenarioPlanner
          required:
            - '@odata.type'
          type: object
          properties:
            planConfiguration:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerPlanConfiguration'
                - type: object
                  nullable: true
              description: The configuration of Planner plans that will be created for the scenario.
              x-ms-navigationProperty: true
            taskConfiguration:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerTaskConfiguration'
                - type: object
                  nullable: true
              description: The configuration of Planner tasks that will be created for the scenario.
              x-ms-navigationProperty: true
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.businessScenarioTask'
              description: The Planner tasks for the scenario.
              x-ms-navigationProperty: true
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.businessScenarioPlanner'
    microsoft.graph.businessScenarioTaskTargetBase:
      title: businessScenarioTaskTargetBase
      required:
        - '@odata.type'
      type: object
      properties:
        taskTargetKind:
          $ref: '#/components/schemas/microsoft.graph.plannerTaskTargetKind'
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.businessScenarioGroupTarget': '#/components/schemas/microsoft.graph.businessScenarioGroupTarget'
    microsoft.graph.businessScenarioPlanReference:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: businessScenarioPlanReference
          required:
            - '@odata.type'
          type: object
          properties:
            title:
              type: string
              description: The title property of the plannerPlan.
              nullable: true
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.businessScenarioPlanReference'
    microsoft.graph.plannerPlanConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerPlanConfiguration
          required:
            - '@odata.type'
          type: object
          properties:
            buckets:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanConfigurationBucketDefinition'
              description: List the buckets that should be created in the plan.
            createdBy:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.identitySet'
                - type: object
                  nullable: true
              description: The identity of the creator of the plan configuration.
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time when the plan configuration was created. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
            defaultLanguage:
              type: string
              description: The language code for the default language to be used for the names of the objects created for the plan.
              nullable: true
            lastModifiedBy:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.identitySet'
                - type: object
                  nullable: true
              description: The identity of the user who last modified the plan configuration.
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time when the plan configuration was last modified. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
            localizations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanConfigurationLocalization'
              description: Localized names for the plan configuration.
              x-ms-navigationProperty: true
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.plannerPlanConfiguration'
    microsoft.graph.plannerPlanConfigurationLocalization:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerPlanConfigurationLocalization
          required:
            - '@odata.type'
          type: object
          properties:
            buckets:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanConfigurationBucketLocalization'
              description: Localized names for configured buckets in the plan configuration.
            languageTag:
              type: string
              description: The language code associated with the localized names in this object.
              nullable: true
            planTitle:
              type: string
              description: Localized title of the plan.
              nullable: true
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.plannerPlanConfigurationLocalization'
    microsoft.graph.plannerTaskConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerTaskConfiguration
          required:
            - '@odata.type'
          type: object
          properties:
            editPolicy:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerTaskPolicy'
                - type: object
                  nullable: true
              description: Policy configuration for tasks created for the businessScenario when they're being changed outside of the scenario.
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.plannerTaskConfiguration'
    microsoft.graph.businessScenarioTask:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerTask'
        - title: businessScenarioTask
          required:
            - '@odata.type'
          type: object
          properties:
            businessScenarioProperties:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.businessScenarioProperties'
                - type: object
                  nullable: true
              description: Scenario-specific properties of the task. externalObjectId and externalBucketId properties must be specified when creating a task.
            target:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.businessScenarioTaskTargetBase'
                - type: object
                  nullable: true
              description: Target of the task that specifies where the task should be placed. Must be specified when creating a task.
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.businessScenarioTask'
    microsoft.graph.plannerAssignedToTaskBoardTaskFormat:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerAssignedToTaskBoardTaskFormat
          required:
            - '@odata.type'
          type: object
          properties:
            orderHintsByAssignee:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerOrderHintsByAssignee'
                - type: object
                  nullable: true
              description: Dictionary of hints used to order tasks on the AssignedTo view of the Task Board. The key of each entry is one of the users the task is assigned to and the value is the order hint. The format of each value is defined as outlined here.
            unassignedOrderHint:
              type: string
              description: 'Hint value used to order the task on the AssignedTo view of the Task Board when the task isn''t assigned to anyone, or if the orderHintsByAssignee dictionary doesn''t provide an order hint for the user the task is assigned to. The format is defined as outlined here.'
              nullable: true
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
    microsoft.graph.plannerBucketTaskBoardTaskFormat:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerBucketTaskBoardTaskFormat
          required:
            - '@odata.type'
          type: object
          properties:
            orderHint:
              type: string
              description: 'Hint used to order tasks in the bucket view of the task board. For details about the supported format, see Using order hints in Planner.'
              nullable: true
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.plannerBucketTaskBoardTaskFormat'
    microsoft.graph.plannerTaskDetails:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerTaskDetails
          required:
            - '@odata.type'
          type: object
          properties:
            approvalAttachment:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerBaseApprovalAttachment'
                - type: object
                  nullable: true
              description: Detailed information about the approval that is attached to the task.
            checklist:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerChecklistItems'
                - type: object
                  nullable: true
              description: The collection of checklist items on the task.
            completionRequirements:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerTaskCompletionRequirementDetails'
                - type: object
                  nullable: true
              description: Contains detailed information about requirements on the task.
            description:
              type: string
              description: Description of the task.
              nullable: true
            forms:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerFormsDictionary'
                - type: object
                  nullable: true
              description: 'Read-only. Represents a dictionary of data about the forms associated with a task. Each entry in the dictionary is a key-value pair, and the value is a plannerFormReference object.'
            notes:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.itemBody'
                - type: object
                  nullable: true
              description: 'Rich text description of the task. To be used by HTML-aware clients. For backwards compatibility, a plain-text version of the HTML description will be synced to the ''description'' field. If this field hasn''t previously been set but ''description'' has been, the existing description is synchronized to ''notes'' with minimal whitespace-preserving HTML markup. Setting both ''description'' and ''notes'' is an error and will result in an exception.'
            previewType:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerPreviewType'
                - type: object
                  nullable: true
              description: 'This sets the type of preview that shows up on the task. The possible values are: automatic, noPreview, checklist, description, reference. When set to automatic the displayed preview is chosen by the app viewing the task.'
            references:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.plannerExternalReferences'
                - type: object
                  nullable: true
              description: The collection of references on the task.
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.plannerTaskDetails'
    microsoft.graph.plannerTaskChatMessage:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerTaskChatMessage
          required:
            - '@odata.type'
          type: object
          properties:
            content:
              type: string
              description: The content of the chat message. Supports plain text and sanitized HTML.
              nullable: true
            createdBy:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.identitySet'
                - type: object
                  nullable: true
              description: The identity of the user who created the message.
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time when the message was created. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            editedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            mentions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskChatMention'
              description: The list of mentions in the message.
            messageType:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskChatMessageType'
            parentEntityId:
              type: string
              description: The ID of the parent plannerTask that this message belongs to.
              nullable: true
            reactions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskChatReaction'
              description: The reactions on the message.
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.plannerTaskChatMessage'
    microsoft.graph.plannerProgressTaskBoardTaskFormat:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerProgressTaskBoardTaskFormat
          required:
            - '@odata.type'
          type: object
          properties:
            orderHint:
              type: string
              description: 'Hint value used to order the task on the progress view of the task board. For details about the supported format, see Using order hints in Planner.'
              nullable: true
            '@odata.type':
              type: string
      x-ms-discriminator-value: '#microsoft.graph.plannerProgressTaskBoardTaskFormat'
    microsoft.graph.entity:
      title: entity
      required:
        - '@odata.type'
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.accessPackage': '#/components/schemas/microsoft.graph.accessPackage'
          '#microsoft.graph.accessPackageAssignment': '#/components/schemas/microsoft.graph.accessPackageAssignment'
          '#microsoft.graph.accessPackageAssignmentPolicy': '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
          '#microsoft.graph.accessPackageAssignmentRequest': '#/components/schemas/microsoft.graph.accessPackageAssignmentRequest'
          '#microsoft.graph.accessPackageAssignmentResourceRole': '#/components/schemas/microsoft.graph.accessPackageAssignmentResourceRole'
          '#microsoft.graph.accessPackageCatalog': '#/components/schemas/microsoft.graph.accessPackageCatalog'
          '#microsoft.graph.accessPackageResource': '#/components/schemas/microsoft.graph.accessPackageResource'
          '#microsoft.graph.customDataProvidedResource': '#/components/schemas/microsoft.graph.customDataProvidedResource'
          '#microsoft.graph.accessPackageResourceEnvironment': '#/components/schemas/microsoft.graph.accessPackageResourceEnvironment'
          '#microsoft.graph.accessPackageResourceRequest': '#/components/schemas/microsoft.graph.accessPackageResourceRequest'
          '#microsoft.graph.accessPackageResourceRole': '#/components/schemas/microsoft.graph.accessPackageResourceRole'
          '#microsoft.graph.accessPackageResourceRoleScope': '#/components/schemas/microsoft.graph.accessPackageResourceRoleScope'
          '#microsoft.graph.accessPackageResourceScope': '#/components/schemas/microsoft.graph.accessPackageResourceScope'
          '#microsoft.graph.accessPackageSubject': '#/components/schemas/microsoft.graph.accessPackageSubject'
          '#microsoft.graph.accessPackageSuggestion': '#/components/schemas/microsoft.graph.accessPackageSuggestion'
          '#microsoft.graph.accessReview': '#/components/schemas/microsoft.graph.accessReview'
          '#microsoft.graph.accessReviewDecision': '#/components/schemas/microsoft.graph.accessReviewDecision'
          '#microsoft.graph.accessReviewHistoryDefinition': '#/components/schemas/microsoft.graph.accessReviewHistoryDefinition'
          '#microsoft.graph.accessReviewHistoryInstance': '#/components/schemas/microsoft.graph.accessReviewHistoryInstance'
          '#microsoft.graph.accessReviewInstance': '#/components/schemas/microsoft.graph.accessReviewInstance'
          '#microsoft.graph.accessReviewInstanceDecisionItem': '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
          '#microsoft.graph.accessReviewPolicy': '#/components/schemas/microsoft.graph.accessReviewPolicy'
          '#microsoft.graph.accessReviewReviewer': '#/components/schemas/microsoft.graph.accessReviewReviewer'
          '#microsoft.graph.accessReviewScheduleDefinition': '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
          '#microsoft.graph.accessReviewSet': '#/components/schemas/microsoft.graph.accessReviewSet'
          '#microsoft.graph.accessReviewStage': '#/components/schemas/microsoft.graph.accessReviewStage'
          '#microsoft.graph.activeUsersMetric': '#/components/schemas/microsoft.graph.activeUsersMetric'
          '#microsoft.graph.activitiesContainer': '#/components/schemas/microsoft.graph.activitiesContainer'
          '#microsoft.graph.activityHistoryItem': '#/components/schemas/microsoft.graph.activityHistoryItem'
          '#microsoft.graph.activityLogBase': '#/components/schemas/microsoft.graph.activityLogBase'
          '#microsoft.graph.backupPolicyActivityLog': '#/components/schemas/microsoft.graph.backupPolicyActivityLog'
          '#microsoft.graph.dynamicRuleActivityLog': '#/components/schemas/microsoft.graph.dynamicRuleActivityLog'
          '#microsoft.graph.offboardingActivityLog': '#/components/schemas/microsoft.graph.offboardingActivityLog'
          '#microsoft.graph.restoreTaskActivityLog': '#/components/schemas/microsoft.graph.restoreTaskActivityLog'
          '#microsoft.graph.activityStatistics': '#/components/schemas/microsoft.graph.activityStatistics'
          '#microsoft.graph.callActivityStatistics': '#/components/schemas/microsoft.graph.callActivityStatistics'
          '#microsoft.graph.chatActivityStatistics': '#/components/schemas/microsoft.graph.chatActivityStatistics'
          '#microsoft.graph.emailActivityStatistics': '#/components/schemas/microsoft.graph.emailActivityStatistics'
          '#microsoft.graph.focusActivityStatistics': '#/components/schemas/microsoft.graph.focusActivityStatistics'
          '#microsoft.graph.meetingActivityStatistics': '#/components/schemas/microsoft.graph.meetingActivityStatistics'
          '#microsoft.graph.adhocCall': '#/components/schemas/microsoft.graph.adhocCall'
          '#microsoft.graph.adminAppsAndServices': '#/components/schemas/microsoft.graph.adminAppsAndServices'
          '#microsoft.graph.adminConsentRequestPolicy': '#/components/schemas/microsoft.graph.adminConsentRequestPolicy'
          '#microsoft.graph.adminDynamics': '#/components/schemas/microsoft.graph.adminDynamics'
          '#microsoft.graph.adminForms': '#/components/schemas/microsoft.graph.adminForms'
          '#microsoft.graph.adminMicrosoft365Apps': '#/components/schemas/microsoft.graph.adminMicrosoft365Apps'
          '#microsoft.graph.adminReportSettings': '#/components/schemas/microsoft.graph.adminReportSettings'
          '#microsoft.graph.adminTodo': '#/components/schemas/microsoft.graph.adminTodo'
          '#microsoft.graph.adminWindows': '#/components/schemas/microsoft.graph.adminWindows'
          '#microsoft.graph.adminWindowsUpdates': '#/components/schemas/microsoft.graph.adminWindowsUpdates'
          '#microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState': '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
          '#microsoft.graph.advancedThreatProtectionOnboardingStateSummary': '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
          '#microsoft.graph.agent': '#/components/schemas/microsoft.graph.agent'
          '#microsoft.graph.agentCardManifest': '#/components/schemas/microsoft.graph.agentCardManifest'
          '#microsoft.graph.agentCollection': '#/components/schemas/microsoft.graph.agentCollection'
          '#microsoft.graph.agentCommunicationConfiguration': '#/components/schemas/microsoft.graph.agentCommunicationConfiguration'
          '#microsoft.graph.agentInstance': '#/components/schemas/microsoft.graph.agentInstance'
          '#microsoft.graph.agentRegistration': '#/components/schemas/microsoft.graph.agentRegistration'
          '#microsoft.graph.agentRiskDetection': '#/components/schemas/microsoft.graph.agentRiskDetection'
          '#microsoft.graph.agreement': '#/components/schemas/microsoft.graph.agreement'
          '#microsoft.graph.agreementAcceptance': '#/components/schemas/microsoft.graph.agreementAcceptance'
          '#microsoft.graph.agreementFileProperties': '#/components/schemas/microsoft.graph.agreementFileProperties'
          '#microsoft.graph.agreementFile': '#/components/schemas/microsoft.graph.agreementFile'
          '#microsoft.graph.agreementFileLocalization': '#/components/schemas/microsoft.graph.agreementFileLocalization'
          '#microsoft.graph.agreementFileVersion': '#/components/schemas/microsoft.graph.agreementFileVersion'
          '#microsoft.graph.aiInteraction': '#/components/schemas/microsoft.graph.aiInteraction'
          '#microsoft.graph.aiInteractionHistory': '#/components/schemas/microsoft.graph.aiInteractionHistory'
          '#microsoft.graph.aiOnlineMeeting': '#/components/schemas/microsoft.graph.aiOnlineMeeting'
          '#microsoft.graph.aiUser': '#/components/schemas/microsoft.graph.aiUser'
          '#microsoft.graph.alert': '#/components/schemas/microsoft.graph.alert'
          '#microsoft.graph.allowedDataLocation': '#/components/schemas/microsoft.graph.allowedDataLocation'
          '#microsoft.graph.allowedValue': '#/components/schemas/microsoft.graph.allowedValue'
          '#microsoft.graph.androidAppConfigurationSchema': '#/components/schemas/microsoft.graph.androidAppConfigurationSchema'
          '#microsoft.graph.androidDeviceComplianceLocalActionBase': '#/components/schemas/microsoft.graph.androidDeviceComplianceLocalActionBase'
          '#microsoft.graph.androidDeviceComplianceLocalActionLockDevice': '#/components/schemas/microsoft.graph.androidDeviceComplianceLocalActionLockDevice'
          '#microsoft.graph.androidDeviceComplianceLocalActionLockDeviceWithPasscode': '#/components/schemas/microsoft.graph.androidDeviceComplianceLocalActionLockDeviceWithPasscode'
          '#microsoft.graph.androidDeviceOwnerEnrollmentProfile': '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
          '#microsoft.graph.androidForWorkAppConfigurationSchema': '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
          '#microsoft.graph.androidForWorkEnrollmentProfile': '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
          '#microsoft.graph.androidForWorkSettings': '#/components/schemas/microsoft.graph.androidForWorkSettings'
          '#microsoft.graph.androidManagedStoreAccountEnterpriseSettings': '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
          '#microsoft.graph.androidManagedStoreAppConfigurationSchema': '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
          '#microsoft.graph.appConsentApprovalRoute': '#/components/schemas/microsoft.graph.appConsentApprovalRoute'
          '#microsoft.graph.appConsentRequest': '#/components/schemas/microsoft.graph.appConsentRequest'
          '#microsoft.graph.appCredentialSignInActivity': '#/components/schemas/microsoft.graph.appCredentialSignInActivity'
          '#microsoft.graph.appleEnrollmentProfileAssignment': '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
          '#microsoft.graph.applePushNotificationCertificate': '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
          '#microsoft.graph.appleUserInitiatedEnrollmentProfile': '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
          '#microsoft.graph.applicationSegment': '#/components/schemas/microsoft.graph.applicationSegment'
          '#microsoft.graph.ipApplicationSegment': '#/components/schemas/microsoft.graph.ipApplicationSegment'
          '#microsoft.graph.webApplicationSegment': '#/components/schemas/microsoft.graph.webApplicationSegment'
          '#microsoft.graph.applicationSignInDetailedSummary': '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
          '#microsoft.graph.applicationSignInSummary': '#/components/schemas/microsoft.graph.applicationSignInSummary'
          '#microsoft.graph.applicationTemplate': '#/components/schemas/microsoft.graph.applicationTemplate'
          '#microsoft.graph.appLogCollectionRequest': '#/components/schemas/microsoft.graph.appLogCollectionRequest'
          '#microsoft.graph.approval': '#/components/schemas/microsoft.graph.approval'
          '#microsoft.graph.approvalItem': '#/components/schemas/microsoft.graph.approvalItem'
          '#microsoft.graph.approvalItemRequest': '#/components/schemas/microsoft.graph.approvalItemRequest'
          '#microsoft.graph.approvalItemResponse': '#/components/schemas/microsoft.graph.approvalItemResponse'
          '#microsoft.graph.approvalOperation': '#/components/schemas/microsoft.graph.approvalOperation'
          '#microsoft.graph.approvalSolution': '#/components/schemas/microsoft.graph.approvalSolution'
          '#microsoft.graph.approvalStep': '#/components/schemas/microsoft.graph.approvalStep'
          '#microsoft.graph.approvalWorkflowProvider': '#/components/schemas/microsoft.graph.approvalWorkflowProvider'
          '#microsoft.graph.approvedClientApp': '#/components/schemas/microsoft.graph.approvedClientApp'
          '#microsoft.graph.appScope': '#/components/schemas/microsoft.graph.appScope'
          '#microsoft.graph.customAppScope': '#/components/schemas/microsoft.graph.customAppScope'
          '#microsoft.graph.appVulnerabilityManagedDevice': '#/components/schemas/microsoft.graph.appVulnerabilityManagedDevice'
          '#microsoft.graph.appVulnerabilityMobileApp': '#/components/schemas/microsoft.graph.appVulnerabilityMobileApp'
          '#microsoft.graph.assignedComputeInstanceDetails': '#/components/schemas/microsoft.graph.assignedComputeInstanceDetails'
          '#microsoft.graph.assignmentFilterEvaluationStatusDetails': '#/components/schemas/microsoft.graph.assignmentFilterEvaluationStatusDetails'
          '#microsoft.graph.attachment': '#/components/schemas/microsoft.graph.attachment'
          '#microsoft.graph.fileAttachment': '#/components/schemas/microsoft.graph.fileAttachment'
          '#microsoft.graph.itemAttachment': '#/components/schemas/microsoft.graph.itemAttachment'
          '#microsoft.graph.referenceAttachment': '#/components/schemas/microsoft.graph.referenceAttachment'
          '#microsoft.graph.attachmentBase': '#/components/schemas/microsoft.graph.attachmentBase'
          '#microsoft.graph.taskFileAttachment': '#/components/schemas/microsoft.graph.taskFileAttachment'
          '#microsoft.graph.attachmentSession': '#/components/schemas/microsoft.graph.attachmentSession'
          '#microsoft.graph.attackSimulationRoot': '#/components/schemas/microsoft.graph.attackSimulationRoot'
          '#microsoft.graph.attendanceRecord': '#/components/schemas/microsoft.graph.attendanceRecord'
          '#microsoft.graph.attributeMappingFunctionSchema': '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
          '#microsoft.graph.attributeSet': '#/components/schemas/microsoft.graph.attributeSet'
          '#microsoft.graph.audioRoutingGroup': '#/components/schemas/microsoft.graph.audioRoutingGroup'
          '#microsoft.graph.auditActivityType': '#/components/schemas/microsoft.graph.auditActivityType'
          '#microsoft.graph.auditEvent': '#/components/schemas/microsoft.graph.auditEvent'
          '#microsoft.graph.authentication': '#/components/schemas/microsoft.graph.authentication'
          '#microsoft.graph.authenticationCombinationConfiguration': '#/components/schemas/microsoft.graph.authenticationCombinationConfiguration'
          '#microsoft.graph.fido2CombinationConfiguration': '#/components/schemas/microsoft.graph.fido2CombinationConfiguration'
          '#microsoft.graph.x509CertificateCombinationConfiguration': '#/components/schemas/microsoft.graph.x509CertificateCombinationConfiguration'
          '#microsoft.graph.authenticationContextClassReference': '#/components/schemas/microsoft.graph.authenticationContextClassReference'
          '#microsoft.graph.authenticationEventListener': '#/components/schemas/microsoft.graph.authenticationEventListener'
          '#microsoft.graph.onAttributeCollectionListener': '#/components/schemas/microsoft.graph.onAttributeCollectionListener'
          '#microsoft.graph.onAttributeCollectionStartListener': '#/components/schemas/microsoft.graph.onAttributeCollectionStartListener'
          '#microsoft.graph.onAttributeCollectionSubmitListener': '#/components/schemas/microsoft.graph.onAttributeCollectionSubmitListener'
          '#microsoft.graph.onAuthenticationMethodLoadStartListener': '#/components/schemas/microsoft.graph.onAuthenticationMethodLoadStartListener'
          '#microsoft.graph.onEmailOtpSendListener': '#/components/schemas/microsoft.graph.onEmailOtpSendListener'
          '#microsoft.graph.onFraudProtectionLoadStartListener': '#/components/schemas/microsoft.graph.onFraudProtectionLoadStartListener'
          '#microsoft.graph.onInteractiveAuthFlowStartListener': '#/components/schemas/microsoft.graph.onInteractiveAuthFlowStartListener'
          '#microsoft.graph.onPasswordSubmitListener': '#/components/schemas/microsoft.graph.onPasswordSubmitListener'
          '#microsoft.graph.onPhoneMethodLoadStartListener': '#/components/schemas/microsoft.graph.onPhoneMethodLoadStartListener'
          '#microsoft.graph.onTokenIssuanceStartListener': '#/components/schemas/microsoft.graph.onTokenIssuanceStartListener'
          '#microsoft.graph.onUserCreateStartListener': '#/components/schemas/microsoft.graph.onUserCreateStartListener'
          '#microsoft.graph.onVerifiedIdClaimValidationListener': '#/components/schemas/microsoft.graph.onVerifiedIdClaimValidationListener'
          '#microsoft.graph.authenticationEventsFlow': '#/components/schemas/microsoft.graph.authenticationEventsFlow'
          '#microsoft.graph.externalUsersSelfServiceSignUpEventsFlow': '#/components/schemas/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow'
          '#microsoft.graph.authenticationEventsPolicy': '#/components/schemas/microsoft.graph.authenticationEventsPolicy'
          '#microsoft.graph.authenticationFailure': '#/components/schemas/microsoft.graph.authenticationFailure'
          '#microsoft.graph.authenticationFlowsPolicy': '#/components/schemas/microsoft.graph.authenticationFlowsPolicy'
          '#microsoft.graph.authenticationListener': '#/components/schemas/microsoft.graph.authenticationListener'
          '#microsoft.graph.invokeUserFlowListener': '#/components/schemas/microsoft.graph.invokeUserFlowListener'
          '#microsoft.graph.authenticationMethod': '#/components/schemas/microsoft.graph.authenticationMethod'
          '#microsoft.graph.emailAuthenticationMethod': '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
          '#microsoft.graph.externalAuthenticationMethod': '#/components/schemas/microsoft.graph.externalAuthenticationMethod'
          '#microsoft.graph.fido2AuthenticationMethod': '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
[...]
