openapi: 3.0.4
info:
  title: Calendar
  version: beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/groups/{group-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The group's calendar. Read-only.
      operationId: groups.GetCalendar
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions':
    get:
      tags:
        - groups.calendar
      summary: Get calendarPermissions from groups
      description: The permissions of the users with whom the calendar is shared.
      operationId: groups.calendar.ListCalendarPermissions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.calendarPermissionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to calendarPermissions for groups
      operationId: groups.calendar.CreateCalendarPermissions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions/{calendarPermission-id}':
    get:
      tags:
        - groups.calendar
      summary: Get calendarPermissions from groups
      description: The permissions of the users with whom the calendar is shared.
      operationId: groups.calendar.GetCalendarPermissions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property calendarPermissions in groups
      operationId: groups.calendar.UpdateCalendarPermissions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property calendarPermissions for groups
      operationId: groups.calendar.DeleteCalendarPermissions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: groups.calendar.calendarPermissions.GetCount-b54a
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/calendarView':
    get:
      tags:
        - groups.calendar
      summary: Get calendarView from groups
      description: The calendar view for the calendar. Navigation property. Read-only.
      operationId: groups.calendar.ListCalendarView
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/delta()':
    get:
      tags:
        - groups.calendar
      summary: Invoke function delta
      description: 'Get a set of event resources that are added, deleted, or updated in one or more calendars. You can get specific types of these incremental changes in the events in all the calendars of a mailbox or in a specific calendar, or in an event collection of a calendarView (range of events defined by start and end dates) of a calendar. The calendar can be the default calendar or some other specified calendar that belongs to the user. When getting incremental changes on calendarView, the calendar can be a group calendar as well. Typically, synchronizing events in a calendar or calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). Using deltas allows you to incrementally maintain and synchronize a local store of events in the specified calendar. The following table lists the differences between the delta function on events and the delta function on a calendarView in a calendar.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-beta
      operationId: groups.group.calendar.calendarView.delta
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/groups/{group-id}/calendar/events':
    get:
      tags:
        - groups.calendar
      summary: Get events from groups
      description: The events in the calendar. Navigation property. Read-only.
      operationId: groups.calendar.ListEvents
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to events for groups
      operationId: groups.calendar.CreateEvents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}':
    get:
      tags:
        - groups.calendar
      summary: Get events from groups
      description: The events in the calendar. Navigation property. Read-only.
      operationId: groups.calendar.GetEvents
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property events in groups
      operationId: groups.calendar.UpdateEvents
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property events for groups
      operationId: groups.calendar.DeleteEvents
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/attachments':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: groups.calendar.events.ListAttachments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to attachments for groups
      operationId: groups.calendar.events.CreateAttachments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: groups.calendar.events.GetAttachments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: groups.calendar.events.DeleteAttachments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/attachments/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: groups.calendar.events.attachments.GetCount-a03a
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/events/{event-id}/attachments/createUploadSession':
    post:
      tags:
        - groups.calendar
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to an Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.attachments.createUploadSession
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.uploadSession'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: groups.calendar.events.GetCalendar
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/extensions':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: groups.calendar.events.ListExtensions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to extensions for groups
      operationId: groups.calendar.events.CreateExtensions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/extensions/{extension-id}':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: groups.calendar.events.GetExtensions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property extensions in groups
      operationId: groups.calendar.events.UpdateExtensions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property extensions for groups
      operationId: groups.calendar.events.DeleteExtensions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/extensions/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: groups.calendar.events.extensions.GetCount-d77e
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/events/{event-id}/instances':
    get:
      tags:
        - groups.calendar
      summary: Get instances from groups
      description: 'The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern and exceptions that have been modified. It doesn''t include occurrences that have been canceled from the series. Navigation property. Read-only. Nullable.'
      operationId: groups.calendar.events.ListInstances
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/instances/delta()':
    get:
      tags:
        - groups.calendar
      summary: Invoke function delta
      description: 'Get a set of event resources that are added, deleted, or updated in one or more calendars. You can get specific types of these incremental changes in the events in all the calendars of a mailbox or in a specific calendar, or in an event collection of a calendarView (range of events defined by start and end dates) of a calendar. The calendar can be the default calendar or some other specified calendar that belongs to the user. When getting incremental changes on calendarView, the calendar can be a group calendar as well. Typically, synchronizing events in a calendar or calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). Using deltas allows you to incrementally maintain and synchronize a local store of events in the specified calendar. The following table lists the differences between the delta function on events and the delta function on a calendarView in a calendar.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.instances.delta
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/groups/{group-id}/calendar/events/{event-id}/accept':
    post:
      tags:
        - groups.calendar
      summary: Invoke action accept
      description: Accept the specified event in a user calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-accept?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.accept
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/cancel':
    post:
      tags:
        - groups.calendar
      summary: Invoke action cancel
      description: "This action allows the organizer of a meeting to send a cancellation message and cancel the event.  The action moves the event to the Deleted Items folder. The organizer can also cancel an occurrence of a recurring meeting \r\nby providing the occurrence event ID. An attendee calling this action gets an error (HTTP 400 Bad Request), with the following\r\nerror message: 'Your request can't be completed. You need to be an organizer to cancel a meeting.' This action differs from Delete in that Cancel is available to only the organizer, and lets\r\nthe organizer send a custom message to the attendees about the cancellation."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-cancel?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.cancel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/decline':
    post:
      tags:
        - groups.calendar
      summary: Invoke action decline
      description: 'Decline invitation to the specified event in a user calendar. If the event allows proposals for new times, on declining the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-decline?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.decline
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.timeSlot'
                    - type: object
                      nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/dismissReminder':
    post:
      tags:
        - groups.calendar
      summary: Invoke action dismissReminder
      description: Dismiss a reminder that has been triggered for an event in a user calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-dismissreminder?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.dismissReminder
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/forward':
    post:
      tags:
        - groups.calendar
      summary: Invoke action forward
      description: "This action allows the organizer or attendee of a meeting event to forward the\r\nmeeting request to a new recipient. If the meeting event is forwarded from an attendee's Microsoft 365 mailbox to another recipient, this action\r\nalso sends a message to notify the organizer of the forwarding, and adds the recipient to the organizer's\r\ncopy of the meeting event. This convenience is not available when forwarding from an Outlook.com account."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-forward?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.forward
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/permanentDelete':
    post:
      tags:
        - groups.calendar
      summary: Invoke action permanentDelete
      description: 'Permanently delete an event and place it in the Purges folder in the dumpster in the user''s mailbox. Email clients such as Outlook or the Outlook on the web can''t access permanently deleted items. Unless there''s a hold set on the mailbox, the items are permanently deleted after a set period of time. For more information about item retention, see Configure Deleted Item retention and Recoverable Items quotas.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-permanentdelete?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.permanentDelete
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/snoozeReminder':
    post:
      tags:
        - groups.calendar
      summary: Invoke action snoozeReminder
      description: Postpone a reminder for an event in a user calendar until a new time.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-snoozereminder?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.snoozeReminder
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/tentativelyAccept':
    post:
      tags:
        - groups.calendar
      summary: Invoke action tentativelyAccept
      description: 'Tentatively accept the specified event in a user calendar. If the event allows proposals for new times, on responding tentative to the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-tentativelyaccept?view=graph-rest-beta
      operationId: groups.group.calendar.events.event.tentativelyAccept
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.timeSlot'
                    - type: object
                      nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: groups.calendar.events.GetCount-b856
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/events/delta()':
    get:
      tags:
        - groups.calendar
      summary: Invoke function delta
      description: 'Get a set of event resources that are added, deleted, or updated in one or more calendars. You can get specific types of these incremental changes in the events in all the calendars of a mailbox or in a specific calendar, or in an event collection of a calendarView (range of events defined by start and end dates) of a calendar. The calendar can be the default calendar or some other specified calendar that belongs to the user. When getting incremental changes on calendarView, the calendar can be a group calendar as well. Typically, synchronizing events in a calendar or calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). Using deltas allows you to incrementally maintain and synchronize a local store of events in the specified calendar. The following table lists the differences between the delta function on events and the delta function on a calendarView in a calendar.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-beta
      operationId: groups.group.calendar.events.delta
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/groups/{group-id}/calendar/allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - groups.calendar
      summary: Invoke function allowedCalendarSharingRoles
      operationId: groups.group.calendar.allowedCalendarSharingRoles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/groups/{group-id}/calendar/getSchedule':
    post:
      tags:
        - groups.calendar
      summary: Invoke action getSchedule
      description: 'Get the free/busy availability information for a collection of users, distributions lists, or resources (rooms or equipment) for a specified time period.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendar-getschedule?view=graph-rest-beta
      operationId: groups.group.calendar.getSchedule
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Schedules:
                  type: array
                  items:
                    type: string
                    nullable: true
                EndTime:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                    - type: object
                      nullable: true
                StartTime:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                    - type: object
                      nullable: true
                AvailabilityViewInterval:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.scheduleInformation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/groups/{group-id}/calendar/permanentDelete':
    post:
      tags:
        - groups.calendar
      summary: Invoke action permanentDelete
      operationId: groups.group.calendar.permanentDelete
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendarView':
    get:
      tags:
        - groups.event
      summary: List calendarView
      description: 'Get the occurrences, exceptions, and single instances of events in a calendar view defined by a time range, from the default calendar of a group.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-list-calendarview?view=graph-rest-beta
      operationId: groups.ListCalendarView
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendarView/delta()':
    get:
      tags:
        - groups.event
      summary: Invoke function delta
      description: 'Get a set of event resources that are added, deleted, or updated in one or more calendars. You can get specific types of these incremental changes in the events in all the calendars of a mailbox or in a specific calendar, or in an event collection of a calendarView (range of events defined by start and end dates) of a calendar. The calendar can be the default calendar or some other specified calendar that belongs to the user. When getting incremental changes on calendarView, the calendar can be a group calendar as well. Typically, synchronizing events in a calendar or calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). Using deltas allows you to incrementally maintain and synchronize a local store of events in the specified calendar. The following table lists the differences between the delta function on events and the delta function on a calendarView in a calendar.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-beta
      operationId: groups.group.calendarView.delta
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/groups/{group-id}/events':
    get:
      tags:
        - groups.event
      summary: List events
      description: Retrieve a list of event objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-list-events?view=graph-rest-beta
      operationId: groups.ListEvents
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.event
      summary: Create event
      description: Use this API to create a new event.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-post-events?view=graph-rest-beta
      operationId: groups.CreateEvents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/events/{event-id}':
    get:
      tags:
        - groups.event
      summary: Get event
      description: Get an event object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-get-event?view=graph-rest-beta
      operationId: groups.GetEvents
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.event
      summary: Update event
      description: Update an event object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-update-event?view=graph-rest-beta
      operationId: groups.UpdateEvents
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.event
      summary: Delete event
      description: Delete an event object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-delete-event?view=graph-rest-beta
      operationId: groups.DeleteEvents
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/events/{event-id}/attachments':
    get:
      tags:
        - groups.event
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: groups.events.ListAttachments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.event
      summary: Create new navigation property to attachments for groups
      operationId: groups.events.CreateAttachments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/events/{event-id}/attachments/{attachment-id}':
    get:
      tags:
        - groups.event
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: groups.events.GetAttachments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.event
      summary: Delete navigation property attachments for groups
      operationId: groups.events.DeleteAttachments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/events/{event-id}/attachments/$count':
    get:
      tags:
        - groups.event
      summary: Get the number of the resource
      operationId: groups.events.attachments.GetCount-87ba
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/events/{event-id}/attachments/createUploadSession':
    post:
      tags:
        - groups.event
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to an Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-beta
      operationId: groups.group.events.event.attachments.createUploadSession
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.uploadSession'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/events/{event-id}/calendar':
    get:
      tags:
        - groups.event
      summary: Get calendar from groups
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: groups.events.GetCalendar
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/events/{event-id}/extensions':
    get:
      tags:
        - groups.event
      summary: Get openTypeExtension
      description: Get an open extension (openTypeExtension object) identified by name or fully qualified name. The table in the Permissions section lists the resources that support open extensions. The following table lists the three scenarios where you can get an open extension from a supported resource instance.
      operationId: groups.events.ListExtensions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.event
      summary: Create openTypeExtension
      description: 'Create an open extension (openTypeExtension object) and add custom properties in a new or existing instance of a resource. You can create an open extension in a resource instance and store custom data to it all in the same operation, except for specific resources. The table in the Permissions section lists the resources that support open extensions.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/opentypeextension-post-opentypeextension?view=graph-rest-beta
      operationId: groups.events.CreateExtensions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/events/{event-id}/extensions/{extension-id}':
    get:
      tags:
        - groups.event
      summary: Get openTypeExtension
      description: Get an open extension (openTypeExtension object) identified by name or fully qualified name. The table in the Permissions section lists the resources that support open extensions. The following table lists the three scenarios where you can get an open extension from a supported resource instance.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/opentypeextension-get?view=graph-rest-beta
      operationId: groups.events.GetExtensions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.event
      summary: Update the navigation property extensions in groups
      operationId: groups.events.UpdateExtensions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.event
      summary: Delete navigation property extensions for groups
      operationId: groups.events.DeleteExtensions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/events/{event-id}/extensions/$count':
    get:
      tags:
        - groups.event
      summary: Get the number of the resource
      operationId: groups.events.extensions.GetCount-0817
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/events/{event-id}/instances':
    get:
      tags:
        - groups.event
      summary: Get instances from groups
      description: 'The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern and exceptions that have been modified. It doesn''t include occurrences that have been canceled from the series. Navigation property. Read-only. Nullable.'
      operationId: groups.events.ListInstances
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/events/{event-id}/instances/delta()':
    get:
      tags:
        - groups.event
      summary: Invoke function delta
      description: 'Get a set of event resources that are added, deleted, or updated in one or more calendars. You can get specific types of these incremental changes in the events in all the calendars of a mailbox or in a specific calendar, or in an event collection of a calendarView (range of events defined by start and end dates) of a calendar. The calendar can be the default calendar or some other specified calendar that belongs to the user. When getting incremental changes on calendarView, the calendar can be a group calendar as well. Typically, synchronizing events in a calendar or calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). Using deltas allows you to incrementally maintain and synchronize a local store of events in the specified calendar. The following table lists the differences between the delta function on events and the delta function on a calendarView in a calendar.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-beta
      operationId: groups.group.events.event.instances.delta
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/groups/{group-id}/events/{event-id}/accept':
    post:
      tags:
        - groups.event
      summary: Invoke action accept
      description: Accept the specified event in a user calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-accept?view=graph-rest-beta
      operationId: groups.group.events.event.accept
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/events/{event-id}/cancel':
    post:
      tags:
        - groups.event
      summary: Invoke action cancel
      description: "This action allows the organizer of a meeting to send a cancellation message and cancel the event.  The action moves the event to the Deleted Items folder. The organizer can also cancel an occurrence of a recurring meeting \r\nby providing the occurrence event ID. An attendee calling this action gets an error (HTTP 400 Bad Request), with the following\r\nerror message: 'Your request can't be completed. You need to be an organizer to cancel a meeting.' This action differs from Delete in that Cancel is available to only the organizer, and lets\r\nthe organizer send a custom message to the attendees about the cancellation."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-cancel?view=graph-rest-beta
      operationId: groups.group.events.event.cancel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/events/{event-id}/decline':
    post:
      tags:
        - groups.event
      summary: Invoke action decline
      description: 'Decline invitation to the specified event in a user calendar. If the event allows proposals for new times, on declining the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-decline?view=graph-rest-beta
      operationId: groups.group.events.event.decline
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.timeSlot'
                    - type: object
                      nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/events/{event-id}/dismissReminder':
    post:
      tags:
        - groups.event
      summary: Invoke action dismissReminder
      description: Dismiss a reminder that has been triggered for an event in a user calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-dismissreminder?view=graph-rest-beta
      operationId: groups.group.events.event.dismissReminder
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/events/{event-id}/forward':
    post:
      tags:
        - groups.event
      summary: Invoke action forward
      description: "This action allows the organizer or attendee of a meeting event to forward the\r\nmeeting request to a new recipient. If the meeting event is forwarded from an attendee's Microsoft 365 mailbox to another recipient, this action\r\nalso sends a message to notify the organizer of the forwarding, and adds the recipient to the organizer's\r\ncopy of the meeting event. This convenience is not available when forwarding from an Outlook.com account."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-forward?view=graph-rest-beta
      operationId: groups.group.events.event.forward
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/events/{event-id}/permanentDelete':
    post:
      tags:
        - groups.event
      summary: Invoke action permanentDelete
      description: 'Permanently delete an event and place it in the Purges folder in the dumpster in the user''s mailbox. Email clients such as Outlook or the Outlook on the web can''t access permanently deleted items. Unless there''s a hold set on the mailbox, the items are permanently deleted after a set period of time. For more information about item retention, see Configure Deleted Item retention and Recoverable Items quotas.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-permanentdelete?view=graph-rest-beta
      operationId: groups.group.events.event.permanentDelete
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/events/{event-id}/snoozeReminder':
    post:
      tags:
        - groups.event
      summary: Invoke action snoozeReminder
      description: Postpone a reminder for an event in a user calendar until a new time.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-snoozereminder?view=graph-rest-beta
      operationId: groups.group.events.event.snoozeReminder
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/events/{event-id}/tentativelyAccept':
    post:
      tags:
        - groups.event
      summary: Invoke action tentativelyAccept
      description: 'Tentatively accept the specified event in a user calendar. If the event allows proposals for new times, on responding tentative to the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-tentativelyaccept?view=graph-rest-beta
      operationId: groups.group.events.event.tentativelyAccept
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.timeSlot'
                    - type: object
                      nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/events/$count':
    get:
      tags:
        - groups.event
      summary: Get the number of the resource
      operationId: groups.events.GetCount-ab92
      parameters:
[...]
