openapi: 3.0.4
info:
  title: CloudCommunications
  version: beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /communications:
    get:
      tags:
        - communications.cloudCommunications
      summary: Get communications
      operationId: communications.cloudCommunications.GetCloudCommunications
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.cloudCommunications
      summary: Update communications
      operationId: communications.cloudCommunications.UpdateCloudCommunications
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/adhocCalls:
    get:
      tags:
        - communications.adhocCall
      summary: Get adhocCalls from communications
      description: A collection of ad hoc calls in Teams.
      operationId: communications.ListAdhocCalls
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.adhocCallCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.adhocCall
      summary: Create new navigation property to adhocCalls for communications
      operationId: communications.CreateAdhocCalls
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adhocCall'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adhocCall'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}':
    get:
      tags:
        - communications.adhocCall
      summary: Get adhocCalls from communications
      description: A collection of ad hoc calls in Teams.
      operationId: communications.GetAdhocCalls
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adhocCall'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.adhocCall
      summary: Update the navigation property adhocCalls in communications
      operationId: communications.UpdateAdhocCalls
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adhocCall'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adhocCall'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.adhocCall
      summary: Delete navigation property adhocCalls for communications
      operationId: communications.DeleteAdhocCalls
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/recordings':
    get:
      tags:
        - communications.adhocCall
      summary: Get recordings from communications
      description: The recordings of a call. Read-only.
      operationId: communications.adhocCalls.ListRecordings
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecordingCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.adhocCall
      summary: Create new navigation property to recordings for communications
      operationId: communications.adhocCalls.CreateRecordings
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecording'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecording'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/recordings/{callRecording-id}':
    get:
      tags:
        - communications.adhocCall
      summary: Get recordings from communications
      description: The recordings of a call. Read-only.
      operationId: communications.adhocCalls.GetRecordings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecording'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.adhocCall
      summary: Update the navigation property recordings in communications
      operationId: communications.adhocCalls.UpdateRecordings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecording'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecording'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.adhocCall
      summary: Delete navigation property recordings for communications
      operationId: communications.adhocCalls.DeleteRecordings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/recordings/{callRecording-id}/content':
    get:
      tags:
        - communications.adhocCall
      summary: Get content for the navigation property recordings from communications
      description: The content of the recording. Read-only.
      operationId: communications.adhocCalls.GetRecordingsContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
        - communications.adhocCall
      summary: Update content for the navigation property recordings in communications
      description: The content of the recording. Read-only.
      operationId: communications.adhocCalls.UpdateRecordingsContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecording'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - communications.adhocCall
      summary: Delete content for the navigation property recordings in communications
      description: The content of the recording. Read-only.
      operationId: communications.adhocCalls.DeleteRecordingsContent
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/recordings/$count':
    get:
      tags:
        - communications.adhocCall
      summary: Get the number of the resource
      operationId: communications.adhocCalls.recordings.GetCount-6c48
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/recordings/delta()':
    get:
      tags:
        - communications.adhocCall
      summary: Invoke function delta
      operationId: communications.adhocCalls.adhocCall.recordings.delta
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of callRecording
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.callRecording'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/communications/adhocCalls/{adhocCall-id}/transcripts':
    get:
      tags:
        - communications.adhocCall
      summary: Get transcripts from communications
      description: The transcripts of a call. Read-only.
      operationId: communications.adhocCalls.ListTranscripts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callTranscriptCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.adhocCall
      summary: Create new navigation property to transcripts for communications
      operationId: communications.adhocCalls.CreateTranscripts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callTranscript'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callTranscript'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/transcripts/{callTranscript-id}':
    get:
      tags:
        - communications.adhocCall
      summary: Get transcripts from communications
      description: The transcripts of a call. Read-only.
      operationId: communications.adhocCalls.GetTranscripts
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callTranscript'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.adhocCall
      summary: Update the navigation property transcripts in communications
      operationId: communications.adhocCalls.UpdateTranscripts
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callTranscript'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callTranscript'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.adhocCall
      summary: Delete navigation property transcripts for communications
      operationId: communications.adhocCalls.DeleteTranscripts
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/transcripts/{callTranscript-id}/content':
    get:
      tags:
        - communications.adhocCall
      summary: Get content for the navigation property transcripts from communications
      description: The content of the transcript. Read-only.
      operationId: communications.adhocCalls.GetTranscriptsContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
        - communications.adhocCall
      summary: Update content for the navigation property transcripts in communications
      description: The content of the transcript. Read-only.
      operationId: communications.adhocCalls.UpdateTranscriptsContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callTranscript'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - communications.adhocCall
      summary: Delete content for the navigation property transcripts in communications
      description: The content of the transcript. Read-only.
      operationId: communications.adhocCalls.DeleteTranscriptsContent
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/transcripts/{callTranscript-id}/metadataContent':
    get:
      tags:
        - communications.adhocCall
      summary: Get metadataContent for the navigation property transcripts from communications
      description: The time-aligned metadata of the utterances in the transcript. Read-only.
      operationId: communications.adhocCalls.GetTranscriptsMetadataContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
        - communications.adhocCall
      summary: Update metadataContent for the navigation property transcripts in communications
      description: The time-aligned metadata of the utterances in the transcript. Read-only.
      operationId: communications.adhocCalls.UpdateTranscriptsMetadataContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - communications.adhocCall
      summary: Delete metadataContent for the navigation property transcripts in communications
      description: The time-aligned metadata of the utterances in the transcript. Read-only.
      operationId: communications.adhocCalls.DeleteTranscriptsMetadataContent
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/transcripts/$count':
    get:
      tags:
        - communications.adhocCall
      summary: Get the number of the resource
      operationId: communications.adhocCalls.transcripts.GetCount-c91e
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/transcripts/delta()':
    get:
      tags:
        - communications.adhocCall
      summary: Invoke function delta
      operationId: communications.adhocCalls.adhocCall.transcripts.delta
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of callTranscript
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseDeltaFunctionResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.callTranscript'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /communications/adhocCalls/$count:
    get:
      tags:
        - communications.adhocCall
      summary: Get the number of the resource
      operationId: communications.adhocCalls.GetCount-c122
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/getAllRecordings(userId=''@userId'',startDateTime=@startDateTime,endDateTime=@endDateTime)':
    get:
      tags:
        - communications.adhocCall
      summary: Invoke function getAllRecordings
      operationId: communications.adhocCalls.getAllRecordings
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of callRecording
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.callRecording'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/communications/adhocCalls/getAllTranscripts(userId=''@userId'',startDateTime=@startDateTime,endDateTime=@endDateTime)':
    get:
      tags:
        - communications.adhocCall
      summary: Invoke function getAllTranscripts
      operationId: communications.adhocCalls.getAllTranscripts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of callTranscript
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.callTranscript'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /communications/callRecords:
    get:
      tags:
        - communications.callRecord
      summary: List callRecords
      description: Get the list of callRecord objects and their properties. The results can be optionally filtered using the $filter query parameter on the startDateTime and participant id properties. Note that the listed call records don't include expandable relationships such as sessions and participants_v2. You can expand these relationships using Get callRecord for a specific record.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-cloudcommunications-list-callrecords?view=graph-rest-beta
      operationId: communications.ListCallRecords
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.callRecordCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to callRecords for communications
      operationId: communications.CreateCallRecords
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get callRecord
      description: 'Retrieve the properties and relationships of a callRecord object. There are two ways to get the id of a callRecord:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-callrecord-get?view=graph-rest-beta
      operationId: communications.GetCallRecords
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property callRecords in communications
      operationId: communications.UpdateCallRecords
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property callRecords for communications
      operationId: communications.DeleteCallRecords
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/organizer_v2':
    get:
      tags:
        - communications.callRecord
      summary: Get organizer_v2 from communications
      description: Identity of the organizer of the call. This relationship is expanded by default in callRecord methods.
      operationId: communications.callRecords.GetOrganizer_v2
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.organizer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property organizer_v2 in communications
      operationId: communications.callRecords.UpdateOrganizer_v2
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.organizer'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.organizer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property organizer_v2 for communications
      operationId: communications.callRecords.DeleteOrganizer_v2
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/participants_v2':
    get:
      tags:
        - communications.callRecord
      summary: List participants_v2
      description: Get the list of participant objects associated with a callRecord.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-callrecord-list-participants_v2?view=graph-rest-beta
      operationId: communications.callRecords.ListParticipants_v2
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.participantCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to participants_v2 for communications
      operationId: communications.callRecords.CreateParticipants_v2
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/participants_v2/{participant-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get participants_v2 from communications
      description: List of distinct participants in the call.
      operationId: communications.callRecords.GetParticipants_v2
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property participants_v2 in communications
      operationId: communications.callRecords.UpdateParticipants_v2
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property participants_v2 for communications
      operationId: communications.callRecords.DeleteParticipants_v2
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/participants_v2/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communications.callRecords.participants_v2.GetCount-ecf7
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/callRecords/{callRecord-id}/sessions':
    get:
      tags:
        - communications.callRecord
      summary: List sessions
      description: Retrieve the list of sessions associated with a callRecord object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-callrecord-list-sessions?view=graph-rest-beta
      operationId: communications.callRecords.ListSessions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.sessionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to sessions for communications
      operationId: communications.callRecords.CreateSessions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get sessions from communications
      description: 'List of sessions involved in the call. Peer-to-peer calls typically only have one session, whereas group calls typically have at least one session per participant. Read-only. Nullable.'
      operationId: communications.callRecords.GetSessions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property sessions in communications
      operationId: communications.callRecords.UpdateSessions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property sessions for communications
      operationId: communications.callRecords.DeleteSessions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communications.callRecords.sessions.ListSegments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.segmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to segments for communications
      operationId: communications.callRecords.sessions.CreateSegments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/{segment-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communications.callRecords.sessions.GetSegments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property segments in communications
      operationId: communications.callRecords.sessions.UpdateSegments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property segments for communications
      operationId: communications.callRecords.sessions.DeleteSegments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communications.callRecords.sessions.segments.GetCount-4fed
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/callRecords/{callRecord-id}/sessions/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communications.callRecords.sessions.GetCount-c743
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /communications/callRecords/$count:
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communications.callRecords.GetCount-e558
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/callRecords/microsoft.graph.callRecords.getDirectRoutingCalls(fromDateTime={fromDateTime},toDateTime={toDateTime})':
    get:
      tags:
        - communications.callRecord
      summary: Invoke function getDirectRoutingCalls
      description: Get a log of direct routing calls as a collection of directRoutingLogRow entries.
      operationId: communications.callRecords.getDirectRoutingCalls
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.callRecords.directRoutingLogRow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/communications/callRecords/microsoft.graph.callRecords.getPstnBlockedUsersLog(fromDateTime={fromDateTime},toDateTime={toDateTime})':
    get:
      tags:
        - communications.callRecord
      summary: Invoke function getPstnBlockedUsersLog
      description: Get the log of users who are blocked/unblocked from making public switched telephone network (PSTN) calls in Microsoft Teams as a collection of pstnBlockedUsersLogRow entries. The log includes information about each blocked user such as their assigned phone number and the reason they were blocked/unblocked from making calls.
      operationId: communications.callRecords.getPstnBlockedUsersLog
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.callRecords.pstnBlockedUsersLogRow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/communications/callRecords/microsoft.graph.callRecords.getPstnCalls(fromDateTime={fromDateTime},toDateTime={toDateTime})':
    get:
      tags:
        - communications.callRecord
      summary: Invoke function getPstnCalls
      description: Get a log of PSTN calls as a collection of pstnCallLogRow entries.
      operationId: communications.callRecords.getPstnCalls
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.callRecords.pstnCallLogRow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/communications/callRecords/microsoft.graph.callRecords.getPstnOnlineMeetingDialoutReport(fromDateTime={fromDateTime},toDateTime={toDateTime})':
    get:
      tags:
        - communications.callRecord
      summary: Invoke function getPstnOnlineMeetingDialoutReport
      description: "Get aggregated report of usage and money spent for the audio conferencing dial-out service over a selected period as a collection of pstnOnlineMeetingDialoutReport entries.\r\nThe report is aggregated by user, user location, destination context (domestic/international), and currency. The report includes:"
      operationId: communications.callRecords.getPstnOnlineMeetingDialoutReport
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.callRecords.pstnOnlineMeetingDialoutReport'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/communications/callRecords/microsoft.graph.callRecords.getSmsLog(fromDateTime={fromDateTime},toDateTime={toDateTime})':
    get:
      tags:
        - communications.callRecord
      summary: Invoke function getSmsLog
      description: Get the log of a sent/received SMS as a collection of smsLogRow entries.
      operationId: communications.callRecords.getSmsLog
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.callRecords.smsLogRow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /communications/calls:
    get:
      tags:
        - communications.call
      summary: Get call
      description: Retrieve the properties and relationships of a call object.
      operationId: communications.ListCalls
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create call
      description: 'Create call enables your bot to create a new outgoing peer-to-peer or group call, or join an existing meeting. You need to register the calling bot and go through the list of permissions needed. This API supports the following PSTN scenarios:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-post-calls?view=graph-rest-beta
      operationId: communications.CreateCalls
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}':
    get:
      tags:
        - communications.call
      summary: Get call
      description: Retrieve the properties and relationships of a call object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-get?view=graph-rest-beta
      operationId: communications.GetCalls
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property calls in communications
      operationId: communications.UpdateCalls
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete call
      description: 'Delete or hang up an active call. For group calls, this will only delete your call leg and the underlying group call will still continue.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-delete?view=graph-rest-beta
      operationId: communications.DeleteCalls
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups':
    get:
      tags:
        - communications.call
      summary: List audio routing groups
      description: Retrieve a list of audioRoutingGroup objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-audioroutinggroups?view=graph-rest-beta
      operationId: communications.calls.ListAudioRoutingGroups
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.audioRoutingGroupCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create audio routing group
      description: Create a new audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-post-audioroutinggroups?view=graph-rest-beta
      operationId: communications.calls.CreateAudioRoutingGroups
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/{audioRoutingGroup-id}':
    get:
      tags:
        - communications.call
      summary: Get audio routing group
      description: Retrieve the properties and relationships of an audioRoutingGroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-get?view=graph-rest-beta
      operationId: communications.calls.GetAudioRoutingGroups
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update audio routing group
      description: Modify sources and receivers of an audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-update?view=graph-rest-beta
      operationId: communications.calls.UpdateAudioRoutingGroups
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete audio routing group
      description: Delete the specified audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-delete?view=graph-rest-beta
      operationId: communications.calls.DeleteAudioRoutingGroups
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communications.calls.audioRoutingGroups.GetCount-157e
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/contentSharingSessions':
    get:
      tags:
        - communications.call
      summary: List contentSharingSessions
      description: Retrieve a list of contentSharingSession objects in a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-contentsharingsessions?view=graph-rest-beta
      operationId: communications.calls.ListContentSharingSessions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contentSharingSessionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to contentSharingSessions for communications
      operationId: communications.calls.CreateContentSharingSessions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/contentSharingSessions/{contentSharingSession-id}':
    get:
      tags:
        - communications.call
      summary: Get contentSharingSession
      description: Retrieve the properties of a contentSharingSession object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contentsharingsession-get?view=graph-rest-beta
      operationId: communications.calls.GetContentSharingSessions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property contentSharingSessions in communications
      operationId: communications.calls.UpdateContentSharingSessions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property contentSharingSessions for communications
      operationId: communications.calls.DeleteContentSharingSessions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/contentSharingSessions/{contentSharingSession-id}/pngOfCurrentSlide':
    get:
      tags:
        - communications.call
      summary: Get pngOfCurrentSlide for the navigation property contentSharingSessions from communications
      operationId: communications.calls.GetContentSharingSessionsPngOfCurrentSlide
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
        - communications.call
      summary: Update pngOfCurrentSlide for the navigation property contentSharingSessions in communications
      operationId: communications.calls.UpdateContentSharingSessionsPngOfCurrentSlide
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - communications.call
      summary: Delete pngOfCurrentSlide for the navigation property contentSharingSessions in communications
      operationId: communications.calls.DeleteContentSharingSessionsPngOfCurrentSlide
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/contentSharingSessions/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communications.calls.contentSharingSessions.GetCount-a2b2
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/addLargeGalleryView':
    post:
      tags:
        - communications.call
      summary: Invoke action addLargeGalleryView
      description: 'Add the large gallery view to a call.  For details about how to identify a large gallery view participant in a roster so that you can retrieve the relevant data to subscribe to the video feed, see Identify large gallery view participants in a roster.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-addlargegalleryview?view=graph-rest-beta
      operationId: communications.calls.call.addLargeGalleryView
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.addLargeGalleryViewOperation'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/answer':
    post:
      tags:
        - communications.call
      summary: Invoke action answer
      description: 'Enable a bot to answer an incoming call. The incoming call request can be an invitation from a participant in a group call or a peer-to-peer call. If an invitation to a group call is received, the notification contains the chatInfo and meetingInfo parameters. The bot is expected to answer, reject or redirect the call before the call times out. The current timeout value is 15 seconds. The current timeout value is 15 seconds for regular scenarios, and 5 seconds for policy-based recording scenarios. This API supports the following PSTN scenarios:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-answer?view=graph-rest-beta
      operationId: communications.calls.call.answer
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                callbackUri:
                  type: string
                mediaConfig:
                  $ref: '#/components/schemas/microsoft.graph.mediaConfig'
                acceptedModalities:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/microsoft.graph.modality'
                      - type: object
                        nullable: true
                participantCapacity:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                callOptions:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.incomingCallOptions'
                    - type: object
                      nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/cancelMediaProcessing':
    post:
      tags:
        - communications.call
      summary: Invoke action cancelMediaProcessing
      description: 'Cancels processing for any in-progress media operations. Media operations refer to the IVR operations playPrompt and recordResponse, which are by default queued to process in order. The cancelMediaProcessing method cancels any operation that is in-process as well as operations that are queued. For example, this API can be used to clean up the IVR operation queue for a new media operation. However, it will not cancel a ubscribeToTone operation because it operates independent of any operation queue.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-cancelmediaprocessing?view=graph-rest-beta
      operationId: communications.calls.call.cancelMediaProcessing
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.cancelMediaProcessingOperation'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/changeScreenSharingRole':
    post:
      tags:
        - communications.call
      summary: Invoke action changeScreenSharingRole
      description: Allow applications to share screen content with the participants of a group call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-changescreensharingrole?view=graph-rest-beta
      operationId: communications.calls.call.changeScreenSharingRole
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/microsoft.graph.screenSharingRole'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/keepAlive':
    post:
      tags:
        - communications.call
      summary: Invoke action keepAlive
      description: 'Make a request to this API every 15 to 45 minutes to ensure that an ongoing call remains active. A call that doesn''t receive this request within 45 minutes is considered inactive and ends. At least one successful request must be made within 45 minutes of the previous request, or the start of the call. We recommend that you send a request in shorter time intervals (every 15 minutes). Make sure that these requests are successful to prevent the call from timing out and ending. Attempting to send a request to a call that ended results in a 404 Not Found error. The resources related to the call should be cleaned up on the application side.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-keepalive?view=graph-rest-beta
      operationId: communications.calls.call.keepAlive
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/mute':
    post:
      tags:
        - communications.call
      summary: Invoke action mute
      description: 'Allows the application to mute itself. This is a server mute, meaning that the server drops all audio packets for this participant, even if the participant continues to stream audio. For more information about how to handle mute operations, see muteParticipantOperation.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-mute?view=graph-rest-beta
      operationId: communications.calls.call.mute
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/playPrompt':
    post:
      tags:
        - communications.call
      summary: Invoke action playPrompt
      description: 'Play a prompt in the call. For more information about how to handle operations, see commsOperation'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-playprompt?view=graph-rest-beta
      operationId: communications.calls.call.playPrompt
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                loop:
                  type: boolean
                  default: false
                  nullable: true
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.playPromptOperation'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/record':
    post:
      tags:
        - communications.call
      summary: Invoke action record
      operationId: communications.calls.call.record
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                bargeInAllowed:
                  type: boolean
                  default: false
                  nullable: true
                initialSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
[...]
