openapi: 3.0.4
info:
  title: Reports
  version: beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /admin/reportSettings:
    get:
      tags:
        - admin.adminReportSettings
      summary: Get adminReportSettings
      description: Get the tenant-level settings for Microsoft 365 reports.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminreportsettings-get?view=graph-rest-beta
      operationId: admin.GetReportSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminReportSettings
      summary: Update adminReportSettings
      description: Update tenant-level settings for Microsoft 365 reports.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminreportsettings-update?view=graph-rest-beta
      operationId: admin.UpdateReportSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminReportSettings
      summary: Delete navigation property reportSettings for admin
      operationId: admin.DeleteReportSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/reportSettings/sharePoint:
    get:
      tags:
        - admin.adminReportSettings
      summary: Get sharePoint from admin
      description: A container for SharePoint-specific report settings. Access the SharePoint API usage report metrics through the operations defined on the sharePointReportSettings resource type.
      operationId: admin.reportSettings.GetSharePoint
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharePointReportSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminReportSettings
      summary: Update the navigation property sharePoint in admin
      operationId: admin.reportSettings.UpdateSharePoint
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharePointReportSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharePointReportSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminReportSettings
      summary: Delete navigation property sharePoint for admin
      operationId: admin.reportSettings.DeleteSharePoint
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/reportSettings/sharePoint/apiUsageReportMetrics:
    get:
      tags:
        - admin.adminReportSettings
      summary: List apiUsageReportMetrics
      description: Get the list of SharePoint API usage report metrics and their enablement status for the tenant. The supported metrics are egressReport and throttlingReport.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/sharepointreportsettings-list-apiusagereportmetrics?view=graph-rest-beta
      operationId: admin.reportSettings.sharePoint.ListApiUsageReportMetrics
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.apiUsageReportEnablementStatusCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.adminReportSettings
      summary: Create new navigation property to apiUsageReportMetrics for admin
      operationId: admin.reportSettings.sharePoint.CreateApiUsageReportMetrics
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.apiUsageReportEnablementStatus'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.apiUsageReportEnablementStatus'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/reportSettings/sharePoint/apiUsageReportMetrics/{apiUsageReportEnablementStatus-metric}':
    get:
      tags:
        - admin.adminReportSettings
      summary: Get apiUsageReportMetrics from admin
      description: The collection of API usage report metrics and the status of their enablement.
      operationId: admin.reportSettings.sharePoint.GetApiUsageReportMetrics
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.apiUsageReportEnablementStatus'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminReportSettings
      summary: Update the navigation property apiUsageReportMetrics in admin
      operationId: admin.reportSettings.sharePoint.UpdateApiUsageReportMetrics
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.apiUsageReportEnablementStatus'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.apiUsageReportEnablementStatus'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminReportSettings
      summary: Delete navigation property apiUsageReportMetrics for admin
      operationId: admin.reportSettings.sharePoint.DeleteApiUsageReportMetrics
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/reportSettings/sharePoint/apiUsageReportMetrics/$count:
    get:
      tags:
        - admin.adminReportSettings
      summary: Get the number of the resource
      operationId: admin.reportSettings.sharePoint.apiUsageReportMetrics.GetCount-c2ca
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /admin/reportSettings/sharePoint/disableApiUsageReport:
    post:
      tags:
        - admin.adminReportSettings
      summary: Invoke action disableApiUsageReport
      description: 'Disable a SharePoint API usage report metric for the tenant. After you disable a metric, SharePoint stops collecting and reporting data for that specific usage metric.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/sharepointreportsettings-disableapiusagereport?view=graph-rest-beta
      operationId: admin.reportSettings.sharePoint.disableApiUsageReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                metric:
                  type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.apiUsageReportEnablementStatus'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/reportSettings/sharePoint/enableApiUsageReport:
    post:
      tags:
        - admin.adminReportSettings
      summary: Invoke action enableApiUsageReport
      description: 'Enable a SharePoint API usage report metric for the tenant. After you enable a metric, SharePoint starts collecting and reporting data for that specific usage metric.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/sharepointreportsettings-enableapiusagereport?view=graph-rest-beta
      operationId: admin.reportSettings.sharePoint.enableApiUsageReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                metric:
                  type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.apiUsageReportEnablementStatus'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLogs.auditLogRoot.GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLogs.auditLogRoot.UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/auditActivityTypes:
    get:
      tags:
        - auditLogs.auditActivityType
      summary: List auditActivityType objects
      description: Gets a list of all of the possible audit log types and which services they come from as defined in the auditActivityType object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-auditactivitytypes?view=graph-rest-beta
      operationId: auditLogs.ListAuditActivityTypes
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.auditActivityTypeCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.auditActivityType
      summary: Create new navigation property to auditActivityTypes for auditLogs
      operationId: auditLogs.CreateAuditActivityTypes
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/auditActivityTypes/{auditActivityType-id}':
    get:
      tags:
        - auditLogs.auditActivityType
      summary: Get auditActivityTypes from auditLogs
      description: Represents an audit activity type which includes the associated service and category for a specific activity.
      operationId: auditLogs.GetAuditActivityTypes
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditActivityType
      summary: Update the navigation property auditActivityTypes in auditLogs
      operationId: auditLogs.UpdateAuditActivityTypes
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.auditActivityType
      summary: Delete navigation property auditActivityTypes for auditLogs
      operationId: auditLogs.DeleteAuditActivityTypes
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/auditActivityTypes/$count:
    get:
      tags:
        - auditLogs.auditActivityType
      summary: Get the number of the resource
      operationId: auditLogs.auditActivityTypes.GetCount-a00a
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /auditLogs/customSecurityAttributeAudits:
    get:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: List customSecurityAttributeAudits
      description: Get a list of customSecurityAttributeAudit objects representing audit logs generated by activities related to custom security attribute management in Microsoft Entra ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-customsecurityattributeaudits?view=graph-rest-beta
      operationId: auditLogs.ListCustomSecurityAttributeAudits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.customSecurityAttributeAuditCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Create new navigation property to customSecurityAttributeAudits for auditLogs
      operationId: auditLogs.CreateCustomSecurityAttributeAudits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/customSecurityAttributeAudits/{customSecurityAttributeAudit-id}':
    get:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Get customSecurityAttributeAudits from auditLogs
      description: Represents a custom security attribute audit log.
      operationId: auditLogs.GetCustomSecurityAttributeAudits
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Update the navigation property customSecurityAttributeAudits in auditLogs
      operationId: auditLogs.UpdateCustomSecurityAttributeAudits
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Delete navigation property customSecurityAttributeAudits for auditLogs
      operationId: auditLogs.DeleteCustomSecurityAttributeAudits
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/customSecurityAttributeAudits/$count:
    get:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Get the number of the resource
      operationId: auditLogs.customSecurityAttributeAudits.GetCount-313a
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: List directoryAudits
      description: 'Get a list of directoryAudit objects representing the audit logs generated by Microsoft Entra ID. This includes audit logs generated by various services within Microsoft Entra ID, including user, app, device and group Management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (SSPR and admin password resets), and self service group management.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-list?view=graph-rest-beta
      operationId: auditLogs.ListDirectoryAudits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryAuditCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLogs.CreateDirectoryAudits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudit
      description: 'Get a specific directoryAudit item. This includes an audit log item generated by various services within Microsoft Entra ID like user, application, device and group management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (self-service and admin password resets), self-service group management, and so on.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-get?view=graph-rest-beta
      operationId: auditLogs.GetDirectoryAudits
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLogs.UpdateDirectoryAudits
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLogs.DeleteDirectoryAudits
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits/$count:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get the number of the resource
      operationId: auditLogs.directoryAudits.GetCount-fedb
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /auditLogs/directoryProvisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs.ListDirectoryProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to directoryProvisioning for auditLogs
      operationId: auditLogs.CreateDirectoryProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryProvisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs.GetDirectoryProvisioning
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property directoryProvisioning in auditLogs
      operationId: auditLogs.UpdateDirectoryProvisioning
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property directoryProvisioning for auditLogs
      operationId: auditLogs.DeleteDirectoryProvisioning
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryProvisioning/$count:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get the number of the resource
      operationId: auditLogs.directoryProvisioning.GetCount-1cd0
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/auditLogs/getSummarizedMSISignIns(aggregationWindow=''{aggregationWindow}'')':
    get:
      tags:
        - auditLogs.auditLogRoot.Functions
      summary: Invoke function getSummarizedMSISignIns
      description: 'Returns aggregated MSI sign-in event counts grouped by user, application, IP address, and time window, with drill-down capability using individual requestIds via the /signIns endpoint.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-getsummarizedmsisignins?view=graph-rest-beta
      operationId: auditLogs.getSummarizedMSISignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of summarizedSignIn
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.summarizedSignIn'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/auditLogs/getSummarizedNonInteractiveSignIns(aggregationWindow=''{aggregationWindow}'')':
    get:
      tags:
        - auditLogs.auditLogRoot.Functions
      summary: Invoke function getSummarizedNonInteractiveSignIns
      description: 'Returns aggregated non-interactive sign-in event counts grouped by user, application, IP address, and time window, with drill-down capability using individual requestIds via the /signIns endpoint. This includes autonomous agent sign-in events.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-getsummarizednoninteractivesignins?view=graph-rest-beta
      operationId: auditLogs.getSummarizedNonInteractiveSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of summarizedSignIn
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.summarizedSignIn'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/auditLogs/getSummarizedServicePrincipalSignIns(aggregationWindow=''{aggregationWindow}'')':
    get:
      tags:
        - auditLogs.auditLogRoot.Functions
      summary: Invoke function getSummarizedServicePrincipalSignIns
      description: 'Returns aggregated service principal sign-in event counts grouped by user, application, IP address, and time window, with drill-down capability using individual requestIds via the /signIns endpoint. This includes autonomous agent sign-in events.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-getsummarizedserviceprincipalsignins?view=graph-rest-beta
      operationId: auditLogs.getSummarizedServicePrincipalSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of summarizedSignIn
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.summarizedSignIn'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: List provisioningObjectSummary
      description: 'Get all provisioningObjectSummary events that occurred in your tenant, such as the deletion of a group in a target application or the creation of a user when provisioning user accounts from your HR system.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/provisioningobjectsummary-list?view=graph-rest-beta
      operationId: auditLogs.ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLogs.CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      description: Represents an action performed by the Microsoft Entra provisioning service and its associated properties.
      operationId: auditLogs.GetProvisioning
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLogs.UpdateProvisioning
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLogs.DeleteProvisioning
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning/$count:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get the number of the resource
      operationId: auditLogs.provisioning.GetCount-2f99
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /auditLogs/signInEventsAppSummary:
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: List signInEventsAppActivity objects
      description: Get a list of applications and their number of sign-in events in the past 30 days as defined in the signInEventsAppActivity object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-signineventsappsummary?view=graph-rest-beta
      operationId: auditLogs.ListSignInEventsAppSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.signInEventsAppActivityCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Create new navigation property to signInEventsAppSummary for auditLogs
      operationId: auditLogs.CreateSignInEventsAppSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signInEventsAppSummary/{signInEventsAppActivity-appId}':
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Get signInEventsAppSummary from auditLogs
      description: Represents the number of sign-in events for a specific application.
      operationId: auditLogs.GetSignInEventsAppSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Update the navigation property signInEventsAppSummary in auditLogs
      operationId: auditLogs.UpdateSignInEventsAppSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Delete navigation property signInEventsAppSummary for auditLogs
      operationId: auditLogs.DeleteSignInEventsAppSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signInEventsAppSummary/{signInEventsAppActivity-appId}/application':
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Get application from auditLogs
      description: Represents an application registered in Microsoft Entra ID.
      operationId: auditLogs.signInEventsAppSummary.GetApplication
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signInEventsAppSummary/{signInEventsAppActivity-appId}/application/logo':
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Get logo for the navigation property application from auditLogs
      description: The main logo for the application. Not nullable.
      operationId: auditLogs.signInEventsAppSummary.GetApplicationLogo
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Update logo for the navigation property application in auditLogs
      description: The main logo for the application. Not nullable.
      operationId: auditLogs.signInEventsAppSummary.UpdateApplicationLogo
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Delete logo for the navigation property application in auditLogs
      description: The main logo for the application. Not nullable.
      operationId: auditLogs.signInEventsAppSummary.DeleteApplicationLogo
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /auditLogs/signInEventsAppSummary/$count:
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Get the number of the resource
      operationId: auditLogs.signInEventsAppSummary.GetCount-c738
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /auditLogs/signInEventsSummary:
    get:
      tags:
        - auditLogs.signInEventsActivity
      summary: List signInEventsActivity objects
      description: Get a list of the number of signin events for a specific day as defined in the signInEventsActivity object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-signineventssummary?view=graph-rest-beta
      operationId: auditLogs.ListSignInEventsSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.signInEventsActivityCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signInEventsActivity
      summary: Create new navigation property to signInEventsSummary for auditLogs
      operationId: auditLogs.CreateSignInEventsSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signInEventsSummary/{signInEventsActivity-id}':
    get:
      tags:
        - auditLogs.signInEventsActivity
      summary: Get signInEventsSummary from auditLogs
      description: Represents the total number of sign-in events for a specific day.
      operationId: auditLogs.GetSignInEventsSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signInEventsActivity
      summary: Update the navigation property signInEventsSummary in auditLogs
      operationId: auditLogs.UpdateSignInEventsSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signInEventsActivity
      summary: Delete navigation property signInEventsSummary for auditLogs
      operationId: auditLogs.DeleteSignInEventsSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signInEventsSummary/$count:
    get:
      tags:
        - auditLogs.signInEventsActivity
      summary: Get the number of the resource
      operationId: auditLogs.signInEventsSummary.GetCount-8c57
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: List signIns
      description: 'Get a list of signIn objects. The list contains the user sign-ins for your Microsoft Entra tenant. Sign-ins where a username and password are passed as part of authorization token, and successful federated sign-ins are currently included in the sign-in logs. The maximum and default page size is 1,000 objects and by default, the most recent sign-ins are returned first. Only sign-in events that occurred within the Microsoft Entra ID default retention period are available.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-list?view=graph-rest-beta
      operationId: auditLogs.ListSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.signInCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLogs.CreateSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIn
      description: Retrieve a specific Microsoft Entra user sign-in event for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-get?view=graph-rest-beta
      operationId: auditLogs.GetSignIns
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLogs.UpdateSignIns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLogs.DeleteSignIns
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns/$count:
    get:
      tags:
        - auditLogs.signIn
      summary: Get the number of the resource
      operationId: auditLogs.signIns.GetCount-9ee4
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /auditLogs/signIns/confirmCompromised:
    post:
      tags:
        - auditLogs.signIn
      summary: Invoke action confirmCompromised
      description: 'Allow admins to mark an event in the Microsoft Entra sign-in logs as risky. Events marked as risky by an admin are immediately flagged as high risk in Microsoft Entra ID Protection, overriding previous risk states. Admins can confirm that events flagged as risky by Microsoft Entra ID Protection are in fact risky. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-confirmcompromised?view=graph-rest-beta
      operationId: auditLogs.signIns.confirmCompromised
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signIns/confirmSafe:
    post:
      tags:
        - auditLogs.signIn
      summary: Invoke action confirmSafe
      description: 'Allow admins to mark an event in Microsoft Entra sign-in logs as safe. Admins can either mark the events flagged as risky by Microsoft Entra ID Protection as safe, or they can mark unflagged events as safe. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-confirmsafe?view=graph-rest-beta
      operationId: auditLogs.signIns.confirmSafe
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signIns/dismiss:
    post:
      tags:
        - auditLogs.signIn
      summary: Invoke action dismiss
      description: 'Mark an event in Microsoft Entra sign-in logs as dismissed. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-dismiss?view=graph-rest-beta
      operationId: auditLogs.signIns.dismiss
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signUps:
    get:
      tags:
        - auditLogs.selfServiceSignUp
      summary: List signUps
      description: 'Retrieve the Microsoft Entra External ID user selfServiceSignUps events for your tenant.  The maximum and default page size is 1,000 objects and by default, the most recent sign-ups are returned first. Only sign-up events that occurred within the Microsoft Entra ID default retention period are available.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-signups?view=graph-rest-beta
      operationId: auditLogs.ListSignUps
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.selfServiceSignUpCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Create new navigation property to signUps for auditLogs
      operationId: auditLogs.CreateSignUps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signUps/{selfServiceSignUp-id}':
    get:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Get selfServiceSignUp
      description: 'Retrieve a specific Microsoft Entra External ID user selfServiceSignUp event for your tenant.  '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/selfservicesignup-get?view=graph-rest-beta
      operationId: auditLogs.GetSignUps
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Update the navigation property signUps in auditLogs
      operationId: auditLogs.UpdateSignUps
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Delete navigation property signUps for auditLogs
      operationId: auditLogs.DeleteSignUps
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signUps/$count:
    get:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Get the number of the resource
      operationId: auditLogs.signUps.GetCount-fd41
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceManagement/reports:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get reports from deviceManagement
      description: Reports singleton
      operationId: deviceManagement.GetReports
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property reports in deviceManagement
      operationId: deviceManagement.UpdateReports
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property reports for deviceManagement
      operationId: deviceManagement.DeleteReports
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/cachedReportConfigurations:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report.
      operationId: deviceManagement.reports.ListCachedReportConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementCachedReportConfigurationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.reports.CreateCachedReportConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/cachedReportConfigurations/{deviceManagementCachedReportConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report.
      operationId: deviceManagement.reports.GetCachedReportConfigurations
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property cachedReportConfigurations in deviceManagement
      operationId: deviceManagement.reports.UpdateCachedReportConfigurations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.reports.DeleteCachedReportConfigurations
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/cachedReportConfigurations/$count:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get the number of the resource
      operationId: deviceManagement.reports.cachedReportConfigurations.GetCount-70d8
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceManagement/reports/exportJobs:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report.
      operationId: deviceManagement.reports.ListExportJobs
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementExportJobCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to exportJobs for deviceManagement
      operationId: deviceManagement.reports.CreateExportJobs
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/exportJobs/{deviceManagementExportJob-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report.
      operationId: deviceManagement.reports.GetExportJobs
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property exportJobs in deviceManagement
      operationId: deviceManagement.reports.UpdateExportJobs
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property exportJobs for deviceManagement
      operationId: deviceManagement.reports.DeleteExportJobs
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs/$count:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get the number of the resource
      operationId: deviceManagement.reports.exportJobs.GetCount-5277
      parameters:
[...]
