openapi: 3.0.4
info:
  title: Security
  version: beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /security:
    get:
      tags:
        - security.security
      summary: Get security
      operationId: security.security.GetSecurity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.security
      summary: Update security
      operationId: security.security.UpdateSecurity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts:
    get:
      tags:
        - security.alert
      summary: List alerts (deprecated)
      description: Retrieve a list of alert objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/alert-list?view=graph-rest-beta
      operationId: security.ListAlerts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.alertCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create new navigation property to alerts for security
      operationId: security.CreateAlerts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
      x-ms-docs-operation-type: operation
  /security/alerts_v2:
    get:
      tags:
        - security.alert
      summary: List alerts_v2
      description: 'Get a list of alert resources that were created to track suspicious activities in an organization. This operation lets you filter and sort through alerts to create an informed cyber security response. It exposes a collection of alerts that were flagged in your network, within the time range you specified in your environment retention policy. The most recent alerts are displayed at the top of the list.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-list-alerts_v2?view=graph-rest-beta
      operationId: security.ListAlerts_v2
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.alertCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create manualAlert
      description: 'Create a manual security alert in Microsoft 365 Defender with specified entities and metadata. When the alert is created, the backend automatically creates a new incident to contain the alert, or links the alert to an existing incident if linkToIncident is specified.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-alert-post-manualalert?view=graph-rest-beta
      operationId: security.CreateAlerts_v2
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.alert'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.alert'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts_v2/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alert
      description: Get the properties and relationships of an alert object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-alert-get?view=graph-rest-beta
      operationId: security.GetAlerts_v2
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.alert'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update alert
      description: Update the properties of an alert object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-alert-update?view=graph-rest-beta
      operationId: security.UpdateAlerts_v2
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.alert'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.alert'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.alert
      summary: Delete navigation property alerts_v2 for security
      operationId: security.DeleteAlerts_v2
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts_v2/{alert-id}/comments':
    post:
      tags:
        - security.alert
      summary: Create comment for alert
      description: Create a comment for an existing alert based on the specified alert id property.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-alert-post-comments?view=graph-rest-beta
      operationId: security.alerts_v2.SetComments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.security.alertComment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.security.alertComment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/security/alerts_v2/{alert-id}/comments/$count':
    get:
      tags:
        - security.alert
      summary: Get the number of the resource
      operationId: security.alerts_v2.Comments.GetCount-2f70
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/alerts_v2/$count:
    get:
      tags:
        - security.alert
      summary: Get the number of the resource
      operationId: security.alerts_v2.GetCount-9522
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/alerts_v2/microsoft.graph.security.createAlert:
    post:
      tags:
        - security.alert
      summary: Invoke action createAlert
      description: Create a Microsoft 365 Defender alert by invoking a bound action on the alerts_v2 collection and returning the created alert resource. The action accepts a createAlertInput complex type that combines alert metadata and creation-specific options in one request object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-alert-createalert?view=graph-rest-beta
      operationId: security.alerts_v2.createAlert
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                createAlertInput:
                  $ref: '#/components/schemas/microsoft.graph.security.createAlertInput'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.security.alert'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /security/alerts_v2/microsoft.graph.security.moveAlerts:
    post:
      tags:
        - security.alert
      summary: Invoke action moveAlerts
      description: Move one or more alert resources to a new or existing incident.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-alert-movealerts?view=graph-rest-beta
      operationId: security.alerts_v2.moveAlerts
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                alertIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                incidentId:
                  type: string
                  nullable: true
                alertComment:
                  type: string
                  nullable: true
                newCorrelationReasons:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.security.correlationReason'
                    - type: object
                      nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.security.mergeResponse'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/alerts/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alert (deprecated)
      description: Retrieve the properties and relationships of an alert object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/alert-get?view=graph-rest-beta
      operationId: security.GetAlerts
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update alert (deprecated)
      description: Update an editable alert property within any integrated solution to keep alert status and assignments in sync across solutions. This method updates any solution that has a record of the referenced alert ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/alert-update?view=graph-rest-beta
      operationId: security.UpdateAlerts
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
      x-ms-docs-operation-type: operation
  /security/alerts/$count:
    get:
      tags:
        - security.alert
      summary: Get the number of the resource
      operationId: security.alerts.GetCount-82d4
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
  /security/alerts/updateAlerts:
    post:
      tags:
        - security.alert
      summary: Invoke action updateAlerts
      description: Update multiple alerts in one request instead of multiple requests.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/alert-updatealerts?view=graph-rest-beta
      operationId: security.alerts.updateAlerts
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of alert
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.alert'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-04-10'
        date: '2024-04-10'
        version: 2024-01/Deprecation
        description: 'The legacy Graph Security API is deprecated and will stop returning data on January 31, 2025. Please use the new Graph Security API.'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /security/attackSimulation:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get attackSimulation from security
      description: Provides tenants capability to launch a simulated and realistic phishing attack and learn from it.
      operationId: security.GetAttackSimulation
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property attackSimulation in security
      operationId: security.UpdateAttackSimulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property attackSimulation for security
      operationId: security.DeleteAttackSimulation
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/endUserNotifications:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List endUserNotifications
      description: Get a list of endUserNotification objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-endusernotifications?view=graph-rest-beta
      operationId: security.attackSimulation.ListEndUserNotifications
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.endUserNotificationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to endUserNotifications for security
      operationId: security.attackSimulation.CreateEndUserNotifications
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/endUserNotifications/{endUserNotification-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get endUserNotifications from security
      description: Represents an end user's notification for an attack simulation training.
      operationId: security.attackSimulation.GetEndUserNotifications
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property endUserNotifications in security
      operationId: security.attackSimulation.UpdateEndUserNotifications
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property endUserNotifications for security
      operationId: security.attackSimulation.DeleteEndUserNotifications
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/endUserNotifications/{endUserNotification-id}/details':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get details from security
      operationId: security.attackSimulation.endUserNotifications.ListDetails
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.endUserNotificationDetailCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to details for security
      operationId: security.attackSimulation.endUserNotifications.CreateDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/endUserNotifications/{endUserNotification-id}/details/{endUserNotificationDetail-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get details from security
      operationId: security.attackSimulation.endUserNotifications.GetDetails
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property details in security
      operationId: security.attackSimulation.endUserNotifications.UpdateDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property details for security
      operationId: security.attackSimulation.endUserNotifications.DeleteDetails
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/endUserNotifications/{endUserNotification-id}/details/$count':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.endUserNotifications.details.GetCount-5759
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/endUserNotifications/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.endUserNotifications.GetCount-421b
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/landingPages:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List landingPages
      description: Get a list of the landingPage objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-landingpage?view=graph-rest-beta
      operationId: security.attackSimulation.ListLandingPages
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.landingPageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to landingPages for security
      operationId: security.attackSimulation.CreateLandingPages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/landingPages/{landingPage-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get landingPages from security
      description: Represents an attack simulation training landing page.
      operationId: security.attackSimulation.GetLandingPages
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property landingPages in security
      operationId: security.attackSimulation.UpdateLandingPages
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property landingPages for security
      operationId: security.attackSimulation.DeleteLandingPages
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/landingPages/{landingPage-id}/details':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get details from security
      description: The detail information for a landing page associated with a simulation during its creation.
      operationId: security.attackSimulation.landingPages.ListDetails
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.landingPageDetailCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to details for security
      operationId: security.attackSimulation.landingPages.CreateDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/landingPages/{landingPage-id}/details/{landingPageDetail-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get details from security
      description: The detail information for a landing page associated with a simulation during its creation.
      operationId: security.attackSimulation.landingPages.GetDetails
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property details in security
      operationId: security.attackSimulation.landingPages.UpdateDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property details for security
      operationId: security.attackSimulation.landingPages.DeleteDetails
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/landingPages/{landingPage-id}/details/$count':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.landingPages.details.GetCount-8be7
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/landingPages/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.landingPages.GetCount-7f61
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/loginPages:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List loginPages
      description: Get a list of the loginPage objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-loginpage?view=graph-rest-beta
      operationId: security.attackSimulation.ListLoginPages
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.loginPageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to loginPages for security
      operationId: security.attackSimulation.CreateLoginPages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.loginPage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/loginPages/{loginPage-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get loginPages from security
      description: Represents an attack simulation training login page.
      operationId: security.attackSimulation.GetLoginPages
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property loginPages in security
      operationId: security.attackSimulation.UpdateLoginPages
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.loginPage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property loginPages for security
      operationId: security.attackSimulation.DeleteLoginPages
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/loginPages/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.loginPages.GetCount-a7ea
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/operations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get attackSimulationOperation
      description: Get an attack simulation operation to track a long-running operation request for a tenant.
      operationId: security.attackSimulation.ListOperations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attackSimulationOperationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to operations for security
      operationId: security.attackSimulation.CreateOperations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/operations/{attackSimulationOperation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get attackSimulationOperation
      description: Get an attack simulation operation to track a long-running operation request for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationoperation-get?view=graph-rest-beta
      operationId: security.attackSimulation.GetOperations
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property operations in security
      operationId: security.attackSimulation.UpdateOperations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property operations for security
      operationId: security.attackSimulation.DeleteOperations
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/operations/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.operations.GetCount-e5f7
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/payloads:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List payloads
      description: Get a list of payloads for attack simulation campaigns. This operation expects the mandatory parameter source to filter and query the respective data source.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-payloads?view=graph-rest-beta
      operationId: security.attackSimulation.ListPayloads
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.payloadCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to payloads for security
      operationId: security.attackSimulation.CreatePayloads
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.payload'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/payloads/{payload-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get payload
      description: Get an attack simulation campaign payload for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/payload-get?view=graph-rest-beta
      operationId: security.attackSimulation.GetPayloads
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property payloads in security
      operationId: security.attackSimulation.UpdatePayloads
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.payload'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property payloads for security
      operationId: security.attackSimulation.DeletePayloads
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/payloads/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.payloads.GetCount-f3a2
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/simulationAutomations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List simulationAutomations
      description: Get a list of attack simulation automations for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-simulationautomations?view=graph-rest-beta
      operationId: security.attackSimulation.ListSimulationAutomations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.simulationAutomationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to simulationAutomations for security
      operationId: security.attackSimulation.CreateSimulationAutomations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulationAutomation
      description: Get an attack simulation automation for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulationautomation-get?view=graph-rest-beta
      operationId: security.attackSimulation.GetSimulationAutomations
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property simulationAutomations in security
      operationId: security.attackSimulation.UpdateSimulationAutomations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property simulationAutomations for security
      operationId: security.attackSimulation.DeleteSimulationAutomations
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs':
    get:
      tags:
        - security.attackSimulationRoot
      summary: List runs
      description: Get a list of the attack simulation automation runs for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulationautomation-list-runs?view=graph-rest-beta
      operationId: security.attackSimulation.simulationAutomations.ListRuns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.simulationAutomationRunCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to runs for security
      operationId: security.attackSimulation.simulationAutomations.CreateRuns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs/{simulationAutomationRun-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get runs from security
      description: A collection of simulation automation runs.
      operationId: security.attackSimulation.simulationAutomations.GetRuns
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property runs in security
      operationId: security.attackSimulation.simulationAutomations.UpdateRuns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property runs for security
      operationId: security.attackSimulation.simulationAutomations.DeleteRuns
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs/$count':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.simulationAutomations.runs.GetCount-9ec4
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/simulationAutomations/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.simulationAutomations.GetCount-6071
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/simulations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List simulations
      description: Get a list of attack simulation campaigns for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-simulations?view=graph-rest-beta
      operationId: security.attackSimulation.ListSimulations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.simulationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create simulation
      description: Create an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-post-simulation?view=graph-rest-beta
      operationId: security.attackSimulation.CreateSimulations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulation
      description: Get an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulation-get?view=graph-rest-beta
      operationId: security.attackSimulation.GetSimulations
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update simulation
      description: Update an attack simulation campaign for a tenant. You can only update simulations that are in draft status.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulation-update?view=graph-rest-beta
      operationId: security.attackSimulation.UpdateSimulations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete simulation
      description: Delete an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulation-delete?view=graph-rest-beta
      operationId: security.attackSimulation.DeleteSimulations
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}/landingPage':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get landingPage from security
      description: The landing page associated with a simulation during its creation.
      operationId: security.attackSimulation.simulations.GetLandingPage
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}/loginPage':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get loginPage from security
      description: The login page associated with a simulation during its creation.
      operationId: security.attackSimulation.simulations.GetLoginPage
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}/payload':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get payload from security
      description: The payload associated with a simulation during its creation.
      operationId: security.attackSimulation.simulations.GetPayload
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.simulations.GetCount-285e
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/trainingCampaigns:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List trainingCampaign objects
      description: Get a list of trainingCampaign objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-trainingcampaigns?view=graph-rest-beta
      operationId: security.attackSimulation.ListTrainingCampaigns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.trainingCampaignCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create trainingCampaign
      description: Create a new trainingCampaign object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-post-trainingcampaigns?view=graph-rest-beta
      operationId: security.attackSimulation.CreateTrainingCampaigns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trainingCampaign'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trainingCampaign'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/trainingCampaigns/{trainingCampaign-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get trainingCampaign
      description: Read the properties and relationships of a trainingCampaign object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/trainingcampaign-get?view=graph-rest-beta
      operationId: security.attackSimulation.GetTrainingCampaigns
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trainingCampaign'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update trainingCampaign
      description: Update the properties of a trainingCampaign object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/trainingcampaign-update?view=graph-rest-beta
      operationId: security.attackSimulation.UpdateTrainingCampaigns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trainingCampaign'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trainingCampaign'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete trainingCampaign
      description: Delete a trainingCampaign object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-delete-trainingcampaigns?view=graph-rest-beta
      operationId: security.attackSimulation.DeleteTrainingCampaigns
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/trainingCampaigns/$count:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get the number of the resource
      operationId: security.attackSimulation.trainingCampaigns.GetCount-8c36
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/trainings:
    get:
      tags:
        - security.attackSimulationRoot
      summary: List trainings
      description: Get a list of the training objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-trainings?view=graph-rest-beta
      operationId: security.attackSimulation.ListTrainings
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.trainingCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to trainings for security
      operationId: security.attackSimulation.CreateTrainings
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.training'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.training'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/trainings/{training-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get trainings from security
      description: Represents details about attack simulation trainings.
      operationId: security.attackSimulation.GetTrainings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.training'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property trainings in security
      operationId: security.attackSimulation.UpdateTrainings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.training'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.training'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
[...]
