openapi: 3.0.4
info:
  title: Users.Actions
  version: beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/assignLicense':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action assignLicense
      description: 'Add or remove licenses for the user to enable or disable their use of Microsoft cloud offerings that the company has licenses to. For example, an organization can have a Microsoft 365 Enterprise E3 subscription with 100 licenses, and this request assigns one of those licenses to a specific user. You can also enable and disable specific plans associated with a subscription. Direct user licensing is an alternative to group-based licensing. To get the subscriptions available in the directory, perform a GET subscribedSkus request. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-assignlicense?view=graph-rest-beta
      operationId: users.user.assignLicense
      requestBody:
        $ref: '#/components/requestBodies/assignLicenseRequestBody'
      responses:
        2XX:
          $ref: '#/components/responses/assignLicenseResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/changePassword':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action changePassword
      description: "Update the signed-in user's password. Any user can update their password without belonging to any administrator role.\r\nTo update another user's password in either delegated or app-only scenarios, update the passwordProfile property of the user instead. See Example 3: Update the passwordProfile of a user and reset their password."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-changepassword?view=graph-rest-beta
      operationId: users.user.changePassword
      requestBody:
        $ref: '#/components/requestBodies/changePasswordRequestBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/checkMemberGroups':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action checkMemberGroups
      description: "Check for membership in a specified list of group IDs, and return from that list the IDs of groups where a specified object is a member. The specified object can be of one of the following types:\r\n- user\r\n- group\r\n- service principal\r\n- organizational contact\r\n- device\r\n- directory object This function is transitive. You can check up to a maximum of 20 groups per request. This function supports all groups provisioned in Microsoft Entra ID. Because Microsoft 365 groups cannot contain other groups, membership in a Microsoft 365 group is always direct."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryobject-checkmembergroups?view=graph-rest-beta
      operationId: users.user.checkMemberGroups
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          type: string
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/checkMemberObjects':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action checkMemberObjects
      operationId: users.user.checkMemberObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          type: string
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/convertExternalToInternalMemberUser':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action convertExternalToInternalMemberUser
      description: 'Convert an externally authenticated user into an internal user. The user is able to sign into the host tenant as an internal user and access resources as a member. For more information about this conversion, see Convert external users to internal users.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-convertexternaltointernalmemberuser?view=graph-rest-beta
      operationId: users.user.convertExternalToInternalMemberUser
      requestBody:
        $ref: '#/components/requestBodies/convertExternalToInternalMemberUserRequestBody'
      responses:
        2XX:
          $ref: '#/components/responses/convertExternalToInternalMemberUserResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/deletePasswordSingleSignOnCredentials':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action deletePasswordSingleSignOnCredentials
      description: Delete the password-based single sign-on credentials for a given user to a given service principal.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-deletepasswordsinglesignoncredentials?view=graph-rest-beta
      operationId: users.user.deletePasswordSingleSignOnCredentials
      requestBody:
        $ref: '#/components/requestBodies/deletePasswordSingleSignOnCredentialsRequestBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/exportPersonalData':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action exportPersonalData
      description: 'Submit a data policy operation request from a company administrator or an application to export an organizational user''s data. This data includes the user''s data stored in OneDrive and their activity reports. For more information about exporting data while complying with regulations, see Data Subject Requests and the GDPR and CCPA.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-exportpersonaldata?view=graph-rest-beta
      operationId: users.user.exportPersonalData
      requestBody:
        $ref: '#/components/requestBodies/exportPersonalDataRequestBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/findMeetingLocations':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action findMeetingLocations
      operationId: users.user.findMeetingLocations
      requestBody:
        $ref: '#/components/requestBodies/findMeetingLocationsRequestBody'
      responses:
        2XX:
          $ref: '#/components/responses/findMeetingLocationsResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/findMeetingTimes':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action findMeetingTimes
      description: "Suggest meeting times and locations based on organizer and attendee availability, and time or location constraints specified as parameters. If findMeetingTimes cannot return any meeting suggestions, the response would indicate a reason in the emptySuggestionsReason property.\r\nBased on this value, you can better adjust the parameters and call findMeetingTimes again. The algorithm used to suggest meeting times and locations undergoes fine-tuning from time to time. In scenarios like test environments where the input parameters and calendar data remain static, expect that the suggested results may differ over time."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-findmeetingtimes?view=graph-rest-beta
      operationId: users.user.findMeetingTimes
      requestBody:
        $ref: '#/components/requestBodies/findMeetingTimesRequestBody'
      responses:
        2XX:
          $ref: '#/components/responses/findMeetingTimesResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/getMailTips':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action getMailTips
      description: "Get the MailTips of one or more recipients as available to the signed-in user. Note that by making a POST call to the getMailTips action, you can request specific types of MailTips to\r\nbe returned for more than one recipient at one time. The requested MailTips are returned in a mailTips collection."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-getmailtips?view=graph-rest-beta
      operationId: users.user.getMailTips
      requestBody:
        $ref: '#/components/requestBodies/getMailTipsRequestBody'
      responses:
        2XX:
          $ref: '#/components/responses/getMailTipsResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/getMemberGroups':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action getMemberGroups
      description: 'Return all the group IDs for the groups that the specified user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive. This API returns up to 11,000 group IDs. If more than 11,000 results are available, it returns a 400 Bad Request error with the DirectoryResultSizeLimitExceeded error code. If you get the DirectoryResultSizeLimitExceeded error code, use the List group transitive memberOf API instead.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryobject-getmembergroups?view=graph-rest-beta
      operationId: users.user.getMemberGroups
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          type: string
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/getMemberObjects':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action getMemberObjects
      operationId: users.user.getMemberObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          type: string
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/getPasswordSingleSignOnCredentials':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action getPasswordSingleSignOnCredentials
      description: Get the list of password-based single sign-on credentials for a given user. This API returns the encrypted passwords as null or empty strings.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-getpasswordsinglesignoncredentials?view=graph-rest-beta
      operationId: users.user.getPasswordSingleSignOnCredentials
      responses:
        2XX:
          $ref: '#/components/responses/getPasswordSingleSignOnCredentialsResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/invalidateAllRefreshTokens':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action invalidateAllRefreshTokens
      description: 'Invalidates all of the user''s refresh tokens issued to applications and session cookies in a user''s browser, by resetting the refreshTokensValidFromDateTime user property to the current date-time. Typically, this operation is performed (by the user or an administrator) if the user has a lost or stolen device. This operation would prevent access to any of the organization''s data accessed through applications on the device without the user first being required to sign in again. In fact, this operation would force the user to sign in again for all applications that they have previously consented to, independent of device. For developers, if the application attempts to redeem a delegated access token for this user by using an invalidated refresh token, the application receives an error. If this happens, the application needs to acquire a new refresh token by making a request to the OAuth 2.0 /authorize endpoint, which forces the user to sign in.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-invalidateallrefreshtokens?view=graph-rest-beta
      operationId: users.user.invalidateAllRefreshTokens
      responses:
        2XX:
          $ref: '#/components/responses/invalidateAllRefreshTokensResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/removeAllDevicesFromManagement':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action removeAllDevicesFromManagement
      description: Retire all devices from management for this user
      operationId: users.user.removeAllDevicesFromManagement
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/reprocessLicenseAssignment':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action reprocessLicenseAssignment
      description: 'Reprocess all group-based license assignments for the user. To learn more about group-based licensing, see What is group-based licensing in Microsoft Entra ID. Also see Identify and resolve license assignment problems for a group in Microsoft Entra ID for more details.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-reprocesslicenseassignment?view=graph-rest-beta
      operationId: users.user.reprocessLicenseAssignment
      responses:
        2XX:
          $ref: '#/components/responses/reprocessLicenseAssignmentResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/restore':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action restore
      description: "Restore a recently deleted directory object from deleted items. The following types are supported:\r\n- administrativeUnit\r\n- application\r\n- agentIdentityBlueprint\r\n- agentIdentity\r\n- agentIdentityBlueprintPrincipal\r\n- agentUser\r\n- certificateBasedAuthPki\r\n- certificateAuthorityDetail\r\n- externalUserProfile\r\n- group\r\n- pendingExternalUserProfile\r\n- servicePrincipal\r\n- user If an item is accidentally deleted, you can fully restore the item. Additionally, restoring an application doesn't automatically restore the associated service principal automatically. You must call this API to explicitly restore the deleted service principal. A recently deleted item remains available for up to 30 days. After 30 days, the item is permanently deleted."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-deleteditems-restore?view=graph-rest-beta
      operationId: users.user.restore
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/retryServiceProvisioning':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action retryServiceProvisioning
      description: Retry the provisioning of a user object in Microsoft Entra ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-retryserviceprovisioning?view=graph-rest-beta
      operationId: users.user.retryServiceProvisioning
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/revokeSignInSessions':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action revokeSignInSessions
      description: 'Invalidates all the refresh tokens issued to applications for a user (as well as session cookies in a user''s browser), by resetting the signInSessionsValidFromDateTime user property to the current date-time. Typically, this operation is performed (by the user or an administrator) if the user has a lost or stolen device. This operation prevents access to the organization''s data through applications on the device by requiring the user to sign in again to all applications that they have previously consented to, independent of device. If the application attempts to redeem a delegated access token for this user by using an invalidated refresh token, the application will get an error. If this happens, the application will need to acquire a new refresh token by making a request to the authorize endpoint, which will force the user to sign in.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-revokesigninsessions?view=graph-rest-beta
      operationId: users.user.revokeSignInSessions
      responses:
        2XX:
          $ref: '#/components/responses/revokeSignInSessionsResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/sendMail':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action sendMail
      description: 'Send the message specified in the request body using either JSON or MIME format. When using JSON format, you can include an attachment and use a mention to call out another user in the new message. When using MIME format: This method saves the message in the Sent Items folder. Alternatively, create a draft message to send later. To learn more about the steps involved in the backend before a mail is delivered to recipients, see here.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-sendmail?view=graph-rest-beta
      operationId: users.user.sendMail
      requestBody:
        $ref: '#/components/requestBodies/sendMailRequestBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/translateExchangeIds':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action translateExchangeIds
      description: Translate identifiers of Outlook-related resources between formats.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-translateexchangeids?view=graph-rest-beta
      operationId: users.user.translateExchangeIds
      requestBody:
        $ref: '#/components/requestBodies/translateExchangeIdsRequestBody'
      responses:
        2XX:
          $ref: '#/components/responses/translateExchangeIdsResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/users/{user-id}/unblockManagedApps':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action unblockManagedApps
      description: Unblocks the managed app user from app check-in.
      operationId: users.user.unblockManagedApps
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/wipeAndBlockManagedApps':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action wipeAndBlockManagedApps
      description: Blocks the managed app user from app check-in.
      operationId: users.user.wipeAndBlockManagedApps
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/wipeManagedAppRegistrationByDeviceTag':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action wipeManagedAppRegistrationByDeviceTag
      description: Issues a wipe operation on an app registration with specified device tag.
      operationId: users.user.wipeManagedAppRegistrationByDeviceTag
      requestBody:
        $ref: '#/components/requestBodies/wipeManagedAppRegistrationByDeviceTagRequestBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/wipeManagedAppRegistrationsByAzureAdDeviceId':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action wipeManagedAppRegistrationsByAzureAdDeviceId
      description: Issues a wipe operation on an app registration with specified aad device Id.
      operationId: users.user.wipeManagedAppRegistrationsByAzureAdDeviceId
      requestBody:
        $ref: '#/components/requestBodies/wipeManagedAppRegistrationsByAzureAdDeviceIdRequestBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/users/{user-id}/wipeManagedAppRegistrationsByDeviceTag':
    post:
      tags:
        - users.user.Actions
      summary: Invoke action wipeManagedAppRegistrationsByDeviceTag
      description: Issues a wipe operation on an app registration with specified device tag.
      operationId: users.user.wipeManagedAppRegistrationsByDeviceTag
      requestBody:
        $ref: '#/components/requestBodies/wipeManagedAppRegistrationsByDeviceTagRequestBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /users/getByIds:
    post:
      tags:
        - users.user.Actions
      summary: Invoke action getByIds
      description: 'Return the directory objects specified in a list of IDs. Some common uses for this function are to:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryobject-getbyids?view=graph-rest-beta
      operationId: users.getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.directoryObject'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /users/getUserOwnedObjects:
    post:
      tags:
        - users.user.Actions
      summary: Invoke action getUserOwnedObjects
      description: 'Retrieve a list of recently deleted application and group objects owned by the specified user. This API returns up to 1,000 deleted objects owned by the user, sorted by ID, and doesn''t support pagination.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-deleteditems-getuserownedobjects?view=graph-rest-beta
      operationId: users.getUserOwnedObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  nullable: true
                type:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /users/validatePassword:
    post:
      tags:
        - users.user.Actions
      summary: Invoke action validatePassword
      description: Check a user's password against the organization's password validation policy and report whether the password is valid. Use this action to provide real-time feedback on password strength while the user types their password.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-validatepassword?view=graph-rest-beta
      operationId: users.validatePassword
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.passwordValidationInformation'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /users/validateProperties:
    post:
      tags:
        - users.user.Actions
      summary: Invoke action validateProperties
      description: "Validate that a Microsoft 365 group's display name or mail nickname complies with naming policies.  Clients can use this API to determine whether a display name or mail nickname is valid before trying to create a Microsoft 365 group. For validating properties of an existing group, use the validateProperties function for groups. The following validations are performed for the display name and mail nickname properties:\r\n1. Validate the prefix and suffix naming policy\r\n2. Validate the custom banned words policy\r\n3. Validate the mail nickname is unique This API returns with the first failure encountered. If one or more properties fail multiple validations, only the property with the first validation failure is returned. However, you can validate both the mail nickname and the display name and receive a collection of validation errors if you're only validating the prefix and suffix naming policy."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryobject-validateproperties?view=graph-rest-beta
      operationId: users.validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    BaseCollectionPaginationCountResponse:
      title: Base collection pagination and count responses
      type: object
      properties:
        '@odata.count':
          type: integer
          format: int64
          nullable: true
        '@odata.nextLink':
          type: string
          nullable: true
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          required:
            - '@odata.type'
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
              format: date-time
              nullable: true
            '@odata.type':
              type: string
          discriminator:
            propertyName: '@odata.type'
            mapping:
              '#microsoft.graph.administrativeUnit': '#/components/schemas/microsoft.graph.administrativeUnit'
              '#microsoft.graph.application': '#/components/schemas/microsoft.graph.application'
              '#microsoft.graph.agentIdentityBlueprint': '#/components/schemas/microsoft.graph.agentIdentityBlueprint'
              '#microsoft.graph.appRoleAssignment': '#/components/schemas/microsoft.graph.appRoleAssignment'
              '#microsoft.graph.certificateAuthorityDetail': '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
              '#microsoft.graph.certificateBasedAuthPki': '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
              '#microsoft.graph.contract': '#/components/schemas/microsoft.graph.contract'
              '#microsoft.graph.device': '#/components/schemas/microsoft.graph.device'
              '#microsoft.graph.deviceTemplate': '#/components/schemas/microsoft.graph.deviceTemplate'
              '#microsoft.graph.directoryObjectPartnerReference': '#/components/schemas/microsoft.graph.directoryObjectPartnerReference'
              '#microsoft.graph.directoryRole': '#/components/schemas/microsoft.graph.directoryRole'
              '#microsoft.graph.directoryRoleTemplate': '#/components/schemas/microsoft.graph.directoryRoleTemplate'
              '#microsoft.graph.directorySettingTemplate': '#/components/schemas/microsoft.graph.directorySettingTemplate'
              '#microsoft.graph.endpoint': '#/components/schemas/microsoft.graph.endpoint'
              '#microsoft.graph.extensionProperty': '#/components/schemas/microsoft.graph.extensionProperty'
              '#microsoft.graph.externalProfile': '#/components/schemas/microsoft.graph.externalProfile'
              '#microsoft.graph.externalUserProfile': '#/components/schemas/microsoft.graph.externalUserProfile'
              '#microsoft.graph.pendingExternalUserProfile': '#/components/schemas/microsoft.graph.pendingExternalUserProfile'
              '#microsoft.graph.federatedTokenValidationPolicy': '#/components/schemas/microsoft.graph.federatedTokenValidationPolicy'
              '#microsoft.graph.group': '#/components/schemas/microsoft.graph.group'
              '#microsoft.graph.groupResource': '#/components/schemas/microsoft.graph.groupResource'
              '#microsoft.graph.mailbox': '#/components/schemas/microsoft.graph.mailbox'
              '#microsoft.graph.multiTenantOrganizationMember': '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
              '#microsoft.graph.organization': '#/components/schemas/microsoft.graph.organization'
              '#microsoft.graph.orgContact': '#/components/schemas/microsoft.graph.orgContact'
              '#microsoft.graph.permissionGrantPreApprovalPolicy': '#/components/schemas/microsoft.graph.permissionGrantPreApprovalPolicy'
              '#microsoft.graph.policyBase': '#/components/schemas/microsoft.graph.policyBase'
              '#microsoft.graph.appManagementPolicy': '#/components/schemas/microsoft.graph.appManagementPolicy'
              '#microsoft.graph.authorizationPolicy': '#/components/schemas/microsoft.graph.authorizationPolicy'
              '#microsoft.graph.externalIdentitiesPolicy': '#/components/schemas/microsoft.graph.externalIdentitiesPolicy'
              '#microsoft.graph.identitySecurityDefaultsEnforcementPolicy': '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
              '#microsoft.graph.permissionGrantPolicy': '#/components/schemas/microsoft.graph.permissionGrantPolicy'
              '#microsoft.graph.servicePrincipalCreationPolicy': '#/components/schemas/microsoft.graph.servicePrincipalCreationPolicy'
              '#microsoft.graph.stsPolicy': '#/components/schemas/microsoft.graph.stsPolicy'
              '#microsoft.graph.activityBasedTimeoutPolicy': '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
              '#microsoft.graph.b2bManagementPolicy': '#/components/schemas/microsoft.graph.b2bManagementPolicy'
              '#microsoft.graph.claimsMappingPolicy': '#/components/schemas/microsoft.graph.claimsMappingPolicy'
              '#microsoft.graph.homeRealmDiscoveryPolicy': '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
              '#microsoft.graph.onPremAuthenticationPolicy': '#/components/schemas/microsoft.graph.onPremAuthenticationPolicy'
              '#microsoft.graph.tokenIssuancePolicy': '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
              '#microsoft.graph.tokenLifetimePolicy': '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
              '#microsoft.graph.tenantAppManagementPolicy': '#/components/schemas/microsoft.graph.tenantAppManagementPolicy'
              '#microsoft.graph.tenantRelationshipAccessPolicyBase': '#/components/schemas/microsoft.graph.tenantRelationshipAccessPolicyBase'
              '#microsoft.graph.crossTenantAccessPolicy': '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
              '#microsoft.graph.remoteTenantGroup': '#/components/schemas/microsoft.graph.remoteTenantGroup'
              '#microsoft.graph.resourceSpecificPermissionGrant': '#/components/schemas/microsoft.graph.resourceSpecificPermissionGrant'
              '#microsoft.graph.servicePrincipal': '#/components/schemas/microsoft.graph.servicePrincipal'
              '#microsoft.graph.agentIdentity': '#/components/schemas/microsoft.graph.agentIdentity'
              '#microsoft.graph.agentIdentityBlueprintPrincipal': '#/components/schemas/microsoft.graph.agentIdentityBlueprintPrincipal'
              '#microsoft.graph.trustedCertificateAuthorityAsEntityBase': '#/components/schemas/microsoft.graph.trustedCertificateAuthorityAsEntityBase'
              '#microsoft.graph.certificateBasedApplicationConfiguration': '#/components/schemas/microsoft.graph.certificateBasedApplicationConfiguration'
              '#microsoft.graph.trustedCertificateAuthorityBase': '#/components/schemas/microsoft.graph.trustedCertificateAuthorityBase'
              '#microsoft.graph.mutualTlsOauthConfiguration': '#/components/schemas/microsoft.graph.mutualTlsOauthConfiguration'
              '#microsoft.graph.user': '#/components/schemas/microsoft.graph.user'
              '#microsoft.graph.agentUser': '#/components/schemas/microsoft.graph.agentUser'
    microsoft.graph.passwordValidationInformation:
      title: passwordValidationInformation
      required:
        - '@odata.type'
      type: object
      properties:
        isValid:
          type: boolean
          description: Specifies whether the password is valid based on the calculation of the results in the validationResults property. Not nullable. Read-only.
          nullable: true
        validationResults:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.validationResult'
          description: The list of password validation rules and whether the password passed those rules. Not nullable. Read-only.
        '@odata.type':
          type: string
    microsoft.graph.entity:
      title: entity
      required:
        - '@odata.type'
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.accessPackage': '#/components/schemas/microsoft.graph.accessPackage'
          '#microsoft.graph.accessPackageAssignment': '#/components/schemas/microsoft.graph.accessPackageAssignment'
          '#microsoft.graph.accessPackageAssignmentPolicy': '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
          '#microsoft.graph.accessPackageAssignmentRequest': '#/components/schemas/microsoft.graph.accessPackageAssignmentRequest'
          '#microsoft.graph.accessPackageAssignmentResourceRole': '#/components/schemas/microsoft.graph.accessPackageAssignmentResourceRole'
          '#microsoft.graph.accessPackageCatalog': '#/components/schemas/microsoft.graph.accessPackageCatalog'
          '#microsoft.graph.accessPackageResource': '#/components/schemas/microsoft.graph.accessPackageResource'
          '#microsoft.graph.customDataProvidedResource': '#/components/schemas/microsoft.graph.customDataProvidedResource'
          '#microsoft.graph.accessPackageResourceEnvironment': '#/components/schemas/microsoft.graph.accessPackageResourceEnvironment'
          '#microsoft.graph.accessPackageResourceRequest': '#/components/schemas/microsoft.graph.accessPackageResourceRequest'
          '#microsoft.graph.accessPackageResourceRole': '#/components/schemas/microsoft.graph.accessPackageResourceRole'
          '#microsoft.graph.accessPackageResourceRoleScope': '#/components/schemas/microsoft.graph.accessPackageResourceRoleScope'
          '#microsoft.graph.accessPackageResourceScope': '#/components/schemas/microsoft.graph.accessPackageResourceScope'
          '#microsoft.graph.accessPackageSubject': '#/components/schemas/microsoft.graph.accessPackageSubject'
          '#microsoft.graph.accessPackageSuggestion': '#/components/schemas/microsoft.graph.accessPackageSuggestion'
          '#microsoft.graph.accessReview': '#/components/schemas/microsoft.graph.accessReview'
          '#microsoft.graph.accessReviewDecision': '#/components/schemas/microsoft.graph.accessReviewDecision'
          '#microsoft.graph.accessReviewHistoryDefinition': '#/components/schemas/microsoft.graph.accessReviewHistoryDefinition'
          '#microsoft.graph.accessReviewHistoryInstance': '#/components/schemas/microsoft.graph.accessReviewHistoryInstance'
          '#microsoft.graph.accessReviewInstance': '#/components/schemas/microsoft.graph.accessReviewInstance'
          '#microsoft.graph.accessReviewInstanceDecisionItem': '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
          '#microsoft.graph.accessReviewPolicy': '#/components/schemas/microsoft.graph.accessReviewPolicy'
          '#microsoft.graph.accessReviewReviewer': '#/components/schemas/microsoft.graph.accessReviewReviewer'
          '#microsoft.graph.accessReviewScheduleDefinition': '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
          '#microsoft.graph.accessReviewSet': '#/components/schemas/microsoft.graph.accessReviewSet'
          '#microsoft.graph.accessReviewStage': '#/components/schemas/microsoft.graph.accessReviewStage'
          '#microsoft.graph.activeUsersMetric': '#/components/schemas/microsoft.graph.activeUsersMetric'
          '#microsoft.graph.activitiesContainer': '#/components/schemas/microsoft.graph.activitiesContainer'
          '#microsoft.graph.activityHistoryItem': '#/components/schemas/microsoft.graph.activityHistoryItem'
          '#microsoft.graph.activityLogBase': '#/components/schemas/microsoft.graph.activityLogBase'
          '#microsoft.graph.backupPolicyActivityLog': '#/components/schemas/microsoft.graph.backupPolicyActivityLog'
          '#microsoft.graph.dynamicRuleActivityLog': '#/components/schemas/microsoft.graph.dynamicRuleActivityLog'
          '#microsoft.graph.offboardingActivityLog': '#/components/schemas/microsoft.graph.offboardingActivityLog'
          '#microsoft.graph.restoreTaskActivityLog': '#/components/schemas/microsoft.graph.restoreTaskActivityLog'
          '#microsoft.graph.activityStatistics': '#/components/schemas/microsoft.graph.activityStatistics'
          '#microsoft.graph.callActivityStatistics': '#/components/schemas/microsoft.graph.callActivityStatistics'
          '#microsoft.graph.chatActivityStatistics': '#/components/schemas/microsoft.graph.chatActivityStatistics'
          '#microsoft.graph.emailActivityStatistics': '#/components/schemas/microsoft.graph.emailActivityStatistics'
          '#microsoft.graph.focusActivityStatistics': '#/components/schemas/microsoft.graph.focusActivityStatistics'
          '#microsoft.graph.meetingActivityStatistics': '#/components/schemas/microsoft.graph.meetingActivityStatistics'
          '#microsoft.graph.adhocCall': '#/components/schemas/microsoft.graph.adhocCall'
          '#microsoft.graph.adminAppsAndServices': '#/components/schemas/microsoft.graph.adminAppsAndServices'
          '#microsoft.graph.adminConsentRequestPolicy': '#/components/schemas/microsoft.graph.adminConsentRequestPolicy'
          '#microsoft.graph.adminDynamics': '#/components/schemas/microsoft.graph.adminDynamics'
          '#microsoft.graph.adminForms': '#/components/schemas/microsoft.graph.adminForms'
          '#microsoft.graph.adminMicrosoft365Apps': '#/components/schemas/microsoft.graph.adminMicrosoft365Apps'
          '#microsoft.graph.adminReportSettings': '#/components/schemas/microsoft.graph.adminReportSettings'
          '#microsoft.graph.adminTodo': '#/components/schemas/microsoft.graph.adminTodo'
          '#microsoft.graph.adminWindows': '#/components/schemas/microsoft.graph.adminWindows'
          '#microsoft.graph.adminWindowsUpdates': '#/components/schemas/microsoft.graph.adminWindowsUpdates'
          '#microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState': '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
          '#microsoft.graph.advancedThreatProtectionOnboardingStateSummary': '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
          '#microsoft.graph.agent': '#/components/schemas/microsoft.graph.agent'
          '#microsoft.graph.agentCardManifest': '#/components/schemas/microsoft.graph.agentCardManifest'
          '#microsoft.graph.agentCollection': '#/components/schemas/microsoft.graph.agentCollection'
          '#microsoft.graph.agentCommunicationConfiguration': '#/components/schemas/microsoft.graph.agentCommunicationConfiguration'
          '#microsoft.graph.agentInstance': '#/components/schemas/microsoft.graph.agentInstance'
          '#microsoft.graph.agentRegistration': '#/components/schemas/microsoft.graph.agentRegistration'
          '#microsoft.graph.agentRiskDetection': '#/components/schemas/microsoft.graph.agentRiskDetection'
          '#microsoft.graph.agreement': '#/components/schemas/microsoft.graph.agreement'
          '#microsoft.graph.agreementAcceptance': '#/components/schemas/microsoft.graph.agreementAcceptance'
          '#microsoft.graph.agreementFileProperties': '#/components/schemas/microsoft.graph.agreementFileProperties'
          '#microsoft.graph.agreementFile': '#/components/schemas/microsoft.graph.agreementFile'
          '#microsoft.graph.agreementFileLocalization': '#/components/schemas/microsoft.graph.agreementFileLocalization'
          '#microsoft.graph.agreementFileVersion': '#/components/schemas/microsoft.graph.agreementFileVersion'
          '#microsoft.graph.aiInteraction': '#/components/schemas/microsoft.graph.aiInteraction'
          '#microsoft.graph.aiInteractionHistory': '#/components/schemas/microsoft.graph.aiInteractionHistory'
          '#microsoft.graph.aiOnlineMeeting': '#/components/schemas/microsoft.graph.aiOnlineMeeting'
          '#microsoft.graph.aiUser': '#/components/schemas/microsoft.graph.aiUser'
          '#microsoft.graph.alert': '#/components/schemas/microsoft.graph.alert'
          '#microsoft.graph.allowedDataLocation': '#/components/schemas/microsoft.graph.allowedDataLocation'
          '#microsoft.graph.allowedValue': '#/components/schemas/microsoft.graph.allowedValue'
          '#microsoft.graph.androidAppConfigurationSchema': '#/components/schemas/microsoft.graph.androidAppConfigurationSchema'
          '#microsoft.graph.androidDeviceComplianceLocalActionBase': '#/components/schemas/microsoft.graph.androidDeviceComplianceLocalActionBase'
          '#microsoft.graph.androidDeviceComplianceLocalActionLockDevice': '#/components/schemas/microsoft.graph.androidDeviceComplianceLocalActionLockDevice'
          '#microsoft.graph.androidDeviceComplianceLocalActionLockDeviceWithPasscode': '#/components/schemas/microsoft.graph.androidDeviceComplianceLocalActionLockDeviceWithPasscode'
          '#microsoft.graph.androidDeviceOwnerEnrollmentProfile': '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
          '#microsoft.graph.androidForWorkAppConfigurationSchema': '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
          '#microsoft.graph.androidForWorkEnrollmentProfile': '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
          '#microsoft.graph.androidForWorkSettings': '#/components/schemas/microsoft.graph.androidForWorkSettings'
          '#microsoft.graph.androidManagedStoreAccountEnterpriseSettings': '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
          '#microsoft.graph.androidManagedStoreAppConfigurationSchema': '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
          '#microsoft.graph.appConsentApprovalRoute': '#/components/schemas/microsoft.graph.appConsentApprovalRoute'
          '#microsoft.graph.appConsentRequest': '#/components/schemas/microsoft.graph.appConsentRequest'
          '#microsoft.graph.appCredentialSignInActivity': '#/components/schemas/microsoft.graph.appCredentialSignInActivity'
          '#microsoft.graph.appleEnrollmentProfileAssignment': '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
          '#microsoft.graph.applePushNotificationCertificate': '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
          '#microsoft.graph.appleUserInitiatedEnrollmentProfile': '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
          '#microsoft.graph.applicationSegment': '#/components/schemas/microsoft.graph.applicationSegment'
          '#microsoft.graph.ipApplicationSegment': '#/components/schemas/microsoft.graph.ipApplicationSegment'
          '#microsoft.graph.webApplicationSegment': '#/components/schemas/microsoft.graph.webApplicationSegment'
          '#microsoft.graph.applicationSignInDetailedSummary': '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
          '#microsoft.graph.applicationSignInSummary': '#/components/schemas/microsoft.graph.applicationSignInSummary'
          '#microsoft.graph.applicationTemplate': '#/components/schemas/microsoft.graph.applicationTemplate'
          '#microsoft.graph.appLogCollectionRequest': '#/components/schemas/microsoft.graph.appLogCollectionRequest'
          '#microsoft.graph.approval': '#/components/schemas/microsoft.graph.approval'
          '#microsoft.graph.approvalItem': '#/components/schemas/microsoft.graph.approvalItem'
          '#microsoft.graph.approvalItemRequest': '#/components/schemas/microsoft.graph.approvalItemRequest'
          '#microsoft.graph.approvalItemResponse': '#/components/schemas/microsoft.graph.approvalItemResponse'
          '#microsoft.graph.approvalOperation': '#/components/schemas/microsoft.graph.approvalOperation'
          '#microsoft.graph.approvalSolution': '#/components/schemas/microsoft.graph.approvalSolution'
          '#microsoft.graph.approvalStep': '#/components/schemas/microsoft.graph.approvalStep'
          '#microsoft.graph.approvalWorkflowProvider': '#/components/schemas/microsoft.graph.approvalWorkflowProvider'
          '#microsoft.graph.approvedClientApp': '#/components/schemas/microsoft.graph.approvedClientApp'
          '#microsoft.graph.appScope': '#/components/schemas/microsoft.graph.appScope'
          '#microsoft.graph.customAppScope': '#/components/schemas/microsoft.graph.customAppScope'
          '#microsoft.graph.appVulnerabilityManagedDevice': '#/components/schemas/microsoft.graph.appVulnerabilityManagedDevice'
          '#microsoft.graph.appVulnerabilityMobileApp': '#/components/schemas/microsoft.graph.appVulnerabilityMobileApp'
          '#microsoft.graph.assignedComputeInstanceDetails': '#/components/schemas/microsoft.graph.assignedComputeInstanceDetails'
          '#microsoft.graph.assignmentFilterEvaluationStatusDetails': '#/components/schemas/microsoft.graph.assignmentFilterEvaluationStatusDetails'
          '#microsoft.graph.attachment': '#/components/schemas/microsoft.graph.attachment'
          '#microsoft.graph.fileAttachment': '#/components/schemas/microsoft.graph.fileAttachment'
          '#microsoft.graph.itemAttachment': '#/components/schemas/microsoft.graph.itemAttachment'
          '#microsoft.graph.referenceAttachment': '#/components/schemas/microsoft.graph.referenceAttachment'
          '#microsoft.graph.attachmentBase': '#/components/schemas/microsoft.graph.attachmentBase'
          '#microsoft.graph.taskFileAttachment': '#/components/schemas/microsoft.graph.taskFileAttachment'
          '#microsoft.graph.attachmentSession': '#/components/schemas/microsoft.graph.attachmentSession'
          '#microsoft.graph.attackSimulationRoot': '#/components/schemas/microsoft.graph.attackSimulationRoot'
          '#microsoft.graph.attendanceRecord': '#/components/schemas/microsoft.graph.attendanceRecord'
          '#microsoft.graph.attributeMappingFunctionSchema': '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
          '#microsoft.graph.attributeSet': '#/components/schemas/microsoft.graph.attributeSet'
          '#microsoft.graph.audioRoutingGroup': '#/components/schemas/microsoft.graph.audioRoutingGroup'
          '#microsoft.graph.auditActivityType': '#/components/schemas/microsoft.graph.auditActivityType'
          '#microsoft.graph.auditEvent': '#/components/schemas/microsoft.graph.auditEvent'
          '#microsoft.graph.authentication': '#/components/schemas/microsoft.graph.authentication'
          '#microsoft.graph.authenticationCombinationConfiguration': '#/components/schemas/microsoft.graph.authenticationCombinationConfiguration'
          '#microsoft.graph.fido2CombinationConfiguration': '#/components/schemas/microsoft.graph.fido2CombinationConfiguration'
          '#microsoft.graph.x509CertificateCombinationConfiguration': '#/components/schemas/microsoft.graph.x509CertificateCombinationConfiguration'
          '#microsoft.graph.authenticationContextClassReference': '#/components/schemas/microsoft.graph.authenticationContextClassReference'
          '#microsoft.graph.authenticationEventListener': '#/components/schemas/microsoft.graph.authenticationEventListener'
          '#microsoft.graph.onAttributeCollectionListener': '#/components/schemas/microsoft.graph.onAttributeCollectionListener'
          '#microsoft.graph.onAttributeCollectionStartListener': '#/components/schemas/microsoft.graph.onAttributeCollectionStartListener'
          '#microsoft.graph.onAttributeCollectionSubmitListener': '#/components/schemas/microsoft.graph.onAttributeCollectionSubmitListener'
          '#microsoft.graph.onAuthenticationMethodLoadStartListener': '#/components/schemas/microsoft.graph.onAuthenticationMethodLoadStartListener'
          '#microsoft.graph.onEmailOtpSendListener': '#/components/schemas/microsoft.graph.onEmailOtpSendListener'
          '#microsoft.graph.onFraudProtectionLoadStartListener': '#/components/schemas/microsoft.graph.onFraudProtectionLoadStartListener'
          '#microsoft.graph.onInteractiveAuthFlowStartListener': '#/components/schemas/microsoft.graph.onInteractiveAuthFlowStartListener'
          '#microsoft.graph.onPasswordSubmitListener': '#/components/schemas/microsoft.graph.onPasswordSubmitListener'
          '#microsoft.graph.onPhoneMethodLoadStartListener': '#/components/schemas/microsoft.graph.onPhoneMethodLoadStartListener'
          '#microsoft.graph.onTokenIssuanceStartListener': '#/components/schemas/microsoft.graph.onTokenIssuanceStartListener'
          '#microsoft.graph.onUserCreateStartListener': '#/components/schemas/microsoft.graph.onUserCreateStartListener'
          '#microsoft.graph.onVerifiedIdClaimValidationListener': '#/components/schemas/microsoft.graph.onVerifiedIdClaimValidationListener'
          '#microsoft.graph.authenticationEventsFlow': '#/components/schemas/microsoft.graph.authenticationEventsFlow'
          '#microsoft.graph.externalUsersSelfServiceSignUpEventsFlow': '#/components/schemas/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow'
          '#microsoft.graph.authenticationEventsPolicy': '#/components/schemas/microsoft.graph.authenticationEventsPolicy'
          '#microsoft.graph.authenticationFailure': '#/components/schemas/microsoft.graph.authenticationFailure'
          '#microsoft.graph.authenticationFlowsPolicy': '#/components/schemas/microsoft.graph.authenticationFlowsPolicy'
          '#microsoft.graph.authenticationListener': '#/components/schemas/microsoft.graph.authenticationListener'
          '#microsoft.graph.invokeUserFlowListener': '#/components/schemas/microsoft.graph.invokeUserFlowListener'
          '#microsoft.graph.authenticationMethod': '#/components/schemas/microsoft.graph.authenticationMethod'
          '#microsoft.graph.emailAuthenticationMethod': '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
          '#microsoft.graph.externalAuthenticationMethod': '#/components/schemas/microsoft.graph.externalAuthenticationMethod'
          '#microsoft.graph.fido2AuthenticationMethod': '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
          '#microsoft.graph.hardwareOathAuthenticationMethod': '#/components/schemas/microsoft.graph.hardwareOathAuthenticationMethod'
          '#microsoft.graph.microsoftAuthenticatorAuthenticationMethod': '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
          '#microsoft.graph.passwordAuthenticationMethod': '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
          '#microsoft.graph.passwordlessMicrosoftAuthenticatorAuthenticationMethod': '#/components/schemas/microsoft.graph.passwordlessMicrosoftAuthenticatorAuthenticationMethod'
          '#microsoft.graph.phoneAuthenticationMethod': '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
          '#microsoft.graph.platformCredentialAuthenticationMethod': '#/components/schemas/microsoft.graph.platformCredentialAuthenticationMethod'
          '#microsoft.graph.qrCodePinAuthenticationMethod': '#/components/schemas/microsoft.graph.qrCodePinAuthenticationMethod'
          '#microsoft.graph.resourceAccountKeyAuthenticationMethod': '#/components/schemas/microsoft.graph.resourceAccountKeyAuthenticationMethod'
          '#microsoft.graph.softwareOathAuthenticationMethod': '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
          '#microsoft.graph.temporaryAccessPassAuthenticationMethod': '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
          '#microsoft.graph.windowsHelloForBusinessAuthenticationMethod': '#/components/schemas/microsoft.graph.windowsHelloForBusinessAuthenticationMethod'
          '#microsoft.graph.authenticationMethodConfiguration': '#/components/schemas/microsoft.graph.authenticationMethodConfiguration'
          '#microsoft.graph.emailAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.emailAuthenticationMethodConfiguration'
          '#microsoft.graph.externalAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.externalAuthenticationMethodConfiguration'
          '#microsoft.graph.fido2AuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.fido2AuthenticationMethodConfiguration'
          '#microsoft.graph.hardwareOathAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.hardwareOathAuthenticationMethodConfiguration'
          '#microsoft.graph.microsoftAuthenticatorAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethodConfiguration'
          '#microsoft.graph.qrCodePinAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.qrCodePinAuthenticationMethodConfiguration'
          '#microsoft.graph.smsAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.smsAuthenticationMethodConfiguration'
          '#microsoft.graph.softwareOathAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethodConfiguration'
          '#microsoft.graph.temporaryAccessPassAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethodConfiguration'
          '#microsoft.graph.verifiableCredentialsAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.verifiableCredentialsAuthenticationMethodConfiguration'
          '#microsoft.graph.voiceAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.voiceAuthenticationMethodConfiguration'
          '#microsoft.graph.x509CertificateAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.x509CertificateAuthenticationMethodConfiguration'
          '#microsoft.graph.authenticationMethodDevice': '#/components/schemas/microsoft.graph.authenticationMethodDevice'
          '#microsoft.graph.hardwareOathTokenAuthenticationMethodDevice': '#/components/schemas/microsoft.graph.hardwareOathTokenAuthenticationMethodDevice'
          '#microsoft.graph.authenticationMethodModeDetail': '#/components/schemas/microsoft.graph.authenticationMethodModeDetail'
          '#microsoft.graph.authenticationMethodsPolicy': '#/components/schemas/microsoft.graph.authenticationMethodsPolicy'
          '#microsoft.graph.authenticationMethodsRoot': '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
          '#microsoft.graph.authenticationMethodTarget': '#/components/schemas/microsoft.graph.authenticationMethodTarget'
          '#microsoft.graph.microsoftAuthenticatorAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethodTarget'
          '#microsoft.graph.passkeyAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.passkeyAuthenticationMethodTarget'
          '#microsoft.graph.smsAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.smsAuthenticationMethodTarget'
          '#microsoft.graph.verifiableCredentialAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.verifiableCredentialAuthenticationMethodTarget'
          '#microsoft.graph.voiceAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.voiceAuthenticationMethodTarget'
          '#microsoft.graph.authenticationsMetric': '#/components/schemas/microsoft.graph.authenticationsMetric'
          '#microsoft.graph.authenticationStrengthPolicy': '#/components/schemas/microsoft.graph.authenticationStrengthPolicy'
          '#microsoft.graph.authenticationStrengthRoot': '#/components/schemas/microsoft.graph.authenticationStrengthRoot'
          '#microsoft.graph.authoredNote': '#/components/schemas/microsoft.graph.authoredNote'
          '#microsoft.graph.authorizationSystem': '#/components/schemas/microsoft.graph.authorizationSystem'
          '#microsoft.graph.awsAuthorizationSystem': '#/components/schemas/microsoft.graph.awsAuthorizationSystem'
          '#microsoft.graph.azureAuthorizationSystem': '#/components/schemas/microsoft.graph.azureAuthorizationSystem'
          '#microsoft.graph.gcpAuthorizationSystem': '#/components/schemas/microsoft.graph.gcpAuthorizationSystem'
          '#microsoft.graph.authorizationSystemIdentity': '#/components/schemas/microsoft.graph.authorizationSystemIdentity'
          '#microsoft.graph.awsIdentity': '#/components/schemas/microsoft.graph.awsIdentity'
          '#microsoft.graph.awsAccessKey': '#/components/schemas/microsoft.graph.awsAccessKey'
          '#microsoft.graph.awsEc2Instance': '#/components/schemas/microsoft.graph.awsEc2Instance'
          '#microsoft.graph.awsGroup': '#/components/schemas/microsoft.graph.awsGroup'
          '#microsoft.graph.awsLambda': '#/components/schemas/microsoft.graph.awsLambda'
          '#microsoft.graph.awsRole': '#/components/schemas/microsoft.graph.awsRole'
          '#microsoft.graph.awsUser': '#/components/schemas/microsoft.graph.awsUser'
          '#microsoft.graph.azureIdentity': '#/components/schemas/microsoft.graph.azureIdentity'
          '#microsoft.graph.azureGroup': '#/components/schemas/microsoft.graph.azureGroup'
          '#microsoft.graph.azureManagedIdentity': '#/components/schemas/microsoft.graph.azureManagedIdentity'
          '#microsoft.graph.azureServerlessFunction': '#/components/schemas/microsoft.graph.azureServerlessFunction'
          '#microsoft.graph.azureServicePrincipal': '#/components/schemas/microsoft.graph.azureServicePrincipal'
          '#microsoft.graph.azureUser': '#/components/schemas/microsoft.graph.azureUser'
          '#microsoft.graph.gcpIdentity': '#/components/schemas/microsoft.graph.gcpIdentity'
          '#microsoft.graph.gcpCloudFunction': '#/components/schemas/microsoft.graph.gcpCloudFunction'
          '#microsoft.graph.gcpGroup': '#/components/schemas/microsoft.graph.gcpGroup'
          '#microsoft.graph.gcpServiceAccount': '#/components/schemas/microsoft.graph.gcpServiceAccount'
          '#microsoft.graph.gcpUser': '#/components/schemas/microsoft.graph.gcpUser'
          '#microsoft.graph.authorizationSystemResource': '#/components/schemas/microsoft.graph.authorizationSystemResource'
          '#microsoft.graph.awsAuthorizationSystemResource': '#/components/schemas/microsoft.graph.awsAuthorizationSystemResource'
          '#microsoft.graph.azureAuthorizationSystemResource': '#/components/schemas/microsoft.graph.azureAuthorizationSystemResource'
          '#microsoft.graph.gcpAuthorizationSystemResource': '#/components/schemas/microsoft.graph.gcpAuthorizationSystemResource'
          '#microsoft.graph.authorizationSystemTypeAction': '#/components/schemas/microsoft.graph.authorizationSystemTypeAction'
          '#microsoft.graph.awsAuthorizationSystemTypeAction': '#/components/schemas/microsoft.graph.awsAuthorizationSystemTypeAction'
          '#microsoft.graph.azureAuthorizationSystemTypeAction': '#/components/schemas/microsoft.graph.azureAuthorizationSystemTypeAction'
          '#microsoft.graph.gcpAuthorizationSystemTypeAction': '#/components/schemas/microsoft.graph.gcpAuthorizationSystemTypeAction'
          '#microsoft.graph.authorizationSystemTypeService': '#/components/schemas/microsoft.graph.authorizationSystemTypeService'
          '#microsoft.graph.availableAccessPackage': '#/components/schemas/microsoft.graph.availableAccessPackage'
          '#microsoft.graph.awsPolicy': '#/components/schemas/microsoft.graph.awsPolicy'
          '#microsoft.graph.azureADAuthentication': '#/components/schemas/microsoft.graph.azureADAuthentication'
          '#microsoft.graph.azureADPremiumLicenseInsight': '#/components/schemas/microsoft.graph.azureADPremiumLicenseInsight'
          '#microsoft.graph.azureRoleDefinition': '#/components/schemas/microsoft.graph.azureRoleDefinition'
          '#microsoft.graph.b2bRegistrationMetrics': '#/components/schemas/microsoft.graph.b2bRegistrationMetrics'
          '#microsoft.graph.b2BRegistrationMetricsBase': '#/components/schemas/microsoft.graph.b2BRegistrationMetricsBase'
          '#microsoft.graph.b2BRegistrationMetricsInitial': '#/components/schemas/microsoft.graph.b2BRegistrationMetricsInitial'
          '#microsoft.graph.b2BRegistrationMetricsRecent': '#/components/schemas/microsoft.graph.b2BRegistrationMetricsRecent'
          '#microsoft.graph.b2BSignInActivityMetrics': '#/components/schemas/microsoft.graph.b2BSignInActivityMetrics'
          '#microsoft.graph.b2BSignInActivityMetricsBase': '#/components/schemas/microsoft.graph.b2BSignInActivityMetricsBase'
          '#microsoft.graph.b2BSignInActivityMetricsInitial': '#/components/schemas/microsoft.graph.b2BSignInActivityMetricsInitial'
          '#microsoft.graph.b2BSignInActivityMetricsRecent': '#/components/schemas/microsoft.graph.b2BSignInActivityMetricsRecent'
          '#microsoft.graph.b2cAuthenticationMethodsPolicy': '#/components/schemas/microsoft.graph.b2cAuthenticationMethodsPolicy'
          '#microsoft.graph.backupReport': '#/components/schemas/microsoft.graph.backupReport'
          '#microsoft.graph.backupRestoreRoot': '#/components/schemas/microsoft.graph.backupRestoreRoot'
          '#microsoft.graph.baseItem': '#/components/schemas/microsoft.graph.baseItem'
          '#microsoft.graph.baseSitePage': '#/components/schemas/microsoft.graph.baseSitePage'
          '#microsoft.graph.newsLinkPage': '#/components/schemas/microsoft.graph.newsLinkPage'
          '#microsoft.graph.pageTemplate': '#/components/schemas/microsoft.graph.pageTemplate'
          '#microsoft.graph.sitePage': '#/components/schemas/microsoft.graph.sitePage'
          '#microsoft.graph.videoNewsLinkPage': '#/components/schemas/microsoft.graph.videoNewsLinkPage'
          '#microsoft.graph.drive': '#/components/schemas/microsoft.graph.drive'
          '#microsoft.graph.driveItem': '#/components/schemas/microsoft.graph.driveItem'
          '#microsoft.graph.list': '#/components/schemas/microsoft.graph.list'
          '#microsoft.graph.listItem': '#/components/schemas/microsoft.graph.listItem'
          '#microsoft.graph.recycleBin': '#/components/schemas/microsoft.graph.recycleBin'
          '#microsoft.graph.recycleBinItem': '#/components/schemas/microsoft.graph.recycleBinItem'
          '#microsoft.graph.sharedDriveItem': '#/components/schemas/microsoft.graph.sharedDriveItem'
          '#microsoft.graph.site': '#/components/schemas/microsoft.graph.site'
          '#microsoft.graph.baseItemVersion': '#/components/schemas/microsoft.graph.baseItemVersion'
          '#microsoft.graph.driveItemVersion': '#/components/schemas/microsoft.graph.driveItemVersion'
          '#microsoft.graph.listItemVersion': '#/components/schemas/microsoft.graph.listItemVersion'
          '#microsoft.graph.documentSetVersion': '#/components/schemas/microsoft.graph.documentSetVersion'
          '#microsoft.graph.baseMapFeature': '#/components/schemas/microsoft.graph.baseMapFeature'
          '#microsoft.graph.buildingMap': '#/components/schemas/microsoft.graph.buildingMap'
          '#microsoft.graph.fixtureMap': '#/components/schemas/microsoft.graph.fixtureMap'
          '#microsoft.graph.footprintMap': '#/components/schemas/microsoft.graph.footprintMap'
          '#microsoft.graph.levelMap': '#/components/schemas/microsoft.graph.levelMap'
          '#microsoft.graph.sectionMap': '#/components/schemas/microsoft.graph.sectionMap'
          '#microsoft.graph.unitMap': '#/components/schemas/microsoft.graph.unitMap'
          '#microsoft.graph.billingMetrics': '#/components/schemas/microsoft.graph.billingMetrics'
          '#microsoft.graph.billingMetricsBase': '#/components/schemas/microsoft.graph.billingMetricsBase'
          '#microsoft.graph.billingMetricsInitial': '#/components/schemas/microsoft.graph.billingMetricsInitial'
          '#microsoft.graph.billingMetricsRecent': '#/components/schemas/microsoft.graph.billingMetricsRecent'
          '#microsoft.graph.bitlocker': '#/components/schemas/microsoft.graph.bitlocker'
          '#microsoft.graph.bitlockerRecoveryKey': '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
          '#microsoft.graph.bookingAppointment': '#/components/schemas/microsoft.graph.bookingAppointment'
          '#microsoft.graph.bookingCurrency': '#/components/schemas/microsoft.graph.bookingCurrency'
          '#microsoft.graph.bookingCustomQuestion': '#/components/schemas/microsoft.graph.bookingCustomQuestion'
          '#microsoft.graph.bookingNamedEntity': '#/components/schemas/microsoft.graph.bookingNamedEntity'
          '#microsoft.graph.bookingBusiness': '#/components/schemas/microsoft.graph.bookingBusiness'
          '#microsoft.graph.bookingPerson': '#/components/schemas/microsoft.graph.bookingPerson'
          '#microsoft.graph.bookingCustomer': '#/components/schemas/microsoft.graph.bookingCustomer'
          '#microsoft.graph.bookingStaffMember': '#/components/schemas/microsoft.graph.bookingStaffMember'
          '#microsoft.graph.bookingService': '#/components/schemas/microsoft.graph.bookingService'
          '#microsoft.graph.browserSharedCookie': '#/components/schemas/microsoft.graph.browserSharedCookie'
          '#microsoft.graph.browserSite': '#/components/schemas/microsoft.graph.browserSite'
          '#microsoft.graph.browserSiteList': '#/components/schemas/microsoft.graph.browserSiteList'
          '#microsoft.graph.browseSessionBase': '#/components/schemas/microsoft.graph.browseSessionBase'
          '#microsoft.graph.oneDriveForBusinessBrowseSession': '#/components/schemas/microsoft.graph.oneDriveForBusinessBrowseSession'
          '#microsoft.graph.sharePointBrowseSession': '#/components/schemas/microsoft.graph.sharePointBrowseSession'
          '#microsoft.graph.bulkUpload': '#/components/schemas/microsoft.graph.bulkUpload'
          '#microsoft.graph.businessFlow': '#/components/schemas/microsoft.graph.businessFlow'
          '#microsoft.graph.businessFlowTemplate': '#/components/schemas/microsoft.graph.businessFlowTemplate'
          '#microsoft.graph.businessScenario': '#/components/schemas/microsoft.graph.businessScenario'
          '#microsoft.graph.businessScenarioPlanner': '#/components/schemas/microsoft.graph.businessScenarioPlanner'
          '#microsoft.graph.businessScenarioPlanReference': '#/components/schemas/microsoft.graph.businessScenarioPlanReference'
          '#microsoft.graph.calendar': '#/components/schemas/microsoft.graph.calendar'
          '#microsoft.graph.calendarGroup': '#/components/schemas/microsoft.graph.calendarGroup'
          '#microsoft.graph.calendarPermission': '#/components/schemas/microsoft.graph.calendarPermission'
          '#microsoft.graph.call': '#/components/schemas/microsoft.graph.call'
          '#microsoft.graph.callAiInsight': '#/components/schemas/microsoft.graph.callAiInsight'
          '#microsoft.graph.callEvent': '#/components/schemas/microsoft.graph.callEvent'
          '#microsoft.graph.emergencyCallEvent': '#/components/schemas/microsoft.graph.emergencyCallEvent'
          '#microsoft.graph.callRecording': '#/components/schemas/microsoft.graph.callRecording'
          '#microsoft.graph.callSettings': '#/components/schemas/microsoft.graph.callSettings'
          '#microsoft.graph.callTranscript': '#/components/schemas/microsoft.graph.callTranscript'
          '#microsoft.graph.canvasLayout': '#/components/schemas/microsoft.graph.canvasLayout'
          '#microsoft.graph.caPoliciesDeletableRoot': '#/components/schemas/microsoft.graph.caPoliciesDeletableRoot'
          '#microsoft.graph.cartToClassAssociation': '#/components/schemas/microsoft.graph.cartToClassAssociation'
          '#microsoft.graph.certificateAuthorityAsEntity': '#/components/schemas/microsoft.graph.certificateAuthorityAsEntity'
          '#microsoft.graph.certificateAuthorityPath': '#/components/schemas/microsoft.graph.certificateAuthorityPath'
          '#microsoft.graph.certificateBasedAuthConfiguration': '#/components/schemas/microsoft.graph.certificateBasedAuthConfiguration'
          '#microsoft.graph.certificateConnectorDetails': '#/components/schemas/microsoft.graph.certificateConnectorDetails'
          '#microsoft.graph.changeTrackedEntity': '#/components/schemas/microsoft.graph.changeTrackedEntity'
          '#microsoft.graph.dayNote': '#/components/schemas/microsoft.graph.dayNote'
          '#microsoft.graph.openShift': '#/components/schemas/microsoft.graph.openShift'
          '#microsoft.graph.scheduleChangeRequest': '#/components/schemas/microsoft.graph.scheduleChangeRequest'
          '#microsoft.graph.offerShiftRequest': '#/components/schemas/microsoft.graph.offerShiftRequest'
          '#microsoft.graph.swapShiftsChangeRequest': '#/components/schemas/microsoft.graph.swapShiftsChangeRequest'
          '#microsoft.graph.openShiftChangeRequest': '#/components/schemas/microsoft.graph.openShiftChangeRequest'
          '#microsoft.graph.timeOffRequest': '#/components/schemas/microsoft.graph.timeOffRequest'
          '#microsoft.graph.schedulingGroup': '#/components/schemas/microsoft.graph.schedulingGroup'
          '#microsoft.graph.shift': '#/components/schemas/microsoft.graph.shift'
          '#microsoft.graph.shiftPreferences': '#/components/schemas/microsoft.graph.shiftPreferences'
          '#microsoft.graph.timeCard': '#/components/schemas/microsoft.graph.timeCard'
          '#microsoft.graph.timeOff': '#/components/schemas/microsoft.graph.timeOff'
          '#microsoft.graph.timeOffReason': '#/components/schemas/microsoft.graph.timeOffReason'
          '#microsoft.graph.workforceIntegration': '#/components/schemas/microsoft.graph.workforceIntegration'
          '#microsoft.graph.channel': '#/components/schemas/microsoft.graph.channel'
          '#microsoft.graph.chat': '#/components/schemas/microsoft.graph.chat'
          '#microsoft.graph.chatMessage': '#/components/schemas/microsoft.graph.chatMessage'
          '#microsoft.graph.targetedChatMessage': '#/components/schemas/microsoft.graph.targetedChatMessage'
          '#microsoft.graph.chatMessageInfo': '#/components/schemas/microsoft.graph.chatMessageInfo'
          '#microsoft.graph.checklistItem': '#/components/schemas/microsoft.graph.checklistItem'
          '#microsoft.graph.chromeOSOnboardingSettings': '#/components/schemas/microsoft.graph.chromeOSOnboardingSettings'
          '#microsoft.graph.cloudAppSecurityProfile': '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
          '#microsoft.graph.cloudCertificationAuthority': '#/components/schemas/microsoft.graph.cloudCertificationAuthority'
          '#microsoft.graph.cloudCertificationAuthorityLeafCertificate': '#/components/schemas/microsoft.graph.cloudCertificationAuthorityLeafCertificate'
          '#microsoft.graph.cloudCertificationAuthorityVersion': '#/components/schemas/microsoft.graph.cloudCertificationAuthorityVersion'
          '#microsoft.graph.cloudClipboardItem': '#/components/schemas/microsoft.graph.cloudClipboardItem'
          '#microsoft.graph.cloudClipboardRoot': '#/components/schemas/microsoft.graph.cloudClipboardRoot'
          '#microsoft.graph.cloudPC': '#/components/schemas/microsoft.graph.cloudPC'
          '#microsoft.graph.cloudPcAuditEvent': '#/components/schemas/microsoft.graph.cloudPcAuditEvent'
          '#microsoft.graph.cloudPcBulkAction': '#/components/schemas/microsoft.graph.cloudPcBulkAction'
          '#microsoft.graph.cloudPcBulkCreateSnapshot': '#/components/schemas/microsoft.graph.cloudPcBulkCreateSnapshot'
          '#microsoft.graph.cloudPcBulkDisasterRecovery': '#/components/schemas/microsoft.graph.cloudPcBulkDisasterRecovery'
          '#microsoft.graph.cloudPcBulkDisasterRecoveryFailback': '#/components/schemas/microsoft.graph.cloudPcBulkDisasterRecoveryFailback'
          '#microsoft.graph.cloudPcBulkDisasterRecoveryFailover': '#/components/schemas/microsoft.graph.cloudPcBulkDisasterRecoveryFailover'
          '#microsoft.graph.cloudPcBulkModifyDiskEncryptionType': '#/components/schemas/microsoft.graph.cloudPcBulkModifyDiskEncryptionType'
          '#microsoft.graph.cloudPcBulkMove': '#/components/schemas/microsoft.graph.cloudPcBulkMove'
          '#microsoft.graph.cloudPcBulkPowerOff': '#/components/schemas/microsoft.graph.cloudPcBulkPowerOff'
          '#microsoft.graph.cloudPcBulkPowerOn': '#/components/schemas/microsoft.graph.cloudPcBulkPowerOn'
          '#microsoft.graph.cloudPcBulkReinstallAgent': '#/components/schemas/microsoft.graph.cloudPcBulkReinstallAgent'
          '#microsoft.graph.cloudPcBulkReprovision': '#/components/schemas/microsoft.graph.cloudPcBulkReprovision'
          '#microsoft.graph.cloudPcBulkResize': '#/components/schemas/microsoft.graph.cloudPcBulkResize'
          '#microsoft.graph.cloudPcBulkRestart': '#/components/schemas/microsoft.graph.cloudPcBulkRestart'
          '#microsoft.graph.cloudPcBulkRestore': '#/components/schemas/microsoft.graph.cloudPcBulkRestore'
          '#microsoft.graph.cloudPcBulkSetReviewStatus': '#/components/schemas/microsoft.graph.cloudPcBulkSetReviewStatus'
          '#microsoft.graph.cloudPcBulkTroubleshoot': '#/components/schemas/microsoft.graph.cloudPcBulkTroubleshoot'
          '#microsoft.graph.cloudPcCloudApp': '#/components/schemas/microsoft.graph.cloudPcCloudApp'
          '#microsoft.graph.cloudPCConnectivityIssue': '#/components/schemas/microsoft.graph.cloudPCConnectivityIssue'
          '#microsoft.graph.cloudPcCrossCloudGovernmentOrganizationMapping': '#/components/schemas/microsoft.graph.cloudPcCrossCloudGovernmentOrganizationMapping'
          '#microsoft.graph.cloudPcDeviceImage': '#/components/schemas/microsoft.graph.cloudPcDeviceImage'
          '#microsoft.graph.cloudPcExportJob': '#/components/schemas/microsoft.graph.cloudPcExportJob'
          '#microsoft.graph.cloudPcExternalPartner': '#/components/schemas/microsoft.graph.cloudPcExternalPartner'
          '#microsoft.graph.cloudPcExternalPartnerSetting': '#/components/schemas/microsoft.graph.cloudPcExternalPartnerSetting'
          '#microsoft.graph.cloudPcFrontLineServicePlan': '#/components/schemas/microsoft.graph.cloudPcFrontLineServicePlan'
          '#microsoft.graph.cloudPcGalleryImage': '#/components/schemas/microsoft.graph.cloudPcGalleryImage'
          '#microsoft.graph.cloudPcManagedLicense': '#/components/schemas/microsoft.graph.cloudPcManagedLicense'
          '#microsoft.graph.cloudPcOnPremisesConnection': '#/components/schemas/microsoft.graph.cloudPcOnPremisesConnection'
          '#microsoft.graph.cloudPcOrganizationSettings': '#/components/schemas/microsoft.graph.cloudPcOrganizationSettings'
          '#microsoft.graph.cloudPcPool': '#/components/schemas/microsoft.graph.cloudPcPool'
          '#microsoft.graph.cloudPcAgentPool': '#/components/schemas/microsoft.graph.cloudPcAgentPool'
          '#microsoft.graph.cloudPcPoolAssignment': '#/components/schemas/microsoft.graph.cloudPcPoolAssignment'
          '#microsoft.graph.cloudPcAgentPoolUserAssignment': '#/components/schemas/microsoft.graph.cloudPcAgentPoolUserAssignment'
          '#microsoft.graph.cloudPcProvisioningPolicy': '#/components/schemas/microsoft.graph.cloudPcProvisioningPolicy'
          '#microsoft.graph.cloudPcProvisioningPolicyAssignment': '#/components/schemas/microsoft.graph.cloudPcProvisioningPolicyAssignment'
          '#microsoft.graph.cloudPcReport': '#/components/schemas/microsoft.graph.cloudPcReport'
          '#microsoft.graph.cloudPcReports': '#/components/schemas/microsoft.graph.cloudPcReports'
          '#microsoft.graph.cloudPcServicePlan': '#/components/schemas/microsoft.graph.cloudPcServicePlan'
          '#microsoft.graph.cloudPcSnapshot': '#/components/schemas/microsoft.graph.cloudPcSnapshot'
          '#microsoft.graph.cloudPcSupportedRegion': '#/components/schemas/microsoft.graph.cloudPcSupportedRegion'
          '#microsoft.graph.cloudPcUserSetting': '#/components/schemas/microsoft.graph.cloudPcUserSetting'
          '#microsoft.graph.cloudPcUserSettingAssignment': '#/components/schemas/microsoft.graph.cloudPcUserSettingAssignment'
          '#microsoft.graph.cloudPCUserSettingsPersistenceDetail': '#/components/schemas/microsoft.graph.cloudPCUserSettingsPersistenceDetail'
          '#microsoft.graph.columnDefinition': '#/components/schemas/microsoft.graph.columnDefinition'
          '#microsoft.graph.columnLink': '#/components/schemas/microsoft.graph.columnLink'
          '#microsoft.graph.comanagementEligibleDevice': '#/components/schemas/microsoft.graph.comanagementEligibleDevice'
          '#microsoft.graph.command': '#/components/schemas/microsoft.graph.command'
          '#microsoft.graph.commsOperation': '#/components/schemas/microsoft.graph.commsOperation'
          '#microsoft.graph.addLargeGalleryViewOperation': '#/components/schemas/microsoft.graph.addLargeGalleryViewOperation'
          '#microsoft.graph.admitAllFromLobbyOperation': '#/components/schemas/microsoft.graph.admitAllFromLobbyOperation'
          '#microsoft.graph.admitFromLobbyOperation': '#/components/schemas/microsoft.graph.admitFromLobbyOperation'
          '#microsoft.graph.cancelMediaProcessingOperation': '#/components/schemas/microsoft.graph.cancelMediaProcessingOperation'
          '#microsoft.graph.inviteParticipantsOperation': '#/components/schemas/microsoft.graph.inviteParticipantsOperation'
          '#microsoft.graph.muteParticipantOperation': '#/components/schemas/microsoft.graph.muteParticipantOperation'
          '#microsoft.graph.muteParticipantsOperation': '#/components/schemas/microsoft.graph.muteParticipantsOperation'
          '#microsoft.graph.playPromptOperation': '#/components/schemas/microsoft.graph.playPromptOperation'
          '#microsoft.graph.recordOperation': '#/components/schemas/microsoft.graph.recordOperation'
          '#microsoft.graph.removeFromLobbyOperation': '#/components/schemas/microsoft.graph.removeFromLobbyOperation'
          '#microsoft.graph.sendDtmfTonesOperation': '#/components/schemas/microsoft.graph.sendDtmfTonesOperation'
          '#microsoft.graph.startHoldMusicOperation': '#/components/schemas/microsoft.graph.startHoldMusicOperation'
          '#microsoft.graph.startRecordingOperation': '#/components/schemas/microsoft.graph.startRecordingOperation'
          '#microsoft.graph.startTranscriptionOperation': '#/components/schemas/microsoft.graph.startTranscriptionOperation'
          '#microsoft.graph.stopHoldMusicOperation': '#/components/schemas/microsoft.graph.stopHoldMusicOperation'
          '#microsoft.graph.stopRecordingOperation': '#/components/schemas/microsoft.graph.stopRecordingOperation'
          '#microsoft.graph.stopTranscriptionOperation': '#/components/schemas/microsoft.graph.stopTranscriptionOperation'
          '#microsoft.graph.subscribeToToneOperation': '#/components/schemas/microsoft.graph.subscribeToToneOperation'
          '#microsoft.graph.unmuteParticipantOperation': '#/components/schemas/microsoft.graph.unmuteParticipantOperation'
          '#microsoft.graph.updateRecordingStatusOperation': '#/components/schemas/microsoft.graph.updateRecordingStatusOperation'
          '#microsoft.graph.community': '#/components/schemas/microsoft.graph.community'
          '#microsoft.graph.companySubscription': '#/components/schemas/microsoft.graph.companySubscription'
          '#microsoft.graph.complianceManagementPartner': '#/components/schemas/microsoft.graph.complianceManagementPartner'
          '#microsoft.graph.conditionalAccessRoot': '#/components/schemas/microsoft.graph.conditionalAccessRoot'
          '#microsoft.graph.conditionalAccessTemplate': '#/components/schemas/microsoft.graph.conditionalAccessTemplate'
          '#microsoft.graph.configManagerCollection': '#/components/schemas/microsoft.graph.configManagerCollection'
          '#microsoft.graph.configurationBaseline': '#/components/schemas/microsoft.graph.configurationBaseline'
          '#microsoft.graph.configurationDrift': '#/components/schemas/microsoft.graph.configurationDrift'
          '#microsoft.graph.configurationManagement': '#/components/schemas/microsoft.graph.configurationManagement'
          '#microsoft.graph.configurationMonitor': '#/components/schemas/microsoft.graph.configurationMonitor'
          '#microsoft.graph.configurationMonitoringResult': '#/components/schemas/microsoft.graph.configurationMonitoringResult'
          '#microsoft.graph.configurationSnapshotJob': '#/components/schemas/microsoft.graph.configurationSnapshotJob'
          '#microsoft.graph.connectedOrganization': '#/components/schemas/microsoft.graph.connectedOrganization'
          '#microsoft.graph.connectionOperation': '#/components/schemas/microsoft.graph.connectionOperation'
          '#microsoft.graph.connector': '#/components/schemas/microsoft.graph.connector'
          '#microsoft.graph.connectorGroup': '#/components/schemas/microsoft.graph.connectorGroup'
          '#microsoft.graph.contactFolder': '#/components/schemas/microsoft.graph.contactFolder'
          '#microsoft.graph.contactMergeSuggestions': '#/components/schemas/microsoft.graph.contactMergeSuggestions'
          '#microsoft.graph.contentActivity': '#/components/schemas/microsoft.graph.contentActivity'
          '#microsoft.graph.contentModel': '#/components/schemas/microsoft.graph.contentModel'
          '#microsoft.graph.contentSharingSession': '#/components/schemas/microsoft.graph.contentSharingSession'
          '#microsoft.graph.contentType': '#/components/schemas/microsoft.graph.contentType'
          '#microsoft.graph.continuousAccessEvaluationPolicy': '#/components/schemas/microsoft.graph.continuousAccessEvaluationPolicy'
          '#microsoft.graph.controlConfiguration': '#/components/schemas/microsoft.graph.controlConfiguration'
          '#microsoft.graph.endUserSettings': '#/components/schemas/microsoft.graph.endUserSettings'
          '#microsoft.graph.entraIdProtectionRiskyUserApproval': '#/components/schemas/microsoft.graph.entraIdProtectionRiskyUserApproval'
          '#microsoft.graph.insiderRiskyUserApproval': '#/components/schemas/microsoft.graph.insiderRiskyUserApproval'
          '#microsoft.graph.conversation': '#/components/schemas/microsoft.graph.conversation'
          '#microsoft.graph.conversationMember': '#/components/schemas/microsoft.graph.conversationMember'
          '#microsoft.graph.aadUserConversationMember': '#/components/schemas/microsoft.graph.aadUserConversationMember'
          '#microsoft.graph.anonymousGuestConversationMember': '#/components/schemas/microsoft.graph.anonymousGuestConversationMember'
          '#microsoft.graph.azureCommunicationServicesUserConversationMember': '#/components/schemas/microsoft.graph.azureCommunicationServicesUserConversationMember'
          '#microsoft.graph.microsoftAccountUserConversationMember': '#/components/schemas/microsoft.graph.microsoftAccountUserConversationMember'
          '#microsoft.graph.phoneUserConversationMember': '#/components/schemas/microsoft.graph.phoneUserConversationMember'
          '#microsoft.graph.skypeForBusinessUserConversationMember': '#/components/schemas/microsoft.graph.skypeForBusinessUserConversationMember'
          '#microsoft.graph.skypeUserConversationMember': '#/components/schemas/microsoft.graph.skypeUserConversationMember'
          '#microsoft.graph.conversationThread': '#/components/schemas/microsoft.graph.conversationThread'
          '#microsoft.graph.copilotAdmin': '#/components/schemas/microsoft.graph.copilotAdmin'
          '#microsoft.graph.copilotAdminCatalog': '#/components/schemas/microsoft.graph.copilotAdminCatalog'
          '#microsoft.graph.copilotAdminLimitedMode': '#/components/schemas/microsoft.graph.copilotAdminLimitedMode'
          '#microsoft.graph.copilotAdminSetting': '#/components/schemas/microsoft.graph.copilotAdminSetting'
          '#microsoft.graph.copilotCommunicationsRoot': '#/components/schemas/microsoft.graph.copilotCommunicationsRoot'
          '#microsoft.graph.copilotConversation': '#/components/schemas/microsoft.graph.copilotConversation'
          '#microsoft.graph.copilotConversationMessage': '#/components/schemas/microsoft.graph.copilotConversationMessage'
          '#microsoft.graph.copilotConversationRequestMessage': '#/components/schemas/microsoft.graph.copilotConversationRequestMessage'
          '#microsoft.graph.copilotConversationResponseMessage': '#/components/schemas/microsoft.graph.copilotConversationResponseMessage'
          '#microsoft.graph.copilotPackage': '#/components/schemas/microsoft.graph.copilotPackage'
          '#microsoft.graph.copilotPackageDetail': '#/components/schemas/microsoft.graph.copilotPackageDetail'
          '#microsoft.graph.copilotPeopleAdminSetting': '#/components/schemas/microsoft.graph.copilotPeopleAdminSetting'
          '#microsoft.graph.copilotPolicySetting': '#/components/schemas/microsoft.graph.copilotPolicySetting'
          '#microsoft.graph.copilotReportRoot': '#/components/schemas/microsoft.graph.copilotReportRoot'
          '#microsoft.graph.copilotSetting': '#/components/schemas/microsoft.graph.copilotSetting'
          '#microsoft.graph.correlatedIdentity': '#/components/schemas/microsoft.graph.correlatedIdentity'
          '#microsoft.graph.corsConfiguration_v2': '#/components/schemas/microsoft.graph.corsConfiguration_v2'
          '#microsoft.graph.credentialUsageSummary': '#/components/schemas/microsoft.graph.credentialUsageSummary'
          '#microsoft.graph.credentialUserRegistrationCount': '#/components/schemas/microsoft.graph.credentialUserRegistrationCount'
          '#microsoft.graph.credentialUserRegistrationDetails': '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
          '#microsoft.graph.crossTenantAccessPolicyConfigurationDefault': '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
          '#microsoft.graph.crossTenantMigrationJob': '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
          '#microsoft.graph.crossTenantMigrationTask': '#/components/schemas/microsoft.graph.crossTenantMigrationTask'
          '#microsoft.graph.customCalloutExtension': '#/components/schemas/microsoft.graph.customCalloutExtension'
          '#microsoft.graph.accessPackageAssignmentRequestWorkflowExtension': '#/components/schemas/microsoft.graph.accessPackageAssignmentRequestWorkflowExtension'
          '#microsoft.graph.accessPackageAssignmentWorkflowExtension': '#/components/schemas/microsoft.graph.accessPackageAssignmentWorkflowExtension'
          '#microsoft.graph.customAccessPackageWorkflowExtension': '#/components/schemas/microsoft.graph.customAccessPackageWorkflowExtension'
          '#microsoft.graph.customAuthenticationExtension': '#/components/schemas/microsoft.graph.customAuthenticationExtension'
          '#microsoft.graph.onAttributeCollectionStartCustomExtension': '#/components/schemas/microsoft.graph.onAttributeCollectionStartCustomExtension'
          '#microsoft.graph.onAttributeCollectionSubmitCustomExtension': '#/components/schemas/microsoft.graph.onAttributeCollectionSubmitCustomExtension'
          '#microsoft.graph.onOtpSendCustomExtension': '#/components/schemas/microsoft.graph.onOtpSendCustomExtension'
          '#microsoft.graph.onPasswordSubmitCustomExtension': '#/components/schemas/microsoft.graph.onPasswordSubmitCustomExtension'
          '#microsoft.graph.onTokenIssuanceStartCustomExtension': '#/components/schemas/microsoft.graph.onTokenIssuanceStartCustomExtension'
          '#microsoft.graph.onVerifiedIdClaimValidationCustomExtension': '#/components/schemas/microsoft.graph.onVerifiedIdClaimValidationCustomExtension'
          '#microsoft.graph.identityGovernance.customTaskExtension': '#/components/schemas/microsoft.graph.identityGovernance.customTaskExtension'
          '#microsoft.graph.customClaimsPolicy': '#/components/schemas/microsoft.graph.customClaimsPolicy'
          '#microsoft.graph.customDataProvidedResourceFile': '#/components/schemas/microsoft.graph.customDataProvidedResourceFile'
          '#microsoft.graph.customDataProvidedResourceUploadSession': '#/components/schemas/microsoft.graph.customDataProvidedResourceUploadSession'
          '#microsoft.graph.customDataProvidedResourceAccessReviewUploadSession': '#/components/schemas/microsoft.graph.customDataProvidedResourceAccessReviewUploadSession'
          '#microsoft.graph.customExtensionHandler': '#/components/schemas/microsoft.graph.customExtensionHandler'
          '#microsoft.graph.customExtensionStageSetting': '#/components/schemas/microsoft.graph.customExtensionStageSetting'
          '#microsoft.graph.customSecurityAttributeAudit': '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
          '#microsoft.graph.customSecurityAttributeDefinition': '#/components/schemas/microsoft.graph.customSecurityAttributeDefinition'
          '#microsoft.graph.dailyUserInsightMetricsRoot': '#/components/schemas/microsoft.graph.dailyUserInsightMetricsRoot'
          '#microsoft.graph.dataClassificationService': '#/components/schemas/microsoft.graph.dataClassificationService'
          '#microsoft.graph.dataCollectionInfo': '#/components/schemas/microsoft.graph.dataCollectionInfo'
          '#microsoft.graph.dataLossPreventionPolicy': '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
          '#microsoft.graph.dataPolicyOperation': '#/components/schemas/microsoft.graph.dataPolicyOperation'
          '#microsoft.graph.dataSecurityAndGovernance': '#/components/schemas/microsoft.graph.dataSecurityAndGovernance'
          '#microsoft.graph.tenantDataSecurityAndGovernance': '#/components/schemas/microsoft.graph.tenantDataSecurityAndGovernance'
[...]
