{
  "Get-MgSecurityAlert+[NoContext]+ShouldGetACollectionOfSecurityAlerts+$GET+https://graph.microsoft.com/v1.0/security/alerts+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://graph.microsoft.com/v1.0/security/alerts",
      "Content": null,
      "Headers": {
        "SdkVersion": ["graph-powershell/1.9.4", "Graph-dotnet-1.25.1"],
        "FeatureFlag": ["00000047"],
        "Authorization": ["[Filtered]"]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      },
      "Content": "{\n\"value\":[\n{\n\"activityGroupName\":\"activityGroupName-value\",\n\"assignedTo\":\"assignedTo-value\",\n\"azureSubscriptionId\":\"azureSubscriptionId-value\",\n\"azureTenantId\":\"azureTenantId-value\",\n\"category\":\"category-value\",\n\"closedDateTime\":\"datetime-value\"\n}\n]\n}"
    }
  }
}
