# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
parameters:
  - name: BuildAgent
    default: 1es-windows-ps-compute
    displayName: Build Agent
  - name: Test
    type: boolean
    default: true
  - name: Pack
    type: boolean
    default: true
  - name: Sign
    type: boolean
    default: true

variables:
  BuildAgent: ${{ parameters.BuildAgent }}
  GitUserEmail: "GraphTooling@service.microsoft.com"
  GitUserName: "Microsoft Graph DevX Tooling"

pool: $(BuildAgent)

trigger:
  branches:
    include:
      - main
      - dev
pr:
  branches:
    include:
      - main
      - dev

jobs:
  - job: MsGraphPsSdkCiBuild
    displayName: Microsoft Graph PowerShell SDK CI Build
    timeoutInMinutes: 840
    steps:
      - script: |
          git submodule update --init --recursive
      - template: ./common-templates/install-tools.yml
      - template: ./common-templates/security-pre-checks.yml
      
      - template: ./generation-templates/check-openapi-errors.yml

      - template: ./generation-templates/authentication-module.yml
        parameters:
          Test: ${{ parameters.Test }}
          Pack: ${{ parameters.Pack }}
          Sign: ${{ parameters.Sign }}

      - template: ./generation-templates/workload-modules.yml
        parameters:
          Test: ${{ parameters.Test }}
          Pack: ${{ parameters.Pack }}
          Sign: ${{ parameters.Sign }}

      - template: ./generation-templates/meta-module.yml
        parameters:
          Test: ${{ parameters.Test }}
          Pack: ${{ parameters.Pack }}
          Sign: ${{ parameters.Sign }}

      - template: ./common-templates/guardian-analyzer.yml

      - ${{ if and(eq(parameters.Pack, true), eq(parameters.Sign, true)) }}:
          - template: ./common-templates/esrp/codesign-nuget.yml
            parameters:
              FolderPath: "$(Build.ArtifactStagingDirectory)"
              Pattern: "Microsoft.Graph*.nupkg"

          - task: PublishBuildArtifacts@1
            displayName: Publish Module Artifacts
            inputs:
              PathtoPublish: "$(Build.ArtifactStagingDirectory)"
              ArtifactName: "drop"
              publishLocation: "Container"

          - task: NuGetCommand@2
            displayName: Publish NuGet to feed
            inputs:
              command: push
              packagesToPush: $(Build.ArtifactStagingDirectory)/**/Microsoft.Graph.*.nupkg
              publishVstsFeed: $(PROJECT_NAME)/$(FEED_NAME)
              allowPackageConflicts: true

      - template: ./common-templates/security-post-checks.yml
