# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
variables:
    BRANCH: 'weeklyOpenApiDocsDownload'
    GitUserEmail: 'GraphTooling@service.microsoft.com'
    GitUserName: 'Microsoft Graph DevX Tooling'
    BaseBranch: 'dev'
    MODULE_NAME: 'Authentication'
    MODULE_PATH: 'src\Authentication\Authentication\'
    MODULE_DLL_PATTERN: 'Microsoft.Graph.Authentication.dll'
    MODULE_PREFIX: 'Microsoft.Graph'
    WORKLOAD_MODULE_PATH: 'src\beta\'
    GRAPH_VERSION: 'beta'
    AUTH_MODULE_PATH: 'src\Authentication\Authentication\bin\'
    AUTH_MODULE_DLL_PATTERN: 'Microsoft.Graph.Authentication.dll'
  
pool:
    vmImage: 'windows-latest'
trigger:
    branches:
      include:
      - master
    paths:
      include:
      - src/Authentication/*

stages:
- stage: DownloadOpenApiDocs
  jobs:
  - job: DownloadOpenAPiDocs
    steps:
    - template: ./download-openapidocs.yml

- stage: GenerateAuthModules
  jobs:
  - template: ./generate-auth-module.yml
    
- stage: GenerateBetaModules
  jobs:
  - template: ./generate-beta-modules.yml

- stage: GenerateRollUpModule
  jobs:
  - template: ./generate-beta-modules.yml