# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

parameters:
  - name: BuildAgent
    displayName: Build Agent
    default: Dev
  - name: BaseBranch
    displayName: Base Branch
    default: migration-tool-publisher
  - name: GenerationBranch
    displayName: Generation branch
    default: v2/generation
  - name: SkipForceRefresh
    displayName: Skip Force Refresh
    default: false
    type: boolean
  - name: Test
    type: boolean
    default: true
  - name: Pack
    type: boolean
    default: true
  - name: Sign
    type: boolean
    default: true
  - name: CreatePullRequest
    type: boolean
    default: true
  - name: SkipOpenAPIDocsDownload
    displayName: Skip OpenAPI Docs Download
    default: false
    type: boolean

variables:
  Branch: "WeeklyPreviewRefresh"
  BaseBranch: ${{ parameters.BaseBranch }}
  GenerationBranch: ${{ parameters.GenerationBranch }}
  BuildAgent: ${{ parameters.BuildAgent }}
  SkipForceRefresh: ${{ parameters.SkipForceRefresh }}

pool: $(BuildAgent)
trigger: none
pr: none
schedules:
  - cron: "0 12 * * TUE" # Run every Tuesday at noon UTC
    displayName: "PS SDK Preview Weekly Refresh"
    branches:
      include:
        - migration-tool-publisher
    always: true
jobs:
#   - job: RefreshOpenAPIDocuments
#     displayName: Refresh OpenApi documents
#     timeoutInMinutes: 240
#     pool: $(BuildAgent)
#     steps:
#       - template: common-templates/download-openapi-docs.yml
#         parameters:
#           Branch: $(Branch)
#           BaseBranch: $(BaseBranch)
#           BuildAgent: $(BuildAgent)
#           SkipForceRefresh: $(SkipForceRefresh)
#           SkipOpenAPIDocsDownload: ${{ parameters.SkipOpenAPIDocsDownload }}

  - job: MsGraphPsSdkWeeklyGeneration
    # dependsOn: RefreshOpenAPIDocuments
    # displayName: Microsoft Graph PowerShell SDK Generation
    # condition: and(succeeded(), ne(dependencies.RefreshOpenAPIDocuments.outputs['OpenAPIDocDiff.ModulesWithChanges'], ''))
    # timeoutInMinutes: 840
    # variables:
    #   WeeklyBranch: $[ dependencies.RefreshOpenAPIDocuments.outputs['ComputeBranch.WeeklyBranch'] ]
    steps:
      # - template: ./common-templates/checkout.yml
      #   parameters:
      #     TargetBranch: $(WeeklyBranch)
      # - template: ./common-templates/install-tools.yml
      # - template: ./common-templates/security-pre-checks.yml
      # - template: ./generation-templates/authentication-module.yml
      #   parameters:
      #     Test: ${{ parameters.Test }}
      #     Pack: ${{ parameters.Pack }}
      #     Sign: ${{ parameters.Sign }}
      # - template: ./generation-templates/workload-modules.yml
      #   parameters:
      #     Test: ${{ parameters.Test }}
      #     Pack: ${{ parameters.Pack }}
      #     Sign: ${{ parameters.Sign }}
      # - template: ./generation-templates/meta-module.yml
      #   parameters:
      #     Test: ${{ parameters.Test }}
      #     Pack: ${{ parameters.Pack }}
      #     Sign: ${{ parameters.Sign }}
      - template: ./generation-templates/migration-tool.yml
        parameters:
          Test: ${{ parameters.Test }}
          Pack: ${{ parameters.Pack }}
          Sign: ${{ parameters.Sign }}
      # - ${{ if and(eq(parameters.Pack, true), eq(parameters.Sign, true)) }}:
      #     - template: ./common-templates/esrp/codesign-nuget.yml
      #       parameters:
      #         FolderPath: "$(Build.ArtifactStagingDirectory)"
      #         Pattern: "Microsoft.Graph*.nupkg"
      #     - task: PublishBuildArtifacts@1
      #       displayName: Publish Module Artifacts
      #       inputs:
      #         PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      #         ArtifactName: "drop"
      #         publishLocation: "Container"
      #     - task: NuGetCommand@2
      #       displayName: Publish NuGet to preview feed
      #       inputs:
      #         command: push
      #         packagesToPush: $(Build.ArtifactStagingDirectory)/**/Microsoft.Graph.*.nupkg
      #         publishVstsFeed: $(PROJECT_NAME)/$(PREVIEW_FEED_NAME)
      #         allowPackageConflicts: true
      # - template: ./generation-templates/generate-command-metadata.yml
      # - template: ./common-templates/security-post-checks.yml
      # - ${{ if eq(parameters.CreatePullRequest, true) }}:
      #     - template: common-templates/create-pr.yml
      #       parameters:
      #         BaseBranch: $(BaseBranch)
      #         TargetBranch: $(WeeklyBranch)
      #         Title: "[v2] Weekly OpenApiDocs Refresh"
      #         Body: "This pull request was automatically created by Azure Pipelines. **Important** Check for unexpected deletions or changes in this PR."
      # # Push SDK artifacts to generation branch.
      # - task: PowerShell@2
      #   name: "ComputeGenerationBranch"
      #   displayName: "Compute weekly generation branch name"
      #   inputs:
      #     targetType: inline
      #     script: |
      #       $branch = "{0}/{1}" -f "WeeklyGeneration", (Get-Date -Format yyyyMMddHHmm)
      #       Write-Host "##vso[task.setvariable variable=WeeklyGenerationBranch;isOutput=true]$branch"
      # - task: Bash@3
      #   displayName: "Create weekly generation branch"
      #   inputs:
      #     targetType: inline
      #     script: |
      #       git status
      #       git branch $(ComputeGenerationBranch.WeeklyGenerationBranch)
      #       git checkout $(ComputeGenerationBranch.WeeklyGenerationBranch)
      #       git status
      # - task: Bash@3
      #   displayName: Commit Generated SDK artifacts
      #   enabled: true
      #   env:
      #     GITHUB_TOKEN: $(GITHUB_TOKEN)
      #   inputs:
      #     targetType: inline
      #     script: |
      #       git add .
      #       git commit -m 'Adds generated module artifacts'
      #       git push "https://$(GITHUB_TOKEN)@github.com/microsoftgraph/msgraph-sdk-powershell.git"
      #       git status
      # - ${{ if eq(parameters.CreatePullRequest, true) }}:
      #     - template: common-templates/create-pr.yml
      #       parameters:
      #         BaseBranch: $(GenerationBranch)
      #         TargetBranch: $(ComputeGenerationBranch.WeeklyGenerationBranch)
      #         Title: "[v2] Weekly Generated Module Artifacts"
      #         Body: "This pull request was automatically created by Azure Pipelines. **Important** Check for unexpected deletions or changes in this PR."
