# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

parameters:
  - name: BuildAgent
    displayName: Build Agent
    default: 1es-windows-ps-compute
  - name: BaseBranch
    displayName: Base Branch
    default: features/2.0
  - name: SkipForceRefresh
    displayName: Skip Force Refresh
    default: false
    type: boolean
  - name: Test
    type: boolean
    default: true
  - name: Pack
    type: boolean
    default: true
  - name: Sign
    type: boolean
    default: true

variables:
  Branch: "WeeklyPreviewRefresh"
  BaseBranch: ${{ parameters.BaseBranch }}
  BuildAgent: ${{ parameters.BuildAgent }}
  SkipForceRefresh: ${{ parameters.SkipForceRefresh }}

pool: $(BuildAgent)
trigger: none
pr: none
schedules:
  - cron: "0 12 * * TUE" # Run every Tuesday at noon UTC
    displayName: "PS SDK Preview Weekly Refresh"
    branches:
      include:
        - features/2.0
    always: true
jobs:
  - job: RefreshOpenAPIDocuments
    displayName: Refresh OpenApi documents
    timeoutInMinutes: 240
    pool: $(BuildAgent)
    steps:
      - template: common-templates/download-openapi-docs.yml
        parameters:
          Branch: $(Branch)
          BaseBranch: $(BaseBranch)
          BuildAgent: $(BuildAgent)
          SkipForceRefresh: $(SkipForceRefresh)

  - job: MsGraphPsSdkWeeklyGeneration
    dependsOn: RefreshOpenAPIDocuments
    displayName: Microsoft Graph PowerShell SDK Generation
    condition: succeeded()
    timeoutInMinutes: 840
    variables:
      WeeklyBranch: $[ dependencies.RefreshOpenAPIDocuments.outputs['ComputeBranch.WeeklyBranch'] ]
    steps:
      - template: ./common-templates/checkout.yml
        parameters:
          TargetBranch: $(WeeklyBranch)
      - template: ./common-templates/install-tools.yml
      - template: ./common-templates/security-pre-checks.yml
      - template: ./generation-templates/authentication-module.yml
        parameters:
          Test: ${{ parameters.Test }}
          Pack: ${{ parameters.Pack }}
          Sign: ${{ parameters.Sign }}
      - template: ./generation-templates/workload-modules.yml
        parameters:
          Test: ${{ parameters.Test }}
          Pack: ${{ parameters.Pack }}
          Sign: ${{ parameters.Sign }}
      - template: ./generation-templates/meta-module.yml
        parameters:
          Test: ${{ parameters.Test }}
          Pack: ${{ parameters.Pack }}
          Sign: ${{ parameters.Sign }}
      - ${{ if and(eq(parameters.Pack, true), eq(parameters.Sign, true)) }}:
          - template: ./common-templates/esrp/codesign-nuget.yml
            parameters:
              FolderPath: "$(Build.ArtifactStagingDirectory)"
              Pattern: "Microsoft.Graph*.nupkg"
          - task: PublishBuildArtifacts@1
            displayName: Publish Module Artifacts
            inputs:
              PathtoPublish: "$(Build.ArtifactStagingDirectory)"
              ArtifactName: "drop"
              publishLocation: "Container"
          - task: NuGetCommand@2
            displayName: Publish NuGet to preview feed
            inputs:
              command: push
              packagesToPush: $(Build.ArtifactStagingDirectory)/**/Microsoft.Graph.*.nupkg
              publishVstsFeed: $(PROJECT_NAME)/$(PREVIEW_FEED_NAME)
              allowPackageConflicts: true
      - template: ./generation-templates/generate-command-metadata.yml
      - template: ./common-templates/security-post-checks.yml
