# This Yaml Document has been converted by ESAI Yaml Pipeline Conversion Tool.
# Please make sure to check all the converted content, it is your team's responsibility to make sure that the pipeline is still valid and functions as expected.
# This pipeline will be extended to the OneESPT template
# If you are not using the E+D shared hosted pool with windows-2022, replace the pool section with your hosted pool, os, and image name. If you are using a Linux image, you must specify an additional windows image for SDL: https://eng.ms/docs/cloud-ai-platform/devdiv/one-engineering-system-1es/1es-docs/1es-pipeline-templates/features/sdlanalysis/overview#how-to-specify-a-windows-pool-for-the-sdl-source-analysis-stage
# The Task 'PublishBuildArtifacts@1' has been converted to an output named 'Publish Module Artifacts' in the templateContext section.
# The Task 'NuGetCommand@2' has been converted to an output named 'Publish NuGet to feed' in the templateContext section.
# Output added to job "MsGraphPsSdkWeeklyGeneration" with YAML conditionals extracted using AI. Review this expression against the originating file for correctness.
# Output added to job "MsGraphPsSdkWeeklyGeneration" with YAML conditionals extracted using AI. Review this expression against the originating file for correctness.
name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
parameters:
- name: BuildAgent
  displayName: Build Agent
  default: 1es-windows-ps-compute-m
- name: BaseBranch
  displayName: Base Branch
  default: main
- name: SkipOpenAPIDocsDownload
  displayName: Skip OpenAPI Docs Download (also skips branch creation and PR)
  default: false
  type: boolean
- name: Test
  type: boolean
  default: true
- name: Pack
  type: boolean
  default: true
- name: Sign
  type: boolean
  default: true
- name: CreatePullRequest
  type: boolean
  default: true
- name: SpecifyModules
  displayName: Specify Modules to Generate
  default: false
  type: boolean
- name: ModulesToGenerate
  displayName: Modules To Generate
  default: Insert Module Names Here separated by space, e.g., Users_v1.0 Users_beta  
  type: string

variables:
  Branch: "WeeklyApiRefresh"
  BaseBranch: ${{ parameters.BaseBranch }}
  BuildAgent: ${{ parameters.BuildAgent }}
trigger: none
pr: none
schedules:
- cron: "0 12 * * TUE"
  displayName: "PS SDK Weekly Refresh"
  branches:
    include:
    - main
  always: true
resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool: $(BuildAgent)
    sdl:
      binskim:
        enabled: false
        justificationForDisabling: "Binskim keeps on crushing and failing the weekly build pipeline. Disabling it for now because we are unable to publish the artifacts to internal feeds."
      credscan:
        suppressionsFile: $(Build.SourcesDirectory)/.azure-pipelines/config/credscan/credscan-suppressions.json
      policheck:
        exclusionFile: $(Build.SourcesDirectory)/.azure-pipelines/config/policheck/policheck-exclusions.xml
    customBuildTags:
    - ES365AIMigrationTooling
    stages:
    - stage: stage
      jobs:
      - job: RefreshOpenAPIDocuments
        displayName: Refresh OpenApi documents
        condition: eq(${{ parameters.SkipOpenAPIDocsDownload }}, false)
        timeoutInMinutes: 1200
        steps:
        - template: .azure-pipelines/common-templates/download-openapi-docs.yml@self
          parameters:
            Branch: $(Branch)
            BaseBranch: $(BaseBranch)
            BuildAgent: $(BuildAgent)
            SkipOpenAPIDocsDownload: ${{ parameters.SkipOpenAPIDocsDownload }}

      - job: SetUpModuleMatrix
        displayName: Setup Module JSON for Matrix
        ${{ if eq(parameters.SkipOpenAPIDocsDownload, false) }}:
          dependsOn: RefreshOpenAPIDocuments
          condition: and(succeeded(), ne(dependencies.RefreshOpenAPIDocuments.outputs['OpenAPIDocDiff.ModulesWithChanges'], ''))
        ${{ else }}:
          condition: succeeded()
        timeoutInMinutes: 840
        variables:
          ${{ if eq(parameters.SkipOpenAPIDocsDownload, false) }}:
            WeeklyBranch: $[ dependencies.RefreshOpenAPIDocuments.outputs['ComputeBranch.WeeklyBranch'] ]
            ModulesToGenerate: $[ dependencies.RefreshOpenAPIDocuments.outputs['OpenAPIDocDiff.ModulesWithChanges'] ]
          ${{ else }}:
            WeeklyBranch: ''
            ModulesToGenerate: ${{ parameters.ModulesToGenerate }}
        steps:
        - task: PowerShell@2
          name: CreateMatrixJson
          displayName: Create Matrix Json
          inputs:
            targetType: inline
            pwsh: true
            script: |
              & "$(System.DefaultWorkingDirectory)/tools/utilities/CreateGenerationMatrix.ps1" -ModuleNames "$(ModulesToGenerate)" -OutputVariable "matrixJson"

      - job: MsGraphPsSdkWeeklyGeneration
        ${{ if eq(parameters.SkipOpenAPIDocsDownload, false) }}:
          dependsOn:
            - SetUpModuleMatrix
            - RefreshOpenAPIDocuments
        ${{ else }}:
          dependsOn: SetUpModuleMatrix
        displayName: Microsoft Graph PowerShell SDK Generation
        condition: succeeded()
        timeoutInMinutes: 840
        variables:
          ${{ if eq(parameters.SkipOpenAPIDocsDownload, false) }}:
            WeeklyBranch: $[ dependencies.RefreshOpenAPIDocuments.outputs['ComputeBranch.WeeklyBranch'] ]
          ${{ else }}:
            WeeklyBranch: ''
          ModulesMatrix: $[ dependencies.SetUpModuleMatrix.outputs['CreateMatrixJson.matrixJson'] ]
        templateContext:
          outputs:
          - ${{ if and(eq(parameters.Pack, true), eq(parameters.Sign, true)) }}:
            - output: pipelineArtifact
              displayName: 'Publish Module Artifacts'
              targetPath: "$(Build.ArtifactStagingDirectory)"
              artifactName: "$(moduleName)_$(moduleVersion)_drop"
              publishLocation: "Container"
        strategy:
          matrix: $[ dependencies.SetUpModuleMatrix.outputs['CreateMatrixJson.matrixJson'] ]
        steps:
        - template: .azure-pipelines/common-templates/checkout.yml@self
          parameters:
            TargetBranch: $(WeeklyBranch)
        - template: .azure-pipelines/common-templates/install-tools.yml@self
        - template: .azure-pipelines/common-templates/security-pre-checks.yml@self
        - template: .azure-pipelines/generation-templates/authentication-module.yml@self
          parameters:
            Test: ${{ parameters.Test }}
            Pack: ${{ parameters.Pack }}
            Sign: ${{ parameters.Sign }}
        - template: .azure-pipelines/generation-templates/individual-workload-module.yml@self
          parameters:
            Test: ${{ parameters.Test }}
            Pack: ${{ parameters.Pack }}
            Sign: ${{ parameters.Sign }}
            ModuleName: $(moduleName)
            ModuleVersion: $(moduleVersion)
        - template: .azure-pipelines/common-templates/security-post-checks.yml@self

      - job: CreatePullRequest
        displayName: Create Pull Request for all changes
        dependsOn:
          - MsGraphPsSdkWeeklyGeneration
          - RefreshOpenAPIDocuments
        condition: and(succeeded(), eq(dependencies.MsGraphPsSdkWeeklyGeneration.result, 'Succeeded'), eq(${{ parameters.CreatePullRequest }}, true), eq(${{ parameters.SkipOpenAPIDocsDownload }}, false))
        variables:
          WeeklyBranch: $[ dependencies.RefreshOpenAPIDocuments.outputs['ComputeBranch.WeeklyBranch'] ]
        steps:
        - template: .azure-pipelines/common-templates/checkout.yml@self
          parameters:
            TargetBranch: $(WeeklyBranch)
        - template: .azure-pipelines/common-templates/create-pr.yml@self
          parameters:
            BaseBranch: $(BaseBranch)
            TargetBranch: $(WeeklyBranch)
            Title: "[v2] Weekly OpenApiDocs Refresh"
            Body: "This pull request was automatically created by Azure Pipelines. **Important** Check for unexpected deletions or changes in this PR."