# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

parameters:
  - name: BuildAgent
    displayName: Build Agent
    default: 1es-windows-ps-compute
  - name: BaseBranch
    displayName: Base Branch
    default: dev
  - name: SkipForceRefresh
    displayName: Skip Force Refresh
    default: false
    type: boolean

variables:
  Branch: "WeeklyOpenApiDocsDownload"
  BaseBranch: ${{ parameters.BaseBranch }}
  BuildAgent: ${{ parameters.BuildAgent }}
  SkipForceRefresh: ${{ parameters.SkipForceRefresh }}

pool: $(BuildAgent)
trigger: none
pr: none
schedules:
  - cron: "0 12 * * WED" # Run every Wednesday at noon UTC
    displayName: "Weekly PS SDK generation"
    branches:
      include:
        - dev
    always: true

stages:
  - stage: DownloadOpenAPIDocs
    displayName: Download OpenAPI docs
    jobs:
      - template: common-templates/download-openapi-docs.yml
        parameters:
          Branch: $(Branch)
          BaseBranch: $(BaseBranch)
          BuildAgent: $(BuildAgent)
          SkipForceRefresh: $(SkipForceRefresh)

  - stage: GenerateServiceModules
    displayName: Generate service modules
    condition: succeeded()
    jobs:
      - template: generation-templates/generate-service-modules.yml
        parameters:
          Branch: $[ stageDependencies.DownloadOpenAPIDocs.GetLatestDocs.outputs['ComputeBranch.WeeklyBranch'] ]
          ModulesToGenerate: $[ stageDependencies.DownloadOpenAPIDocs.GetLatestDocs.outputs['OpenAPIDocDiff.ModulesWithChanges'] ]
          AuthModulePath: "src/Authentication/Authentication"
          ServiceModulePath: "src/"
          ModulePrefix: "Microsoft.Graph"
          BaseBranch: $(BaseBranch)
          EnableSigning: false
          PublishToFeed: false
          GenerateCommandMetadata: true
          GenerateHelpDocs: true
          GeneratePullRequest: true
